<div class="row mb-2">
  <div class="col-12 booking-card animated bounceInDown">
    <div class="card" [ngClass]="{'ribbon-box':request?.ResponseStatusBL === 'BOOKED'}">
      <div *ngIf="request?.ResponseStatusBL === 'BOOKED'" class="ribbon ribbon-top-left"><span>Booked</span></div>
      <div class="card-header quote-header">
        <div class="row">
          <div class="card-title m-0 card-header-left pr-0 col">
            <div class="row">
              <div class="pr-0 col-12"
                [ngClass]="request?.ResponseStatusBL === 'BOOKED' && request?.BookingNo?'ml-5':'ml-2'">
                <p class="card-text special-request-text">
                  <ng-container *ngIf="request?.ResponseID > 0">
                    <ng-container *ngIf="request?.ResponseStatusBL === 'BOOKED' && request?.BookingNo">
                      <h5 class="m-0 pointer" (click)="viewBookingDetails()">{{request?.BookingNo}}</h5>
                      <span class="card-text">
                        Booked by {{request?.BookedBy}} on
                        {{request?.BookingDate | date : "d MMM, yyyy"}}
                        {{request?.BookingDate | date : "H:mm"}} (GMT)
                      </span>
                    </ng-container>
                    <ng-container *ngIf="request?.ResponseStatusBL !== 'BOOKED'">
                      <h5 class="m-0" [ngClass]="{'pointer':request?.BookingNo}"
                        (click)="request?.BookingNo?viewBookingDetails():null">
                        {{request?.BookingNo?request?.BookingNo:request?.ProviderResponseNo}}</h5>
                      <span class="card-text">
                        {{request?.ResponseBy}} on
                        {{request?.ResponseOn | date : "d MMM, yyyy"}}
                        {{request?.ResponseOn | date : "H:mm"}} (GMT)
                      </span>
                    </ng-container>
                  </ng-container>
                  <span *ngIf="request?.ResponseStatusBL !== 'BOOKED'" class="special-request-badge">
                    <span class="badge badge-pill mt-0 {{getStatusColor()}} d-inline-block ml-2">
                      {{request?.ResponseStatus}}
                    </span>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="booking-card-status text-right card-header-right pl-0 col">
            <div class="actions-rates mt-2">
              <ng-container *ngIf="isResponseEnabled && !isMobile">
                <span class="actions-btn d-flex">
                  <a [ngClass]="!isResponseEnabled?'disabled-link':'update-price'" href=" javascript:;"
                    class="update-price hvr-icon-forward ml-2" *ngIf="isResponseEnabled && request?.TotalAmount > 0"
                    (click)="!isResponseEnabled?null:openSeaDialog()">
                    <object *ngIf="isMobile" class="icon-size-18 align-top mr-3"
                      data="../../../../../assets/images/icons/icon-update-quote.svg" type="image/svg+xml"></object>
                    <span *ngIf="!isMobile" class="link-hover-1"> Update Quote </span>
                    
                  </a>
                  <!-- < !-- <a [ngClass]="!isResponseEnabled?'disabled-link':'discard'" href="javascript:;"
                    class="discard hvr-icon-forward ml-2" (click)="!isResponseEnabled?null:cancelBooking()">
                    <span class="link-hover-1"> Discard </span>
                  </a> -- > -->
                </span>

                <!-- <a [ngClass]="!isResponseEnabled?'disabled-link':'discard'" href="javascript:;"
                  class="ml-2 hvr-icon-forward" (click)="!isResponseEnabled?null:cancelBooking()">
                  Discard
                  <i class="fa fa-angle-right hvr-icon"></i>
                </a>
                <a [ngClass]="!isResponseEnabled?'disabled-link':'update-price'" href=" javascript:;"
                  class="hvr-icon-forward ml-2" (click)="!isResponseEnabled?null:openSeaDialog()">
                  Update Price
                  <i class="fa fa-angle-right hvr-icon"></i>
                </a> -->
              </ng-container>
              <div class="d-flex align-items-center justify-content-end h-100">
                <a style="text-decoration: underline !important;" [disableTooltip]="isMobile" ngbTooltip="Messaging"
                  id="msg1" container="body" class="message hvr-icon-forward pointer ml-2" href="javascript:;"
                  (click)="openChat()">
                  <span class="m-0">
                    <ng-container>
                      <!-- <img class="icon-size-18 align-top" style="margin-top: 1px;"
                          *ngIf="!request?.ProviderUnReadMsgCount || request?.ProviderUnReadMsgCount === 0"
                          src="../../../../../assets/images/icons/icon-chat-line.svg" alt="chat" />
                        <img class="align-top" *ngIf="request?.ProviderUnReadMsgCount > 0"
                          src="../../../../../assets/images/icons/icon-chat-line-red.svg" alt="chat" /> -->
                      <object id="svg1" class="icon-size-18 align-top" style="margin-top: 1px;"
                        *ngIf="!request?.ProviderUnReadMsgCount || request?.ProviderUnReadMsgCount === 0"
                        data="../../../../../assets/images/icons/icon-chat-line.svg" type="image/svg+xml"></object>
                      <object id="svg2" *ngIf="request?.ProviderUnReadMsgCount > 0"
                        data="../../../../../assets/images/icons/icon-chat-line-red.svg" type="image/svg+xml"></object>
                    </ng-container>
                  </span>
                </a>
              </div>
              <span *ngIf="isMobile" class="actions-btn d-flex ml-3" ngbDropdown #headerDropMenu="ngbDropdown" placement="bottom-right"
                style="bottom:2px">
                <a href="javascript:;" class="quotes hvr-icon-forward ml-2 menu-ic" id="quoteAction" ngbDropdownToggle>
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <div ngbDropdownMenu aria-labelledby="quoteAction" class="animated fadeIn userDropdown mobile-dropdown-menu">
                  <div class="d-flex flex-column">
                    <ng-container *ngIf="isRequestEnabled">
                      <span class="actions-btn d-flex flex-row ml-2 pointer mt-1" *ngIf="isResponseEnabled && request?.TotalAmount > 0"
                          (click)="!isResponseEnabled?null:openSeaDialog()">
                        <a class="new-quotes pull-right hvr-icon-forward">
                          <object class="icon-size-18 mt-1 align-top" data="../../../../../assets/images/icons/icon-update-quote.svg"
                            type="image/svg+xml"></object>
                        </a>                        
                        <span class="ml-2 sm-grey-txt">Update Quote</span>
                      </span>
                      <hr *ngIf="isRequestEnabled" class="hr-solid mb-1">
                      <span class="actions-btn d-flex flex-row ml-2 pointer mt-1" (click)="!isResponseEnabled?null:cancelBooking()">
                        <a class="discard pull-right hvr-icon-forward">                          
                          <object class="icon-size-18 mt-1 align-top"
                            data="../../../../../assets/images/icons/icon-discard-quote.svg" type="image/svg+xml"></object>
                        </a>                        
                        <span class="ml-2 sm-grey-txt">Discard Quote</span>
                      </span>
                      <!-- <hr *ngIf="isRequestEnabled" class="hr-solid"> -->
                    </ng-container>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-12 border-right">
            <ng-container>
              <div class="row">
                <div class="col-7 right-arrow">
                  <div class="booking-detail d-flex flex-column justify-content-between" style="height: 100%;">
                    <div class="from_container">
                      <div class="booking-detail-title mb-3"
                        *ngIf="request?.ShippingModeCode?.toLowerCase() !== 'warehouse'">From</div>
                      <div class="booking-detail-title mb-3"
                        *ngIf="request?.ShippingModeCode?.toLowerCase() === 'warehouse'">Detail</div>
                      <h4 *ngIf="request?.Origin?.PolType?.toUpperCase() === 'GROUND'" class="text-truncate m-0"
                        [placement]="'left'" container="body" [disableTooltip]="isMobile"
                        ngbTooltip="{{request?.Origin?.PolInputAddress}}">
                        <div class="flag-icon-20-14 pull-left mr-2 ">
                          <img
                            src="../../../../../assets/images/flags/4x3/{{request?.Origin?.PolCountryCode | lowercase}}.svg"
                            alt="" class="border">
                        </div>
                        {{request?.Origin?.PolCityName}}
                        <span class="PolCode">({{request?.Origin?.PolCode}})</span>
                        <small class="name">{{request?.Origin?.PolName}}</small>
                      </h4>
                      <h4
                        *ngIf="request?.Origin?.PolType?.toUpperCase() !== 'GROUND' && request?.ShippingModeCode !== 'WAREHOUSE' "
                        class="text-truncate m-0" [placement]="'left'" container="body" [disableTooltip]="isMobile"
                        ngbTooltip="{{request?.Origin?.PolCode}}">
                        <div class="flag-icon-20-14 pull-left mr-2">
                          <img class="border"
                            src="../../../../../assets/images/flags/4x3/{{request?.Origin?.PolCountryCode | lowercase}}.svg"
                            alt="">
                        </div>
                        {{request?.Origin?.PolCode}}
                      </h4>
                      <small
                        *ngIf="request?.Origin?.PolType?.toUpperCase() === 'TRUCK' && request?.ShippingModeCode !== 'WAREHOUSE'"
                        class="name">{{request?.Origin?.PolName}}</small>
                      <h4 *ngIf="request?.ShippingModeCode === 'WAREHOUSE'" [disableTooltip]="isMobile"
                        [ngbTooltip]="request?.WarehouseDet?.WHName" [placement]="'left'" container="body">
                        <div class="flag-icon-20-14 pull-left mr-2">
                          <img
                            src="../../../../../assets/images/flags/4x3/{{request?.WarehouseDet?.WHCountryCode | lowercase}}.svg"
                            alt="" class="border">
                        </div>
                        {{request?.WarehouseDet?.WHName}}
                      </h4>
                      <div class="text-truncate m-0" style="max-width: 10rem;"
                        *ngIf="request?.Origin?.PolType?.toUpperCase() !== 'GROUND'">
                        <small *ngIf="request?.Origin?.PolType?.toUpperCase() !== 'GROUND'" [disableTooltip]="isMobile"
                          [ngbTooltip]="(request?.Origin?.PolType?.toUpperCase() === 'TRUCK')?request?.Origin?.PolInputAddress:request?.Origin?.PolName"
                          [placement]="'left'" container="body">{{(request?.Origin?.PolType?.toUpperCase() ===
                          'TRUCK')?request?.Origin?.PolInputAddress:request?.Origin?.PolName}}
                        </small>
                      </div>
                      <small class="mt-1"
                        *ngIf="request?.ShippingModeCode !== 'WAREHOUSE' && request?.ShippingModeCode !== 'ASSAYER' && request?.ShippingModeCode !== 'INSURANCE'"
                        [disableTooltip]="isMobile" [ngbTooltip]="request?.Origin?.PolCountry" [placement]="'left'"
                        container="body">{{request?.Origin?.PolCountry}}</small>
                    </div>
                    <!-- Date -->
                    <ul class="list-group list-group-flush mt-3">
                      <li class="list-group-item d-flex align-items-center" [ngClass]="{'mb-1':!isMobile}"
                        *ngIf="request?.ShippingModeCode?.toLowerCase() !== 'warehouse' && request?.ShippingModeCode !== 'AIR' && request?.VesselDetail?.DepartureDate">
                        <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                          class="icon-size-14 mr-2"> {{request?.VesselDetail?.DepartureDate | date : "d MMM yyyy"}}
                      </li>
                      <li class="list-group-item d-flex align-items-center" [ngClass]="{'mt-4':isMobile}"
                        *ngIf="request?.ShippingModeCode?.toLowerCase() === 'warehouse' && request?.WarehouseDet?.StoredFromUtc">
                        <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                          class="icon-size-14 mr-2"> {{request?.WarehouseDet?.StoredFromUtc | date : "d MMM, yyyy"}} -
                        {{request?.WarehouseDet?.StoredUntilUtc
                        | date : "d MMM, yyyy"}}
                      </li>
                      <li class="list-group-item d-flex align-items-center" [ngClass]="{'mt-4':isMobile}"
                        *ngIf="request?.ShippingModeCode?.toLowerCase() === 'warehouse' && request?.WarehouseDet?.WHMinimumLeaseTerm">
                        <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                          class="icon-size-14 mr-2"> Lease Term: {{request?.WarehouseDet?.WHMinimumLeaseTerm}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-5 col-sm-5" [ngClass]="{'pr-0 pl-0':isMobile}"
                  *ngIf="request?.ShippingModeCode?.toLowerCase() !== 'warehouse'">
                  <div class="booking-detail d-flex flex-column justify-content-between" style="height: 100%;">
                    <div class="to_container">
                      <div class="booking-detail-title mb-3">To</div>
                      <h4 class="m-0" *ngIf="request?.Destination?.PodType?.toUpperCase() === 'GROUND'"
                        [placement]="'left'" container="body" [disableTooltip]="isMobile"
                        ngbTooltip="{{request?.Destination?.PodInputAddress}}">
                        <div class="flag-icon-20-14 pull-left mr-2 ">
                          <img
                            src="../../../../../assets/images/flags/4x3/{{request?.Destination?.PodCountryCode | lowercase}}.svg"
                            alt="" class="border">
                        </div>
                        <!-- {{request?.Destination?.PodInputAddress}} -->
                        {{request?.Destination?.PodCityName}}
                        <!-- Dubai -->
                        <span class="PodCode">({{request?.Destination?.PodCode}})</span>
                        <small class="name">{{request?.Destination?.PodName}}</small>
                        <!-- <br> -->
                      </h4>
                      <h4 class="m-0" *ngIf="request?.Destination?.PodType?.toUpperCase() !== 'GROUND'"
                        [placement]="'left'" container="body" [disableTooltip]="isMobile"
                        ngbTooltip="{{request?.Destination?.PodCode}}">
                        <div class="flag-icon-20-14 pull-left mr-2"
                          *ngIf="request?.ShippingModeCode?.toLowerCase() !== 'warehouse'">
                          <img
                            src="../../../../../assets/images/flags/4x3/{{request?.Destination?.PodCountryCode | lowercase}}.svg"
                            alt="" class="border">
                        </div>
                        {{request?.Destination?.PodCode}}
                      </h4>
                      <small *ngIf="request?.Destination?.PodType?.toUpperCase() === 'TRUCK'"
                        class="name">{{request?.Destination?.PodName}}</small>
                      <div class="text-truncate m-0" style="max-width: 10rem;"
                        *ngIf="request?.Destination?.PodType?.toUpperCase() !== 'GROUND'">
                        <small *ngIf="request?.Destination?.PodType?.toUpperCase() !== 'GROUND'"
                          [disableTooltip]="isMobile"
                          [ngbTooltip]="(request?.Destination?.PodType?.toUpperCase() === 'TRUCK')?request?.Destination?.PodInputAddress:request?.Destination?.PodName"
                          [placement]="'left'" container="body">{{(request?.Destination?.PodType ===
                          'TRUCK')?request?.Destination?.PodInputAddress:request?.Destination?.PodName}}
                        </small>
                      </div>
                      <small class="mt-1" [disableTooltip]="isMobile" [ngbTooltip]="request?.Destination?.PodCountry"
                        [placement]="'left'" container="body">{{request?.Destination?.PodCountry}}</small>
                    </div>
                    <ul class="list-group list-group-flush mt-3">
                      <li *ngIf="request?.ShippingModeCode !== 'AIR' && etaDate?.length > 1"
                        class="list-group-item d-flex align-items-center" [ngClass]="isMobile?'mt-0':'mb-1'">
                        <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                          class="icon-size-14 mr-2"> {{etaDate | date : "d MMM, yyyy"}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 booking-detail" *ngIf="request?.ShippingModeCode === 'AIR' && false">
                  <div class="row">
                    <div class="col-7">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex align-items-center" [ngClass]="{'mt-4':isMobile}">
                          <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                            class="icon-size-14 mr-2"> {{request?.AirDet?.PickupFrom | date : "d MMM, yyyy"}}
                        </li>
                      </ul>
                    </div>
                    <div class="col-5">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex align-items-center" [ngClass]="{'mt-4':isMobile}">
                          <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                            class="icon-size-14 mr-2"> {{request?.AirDet?.PickupTo | date : "d MMM yyyy"}}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>


            <app-via-port *ngIf="request?.ShippingModeCode === 'AIR' && request?.AirDet?.JsonPortVia?.length > 1"
              [viaPorts]="request?.AirDet?.JsonPortVia"></app-via-port>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-12 border-right">
            <div class="booking-detail pl-2">
              <ng-template #customerSection>
                <div>
                  <div class="booking-detail-title mb-2">
                    Customer
                  </div>
                  <h4 class="m-0 customer d-flex">
                    <div class="provider-logo mr-2">
                      <img *ngIf="request?.Customer?.CustomerImage" src="{{getImage(request?.Customer?.CustomerImage)}}"
                        alt="">
                      <img *ngIf="!request?.Customer?.CustomerImage"
                        src="../../../../../assets/images/icons/Icons_User.svg" alt="logo" />
                    </div>
                    <span style="display: flex;flex-direction: column;">
                      <span>{{request?.Customer.CustomerName}}</span>
                      <small *ngIf="request?.Customer?.HMCustomerNature"
                        class="hm-enterprise-customer">{{request?.Customer?.HMCustomerNature}}</small>
                    </span>
                  </h4>
                </div>
              </ng-template>
              <!-- Customer ki patti -->
              <ng-container *ngIf="!isMobile" [ngTemplateOutlet]="customerSection"></ng-container>
              <div class="row mt-3"
                *ngIf="searchMode === 'air-lcl' || searchMode === 'sea-fcl' || searchMode === 'sea-lcl' ||searchMode === 'truck-ftl' || request?.Carrier?.CarrierImage || (request?.ShippingModeCode !== 'WAREHOUSE' && request?.TotalContainerQty)">
                <div class="col-8">
                  <ng-container *ngIf="request?.Carrier?.CarrierName && request?.Carrier?.CarrierName?.length > 0">
                    <div class="booking-detail-title mb-2">
                      {{request?.ShippingModeCode === 'AIR'?'Airline':'Shipping Line'}}
                    </div>
                    <h4 class="m-0 provider d-flex align-items-center">
                      <div class="provider-logo mr-2">
                        <img src="{{getImage(request?.Carrier?.CarrierImage)}}" alt="">
                      </div>
                      {{request?.Carrier?.CarrierName}}
                    </h4>
                  </ng-container>
                </div>
                <div class="provider-cargo pr-0 actions-btn">
                  <div class="booking-detail-title mb-2 ">
                    Cargo
                  </div>
                  <h4 class="m-0 provider d-flex align-items-center">
                    <ng-container *ngIf="request?.ShippingModeCode === 'AIR'">
                      {{request?.AirDet?.ChargeableWeight | number: '1.0-0'}} KG
                    </ng-container>
                    <ng-container *ngIf="searchMode === 'sea-lcl'">
                      {{totalCBM | number: '1.0-0'}} CBM
                    </ng-container>
                    <ng-container *ngIf="searchMode === 'sea-fcl' || searchMode === 'truck-ftl'">
                      {{request?.ContainerLoad}} x {{request?.ProviderRespondedQty > 0
                      ?request?.ProviderRespondedQty:request?.TotalContainerQty}}
                    </ng-container>
                    <ng-container *ngIf="request?.ShippingModeCode === 'WAREHOUSE'">
                      {{searchCriteria?.CONT}} {{searchCriteria?.CONT> 1?'Containers':'Container'}}
                    </ng-container>
                  </h4>
                  <a class="ports-link view-details" href="javascript:;" (click)="openCargoDetails()">
                    <span class="link-hover-1">View Details</span>
                  </a>
                </div>
                <div *ngIf="request?.AirDet?.PriceBasisType?.length > 1"
                  class="provider-cargo col-{{(request?.ContainerLoad === 'FCL') ? '4' : 12}}"
                  [ngClass]="(request?.ContainerLoad === 'FCL') ? 'pl-0' : ''">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-12 mobile-order-0">
            <div class="row custom-mobile-row" [ngClass]="{'rev-row':isMobile && !request?.TotalAmount}">
              <div class="booking-detail customer-section"
                [ngClass]="isMobile && !request?.TotalAmount?'mb-3 col-12':'col-6'">
                <ng-container *ngIf="isMobile" [ngTemplateOutlet]="customerSection"></ng-container>
                <div class="d-flex flex-column" class="mt-2" *ngIf="isMobile && request?.TotalAmount > 0">
                  <ng-container [ngTemplateOutlet]="hmCommComp"></ng-container>
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-6"
                [ngClass]="{'d-flex justify-content-center align-items-center':!request?.TotalAmount}">
                <div class="booking-detail">
                  <h4 class="SpecialRequest">
                    <ng-container *ngIf="request?.TotalAmount">
                      <ng-container *ngIf="false">
                        <div class="d-flex flex-column mt-2">
                          <div class="d-flex flex-row">
                            <span class="ml-0"
                              [ngClass]="{'line-through':request?.ResponseStatusBL === 'REQUESTED_AGAIN'}">
                              {{request?.CurrencyCode}} {{request?.TotalAmount | number: '1.2-2'}}
                            </span>
                            <span class="price-container">
                              <span class="mr-0 sub-price-container">
                                <span class="ml-1 mr-1">|</span>
                                <a (click)="getContainerDetails()" [placement]="'top'" container="body"
                                  [disableTooltip]="isMobile" ngbTooltip="View Price Details" class="price-details mb-0"
                                  href="javascript:;">Details</a>
                              </span>
                            </span>
                          </div>
                          <span style="color:#d32020 !important"
                            *ngIf="request?.TotalAmount && !request?.PerUnitRate && request?.ProviderRespondedQty > 0 && request?.ProviderRespondedQty < request.TotalContainerQty"
                            class="rate-applicable mt-1">Rate applicable for {{request?.ProviderRespondedQty}}
                            containers</span>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="request?.PerUnitRate">
                        <span class="ml-0 price-container" style="width: 100%;">
                          <span class="ml-0 mr-1 mb-1 mt-1 d-flex flex-column" style="width: 100%;">
                            <ng-container>
                              <b [ngStyle]="{'text-decoration':request?.ResponseStatusBL === 'REQUESTED_AGAIN'?'line-through':'none'}"
                                *ngIf="request?.ContainerLoad === 'FCL' || request?.ContainerLoad === 'FTL'"
                                class="per-price"><span
                                  class="ml-0 mr-1 d-flex flex-column booking-detail-title">{{request?.CurrencyCode}}</span>
                                {{request?.PerUnitRate | number: '1.0-0'}}</b>
                              <b [ngStyle]="{'text-decoration':request?.ResponseStatusBL === 'REQUESTED_AGAIN'?'line-through':'none'}"
                                *ngIf="request?.ContainerLoad === 'LCL'" class="per-price">
                                {{request?.PerUnitRate | number: '1.2-2'}}</b>
                            </ng-container>
                            <span style="font-size:0.65rem;align-self: flex-end;margin-top: -0.25rem;"
                              class="ml-0 ml-1 booking-detail-title">
                              / {{request?.UnitRateType | titlecase}}
                            </span>
                          </span>
                          <span class="ml-0 mt-3 d-flex flex-column align-self-end actions-btn">
                            <span [ngClass]="{'line-through':request?.ResponseStatusBL === 'REQUESTED_AGAIN'}"><span
                                class="booking-detail-title" style="text-transform: capitalize;">Total
                                {{request?.CurrencyCode}}</span> {{request?.TotalAmount | number: '1.0-0'}}</span>
                            <a (click)="getContainerDetails()" [placement]="'top'" container="body"
                              [disableTooltip]="isMobile" ngbTooltip="View Price Details"
                              class="price-details mt-1 price-breakdown" href="javascript:;">
                              <span class="link-hover-2">Price Breakdown</span>
                            </a>
                          </span>
                          <span
                            *ngIf="request?.ProviderRespondedQty > 0 && request?.ProviderRespondedQty < request.TotalContainerQty"
                            class="rate-applicable mt-1">Rate applicable for {{request?.ProviderRespondedQty}}
                            containers</span>
                        </span>
                      </ng-container>
                      <ng-container *ngIf="!request?.PerUnitRate">
                        <span class="ml-0 price-container" style="width: 100%;">
                          <span class="ml-0 mr-1 mb-1 mt-1 d-flex flex-column" style="width: 100%;">
                            <ng-container>
                              <b [ngStyle]="{'text-decoration':request?.ResponseStatusBL === 'REQUESTED_AGAIN'?'line-through':'none'}"
                                class="per-price">
                                <span class="ml-0 mr-1 d-flex flex-column booking-detail-title">
                                  {{request?.CurrencyCode}}
                                </span>
                                <ng-container
                                  *ngIf="request?.ContainerLoad === 'FCL' || request?.ContainerLoad === 'FTL';else unitRate">
                                  {{request?.TotalAmount | number: '1.0-0'}}
                                </ng-container>
                                <ng-template #unitRate>
                                  {{request?.TotalAmount | number: '1.2-2'}}
                                </ng-template>

                              </b>
                            </ng-container>
                            <span style="font-size:0.65rem;align-self: flex-end;margin-top: -0.25rem;"
                              class="ml-0 ml-1 booking-detail-title">
                              {{'Total' | titlecase}}
                            </span>
                          </span>
                          <span class="ml-0 mb-3 d-flex flex-column align-self-end actions-btn">
                            <a (click)="getContainerDetails()" [placement]="'top'" container="body"
                              [disableTooltip]="isMobile" ngbTooltip="View Price Details"
                              class="price-details mt-1 price-breakdown" href="javascript:;">
                              <span class="link-hover-1">Price Breakdown</span>
                            </a>
                          </span>
                          <span
                            *ngIf="request?.ProviderRespondedQty > 0 && request?.ProviderRespondedQty < request.TotalContainerQty"
                            class="rate-applicable mt-1">Rate applicable for {{request?.ProviderRespondedQty}}
                            containers</span>
                        </span>
                      </ng-container>
                    </ng-container>
                    <div class="actions-btn" *ngIf="!request?.TotalAmount && isRequestEnabled">
                      <a (click)="onAwaitClick()" href="javascript:;"
                        class="await-quotes hvr-icon-forward awaiting-rate">
                        <span class="link-hover-1 m-0">Provide your Quote</span>
                      </a>
                    </div>
                    <ng-template #specialPTooltip>
                      {{request?.CurrencyCode}} {{request?.TotalAmount | number: '1.2-2'}}
                    </ng-template>
                  </h4>


                </div>

              </div>
              <ng-template #hmCommComp>
                <span class="d-flex pointer" [disableTooltip]="isMobile"
                  ngbTooltip="{{request?.CurrencyCode}} {{request?.HMCommissionValue | number : '1.0-0'}} ( {{request?.HMCommissionRate | number : '1.0-0'}}% of booking value )">
                  <span class="grey-sm-txt">HM Comm.</span>
                  <img src="../../../../../assets/images/icons/icon_info.svg" class="icon-size-12 ml-1" />
                </span>
                <small style="white-space: unset !important" class="grey-sm-txt" *ngIf="isMobile">{{request?.CurrencyCode}} {{request?.HMCommissionValue |
                  number : '1.0-0'}} ( {{request?.HMCommissionRate | number :
                  '1.0-0'}}% of booking value )</small>
              </ng-template>
              <div class="col-xl-12 col-lg-12 col-md-12 "
                [ngClass]="[isMobile && !request?.TotalAmount?'':!request?.TotalAmount?'d-flex flex-row justify-content-center':'d-flex flex-row justify-content-between', isMobile && !request?.TotalAmount?'col-6 mobile-r':'col-12']">
                <div class="d-flex mt-1" *ngIf="request?.HMCommissionRate > 0" [ngClass]="{'d-flex':!isMobile}">
                  <ng-container *ngIf="isMobile && !request?.TotalAmount" [ngTemplateOutlet]="hmCommComp"></ng-container>
                  
                </div>
                <div class="d-flex flex-row" *ngIf="!isMobile && isResponseEnabled">
                  <span class="actions-btn-child d-flex">
                    <a [ngClass]="!isResponseEnabled?'disabled-link':'discard'" href="javascript:;"
                      class="discard hvr-icon-forward ml-2" (click)="!isResponseEnabled?null:cancelBooking()">
                      <span class="link-hover-1 grey-sm-txt">Discard Quote</span> <img
                        src="../../../../../assets/images/icons/icon_close_red.svg" class="icon-size-12 ml-1" />
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer"
        *ngIf="(request?.ShippingModeCode === 'SEA' && request?.VesselDetail) || request?.ValidFrom">
        <div style="overflow: hidden;">
          <div class="d-flex mobile-r"
            [ngClass]="!(request?.ShippingModeCode === 'SEA' && request?.VesselDetail) && request?.ValidFrom? 'justify-content-end':'justify-content-between'">
            <div *ngIf="(request?.ShippingModeCode === 'SEA' && request?.VesselDetail)"
              class="d-flex justify-content-start">
              <a class="d-flex sch-btn hvr-icon-down align-self-end mb-1" href="javascript:;"
                (click)="getVesselSchedule(request.RequestID)">
                <span class="route-ship mr-1">
                  <img class="mb-1" src="../../../../../assets/images/icons/animted-ship.svg" alt="">
                </span>
                <span class="sch-text mt-1">Vessel Schedule</span>
                <i *ngIf="!showSchedule" class="fa fa-angle-down hvr-icon ml-1 mt-2"></i>
                <i *ngIf="showSchedule" class="fa fa-angle-up hvr-icon ml-1 mt-2"></i>
              </a>
            </div>
            <div *ngIf="request?.ValidFrom" class="d-flex justify-content-end align-items-center footer-actions">
              <!-- <div class="d-flex align-items-center ml-2 pointer view-detail" (click)="openPaymentTerms('view')"
                [disableTooltip]="isMobile" ngbTooltip="Price History">
                <img alt="" class="icon-size-16 mr-1" src="../../../../../assets/images/icons/icon-terms-and-conditions.svg" />
                <span style="font-size: 0.75rem !important;" class="grey-sm-txt ml-1 mr-2 link-hover-1">
                  Payment Terms
                </span>
                <span style="font-size: 1.1rem;" class="grey-sm-txt mt-1 mr-2">|</span>
              </div> -->
              <!-- this section Hide from mobile -->
              <div *ngIf="!isMobile" class="d-flex align-items-center ml-2 pointer view-detail" (click)="openPriceLog()"
                [disableTooltip]="isMobile" ngbTooltip="Price History">
                <img alt="" class="icon-size-16 mr-1" src="../../../../../assets/images/icons/icon-price-history.svg" />
                <span style="font-size: 0.75rem !important;" class="grey-sm-txt ml-1 mr-2 link-hover-1">
                  Price History
                </span>
                <span style="font-size: 1.1rem;" class="grey-sm-txt mt-1 mr-2">|</span>
              </div>
              <span class="d-flex sch-btn hvr-icon-down align-self-end" href="javascript:;">
                <span [placement]="'top'" container="body" [disableTooltip]="isMobile"
                  ngbTooltip="Quote Valid From {{ request?.ValidFrom | date: 'dd MMM, yyyy'}} to {{request?.ValidTo | date: 'dd MMM, yyyy'}}"
                  class="sch-text mt-1 mb-1">
                  Validity:
                  <img alt="" class="icon-size-12 ml-1 mb-1 mr-1 opacity-3"
                    src="../../../../../assets/images/icons/Icons_Calendar_blue.svg">
                  {{ request?.ValidFrom | date: 'dd MMM, yyyy'}}
                  <span class="ml-1 mr-1">-</span>
                  {{request?.ValidTo | date: 'dd MMM, yyyy'}}
                </span>
              </span>

              <!-- this section show on mobile -->
              <div *ngIf="isMobile" class="d-flex align-items-center ml-2 pointer view-detail" (click)="openPriceLog()"
                [disableTooltip]="isMobile" ngbTooltip="Price History">
                <img alt="" class="icon-size-16 mr-1" src="../../../../../assets/images/icons/icon-price-history.svg" />
                <span style="font-size: 0.75rem !important;" class="grey-sm-txt ml-1 mr-2 link-hover-1">
                  Price History
                </span>
              </div>
            </div>
          </div>
          <app-schedule-card-v2 class="animated bounceInDown col-12" *ngIf="showSchedule && requestSchedule"
            [requestSchedule]="requestSchedule">
          </app-schedule-card-v2>
          <app-loader-main *ngIf="showSchedule && !requestSchedule"></app-loader-main>
        </div>
      </div>
    </div>
  </div>
</div>