<span *ngIf="tipMsg?.length > 0" class="new-feature-alert" [ngbPopover]="popContent" popoverTitle="New Feature"
  triggers="mouseenter:mouseleave" container="body" placement="{{placement}}">
  <span class="badgeN">N</span>
  <ng-template #popContent>
    <span>
      <i class="icon-size-24 fa fa-bullhorn new-alert-msg"></i> {{tipMsg}}
    </span>
  </ng-template>
</span>

<span *ngIf="!tipMsg || tipMsg?.length < 2" class="new-feature-alert ml-2">
  <span class="badgeN">N</span>
</span>