@import "../../../../assets/scss/_variables";

$badge-color: #f78a18;
$badge-icon-color: #f78a18;
$Popover-bg-color: $primary-grey;
$Popover-font-color: $primary-grey;

// UPDATED 'bubble' 'N' Animated New Feature Added style TJ
.new-feature-alert {
  // font-weight: $font-weight-light;
  font-size: $font-size-base;
  font-family: $font-proxima;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
  margin-top: 0.3125rem;
  height: 1rem;
  color: $white-color;
  .badgeN {
    padding: 0.282rem 0.7em !important;
    margin-left: 0.5rem;
    // animation: ripplebadge 2s cubic-bezier(0.42, 0.76, 0.47, 0.26) infinite;
    background-color: $badge-color !important;
    border: 0px solid $badge-color;
    line-height: 0.7rem !important;
    color: $white-color !important;
    min-width: auto !important;
    min-height: auto !important;
    font-size: 0.7rem !important;
    font-weight: 100 !important;
    margin-right: 0rem !important;
    border-radius: 2rem;
  }
  // .popover {
  //   width: 300px;
  //   &-header {
  //     color: $Popover-font-color !important;
  //   }
  //   &-body {
  //     padding: 0.75rem 1rem;
  //     i {
  //       font-size: 1.2rem;
  //       color: $badge-icon-color;
  //     }
  //   }
  // }
}

.new-alert-msg {
  font-size: 1.2rem;
  color: $badge-icon-color !important;
}
// @keyframes ripplebadge {
//   0% {
//     box-shadow: 0 0 0 0 rgba(255, 166, 74, 0.2), 0 0 0 0.05em rgba(255, 166, 74, 0.2),
//       0 0 0 0.35em rgba(255, 166, 74, 0.2), 0 0 0 0.75em rgba(255, 166, 74, 0.3);
//   }
//   100% {
//     box-shadow: 0 0 0 0.025em rgba(255, 166, 74, 0.2), 0 0 0 0.065em rgba(255, 166, 74, 0.2),
//       0 0 0em 0.45em rgba(255, 255, 255, 0), 0 0 0 0.55em rgba(70, 173, 169, 0);
//   }
// }
