<section class="ratesHistory">
  <div class="modal-header">
    <h4 class="m-0">Your Rates History</h4>
    <a class="pointer crossIcon" (click)="closeModal()">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
    </a>
  </div>

  <div class="modal-body bg-light">
    <div class="row">
      <div class="col-12 table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Date / Time</th>
              <th>File Name</th>
              <th>User Name</th>
              <th>City / Country</th>
              <!-- <th>Ip Address</th> -->
              <th>Status</th>
              <th>Download</th>
            </tr>
          </thead>
          <tbody>
            <tr class="ng-star-inserted" *ngFor="let _sheet of _sheetList">
              <!-- <tr class="ng-star-inserted" *ngFor="let upload of data"> -->
              <td>{{ _sheet?.DocumentUploadDate | date:'dd MMM, yyyy HH:mm'}}</td>
              <td class="file-name">
                <img src="../../../../assets/images/icons/{{getIcon(_sheet.DocumentUploadedFileType)}}.svg"
                  alt='protected' class="icon-size-20 pointer mr-1" (click)="downloadDoc(_sheet?.DocumentFile)" />
                <div class="text-truncate mt-1" ngbTooltip="{{_sheet.DocumentFileName}}">{{_sheet?.DocumentFileName}}</div>
              </td>
              <td>{{_sheet?.UploadBy}}</td>
              <td class="city-country">
                <div class="flag-container">
                  <img type="image/svg+xml"
                    src="../../../../assets/images/flags/4x3/{{_sheet.CountryCode | lowercase}}.svg">
                </div>
                <div>
                  {{(_sheet?.CityName)?_sheet?.CityName+', ':''}}{{_sheet?.CountryName}}
                </div>
              </td>
              <!-- <td>{{_sheet?.IpAddress}}</td> -->
              <td style="display: flex;justify-content: center;">
                <button
                  class="btn rounded-circle icon-size-8 p-0 roundedBtn btn-{{_sheet.IsApproved ? 'success' : 'danger'}}"
                  placement="right-bottom" ngbTooltip="{{_sheet.DocumentLastStatus}}">
                </button>
              </td>
              <td>
                <!-- <img src="../../../../assets/images/icons/{{getIcon(_sheet.DocumentUploadedFileType)}}.svg" -->
                <img src="../../../../assets/images/icons/download-solid.svg"
                  alt='protected' [placement]="'top'" ngbTooltip="Download" class="icon-size-20 pointer" (click)="downloadDoc(_sheet?.DocumentFile)" />
                <!-- {{_sheet?.DocumentFile}} -->
              </td>
            </tr>

            <!-- <tr *ngIf="(partners | searchPartner: searchUser)?.length===0 ">
              <td colspan="4">
                <p>No partners found for the search criteria</p>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <p class=" m-0 text-center p-2" *ngIf="!history">No Results Found</p> -->
</section>