<div class="view-price-log">
  <div class="user-modal animated fadeIn">
    <div class="modal-header">
      <h5 class="user-modal-title mb-2 mt-2">
        [Log] {{isRV2?data?.request?.RequestNo:data?.booking?.HashMoveBookingNum}}
      </h5>
      <a class="pointer crossIcon">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16"
          (click)="_activeModal.close()" />
      </a>
    </div>
    <div class="modal-body">
      <div class="list">
        <ng-scrollbar class="history-scroll" style="height:415px;max-height:415px;">
          <ul class="list-group">


            <li class="list-group-item d-flex flex-column" *ngFor="let log of logs; let i = index;">
              <label class="mb-0">{{log?.CompanyName?log?.CompanyName + ' - ':''}}{{log?.LogStatusTitle}}</label>
              <small>By {{log?.UserName}} on {{log?.CreatedDateTime | date: 'dd MMM, yyyy HH:mm a'}} GMT
                <!-- from Dubai, UAE -->
              </small>
              <label *ngIf="log?.CarrierUpdateInfo" class="mb-0 route-status">{{log?.CarrierUpdateInfo}}</label>
              <label *ngIf="log?.CarrierName" class="ports-label mt-1 mb-0">
                <img class="flag-icon-20-12 mr-2" src="{{getCustomerImage(log?.CarrierImage)}}" alt="icon">
                {{log?.CarrierName}}
              </label>
              <label *ngIf="log?.RouteUpdateInfo" class="mb-0 route-status">{{log?.RouteUpdateInfo}}</label>
              <label *ngIf="log?.CommodityUpdateInfo" class="mb-0 route-status">{{log?.CommodityUpdateInfo}}</label>
              <div *ngIf="log?.IsRouteDetailUpdate" class="ports" style="display: flex;">
                <div style="display:flex;flex-direction:column">
                  <label class="ports-label mt-1 mb-0">
                    <img class="flag-icon-20-12 mr-2"
                      src="../../../../../assets/images/flags/4x3/{{getPortData(log, 'origin').flag}}.svg" alt="icon">
                    {{getPortData(log, 'origin').code}}
                  </label>
                  <small style="max-width: 7rem;">{{getPortData(log, 'origin').title}}</small>
                </div>
                <span class="ml-2 mr-4 mt-1">
                  <!--<i class="fa fa-angle-right hvr-icon"></i>-->-
                </span>
                <div style="display:flex;flex-direction:column">
                  <label class="ports-label mt-1 mb-0">
                    <img class="flag-icon-20-12 mr-2"
                      src="../../../../../assets/images/flags/4x3/{{getPortData(log, 'destin').flag}}.svg" alt="icon">
                    {{getPortData(log, 'destin').code}}
                  </label>
                  <small style="max-width: 7rem;">{{getPortData(log, 'destin').title}}</small>
                </div>
              </div>
              <label class="mb-0 activity" *ngIf="log?.Price > 0 ">
                <span *ngIf="!log?.PerUnitRate">{{log?.CurrencyCode}} {{log?.Price | number: '1.2-2'}}</span>
                <span *ngIf="log?.PerUnitRate">{{log?.CurrencyCode}} <b style="font-size:1.25rem">{{log?.PerUnitRate |
                    number: '1.2-2'}}</b> / {{log?.PerUnitRateType | uppercase}} ( Total {{data?.ShippingModeCode ===
                  'WAREHOUSE'? 'Booking':'Shipment'}} Charges {{log?.CurrencyCode}} {{log?.Price | number:
                  '1.2-2'}})</span>
              </label>
              <label *ngIf="log?.ScheduleUpdateInfo" class="mb-0 route-status">{{log?.ScheduleUpdateInfo}}</label>
              <small class="comments mt-1" *ngIf="log?.Comments">{{log?.Comments}}</small>
            </li>
          </ul>
        </ng-scrollbar>
      </div>
    </div>
  </div>
</div>

<!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openBackDropCustomLogClass(content)">View Log dialog</button> -->