@import "../../../../assets/scss/_variables";

$disabled-color: rgb(229, 229, 229);
$route-arrow-color: rgb(175, 175, 175);
$comments-color: $danger-color;

.view-price-log {
  .modal-header {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
  }
  .modal-body {
    padding: 0 0.2rem 0 1.3rem;

    .list {
      padding: 0rem 0.2rem 0 0.2rem;
      // max-height: 220px;
      overflow-y: auto;

      &-group {
        padding-bottom: 0;
        padding-left: 4px;
        border-left: 1px solid $disabled-color;
        margin-left: 5px;
        height: 100%;
        display: table;

        &-item {
          padding: 1.2rem 1.5rem 0.2rem 1.5rem;
          border: 0 !important;
          font-family: $font-proxima;
          margin-bottom: 1rem;

          small {
            font-size: $font-size-medium;
            color: $route-arrow-color;
          }
          .route-status {
            color: $secondary-color-dark !important;
            text-transform: none;
          }
          .activity {
            font-weight: $font-weight-mid;
            color: $secondary-color-dark !important;
          }
          .comments {
            color: $comments-color !important;
            font-weight: $font-weight-mid;                                  
            padding: 0.2rem 0;
            font-size: $font-size-medium + 0.25;

            img {
              width: 1rem;
              height: 1rem;
            }
          }
          // border-left: 0 !important;
          &::before {
            content: "";
            height: 8px;
            width: 8px;
            background: $btn-default-sky-blue;
            border-radius: 50%;
            position: absolute;
            left: -8.5px;
            top: 25px;
          }
        }
      }
    }
    label {
      font-size: $font-size-large;
      font-weight: $font-weight-normal;
      font-family: $font-proxima;
      color: $text-color-default;
      text-transform: capitalize;
    }
    .comments {
      font-family: $font-proxima;
      font-size: $font-size-medium;
      color: $pagination-text-color;
      line-height: 1.5;
      position: relative;
      padding-left: 1.5rem !important;

      &:before {
        content: url("../../../../assets/images/icons/icon-comment.svg");
        position: absolute;
        left: 0;
        top: 8px;
      }
    }
    p {
      font-size: $font-size-medium;
      font-weight: $font-weight-normal;
      font-family: $font-pragmatica;
      color: $text-color-default;
      text-align: left;
      padding-bottom: 0;
    }

    .btn-container {
      font-size: $font-size-large;
    }
  }
}
