@import "../../../../../assets/scss/_variables";
.partners {
  .new-vendor {
    font-size: $font-size-large;
    color: $secondary-color;
    font-family: $font-proxima;
    font-weight: $font-proxima-weight-semibold;
    margin-top: 0.25rem;
  }

  .vendor-search {
    input {
      background: $white-color url("../../../../../assets/images/icons/icon-search.svg") no-repeat right 15px center;
      background-size: 15px;
      outline: 0;
      box-shadow: none;
      font-family: $font-proxima;
      font-size: $font-size-medium;
      color: $color-menuheading-black;
      padding-right: 2.5rem;
      border: 1px solid $grey-border;
      width: 315px;
      height: 35px;
      padding-left: 1rem;
      &::placeholder {
        color: $place-holder-color;
        font-size: $font-size-medium;
        font-family: $font-proxima;
      }
    }
  }

  .sortby {
    .label {
      font-family: $font-proxima;
      font-size: $font-size-base;
      font-weight: $font-weight-mid;
      color: $color-topmenu;
    }
  }

  .dropdown-toggle {
    background: transparent;
    font-family: $font-proxima;
    color: $footer-border;
    border: none;
    text-transform: uppercase;
    font-size: $font-size-base;
    font-weight: $font-weight-mid;
    cursor: pointer;
  }
  .dropdown-toggle:after {
    display: none;
  }
  .icon-contact {
    svg {
      height: 1.5rem;
      width: 1.5rem;
      fill: $btn-bg-primary;
    }
  }

  .table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;

    thead {
      border: 1px solid #e5e5e5;
      background: #fff;

      th {
        font-family: $font-proxima;
        font-size: 0.875rem;
        font-weight: 400;
        color: #738593;
        border: 0;
        text-transform: uppercase;
        background: $data-table-header-bg;
        padding: 0.75rem 1.25rem;
      }
    }

    tbody {
      border: 1px solid #e5e5e5;
      border-top: 0;

      tr {
        border-bottom: 1px dashed #e5e5e5;
        -webkit-transition: 0.8s;
        transition: 0.8s;
        background: #fff;

        td {
          padding: 0.75rem 1.25rem;
          border: 0;
          vertical-align: middle;
          font-family: $font-proxima;

          .flag-container {
            float: left;
            border: 1px solid #3f5165;
            margin-right: 10px;
            display: flex;
            margin-top: 5px;

            img {
              width: 16px;
              height: 12px;
            }
          }

          .sub-detail {
            font-size: 0.8125rem;
            color: $place-holder-color;
            font-family: $font-proxima;
            display: block;
            line-height: 1;
            font-weight: $font-weight-normal;
          }

          &.shipping-line {
            color: #00a0df;
            font-weight: 500;

            img {
              max-width: 32px;
              min-width: 32px;
              max-height: 32px;
              object-fit: contain;
            }
          }
          /deep/ ngb-popover-window {
            width: 20rem;
            border: none;
            // top: 66px !important;

            .arrow {
              &:after,
              &:before {
                border-bottom-color: $white-color;
              }
            }

            .popover {
              border: 0;

              &-body {
                background: $white-color;
                box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
                // height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-radius: 4px;

                .contact-popup {
                  text-align: left;

                  a {
                    font-size: $font-size-large;
                    font-family: $font-proxima;
                    margin-bottom: 5px;
                    display: block;
                    min-width: 180px;
                    color: $dark-grey-blue;
                  }

                  p {
                    font-size: $font-size-large + 0.125rem;
                    font-family: $font-proxima;
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
   .btn-refresh {
       margin-left: 0.75rem;
       margin-top: 0.5rem;

       .icon-svg {
         svg {
           fill: $secondary-color;
           width: 1.5rem;
           height: 1.5rem;

           &:hover {
             fill: $secondary-color-dark;             
             transition: 0.8s;
             overflow: visible;
             transform: rotate(-180deg);                        
           }
         }
       }
     }
}
