<section class="partners mb-5">
  <div class="row">
    <div class="col-xl-6 col-sm-12" style="display: flex;">
      <h2>Partners</h2>
      <a class="btn-refresh" ngbTooltip="Click button to refresh page" href="javascript:void(0)"
        ng-reflect-klass="nav-link grey-placeholder" ng-reflect-ng-class="" (click)="getProviderPartnerList()">
        <i class="icon-svg icon-size-24">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
            x="0px" y="0px" viewBox="0 0 473.677 473.677" style="enable-background:new 0 0 473.677 473.677;"
            xml:space="preserve">
            <path
              d="M473.677,236.842c0-130.814-106.036-236.838-236.835-236.838C106.036,0.004,0,106.032,0,236.842  c0,130.795,106.036,236.831,236.842,236.831C367.641,473.673,473.677,367.637,473.677,236.842z" />
            <g>
              <path style="fill:#FFFFFF;"
                d="M414.449,297.547c-17.243-27.052-34.494-54.108-51.741-81.156c-2.909-4.57-9.218-4.458-12.12,0.045   c-17.374,26.966-34.756,53.936-52.133,80.902c-1.881,2.917-1.245,5.733,0.52,7.681c1.092,1.653,2.909,2.831,5.505,2.838   c9.151,0.022,18.301,0.045,27.448,0.067c-42.22,67.081-144.695,73.228-192.797,4.342c-15.407-22.06-51.86-0.995-36.293,21.304   c33.963,48.633,89.746,76.474,149.359,69.65c57.361-6.57,103.657-43.663,126.644-95.18c9.835,0.026,19.674,0.049,29.513,0.075   C413.537,308.126,417.366,302.12,414.449,297.547z" />
              <path style="fill:#FFFFFF;"
                d="M370.457,138.899c-33.97-48.633-89.75-76.478-149.366-69.65   c-57.933,6.63-104.547,44.43-127.288,96.761c-12.232-0.03-24.476-0.06-36.708-0.09c-5.187-0.015-9.02,5.987-6.099,10.561   c17.243,27.052,34.49,54.108,51.733,81.16c2.913,4.566,9.218,4.454,12.124-0.045c17.374-26.97,34.759-53.936,52.133-80.902   c1.877-2.917,1.245-5.729-0.512-7.677c-1.092-1.653-2.909-2.835-5.508-2.842c-6.847-0.015-13.694-0.034-20.545-0.049   c41.599-68.55,145.267-75.322,193.744-5.92C349.572,182.259,386.029,161.194,370.457,138.899z" />
            </g>
          </svg>
        </i>
      </a>
    </div>
    <div class="col-xl-6 col-sm-12 reports-top-btn mt-1 text-right ">
      <a class="pull-right hvr-icon-forward new-vendor" (click)="addPartner(null)" href="javascript:;">
        <span class="link-hover-secondary mr-1">Add Partner</span>
        <i class="fa fa-angle-right hvr-icon"></i>
      </a>
    </div>
  </div>
  <hr class="hr-solid mt-2">
  <div class="row mb-3">
    <div class="col-xl-6 col-sm-12 vendor-search mt-2">
      <input type="text " name="userSearch " id="" class="user-search " placeholder="search by company or location "
        [(ngModel)]="searchUser">
    </div>

    <div class="col-xl-6 col-sm-12 sortby d-flex justify-content-end align-items-center">
      <div class="btn-group" ngbDropdown>
        <button class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownBasic2" ngbDropdownToggle>
          Sort By: {{selectedFilterOpt}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <button class="dropdown-item" (click)="onOptionChange('Name')">Name</button>
          <button class="dropdown-item" (click)="onOptionChange('Date added')">Date added</button>
          <button class="dropdown-item" (click)="onOptionChange('Location')">Location</button>
        </div>
      </div>
    </div>

  </div>
  <label class="table-info-count">Showing top {{pgNum1}}-{{pgNum2}} of {{partners?.length}} records</label>
  <div class="row">
    <div class="col-12 table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Company</th>
            <th>Location</th>
            <!-- <th>Phone</th> -->
            <th>Email</th>
            <th style="min-width: 5.5rem;"></th>
            <!-- <th>Address</th> -->
          </tr>
        </thead>
        <tbody>
          <tr class="ng-star-inserted"
            *ngFor="let partner of partners | searchPartner : searchUser | paginate: userPaginationConfig">
            <td class="shipping-line d-flex">
              <img alt="" *ngIf="partner.companyLogo" src="{{getProviderImage(partner.companyLogo)}}"
                class="ml-2 mr-4 mt-1" onerror="'../../../../../favicon.ico'">
              <img alt="" *ngIf="!partner.companyLogo" src="../../../../../favicon.ico" class="ml-2 mr-4 mt-1">
              <div>{{partner.partnerName}}
                <span class="sub-detail">Added on {{partner.createdDate | date : "d MMMM y" }}</span>
              </div>
            </td>
            <td>
              <div class="flag-container" *ngIf="partner?.cityName || partner?.countryName">
                <img type="image/svg+xml"
                  src="../../../../assets/images/flags/4x3/{{partner.countryCode | lowercase}}.svg">
              </div><span class="text-truncate"><span *ngIf="partner?.cityName">{{partner.cityName}},</span><br
                  *ngIf="partner?.cityName" />
                {{partner.countryName}}
              </span>

              <span class="ml-2" *ngIf="!partner.cityName && !partner.countryName">N/A</span>
            </td>
            <!-- <td class="ml-2">
              {{partner.primaryPhone}}
            </td> -->
            <td class="ml-2">
              {{partner.primaryEmail}}
            </td>
            <!-- <td class="ml-2">
              {{partner.partnerAddress}}
            </td> -->
            <td>
              <div class="text-center">
                <a href="javascript:;" [ngbPopover]="contact" #p="ngbPopover" (document:click)="p.close()"
                  (click)="$event.stopPropagation()" [placement]="'left'">
                  <i class="icon-contact" [placement]="'left'" ngbTooltip="Contact">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000"
                      xml:space="preserve">
                      <g>
                        <path
                          d="M751,724.6l-178.5-69.5c0,0-34-13.2-47.3-26.2c-8.5-8.3-7.9-28-0.4-53.1c7.5-25.1,99-127.3,99-220.1c0-143.3-94.4-259.5-210.8-259.5c-116.4,0-210.8,116.2-210.8,259.5c0,88.9,81.6,194.8,91.6,214.1c10.1,19.3,7.6,48.6-0.3,57.5c-11.9,13.4-55.6,26.7-55.6,26.7L77.1,725.7C39.5,739.2,10,774.6,10,814.5v18.9c0,43.6,35.5,70.2,79,70.2H739c43.6,0,79-26.7,79-70.2v-18.9C818,774.6,788.6,738.1,751,724.6z M720.1,424.7h234.2c18.6,0,34.7-9.4,34.7-29.3c0-19.9-14-29.3-32.6-29.3H720.1c-18.6,0-33.6,9.4-33.6,29.3S701.5,424.7,720.1,424.7z M956.9,500.4H770.2c-18.6,0-33.7,9.4-33.7,29.3c0,19.9,15.1,29.3,33.7,29.3h185.6c18.6,0,32.6-9.4,32.6-29.3C988.4,509.8,975.5,500.4,956.9,500.4z M957.5,626.9H832.3c-18.6,0-33.6,9.4-33.6,29.3c0,19.9,15.1,29.3,33.6,29.3h124.1c18.6,0,33.6-9.4,33.6-29.3C990,636.3,976,626.9,957.5,626.9z" />
                      </g>
                    </svg>
                  </i>
                </a>
                <ng-template #contact>
                  <div class="contact-popup fadeIn animated" placement="left"
                    style="display: flex;flex-direction: column;width: 100%;">
                    <p>
                      <img src="../../../../assets/images/icons/mob-icon.svg" alt="Contact_Icon" class="icon-size-16">
                      <span align="middle">{{(partner?.primaryPhone)?partner?.primaryPhone:'Not Entered'}}</span>
                    </p>
                    <p class="mt-1">
                      <span align="middle">{{(partner?.partnerAddress)?partner?.partnerAddress:'Not Entered'}}</span>
                    </p>
                  </div>
                </ng-template>
                <div ngbDropdown [placement]="'left'" class="d-inline-block user-table-dropdown">
                  <div ngbDropdownToggle id="dropdownBasic12">
                    <img src="../../../assets/images/icons/menu.svg " alt="menu " class="icon-size-16 ">
                  </div>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic12" class="animated fadeIn" placement="left">
                    <button class="dropdown-item" (click)="addPartner(partner)">Edit</button>
                    <button class="dropdown-item text-danger" (click)="removePartner(partner?.partnerID)">Remove Partner</button>
                  </div>
                </div>
              </div>
            </td>
          </tr>

          <tr *ngIf="(partners | searchPartner: searchUser)?.length===0 ">
            <td colspan="4">
              <p>No partners found for the search criteria</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="paginationBox text-right mt-3 pull-right col-12 "
      *ngIf="partners && partners.length> userPaginationConfig.itemsPerPage">
      <pagination-controls [id]="userPaginationConfig.id" [maxSize]="maxSize" [directionLinks]="directionLinks"
        [autoHide]="autoHide" [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
        (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
  </div>
</section>