<div class=" modal-content add-customer">
  <div class="modal-header">
    <h4 class="modal-title w-100" id="modal-basic-title" [ngClass]="{'text-center': hasResults && (!searchResults.length || showInvitation)}">{{modalTitle}}
    <span class="sub-heading d-flex" *ngIf="hasResults && (!searchResults.length || showInvitation)"> Send an invite to join HashMove </span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="close(true)">
      <span aria-hidden="true"> &times;</span>
    </button>
  </div>
  <div class="modal-body pt-2 pb-2">
    <section *ngIf="!hasResults">
      <div class="form-group">
        <label>Company Location</label>
        <input type="text" class="form-control" name="location" [(ngModel)]="companyLocation"
          placeholder="Enter country">
      </div>

      <div class="form-group">
        <label>Company Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="companyName" placeholder="Enter full name">
      </div>
      <div class="search-btn form-group">
        <button class="btn btn-primary hvr-sweep-to-right" (click)="searchCustomer()"> Search </button>
      </div>
    </section>
    <section *ngIf="hasResults">
      <ng-container *ngIf="searchResults && searchResults.length">
        <div class="fancyOptionBoxes mr-4 mt-2" *ngFor="let result of searchResults">
          <div class="shipping-line d-flex">
            <input id="{{result.companyID}}" type="checkbox" [checked]="result.isChecked" (change)="result.isChecked = !result.isChecked">
            <label for="{{result.companyID}}">
              <span class="mt-2 mr-2"></span>
            </label>
            <img alt="close" src="{{getProviderImage(result.companyLogo)}}" class="ml-2 mr-4 mt-1">
            <div>{{result.companyName}}<div class="sub-detail mt-1"><img class="mr-2"
                  src="../../../../assets/images/flags/4x3/{{result.countryCode | lowercase}}.svg">{{result.cityName}},
                {{result.countryName}}</div>
            </div>
          </div>
        </div>
        <div class="search-btn form-group mt-3">
          <button class="btn btn-primary hvr-sweep-to-right" (click)="addCustomer()"> ADD CUSTOMER </button>
        </div>

        <div class="customer-link">
          <span class="d-flex justify-content-center">Customer not found ?</span>
          <button class="send-invite hvr-icon-forward d-flex justify-content-center pointer" [disabled]="true" (click)="sendInvite()">
            <span class="link-hover-secondary mr-2">Send Invite</span>
            <i class="fa fa-angle-right hvr-icon mt-1"></i>
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="!searchResults.length || showInvitation">
        <div class="form-group">
          <label>Company Name</label>
          <input type="text" class="form-control" name="companyName" [(ngModel)]="companyName"
            placeholder="Enter country">
        </div>

        <div class="form-group">
          <label>Contact Person</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="contactPerson" placeholder="Full name">
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" name="companyEmail" [(ngModel)]="companyEmail" placeholder="Email">
        </div>
        <div class="search-btn form-group">
          <button class="btn btn-primary hvr-sweep-to-right" [disabled]="true" (click)="sendInvite()"> Send Invite </button>
        </div>
      </ng-container>

    </section>
  </div>
</div>