<Section class="dashboard" *ngIf="providerInfo">
  <!-- row -->
  <div class="row welcomeSection ">
    <div class="welcome-title col-12 d-flex">
      <h2>Hey {{providerInfo?.CompanyName}}, Welcome<span *ngIf="providerInfo?.LoginRank > 1"> Back</span>!
      </h2>

      <a class="btn-refresh" ngbTooltip="Click button to refresh page" href="javascript:void(0)"
        ng-reflect-klass="nav-link grey-placeholder" ng-reflect-ng-class="" (click)="refreshDasboardData()">
        <i class="icon-svg icon-size-24">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
            x="0px" y="0px" viewBox="0 0 473.677 473.677" style="enable-background:new 0 0 473.677 473.677;"
            xml:space="preserve">
            <path
              d="M473.677,236.842c0-130.814-106.036-236.838-236.835-236.838C106.036,0.004,0,106.032,0,236.842  c0,130.795,106.036,236.831,236.842,236.831C367.641,473.673,473.677,367.637,473.677,236.842z" />
            <g>
              <path style="fill:#FFFFFF;"
                d="M414.449,297.547c-17.243-27.052-34.494-54.108-51.741-81.156c-2.909-4.57-9.218-4.458-12.12,0.045   c-17.374,26.966-34.756,53.936-52.133,80.902c-1.881,2.917-1.245,5.733,0.52,7.681c1.092,1.653,2.909,2.831,5.505,2.838   c9.151,0.022,18.301,0.045,27.448,0.067c-42.22,67.081-144.695,73.228-192.797,4.342c-15.407-22.06-51.86-0.995-36.293,21.304   c33.963,48.633,89.746,76.474,149.359,69.65c57.361-6.57,103.657-43.663,126.644-95.18c9.835,0.026,19.674,0.049,29.513,0.075   C413.537,308.126,417.366,302.12,414.449,297.547z" />
              <path style="fill:#FFFFFF;"
                d="M370.457,138.899c-33.97-48.633-89.75-76.478-149.366-69.65   c-57.933,6.63-104.547,44.43-127.288,96.761c-12.232-0.03-24.476-0.06-36.708-0.09c-5.187-0.015-9.02,5.987-6.099,10.561   c17.243,27.052,34.49,54.108,51.733,81.16c2.913,4.566,9.218,4.454,12.124-0.045c17.374-26.97,34.759-53.936,52.133-80.902   c1.877-2.917,1.245-5.729-0.512-7.677c-1.092-1.653-2.909-2.835-5.508-2.842c-6.847-0.015-13.694-0.034-20.545-0.049   c41.599-68.55,145.267-75.322,193.744-5.92C349.572,182.259,386.029,161.194,370.457,138.899z" />
            </g>
          </svg>
        </i>
      </a>

    </div>
    <div class="col-12 d-flex">
      <p class="provider-info d-flex pull-left" *ngIf="providerInfo?.LoginRank > 1">
        Last logged in {{providerInfo?.LastLoginDate | date : "d MMM, yyyy"}} {{providerInfo?.LastLoginDate | date :
        "H:mm"}} (GMT)
      </p>
    </div>
    <!-- future working -->
    <div class="newbooking col-4" *ngIf="false">
      <div ngbDropdown class="dropdown pull-right">
        <div class="pointer" id="bookingMode" ngbDropdownToggle>
          <span class="title">Make a new Booking</span>
        </div>
        <div aria-labelledby="bookingMode" class="sortFilter dropdown-menu" ngbDropdownMenu x-placement="bottom-left">

          <ul class="list-group">
            <li class="list-group-item pointer">
              <span><img class="icon-size-24 mr-3" src="../../../../../assets/images/icons/icons_ship_blue.svg">SEA
                FREIGHT</span>
            </li>
            <li class="list-group-item pointer">
              <span><img class="icon-size-24 mr-3"
                  src="../../../../../assets/images/icons/Icons_Cargo_Plane_blue.svg">AIR FREIGHT</span>
            </li>
            <li class="list-group-item pointer">
              <span><img class="icon-size-24 mr-3"
                  src="../../../../../assets/images/icons/icon_warehouse_blue.svg">WAREHOUSE</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <!-- Booking Summary -->
  <div class="titleSection d-flex justify-content-between">
    <h5 class="m-0">Overview</h5>
    <!-- Dont Delete This/ temporarily hidden (HM-10736) -->
    <!-- <div ngbDropdown class="dropdown">
      <div class="pointer" id="sortByYear" ngbDropdownToggle>
        <span>{{selectedYear}}</span>
      </div>
      <div aria-labelledby="sortByYear" class="sortFilter dropdown-menu" ngbDropdownMenu x-placement="bottom-left">
        <ul class="list-group">
          <li *ngFor="let yItem of bookingYears" class="list-group-item pointer" (click)="onYearSelect(yItem)">
            <span>{{yItem?.BookingYear}}</span>
          </li>
        </ul>
      </div>
    </div> -->
  </div>

  <section class="bookingSummary mt-3">
    <div class="row">
      <div class="summarySection col-12 c-pointer" (click)="toCustomers()">
        <div class="summaryTitle">
          <h5><img src="../../../../../assets/images/icons/icon_user02.svg" class="icon-size-24 mr-3"> Total Customers
          </h5>
        </div>
        <div class="summaryQuantity pt-2 pb-2">
          <div class="rates">
            <span>{{customerCount}}</span>
          </div>
        </div>
      </div>

      <!-- Dont Delete This/ temporarily hidden (HM-10736) -->
      <!-- <div class="summarySection col-12">
        <div class="summaryTitle">
          <h5><img src="../../../../../assets/images/icons/icon_revenue.svg" class="icon-size-24 mr-3"> total Revenue
          </h5>
        </div>
        <div class="summaryQuantity d-flex pt-2 pb-2">
          <div class="rates">
            <small class="mr-2">{{providerInfo?.RevenueCurrency}}</small>
            <span>{{providerInfo?.TotalRevenue | number: '1.2-2'}}</span>
          </div>
        </div>
      </div> -->
    </div>
  </section>


  <!-- Booking Summary End -->

  <!-- billing summery -->
  <!-- <div class="titleSection d-flex justify-content-between">
    <h5 class="m-0">Billing</h5>
  </div>

  <section class="billingSummary">
    <div class="row">
    <div class="summarySection col-xl-6 col-lg-5 col-md-6 col-sm-12 d-flex">
      <div class="iconCard">
        <img src="../../../../../assets/images/icons/icon_card.svg" alt="icon">
      </div>
      <div class="detailPortion mt-3">
      <div class="summaryTitle">
        <h5 class="mb-0">PAYMENT DUE</h5>
      </div>
      <div class="summaryQuantity d-flex pt-2 pb-2">
        <div class="rates">
          <small class="mr-2">{{providerInfo?.BillingCurrencyCode}}</small>
          <span>{{providerInfo?.BillingTillDate | number: '1.2-2'}}</span>
          <span class="ml-2 badge hashmove-badge-danger" *ngIf="providerInfo?.PaymentDueDate"><strong>{{providerInfo?.PaymentDueDate | date : "d MMM, yyyy"}}</strong></span>
        </div>
      </div>
      </div>
    </div>
      <div class="summarySection col-xl-6 col-lg-7 col-md-6 col-sm-12 d-flex justify-content-end align-items-lg-center flex-lg-row flex-column">
            <button class="btn btn-outline-primary hvr-sweep-to-right pl-3 pr-3 pt-2 pb-2 mb-1"
              routerLink="/provider/billing" [disabled]="!providerInfo?.TotalBookingCount">
              VIEW DETAILS
            </button>
            <button class="btn btn-primary hvr-sweep-to-right pl-4 pr-4 pt-2 pb-2 mb-1"
              [disabled]="!providerInfo?.TotalBookingCount">
              MAKE A PAYMENT
            </button>
      </div>
    </div>
  </section> -->

  <!-- billing summery end -->

  <!-- booking summery -->
  <div class="titleSection d-flex justify-content-between">
    <h5 class="m-0">Bookings</h5>
  </div>

  <section class="bookingSummary">
    <div class="row">
      <div class="summarySection col-xl-6 col-md-6 col-6 border-right">
        <div class="summaryTitle">
          <h5>
            <img src="../../../../../assets/images/icons/icon_booking_current.svg" class="icon-size-24 mr-3"> Current
            <span *ngIf="!isMobile">Bookings</span>
          </h5>
        </div>
        <div class="summaryQuantity pt-2 pb-2">
          <div class="rates pointer" (click)="bookingsTabRedirect('currentBookings')">
            <span>{{currentBookingsCount}}</span>
          </div>
        </div>
      </div>

      <div class="summarySection col-xl-6 col-md-6 col-6">
        <div class="summaryTitle">
          <h5>
            <img src="../../../../../assets/images/icons/icon_booking_total.svg" class="icon-size-24 mr-3">Total
            <span *ngIf="!isMobile">Bookings</span>
          </h5>
        </div>
        <div class="summaryQuantity pt-2 pb-2">
          <div class="rates pointer" (click)="bookingsTabRedirect('totalBookings')">
            <span>{{totBookings || 0}}</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- booking summery end -->
  <div class="bookingTypeSection mt-3">
    <div ngbDropdown class="dropdown pull-right">
      <div class="pointer" id="bookingMode" ngbDropdownToggle>
        <span>{{selectedBookingMode}}</span>
      </div>
      <div aria-labelledby="bookingMode" class="sortFilter dropdown-menu" ngbDropdownMenu x-placement="bottom-left">

        <ul class="list-group">
          <li class="list-group-item pointer" (click)="selectedBookingMode = 'CURRENT BOOKINGS'">
            <span>CURRENT BOOKINGS</span>
          </li>
          <li class="list-group-item pointer" (click)="selectedBookingMode = 'PAST BOOKINGS'">
            <span>PAST BOOKINGS</span>
          </li>
          <!-- <li class="list-group-item pointer" (click)="selectedBookingMode = 'ALL BOOKINGS'">
            <span>ALL BOOKINGS</span>
          </li> -->
        </ul>
      </div>
    </div>
  </div>

  <div class="bookingOverview overflow-hidden">
    <app-bookings-card [booking]="booking" *ngFor="let booking of currentBookings">
    </app-bookings-card>
  </div>
  <div class="overflow-hidden"
    *ngIf="!currentBookings || (currentBookings && !currentBookings.length || !(currentBookings | BookingMode : selectedBookingMode).length)">
    <div class="animated bounceInDown card text-center p-1">
      <p class="mb-0">You don't have any bookings yet </p>
    </div>
  </div>

  <a *ngIf="currentBookings?.length > 0" href="javascript:;"
    class="hvr-icon-forward grey-anc-btn mt-3 pull-right pointer" (click)="viewAllBookings()">
    <span class="link-hover-grey">View All Bookings</span>
    <img alt="icon" class="icon-size-14 hvr-icon" src="../../../../../assets/images/icons/icon_arrow_right.svg">
  </a>
</Section>