@import "../../../../../assets/scss/_variables";

.dashboard {
  .bookingTypeSection {
    z-index: 9999;
    position: relative;
    width: 100%;
    display: inline-block;
  }

  .dropdown {
    &-toggle {
      color: $secondary-grey;
    }

    .sortFilter {
      padding: 0;
      background: $white-color;
      border: 1px solid $primary-color !important;
      box-shadow: 0px 0px 1px 0px $primary-color !important;
      right: 0px !important;
      left: auto !important;
      z-index: 9999;

      .list-group {
        padding: 0;

        &-item {
          border: none;
          padding: 13px 10px 13px 15px;
          line-height: 1;
          transition: 0.8s;

          span {
            font-size: $font-size-base;
            transition: 0.8s;
          }

          &:hover {
            background: $dropdown-color;
            cursor: pointer;
          }
        }
      }

      &.show {
        display: inline-block !important;
      }
    }

    span {
      font-size: $font-size-base;
      text-transform: uppercase;
      color: $dark-grey-blue;
      font-weight: $font-weight-mid;
    }
  }

  .welcomeSection {
    p {
      font-size: $font-size-base;
      color: $text-grey;
      font-family: $font-proxima;
      text-transform: uppercase;
    }
     .btn-refresh {
       margin-left: 0.75rem;
       margin-top: 0.5rem;

       .icon-svg {
         svg {
           fill: $secondary-color;
           width: 1.5rem;
           height: 1.5rem;

           &:hover {
             fill: $secondary-color-dark;             
             transition: 0.8s;
             overflow: visible;
             transform: rotate(-180deg);                        
           }
         }
       }
     }

    .newbooking {
      z-index: 9999;
      position: relative;
      width: 100%;
      display: inline-block;
       .pointer {
         display: none;
        color: #02bdb6;
        .title {
          color: #02bdb6;
        }
        span {
          color:#2b2b2b;
        }
    }
  }
  }

  .titleSection {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .bookingSummary,
  .billingSummary {
    background: $white-color;
    padding: 23px 35px 17px 35px;
    border: 1px solid #e9e9e9;

    .summarySection {
      
      // Dont Delete This/ temporarily hidden (HM-10736) 
      // &:first-child {
      //   &::after {
      //     content: "";
      //     height: 86px;
      //     width: 1px;
      //     position: absolute;
      //     right: 15px;
      //     border-right: 1px dashed $grey-border;
      //     top: -5px;
      //   }

      //   @media (max-width: $screen-sm-screen) {
      //     &:after {
      //       display: none;
      //     }
      //   }
      // }

      .summaryTitle {
        h5 {
          color: $secondary-grey;
          $font-family: $font-pragmatica;
          font-weight: $font-weight-mid;
          font-size: $font-size-medium;
          text-transform: uppercase;
        }
      }

      .summaryQuantity {
        .rates {
          margin-left: 2.8rem;

          small {
            font-size: $font-size-medium;
            font-family: $font-proxima;
            font-weight: $font-weight-mid;
            vertical-align: top;
          }

          span {
            font-size: $font-size-large + $font-size-large;
            font-weight: $font-weight-mid;
            line-height: 1;
          }
          a {
            color: #212529 !important;
          }
        }
      }
    }
  }

  .billingSummary {
    padding:11px 28px 10px 35px !important;
    .summarySection {
      &:first-child {
        &::after {
          display: none;
        }
      }

      .iconCard {
        margin-right: 37px;
        margin-top: 20px;

        img {
          width: 45px;
          height: 45px;
        }
      }

      .detailPortion {

        .summaryQuantity {
          .rates {
            margin-left: unset;
          }

          .badge {
            vertical-align: super;
          }
        }
      }
    }
  }
}
