<div class="provider-modal animated fadeIn">
  <div class="modal-header">
    <h4 class="provider-modal-title">{{label}}</h4>
    <a class="pointer crossIcon" (click)="closeModal(null)">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
    </a>
  </div>
  <div class="modal-body pt-0">
    <div class="form">
      <div class="form-group">
        <label>{{description}}</label>
        <select class="form-control" (change)="onModelChange($event)">
          <option disabled>{{selectPlaceholder}}</option>
          <option *ngFor="let reason of requestReasons" [value]="reason.ReasonID">{{reason.ReasonName}}</option>
        </select>
        <textarea placeholder="Details" class="form-control mt-3" [(ngModel)]="selectedReason.remarks" rows="3">
        </textarea>
        <div class="d-flex flex-row align-items-center" *ngIf="request?.ResponseCount > 0 && !request?.ResponseID">
          <img class="icon-size-16" src="../../../../assets/images/icons/icon_info.svg" />
          <label class="info-text ml-2 mt-2"> You have
            {{request?.ResponseCount | number
            :'1.0-0'}}
            {{request?.ResponseCount>1?'quotes':'quote'}} in this request</label>
        </div>
      </div>

      <button class="btn btn-primary btn-lg hvr-sweep-to-right w-50 pull-right mt-3 mb-3" *ngIf="!btnLoader"
        [disabled]="!selectedReason.remarks || !selectedReason.id" (click)="submit()">SUBMIT
      </button>
      <button *ngIf="btnLoader" class="btn btn-primary btn-lg hvr-sweep-to-right w-50 pull-right mt-3 mb-3">
        <i class="fa fa-spinner fa-spin"></i>
      </button>
    </div>
  </div>
</div>