@import "../../../../assets/scss/_variables";
.provider-modal {
    .info-text {
        font-size: 0.9rem;
        // font-weight: 500;
        color: $primary-color !important;
        font-family: $font-proxima;
    }
    .modal-header {
        background: $modal-header-background;
        .provider-modal-title {
            font-size: 1.25rem;
            margin: 4px 0 0 0;
        }
    }
    .modal-body {
        p {
            font-family: $font-proxima;
            font-size: 1rem;
            line-height: 1;
            margin-bottom: 12px;
        }
    }
}