<table class="table tracking-table">
  <thead>
    <tr>
      <th scope="col">Container No.</th>
      <th scope="col">Sensor ID</th>
      <th scope="col">Container size</th>
      <th scope="col">Coordinates</th>
      <th scope="col">Temp</th>
      <th scope="col" colspan="2">Humidity</th>
    </tr>
  </thead>
  <tbody>
    <!-- Table Row -->
    <tr>
      <td>123456789</td>
      <td>HM9876</td>
      <td>20’ Standard</td>
      <td>54992.16 84814526.23</td>
      <td>5C
        <span class="badge hashmove-badge-danger">10</span>
      </td>
      <td>20 %
        <span class="badge hashmove-badge-danger">3</span>
      </td>
      <td>
        <a href="javascript:;" class="hvr-icon-forward">
          <img src="../../../../../assets/images/icons/icon_arrow_right.svg" class="icon-size-16 hvr-icon">
        </a>
      </td>
    </tr>
    <!--/ Table Row -->
    <!-- Table Row -->
    <tr>
      <td>123456789</td>
      <td>HM9876</td>
      <td>20’ Standard</td>
      <td>54992.16 84814526.23</td>
      <td>5C
        <span class="badge hashmove-badge-danger">10</span>
      </td>
      <td>20 %
        <span class="badge hashmove-badge-danger">3</span>
      </td>
      <td>
        <a href="javascript:;" class="hvr-icon-forward">
          <img src="../../../../../assets/images/icons/icon_arrow_right.svg" class="icon-size-16 hvr-icon">
        </a>
      </td>
    </tr>
    <!--/ Table Row -->
    <!-- Table Row -->
    <tr>
      <td>123456789</td>
      <td>HM9876</td>
      <td>20’ Standard</td>
      <td>54992.16 84814526.23</td>
      <td>5C
        <span class="badge hashmove-badge-danger" [placement]="'top'" ngbTooltip="Tooltip on Top">10</span>
      </td>
      <td>20 %
        <span class="badge hashmove-badge-danger" [placement]="'top'" ngbTooltip="Tooltip on Top">3</span>
      </td>
      <td>
        <a href="javascript:;" class="hvr-icon-forward">
          <img src="../../../../../assets/images/icons/icon_arrow_right.svg" class="icon-size-16 hvr-icon">
        </a>
      </td>
    </tr>
    <!--/ Table Row -->
  </tbody>
</table>
