<section class="businessDetail">
  <h3 class="title" style="text-transform: initial !important;">Step 3 of 3 - Complete Your Digital Profile</h3>
  <!-- <p class="sub-title">
    It takes only a few minutes to send us your basic information.
  </p> -->
  <section class="info mt-5">
    <h5 class="m-0">Business Information</h5>
    <hr class="hr-solid" />
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-8 col-sm-6 col-12">
        <div class="form-group">
          <label>Company Name</label>
          <input type="text" readonly class="form-control" placeholder="Company Name" [(ngModel)]="orgName" />
        </div>
      </div>
    </div>
    <div class="document mt-2 row">
      <div class="col-xl-6 col-lg-6 col-md-8 col-sm-6 col-12">
        <div class="form-group">
          <label>Company Logo</label>
          <div class="document-Info d-flex flex-column mb-0">
            <div class="file-uploader company-logo" *ngIf="
                  !selectedDocxlogo ||
                  (selectedDocxlogo && !selectedDocxlogo?.DocumentFile)">
              <app-ng-files-drag-n-upload (filesSelect)="selectDocx($event, 'logo')" [configId]="'config'">
                <p class="m-0">
                  Drag here or <span class="browse-span">browse</span> to upload
                </p>
              </app-ng-files-drag-n-upload>
            </div>
            <label *ngIf="!selectedDocxlogo || (selectedDocxlogo && !selectedDocxlogo?.DocumentFile)">300 x 300
              recommended. JPGs, JPEGs, and PNGs supported.</label>
            <div class="row uploadedDocx com-logo" *ngIf="selectedDocxlogo && selectedDocxlogo?.DocumentFile">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10 col-12 uploaded-images">
                <div class="display-upload delete">
                  <img [src]="selectedDocxlogo.DocumentFile" alt="logo" />
                  <img src="../../../../../../assets/images/icons/icon_del_round.svg" alt="del"
                    class="pointer delete-icon" (click)="removeSelectedDocx('index', selectedDocxlogo, 'logo')" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="services mt-5">
    <h5 class="m-0">Services</h5>
    <small class="sub-title">Select the services your company provides.</small>
    <hr class="hr-solid mb-4" />
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let service of freightServices">
        <div #selectService
          class="servicechip-provides text-center d-flex flex-column justify-content-center mb-2 pointer"
          [ngClass]="{'active': service?.isSelected}" (click)="freightService(service, selectService)">
          <span>{{ service.logServName }}</span>
        </div>
      </div>
      <!-- <div class="col-12 d-flex mt-3 animated fadeIn" *ngIf="wareHouseTypeToggler">
        <div class="fancyOptionBoxes mr-4">
          <input id="owner" name="warehouseType" type="radio" checked (change)="IsRealEstate = false">
          <label for="owner">
            <span></span>
            I'm an owner / operator for Warehousing
          </label>
        </div>

        <div class="fancyOptionBoxes">
          <input id="realEstate" name="warehouseType" type="radio" (change)="IsRealEstate = true">
          <label for="realEstate">
            <span></span>
            I'm a Real Estate Agent for Warehousing
          </label>
        </div>
      </div> -->
    </div>
  </section>

  <!-- <section class="services mt-5">
    <h5 class="m-0">Value Added Services (Optional)</h5>
    <small class="sub-title">Select the value added services your company provides.</small>
    <hr class="hr-solid mb-4" />
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let service of valAddedServices">
        <div #selectService
          class="servicechip-valueAdded text-center d-flex flex-column justify-content-center mb-2 pointer"
          (click)="valAdded(service, selectService)">
          <span>{{ service.logServName }}</span>
        </div>
      </div>
    </div>
  </section> -->

  <section class="services mt-5">
    <div class="row">
      <div class="col-12">
        <h5 class="m-0">A Bit More Information</h5>
        <hr class="hr-solid" />
      </div>
      <div class="col-12">
        <label class="url-icon d-flex">Your Digital Logistics Website
          <img alt="icon_info" class="ml-2 mt-1 icon-size-16" align="bottom" [placement]="'top'"
            ngbTooltip="Your customers will use this link to search and book freight with you"
            src="../../../../../../assets/images/icons/icon_info.svg">
        </label>
      </div>
      <div class="col-xl-10 col-lg-11 col-md-12">
        <div class="row">
          <div class="col-xl-8 col-lg-7 col-md-8 col-sm-12 d-xl-flex d-lg-flex d-md-flex align-items-center form-group">
            <label>{{profileUrl}}</label>
            <input #profileName (keypress)="profileNameValid($event)" (paste)="profileNameValid($event)" type="text"
              class="form-control" [ngClass]="{ 'inputError': addBusinessbtnEnabled === false && !spinner}"
              placeholder="eg: hashMove" />
            <svg *ngIf="addBusinessbtnEnabled && userName && !spinner" class="available icon-size-24" version="1.1"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="#73AF55" stroke="none" stroke-width="6" stroke-miterlimit="10" cx="65.1"
                cy="65.1" r="62.1" />
              <polyline class="path check" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round"
                stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>

            <svg *ngIf="spinner" class="lds-spinner spinner" width="40px" height="40px"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100"
              preserveAspectRatio="xMidYMid" style="background: none;">
              <g transform="rotate(0 50 50)">
                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#cccccc">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.7s" begin="-1.5583333333333333s"
                    repeatCount="indefinite"></animate>
                </rect>
              </g>
              <g transform="rotate(30 50 50)">
                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#cccccc">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.7s" begin="-1.4166666666666667s"
                    repeatCount="indefinite"></animate>
                </rect>
              </g>

              <g transform="rotate(60 50 50)">
                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#cccccc">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.7s" begin="-1.275s"
                    repeatCount="indefinite"></animate>
                </rect>
              </g>

              <g transform="rotate(90 50 50)">
                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#cccccc">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.7s" begin="-1.1333333333333333s"
                    repeatCount="indefinite"></animate>
                </rect>
              </g>

              <g transform="rotate(120 50 50)">
                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#cccccc">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.7s" begin="-0.9916666666666667s"
                    repeatCount="indefinite"></animate>
                </rect>
              </g>

              <g transform="rotate(150 50 50)">
                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#cccccc">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.7s" begin="-0.85s"
                    repeatCount="indefinite"></animate>
                </rect>
              </g>

              <g transform="rotate(180 50 50)">
                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#cccccc">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.7s" begin="-0.7083333333333334s"
                    repeatCount="indefinite"></animate>
                </rect>
              </g>

              <g transform="rotate(210 50 50)">
                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#cccccc">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.7s" begin="-0.5666666666666667s"
                    repeatCount="indefinite"></animate>
                </rect>
              </g>

              <g transform="rotate(240 50 50)">
                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#cccccc">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.7s" begin="-0.425s"
                    repeatCount="indefinite"></animate>
                </rect>
              </g>

              <g transform="rotate(270 50 50)">
                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#cccccc">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.7s" begin="-0.2833333333333333s"
                    repeatCount="indefinite"></animate>
                </rect>
              </g>

              <g transform="rotate(300 50 50)">
                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#cccccc">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.7s" begin="-0.14166666666666666s"
                    repeatCount="indefinite"></animate>
                </rect>
              </g>

              <g transform="rotate(330 50 50)">
                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#cccccc">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.7s" begin="0s"
                    repeatCount="indefinite"></animate>
                </rect>
              </g>

            </svg>
            <p class="animated fadeIn inputError"></p>
          </div>

          <!-- <div class="col-3 mb-3 d-flex align-items-center animated fadeIn" *ngIf="addBusinessbtnEnabled === false && !spinner">
            <small class="alert-text">This public URL is not available</small>
          </div> -->
          <div class="col-xl-4 col-lg-5 col-md-4 col-sm-12 mb-3 d-flex align-items-center animated fadeIn">
            <small class="alert-text" *ngIf="profilUrlValid">Special Character is not allowed</small>
          </div>
          <div *ngIf="addBusinessbtnEnabled === false && !spinner"
            class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3 animated fadeIn ">
            <small *ngIf="addBusinessbtnEnabled === false && !spinner" class="alert-text">
              This company page already exists in order to become an admin of the page, an existing admin must add you.
            </small>

          </div>
          <div class="col-12">
            <div class="row">
              <!-- <div
                style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;align-content: stretch;"> -->
              <div class="switch-box col-3">
                <ui-switch (change)="privateModeToggler=!privateModeToggler" [checked]="privateModeToggler">
                </ui-switch>
                <span>Is Private Mode</span>
              </div>
              <div class="col">
                <small class="text-muted">
                  <img src="../../../../../assets/images/icons/icon_info2 - grey.svg"
                    class="icon-size-16 mr-2" />Customers are required to login
                  to access your rates
                </small>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- Donot Delete -->
      <!-- <div class="col-12 mt-3">
        <div class="form-group position-relative">
          <label>About Your Business</label>
          <quill-editor [options]="editorOptions" (change)="onContentChanged($event)">
          </quill-editor>
        </div>
      </div> -->
    </div>

    <!-- <div class="row mt-3">
      <div class="col-12 d-flex align-items-center">
        <div class="row">
          <div class="col-4">
              <div class="form-group has-search">
                  <span class="fa fa-search form-control-feedback"></span>
                  <input type="text" class="form-control" placeholder="Search">
                </div>
          </div>
          <div class="col-6"></div>
          <div class="col-2"></div>
        </div>
        
      </div>
        </div> -->


    <div class="row mt-5">
      <div class="licenseNaming col-12 ml-0 pl-0 row">
        <div class="col-5">
          <h5 class="m-0">Affiliation</h5>
          <small>Your Membership and Affiliations</small>
        </div>
        <div class="col-7">
          <div class="affiliation-input">
            <div class="form-group">
              <input class="form-control" [(ngModel)]="selectedAff" [ngbTypeahead]="affSearchType"
                (keydown)="onKeyPress($event)" (click)="onFocus($event);" [resultTemplate]="affRt"
                [inputFormatter]="affFormatter" placeholder="eg: Add Affiliation" />
              <span class="animated fadeIn">
                <button class="pull-right addButton" [ngClass]="{'active-addBtn':selectedAff?.assnWithImage }"
                  [placement]="'top'" (click)="addAssociation()" ngbTooltip="Add Affiliation" container="body">
                  <i class="fa fa-plus"></i>
                </button>
              </span>
              <ng-template #affRt let-rst="result">
                <div class="d-flex">
                  <div class="flag-container mr-1">
                    <img *ngIf="rst?.assnWithImage" [src]="baseExternalAssets + rst?.assnWithImage" alt="assoc_image"
                      class="mr-4 pb-1 border-0 flag-icon-40-30">
                    <img *ngIf="!rst?.assnWithImage"
                      [src]="baseExternalAssets + 'images/association/original/OTHER.svg'" alt="assoc_image"
                      class="mr-4 pb-1 border-0 flag-icon-40-30">
                  </div>
                  <ngb-highlight class="ml-5" [result]="rst?.assnWithName?rst?.assnWithName:'Other'"></ngb-highlight>
                </div>
              </ng-template>
              <span class="animated fadeIn">
              </span>

            </div>
          </div>
        </div>
        <hr class="hr-solid" />

        <div class="input-group mb-3 mt-2 row">
          <div *ngIf="false" class="col-4 pr-1">
            <div class="form-group has-search">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="form-control" placeholder="Search Affiliations" [(ngModel)]="affSearch">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2 form-group">

      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 associations"
        *ngFor="let aff of allAssociations | search : affSearch">
        <div #selectService id="aff-{{aff.assnWithCode}}"
          class="servicechip-asscoiation text-center mb-2 pointer d-flex justify-content-center align-items-center flex-column "
          [ngClass]="{'active': aff?.isSelected}" (click)="selectAssociation(aff)">
          <img *ngIf="aff?.assnWithImage" class="d-flex " [src]="baseExternalAssets + aff?.assnWithImage"
            alt="assoc_image" />
          <img *ngIf="!aff?.assnWithImage" class="d-flex "
            [src]="baseExternalAssets + 'images/association/original/OTHER.svg'" alt="assoc_image" />
          <span class="w-100 d-inline-block d-flex justify-content-center">{{ aff?.assnWithName }}</span>
          <!-- <span *ngIf="aff?.assnWithRefNo" class="w-100 d-inline-block d-flex justify-content-center">(Reg: {{
            aff?.assnWithRefNo }})</span> -->
        </div>
        <div *ngIf="aff?.isSelected" class="form-group mb-3">
          <div class="form-group">
          </div>
          <div class="d-flex flex-column" style="width: 100%;">
            <input [ngClass]="(!aff.isValidRef)? 'fieldError': ''" type="text" class="form-control" placeholder="Reg No"
              [(ngModel)]="aff.assnWithRefNo" maxlength="15" (focus)="aff.isValidRef = true"
              (focusout)="validateRef(aff)" />
            <ng-container *ngIf="aff?.assnWithCode === 'OTHER' && aff?.isSelected">
              <input [ngClass]="(!aff.isValidName)? 'fieldError': ''" type="text" class="form-control mt-1"
                placeholder="Name" [(ngModel)]="aff.assInpName" (focus)="aff.isValidName = true"
                (focusout)="validateName(aff)" maxlength="60" (ngModelChange)="ngNameChat(aff)" />
              <input [ngClass]="(!aff.isValidWeb)? 'fieldError': ''" type="text" class="form-control mt-1"
                placeholder="Webiste" [(ngModel)]="aff.assnWithWebAdd" (focus)="aff.isValidWeb = true"
                (focusout)="validateWeb(aff)" maxlength="60" />
              <span class="animated fadeIn" *ngIf="!aff.isValidWeb">
                <p class="inputError animated fadeIn">
                  Invalid Website Link
                </p>
              </span>
            </ng-container>
            <!-- <button *ngIf="aff?.assnWithCode !== 'OTHER'" class="btn btn-primary mt-1" (click)="setRefNumber(aff)"
              [disabled]="!aff.isValidRef">
              <span>Submit</span>
            </button> -->
            <!-- <button *ngIf="aff?.assnWithCode === 'OTHER'" class="btn btn-primary mt-1" (click)="addAnother(aff)"
              [disabled]="!aff.isValidName || !aff.isValidWeb || !aff.isValidRef">
              <span>{{aff?.isAdded?'Update':'Add'}}</span>
            </button> -->
          </div>

        </div>
      </div>

      <div class="col-12 d-flex justify-content-center align-items-center"
        *ngIf="allAssociations?.length > 0 && (allAssociations | search: affSearch)?.length === 0 ">
        No Affiliations Found
      </div>

      <div *ngIf="allAssociations?.length === 0" class="row d-flex justify-content align-items-center"
        style="height: 6rem !important;text-align: center;">
        <span class="col-12">
          Please add atleast one affiliation.
        </span>
      </div>
    </div>
  </section>

  <!-- Donot delete this comment -->
  <!-- <section class="document mt-3">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="mb-0">Gallery (Optional)</label>
          <small class="sub-title">Upload photos and videos upto 5mb</small>
          <div class="document-Info d-flex flex-column mt-2">
            <div class="file-uploader" *ngIf="selectedGalleryDocx && selectedGalleryDocx.length < config.maxFilesCount">
              <app-ng-files-drag-n-upload (filesSelect)="selectDocx($event, 'gallery')" [configId]="'config'">
                <img src="../../../assets/images/icons/manager-icon.png" />
                <p class="m-0 mt-3">
                  Drag here or <span class="browse-span">browse</span> to upload
                </p>
              </app-ng-files-drag-n-upload>
            </div>

            <div class="row uploadedDocx" *ngIf="selectedGalleryDocx && selectedGalleryDocx.length">
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3 uploaded-images"
                *ngFor="let galleryDocx of selectedGalleryDocx; let i = index">
                <div class="display-upload delete">
                  <img class="w-auto" [src]="galleryDocx.DocumentFile" />
                  <img src="../../../../../../assets/images/icons/icon_del_round.svg" alt="del"
                    class="pointer delete-icon" (click)="removeSelectedDocx(i, galleryDocx, 'gallery')" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <div class="form-group">
          <label class="mb-0">Awards & Clients (Optional)</label>
          <small class="sub-title">Upload photos and videos upto 5mb</small>
          <div class="document-Info d-flex flex-column mt-2">
            <div class="file-uploader"
              *ngIf="selectedCertificateDocx && selectedCertificateDocx.length < config.maxFilesCount">
              <app-ng-files-drag-n-upload (filesSelect)="selectDocx($event, 'certificate')" [configId]="'config'">
                <img src="../../../assets/images/icons/manager-icon.png" />
                <p class="m-0 mt-3">
                  Drag here or <span class="browse-span">browse</span> to upload
                </p>
              </app-ng-files-drag-n-upload>
            </div>
            <div class="row uploadedDocx" *ngIf="selectedCertificateDocx && selectedCertificateDocx.length">
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3 uploaded-images"
                *ngFor="let certDocx of selectedCertificateDocx; let i = index">
                <div class="display-upload delete">
                  <img class="w-auto" [src]="certDocx.DocumentFile" />
                  <img src="../../../../../../assets/images/icons/icon_del_round.svg" alt="del"
                    class="pointer delete-icon" (click)="removeSelectedDocx(i, certDocx, 'certificate')" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <div class="row mt-5">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
      <div class="fancyOptionBoxes warehousing-services pull-left">
        <input id="bonded" name="bonded" type="checkbox" [(ngModel)]="verifyProfile">
        <label for="bonded">
          <span></span>
          I verify, that i am the official representation of this company and have the right to act on behalf of the
          company in the creation of this profile
        </label>
      </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
      <button class="pl-5 pr-5 pt-2 pb-2 btn btn-primary hvr-sweep-to-right pull-right"
        [disabled]="!verifyProfile || !addBusinessbtnEnabled || !userName || (frtService && !frtService.length) || (!selectedDocxlogo || (selectedDocxlogo && !selectedDocxlogo?.DocumentFile))"
        (click)="addCorperateInfo()">
        CREATE PROFILE
      </button>
    </div>
  </div>
</section>