@import "../../../../../../assets/scss/_variables";


.businessDetail {
  .add-aff-ic {
    align-self: center;
    /* z-index: 9999; */
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    width: 2rem;
    // margin-top: 0.5rem;
  }
  
  .fieldError {
    border-color: $danger-color;
    transition: ease-in 0.8s;
  }
  .services {

    .associations {
      display: table;
    }

    ngb-tooltip-window {

      &.tooltip {

        .arrow {

          &::before {

            border-top-color: #fff;

          }

        }


        &.show {

          opacity: 1;

        }


        .tooltip-inner {

          width: 250px;

          max-width: 250px;

          padding-top: 15px;

          padding-bottom: 20px;

          background: $white-color;

          color: $text-color-default;

          box-shadow: 0px 20px 50px 0px rgba(51, 59, 69, 0.15);

        }

      }


    }


    .servicechip {

      border-radius: 4px;

      border: 1px solid $input-border;

      background: $white-color;

      position: relative;

      font-family: $font-proxima;


      &.active {

        box-shadow: 0px 5px 20px 0px rgba(0, 162, 223, 0.15) !important;

        border-radius: 4px;

        border: 1px solid $primary-color !important;

        background: $white-color !important;


        &:before {

          content: url("../../../../../../assets/images/icons/selection_tick.svg");

          width: 44px;

          height: 44px;

          position: absolute;

          right: 0;

          top: 0;

        }

      }


      &-provides,
      &-valueAdded {
        @extend .servicechip;
        height: 50px;
      }


      &-asscoiation {
        @extend .servicechip;
        height: 11rem;
        padding: 1rem;


        img {
          max-width: 50%;
          max-height: 100%;
          margin-bottom: 0.5rem;
          max-height: 4rem;
        }
      }
    }

    .alert-text {
      color: $probar-color;
    }

    svg {
      &.available {
        position: absolute;
        right: 25px;
        top: 12px;
      }

      &.spinner {
        position: absolute;
        right: 11px;
        bottom: 4px;
      }


      .path {

        stroke-dasharray: 1000;

        stroke-dashoffset: 0;


        //   stroke-width: 11px;

        &.circle {

          -webkit-animation: dash 0.9s ease-in-out;

          animation: dash 0.9s ease-in-out;

        }


        &.line {

          stroke-dashoffset: 1000;

          -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;

          animation: dash 0.9s 0.35s ease-in-out forwards;

        }


        &.check {

          stroke-dashoffset: -100;

          -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;

          animation: dash-check 0.9s 0.35s ease-in-out forwards;

        }

      }

    }

  }


  .document {

    &-Info {

      .file-uploader {

        border: 1px dashed #e1d8d8;

        border-radius: 4px;


        .drag-support {

          color: $text-grey;

          font-size: $font-size-medium;

          position: relative;

          top: 35px;

        }


        .browse-span {

          color: $secondary-color;

          font-weight: 500;

        }


        text-align: center;


        app-ng-files-drag-n-upload {

          label {

            padding: 2.88rem 60px;

          }

        }


        &.company-logo {

          background: #e9ecef;


          label {

            padding: 1rem;

          }

        }

      }


      .url-icon {

        img {

          width: 16px;

          height: 16px;

          margin-left: 0.5rem;

          margin-top: 0.1875rem;

        }

      }


      .alert-text {

        color: $probar-color;

      }


      .uploadedDocx {
        margin-top: 1rem;

        .uploaded-images {
          display: table;

          .display-upload {

            position: relative;
            height: 200px;
            z-index: 0;
            border: 1px solid $input-border;
            border-radius: 4px;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            background-image: url("../../../../../../assets/images/img-canvas.png");
            background-size: 20px;

            img,
            video {
              border-radius: 4px;
              max-width: 100%;
              max-height: 100%;
            }


            .delete-icon {

              position: absolute;
              top: -10px;
              right: -8px;
              min-height: auto;
              background: $white-color;
              padding: 3px;
              border-radius: 50%;
              width: 23px;
              height: auto;
              border: none;
            }

            &:hover {
              .delete-icon {
                animation-name: pulse;
                animation-fill-mode: both;
                animation-duration: 1s;
                animation-iteration-count: infinite;
              }
            }
          }
        }
      }

      label {
        font-family: $font-proxima;
        font-size: $font-size-medium;
        color: $secondary-text-color;
      }

      .com-logo {
        .display-upload {
          height: 150px;
        }
      }

    }

  }


  .info {

    input:read-only {

      cursor: no-drop;

    }

  }



  @-webkit-keyframes dash {

    0% {

      stroke-dashoffset: 1000;

      fill-opacity: 0;

    }


    100% {

      stroke-dashoffset: 0;

      fill-opacity: 1;

    }

  }


  @keyframes dash {

    0% {

      stroke-dashoffset: 1000;

      fill-opacity: 0;

    }


    100% {

      stroke-dashoffset: 0;

      fill-opacity: 1;

    }

  }


  @-webkit-keyframes dash-check {

    0% {

      stroke-dashoffset: -100;

    }


    100% {

      stroke-dashoffset: 900;

    }

  }


  @keyframes dash-check {

    0% {

      stroke-dashoffset: -100;

    }


    100% {

      stroke-dashoffset: 900;

    }

  }

  @media (max-width: 525px) {

  }

  .affiliation-input {
    list-style: none;
    // padding: 0rem;
    div,
    li {
      .tooltip {
        text-transform: capitalize;
      }
      a,
      .addButton {
        text-transform: capitalize;
        padding: 0.625rem;
        font-size: 22px;
        background: $primary-grey;
        color: $white-color;
        margin-right: 0;
        display: inline-block;
        width: 48px;
        height: 48px;
        text-align: center;
        transition: all 1s ease;
        margin-top: -48px;
        border-radius: 0 0.25rem 0.25rem 0;
        border-width: 0;
        cursor: pointer;
        &:hover {
          background: $secondary-color;
          color: $white-color !important;
        }
      }
      .active-addBtn {
        background: $secondary-color !important; 
      }
      .disable {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
  .affiliation-input .form-group input {
    padding-right: 3.5rem;
  }
}

.has-search {
  .form-control {
    padding-left: 2.375rem;
  }
  .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    margin-top: 0.15rem;
  }
}


