<div class="main main-bg"
  [ngStyle]="{'background-image':'url('+ getUIImage(customerSettings?.customerPrimaryBGImage) +')', 'position':'fixed','width':'100%'}">

</div>
<div class="container login">
  <div class="row">
    <div class="col align-self-center">
      <div class="login-info mb-0 mt-1" [ngStyle]="{'color':headingColor}">
        <img class="mt-2" src="{{getUIImage(customerSettings?.customerPrimaryLogo)}}" alt="">
        <h3>{{customerSettings?.customerPortalTitle}}</h3>
      </div>
      <div class="account-activation">
        <div class="user-modal animated fadeIn">
          <div class="modal-header">
            <h4 class="user-modal-title">Activate Your Account</h4>
          </div>
          <!-- <div class="alert alert-warning mb-0" *ngIf="!isLinkExpred">
            <p>Account activation link has expired, <a href="javascript:void(0)" (click)="resendEmailRequest()"
                class="send-confirmation"> Re-send activation
                Email
                <i class="fa fa-angle-right"></i>
              </a></p>
          </div> -->
          <div class="col-12 text-center protectedIcon mb-4 mt-2 pt-2">
            <img src="../../../../assets/images/icons/protected_pass_icon.svg" alt='protected' />
          </div>

          <div class="d-flex flex-column justify-content-center align-items-center">
            <h5 class="pb-2" style="text-transform: initial !important;">{{userData?.IssuedByUserName}}</h5>
            <ng-container *ngIf="!isLinkExpred">
              <h6 *ngIf="isVerified" style="text-transform: initial !important;">Account Already Active</h6>
              <h6 *ngIf="!isVerified" style="text-transform: initial !important;">Create Your New Password</h6>
            </ng-container>
            <ng-container *ngIf="isLinkExpred">
              <h6 style="text-transform: initial !important;">
                Activation link has expired
              </h6>
            </ng-container>
          </div>

          <div class="modal-body">
            <form class="form-component" novalidate [formGroup]="updatePassword">
              <div class="row form-group">
                <ng-container *ngIf="!isLinkExpred">
                  <ng-container *ngIf="!isVerified">
                    <div class="col-lg-12">
                      <hr class="hr-solid">
                      <label>Password</label>
                      <div>
                        <input type="password" [disabled]="isVerifiedByForm" [ngClass]="(isNewPass)? 'fieldError': ''"
                          autocomplete="new-password" (focusout)="errorMessagesPasswordUpdate()"
                          (focus)="isNewPass=false" class="form-control" placeholder="Password" [(ngModel)]="newPass"
                          (focus)="showPassValidator = true" (focusout)="showPassValidator = false"
                          (ngModelChange)="onNewPassChange($event)" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="d-flex flex-column">
                        <ng-container *ngIf="(showPassValidator)">
                          <div id="PasswordHintMessage" class="PasswordHintText">
                            <div class="d-flex align-items-baseline">
                              <img class="icon-size-14"
                                src="../../../../assets/images/icons/{{ newPasswordStatus?.lengthValid?'icon_success_blue.svg':'icon_info.svg'}}" />
                              <p class="d-flex flex row align-items-center animated fadeIn mt-0"
                                [ngClass]="newPasswordStatus?.lengthValid?'valid-text':'invalid-text'">
                                Password must be atleast 8 characters
                              </p>
                            </div>
                            <div class="d-flex align-items-baseline">
                              <img class="icon-size-14"
                                src="../../../../assets/images/icons/{{ newPasswordStatus?.upperCaseValid?'icon_success_blue.svg':'icon_info.svg'}}" />
                              <p class="d-flex flex row align-items-center animated fadeIn mt-0"
                                [ngClass]="newPasswordStatus?.upperCaseValid?'valid-text':'invalid-text'">
                                Password must contain atleast 1 uppercase character
                              </p>
                            </div>
                            <div class="d-flex align-items-baseline">
                              <img class="icon-size-14"
                                src="../../../../assets/images/icons/{{ newPasswordStatus?.lowerCaseValid?'icon_success_blue.svg':'icon_info.svg'}}" />
                              <p class="d-flex flex row align-items-center animated fadeIn mt-0"
                                [ngClass]="newPasswordStatus?.lowerCaseValid?'valid-text':'invalid-text'">
                                Password must contain atleast 1 lowercase character
                              </p>
                            </div>
                            <div class="d-flex align-items-baseline">
                              <img class="icon-size-14"
                                src="../../../../assets/images/icons/{{ newPasswordStatus?.digitValid?'icon_success_blue.svg':'icon_info.svg'}}" />
                              <p class="d-flex flex row align-items-center animated fadeIn mt-0"
                                [ngClass]="newPasswordStatus?.digitValid?'valid-text':'invalid-text'">
                                Password must contain atleast 1 numeric (0-9) character
                              </p>
                            </div>
                            <div class="d-flex align-items-baseline">
                              <img class="icon-size-14"
                                src="../../../../assets/images/icons/{{ newPasswordStatus?.specialCharValid?'icon_success_blue.svg':'icon_info.svg'}}" />
                              <p class="d-flex flex row align-items-center animated fadeIn mt-0"
                                [ngClass]="newPasswordStatus?.specialCharValid?'valid-text':'invalid-text'">
                                Password must contain atleast special character
                              </p>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <label>Confirm Password</label>
                      <div>
                        <input type="password" [disabled]="isVerifiedByForm" [ngClass]="(confirmPass)? 'fieldError': ''"
                          autocomplete="new-password" (focusout)="errorMessagesPasswordUpdate()"
                          (focus)="confirmPass=false" class="form-control" placeholder="Confirm Password"
                          formControlName="confirmPass">
                        <span class="animated fadeIn formError" *ngIf="confirmPass">
                          <p class=" animated fadeIn d-flex mt-0 mb-0 pb-0"
                            *ngIf="updatePassword.controls['confirmPass'].hasError('matchOther') && (updatePassword.controls.confirmPass.dirty || updatePassword.controls.confirmPass.touched)">
                            Password Mismatch
                          </p>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-12 login-btn">
                      <button *ngIf="!isUpdating" class="btn btn-primary hvr-sweep-to-right pull-right full-width-btn "
                        (click)="_updatePassword()"
                        [disabled]="updatePassword.invalid || isLinkExpred || isVerifiedByForm">
                        <span>Activate</span>
                      </button>
                      <button *ngIf="isUpdating" class="btn btn-primary hvr-sweep-to-right pull-right full-width-btn "
                        [disabled]="true">
                        <i class="fa fa-spinner fa-spin"></i>
                      </button>
                    </div>
                  </ng-container>
                  <div *ngIf="isVerified" class="col-lg-12 login-btn">
                    <button (click)="navigateLogin()"
                      class="btn btn-primary hvr-sweep-to-right pull-right full-width-btn">
                      <span>Login </span>
                    </button>
                  </div>
                </ng-container>
                <ng-container *ngIf="isLinkExpred">
                  <div class="col-lg-12 login-btn">
                    <button *ngIf="!hasVeriLinkSent" (click)="resendEmailRequest()"
                      class="btn btn-primary hvr-sweep-to-right pull-right full-width-btn">
                      <span>Resend</span>
                    </button>
                    <button *ngIf="hasVeriLinkSent" [disabled]="true"
                      class="btn btn-primary hvr-sweep-to-right pull-right full-width-btn">
                      <span>Activation Link Sent</span>
                    </button>
                  </div>
                </ng-container>
              </div>
            </form>
            <div *ngIf="isVerifiedByForm" class="col-lg-12 text-center">
              <a href="javascript:;" class="forgot-password hvr-icon-wobble-horizontal" (click)="navigateLogin()">Go to
                Login
                <img src="../../../../assets/images/icons/icon_arrow_right.svg" alt="Arrow Icon"
                  class="icon-svg hvr-icon" style=" height: 14px; width: auto; margin-bottom: 3px; " class="hvr-icon">
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>