@import "../../../../assets/scss/variables";
$unactive-tab1: #ececec;
$unactive-tab2: $white-color;
$unactive-container-tab: #a5b2ba;
.protectedIcon {
  img {
    width: 220px;
  }
}
.main {
  position: fixed;

  margin: 0 auto 0px;
  // margin-top: calc(430px - 23.01em);
  // position: absolute;
  // top: 0;
  width: 100%;
  // min-height: calc(100vh - 40px); @todo for sticking footer to bottom
}
.main-bg {
  // background: url("../../../../assets/images/SLIDER-3_-1920-X-780.jpg") no-repeat top
  //   center / cover;
}

.login {
  .PasswordHintText {
    top: 1.2rem;
    display: block;
    background: $white-color;
    color: #000;
    padding: 20px;
    margin: 0;
    width: 100%;
    position: relative;
    transition: 0.2s;
    border-radius: 0.5rem;
    filter: drop-shadow(0px -2px 1px #ddd);
    margin-top: -1.25rem;
    border: solid 1px #ddd;

    &::before {
      position: absolute;
      top: -20px;
      left: 2%;
      content: "";
      border-top: 10px solid transparent;
      border-bottom: 10px solid $white-color;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      filter: drop-shadow(0px -2px 1px #ddd);
    }

    p {
      padding: 5px 0px;
      font-size: 0.75rem;
      margin: 0;
      color: #b4b8bd;
      font-family: $font-proxima;
    }
    /* Add a green text color and a checkmark when the requirements are right */
    .valid-text {
      color: $secondary-color !important;
      padding-left: 8px;
    }
    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid-text {
      color: $secondary-grey;
      padding-left: 10px;
    }
    .fa {
      margin-right: 10px;
    }
  }
  &-info {
    text-align: center;
    margin: 3rem auto;
    img {
      width: var(--customerPrimaryLogoWidth);
      margin-bottom: 1rem;
      // max-height: 4.25rem;
    }
    font-family: $font-proxima;
    color: $white-color;
  }
}

.modal-dialog.modal-lg {
  max-width: 60%;
}

.account-activation {
  .send-confirmation {
    color: $secondary-color;
    $font-family: $font-proxima;
    // margin-left: 0.57rem;
  }
  .user-modal {
    border-radius: 4px;
    width: 500px;
    margin: 3rem auto;
    background-color: $white-color;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
    .modal-header {
      padding: 10px 32px;
      background: $modal-header-background;
      display: block;
      h4 {
        margin: 0px;
        text-shadow: 0px 0px $text-color-default;
        font-size: $font-size-large + 0.375rem;
        margin-top: 4px;
        font-weight: $font-weight-normal;
        font-family: $font-pragmatica;
      }
      p {
        font-size: $font-size-medium;
        font-family: $font-proxima;
        font-weight: $font-weight-normal;
        color: $secondary-text-color;
        margin-top: 4px;
        margin-bottom: 0px;
      }
      a.crossIcon {
        position: absolute;
        right: 8px;
        top: 4px;
        width: 14px;
        height: 14px;
        img {
          width: 100%;
        }
      }
    }
    .alert {
      &-warning {
        padding: 0.55rem 0.87rem;
        margin: 1rem 0.75rem;
        p {
          padding-bottom: 0;
          font-size: $font-size-medium;
          text-align: left;
          font-family: $font-proxima;
        }
      }
    }
    .modal-body {
      padding: 0 25px 32px;
      .form-component {
        margin: 0 0px;
        .form-group {
          margin-bottom: 0px;
          label {
            font-size: $font-size-medium;
            font-weight: $font-weight-normal;
            // margin-bottom: 15px;
            color: $text-color-default;
          }
          input {
            height: 50px;
            border: 1px solid $input-border;
            color: $text-color-default;
            font-size: $font-size-medium;
            padding-left: 15px;
            font-weight: 100;
            &:focus {
              border-color: $primary-color;
              transition: ease-in 0.8s;
            }
          }
          .btn {
            font-size: $font-size-large;
            font-family: $font-proxima !important;
            font-weight: $font-proxima-weight-semibold;
            padding: 12px 50px;
            color: $white-color;
            background: $secondary-color;
            text-transform: uppercase;
            border-radius: 2px;
            border: 0;
            &.full-width-btn {
              width: 100%;
            }
            &:disabled {
              cursor: no-drop;
              border: 0;
              background: $btn-disable-background !important;
              color: $btn-disable-color !important;
              border-radius: 2px;
              &:before {
                background: $btn-disable-background !important;
                color: $btn-disable-color !important;
              }
            }
          }
        }

        .login-btn {
          margin: 25px 0;
        }
      }
      .forgot-password {
        font-size: $font-size-base;
        font-family: $font-proxima;
        font-weight: $font-proxima-weight-semibold;
        text-transform: uppercase;
        line-height: 1.803;
        color: $dark-grey-blue;
        i.fa.fa-angle-right {
          font-weight: 600;
          padding-left: 10px;
        }
      }
    }
  }
  .form-component {
    margin: 25px 0px;
    // padding: 0 1rem;
    .check-boxes-main {
      input[type="checkbox"] {
        display: none;
      }
    }
    .form-group {
      margin-bottom: 10px;
      label {
        font-size: 15px;
        font-weight: $font-weight-normal; // margin-bottom: 15px;
      }
      input,
      select {
        height: 50px;
        border: 1px solid $input-border;
        color: $text-color-default;
        font-size: $font-size-medium;
        padding-left: 15px;
        font-weight: 100;
        &.fieldError {
          border-color: $danger-color;
          transition: ease-in 0.8s;
        }
      }
      input[autocomplete="new-password"] {
        padding-right: 45px;
      }
      input:focus,
      select:focus {
        border-color: $primary-color;
        transition: ease-in 0.8s;
      }
      .icon-input {
        .input-group-prepend {
          .input-group-text {
            background: $white-color;
            border-right: 0;
            height: 20px;
            position: absolute;
            top: 12px;
            border: 0;
            display: inline-grid;
            background: transparent;
            img {
              border: 1px solid $grey-border !important;
            }
          }
          input {
            padding-left: 45px;
          }
        }
        .number-select {
          font-weight: $font-weight-mid;
          color: $text-color-default;
          text-shadow: 1px 0px $text-color-default;
          padding: 0px;
          border-right: 0px;
          outline: 0px !important;
          height: 20px;
          position: absolute;
          top: 15px;
          left: 54px;
          border: 0;
          background: transparent;
        }
        .dropdown-menu {
          padding: 0px;
          border: 1px solid $secondary-color;
          ul {
            max-height: 180px;
            overflow-y: auto;
            position: relative;
            max-width: 115px;
            overflow-x: hidden;
            height: 180px;
            .list-group-item {
              padding: 5px 12px;
              border: unset;
              &:hover {
                background: $inner-background-color;
                cursor: pointer;
              }
              img {
                margin-right: 10px;
                border: 1px solid $grey-border !important;
              }
            }
          }
          &.show {
            max-height: 260px;
            overflow-y: auto;
          }
          button.dropdown-item {
            cursor: pointer;
            &.active {
              background: $primary-grey;
            }
          }
        }
      }
      .select-number {
        .input-group-prepend {
          .input-group-text {
            background: $white-color;
            border-right: 0;
          }
        }
        input:focus,
        select:focus,
        input.fieldError {
          border-color: $input-border !important;
          transition: ease-in 0.8s;
        }
        .control-phone {
          padding-left: 0;
          border-left: 0;
          box-shadow: none !important;
        }
        span {
          font-size: $font-size-medium;
        }
        .country-section {
          border: 0px;
          background: transparent;
        }
        ng-scrollbar {
          margin-bottom: 0rem;
          min-height: 367px;
          width: 7.2rem;
          background: $white-color;
          position: absolute;
          z-index: 999;
          top: 10px;
          border: 1px solid $primary-color;
          -webkit-box-shadow: 0px 0px 10px 0px $primary-color;
          box-shadow: 0px 0px 10px 0px $primary-color;
          left: -10px;
          ul {
            border: 0px;
            li.list-group-item {
              border: 0px;
              padding: 0.625rem !important;
              cursor: pointer;
              img {
                border: 1px solid $grey-border;
              }
            }
          }
        }
      }
    }
    .form-group {
      label {
        font-family: $font-proxima;
        font-size: $font-size-large;
        font-weight: $font-weight-normal;
        color: $text-color-default;
        padding-top: 15px;
      }
      select {
        height: 50px;
      }
    }
    .profile {
      label {
        padding-top: 3% !important;
      }
    }
    .sub-heading {
      font-family: $font-proxima;
      font-size: $font-size-medium;
      color: $dark-grey-blue;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: $font-proxima-weight-semibold;
    }
    .btn-dashboard {
      button {
        color: $btn-grey-color;
        background: transparent;
        border: 0px;
        font-family: $font-proxima;
        font-weight: $font-proxima-weight-semibold;
        font-size: $font-size-large;
        text-transform: capitalize;
        padding: 0;
        img {
          margin-right: 8px;
          margin-top: -2px;
        }
        &:first-child {
          color: $secondary-color;
          margin-right: 45px;
        }
      }
    }
    .gradient-border-image {
      position: relative;
      padding: 5px;
      width: 85px;
      overflow: hidden;
      border-radius: 50% !important;
      height: 85px;
      border-right: 3px solid $secondary-color;
      border-left: 3px solid $primary-color; //border-bottom: 3px solid $secondary-color;
      border-bottom: 3px solid $secondary-color;
      border-top: 3px solid $primary-color;
      border-right-width: 2px;
      border-right-style: solid;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-position: 0 0, 0 100%;
      background-repeat: no-repeat;
      background-size: 100% 20px;
      transition: all 0.5s ease;
      img {
        border-radius: 100%;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      &:hover {
        transition: all 0.5s ease;
        &:after {
          content: " ";
          width: 70px;
          height: 70px;
          position: absolute;
          background: url("../../../../assets/images/icons/icon_camera_white.svg") no-repeat;
          background-color: rgba(0, 0, 0, 0.5);
          top: 5px;
          left: 5px;
          right: 0;
          border-radius: 50%;
          bottom: 0px;
          background-size: 20px;
          background-position: center;
        }
      }
    }
    .selection-cotainer {
      padding: 0.6rem 0;
    }
  }
  .formError {
    width: 100%;
    p {
      margin-top: 8px;
      margin-bottom: 0px;
      color: $danger-color;
      font-size: $font-size-medium;
      font-family: $font-proxima;
      font-weight: $font-weight-mid;
      text-transform: capitalize;
      .send-confirmation {
        color: $secondary-color;
        $font-family: $font-proxima;
        margin-left: 0.57rem;
      }
    }
  }
}
