
@import "../manage-rates.component.scss";
/* - Rate Expiry Warning - */
.sea-alert {
  .alert, .alert-warning {
    font-size: $font-size-medium;
    color: $primary-color;
    margin-top: -1.5rem;
  
    &-icon {
      float: left;
      background: $warning-color;
      border: 1px solid $warning-color;
      padding-left: 0px;
      padding-top: 0px;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 2.025rem;
      text-align: center;
      .icon {
        padding: 4px;
      }
    }
  
    &-text {
      margin-left: 2.1rem;
  
      a {
        margin-left: 0.8rem;
        font-weight: $font-weight-normal;
        text-transform: uppercase;
        color: $text-color-default !important;
  
        .link-hover-grey {
          font-size: 0.8rem;
          font-weight: $font-weight-mid;
        }
      }
    }
  }
}
.rates-grid {
  .rates-action-items {
    display: flex;
    justify-content: flex-end;
  }
}
.rate-expiry-grid {
  background-color: $acc-bg;
  padding: 1.5rem;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;

  .ui-table .table.info-table tbody tr td:last-child {
    margin-right: 1.5rem;
  }
}
.Allfreights {
  .shippingline {
    position: relative;
    &-container {
      position: absolute;
      img {
        width: 1.5rem;
        height: 1.5rem;
        top: 0.75rem;
        position: absolute;
        left: 1rem;
      }
    }
  }
  .btn-refresh {    

    color: $primary-color;
    font-family: $font-proxima;
    font-size: $font-size-medium;
    margin-top: 0.1rem;

    .icon-svg {
      svg {
        fill: $primary-color;
        width: 1rem;
        height: 1rem;        
      }
    }

    &:hover {
      color: $dark-blue-hover;
      transition: 0.8s;         
      overflow: visible;

      svg {
        transform: rotate(-180deg);        
        transition: 0.5s;
      }
       
    }
  }
  .lbl-marketplace {    
      label {
        color: #738593;
        font-size: 0.875rem !important;
        margin-top: 0;
      }
    
  }
  ngb-tabset {
    .add-rate-head {
      font-size: 1.15rem !important;
    }
  }
}
