<div class="container login-page">
    <div class="row">
        <div class="col align-self-center">
            <!-- <div class="login-page-info mb-0 mt-3" [ngStyle]="{'color':'black'}">
                <img class="mt-4" src="{{getUIImage(customerSettings?.customerPrimaryLogo)}}" alt="">
                <h3>Hashmove</h3>
            </div> -->
            <div class="m-container">
              <app-login-dialog *ngIf="isLogin" (onForgetPassClick)="compEventListener($event)"></app-login-dialog>
              <app-forgot-password *ngIf="!isLogin" (onLoginClick)="compEventListener($event)"></app-forgot-password>
            </div>
        </div>
    </div>
</div>
