@import "../../../../../../assets/scss/_variables";

.login-page {
  // background: #f7f8fc;
  .m-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  &-info {
    text-align: center;
    margin: 3rem auto;
    img {
      width: 80px;
      margin-bottom: 1rem;
    }
    font-family: $font-proxima;
    color: $white-color;
  }
}
