<div class="add-container modal-content">
  <div class="modal-header pb-2 pt-2">
    <h4 class="modal-title">
      {{history[0]?.InspectionNature === 'COMMODITY_INSPECTION'?'Commodity Inspection - Status History':'Container Stuffing Inspection - Status History'}}
    </h4>
    <!-- <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button> -->
    <a class="pointer crossIcon" (click)="close()">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close">
    </a>
  </div>
  <div class="modal-body">
    <app-assayer-warehouse-table [data]="history">
    </app-assayer-warehouse-table>
  </div>
</div>