@import "../../../../../../assets/scss/_variables";
.hash-search {
  &-right {
    .share-btn {
      position: absolute;
      right: 8px; // top: -33px;
      top: -0.6rem;
    }
  }
  .shipping-news {
    font-family: $font-proxima;
    margin-bottom: 0.5rem;
    &-company {
      margin-top: 20px;
    }
    .card {
      border: 1px solid $left-sidebar-border-color;
      transition: all ease 0.7s;
      border-radius: 0;
      &-title {
        font-size: $font-size-large + 0.25rem;
        font-family: $font-pragmatica;
        font-weight: $font-weight-mid;
        display: flex;
        justify-content: space-between;
        margin: 0; // flex-direction: column;
        span {
          flex: 1;
          width: fit-content;
        }
      }
      &-body {
        padding: 0.75rem 1.25rem;
        .seperator-l {
          border-left: 1px dashed;
          border-color: rgb(229, 229, 229);
        }
        .promo-caption {
          img,
          svg {
            width: 1rem;
            color: $secondary-color-dark;
            fill: $secondary-color-dark;
            margin-bottom: -3px;
            display: none;
          }
          p {
            font-size: $font-size-medium;
            color: $secondary-color-dark; //font-weight: $font-proxima-weight-semibold;
            font-family: $font-proxima;
            text-align: left;
          }
        }
        .badge-secondary {
          position: absolute;
          top: -8px;
          border-radius: 50px;
          padding: 6px 15px;
          text-transform: uppercase;
          font-size: $font-size-medium;
          font-weight: $font-weight-normal;
          font-family: $font-proxima;
        }
        .badge-success {
          @extend .badge-secondary;
        }
        .logo {
          float: left;
          width: 80px;
          height: 65px;
          text-align: center;
          padding: 8px 0;
          margin: 0 18px 0px 0px;
          border: 1px solid $grey-border;
          &-2 {
            margin-top: 13px;
            width: 45px;
          }
          img {
            width: 100%;
            padding: 0px 2px;
            object-fit: contain;
            height: 40px;
          }
        }
        .verified-logo {
          img.logo-2 {
            margin-top: 0px !important;
          }
        }
        small {
          font-size: $font-size-base;
          font-weight: $font-weight-normal;
          font-family: $font-proxima;
          color: $secondary-text-color;
        }
        .additional-charges {
          color: $text-grey;
          font-size: $font-size-base;
          display: inline-flex;
          p {
            margin-left: 6px;
            margin-bottom: 0px;
          }
        } // button{
        //     background:
        // }

        
        
      }
      &-footer {
        border-top: 1px solid $left-sidebar-border-color !important;
      }
      .wareHouse-min-height {
        min-height: 32.85rem;
    }
      &-text {
        display: block;
      }
      .country-code {
        font-family: $font-pragmatica;
        font-size: $font-size-medium;
        color: $text-color-default;
        font-weight: $font-weight-mid;
        margin-bottom: 4px; //margin-top: 10px;
        &-strike {
          font-size: $font-size-large;
          color: $text-grey;
          font-weight: $font-weight-mid;
          margin: 0;
          text-decoration: line-through;
          margin-bottom: -12px;
        }
      }
      .country-price {
        font-size: $font-size-large + $font-size-large;
        font-family: $font-proxima;
        font-weight: $font-weight-mid;
        color: $text-color-default;
        line-height: 0.8;
      }
      .old-price {
        font-size: 18px;
        font-family: $font-proxima;
        color: $break-down-color;
        margin: 0px 0;
        float: left;
        text-decoration: line-through;
        width: 100%;
        padding-top: 0.5rem;
      }
      .badge.badge-primary {
        background: $primary-color;
        padding: 6px 8px;
        border-radius: 50px;
        font-size: $font-size-base;
        font-weight: 400;
        font-family: $font-proxima;
        margin-right: 5px;
        font-weight: $font-proxima-weight-semibold;
      }
      .badge-image {
        img {
          width: 38px;
        }
      }
      .book-btn {
        font-size: $font-size-large;
        font-family: $font-proxima;
        font-weight: $font-weight-normal;
        text-transform: uppercase;
        margin-top: 10px;
        padding: 0.5rem 1.5rem;
        float: left;
        margin-top: 28px;
        position: relative; // right: 55px;
        // min-width: 144px;
        max-height: 40px; // font-size: $font-size-large;
        // text-transform: uppercase;
        // margin-top: 25px; // border: 0;
        // // border-color: $btn-disable-background !important;
        background: $btn-disable-background !important;
        border-color: #e3e7e9;
        color: $btn-disable-color;
      }
      .icons {
        float: left;
        i {
          font-weight: 500;
          font-size: 1rem;
          margin-right: 12px;
          float: left;
          margin-top: 0.2em;
        }
        img {
          margin-right: 1rem;
          display: inline-flex;
          margin-top: -0.2em;
          width: 1rem;
        }
        label {
          font-size: $font-size-medium;
          margin: 0px;
          font-weight: 500;
        }
      }
      &-footer {
        font-weight: 600;
        font-family: $font-proxima;
        border-top: 1px solid $light-grey-border;
        border-bottom: 0px;
        border-left: 0px;
        border-radius: 0px;
        background: $modal-header-background;
        // .icons {
        //   float: left;
        //   i {
        //     font-weight: 500;
        //     font-size: 1rem;
        //     margin-right: 12px;
        //     float: left;
        //     margin-top: 0.2em;
        //   }
        //   img {
        //     margin-right: 1rem;
        //     display: inline-flex;
        //     margin-top: -0.2em;
        //     width: 1rem;
        //   }
        //   label {
        //     font-size: $font-size-medium;
        //     margin: 0px;
        //     font-weight: 500;
        //   }
        // }
        .route-details {
          text-transform: uppercase;
          float: right;
          font-size: $font-size-base;
          font-family: $font-proxima;
          font-weight: $font-proxima-weight-semibold;
          color: $dark-grey-blue;
          cursor: pointer;
        }
      }
      &:hover {
        border: 1px solid $primary-color;
        box-shadow: 0px 20px 50px 0px rgba(51, 59, 69, 0.15);
        transition: 1s;
        box-shadow: 0px 20px 50px 0px rgba(51, 59, 69, 0.15);
        border: 1px solid $primary-color;
        button {
          background-color: $secondary-color !important;
          border-color: $secondary-color;
          color: $white-color !important;
        }
        border: 1px solid $primary-color;
        .card {
          border: 0px solid $primary-color !important;
        }
      }
    }
    .share-icon {
      position: absolute;
      right: 5px;
      top: -0.625rem;
      width: 16px;
    }
  }
  &.warehousing {
    h5 {
      font-family: $font-proxima;
      font-weight: $font-proxima-weight-semibold;
      color: $text-color-default;
    }
    .hash-search-right {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .shipping-news {
      &-company {
        width: 180px;
        height: 136px;
        float: left;
        margin-right: 28px;
      }
      .card {
        &-header {
          background-color: rgba(0, 0, 0, 0);
          .warehousing-header {
            .icon {
              //margin-top: 1rem;
              position: relative;
              top: .2rem;
            }
            .lable {
              text-transform: uppercase;
              font-size: $font-size-base;
              color: $secondary-grey;
            }
            h4 {
              font-size: $font-size-large;
              color: $text-color-default;
              font-weight: $font-weight-mid;                  
              margin-left: 1.6rem !important;         
            }
          }
        }
        &-body {
          margin-bottom: 1.5rem !important;
          .sqft {
            color: $text-color-default;
            font-size: $font-size-medium;
          }
        }
        &-title {
          margin-bottom: 0.25rem;

          .warehousing-provider-icon {
            width: 54px;
            height: 40px;
            border: 1px solid $light-grey-border;
            padding: 2px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
        .book-btn {
          margin-top: 12px;
        }
        .badge {
          &.badge-primary {
            margin-top: 0px;
            margin-bottom: 10px !important;
          }
        }
        .logo {
          width: 100%;
          height: 100%;
          padding: 0;
          display: inline-block;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
            height: 136px;
            object-fit: cover;
            padding: 0;
          }
          .images-carousel:first-child {
            width: 180px;
            position: relative; //top: 96px;
            height: 140px;
          }
          .gallery-section {
            &-item {
              position: absolute;
              top: 8px;
              right: 5px;
              background: #000000b0;
              color: #fff;
              border-radius: 12px;
              font-weight: $font-weight-bold;
              font-family: $font-proxima;
              font-size: $font-size-base;
              padding: 0.21rem 0.68rem;
            }
          }
        }
        .card {
          border: 0px !important;
        }
      }
    }
    .warehousing-content {
      color: $white-color;
      display: block;
      .share-btn {
        margin-top: -7px;
      }
      display: flex;
      flex-direction: column;
      .list-group {
        flex-direction: row;
        display: flex;
        li {
          border: 0px;
          padding: 0;
          display: flex;
          font-size: $font-size-medium;
          font-family: $font-proxima;
          color: $text-color-default;
          .grey-anc-btn {
            width: 12rem;
            display: flex;
            align-items: flex-end;
            img.icon-size-14 {
              position: relative;
              bottom: 1px;
            }
          }
          /deep/ .tooltip {
            width: 16rem;
            .tooltip-inner {
              width: 16rem;
              max-width: 16rem;
            }
          }
        }
        &.mt-2 {
          li {
            align-items: center;
          }
        }
      }
      /deep/ .popover {
        border: 0;
        &-body {
          background: $white-color;
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2); // width: 240px;
          // height: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          border-radius: 4px;
          .contact-popup {
            transition: 1s all ease;
            a {
              font-size: $font-size-large;
              font-family: $font-proxima;
              margin-bottom: 5px;
              display: block;
              min-width: 180px;
              display: flex;
              // justify-content: end;
              color: $dark-grey-blue;
              transition: 1s all ease;
              &:hover {
                span {
                  color: $primary-color;
                  transition: 1s all ease;
                }
              }
            }
            p {
              font-size: $font-size-large + 0.125rem;
              font-family: $font-proxima;
              margin-bottom: 0;
              text-align: left;
            }
            .link-hover-1 {
              padding-top: 10px;
              &:before {
                top: 28px;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: darken(#2b2b2b, 3%);
                transform: scaleX(0);
              }
              &:hover:before {
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }
  }
  
  &.lcl {
    .warehousing-content,
    .warehousing-provider-icon,
    .gallery-section {
      display: none;
    }
  }  

  .wh-contact  {
    font-size: $font-size-medium;
    font-weight: $font-weight-mid !important;
    text-transform: uppercase;
    font-family: $font-proxima !important;
    color: $secondary-grey !important;
    word-spacing: 3px;
    margin-bottom: 0;
    letter-spacing: 1px;
}
}
.date-control {
  .dateIcon {
    position: relative;
    input {
      padding-left: 2.625rem;
      &::placeholder {
        // font-style: italic;
      }
      &::-ms-input-placeholder {
        // font-style: italic;
      }
      &::-webkit-input-placeholder {
        // font-style: italic;
      }
    }
    &:before {
      content: url("assets/images/icons/Icons_Calendar.svg");
      position: absolute;
      left: 15px;
      top: 14px;
      width: 16px;
      height: 16px;
      z-index: 4;
      opacity: 0.5;
    }
  }
}
.wh-control {
  .wh-spaceIcon {
    position: relative;
    input {
      padding-left: 2.625rem;
      &::placeholder {
        // font-style: italic;
      }
      &::-ms-input-placeholder {
        // font-style: italic;
      }
      &::-webkit-input-placeholder {
        // font-style: italic;
      }
    }
    &:before {
      content: url("assets/images/icons/icon_warehouse.svg");
      position: absolute;
      left: 15px;
      top: 14px;
      width: 16px;
      height: 16px;
      z-index: 4;
      opacity: 0.5;
    }
  }
  .wh-areaIcon {
    position: relative;
    input {
      padding-left: 2.625rem;
      &::placeholder {
        // font-style: italic;
      }
      &::-ms-input-placeholder {
        // font-style: italic;
      }
      &::-webkit-input-placeholder {
        // font-style: italic;
      }
    }
    &:before {
      content: url("assets/images/icons/icon_area.svg");
      position: absolute;
      left: 15px;
      top: 14px;
      width: 16px;
      height: 16px;
      z-index: 4;
      opacity: 0.5;
    }
  }
}

@media #{$mobile} {


  .hash-search.warehousing {
    .shipping-news{
      .card-title {
         width:100%;
      }
    } 
    .warehousing-content {
      width:100%;
    }

  }

}