<div [style.margin-top]="bookingDetails.ShippingModeCode == 'WAREHOUSE' ? '-10px' : '' ">
  <div class="card-title mb-3 mt-2 d-flex justify-content-between align-items-center">
    <h5 class="pointer prevent-text-select">
      <img src="../../../../../../assets/images/icons/icon_info2.svg" class="icon-size-16 mr-1" title="logo">
      BOOKED WAREHOUSE INFORMATION
    </h5>
    <span class="edit-info pointer" *ngIf="!isWarehouseEdit && !isGuestLogin && bookingDetails?.IsScheduleUpdateAllowed"
      (click)="toggleWHEdit()">
      <!-- <span class="edit-info pointer" *ngIf="!isWarehouseEdit && !isGuestLogin" (click)="toggleWHEdit()"> -->
      <span class="edit-title">Edit</span>
      <img src="../../../../../../assets/images/icons/warehouse-edit-icon.svg" class="icon-size-16 mr-1" alt="edit"
        ngbTooltip="Edit" container="body" [placement]="'top'">
    </span>
  </div>
  <div *ngIf="!isWarehouseEdit" class="warehousing-header">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-12" *ngIf="wareHouse?.storageType !=='full'">
        <i class="icon mr-2">
          <svg class="icon-size-16" data-name="Layer 1" id="4a12fca4-e18c-475e-bd3e-22cd7e281a70" viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg">
            <defs>
              <style>
                .\33 949e7c5-f605-4c5e-87a9-b12329243bbe {
                  fill: #738593;
                }

                .\38 d48c0e3-bd07-43c0-8228-4127926f0f37 {
                  fill: #fff;
                }
              </style>
            </defs>
            <g data-name="calendar2" id="8158930b-cef2-4edb-b5e1-ba3f6425e989">
              <path class="3949e7c5-f605-4c5e-87a9-b12329243bbe"
                d="M15,2H3.8A2.8,2.8,0,0,0,1,4.8V16H12.2A2.8,2.8,0,0,0,15,13.2V2Z" data-name="<Compound Path>"
                id="faf814a2-64c6-47f5-af64-79a811794184">
              </path>
              <path class="8d48c0e3-bd07-43c0-8228-4127926f0f37"
                d="M4,4h9a0,0,0,0,1,0,0v6a0,0,0,0,1,0,0H3a0,0,0,0,1,0,0V5A1,1,0,0,1,4,4Z">
              </path>
              <rect class="3949e7c5-f605-4c5e-87a9-b12329243bbe" data-name="<Path>" height="5"
                id="2b57c6dd-e369-4754-b6e3-53be44a39248" width="2" x="5">
              </rect>
              <rect class="3949e7c5-f605-4c5e-87a9-b12329243bbe" data-name="<Path>" height="5"
                id="2f608205-02c1-4439-8b66-12ac37428e6c" width="2" x="9">
              </rect>
            </g>
          </svg>
        </i>
        <span class="lable">Booked From</span>
        <!---->
        <h4 class="">{{wareHouse.StoreFrom | date : "d MMM, y"}}</h4>
        <!---->
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12" *ngIf="wareHouse.storageType !=='full'">
        <!---->

        <i class="icon mr-2">
          <svg class="icon-size-16" data-name="Layer 1" id="4a12fca4-e18c-475e-bd3e-22cd7e281a70" viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg">
            <defs>
              <style>
                .\33 949e7c5-f605-4c5e-87a9-b12329243bbe {
                  fill: #738593;
                }

                .\38 d48c0e3-bd07-43c0-8228-4127926f0f37 {
                  fill: #fff;
                }
              </style>
            </defs>
            <g data-name="calendar2" id="8158930b-cef2-4edb-b5e1-ba3f6425e989">
              <path class="3949e7c5-f605-4c5e-87a9-b12329243bbe"
                d="M15,2H3.8A2.8,2.8,0,0,0,1,4.8V16H12.2A2.8,2.8,0,0,0,15,13.2V2Z" data-name="<Compound Path>"
                id="faf814a2-64c6-47f5-af64-79a811794184">
              </path>
              <path class="8d48c0e3-bd07-43c0-8228-4127926f0f37"
                d="M4,4h9a0,0,0,0,1,0,0v6a0,0,0,0,1,0,0H3a0,0,0,0,1,0,0V5A1,1,0,0,1,4,4Z">
              </path>
              <rect class="3949e7c5-f605-4c5e-87a9-b12329243bbe" data-name="<Path>" height="5"
                id="2b57c6dd-e369-4754-b6e3-53be44a39248" width="2" x="5">
              </rect>
              <rect class="3949e7c5-f605-4c5e-87a9-b12329243bbe" data-name="<Path>" height="5"
                id="2f608205-02c1-4439-8b66-12ac37428e6c" width="2" x="9">
              </rect>
            </g>
          </svg>
        </i>
        <span class="lable">Booked Till</span>
        <!---->
        <h4 class="ml-4">{{wareHouse.StoreUntill | date : "d MMM, y"}}</h4>

      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12" *ngIf="wareHouse.storageType !=='full'">
        <i class="icon mr-2">
          <svg
            *ngIf="(searchCriteria.storageType === 'shared' || searchCriteria.storageType === 'dedicated') && searchCriteria.searchBy !=='by_pallet'"
            class="icon-size-14" data-name="Layer 1" id="daf2a9d0-ed1e-40c3-8dc2-534f350396d2" viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg">
            <defs>
              <style>
                .bf3de19e-df40-4e76-a7cd-2f9395b9693a {
                  fill: #738593;
                }
              </style>
            </defs>
            <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="16 10 10 16 16 16 16 10">
            </polygon>
            <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="0 6 6 0 0 0 0 6">
            </polygon>
            <rect class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" height="21.261"
              transform="translate(-3.314 8) rotate(-45)" width="1.367" x="7.317" y="-2.63">
            </rect>
            <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="2 14 2 9 0 9 0 16 7 16 7 14 2 14">
            </polygon>
            <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="14 2 14 6 16 6 16 0 10 0 10 2 14 2">
            </polygon>
          </svg>
          <svg
            *ngIf="(searchCriteria.storageType === 'shared' || searchCriteria.storageType === 'dedicated') && searchCriteria.searchBy ==='by_pallet'"
            class="icon-size-16" id="91048642-36e2-4f45-83ab-8ceede306ae3" data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <defs>
              <style>
                .\37 e0e4eda-9161-4ec8-8239-38bcf2454e29 {
                  fill: #abb6be;
                }
              </style>
            </defs>
            <title></title>
            <g id="c213bd94-fff4-4595-8851-249fa7716951" data-name="RMdIWM.tif">
              <path class="7e0e4eda-9161-4ec8-8239-38bcf2454e29"
                d="M.013,22.963V18.728c0-.572.02-1.145,0-1.716a21.784,21.784,0,0,1,.4-3.931c.374-2.717.772-5.431,1.161-8.145.185-1.3.373-2.591.561-3.9H21.855c.1.708.206,1.414.307,2.121q.544,3.81,1.09,7.62c.237,1.655.519,3.306.7,4.968a26.438,26.438,0,0,1,.025,2.774q0,2.058,0,4.117v.33H17.991V21.01H6.014v1.953Zm21.945-1.992V17.019H2.031V20.96H4.02V19.011H19.99v1.96Zm-5.037-5.987L16.049,3.04h-3.03V14.984Zm-5.95,0V3.037H7.941L7.069,14.986ZM18.05,3.032l.87,11.947h2.9c-.573-4-1.142-7.969-1.712-11.947ZM5.067,14.98,5.94,3.034H3.884L2.174,14.98Z" />
            </g>
          </svg>
        </i>
        <span class="lable">{{(searchCriteria?.storageType === 'shared' || searchCriteria?.storageType ===
          'dedicated')?'Booked Space ':
          'Approx Space Required'}}</span>
        <ng-container *ngIf="!searchCriteria?.CONT">
          <h4 class="ml-4"
            *ngIf="searchCriteria?.storageType === 'shared' || searchCriteria?.storageType === 'dedicated'">
            {{wareHouse.bookedArea | number : '1.0-0'}}
            <span
              *ngIf="((searchCriteria.searchBy ==='by_unit' || searchCriteria.searchBy ==='by_vol_weight') && (searchCriteria?.storageType === 'shared' || searchCriteria?.storageType === 'dedicated'));else elseShared2">CBM</span>
            <ng-template #elseShared2>
              <span *ngIf="searchCriteria.searchBy === 'by_area'">
                {{searchCriteria.AREA_UNIT | lowercase}}
              </span>
              <span *ngIf="searchCriteria.searchBy === 'by_pallet'">
                PLT
              </span>
            </ng-template>
          </h4>
        </ng-container>
        <ng-container *ngIf="searchCriteria?.CONT">
          <h4 class="ml-4">
            {{searchCriteria?.CONT | number : '1.0-0'}}
            <span>
              {{searchCriteria?.CONT > 1?'Containers':'Container'}}
            </span>
          </h4>
        </ng-container>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-4 col-12" *ngIf="wareHouse.storageType ==='full'">
        <i class="icon mr-2">
          <svg class="icon-size-16" data-name="Layer 1" id="4a12fca4-e18c-475e-bd3e-22cd7e281a70" viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg">
            <defs>
              <style>
                .\33 949e7c5-f605-4c5e-87a9-b12329243bbe {
                  fill: #738593;
                }

                .\38 d48c0e3-bd07-43c0-8228-4127926f0f37 {
                  fill: #fff;
                }
              </style>
            </defs>
            <g data-name="calendar2" id="8158930b-cef2-4edb-b5e1-ba3f6425e989">
              <path class="3949e7c5-f605-4c5e-87a9-b12329243bbe"
                d="M15,2H3.8A2.8,2.8,0,0,0,1,4.8V16H12.2A2.8,2.8,0,0,0,15,13.2V2Z" data-name="<Compound Path>"
                id="faf814a2-64c6-47f5-af64-79a811794184">
              </path>
              <path class="8d48c0e3-bd07-43c0-8228-4127926f0f37"
                d="M4,4h9a0,0,0,0,1,0,0v6a0,0,0,0,1,0,0H3a0,0,0,0,1,0,0V5A1,1,0,0,1,4,4Z">
              </path>
              <rect class="3949e7c5-f605-4c5e-87a9-b12329243bbe" data-name="<Path>" height="5"
                id="2b57c6dd-e369-4754-b6e3-53be44a39248" width="2" x="5">
              </rect>
              <rect class="3949e7c5-f605-4c5e-87a9-b12329243bbe" data-name="<Path>" height="5"
                id="2f608205-02c1-4439-8b66-12ac37428e6c" width="2" x="9">
              </rect>
            </g>
          </svg>
        </i>
        <span class="lable">MINIMUM LEASE TERM</span>
        <!---->
        <h4 class="ml-4"> {{wareHouse.minimumLeaseTerm}}</h4>
        <!---->
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12" *ngIf="wareHouse.storageType ==='full'">
        <!---->
        <i class="icon mr-2">
          <svg class="icon-size-14" data-name="Layer 1" id="daf2a9d0-ed1e-40c3-8dc2-534f350396d2" viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg">
            <defs>
              <style>
                .bf3de19e-df40-4e76-a7cd-2f9395b9693a {
                  fill: #738593;
                }
              </style>
            </defs>
            <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="16 10 10 16 16 16 16 10">
            </polygon>
            <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="0 6 6 0 0 0 0 6">
            </polygon>
            <rect class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" height="21.261"
              transform="translate(-3.314 8) rotate(-45)" width="1.367" x="7.317" y="-2.63">
            </rect>
            <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="2 14 2 9 0 9 0 16 7 16 7 14 2 14">
            </polygon>
            <polygon class="bf3de19e-df40-4e76-a7cd-2f9395b9693a" points="14 2 14 6 16 6 16 0 10 0 10 2 14 2">
            </polygon>
          </svg>
        </i>
        <span class="lable">APPROX SPACE REQUIRED</span>
        <!---->
        <h4 class="ml-4" [innerHTML]="wareHouse.spaceReqWarehouse"></h4>

      </div>

      <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <i class="icon mr-2">
          <svg class="icon-size-16" id="50bc1bd9-6260-46ce-abc5-3554b4ea74d1" data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <defs>
              <style>
                .\38 e809ae0-7b37-42e6-a85e-f361f1832f6d {
                  fill: #fff;
                }

                .\31 c3de07a-0567-419f-859c-c2a6f340c18e {
                  fill: #738593;
                }
              </style>
            </defs>
            <title>Icons</title>
            <g id="43a13e74-76be-4e7c-a77a-222e086eb1dd" data-name="warehouse">
              <g id="95598593-0b07-4049-99d8-9dde2c91ee8c" data-name="&lt;Group&gt;">
                <path id="543a1ef8-9d63-4e8e-a43c-e33c391bf8c7" data-name="&lt;Path&gt;"
                  class="8e809ae0-7b37-42e6-a85e-f361f1832f6d" d="M22,23v-.555A3.959,3.959,0,0,1,20,23Z" />
                <path id="76a7b445-ba52-4a5d-a2dc-da158acee007" data-name="&lt;Path&gt;"
                  class="8e809ae0-7b37-42e6-a85e-f361f1832f6d" d="M2,23H4a3.959,3.959,0,0,1-2-.555Z" />
              </g>
              <path id="e1fcf746-792d-4354-8bc6-17314b2a5e3d" data-name="&lt;Compound Path&gt;"
                class="1c3de07a-0567-419f-859c-c2a6f340c18e"
                d="M22.148,6.457,12,1,1.852,6.457A4,4,0,0,0,0,9.832V19a3.983,3.983,0,0,0,2,3.445V10H22V22.445A3.983,3.983,0,0,0,24,19V9.832A4,4,0,0,0,22.148,6.457ZM15,7H9V5h6Z" />
              <rect id="4f261f44-20ec-4ea9-90c5-9c79149c2390" data-name="&lt;Path&gt;"
                class="1c3de07a-0567-419f-859c-c2a6f340c18e" x="10" y="18" width="4" height="4" />
              <rect id="f420b0a4-076a-4ee1-91c5-b7e42da4e2e9" data-name="&lt;Path&gt;"
                class="1c3de07a-0567-419f-859c-c2a6f340c18e" x="5" y="18" width="4" height="4" />
              <rect id="8970c0b2-6fdc-4ebc-8cc6-3d4ad3f8c163" data-name="&lt;Path&gt;"
                class="1c3de07a-0567-419f-859c-c2a6f340c18e" x="5" y="12" width="4" height="4" />
              <rect id="7ba11457-86cf-4719-b707-7dd0b08eb954" data-name="&lt;Path&gt;"
                class="1c3de07a-0567-419f-859c-c2a6f340c18e" x="10" y="12" width="4" height="4" />
              <rect id="e6df87d8-dd93-41a6-9184-dc1ac2ad8c81" data-name="&lt;Path&gt;"
                class="1c3de07a-0567-419f-859c-c2a6f340c18e" x="15" y="18" width="4" height="4" />
            </g>
          </svg>
        </i>
        <span class="lable">WAREHOUSE TYPE</span>
        <!---->
        <h4 class="ml-4 text-capitalize"> {{wareHouse.storageType}}</h4>
        <!---->
      </div>

    </div>
    <hr class="hr-solid mb-4 mt-0" />
    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-5 col-12 Wcontent">
      <div *ngFor="let doc of wareHouse.parsedGallery; let i = index">
        <div class="gallery-section" *ngIf="i == 0">
          <div class="images-carousel">
            <img [src]="doc.thumb" *ngIf="doc.DocumentUploadedFileType != 'mp4'" alt="thumbnail" />
            <video class="animated fadeIn" controls *ngIf="doc.DocumentUploadedFileType == 'mp4'">
              <source [src]="doc.DocumentFile" type="video/mp4" />
            </video>
            <div class="box-content"></div>
            <div class="gallery-section-item d-flex justify-content-center align-items-center">
              <img src="../../../../assets/images/icons/icon_pictures.svg" alt="count" class="icon-size-14 mr-1" /> {{
              wareHouse.parsedGallery.length }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-1 col-xl-8 col-lg-8 col-md-7 col-sm-7 col-12 Wcontent">
      <h4 class="card-title wareHouse mb-4">{{ wareHouse.WHName }}</h4>
      <div class="warehousing-content">
        <ul class="list-group">
          <li class="list-group-item mr-3">
            <img src="../../../../assets/images/icons/Icons_Location-grey.svg" alt="icon" class="icon-size-16 mr-2" />
            <span>
              {{ wareHouse.Location}}
            </span>
          </li>
          <li class="list-group-item mr-4">
            <img *ngIf="searchCriteria.searchBy !=='by_pallet'" src="../../../../assets/images/icons/icon_grid.svg"
              alt="icon" class="icon-size-16 mr-2" />
            <svg
              *ngIf="(searchCriteria.storageType === 'shared' || searchCriteria.storageType === 'dedicated') && searchCriteria.searchBy ==='by_pallet'"
              class="icon-size-16" id="91048642-36e2-4f45-83ab-8ceede306ae3" data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <defs>
                <style>
                  .\37 e0e4eda-9161-4ec8-8239-38bcf2454e29 {
                    fill: #abb6be;
                  }
                </style>
              </defs>
              <title></title>
              <g id="c213bd94-fff4-4595-8851-249fa7716951" data-name="RMdIWM.tif">
                <path class="7e0e4eda-9161-4ec8-8239-38bcf2454e29"
                  d="M.013,22.963V18.728c0-.572.02-1.145,0-1.716a21.784,21.784,0,0,1,.4-3.931c.374-2.717.772-5.431,1.161-8.145.185-1.3.373-2.591.561-3.9H21.855c.1.708.206,1.414.307,2.121q.544,3.81,1.09,7.62c.237,1.655.519,3.306.7,4.968a26.438,26.438,0,0,1,.025,2.774q0,2.058,0,4.117v.33H17.991V21.01H6.014v1.953Zm21.945-1.992V17.019H2.031V20.96H4.02V19.011H19.99v1.96Zm-5.037-5.987L16.049,3.04h-3.03V14.984Zm-5.95,0V3.037H7.941L7.069,14.986ZM18.05,3.032l.87,11.947h2.9c-.573-4-1.142-7.969-1.712-11.947ZM5.067,14.98,5.94,3.034H3.884L2.174,14.98Z" />
              </g>
            </svg>
            <ng-container *ngIf="searchCriteria.searchBy !=='by_area'">
              {{ wareHouse.TotalCoveredArea }} {{ (searchCriteria?.searchBy !==
                'by_container')?wareHouse.TotalCoveredAreaUnit:(searchCriteria?.CONT)
                > 1?'Containers':'Container' }}
            </ng-container>
            <ng-container *ngIf="searchCriteria.searchBy ==='by_area'">
              {{ wareHouse.TotalCoveredArea }} {{searchCriteria.AREA_UNIT | lowercase}}
            </ng-container>
            <!-- <sup>2</sup> -->
          </li>
        </ul>
        <p class="warehousing-desc mb-1">
          {{ wareHouse.WHDesc | limitTo : 135 }}
        </p>
        <div class="warehouse-features d-flex">
          <ng-container *ngFor="let facilities of wareHouse.FacilitiesProviding">
            <div class="icons" *ngIf="facilities.BusinessLogic == 'IsBondedWarehouse'">
              <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                ngbTooltip="{{(facilities.BusinessLogic == 'IsBondedWarehouse' && facilities.IsAllowed)?'Bonded Warehouse':'No Bonded Warehouse'}}"
                *ngIf="facilities.BusinessLogic == 'IsBondedWarehouse'"
                [ngClass]="{'warehouse-features-active':facilities.BusinessLogic == 'IsBondedWarehouse' &&facilities.IsAllowed}">
                <img
                  src="../../../../assets/images/icons/{{facilities.IsAllowed?'Icons_Warehousing_green':'Icons_Warehousing_Grey_D'}}.svg"
                  alt="footer icon" class="hvr-icon" />
              </span>
            </div>
            <div class="icons" *ngIf="facilities.BusinessLogic == 'IsTemperatureControlAvailable'">
              <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                ngbTooltip="{{(facilities.BusinessLogic == 'IsTemperatureControlAvailable' && facilities.IsAllowed)?'Temp. Control Included':'No Temp. Control Available'}}"
                *ngIf="facilities.BusinessLogic == 'IsTemperatureControlAvailable'"
                [ngClass]="{'warehouse-features-active':facilities.BusinessLogic =='IsTemperatureControlAvailable' && facilities.IsAllowed}">
                <img src="../../../../assets/images/icons/{{facilities.IsAllowed?'Weight-Icon_1':'Weight-Icon_1D'}}.svg"
                  alt="footer icon" class="hvr-icon" />
              </span>
            </div>
            <div class="icons" *ngIf="facilities.BusinessLogic == 'IsTransportAvailable'">
              <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                ngbTooltip="{{(facilities.BusinessLogic == 'IsTransportAvailable' && facilities.IsAllowed)?'Transport Included': 'No Transport Available'}}"
                *ngIf="facilities.BusinessLogic == 'IsTransportAvailable'"
                [ngClass]="{'warehouse-features-active':facilities.BusinessLogic == 'IsTransportAvailable' &&facilities.IsAllowed}">
                <img
                  src="../../../../assets/images/icons/{{facilities.IsAllowed?'Icons_Cargo_Truck_blue':'Icons_Cargo Truck_Gray_D'}}.svg"
                  alt="footer icon" class="hvr-icon" />
              </span>
            </div>
            <div class="icons" *ngIf="facilities.BusinessLogic == 'IsStandByGeneratorAvailable'">
              <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                ngbTooltip="{{(facilities.BusinessLogic == 'IsStandByGeneratorAvailable' && facilities.IsAllowed)?'Standby Generator Included': 'No Standby Generator Available'}}"
                *ngIf="facilities.BusinessLogic == 'IsStandByGeneratorAvailable'"
                [ngClass]="{'warehouse-features-active':facilities.BusinessLogic == 'IsStandByGeneratorAvailable' &&facilities.IsAllowed}">
                <img
                  src="../../../../assets/images/icons/{{facilities.IsAllowed?'IsStandByGeneratorAvailable':'IsStandByGeneratorAvailable_W'}}.svg"
                  alt="footer icon" class="hvr-icon" />
              </span>
            </div>
            <div class="icons" *ngIf="facilities.BusinessLogic == 'IsForkliftAvailable'">
              <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                ngbTooltip="{{(facilities.BusinessLogic == 'IsForkliftAvailable' && facilities.IsAllowed)?'Forklift Included': 'No Forklift Available'}}"
                *ngIf="facilities.BusinessLogic == 'IsForkliftAvailable'"
                [ngClass]="{'warehouse-features-active':facilities.BusinessLogic == 'IsForkliftAvailable' &&facilities.IsAllowed}">
                <img
                  src="../../../../assets/images/icons/{{facilities.IsAllowed?'IsForkliftAvailable':'IsForkliftAvailable_W'}}.svg"
                  alt="footer icon" class="hvr-icon" />
              </span>
            </div>
            <div class="icons" *ngIf="facilities.BusinessLogic == 'IsReachTruckAvailable'">
              <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                ngbTooltip="{{(facilities.BusinessLogic == 'IsReachTruckAvailable' && facilities.IsAllowed)?'ReachTruck Included': 'No ReachTruck Available'}}"
                *ngIf="facilities.BusinessLogic == 'IsReachTruckAvailable'"
                [ngClass]="{'warehouse-features-active':facilities.BusinessLogic == 'IsReachTruckAvailable' &&facilities.IsAllowed}">
                <img
                  src="../../../../assets/images/icons/{{facilities.IsAllowed?'IsReachTruckAvailable':'IsReachTruckAvailable_W'}}.svg"
                  alt="footer icon" class="hvr-icon" />
              </span>
            </div>
            <div class="icons" *ngIf="facilities.BusinessLogic == 'IsStackerAvailable'">
              <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                ngbTooltip="{{(facilities.BusinessLogic == 'IsStackerAvailable' && facilities.IsAllowed)?'Stacker Included': 'No Stacker Available'}}"
                *ngIf="facilities.BusinessLogic == 'IsStackerAvailable'"
                [ngClass]="{'warehouse-features-active':facilities.BusinessLogic == 'IsStackerAvailable' &&facilities.IsAllowed}">
                <img
                  src="../../../../assets/images/icons/{{facilities.IsAllowed?'IsStackerAvailable':'IsStackerAvailable_W'}}.svg"
                  alt="footer icon" class="hvr-icon" />
              </span>
            </div>
            <div class="icons" *ngIf="facilities.BusinessLogic == 'IsCraneAvailable'">
              <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                ngbTooltip="{{(facilities.BusinessLogic == 'IsCraneAvailable' && facilities.IsAllowed)?'Crane Included': 'No Crane Available'}}"
                *ngIf="facilities.BusinessLogic == 'IsCraneAvailable'"
                [ngClass]="{'warehouse-features-active':facilities.BusinessLogic == 'IsCraneAvailable' &&facilities.IsAllowed}">
                <img
                  src="../../../../assets/images/icons/{{facilities.IsAllowed?'IsCraneAvailable':'IsCraneAvailable_W'}}.svg"
                  alt="footer icon" class="hvr-icon" />
              </span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isWarehouseEdit" class="row">
    <div class=" card-body d-flex flex-column">
      <form autocomplete="off" novalidate [formGroup]="warehouseEditForm" class=" pt-2 pb-3"
        (ngSubmit)="updateWarehouse()">
        <ng-container *ngFor="let insControl of whFormControls">
          <!-- <div *ngIf="insControl.isEditable" class="row"> -->
          <div class="row">
            <div class="col-3 col-md-3 col-sm-3 col-xs-12 text-right supplier-text">
              <div class="form-group">
                <label class="mt-2">{{insControl.label | titlecase}}</label>
              </div>
            </div>
            <div class="col-9 col-md-9 col-sm-9 col-xs-12 pl-1">
              <div class="form-group date-control" *ngIf="insControl?.controlType === 'date'">
                <div class="{{insControl.icon}}">
                  <input autocomplete="off" class="form-control" placeholder="Departure Date" name="dp"
                    formControlName="{{insControl.controlName}}" ngbDatepicker [autoClose]="false" [autoClose]="true"
                    (focusout)="validate(insControl)" (dateSelect)="onDateSelect($event, insControl);dp.toggle();"
                    [outsideDays]="true" [navigation]="false" [displayMonths]="2" #dp="ngbDatepicker"
                    (click)="dp.toggle()" />
                </div>
                <span class="animated fadeIn" *ngIf="insControl.hasError">
                  <p class="formError animated fadeIn"
                    *ngIf="warehouseEditForm.controls[insControl.controlName].hasError('required') && (warehouseEditForm.controls[insControl.controlName].dirty || warehouseEditForm.controls[insControl.controlName].touched)">
                    This field is required!</p>
                </span>
              </div>

              <div class="form-group wh-control" *ngIf="insControl?.controlType === 'text'">
                <div class="{{insControl.icon}}">
                  <input type="text" class="form-control" formControlName="{{insControl.controlName}}"
                    [ngClass]="(insControl.hasError)? 'fieldError': ''" (focusout)="validate(insControl)"
                    placeholder="..." (focus)="insControl.hasError=false" />
                </div>
                <span class="animated fadeIn" *ngIf="insControl.hasError">
                  <p class="formError animated fadeIn"
                    *ngIf="warehouseEditForm.controls[insControl.controlName].hasError('required') && (warehouseEditForm.controls[insControl.controlName].dirty || warehouseEditForm.controls[insControl.controlName].touched)">
                    This field is required!</p>
                </span>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="row" *ngIf="!isGuestLogin">
          <div class="col-3 col-md-3 col-sm-3 col-xs-12 text-right supplier-text">
          </div>
          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12 pl-1">
            <div class="row mt-2 pl-5 pr-3">
              <button class="col btn btn-outline-primary hvr-sweep-to-right" type="button"
                (click)="resetForm()">Cancel</button>
              <button type="submit" class="col btn btn-primary hvr-sweep-to-right ml-3">Submit</button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>