@import '../../../../../assets/scss/_variables'; // Local Variables
$departure-fontColor: $secondary-grey;

.multi-airlines {
  .modal-header {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;

    .user-modal-title {
      font-size: 1.375rem;
      font-family: $font-pragmatica;
    }
  }

  .modal-body {
    .company {
      float: left;
      width: 100%;
      display: flex;

      .logo {
        float: left;
        width: 79px;
        height: 62px;
        text-align: center;
        padding: 4px;
        border: 1px solid $grey-border;

        img {
          width: 100%;
          height: 100%;
          padding: 0;
          object-fit: contain;
        }
      }

      .name {
        margin-left: 15px;
        max-width: 70%;
        // height: 98px;
        // line-height: 10px;
        display: flex;
        flex-direction: column;
        align-items: start;
        // justify-content: center;

        h4 {
          font-size: $font-size-large + 0.25;
          font-weight: $font-weight-mid;
          font-family: $font-pragmatica;
          display: inline-block;
          vertical-align: middle;
          line-height: normal;
          margin-bottom: 0.2rem;
        }
      }
      .carrier-name {
        font-size: $font-size-large;
        font-weight: $font-weight-normal;
        font-family: $font-proxima;
      }
      .badge-web {
        margin-left: 15px;
        max-width: 70%;
        height: 80px;
        line-height: 10px;
        // display: flex;
        // // flex-direction: column;
        // align-items: end;
        justify-content: center;

        .badge {
          opacity: 0.7;
        }
      }
    }
    .routes {
      float: left;
      width: 100%;
      margin-top: 6px;

      .route {
        float: left;
        width: 100%;
        color: $text-grey;

        .port {
          width: 40%;
          float: left;
          display: flex;

          img {
            width: 24px;
            min-width: 1.5rem;
            height: 24px;
            margin-right: 8px;
            float: left;
            -webkit-transform: rotate(-24deg) !important;
            transform: rotate(-24deg) !important;
          }

          .air-destination {
            -webkit-transform: rotate(16deg) !important;
            transform: rotate(16deg) !important;
          }

          strong {
            font-weight: $font-proxima-weight-semibold;
            font-family: $font-proxima;
            color: $text-color-default;
            font-size: $font-size-base;
            width: 100%;
            display: block;
            margin-top: 5px;
            line-height: 1;
          }

          small {
            font-size: $font-size-base;
            color: $text-grey;
            word-break: break-word;
          }

          &-detail {
            line-height: 0.9;
            float: left;
            width: 118px;
            .alert-small {
              color: $danger-color;
              opacity: 0.7;
            }
          }

          &.text-truncate {
            position: relative;
            left: 25px;
          }

          &:first-child {
            // width: 125px;
            padding-left: 1rem;

            .port-detail {
              width: 70px;
            }
          }

          &:last-child {
            padding-left: 1rem;
          }
        }

        .arrows {
          float: left;
          width: 20%;
          text-align: center;
          display: flex;
          flex-direction: column;

          .days {
            width: 75px;
          }
        }

        &.air {
          .port.air {
            img {
              transform: rotate(-12deg);
            }
          }
        }
      }

      .days {
        @extend .route;
        text-align: center;
        font-weight: $font-weight-mid;
        color: $secondary-text-color;
        font-family: $font-proxima;
        width: 86%;
        font-size: $font-size-medium;
      }
    }

    .lable {
      font-size: 0.75rem;
      font-weight: $font-weight-mid;
      text-transform: uppercase;
      color: $departure-fontColor;
      font-family: $font-proxima;
    }
    h4 {
      // font-size: $base-font-size + 2;
      // font-weight: $font-weight-mid;
      // font-family: $font-proxima;
      padding-left: 28px;
      font-size: $font-size-base;
      font-weight: $font-weight-mid;
      font-family: $font-pragmatica;
      color: $text-color-default;
    }
    .icon {
      width: 18px;
      height: 18px;
      float: left;
      margin: 4px 10px 20px 0;
      padding: 1px;
      fill: $departure-fontColor;
    }
    .carrier-logo {
      height: 2rem;
      margin-right: 1rem;
      max-width: 4rem;
      object-fit: contain;
    }
  }
}
