<div class="multi-airlines">
  <div class="user-modal animated fadeIn">
    <div class="modal-header">
      <h4 class="user-modal-title mt-2">Multiple Airlines</h4>
      <a class="pointer crossIcon" (click)="closeModal()">
        <img src="../../../../../assets/images/icons/icon_close.svg" alt="close" style="width: 1rem;">
      </a>
    </div>
    <div class="modal-body">
      <div *ngFor="let data of airlines">
        <div class="row">
          <div class="col-12">
            <div class="company">
              <div class="name">
                <span class="carrier-name"><img src="{{getCarrierImage(data?.CarrierImage)}}" class="carrier-logo"
                    alt="">
                  <span>{{data?.CarrierName}}</span></span>
                <span class="badge badge-pill hashmove-badge-primary text-capitalize mt-2">{{data.ProductName}}</span>
              </div>
              <div class="badge-web">
                <span class="badge hashmove-badge-primary-grey mt-1">{{data?.AircraftTypeCode}}</span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="routes">
              <div class="route air">
                <div class="port"><img alt="" src="../../../../../assets/images/icons/air-lcl-grey.svg">
                  <div class="port-detail"><strong
                      placement="top">{{data?.PolCode?.split(' ')[1]}}</strong><small>{{data.PolName}}</small></div>
                </div>
                <div class="arrows">
                  <div class="days">
                  </div><img class="step-arrow" src="../../../../../assets/images/icons/step-arrow.svg">
                </div>
                <div class="port"><img alt="" class="air-destination"
                    src="../../../../../assets/images/icons/air-lcl-grey.svg">
                  <div class="port-detail"><strong
                      placement="top">{{data?.PodCode?.split(' ')[1]}}</strong><small>{{data.PodName}}</small></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <app-via-port style="width: 100%;" *ngIf="data?.JsonPortVia?.length > 1" [viaPorts]="data?.JsonPortVia"></app-via-port>
          </div>
          <div class="col-12 mt-2">
            <div class="col-md-4">
              <i class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" id="3c57c4c3-2d9a-4ba4-9b1e-b5f326e90531" data-name="Layer 1"
                  viewBox="0 0 16 16">
                  <path class="91fdb950-2485-4a99-894d-1df78ec78575"
                    d="M8,0A6.622,6.622,0,0,0,1.5,6.737C1.5,10.458,8,16,8,16s6.5-5.542,6.5-9.263A6.622,6.622,0,0,0,8,0ZM8,8a2,2,0,1,1,2-2A2,2,0,0,1,8,8Z" />
                </svg>
              </i>
              <span class="lable">Transit</span>

              <h4>
                <ng-container *ngIf="data?.MinTransitDays === data?.MaxTransitDays">
                  <span *ngIf="data?.MinTransitDays">{{data?.MinTransitDays}}</span>
                  <span *ngIf="data?.MaxTransitDays || data?.MinTransitDays">&nbsp;Days</span>
                </ng-container>

                <ng-container *ngIf="data?.MinTransitDays !== data?.MaxTransitDays">
                  <span *ngIf="data?.MinTransitDays">{{data?.MinTransitDays}}</span>
                  <span *ngIf="data?.MinTransitDays && data?.MaxTransitDays">-</span>
                  <span *ngIf="data?.MaxTransitDays">{{data?.MaxTransitDays}}</span>
                  <span *ngIf="data?.MaxTransitDays || data?.MinTransitDays">&nbsp;Days</span>
                </ng-container>
              </h4>
            </div>
          </div>
        </div>
        <hr>
      </div>


    </div>

  </div>
</div>