<div class="update-bl modal-content">
  <div class="modal-header">
    <h4 class="modal-title"> Update {{type === 'BL_NO'?blText:'Container'}} No.</h4>
    <button type="button" class="close" aria-label="Close" (click)="close(null)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="blForm">
      <div class="form-group">
        <label for="Container1">Please provide {{type === 'BL_NO'?blText:'Container'}} no. for this booking</label>
        <input class="form-control" placeholder="Enter {{type === 'BL_NO'?blText:'Container'}} no." [maxLength]="50"
          formControlName="blNo">
        <small style="color: grey;">Minimum 9 and Maximum 16 characters</small>
      </div>
      <img *ngIf="blForm.controls.blNo.value" src="../../../../assets/images/icons/icon_del_round.svg"
        alt="delete-icon" class="icon-size-13 delete-ic-blNo pointer" (click)="removeFormData('blNo')">
      <ng-container *ngIf="type === 'BL_NO'">
        <div class="form-group">
          <label for="Container1">{{blText}} Date</label>
          <input class="form-control departure-date" [autoClose]="false" readonly id="hashDatepicker"
            [outsideDays]="false" formControlName="blDate" placeholder="Date" name="dp" [displayMonths]="1"
            [navigation]="false" [showWeekNumbers]="false" [minDate]="minDate" ngbDatepicker [placement]="'bottom'"
            #depDate="ngbDatepicker" (click)="depDate.toggle();$event.stopPropagation();"
            (document:click)="closeFix($event, depDate)" (focus)="isDepartureInValid = false" />
        </div>
        <img *ngIf="blForm.controls.blDate.value" src="../../../../assets/images/icons/icon_del_round.svg"
          alt="delete-icon" class="icon-size-13 delete-ic-date pointer" (click)="removeFormData('blDate')">
      </ng-container>
      <button *ngIf="!loading" type="submit" class="btn btn-primary hvr-sweep-to-right pull-right submit-btn mt-2"
        [disabled]="blForm?.invalid" (click)="saveAction()">Update
      </button>
      <button *ngIf="loading" class="btn btn-primary hvr-sweep-to-right pull-right submit-btn mt-2"
        [disabled]="blForm?.invalid">
        <i class="fa fa-spinner fa-spin"></i>
      </button>
    </form>
  </div>
</div>