@import "../../../../assets/scss/_variables";

.update-bl {
    // width: 460px;
    .delete-ic-blNo {
        position: absolute;
        right: 10px;
        top: 3.2rem;
        // display: none;
    }
    .delete-ic-date {
        position: absolute;
        right: 10px;
        top: 170px;
        // display: none;
    }
    .modal-header {
        .modal-title {
            font-family: $font-proxima;
            font-size: 1.25rem;
            font-weight: $font-proxima-weight-semibold;
        }
    }

    .submit-btn {
        width: 200px;
        height: 47px;
        text-transform: uppercase;
    }
}
