@import "../../../../../assets/scss/_variables";

// $wizard-border-color: #dee2e6 !default;
$wizard-color-neutral: #dee2e6 !default;
$wizard-color-active: $primary-color !default;
$wizard-color-complete: $secondary-color !default;
$wizard-container-width: 100% !default;
$wizard-step-width-height: 32px !default;
$wizard-step-font-size: $font-size-base !default;
$wizard-box-bgcolor: #f3f4f7 !default;
$wizard-caption-font-size: 0.7rem !default;
$wizard-box-title: $primary-grey !default;
$wizard-invoice-number-color: $white-color !default;

.pop-border-btm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.popoverX {
  h5 {
    color: $color-white;
  }
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  // background: $shipping-subcar-active;
  padding: 1rem 2rem 0;
  box-shadow: none !important;
  border: 0;
  border-radius: 0;
  background: $shipping-subcar-active;
  // max-width: 450px;
  width: 20rem;
  animation: fadeIn 0.7s ease-in;
  .popover-detail {
    &-title {
      font-family: $font-proxima;
      font-size: $font-size-base;
      color: $heading-light-color;
      font-weight: $font-weight-mid;
      text-transform: uppercase;
      text-transform: uppercase;
    }
    &-value {
      font-size: 0.7rem;
      font-family: $font-pragmatica;
      font-weight: $font-weight-mid;
      color: $white-color;
    }
  }
  .arrow {
    margin-left: -8px;
    &:after {
      border-top-color: #233748;
    }
  }
}

.invoice-card {
  .invoice-head-spacing {
    margin-left: 4.5rem;
    margin-right: 4rem;
  }
  .invoice-heading {
    .payments-item {
      // font-family: Pragmatica;
      // font-weight: 300;
      font-size: 0.8rem;
      padding: 0.1rem 0.5rem;
      color: #738593;
      display: flex;
      cursor: pointer;
    }

    .icons-size-16 {
      width: 16px !important;
      height: 16px !important;
    }

    .icons-size-22 {
      width: 18px !important;
      height: 18px !important;
    }
    .solid-line {
      margin: 0;
      color: inherit;
      background-color: currentColor;
      border: 0;
      opacity: 0.1;
    }
  }
  /*=====================Tooltip: START========================*/
  .hm-popover {
    cursor: pointer;
    -webkit-transform: translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */

    .status-heading {
      line-height: 22px;
    }
    .status-text {
      line-height: 10px;
    }
    .hm-tooltip {
      color: $white-color;
      font-family: $font-proxima;
      font-size: $font-size-medium;
      font-weight: $font-weight-mid;
      min-height: 5rem;
      min-width: 25rem;
      // position: absolute;
      background: rgba(43, 43, 43, 0.9);
      bottom: 100%;
      color: $white-color;
      display: block;
      left: -11.4rem;
      margin-bottom: 15px;
      opacity: 0;
      padding: 1rem;
      pointer-events: none;
      position: absolute;
      z-index: 999;
      border-radius: 0.25rem;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px);
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      -ms-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
      -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);

      /* This bridges the gap so you can mouse into the tooltip without it disappearing */
      &:before {
        bottom: -20px;
        content: " ";
        display: block;
        height: 20px;
        left: 0;
        position: absolute;
        width: 100%;
      }
      /* CSS Triangles - see Trevor's post */
      &:after {
        border-left: solid transparent 10px;
        border-right: solid transparent 10px;
        border-top: solid rgba(43, 43, 43, 0.9) 10px;
        bottom: -10px;
        content: " ";
        height: 0;
        left: 50%;
        margin-left: -13px;
        position: absolute;
        width: 0;
      }
      &-last {
        left: -18rem !important;
        &:after {
          left: 76%;
        }
      }
      h5 {
        color: $white-color;
        font-family: $font-proxima;
        font-size: $font-size-large + 0.2rem;
        font-weight: $font-weight-mid;
        margin-bottom: 0.5rem;
      }
      p {
        color: $white-color;
        font-family: $font-proxima;
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        // line-height: 1.5;
      }
    }
    &:hover {
      .hm-tooltip {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
      }
    }
  }
  /*=======================Tooltip: END========================*/
  .footer-actions {
    .grey-sm-txt {
      color: $dark-grey-blue;
      font-size: $font-size-base - 0.05rem;
      font-family: $font-proxima;
      font-weight: $font-weight-normal;
      text-transform: capitalize;
    }
    &.view-detail {
      color: $secondary-grey;

      span {
        &:before,
        &:after {
          color: $secondary-grey;
        }
        &.link-hover-1 {
          &:before {
            background: darken($secondary-grey, 3%);
          }
          &:hover:before {
            transform: scaleX(1);
          }
        }
      }
    }

    span {
      position: relative;
      text-decoration: none;
      // line-height: 20px;
      width: auto;
      &:before,
      &:after {
        color: $secondary-grey;
        content: "";
        position: absolute;
        transition: transform 0.3s ease;
      }
      &.link-hover-1 {
        padding-top: 0px;
        cursor: pointer;
        &:before {
          top: 18px;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background: darken($secondary-grey, 3%);
          transform: scaleX(0);
        }
        &:hover:before {
          transform: scaleX(1);
        }
      }
    }
    i {
      margin-left: 0rem; //0.35rem
    }
  }
  .actions-btn {
    a {
      font-size: $font-size-medium;
      font-family: $font-proxima;
      font-weight: $font-weight-mid;
      text-decoration: none !important;

      &.await-quotes {
        color: $danger-color;

        span {
          font-weight: $font-proxima-weight-semibold;
          // text-transform: uppercase;
          &:before,
          &:after {
            color: $danger-color;
          }
          &.link-hover-1 {
            text-decoration: none !important;
            &:before {
              background: darken($danger-color, 3%);
              transform: scaleX(1);
            }
            &:hover:before {
              transform: scaleX(1);
            }
          }
        }
      }

      &.view-details {
        color: $secondary-color;

        span {
          font-weight: $font-proxima-weight-semibold;
          // text-transform: uppercase;
          &:before,
          &:after {
            color: $secondary-color;
          }
          &.link-hover-1 {
            text-decoration: none !important;
            &:before {
              background: darken($secondary-color, 3%);
              transform: scaleX(1);
            }
            &:hover:before {
              transform: scaleX(1);
            }
          }
        }
      }

      &.view-docs {
        color: $color-white;
        span {
          font-weight: $font-proxima-weight-semibold;
          text-transform: none;
          font-size: 0.75rem !important;
          &:before,
          &:after {
            color: $color-white;
          }
          &.link-hover-1 {
            text-decoration: none !important;
            &:before {
              top: 27px !important;
              background: darken($color-white, 3%);
              transform: scaleX(1);
            }
            &:hover:before {
              transform: scaleX(1);
            }
          }
        }
      }

      span {
        position: relative;
        text-decoration: none;
        line-height: 24px;
        width: auto;
        &:before,
        &:after {
          color: $secondary-color;
          content: "";
          position: absolute;
          transition: transform 0.3s ease;
        }
        &.link-hover-1 {
          padding-top: 13px;
          cursor: pointer;
          &:before {
            top: 30px;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: darken($secondary-color, 3%);
            transform: scaleX(0);
          }
          &:hover:before {
            transform: scaleX(1);
          }
        }
      }
      i {
        margin-left: 0rem; //0.35rem
      }
    }
  }
  .sch-btn {
    font-weight: 500;
    font-size: $root-font-size;
    // color: $secondary-color; //$secondary-grey
    text-transform: uppercase;
    // text-decoration: underline !important;
    animation: 1.25s ease-in-out infinite alternate-reverse text-glow;
    // text-decoration: underline !important;
    .sch-text {
      text-transform: capitalize;
      float: right;
      font-size: $font-size-base;
      font-family: $font-proxima;
      font-weight: $font-proxima-weight-semibold;
      color: $dark-grey-blue;
      cursor: pointer;
    }
    .route-ship {
      width: 1.25rem;
      height: 1.25rem;
      margin: 0 auto;
      //.path-ship
      .ship-animate {
        width: 1.25rem;
        height: 1.25rem;
        margin: 0 auto;
        fill: $secondary-color !important;
        -webkit-text-fill-color: $secondary-color;
        animation-delay: 1s;

        animation: movingship-ltr 0.5s alternate linear both;
        -moz-animation: movingship-ltr 0.5s alternate linear both;
        -o-animation: movingship-ltr 0.5s alternate linear both;
        -webkit-animation: movingship-ltr 0.5s alternate linear both;

        .rect-1,
        .rect-2,
        .rect-3,
        .rect-4,
        .rect-5,
        .rect-6 {
          animation: movingship 0.4s alternate linear both;
          -moz-animation: movingship 0.4s alternate linear both;
          -o-animation: movingship 0.4s alternate linear both;
          -webkit-animation: movingship 0.4s alternate linear both;
        }
        .rect-1 {
          animation-delay: 0.2s;
        }

        .rect-2 {
          animation-delay: 0.3s;
        }

        .rect-3 {
          animation-delay: 0.4s;
        }

        .rect-4 {
          animation-delay: 0.5s;
        }

        .rect-5 {
          animation-delay: 0.6s;
        }

        .rect-6 {
          animation-delay: 0.7s;
        }
      }
      // svg.ship-animate {
      //   fill: #a3afb8 !important;
      //   -webkit-text-fill-color: #a3afb8;
      // }

      @-webkit-keyframes movingship {
        0%,
        25% {
          opacity: 0;
        }

        26% {
          transform: translate3d(0, 25%, 0);
          -webkit-transform: translate3d(0, 25%, 0);
          -o-transform: translate3d(0, 25%, 0);
          -ms-transform: translate3d(0, 25%, 0);
        }

        100% {
          transform: translate3d(0, 0%, 0);
          -webkit-transform: translate3d(0, 0%, 0);
          -o-transform: translate3d(0, 0%, 0);
          -ms-transform: translate3d(0, 0%, 0);
        }
      }

      @keyframes movingship {
        0%,
        25% {
          opacity: 0;
        }

        26% {
          transform: translate3d(0, 25%, 0);
          -webkit-transform: translate3d(0, 25%, 0);
          -o-transform: translate3d(0, 25%, 0);
          -ms-transform: translate3d(0, 25%, 0);
        }

        100% {
          transform: translate3d(0, 0%, 0);
          -webkit-transform: translate3d(0, 0%, 0);
          -o-transform: translate3d(0, 0%, 0);
          -ms-transform: translate3d(0, 0%, 0);
        }
      }

      @-webkit-keyframes movingship-3 {
        0%,
        25% {
          opacity: 0;
        }

        26% {
          transform: translate3d(0, 25%, 0);
          -webkit-transform: translate3d(0, 25%, 0);
          -o-transform: translate3d(0, 25%, 0);
          -ms-transform: translate3d(0, 25%, 0);
        }

        100% {
          transform: translate3d(0, 0%, 0);
          -webkit-transform: translate3d(0, 0%, 0);
          -o-transform: translate3d(0, 0%, 0);
          -ms-transform: translate3d(0, 0%, 0);
        }
      }

      @keyframes movingship-3 {
        0%,
        25% {
          opacity: 0;
        }

        26% {
          transform: translate3d(0, 25%, 0);
          -webkit-transform: translate3d(0, 25%, 0);
          -o-transform: translate3d(0, 25%, 0);
          -ms-transform: translate3d(0, 25%, 0);
        }

        100% {
          transform: translate3d(0, 0%, 0);
          -webkit-transform: translate3d(0, 0%, 0);
          -o-transform: translate3d(0, 0%, 0);
          -ms-transform: translate3d(0, 0%, 0);
        }
      }

      @-webkit-keyframes movingship-ltr {
        0% {
          transform: translate3d(0%, 25%, 0);
          -webkit-transform: translate3d(0%, 25%, 0);
          -o-transform: translate3d(0%, 25%, 0);
          -ms-transform: translate3d(0%, 25%, 0);
        }

        100% {
          transform: translate3d(0%, 0, 0);
          -webkit-transform: translate3d(0%, 0, 0);
          -o-transform: translate3d(0%, 0, 0);
          -ms-transform: translate3d(0%, 0, 0);
        }
      }

      @keyframes movingship-ltr {
        0% {
          transform: translate3d(0%, 25%, 0);
          -webkit-transform: translate3d(0%, 25%, 0);
          -o-transform: translate3d(0%, 25%, 0);
          -ms-transform: translate3d(0%, 25%, 0);
        }

        100% {
          transform: translate3d(0%, 0, 0);
          -webkit-transform: translate3d(0%, 0, 0);
          -o-transform: translate3d(0%, 0, 0);
          -ms-transform: translate3d(0%, 0, 0);
        }
      }
    }
    // i {
    //   -webkit-border-radius: 50%;
    //   -moz-border-radius: 50%;
    //   -ms-border-radius: 50%;
    //   border-radius: 50%;
    //   animation: bounce 2s infinite;
    //   -webkit-animation: bounce 2s infinite;
    //   -moz-animation: bounce 2s infinite;
    //   -o-animation: bounce 2s infinite;
    // }
    @-webkit-keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        -webkit-transform: translateY(0);
      }
      40% {
        -webkit-transform: translateY(-12px);
      }
      60% {
        -webkit-transform: translateY(-8px);
      }
    }

    @-moz-keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        -moz-transform: translateY(0);
      }
      40% {
        -moz-transform: translateY(-12px);
      }
      60% {
        -moz-transform: translateY(-8px);
      }
    }

    @-o-keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        -o-transform: translateY(0);
      }
      40% {
        -o-transform: translateY(-12px);
      }
      60% {
        -o-transform: translateY(-8px);
      }
    }
    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-12px);
      }
      60% {
        transform: translateY(-8px);
      }
    }
  }

  .price-container {
    display: flex !important;
    flex-direction: column;
    .sub-price-container {
      display: flex;
      align-items: center;
      align-self: flex-end;
      span {
        color: $text-color-default !important;
      }
      .tot-amount {
        margin-left: 0 !important;
      }
      .sub-unit {
        font-size: 0.6rem !important;
        font-weight: normal;
      }
    }
  }

  .per-total-amount {
    font-size: 0.9rem;
    // font-weight: 600;
    font-weight: normal;
    font-weight: normal;
    margin-top: 0.1rem;
    color: $secondary-grey;
    .tot {
      // font-weight: normal !important;
    }
  }
  .per-price {
    font-size: 1.45rem;
    font-weight: 500;
    color: #00a0df;
    .sub {
      color: $secondary-grey !important;
    }
  }
  .hide-line li {
    a {
      border: none !important;
    }
  }
  .commodity-details {
    .icon {
      width: 18px;
      height: 18px;
      float: left;
      margin: 4px 10px 20px 0;
      padding: 1px;
      fill: $secondary-grey;
    }
    .carrier-logo {
      margin-right: 12px;
      text-align: center;
      float: left;
      width: 16px;
      height: 16px;
      margin-top: 4px;
      overflow: hidden;
      background-color: transparent;
      position: relative;
      img {
        margin: 0;
        top: 23%;
        left: 14%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-12%, -20%);
        width: 100%;
        position: absolute;
      }
    }
    .col-md-4 {
      padding: 15px 15px 20px;
    }
    .lable {
      font-size: $font-size-base !important;
      font-weight: $font-weight-normal;
      text-transform: uppercase;
      color: $secondary-grey;
      font-family: $font-proxima;
    }
    h4 {
      padding-left: 28px;
      font-size: $font-size-large;
      font-weight: $font-weight-mid;
      font-family: $font-pragmatica;
      color: $text-color-default;
    }
    p {
      margin-left: 1.7rem;
      font-weight: $font-weight-mid;
      color: $text-color-default;
      font-family: $font-proxima;
    }
  }
  .quote-card {
    // border: 1px solid $secondary-color !important;
  }
  .card {
    border: 1px solid $booking-card-border;

    &-header {
      background: $white-color;
      align-items: center;
      border-bottom: 1px solid $booking-card-border;
      padding: 0.4rem 1.125rem 0.4rem 4.5rem;
      height: 46px;

      h5 {
        font-size: $font-size-large;
        color: $primary-color;
        font-family: $font-proxima;
        font-weight: $font-proxima-weight-semibold;
        margin-bottom: 0.2rem !important;

        .acc-icon {
          margin-left: 7px;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: ease-in 0.5s;
          transition: ease-in 0.5s;
          font-size: 0.65rem;
          color: $primary-color;
        }
        // &:hover {
        //   .acc-icon {
        //     -webkit-transform: rotate(-180deg);
        //     transform: rotate(-180deg);
        //     margin-right: 30px;
        //     color: $wizard-box-title;
        //   }
        // }
      }

      .book-dtl-active {
        .acc-icon {
          -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
          margin-right: 30px;
        }
      }

      p {
        line-height: 1;
        font-size: 0.66rem;
        // font-size: $font-size-base;
        color: $text-grey;
        font-family: $font-proxima;
        font-weight: $font-weight-normal;

        .special-request-badge {
          // position: relative;
          // top: -8px;
          position: absolute;
          top: -1px;
          right: 0.255rem;
        }

        &.special-request-text {
          // margin-top: -5px;
          margin-top: 0px;
        }
      }

      &-icon {
        position: absolute;
        z-index: 0;

        &:after {
          content: " ";
          width: 0;
          height: 0;
          border-top: 22px solid transparent;
          border-bottom: 22px solid transparent;
          border-left: 10px solid $secondary-color;
          position: absolute;
          left: 48px;
          top: 0px;
          z-index: -1;
        }

        &:before {
          content: " ";
          width: 48px;
          height: 45px;
          position: absolute;
          background: $secondary-color;
          left: 0;
          top: 0px;
          z-index: -1;
        }

        img.icon-size-24 {
          position: relative;
          top: 10px;
          left: 14px;
        }
      }
    }

    &-body {
      min-height: 150px;
      // overflow: hidden;
      .right-arrow {
        transition: all 0.7s ease;

        &:before {
          content: "";
          height: 70px;
          width: 1px;
          background: #6c757d2b;
          position: absolute;
          transform: rotate(35deg);
          top: 51px;
          right: 48px;
          z-index: 999;
          transition: all 0.7s ease;
        }

        &:after {
          content: "";
          height: 70px;
          width: 1px;
          background: #6c757d2b;
          position: absolute;
          transform: rotate(-35deg);
          top: -6px;
          z-index: 999;
          right: 48px;
          transition: all 0.7s ease;
        }
      }

      .border-right {
        border-right: 1px solid $grey-border;
      }
    }

    .quote-header {
      padding: 0.4rem 1.125rem 0.4rem 0.5rem;

      .special-request-badge {
        position: relative;
        top: 6px;
      }
      p {
        &.special-request-text {
          margin-top: 0px;
        }
      }
    }
    .quotes-body {
      background-color: $select-background;
      padding: 0.85rem 0.75rem 0.4rem;
      overflow: hidden;
    }

    &-footer {
      background: $white-color;
      border-top: 1px solid rgba(222, 226, 230, 0.48);
      .booking-status {
        // margin-top: 2px;

        label {
          color: $dark-grey-blue;
          font-size: $font-size-base;
          font-family: $font-proxima;
          font-weight: $font-proxima-weight-semibold;
          text-transform: uppercase;
          margin: 0;
        }

        .badge {
          label {
            font-size: $font-size-base;
            color: $secondary-text-color;
            text-transform: capitalize;
          }
        }

        .actions {
          display: flex;
          flex-direction: row;
          font-family: $font-proxima;
          font-size: $font-size-medium;
          justify-content: flex-end;

          a {
            font-weight: bold;
            text-decoration: underline !important;
          }
          a.discard {
            font-weight: 600;
            font-size: $font-size-medium;
            color: $secondary-grey;
            animation: none;
            text-decoration: underline !important;
          }
          a.quotes {
            font-weight: 600;
            font-size: $font-size-medium;
            color: $secondary-color;
            animation: ease-in-out;
            transition: ease-in 0.5s;
            text-decoration: underline !important;
            text-transform: uppercase;

            .fa-angle {
              &-up {
                transform: rotate(-1deg);
                transition: ease-in 0.5s;
                transition-duration: 0.5s;
              }
              &-down {
                transform: rotate(1deg);
                transition: ease-in 0.5s;
                transition-duration: 0.5s;
              }
            }
          }
          .ic-download {
            a {
              &::after {
                display: none;
              }
            }
          }
          .quote-request {
            position: relative;
            width: 1.4rem;
            height: 1.4rem;
            float: right;
            margin-right: 0.5rem;

            svg {
              width: 1.4rem;
              height: 1.4rem;
              opacity: 0.8;
              margin-top: -0.25rem;
              // animation:ring 1.8s linear infinite;
            }
            svg > path {
              fill: $color-default-svg;
            }
            &:hover {
              svg {
                opacity: 1;
                transition: all ease 0.7s;

                & > path {
                  fill: $secondary-color-dark;
                }
              }
            }
          }
          .quote-request--numb {
            position: absolute;
            top: 20%;
            left: 60%;
            font-size: 0.875rem;
            border-radius: 50%;
            width: 1.15rem;
            height: 1.15rem;
            background-color: $secondary-color;
            border: 0px solid $secondary-color;
            color: $white-color;
            text-align: center;
            line-height: 1.4em;
            // -webkit-animation: notification 3.2s ease;
            // animation: notification 3.2s ease;
          }
        }
      }

      /* WIZARD CARD */
      .wizard-box {
        padding: 0.75rem 0;
        // background: $wizard-box-bgcolor;
        margin-bottom: 0.25rem;
        border-radius: 0.25rem;
        border-bottom: solid 1px $wizard-box-bgcolor;

        h6 {
          margin-bottom: 0;
          color: $wizard-box-title;
          text-transform: uppercase;
          font-size: $font-size-medium;
          font-weight: $font-weight-mid;

          .acc-icon {
            margin-left: 7px;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: ease-in 0.5s;
            transition: ease-in 0.5s;
            font-size: 0.65rem;
            color: $color-icon-grey;
          }
        }

        &:hover {
          // background: linear-gradient(-45deg, #738593, #00a2df, #02bdb6);
          // background-size: 400% 400%;
          // border-bottom: solid 1px linear-gradient(-45deg, #738593, #00a2df, #02bdb6);
          animation: animated-gradient 15s ease infinite;

          h6 {
            color: $wizard-box-title;

            .acc-icon {
              // -webkit-transform: rotate(180deg);
              // transform: rotate(180deg);
              // margin-right: 30px;
              color: $wizard-box-title;
            }
          }
        }
      }
      .inv-active {
        // background: linear-gradient(-45deg, #738593, #00a2df, #02bdb6);
        // background-size: 400% 400%;
        // border-bottom: solid 1px linear-gradient(-45deg, #738593, #00a2df, #02bdb6);
        animation: animated-gradient 15s ease infinite;

        h6 {
          margin-bottom: 0;
          color: $wizard-box-title;

          .acc-icon {
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
            margin-right: 30px;
            color: $wizard-box-title;
          }
        }
      }
      #wizard-progress {
        width: $wizard-container-width;
        margin: 1rem auto 0 auto;
        padding: 0.75rem 0;
        // overflow: hidden;

        .invoice-number {
          color: $wizard-invoice-number-color;
          font-size: $font-size-base;
          font-weight: $font-weight-mid;
          background-color: $primary-color;
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          padding-right: 1rem;
        }

        .step-indicator {
          border-collapse: separate;
          display: table;
          margin-left: 0px;
          position: relative;
          table-layout: fixed;
          text-align: center;
          vertical-align: middle;
          padding-left: 0;
          width: 100%;

          li {
            display: table-cell;
            position: relative;
            float: none;
            padding: 0;
            width: 1%;

            &:after {
              background-color: $wizard-color-neutral;
              content: "";
              display: block;
              height: 1px;
              position: absolute;
              width: 100%;
              top: $wizard-step-width-height + 11px;
              left: 49%;
            }
            &:first-child {
              // width: 0.3%;
              &:before {
                display: none;
              }
            }
            &:last-child {
              &:after {
                display: none;
              }
            }

            &.active {
              .step {
                border-color: $wizard-color-active;
                color: $wizard-color-active;
                background-color: $secondary-color;
                img,
                svg {
                  filter: grayscale(0);
                }
              }

              .caption {
                color: $secondary-grey; //$wizard-color-active
              }

              &:before {
                content: "";
                background: linear-gradient(90deg, rgba(0, 155, 213, 1) 0%, rgba(219, 219, 219, 1) 100%);
                animation-name: drawRightLine;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                transform-origin: 0% 0% 0px;
              }
            }

            &.complete {
              &:after {
                background-color: $wizard-color-complete;
              }
              .step {
                border-color: $secondary-color;
                color: $wizard-color-complete;
                background-color: $secondary-color;

                img,
                svg {
                  filter: grayscale(0);
                }
              }
              .caption {
                color: $secondary-grey; //$wizard-color-complete;
              }
            }
            &.payment {
              .step {
                border-color: $wizard-color-active;
                color: $wizard-color-active;

                img,
                svg {
                  filter: grayscale(0);
                }
              }

              .caption {
                color: $wizard-color-active;
              }

              &:before {
                content: "";
                background: linear-gradient(90deg, rgba(0, 155, 213, 1) 0%, rgba(219, 219, 219, 1) 100%);
                animation-name: drawRightLine;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                transform-origin: 0% 0% 0px;
              }
            }
          }

          .step {
            background-color: #fff;
            border-radius: 50%;
            border: 1px solid $wizard-color-neutral;
            color: $wizard-color-neutral;
            font-size: $wizard-step-font-size;
            height: $wizard-step-width-height;
            line-height: $wizard-step-width-height;
            margin: 0 auto;
            position: relative;
            width: $wizard-step-width-height;
            z-index: 1;

            &:hover {
              cursor: pointer;
            }
            img,
            svg {
              filter: grayscale(1);
            }
          }

          .caption {
            color: $secondary-grey;
            padding: 0.25rem 0.5rem;
            font-size: $wizard-caption-font-size;
            white-space: unset !important;

            .badge {
              white-space: unset !important;
            }
          }
          .date {
            color: $secondary-grey;
            padding: 0.25rem 1rem;
            font-size: $font-size-base;
          }
        }

        @keyframes drawRightLine {
          0% {
            transform: scaleX(0);
          }

          100% {
            transform: scaleX(1);
          }
        }
        @keyframes animated-gradient {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }
      }
    }

    .booking-detail {
      .notification-expire {
        position: relative;
        width: 1.4rem;
        height: 1.4rem;
        float: right;
        margin-right: 0.5rem;
        z-index: 9;

        svg {
          width: 1.4rem;
          height: 1.4rem;
          opacity: 0.8;
          animation: ring 1.8s linear infinite;
        }
        svg > path {
          fill: $color-default-svg;
        }
      }
      .notification-expire--numb {
        position: absolute;
        top: 20%;
        left: 67%;
        font-size: 0.875rem;
        border-radius: 50%;
        width: 1.15rem;
        height: 1.15rem;
        background-color: $badge-red;
        border: 0px solid $badge-red;
        color: $white-color;
        text-align: center;
        line-height: 1.4em;
        // -webkit-animation: notification 3.2s ease;
        // animation: notification 3.2s ease;
      }
      &-title {
        color: $dark-grey-blue;
        font-size: $font-size-base;
        font-family: $font-proxima;
        font-weight: $font-weight-mid;
        text-transform: uppercase;

        @keyframes ring {
          0% {
            transform: rotate(0deg);
          }
          5% {
            transform: rotate(0deg);
          }
          15% {
            transform: rotate(0deg);
          }
          25% {
            transform: rotate(20deg);
          }
          35% {
            transform: rotate(-15deg);
          }
          45% {
            transform: rotate(10deg);
          }
          55% {
            transform: rotate(-5deg);
          }
          60% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(0deg);
          }
        }
        // @keyframes bell {
        //   0%, 25%, 75%, 100% {
        //     transform: rotate(0deg);
        //   }
        //   40% {
        //     transform: rotate(2deg);
        //   }
        //   45% {
        //     transform: rotate(-2deg);
        //   }
        //   55% {
        //     transform: rotate(1deg);
        //   }
        //   60% {
        //     transform: rotate(-1deg);
        //   }
        // }
        // @keyframes bellClapper {
        //   0%, 25%, 75%, 100% {
        //     transform: translateX(0);
        //   }
        //   40% {
        //     transform: translateX(-0.15em);
        //   }
        //   45% {
        //     transform: translateX(0.15em);
        //   }
        //   55% {
        //     transform: translateX(-0.1em);
        //   }
        //   60% {
        //     transform: translateX(0.1em);
        //   }
        // }
        @keyframes notification {
          0%,
          25%,
          75%,
          100% {
            opacity: 1;
          }
          30%,
          70% {
            opacity: 0;
          }
        }
      }

      h4 {
        // cursor: pointer;
        font-size: $font-size-large;
        font-family: $font-proxima;
        font-weight: $font-weight-mid;
        color: $text-color-default;
        line-height: 1;

        &.text-truncate {
          max-width: 10rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .flag-icon-20-14 {
          margin-top: -2px;
        }
        .PolCode,
        .PodCode {
          display: block;
          margin-left: 1.65rem;
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 1.3;
          margin-bottom: 0.325rem;
        }
        &.name {
          max-width: 10rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .ports-link {
        font-family: $font-proxima;
        color: $secondary-color;
        font-size: $font-size-medium;
        font-weight: 600;
        text-decoration: underline;

        span {
          color: $secondary-color;
        }
      }
      small {
        font-family: $font-proxima;
        color: $secondary-grey;
        font-weight: $font-weight-mid;
        font-size: $font-size-medium;
        // display: block;
        // margin-top: 0.225rem;
      }

      .list-group {
        &-item {
          padding: 0;
          border: 0;
          font-size: $font-size-medium;
          font-weight: $font-weight-mid;
          font-family: $font-proxima;

          img {
            align-self: flex-start;
            margin-top: 2px;
          }
        }
      }

      .provider {
        &-logo {
          width: 54px;
          height: 40px;
          border: 1px solid $grey-border;
          padding: 2px;
          min-width: 54px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        &-cargo {
          a {
            font-family: $font-proxima;
            color: $dark-grey-blue;
            font-size: $font-size-medium;
            text-decoration: underline;
            font-weight: 600;
          }
          .ports-link {
            font-family: $font-proxima;
            color: $secondary-color;
            font-size: $font-size-medium;
            font-weight: 600;

            span {
              color: $secondary-color;
            }
          }
        }
      }

      .SpecialRequest {
        margin-bottom: 1rem;
        display: flex;

        .line-through {
          text-decoration: line-through;
        }
      }

      &-logs {
        position: absolute;
        right: 1rem;
        // top: 40%;
        bottom: -0.7rem;
        text-align: right;
        a {
          font-family: $font-proxima;
          color: $color-topmenu;
          font-size: $font-size-base;
          font-weight: $font-weight-mid;
          text-decoration: underline;
        }
      }
    }

    &:hover {
      border: 1px solid $secondary-color;

      .icon-size-24 {
        animation: LeftToRight 0.7s ease both;
      }

      .right-arrow {
        &:before,
        &:after {
          background: $secondary-color !important;
        }
      }
    }

    &.AIR {
      &:hover {
        border: 1px solid $primary-color;

        .right-arrow {
          &:before,
          &:after {
            background: $primary-color !important;
          }
        }
      }

      .card-header-icon {
        &:after {
          border-left: 10px solid $primary-color;
        }

        &:before {
          background: $primary-color;
        }

        img {
          transform: rotate(-12deg) !important;
        }
      }

      &:hover {
        .card-header-icon {
          img {
            animation: airAnimation 0.7s ease both !important; // transform: rotate(0deg) !important;
          }
        }
      }
    }

    &.WAREHOUSE {
      &:hover {
        border: 1px solid $dark-grey-blue;

        .right-arrow {
          &:before,
          &:after {
            background: $dark-grey-blue !important;
          }
        }
      }

      .card-header-icon {
        &:after {
          border-left: 10px solid $dark-grey-blue;
        }

        &:before {
          background: $dark-grey-blue;
        }
      }
    }
  }

  &-status {
    // margin-top: 2px;

    label {
      color: $dark-grey-blue;
      font-size: $font-size-base;
      font-family: $font-proxima;
      font-weight: $font-proxima-weight-semibold;
      text-transform: uppercase;
      margin: 0;
    }

    .badge {
      label {
        font-size: $font-size-base;
        color: $secondary-text-color;
        text-transform: capitalize;
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      font-family: $font-proxima;
      font-size: $font-size-medium;
      justify-content: flex-end;

      a {
        font-weight: bold;
        text-decoration: underline !important;
      }
      a.discard {
        font-weight: 600;
        font-size: $font-size-medium;
        color: $secondary-grey;
        animation: none;
        text-decoration: underline !important;
      }
      a.quotes {
        font-weight: 600;
        font-size: $font-size-medium;
        color: $secondary-color;
        animation: ease-in-out;
        transition: ease-in 0.5s;
        text-decoration: underline !important;
        text-transform: uppercase;

        .fa-angle {
          &-up {
            transform: rotate(-1deg);
            transition: ease-in 0.5s;
            transition-duration: 0.5s;
          }
          &-down {
            transform: rotate(1deg);
            transition: ease-in 0.5s;
            transition-duration: 0.5s;
          }
        }
      }
      .ic-download {
        a {
          &::after {
            display: none;
          }
        }
      }
      .quote-request {
        position: relative;
        width: 1.4rem;
        height: 1.4rem;
        float: right;
        margin-right: 0.5rem;

        svg {
          width: 1.4rem;
          height: 1.4rem;
          opacity: 0.8;
          margin-top: -0.25rem;
          // animation:ring 1.8s linear infinite;
        }
        svg > path {
          fill: $color-default-svg;
        }
        &:hover {
          svg {
            opacity: 1;
            transition: all ease 0.7s;

            & > path {
              fill: $secondary-color-dark;
            }
          }
        }
      }
      .quote-request--numb {
        position: absolute;
        top: 20%;
        left: 60%;
        font-size: 0.875rem;
        border-radius: 50%;
        width: 1.15rem;
        height: 1.15rem;
        background-color: $secondary-color;
        border: 0px solid $secondary-color;
        color: $white-color;
        text-align: center;
        line-height: 1.4em;
        // -webkit-animation: notification 3.2s ease;
        // animation: notification 3.2s ease;
      }
    }
  }

  .warehouse-card {
    &-right {
      .share-btn {
        position: absolute;
        right: 8px; // top: -33px;
        top: -0.6rem;
      }
    }
    .description {
      font-family: $font-proxima;
      font-size: $font-size-medium;
    }
    .badge-bonded {
      background-color: $primary-color;
      border: $primary-color;
      color: $white-color;
      padding: 0.4rem 0.75rem 0.2rem;
    }

    .card {
      padding: 1rem 1rem 0.5rem !important;

      &-body,
      .google-map-card-video-section {
        .card-title {
          font-size: 1.6rem;
          max-width: 30rem;

          .warehousing-provider-icon {
            width: 94px;
            height: 70px;
            border: 1px solid $light-grey-border;
            padding: 2px;
            position: absolute;
            right: 8px;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }

        // .logo {
        //   .gallery-section {
        //     .images-carousel {
        //       img {}
        //     }
        //   }
        // }

        .warehousing-content {
          .country {
            &-code {
              font-size: 1.2rem;
            }
            &-price {
              font-size: 3rem;
            }
          }

          .date-range {
            color: $secondary-grey;
            font-style: italic;
          }
        }
      }
    }
    .shipping-news {
      font-family: $font-proxima;
      margin-bottom: 0.5rem;

      &-company {
        margin-top: 20px;
        height: 100%;
        float: left;
      }

      .card {
        border: 1px solid $left-sidebar-border-color;
        transition: all ease 0.7s;
        border-radius: 0;

        &.isDiscount {
          border: 1px solid $secondary-color;

          .flex-badges {
            .badge-success {
              background: #c0f6f2;
              color: $secondary-color;
              border: none;
            }
          }
        }

        &-title {
          font-size: $font-size-large + 0.25rem;
          font-family: $font-pragmatica;
          font-weight: $font-weight-mid;
          display: flex;
          justify-content: space-between;
          margin: 0; // flex-direction: column;

          span {
            // flex: 1;
            width: 260px;
          }

          @media (max-width: 767px) {
            display: inline-block;
            width: 100%;
            max-width: 100%;
            margin: 1rem 0;

            .warehousing-provider-icon {
              position: relative !important;
              margin: 1rem 0;
            }
          }
        }

        &-body,
        .google-map-card-video-section {
          padding: 0.75rem 1.25rem;

          .seperator-l {
            border-left: 1px dashed;
            border-color: rgb(229, 229, 229);
          }

          .promo-caption {
            img,
            svg {
              width: 1rem;
              color: $secondary-color-dark;
              fill: $secondary-color-dark;
              margin-bottom: -3px;
              display: none;
            }

            p {
              font-size: $font-size-medium;
              color: $secondary-color-dark;
              font-family: $font-proxima;
              margin: 0;
            }
          }

          .logo {
            float: left;
            width: 80px;
            height: 65px;
            text-align: center;
            // padding: 8px 0;
            margin: 0 18px 0px 0px;
            border: 1px solid $grey-border;

            &-2 {
              margin-top: 13px;
              width: 45px;
            }

            img {
              width: 100%;
              padding: 2px;
              // padding: 0px 2px;
              object-fit: contain;
              height: 100%;
            }
          }

          .verified-logo {
            img.logo-2 {
              margin-top: 0px !important;
            }
          }

          .additional-charges {
            color: $text-grey;
            font-size: $font-size-base;
            display: inline-flex;

            p {
              margin-left: 6px;
              margin-bottom: 0px;
            }
          }

          .flex-badges {
            position: absolute;
            top: -0.75rem;
          }
        }

        &-text {
          display: block;
        }

        .country-code {
          font-family: $font-pragmatica;
          font-size: 1.2rem;
          color: $text-color-default;
          font-weight: $font-weight-mid;
          margin-bottom: 4px; //margin-top: 10px;

          &-strike {
            font-size: $font-size-large;
            color: $text-grey;
            font-weight: $font-weight-mid;
            margin: 0;
            text-decoration: line-through;
            margin-bottom: -12px;
          }
        }

        .country-price {
          font-size: 3rem;
          font-family: $font-proxima;
          font-weight: $font-weight-mid;
          color: $text-color-default;
          line-height: 0.8;
        }

        .old-price {
          font-size: 18px;
          font-family: $font-proxima;
          color: $break-down-color;
          margin: 0px 0;
          float: left;
          text-decoration: line-through;
          width: 100%;
          padding-top: 0.5rem;
        }

        .badge-image {
          img {
            width: 38px;
          }
        }

        .book-btn {
          font-size: $font-size-large;
          font-family: $font-proxima;
          font-weight: $font-weight-normal;
          text-transform: uppercase;
          margin-top: 10px;
          padding: 0.5rem 1.5rem;
          float: left;
          margin-top: 18px;
          position: relative; // right: 55px;
          // min-width: 144px;
          max-height: 40px; // font-size: $font-size-large;
          // text-transform: uppercase;
          // margin-top: 25px; // border: 0;
          // // border-color: $btn-disable-background !important;
          background: $btn-disable-background !important;
          border-color: #e3e7e9;
          color: $btn-disable-color;
        }

        &-footer {
          font-weight: 600;
          font-family: $font-proxima;
          border-bottom: 0px;
          border-left: 0px;
          border-radius: 0px;
          background: $modal-header-background;
          border-top: 1px solid $left-sidebar-border-color !important;
          // display: flex;
          // align-items: center;
          // justify-content: space-between; // .icons {

          //   float: left;
          //   i {
          //     font-weight: 500;
          //     font-size: 1rem;
          //     margin-right: 12px;
          //     float: left;
          //     margin-top: 0.2em;
          //   }
          //   img {
          //     margin-right: 8px;
          //     display: inline-flex;
          //     margin-top: -0.2em;
          //     width: 1rem;
          //   }
          //   label {
          //     font-size: $font-size-medium;
          //     margin: 0px;
          //     font-weight: 500;
          //   }
          // }
          .rate-validate {
            color: $primary-color;
          }
          .route-details {
            text-transform: uppercase;
            float: right;
            font-size: $font-size-base;
            font-family: $font-proxima;
            font-weight: $font-proxima-weight-semibold;
            color: $dark-grey-blue;
            cursor: pointer;
          }
        }

        &:hover {
          border: 1px solid $primary-color;
          box-shadow: 0px 20px 50px 0px rgba(51, 59, 69, 0.15);
          transition: 1s;
          box-shadow: 0px 20px 50px 0px rgba(51, 59, 69, 0.15);
          border: 1px solid $primary-color;

          button {
            background-color: $secondary-color !important;
            border-color: $secondary-color;
            color: $white-color !important;
          }

          border: 1px solid $primary-color;

          .card {
            border: 0px solid $primary-color !important;
          }

          .btn-outline-primary {
            background: transparent !important;
            color: $dropdown-shipping !important;
            border-color: $dashed-border-color;
          }
        }
      }

      .share-icon {
        position: absolute;
        right: 5px;
        top: -0.625rem;
        width: 16px;
      }

      .col-sm-12.mb-2 {
        .share-btn {
          position: absolute;
          right: 5px;
          bottom: -5px;
        }
      }
    }

    &.warehousing {
      .hash-search-right {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .my-custom-class .tooltip-inner {
        background-color: darkgreen;
        width: 20px;
        font-size: 125%;
      }

      .my-custom-class .arrow::before {
        border-top-color: darkgreen;
      }

      .shipping-news {
        &-company {
          width: 180px;
          height: 136px;
          float: left;
          margin-right: 28px;
        }

        .card {
          &-header {
            background-color: rgba(0, 0, 0, 0);
            border-bottom: 1px solid rgba(229, 229, 229, 0.502);

            .badge {
              &-warehouse {
                background-color: $color-white;
                border: $primary-color;
                color: $primary-grey;
                text-transform: capitalize;
                font-weight: $font-weight-normal !important;
                font-size: $font-size-medium !important;
                margin-top: 1.3rem;
                position: absolute;
              }
              &-bonded {
                background-color: $primary-color;
                border: $primary-color;
                color: $color-white;
                margin-top: 1.3rem;
                position: absolute;
              }
            }

            .warehousing-header {
              .icon {
                margin-top: 1rem;

                svg {
                }
              }

              .lable {
                text-transform: uppercase;
                font-size: $font-size-base;
                color: $secondary-grey;
              }

              h4 {
                font-size: $font-size-large;
                color: $text-color-default;
                font-weight: $font-weight-mid;
                margin-left: 1.2rem;
              }
            }
          }

          // &-body {
          //   margin-bottom: 1.5rem !important;
          // }
          &-title {
            margin-bottom: 0.25rem;

            // span {
            //   width: 210px;
            //   min-height: 48px;
            // }
          }

          .book-btn {
            margin-top: 12px;
          }

          .logo {
            width: 100%;
            height: 100%;
            padding: 0;
            display: inline-block;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;

            img {
              width: 100%;
              height: 136px;
              object-fit: cover;
              padding: 0;
            }

            .images-carousel {
              &:first-child {
                width: 180px;
                position: relative; //top: 96px;
                height: 140px;
              }
            }

            .gallery-section {
              .video-icon {
                position: absolute;
                bottom: 0;
                padding: 3px 8px 0px 10px;
                background: #ffffffd6;
                border-radius: 0px 3px 0px 0px;

                a {
                  color: $secondary-color;
                }
              }

              &-item {
                position: absolute;
                top: 8px;
                right: 5px;
                background: #000000b0;
                color: #fff;
                border-radius: 12px;
                font-weight: $font-weight-bold;
                font-family: $font-proxima;
                font-size: $font-size-base;
                padding: 0.21rem 0.68rem;
              }
            }
          }

          .card {
            border: 0px !important;
          }
        }
      }

      /deep/ .warehousing-content {
        color: $white-color;
        display: block;

        .custom-tooltip {
          .arrow::before {
            border-bottom-color: $primary-color;
          }

          .tooltip-inner {
            max-width: 300px !important;
            padding: 1rem;
            background-color: $primary-color;
          }
        }

        .address {
          font-size: $font-size-medium;
          font-family: $font-proxima;
          color: $text-color-default;
        }

        .icons {
          float: left;

          i {
            font-weight: 500;
            font-size: 1rem;
            margin-right: 12px;
            float: left;
            margin-top: 0.2em;
          }

          img {
            margin-right: 8px;
            display: inline-flex;
            margin-top: -0.2em;
            width: 1rem;
          }

          label {
            font-size: $font-size-medium;
            margin: 0px;
            font-weight: 500;
          }
        }

        .share-btn {
          margin-top: -7px;
        }

        display: flex;
        flex-direction: column;

        .list-group {
          flex-direction: row;
          display: flex;

          li {
            border: 0px;
            padding: 0;
            display: flex;
            font-size: $font-size-medium;
            font-family: $font-proxima;
            color: $text-color-default; // .grey-anc-btn {

            //   width: 12rem;
            //   display: flex;
            //   align-items: flex-end;
            //   img.icon-size-14 {
            //     position: relative;
            //     bottom: 1px;
            //   }
            // }
            /deep/ .tooltip {
              width: 16rem;

              .tooltip-inner {
                width: 16rem;
                max-width: 16rem;
              }
            }

            .text-truncate {
              @media #{$mediumDesktop} {
                max-width: 185px !important;
              }
            }
          }

          .grey-anc-btn {
            // width: 12rem;
            // display: flex;
            // align-items: flex-end;
            img.icon-size-14 {
              position: relative;
              bottom: 1px;
            }
          }

          &.mt-2 {
            li {
              align-items: center;
            }
          }
        }
      }
    }

    &.lcl {
      .warehousing-content,
      .warehousing-provider-icon,
      .gallery-section {
        display: none;
      }
    }

    &.fcl {
      @extend .lcl;

      .fcl-content {
        text-align: right;

        h5 {
          color: $text-grey;
          font-size: $font-size-base;
          text-transform: uppercase;
          font-family: $font-proxima;
          font-weight: 500;
        }

        .card-text {
          // display: flex;
          // align-items: baseline;
          // justify-content: flex-end;
          font-size: $font-size-large + 0.2;
          font-family: $font-proxima;
          font-weight: 500;

          span {
            font-size: $font-size-base;
            margin-right: 0.2rem;
            font-weight: 400; // float: left;
            margin-top: 0.4rem;
          }
        }

        .book-btn {
          margin-top: 0.5rem !important;
        }
      }
    }

    .custom-group-dropdown {
      display: flex;

      h3 {
        font-size: $font-size-base;
        text-transform: uppercase;
        color: $secondary-grey;
        font-weight: $font-weight-mid;
        font-family: $font-proxima;
        margin-bottom: 0; //letter-spacing: 0.04em;
      }

      .btn-outline-primary {
        color: $dropdown-shipping;
        border-color: $dashed-border-color;
        text-align: left;
        border: 0px;
        font-size: $font-size-base;
        padding-left: 0rem;
        text-transform: uppercase;
        font-weight: $font-weight-mid;

        &:hover,
        &:active,
        &:focus {
          color: $dropdown-shipping !important;
          box-shadow: none !important;
          background: transparent !important;
        }
      }

      .dropdown-toggle {
        &::after {
          margin-left: 0.3rem;
          margin-top: 0.5rem;
          float: right;
        }

        &:focus {
          box-shadow: none;
        }

        &:active,
        &:not(:disabled):not(.disabled).active {
          background-color: $white-color !important;
          color: $dropdown-shipping;
        }
      }

      .show > .btn-outline-primary.dropdown-toggle {
        background-color: $white-color !important;
        color: $dropdown-shipping !important;
      }

      .dropdown-menu {
        padding: 0;
        border: 1px solid $light-grey-border;
        padding: 0.5rem;
        min-width: 30rem;
        max-height: 300px; // overflow-y: auto;
        overflow: hidden;

        .dropdown-item {
          padding: 0.5rem;
          cursor: pointer;
          background-color: $white-color;
          color: $text-color-default;
          display: flex;

          .provider {
            &-icon {
              width: 32px;
              height: 26px;
              border: 1px solid $light-grey-border;
              padding: 0px;
              margin-right: 6px;

              img {
                width: 100%;
                height: 100%;
              }
            }

            &-title {
              transition: all ease 0.09s;
              font-size: $font-size-medium;
              font-family: $font-proxima;
              font-weight: $font-weight-normal;
              position: relative;
              text-decoration: none;
              line-height: 2px;
              margin-right: 6px;
              white-space: initial;
              max-width: 290px;
              min-width: 290px;
              display: flex;
              align-items: center;
              line-height: 1;
            }

            &-price {
              transition: all ease 0.09s;
              font-size: $font-size-medium;
              font-family: $font-proxima;
              font-weight: $font-weight-normal;
              position: relative;
              text-decoration: none;
              line-height: 24px;
              margin-right: 6px;
            }
          }

          &:hover {
            background-color: $inner-background-color;
          }
        }

        .loader {
          height: 80px;
        }
      }
    }

    small {
      font-size: $font-size-base;
      font-weight: $font-weight-normal;
      font-family: $font-proxima;
      color: $secondary-text-color;
    }

    .area-unit {
      color: $primary-color;
      font-size: 1.2rem;
      font-family: $font-proxima;

      &-spot {
        font-size: $root-font-size;
        font-weight: $font-weight-mid;
        color: $primary-color;
        font-family: $font-proxima;
      }
    }
    .additional-info {
      font-size: $font-size-medium;
      font-weight: $font-weight-mid;
      color: $text-color-default;
      font-family: $font-proxima;
    }

    @media screen and (max-width: 768px) {
      .warehouse-mini-card {
        .shipping-news {
          &-company {
            height: 40%;
          }
        }
      }
    }
  }
  .awaiting-rate {
    span {
      font-weight: 600;
      font-size: $font-size-medium;
      color: $danger-color !important;
      text-decoration: underline !important;
    }
  }
}

@media #{ $mobile} {
  .booking-card {
    .card {
      &-header {
        .booking-card-status {
          // margin-top: 0rem !important;

          label {
            &:first-child {
              margin-left: 0.5rem !important;
            }
          }
        }
      }
    }
  }
}
