<div class="row">
  <div class="col-12 invoice-card animated bounceInDown">
    <div class="card" [ngClass]="[(invoice?.ShippingModeCode === 'ASSAYER'?'WAREHOUSE':invoice?.ShippingModeCode)]">
      <div *ngIf="!isChild" class="card-header-icon">
        <span *ngIf="invoice?.ShippingModeCode === 'SEA'">
          <img src="../../../../../assets/images/icons/icons_cargo_ship_white.svg" alt="" class="icon-size-24">
        </span>
        <span *ngIf="invoice?.ShippingModeCode === 'WAREHOUSE'">
          <img src="../../../../../assets/images/icons/icon_warehouse_white.svg" alt="" class="icon-size-24">
        </span>
        <span *ngIf="invoice?.ShippingModeCode === 'AIR'">
          <img src="../../../../../assets/images/icons/icon_plane_white.svg" alt="" class="icon-size-24">
        </span>
        <span *ngIf="invoice?.ShippingModeCode === 'TRUCK'">
          <img src="../../../../../assets/images/icons/Icons_Cargo_Truck_white.svg" alt="" class="icon-size-24">
        </span>
        <div *ngIf="invoice?.ShippingModeCode === 'ASSAYER'" class="bookings-header-number-icon ware-icon">
          <img class="icon-size-24" src="../../../../../assets/images/icons/Icons_Box_w.svg">
        </div>
        <div *ngIf="invoice?.ShippingModeCode === 'INSURANCE'" class="bookings-header-number-icon ware-icon">
          <img class="icon-size-24" src="../../../../../assets/images/icons/icon-insurance-white.svg">
        </div>
      </div>
      <div class="card-header" [ngClass]="isChild?'quote-header':''">
        <div class="row">
          <div class="card-title m-0 card-header-left pr-0 col-xl-5 col-lg-5 col-md-5 col-10">
            <div class="row">
              <div class="pr-0 col-12">
                <!-- <h5 class="m-0"
                  [ngClass]="(invoice?.BookingTab?.toLowerCase() === 'saved' || invoice?.BookingTab?.toLowerCase() === 'specialrequest')?'':'pointer'"
                  (click)="viewBookingDetails(invoice?.BookingID, invoice?.UserID, invoice?.ShippingModeCode)">
                  {{invoice?.HMParentBookingNum?invoice?.HMParentBookingNum:invoice?.HashMoveBookingNum}}
                </h5> -->
                <h5 class="m-0 pointer" (click)="showDtl = !showDtl" [ngClass]="{'book-dtl-active':showDtl}">
                  {{invoice?.HashMoveBookingNum}}
                  <i class="acc-icon fa fa-chevron-down"></i>
                </h5>
                <p class="card-text">
                  <span *ngIf="!invoice?.IsBookedByProvider ">
                    {{invoice?.BookingTab?.toLowerCase() === 'specialrequest'? 'Requested by':'Booked by'}}
                    {{invoice?.Customer?.CustomerUserName}}
                    on {{invoice?.HashMoveBookingDate | date : "d MMM, yyyy"}} {{invoice?.HashMoveBookingDate | date :
                    "H:mm"}} (GMT)
                  </span>
                  <span *ngIf="invoice?.IsBookedByProvider">
                    {{invoice?.BookingTab?.toLowerCase() === 'specialrequest'? 'Requested by':'Booked by'}}
                    {{invoice?.Provider?.ProviderName}} on {{invoice?.HashMoveBookingDate
                    | date : "d MMM, yyyy"}} {{invoice?.HashMoveBookingDate | date : "H:mm"}} (GMT)
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-row invoice-card-status text-right card-header-right pl-0 col-xl-7 col-lg-7 col-md-7 col-2 pt-1 pr-0 align-items-center justify-content-end">
            <div class="d-flex justify-content-end align-self-end footer-actions mr-3 mb-1">
              <div class="d-flex align-items-center view-detail ml-3 pointer" (click)="addInvoice()">
                <img alt="" class="icon-size-16 mr-1" src="../../../../../assets/images/icons/icon_add.svg" />
                <span *ngIf="!isMobile" style="font-size: 0.75rem !important;" class="grey-sm-txt ml-1 link-hover-1 pointer">
                  Add More Payment
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-container>
        <div class="card-body" *ngIf="showDtl">
          <div class="row animated fadeIn">
            <div class=" border-right col-xl-5 col-lg-5 col-md-5 col-12 mb-3"  [ngClass]="{'mb-3':isMobile}">
              <ng-container
                *ngIf="invoice?.ShippingModeCode?.toLowerCase() !== 'warehouse' && invoice?.ShippingModeCode !== 'ASSAYER' && invoice?.ShippingModeCode !== 'INSURANCE'">
                <div class="row">
                  <div class=""
                    [ngClass]="invoice?.ShippingModeCode?.toLowerCase() === 'warehouse' ? 'col-md-12 col-sm-12' : 'col-7 right-arrow'">
                    <div class="booking-detail">
                      <div class="booking-detail-title mb-3"
                        *ngIf="invoice?.ShippingModeCode?.toLowerCase() !== 'warehouse'">From</div>
                      <div class="booking-detail-title mb-3"
                        *ngIf="invoice?.ShippingModeCode?.toLowerCase() === 'warehouse'">Detail</div>
                      <h4 *ngIf="invoice?.Origin?.PolType?.toUpperCase() === 'GROUND'" class="text-truncate m-0"
                        placement="left" container="body" ngbTooltip="{{invoice?.Origin?.PolInputAddress}}">
                        <div class="flag-icon-20-14 pull-left mr-2 ">
                          <img
                            src="../../../../../assets/images/flags/4x3/{{invoice?.Origin?.PolCountryCode | lowercase}}.svg"
                            alt="" class="border">
                        </div>
                        {{invoice?.Origin?.PolCityName}}
                        <span class="PolCode">({{invoice?.Origin?.PolCode}})</span>
                        <small class="name">{{invoice?.Origin?.PolName}}</small>
                      </h4>
                      <h4
                        *ngIf="invoice?.Origin?.PolType?.toUpperCase() !== 'GROUND' && invoice?.ShippingModeCode !== 'WAREHOUSE' "
                        class="text-truncate m-0" placement="left" container="body"
                        ngbTooltip="{{invoice?.Origin?.PolCode}}">
                        <div class="flag-icon-20-14 pull-left mr-2">
                          <img class="border"
                            src="../../../../../assets/images/flags/4x3/{{invoice?.Origin?.PolCountryCode | lowercase}}.svg"
                            alt="">
                        </div>
                        {{invoice?.Origin?.PolCode}}
                      </h4>
                      <h4 *ngIf="invoice?.ShippingModeCode === 'WAREHOUSE'"
                        [ngbTooltip]="invoice?.WarehouseInfo?.WHName" placement="left" container="body">
                        <div class="flag-icon-20-14 pull-left mr-2">
                          <img
                            src="../../../../../assets/images/flags/4x3/{{invoice?.WarehouseInfo?.WHCountryCode | lowercase}}.svg"
                            alt="" class="border">
                        </div>
                        {{invoice?.WarehouseInfo?.WHName}}
                      </h4>
                      <div class="text-truncate m-0" style="max-width: 10rem;"
                        *ngIf="invoice?.Origin?.PolType?.toUpperCase() !== 'GROUND'">
                        <small *ngIf="invoice?.Origin?.PolType?.toUpperCase() !== 'GROUND'"
                          [ngbTooltip]="(invoice?.Origin?.PolType?.toUpperCase() === 'TRUCK')?invoice?.Origin?.PolInputAddress:invoice?.Origin?.PolName"
                          placement="left" container="body">{{(invoice?.Origin?.PolType?.toUpperCase() ===
                          'TRUCK')?invoice?.Origin?.PolInputAddress:invoice?.Origin?.PolName}}
                        </small>
                      </div>

                      <small class="mt-1"
                        *ngIf="invoice?.ShippingModeCode !== 'WAREHOUSE' && invoice?.ShippingModeCode !== 'ASSAYER' && invoice?.ShippingModeCode !== 'INSURANCE'"
                        [ngbTooltip]="invoice?.Origin?.PolCountry" placement="left"
                        container="body">{{invoice?.Origin?.PolCountry}}</small>
                      <ul class="list-group list-group-flush mt-3">
                        <li class="list-group-item d-flex align-items-center mb-1"
                          *ngIf="invoice?.ShippingModeCode?.toLowerCase() !== 'warehouse' && invoice?.ShippingModeCode !== 'AIR' && invoice?.EtdUtc">
                          <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                            class="icon-size-14 mr-2"> {{invoice?.EtdUtc | date : "d MMM yyyy"}}
                        </li>
                        <li class="list-group-item d-flex align-items-center"
                          *ngIf="invoice?.ShippingModeCode?.toLowerCase() === 'warehouse' && invoice?.WarehouseInfo?.StoredFromUtc">
                          <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                            class="icon-size-14 mr-2">
                          {{invoice?.WarehouseInfo?.StoredFromUtc | date : "d MMM, yyyy" }} -
                          {{invoice?.WarehouseInfo?.StoredUntilUtc |
                          date : "d MMM, yyyy" }}
                        </li>
                        <li class="list-group-item d-flex align-items-center"
                          *ngIf="invoice?.ShippingModeCode?.toLowerCase() === 'warehouse' && invoice?.WarehouseInfo?.WHMinimumLeaseTerm">
                          <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                            class="icon-size-14 mr-2"> Lease Term: {{invoice?.WarehouseInfo?.WHMinimumLeaseTerm}}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-5 col-sm-5" *ngIf="invoice?.ShippingModeCode?.toLowerCase() !== 'warehouse'">
                    <div class="booking-detail">
                      <div class="booking-detail-title mb-3">To</div>
                      <h4 class="m-0" *ngIf="invoice?.Destination?.PodType?.toUpperCase() === 'GROUND'" placement="left"
                        container="body" ngbTooltip="{{invoice?.Destination?.PodInputAddress}}">
                        <div class="flag-icon-20-14 pull-left mr-2 ">
                          <img
                            src="../../../../../assets/images/flags/4x3/{{invoice?.Destination?.PodCountryCode | lowercase}}.svg"
                            alt="" class="border">
                        </div>
                        {{invoice?.Destination?.PodCityName}}
                        <span class="PodCode">({{invoice?.Destination?.PodCode}})</span>
                        <small class="name">{{invoice?.Destination?.PodName}}</small>
                      </h4>
                      <h4 class="m-0" *ngIf="invoice?.Destination?.PodType?.toUpperCase() !== 'GROUND'" placement="left"
                        container="body" ngbTooltip="{{invoice?.Destination?.PodCode}}">
                        <div class="flag-icon-20-14 pull-left mr-2"
                          *ngIf="invoice?.ShippingModeCode?.toLowerCase() !== 'warehouse'">
                          <img
                            src="../../../../../assets/images/flags/4x3/{{invoice?.Destination?.PodCountryCode | lowercase}}.svg"
                            alt="" class="border">
                        </div>
                        {{invoice?.Destination?.PodCode}}
                      </h4>
                      <div class="text-truncate m-0" style="max-width: 10rem;"
                        *ngIf="invoice?.Destination?.PodType?.toUpperCase() !== 'GROUND'">
                        <small *ngIf="invoice?.Destination?.PodType?.toUpperCase() !== 'GROUND'"
                          [ngbTooltip]="(invoice?.Destination?.PodType?.toUpperCase() === 'TRUCK')?invoice?.Destination?.PodInputAddress:invoice?.Destination?.PodName"
                          placement="left" container="body">{{(invoice?.Destination?.PodType ===
                          'TRUCK')?invoice?.Destination?.PodInputAddress:invoice?.Destination?.PodName}}
                        </small>
                      </div>
                      <small class="mt-1" [ngbTooltip]="invoice?.Destination?.PodCountry" placement="left"
                        container="body">{{invoice?.Destination?.PodCountry}}</small>
                      <ul class="list-group list-group-flush mt-3">
                        <li *ngIf="invoice?.ShippingModeCode !== 'AIR' && invoice?.EtaUtc?.length > 1"
                          class="list-group-item d-flex align-items-center mb-1">
                          <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                            class="icon-size-14 mr-2"> {{invoice?.EtaUtc | date : "d MMM, yyyy"}}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12 booking-detail" *ngIf="false">
                    <div class="row">
                      <div class="col-7">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex align-items-center">
                            <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                              class="icon-size-14 mr-2"> {{invoice?.AirDet?.PickupFrom | date : "d MMM, yyyy"}}
                          </li>
                        </ul>
                      </div>
                      <div class="col-5">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex align-items-center">
                            <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                              class="icon-size-14 mr-2"> {{invoice?.AirDet?.PickupTo | date : "d MMM yyyy"}}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <app-via-port *ngIf="invoice?.ShippingModeCode === 'AIR' && invoice?.AirDet?.JsonPortVia?.length > 1"
                [viaPorts]="invoice?.AirDet?.JsonPortVia"></app-via-port>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
              <ng-container>
                <div class="booking-detail pl-3" [ngClass]="{'pl-3':!isMobile}">
                  <div class="booking-detail-title mb-2"
                    *ngIf="invoice?.ShippingModeCode?.toLowerCase() !== 'warehouse' && invoice?.ShippingModeCode?.toLowerCase() !== 'assayer' && invoice?.ShippingModeCode?.toLowerCase() !== 'insurance' && invoice?.BookingTab !== 'SpecialRequest'">
                    Customer
                  </div>
                  <div class="booking-detail-title mb-2"
                    *ngIf="invoice?.BookingTab === 'SpecialRequest' && invoice?.ShippingModeCode?.toLowerCase() !== 'warehouse'">
                    Partner
                  </div>
                  <div class="booking-detail-title mb-2"
                    *ngIf="invoice?.ShippingModeCode?.toLowerCase() === 'warehouse'">
                    Warehousing Company
                  </div>
                  <div class="booking-detail-title mb-2"
                    *ngIf="invoice?.ShippingModeCode?.toLowerCase() === 'assayer' || invoice?.ShippingModeCode?.toLowerCase() === 'insurance'">
                    Booking With
                  </div>
                  <h4 class="m-0 provider d-flex align-items-center">
                    <div class="provider-logo mr-2">
                      <img *ngIf="invoice?.Customer?.CustomerImage"
                        src="{{getUIImage(invoice?.Customer?.CustomerImage)}}" alt="">
                      <img *ngIf="!invoice?.Customer?.CustomerImage"
                        src="../../../../../assets/images/icons/Icons_User.svg" alt="logo" />
                    </div>
                    <span style="display: flex;flex-direction: column;">
                      <span>{{invoice?.Customer?.CustomerName}}</span>
                    </span>
                  </h4>
                  <div class="row mt-3"
                    *ngIf="searchMode === 'air-lcl' || searchMode === 'sea-fcl' || searchMode === 'sea-lcl' ||searchMode === 'truck-ftl' || invoice?.Carrier?.CarrierImage || (invoice?.ShippingModeCode?.toLowerCase() === 'warehouse' && invoice?.ContainerCount)">
                    <div class="col-8">
                      <ng-container *ngIf="invoice?.Carrier?.CarrierName && invoice?.Carrier?.CarrierName?.length > 0">
                        <div class="booking-detail-title mb-2">
                          {{invoice?.ShippingModeCode === 'AIR'?'Airline':'Shipping Line'}}
                        </div>
                        <h4 class="m-0 provider d-flex align-items-center">
                          <div class="provider-logo mr-2">
                            <img src="{{getUIImage(invoice?.Carrier?.CarrierImage)}}" alt="">
                          </div>
                          {{invoice?.Carrier?.CarrierName}}
                        </h4>
                      </ng-container>
                    </div>
                    <div
                      *ngIf="(invoice?.ShippingModeCode?.toLowerCase() !== 'warehouse' || invoice?.ShippingModeCode?.toLowerCase() === 'warehouse' && invoice?.ContainerCount > 0)"
                      class="provider-cargo pr-0 pl-1"
                      [ngClass]="invoice?.ShippingModeCode === 'WAREHOUSE'?'col-12':'col-4'">
                      <div class="booking-detail-title mb-2">
                        Cargo
                      </div>
                      <div class="actions-btn">
                        <h4 class="m-0 provider d-flex align-items-center">
                          <ng-container *ngIf="invoice?.ShippingModeCode === 'AIR'">
                            {{invoice?.AirDet?.ChargeableWeight | number: '1.0-0'}} KG
                          </ng-container>
                          <ng-container *ngIf="searchMode === 'sea-lcl'">
                            {{invoice?.ContainerCount | number: '1.0-0'}} CBM
                          </ng-container>
                          <ng-container *ngIf="searchMode === 'sea-fcl' || searchMode === 'truck-ftl'">
                            {{invoice?.ContainerLoad}} x {{invoice?.ContainerCount}}
                          </ng-container>
                        </h4>
                        <a class="ports-link view-details" href="javascript:;" (click)="openCargoDetails()"
                          style="text-decoration: none !important;">
                          <span class="link-hover-1">View Details</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-12 mobile-order-0">
              <div class="booking-detail">
                <div class="booking-detail-title mb-3">Price</div>
                <ng-container *ngIf="invoice?.BookingTotalAmount > 0">
                  <h4 class="mb-4 price text-truncate" [ngClass]="{'text-truncate':!isMobile}"
                    ngbTooltip="{{invoice?.CurrencyCode}} {{invoice?.BookingTotalAmount | number: '1.2-2'}}">
                    {{invoice?.CurrencyCode}} {{invoice?.BookingTotalAmount | number: '1.2-2'}}</h4>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <!--  *ngFor="let inv of invoiceList" -->
        <div class="card-footer">
          <div class="d-flex flex-column">
            <div *ngIf="statusGroups?.length > 1" class="wizard-box"
              [ngClass]="{'inv-active':isInvViewActive,'border-bottom-0':!isInvViewActive}">
              <span class="pull-left pointer" (click)="isInvViewActive = !isInvViewActive">
                <h6>Invoices <i class="acc-icon fa fa-chevron-down"></i></h6>
              </span>
            </div>
            <ng-container *ngIf="isInvViewActive">
              <div *ngFor="let statusGroup of statusGroups;let ind = index;let lastInd = last" id="wizard-progress"
                class="mt-0">
                <!-- <div class="row" *ngIf="statusGroup?.invoiceNo">
                  <div class="col-4 mb-2">
                    <span
                      class="invoice-number badge badge-secondary animated fadeIn d-flex flex-row justify-content-between align-items-center">
                      <span>{{statusGroup?.invoiceNo}}</span>
                      <span>|</span>
                      <div class="d-flex flex-column actions-btn">
                        <a class="ports-link m-0 view-docs" href="javascript:;"
                          (click)="viewUploadedInvoice(statusGroup)" style="text-decoration: none !important;">
                          <span class="mr-1 link-hover-1">View All Documents</span>
                        </a>
                      </div>
                    </span>
                  </div>
                </div> -->
                <div class="invoice-head-spacing" *ngIf="statusGroup?.invoiceNo">
                  <div class="row invoice-heading">
                    <div class="col-8 d-flex flex-row">
                      <img class="icons-size-22 mr-2" alt="icon"
                        src="../../../../../assets/images/icons/{{getInvModeIcon(invoice?.ShippingModeCode)}}">
                      <div class="d-flex flex-column">
                        <h3 class="payments-item">{{statusGroup?.invoiceNo}}</h3>
                      </div>
                    </div>
                    <div class="col-4 d-flex justify-content-end flex-row">
                      <img class="icons-size-16 mr-2" alt="icon"
                        src="../../../../../assets/images/icons/icon_document.svg">
                      <div class="d-flex flex-column">
                        <h3 class="payments-item" (click)="viewUploadedInvoice(statusGroup)"
                          style="color: #1ba2dd; font-size: 0.7rem;">Documents</h3>
                      </div>
                    </div>
                  </div>
                  <hr class="solid-line mt-0">
                </div>

                <div class="row">
                  <div class="col-12">
                    <ol class="step-indicator mb-0 animated fadeIn">
                      <li [ngClass]="{'active':statusGroup?.lastStatus !== 'INVOICE_REJECTED' && statusGroup?.invoiceUpload?.length > 0,
                         'complete':statusGroup?.lastStatus !== 'INVOICE_REJECTED' && statusGroup?.isInvoiceUploaded}">
                        <div class="caption hidden-xs hidden-sm d-flex flex-column">
                          <span>Partner's Invoice</span>
                        </div>
                        <div class="step" (click)="uploadDocuments(statusGroup)">
                          <div class="hm-popover">
                            <img
                              *ngIf="statusGroup?.uploadStatus && statusGroup?.invoiceUpload?.length > 0 && statusGroup?.lastStatus !== 'INVOICE_REJECTED';else defUplImg"
                              alt="" class="icon-size-16 mb-1"
                              src="../../../../../assets/images/icons/icon-invoice-upload-white.svg">
                            <ng-template #defUplImg>
                              <img alt="" class="icon-size-16 mb-1"
                                src="../../../../../assets/images/icons/icon-invoice-upload.svg">
                            </ng-template>
                            <div *ngIf="statusGroup?.uploadStatus && statusGroup?.invoiceUpload?.length > 0"
                              class="hm-tooltip">
                              <div class="row">
                                <div class="col-12 text-left">
                                  <h5>Logs</h5>
                                </div>
                              </div>
                              <div [ngClass]="{'pop-border-btm' : !lastIndex, 'mb-2':lastIndex}"
                                *ngFor="let log of statusGroup?.invoiceUpload;let lastIndex = last">
                                <div class="row">
                                  <div class="col-7 text-left">
                                    <p class="popover-detail-title pb-0 mb-0">
                                      {{log?.StatusName | uppercase}}</p>
                                  </div>
                                  <div class="col-5 text-right">
                                    <p class="pb-0 mb-0">
                                      {{log?.StatusDate | date : "d MMM, yyyy H:mm"}} GMT</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="hidden-xs hidden-sm d-flex flex-column">
                          <ng-container
                            *ngIf="!statusGroup?.uploadStatus || statusGroup.lastStatus === 'INVOICE_REJECTED';else invUploadMsg">
                            <span class="badge badge-pill hashmove-badge-warning ml-1 align-self-center mt-2">
                              {{statusGroup?.invUploadMsg}}
                            </span>
                          </ng-container>
                          <ng-template #invUploadMsg>
                            <span
                              class="badge badge-pill {{statusGroup?.uploadStatus?.StatusColorCode}} ml-1 align-self-center mt-2">
                              {{statusGroup?.uploadStatus?.StatusName}}
                            </span>
                            <span class="mt-1 date">
                              {{statusGroup?.uploadStatus?.StatusDate | date : "d MMM, yyyy"}}
                            </span>
                          </ng-template>
                        </div>
                      </li>
                      <li [ngClass]="{'active':statusGroup?.invoiceApproval?.length > 0 && statusGroup?.lastStatus !== 'INVOICE_UPLOAD' &&
                         statusGroup?.lastStatus !== 'INVOICE_REUPLOADED' && statusGroup?.lastStatus !== 'INVOICE_REJECTED' ,
                         'complete':statusGroup?.isInvoiceApproved && statusGroup?.lastStatus !== 'INVOICE_REJECTED'}">
                        <div class="caption hidden-xs hidden-sm d-flex flex-column">
                          <span>Approval Status</span>
                        </div>
                        <div class="step">
                          <div class="hm-popover">
                            <img
                              *ngIf="statusGroup?.approvalStatus && statusGroup?.invoiceApproval?.length > 0 && statusGroup?.lastStatus !== 'INVOICE_UPLOAD' && statusGroup?.lastStatus !== 'INVOICE_REUPLOADED' && statusGroup?.lastStatus !== 'INVOICE_REJECTED';else defAppImg"
                              alt="" class="icon-size-18 mb-1"
                              src="../../../../../assets/images/hm-symbol-invoice-white.svg" />
                            <ng-template #defAppImg>
                              <img alt="" class="icon-size-18 mb-1"
                                src="../../../../../assets/images/hm-symbol-invoice.svg" />
                            </ng-template>
                            <div class="hm-tooltip"
                              *ngIf="statusGroup?.approvalStatus && statusGroup?.invoiceApproval?.length > 0">
                              <div class="row">
                                <div class="col-12 text-left">
                                  <h5>Logs</h5>
                                </div>
                              </div>
                              <div [ngClass]="{'pop-border-btm' : !lastIndex, 'mb-2':lastIndex}"
                                *ngFor="let log of statusGroup?.invoiceApproval;let lastIndex = last">
                                <div class="row">
                                  <div class="col-7 text-left">
                                    <p class="popover-detail-title pb-0 mb-0">
                                      <span>{{log?.StatusName | uppercase}}</span>
                                    </p>

                                  </div>
                                  <div class="col-5 text-right">
                                    <p class="popover-detail-title pb-0 mb-0">
                                      <span>
                                        {{log?.StatusDate | date : "d MMM, yyyy H:mm"}} GMT
                                      </span>
                                    </p>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col text-left">
                                    <p *ngIf="log?.StatusBL === 'INVOICE_REJECTED' && log?.ReasonName"
                                      class="popover-detail-title pb-0 mb-0 status-heading">
                                      <b>Reason:&nbsp;</b>{{log?.ReasonName}}
                                    </p>
                                    <p *ngIf="log?.StatusBL === 'INVOICE_REJECTED' && log?.StatusRemarks"
                                      class="popover-detail-title mt-0 pt-0 status-text">{{log?.StatusRemarks}}
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="hidden-xs hidden-sm d-flex flex-column">
                          <ng-container
                            *ngIf="statusGroup?.approvalStatus && statusGroup?.lastStatus !== 'INVOICE_UPLOAD' && statusGroup?.lastStatus !== 'INVOICE_REUPLOADED'">
                            <span
                              class="badge badge-pill {{statusGroup?.approvalStatus?.StatusColorCode}} ml-1 align-self-center mt-2">
                              {{statusGroup?.approvalStatus?.StatusName}}
                            </span>
                            <span class="mt-1 date">
                              {{statusGroup?.approvalStatus?.StatusDate | date : "d MMM, yyyy"}}
                            </span>
                          </ng-container>
                        </div>
                      </li>
                      <li
                        [ngClass]="{'active':statusGroup?.paymentProcessCustomer?.length > 0, 'complete':statusGroup?.isCustPaymentPrcocessed}">
                        <div class="caption hidden-xs hidden-sm d-flex flex-column">
                          <span>Payment From Customer</span>
                        </div>
                        <div class="step">
                          <div class="hm-popover">
                            <img
                              *ngIf="statusGroup?.custPayStatus && statusGroup?.paymentProcessCustomer?.length > 0;else defCutPay"
                              alt="" class="icon-size-16 mb-1"
                              src="../../../../../assets/images/icons/icon-payment-due-white.svg">
                            <ng-template #defCutPay>
                              <img alt="" class="icon-size-16 mb-1"
                                src="../../../../../assets/images/icons/icon-payment-due.svg">
                            </ng-template>
                            <div class="hm-tooltip"
                              *ngIf="statusGroup?.custPayStatus && statusGroup?.customerLogs?.length > 0">
                              <div class="row">
                                <div class="col-12 text-left">
                                  <h5>Logs</h5>
                                </div>
                              </div>
                              <div [ngClass]="{'pop-border-btm' : !lastIndex, 'mb-2':lastIndex}"
                                *ngFor="let log of statusGroup?.customerLogs;let lastIndex = last">
                                <div class="row">
                                  <div class="col-7 text-left">
                                    <p class="popover-detail-title pb-0 mb-0">
                                      {{log?.StatusName | uppercase}}</p>
                                  </div>
                                  <div class="col-5 text-right">
                                    <p *ngIf="log?.StatusDate" class="pb-0 mb-0">
                                      {{log?.StatusDate | date : "d MMM, yyyy H:mm"}} GMT</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="hidden-xs hidden-sm d-flex flex-column">
                          <ng-container *ngIf="statusGroup?.custPayStatus">
                            <span
                              class="badge badge-pill {{statusGroup?.custPayStatus?.StatusColorCode}} ml-1 align-self-center mt-2">
                              {{statusGroup?.custPayStatus?.StatusName}}
                            </span>
                            <span class="mt-1 date">
                              {{statusGroup?.custPayStatus?.StatusDate | date : "d MMM, yyyy"}}
                            </span>
                          </ng-container>
                        </div>
                      </li>
                      <li
                        [ngClass]="{'active':(statusGroup?.paymentToPartner?.length > 0 && statusGroup?.isPartnerPaymentPrcocessed)}">
                        <div class="caption hidden-xs hidden-sm d-flex flex-column">
                          <span>Payment to Partner</span>
                        </div>
                        <div position="bottom"
                          [ngbTooltip]="statusGroup?.paymentLogs?.length > 0?'Click to View Details':null" class="step"
                          (click)="onApprove(statusGroup,'PAYMENT_TO_PARTNER')">
                          <div>
                            <img
                              *ngIf="statusGroup?.ffPayStatus && statusGroup?.paymentToPartner?.length > 0;else def_ffPay"
                              alt="" class="icon-size-16 mb-1"
                              src="../../../../../assets/images/icons/icon-payment-to-partner-white.svg">
                            <ng-template #def_ffPay>
                              <img alt="" class="icon-size-16 mb-1"
                                src="../../../../../assets/images/icons/icon-payment-to-partner.svg">
                            </ng-template>
                            <!-- <div class="hm-tooltip hm-tooltip-last"
                              *ngIf="statusGroup?.ffPayStatus && statusGroup?.paymentToPartner?.length > 0">
                              <div class="row">
                                <div class="col-12 text-left">
                                  <h5>Logs</h5>
                                </div>
                              </div>
                              <div [ngClass]="{'pop-border-btm' : !lastIndex, 'mb-2':lastIndex}"
                                *ngFor="let log of statusGroup?.paymentToPartner;let lastIndex = last">
                                <div class="row">
                                  <div class="col-7 text-left">
                                    <p class="popover-detail-title pb-0 mb-0">
                                      {{log?.StatusName | uppercase}}</p>
                                  </div>
                                  <div class="col-5 text-right">
                                    <p class="pb-0 mb-0">
                                      {{log?.StatusDate | date : "d MMM, yyyy H:mm"}} GMT</p>
                                  </div>
                                </div>
                              </div>
                            </div> -->
                          </div>
                        </div>
                        <div class="hidden-xs hidden-sm d-flex flex-column">
                          <ng-container *ngIf="statusGroup?.ffPayStatus">
                            <span
                              class="badge badge-pill {{statusGroup?.ffPayStatus?.StatusColorCode}} ml-1 align-self-center mt-2">
                              {{statusGroup?.ffPayStatus?.StatusName}}
                            </span>
                            <span class="mt-1 date" *ngIf="statusGroup?.paymentLogs?.length >0">
                              {{statusGroup?.ffPayStatus?.StatusDate | date : "d MMM, yyyy"}}
                            </span>
                          </ng-container>
                        </div>
                    </ol>
                  </div>
                </div>
                <hr class="mb-1" *ngIf="!lastInd" />
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>