/*==============  Responsive Media Queries ====================*/

/*-- using for Initiative Detail Page --*/

$FullHDlargeDesktop: "(max-width: 1920px)";
$extralargeDesktop: "(max-width: 1680px)";
$extralargeDesktop-1600: "(max-width:1600px)";
$largeDesktop1400: "(max-width: 1400px)";
$largeDesktop: "(max-width: 1440px)";
$mediumDesktop: "(max-width: 1366px)";
$smallDesktop: "(max-width: 1280px)";
$tablet: "(max-width: 991px)";
$tablet-1024: "(max-width: 1024px)";
$mobile: "(max-width: 767px)";
$mobile-landscape: "(max-width: 667px)";
$smallMob: "(max-width: 480px)";
$smallMob-360: "(max-width: 360px)";
/*-- using for Initiative Detail Page --*/

/*==============  Full HD Large Desktop 1920x1080 Full HD Display ====================*/

@media #{$FullHDlargeDesktop} {
  html {
    body {
    }
  }
}

/*==============  Large Desktop 1680x900 HD+ Display ====================*/

@media #{$extralargeDesktop} {
  html {
    body {
    }
  }
}

/*==============  Large Desktop 1440 ====================*/

@media #{$largeDesktop} {
  html {
    body {
    }
  }
}

/*==============  Large Desktop 1400 ====================*/

@media #{$largeDesktop1400} {
  html {
    body {
    }
  }
}

/*==============  Medium Desktop max-width: 1366px ====================*/

@media #{$mediumDesktop} {
  html {
    body {
    }
  }
}

/*========END======  Medium Desktop max-width: 1366px ====================*/

/*==============  Desktop max-width: 1280px ====================*/

@media #{$smallDesktop} {
  html {
    body {
    }
  }
}
/*==============  Tablet max-width:1024px ====================*/

@media #{$tablet-1024} {
  html {
    body {
    }
  }
}

/*==============  Tablet max-width:768 ====================*/

@media #{$mobile} {
  html {
    body {
      /* Header Navigatin */
      header {
        .container-fluid {
          padding: 0;
        }
        .navbar {
          padding-left: 0rem !important;
          padding-right: 0rem !important;

          &-nav {
            .nav-item {
              i.fa.fa-bars {
                font-size: 1.6rem;
                color: $secondary-grey;
              }
            }
          }
        }
      }
      .UserLogin,
      .forget {
        width: 22rem !important;
      }
      .allbookings {
        .nav-tabs {
          margin-bottom: 0px;
          .nav-item {
            width: auto;
            .nav-link {
              font-size: 0.8rem;
              letter-spacing: 0px;
              .badge {
                max-height: 22px;
              }
            }
          }
        }
      }
      /* page DashBoard */
      .dashboard {
        .welcomeSection {
          .welcome-title {
            h2 {
              font-size: 1.5rem;
            }
          }
          .btn-refresh {
            .icon-svg {
              svg {
                width: 1.25rem;
                height: 1.25rem;
                margin-top: -0.5rem;
              }
            }
          }
        }
        .bookingSummary {
          padding: 1rem;
        }
      }
      /* Booking Card Section */
      app-bookings-card {
        .bookings {
          .card {
            &-header {
              .bookings-header {
                &-number {
                  font-size: $font-size-medium;
                  &-icon {
                    top: -7px;
                    left: -6px;
                  }
                }
                small {
                  max-width: 11.5rem;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                .info {
                  margin-left: 2.5rem !important;
                }
                &-company {
                  .info {
                    position: absolute;
                    left: 70%;
                    top: -5px;
                  }

                  .badge {
                    margin-left: 0.2rem !important;
                    margin-right: 0.2rem !important;
                    font-size: 0.7rem !important;
                    font-weight: $font-weight-mid;
                    padding: 0.2rem 0.6rem;
                  }
                }
              }
            }
            &-body {
              .border-separated {
                border-bottom: 0px;
              }
              .provider-cargo {
                padding-left: 0.9375rem;
              }
              .r-reverse-321 {
                display: flex;
                flex-flow: column-reverse;
              }
              .mobile {
                &-order-0 {
                  order: -1;
                  padding-left: 0.75rem !important;
                  margin-bottom: 1rem;
                }
              }
              .border-separated {
                padding-left: 0.75rem !important;
              }
              .bookings-detail {
                .ports {
                  .price {
                    font-size: $font-size-large + 0.5;
                    line-height: 1;
                    font-family: $font-pragmatica;
                  }
                  &-label,
                  &-calendar {
                    font-size: 0.8rem;
                    img {
                      margin-right: 0.25rem !important;
                    }
                  }
                  span {
                    margin-bottom: 0 !important;
                    font-size: 0.8rem;
                    font-weight: $font-weight-mid;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 9rem;
                  }
                }
                &-logs {
                    top: -3px;
                }
                &.angle-arrow {
                  &::before {
                    height: 50px;
                    top: 55px;
                  }
                  &::after {
                    height: 50px;
                    top: 14px;
                  }
                }
              }
            }
            &-footer {
              .booking-status {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 1.25rem;
                align-items: center;
                margin-right: 0.35rem !important;

                label {
                  font-size: 0.7rem !important;
                  font-weight: $font-weight-mid;
                }

                .badge {
                  margin-left: 0.2rem !important;
                  margin-right: 0.2rem !important;
                  font-size: 0.7rem !important;
                  font-weight: $font-weight-mid;
                  padding: 0.325rem 0.6rem;
                }
              }
              .footer-actions {
                justify-content: flex-start !important;
              }
              .col {
                min-width: 100%;
              }
            }
          }
        }
      }
      /* Booking Filter */
      .book-filter {
        .modal-body {
          padding: 0rem;
        }
      }
      .book-filter,
      .invoice-filter,
      .Allfreights {
        .rates-filter {
          .card {
            &-header {
              a {
                .clear-filter {
                  font-size: 0.75rem;
                }
              }
            }
            &-body {
              padding: 5px 1.25rem;

              .date-control {
                .dateIcon {
                  ngb-datepicker.dropdown-menu.show {
                    position: static;
                  }
                  ngb-datepicker {
                    .ngb-dp-months {
                      .ngb-dp-month {
                        &:first-child {
                          &:after {
                            width: 0px !important;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            &-footer {
            }
          }
        }
      }
      /* Rate Request Card */
      .user-desk {
        .right-section-portal {
          padding: 1rem 0 2rem 0 !important;
        }
      }
      app-rate-request-card {
        .quote-card {
          .card {
            &-header {
              padding-left: 1rem;

              h5 {
                font-size: $font-size-medium;
              }
              .card-title {
                .card-text {
                  max-width: 14rem;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
              .booking-card-status {
                .actions {
                  margin-top: 0 !important;

                  .quote-request {
                    margin-right: 1rem;
                    margin-top: -0.2rem;
                  }
                }
              }
              p {
                .special-request-badge.mobile-badge {
                  right: auto;
                  top: 0.5rem;
                  left: 0;
                  width: 100%;
                  transform: translate(0.5rem, -3.6rem);
                  text-align: left;
                  z-index: 9;

                  .badge {
                    line-height: 0;
                    font-size: 0.7rem !important;
                    padding: 0.75rem 0.65rem 0.65rem;
                    background: $white-color !important;
                    background-color: $white-color !important;
                  }
                }
              }
              &-icon {
                position: relative !important;
                text-align: center;
                height: 46px;

                &::before {
                  width: 100% !important;
                  height: 35px;
                  border-radius: 0;
                }
                &::after {
                  border-top: 10px solid #02bdb6;
                  border-bottom: 22px solid transparent;
                  border-left: 22px solid transparent;
                  border-right: 22px solid transparent;
                  left: 50%;
                  top: 49px;
                  -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
                }
                .icon-size-24 {
                  top: 6px !important;
                  left: 0 !important;
                }
              }
            }
            &-body {
              padding: 1rem !important;

              .booking-detail {
                padding-left: 0 !important;
                h4 {
                  font-size: $font-size-medium;
                  // display: -webkit-box;
                }
                small {
                  font-size: $font-size-base;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  max-width: 9rem;
                  display: block;
                  line-height: 13px;
                  margin-top: 0.35rem;
                  font-weight: $font-weight-normal;
                }
                .mobile-r {
                  order: -1;
                }
                .hm-enterprise-customer {
                  max-width: 12rem;
                }
                .SpecialRequest {
                  justify-content: end;
                  padding-right: 1rem;
                  margin-bottom: -1.5rem;
                }
                .col.pt-5 {
                  padding-top: 1rem !important;
                }
              }
              .right-arrow {
                &:before {
                  height: 50px;
                  top: 55px;
                  right: 28px;
                }
                &:after {
                  height: 50px;
                  right: 28px;
                  top: 14px;
                }
              }
              .border-right {
                border-right: 0px !important;
              }
            }
            &-footer {
              .view-detail {
                .grey-sm-txt {
                  margin-right: 0rem !important;
                }
              }
            }
          }
        }
        .card {
          .quotes {
            &-body {
              padding: 0.75rem !important;
            }
          }
        }
      }
      /* Rate Request Child Card */
      app-rate-request-card-child {
        .booking-card {
          .card {
            &-header {
              height: 4.6rem !important;
              h5 {
                font-size: $font-size-medium !important;
              }
              .card-text {
                max-width: 11.5rem !important;
              }
              p {
                .special-request-badge {
                  text-align: left;
                  top: 2.2rem !important;
                  transform: translateX(-0.5rem);
                  display: flex;
                  justify-content: right;
                  right: auto;
                }
              }
            }
            &-body {
              padding: 1rem 0rem 1rem 0.25rem;

              .tooltip-inner {
                max-width: 100%;
              }

              .customer-section {
                padding-left: 1rem !important;

                small {
                  white-space: normal;
                }
              }
              .booking-detail {
                // padding-left: 0!important;
                .customer {
                  align-items: flex-start !important;
                }
                .list-group {
                  &-item {
                    font-size: $font-size-base + 0.05 !important;
                  }
                }
                small {
                  font-size: $font-size-base !important;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  max-width: 9rem !important;
                  display: block;
                  line-height: 13px;
                  margin-top: 0.35rem !important;
                  font-weight: $font-weight-normal !important;
                }
                .per-price {
                  font-size: 2rem;
                  font-weight: $font-weight-mid;
                }
                .SpecialRequest {
                  justify-content: end;
                  padding-right: 0rem;
                  margin-bottom: 0.5rem;
                }
              }
              .right-arrow {
                &:before {
                  height: 50px !important;
                  top: 55px !important;
                  // right: 28px;
                }
                &:after {
                  height: 50px !important;
                  // right: 28px;
                  top: 14px !important;
                }
              }

              .mobile {
                &-order-0 {
                  order: -1;
                  padding-left: 0.75rem !important;
                  margin-bottom: 0.25rem;

                  .grey-sm-txt {
                    margin-left: 0.25rem;
                  }
                }
              }
            }
            &-footer {
              .footer-actions {
                display: block !important;
                margin-top: 0.25rem;
              }
              .mobile-r {
                flex-direction: column-reverse;
              }

              .justify-content-end {
                justify-content: start !important;
              }
              .view-detail {
                margin: 1rem 0rem 0.5rem !important;
              }
            }
          }
        }
      }
      app-chat {
        .chat-list {
          .user-modal {
            .modal-header {
              .user-modal-title {
                font-size: $font-size-large;
              }
            }
          }
        }
      }
      app-chat-request {
        .chat-list {
          .user-modal {
            .modal-header {
              .user-modal-title {
                font-size: $font-size-large;
              }
            }
          }
        }
      }
      /* SEA: Add Rate Dialog */
      app-sea-rate-dialog {
        .seaRates-modal {
          .modal-body {
            max-height: 36rem;
            padding-left: 15px;
            padding-right: 15px;
            overflow-x: hidden;

            button.btn {
              font-size: 0.875rem;
            }
          }
        }
      }
      /* Add Rate-Request Dialog */
      app-request-add-rate-dialog {
        .request-rate-add-modal {
          ng-scrollbar.history-scroll {
            height: 27rem !important;
          }
          .modal {
            &-header {
              padding: 0.65rem 1rem;
              h4 {
                font-size: $font-size-large;
              }
            }
            &-body {
              padding: 1rem;
              max-height: 36rem;
              .combine-filed-popup {
                &-left,
                &-right {
                  font-size: $font-size-medium;
                  min-height: 3rem;
                  // overflow: hidden;
                  // text-overflow: ellipsis;
                  // white-space: nowrap;

                  &-btn {
                    button {
                      font-size: $font-size-medium;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }
                    .dropdown-menu {
                      width: 18rem;
                    }
                  }
                  .flag-container {
                    top: 12px;
                  }
                }
              }
              .form-control {
                font-size: 0.8rem;
              }
              // .origin {
              //   padding-right: 0rem;
              // }
              .rates-filter {
                .card {
                  &-body {
                    padding: 1rem;
                  }
                }
              }
            }
            &-footer {
              justify-content: flex-start !important;
              margin-left: 1rem;
              .action-items {
                padding-right: 0.75rem !important;
                button {
                  font-size: 0.75rem;
                  margin: 0.2rem !important;
                  padding: 0.35rem !important;
                }
              }
            }
          }
        }
      }
      app-payment-terms-dialog {
        .paymentTermsDialog {
          .modal {
            &-header {
              padding: 1rem !important;
            }
            &-body {
              padding: 1rem;

              .modal-content {
                .form-group {
                  margin-left: 0rem !important;
                }
              }
            }
            &-footer {
              padding: 1rem !important;
            }
          }
        }
      }
      app-air-rate-dialog {
        .airRates-modal {
          .modal-body {
            max-height: 36rem;
            padding-left: 15px;
            padding-right: 15px;
            overflow-x: hidden;

            button.btn {
              font-size: 0.875rem;
            }
          }
        }
      }
      app-warehouse-rate-dialog {
        .wareohuse-rate {
          &-modal {
            // padding: 1rem;
            .modal-body {
              max-height: 36rem;
              padding-left: 15px;
              padding-right: 15px;
              overflow-x: hidden;

              button.btn {
                font-size: 0.875rem;
              }
            }
          }
        }
      }
      app-vessel-schedule-dialog {
        .user-modal {
          .modal {
            &-header {
              .user-modal-title {
                font-size: $font-size-large + 0.15rem;
              }
            }
            &-body {
              .table {
                tbody {
                  tr {
                    td {
                      font-size: $font-size-base;
                    }
                  }
                }
              }
            }
            &-footer {
              flex-direction: column-reverse;
              button.btn {
                width: 100%;
                margin: 0 !important;
                margin-top: 0.5rem !important;
                text-transform: uppercase;
              }
            }
          }
        }
      }
      app-terms-condition {
        .termsAndCondition {
          .modal {
            &-header {
              padding: 1rem !important;

              .confirm-modal-title {
                text-shadow: none !important;
                font-family: $font-pragmatica;
                font-size: $font-size-large + 0.25rem !important;
                margin: 4px 0 0 0;
                font-weight: $font-weight-mid !important;
              }
            }
            &-body {
              padding: 1rem !important;
              font-size: $font-size-medium;

              p {
                font-size: $font-size-medium !important;
              }

              .col-xl-2.col-lg-2.col-md-2.col-12.mb-3 {
                text-align: center;
              }

              h2 {
                font-size: $font-size-large + 0.5;
              }
              .table {
                th {
                  font-family: $font-proxima;
                  font-size: $font-size-medium;
                }
                tbody {
                  tr {
                    td {
                      font-family: $font-proxima;
                      font-size: $font-size-base;
                    }
                  }
                }
              }

              button.btn {
                font-size: $font-size-medium - 0.075;
                width: 100%;
                margin: 0 !important;
                margin-top: 0.5rem !important;
                text-transform: uppercase;
              }
            }
          }
        }
      }
      app-view-booking {
        .view-booking {
          &-top-btn {
            justify-content: flex-start !important;

            a {
              .link-hover-grey {
                font-size: 0.7rem;
              }
            }
          }
          .status {
            strong {
              a {
                margin-top: 0.5rem !important;
              }
            }
          }
          .card {
            &-body {
              padding: 1rem !important;

              .supplier-text {
                text-align: left !important;
                padding-left: 0.25rem;

                .form-group {
                  margin-bottom: 0rem;
                  label {
                    margin-bottom: 0rem;
                  }
                }
              }
            }
          }
          .view-booking-shipment-detail {
            .card-title {
              align-items: flex-start !important;
              .img-shipper {
                top: 0px;
              }
              h5 {
                // max-width: 15.5rem;
                // overflow: hidden;
                // text-overflow: ellipsis;
                // white-space: nowrap;
                letter-spacing: 0px;
                word-spacing: 0px;
              }
              .edit-info {
                min-width: 3.8rem;
                margin-top: -0.25rem;
              }
            }
            .view-booking-shipment-detail-right {
              order: -1;
              margin-top: 2rem;
            }
          }
          &-document {
            .form-group {
              label {
                margin-bottom: 0rem !important;
              }
            }
          }
          .other-document {
            .card-header {
              .accordion {
                &-title {
                  margin-left: 0rem !important;
                  white-space: normal;
                  span {
                    font-size: 0.75rem;
                  }
                  .docTitle {
                    .form-control {
                      width: 96%;
                      margin-top: 0.3rem;
                    }
                  }
                }
                &-time {
                  margin-left: 0rem !important;
                  // max-width: 10rem;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                .check-icon {
                  top: -3px;
                }
              }
            }
          }
          .warehousing-header {
            h4 {
              margin-left: 1.75rem;
            }
            h4.card-title.wareHouse.mb-4 {
              margin-left: 0rem !important;
            }
            .Wcontent {
              padding: 0.5rem 0rem;
            }
          }
          .document-simple {
            .empty-title {
              margin-top: 0.25rem !important;
              margin-right: 0.25rem !important;
            }
          }
          .sch-card {
            .mode-container {
              .mode {
                width: 30%;
                .arrows {
                  width: 3rem;
                  img {
                    width: 2rem !important;
                  }
                }
              }
            }
          }
          .btn-refresh {
            .icon-svg {
              svg {
                width: 1.25rem;
                height: 1.25rem;
                margin-top: -0.5rem;
              }
            }
          }
        }
      }
      app-warehouse-list {
        .Add-warehouse {
          &-rates {
            app-ui-table {
              .ui-table {
                .table-info {
                  .table-info-count {
                    margin-top: 1.25rem;
                  }
                }
              }
            }
          }
        }
      }
      app-warehouse {
        .form-group .input-group-append {
          margin-right: 0.25rem !important;
        }
        .warehouseSetup {
          .warehouse {
            &-info {
              .form-group {
                .input-group-appen {
                  margin-right: 0.25rem !important;
                }
              }
            }
          }
        }
      }

      app-manage-rates {
        .warehouseList {
          button.btn {
            font-size: 0.875rem;
          }
          .you-have-warehouse {
            justify-content: end;
          }
          .add-warehouse {
            margin-top: 0.75rem;
          }
        }
      }

      /* Manage Rate */
      .manageRates {
        .Allfreights {
          .rates-grid {
            .btn-refresh,
            .rate-validate,
            .grid-delete {
              margin: 1rem 1rem 1rem 0rem !important;
            }
          }
          .nav-tabs {
            .nav-item {
              width: 50%;
              span {
                width: 100%;
              }
              &:first-child {
                display: none;
              }
            }
          }
        }
        .action-span-size {
          font-size: 0.7rem !important;
        }
        .rates-grid {
          .rates-action-items {
            display: flex;
            justify-content: space-between;
          }
        }
        app-ui-table {
          .ui-table {
            .table-info {
              .table-info-count {
                margin-top: 0.5rem;
              }
            }
          }
        }
      }
      /* Invoice Payment Card */
      app-invoice-upload {
        .upload-booking-document {
          .modal-header {
            .modal-title {
              font-size: $font-size-large;
            }
          }
          .modal-body {
            padding: 0;

            .document-Info {
              .file-uploader {
                app-ng-files-drag-n-upload {
                  label {
                    padding: 2rem;
                  }
                }
              }
            }
            .card {
              &-body {
                .invoice-total-amount {
                  border-radius: 0.25rem;
                  .total {
                    font-size: $font-size-medium;
                  }
                  .amount {
                    text-align: right;
                    font-size: $font-size-large + 0.5;
                    font-weight: $font-weight-normal;
                  }
                }
              }
            }
            table {
              tbody {
                font-size: $font-size-medium;
              }
            }
          }
        }
      }
      /* Invoice Payment Card */
      app-invoice-payment {
        .upload-booking-document {
          .modal-header {
            .modal-title {
              font-size: $font-size-large;
            }
          }
          .modal-body {
            padding: 0;

            .document-Info {
              .file-uploader {
                app-ng-files-drag-n-upload {
                  label {
                    padding: 2rem;
                  }
                }
              }
            }

            .card {
              &-header {
                .payment-icon {
                  width: 1.5rem;
                }
                .cheque-info {
                  order: 1;
                  padding-left: 4.4rem;
                }
              }
              &-body {
                .invoice-total-amount {
                  border-radius: 0.25rem;
                  .total {
                    font-size: $font-size-medium;
                    text-align: left;
                  }
                  .amount {
                    text-align: right;
                    font-size: $font-size-large + 0.5;
                    font-weight: $font-weight-normal;
                  }
                }
              }
            }
          }
        }
        .invoice-payment {
          .modal-header {
            .invoice-payment-title {
              font-size: $font-size-large + 0.2rem;
            }
          }
          .modal-body {
            ng-scrollbar {
              max-height: 36rem !important;
              height: 100% !important;
            }
          }
          .payment-card {
            .payment-container {
              .card {
                &-header {
                  .payment-icon {
                    width: 1.5rem !important;
                  }
                  .icon-downloads {
                    width: 1.25rem !important;
                    margin-right: 0;
                  }
                  .cheque-info {
                    order: 1;
                    padding-left: 3.4rem;
                  }
                  .booking-id,
                  .Cheque {
                    font-size: $font-size-medium !important;
                  }
                }
              }
            }
          }
        }
      }
      /* Invoice Document Dialog */
      app-invoice-documents {
        .upload-booking-document {
          .modal {
            &-header {
            }
            &-body {
              padding: 1rem;

              .card {
                &-header {
                }
                &-body {
                  padding: 0rem;
                }
              }
            }
          }
        }
      }
      /* Invoice Card */
      app-invoice-card {
        .invoice-card {
          .invoice-head-spacing {
            margin: 0;
          }
          .card-header {
            p {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              max-width: 13rem;
            }
            .footer-actions {
              .icon-size-16 {
                width: 1.2rem !important;
                height: 1.2rem !important;
              }
            }
          }
          .card-body {
            .mobile {
              &-order-0 {
                order: -1;
                padding-left: 0.75rem !important;
                margin-bottom: 1rem;
              }
            }
            .booking-detail {
              h4.price {
                font-size: 1.8rem;
                line-height: 1;
                font-family: $font-pragmatica;
              }
            }
          }
          .card-footer {
            padding: 0.75rem;

            .step-indicator {
              .caption {
                padding: 0.25rem 0.25rem;
                height: 3.25rem;
              }
              li:after {
                top: 4.25rem !important;
              }
            }
            .badge {
              white-space: normal;
              font-size: 0.65rem !important;
              font-weight: $font-weight-mid;
            }
          }
        }
      }
      app-schedule-card {
        .sch-card {
          .mode-container {
            .mode {
              width: 28%;
              .arrows {
                width: 8rem;
                .animated-arrows {
                  width: 2.4rem;
                  img {
                    width: 2rem !important;
                  }
                }
              }
            }
          }
        }
      }
      app-schedule-card-v2 {
        .sch-card-v2 {
          .mode-container {
            .mode {
              width: 28%;
              .arrows {
                width: 8rem;
                .animated-arrows {
                  width: 2.4rem;
                  img {
                    width: 2rem !important;
                  }
                }
              }
            }
          }
          p {
            font-family: $font-proxima;
            font-size: $font-size-medium - 0.075;
          }
          .route-map {
            min-width: 5.5rem;
          }
          .col-6 {
            padding: 0.25rem !important;
            margin-top: 0.25rem !important;
          }
        }
      }

      /* Setting Page */
      .settings {
        div#ServicesSettings-header,
        div#NewsAndUpdateSettings-header,
        div#OfficeLocationSettings-header,
        div#EmailNotifications-header {
          .panel-title {
            min-width: 100%;
            margin-left: 0rem;
          }
        }

        .accordion {
          .card {
            &-header {
              a {
                font-size: $font-size-large !important;
                display: inline-block;
              }
            }
          }
        }
        .nav-tabs {
          .nav-item {
            width: 50% !important;

            .nav-link {
              letter-spacing: 0px;
              font-size: $font-size-base;
              font-weight: $font-proxima-weight-semibold;
            }
          }
        }
        div#NewsAndUpdateSettings {
          .table {
            tbody,
            thead {
              tr {
                td,
                th {
                  padding: 0.875rem;
                }
              }
            }
          }
        }
        div#ChangePassword {
          .form-group {
            margin-bottom: 0;
          }
        }
        .delete-acc {
          a {
            margin-right: 1rem;
            position: inherit;
          }
        }
        .card {
          &-header {
          }
          &-body {
            h5 {
              font-size: $font-size-large !important;
              margin-bottom: 0;
            }
          }
        }
      }
      .DocumentManager {
        iframe {
          width: 100%;
        }
      }

      /* Sea Rates Dialog */
      .seaRates-modal {
        .additional {
          .freight-padding {
            &-left {
              padding-left: 1.9rem;
            }
            // &-right {
            //   padding-right: 0;
            // }
          }
        }
      }
      app-footer {
        .end-footer {
          padding-bottom: 1rem !important;
          font-size: 0.75rem !important;
          .copyrights {
            float: none;
          }
        }
      }
      .small-modal, .medium-modal, .carge-detail {
        .modal-dialog {
          max-width: 96% !important;
        }
      }

      // .modal {
      //   &-dialog {
      //     max-width: 96% !important;
      //   }
      // }
    }
  }
}

/* Mobile Landscape 640px */

@media #{$mobile-landscape} {
  html {
    body {
    }
  }
}

/* Mobile Landscape 640px */

/*==============  Mobile max-width:480 ====================*/

@media #{$smallMob} {
  html {
    body {
    }
  }
}

/*==============  Responsive Media Queries ====================*/

@media #{$smallMob-360} {
  html {
    body {
      .UserLogin,
      .forget {
        width: 19rem !important;
      }
    }
  }
}
