// Default for size for body
$body-fontsize: 16px;
$body-fontfamily: "pragmatica", sans-serif;
// Hashmove fonts - font-family and font-weight variables
$font-pragmatica: "pragmatica", sans-serif;
$font-proxima: "proxima-nova", sans-serif;
// base font for root - HTML/Body
// FONT SIZES VARIABLES
$root-font-size: 1rem;
$font-size-base: $root-font-size - 0.25; // font-size: 12px
$font-size-medium: $root-font-size - 0.125; // font-size: 14px
$font-size-large: $root-font-size; // font-size: 16px
//old font size
$base-font-size: $root-font-size;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-mid: 500;
$font-weight-bold: 700;
$font-proxima-weight-semibold: 600;
// --  user portal variables  -- //
$btn-grey-color: #b3bcc3;
$light-grey: #d1d8de;
$color-white: #ffffff;
$color-topmenu: #738593;
$color-topmenuhover: #56b5da !important;
$color-topmenuactive: #00a2df;
$color-icon-grey: #738592;
$color-default-svg: #738592;
$color-default-svg-hover: #56b5da !important;
$color-list-style-blue: #56b5da;
$color-menuheading-blue: #00a2df;
$color-menuheading-black: #2b2b2b;
$color-date: #777777;
$color-plus-minus: #adadad;
$primary-text-shadow: #018cb5;
$route-and-price-icon-color: #62c4eb;
// default blue button
$btn-default-sky-blue: #1caae3;
$btn-light-fontsize: $font-size-medium;
// inner pages background-color
$inner-background-color: #f7f7f8;
// Route Box heading color
$search-routes-heading: #738593;
// check boxes background
$checkboxes-background-color: #1eace3;
// search background
$search-background: #ebeef1;
// default grey + dark blue
$dark-grey-blue: #738593;
// sky blue default
$sky-blue-default: #00a0df;
// Footer Copyrights color
$copyrights-color: #777777;
// shippping dropdown color
$dropdown-shipping: #738593;
$white-color: #ffffff;
$container-bg: #f2f3f5;
$primary-grey: #3f5165;
$unactive-container-tab: #a5b2ba;
$active-text-color: #049bd5;
$secondary-grey: #738593;
$disabled-text-color: #8a939d;
$mini-footer-bg: #c7ced4;
$break-down-color: #b5b5b5;
$modal-header-background: #fcfcfd;
$place-holder-color: #afafaf;
$pagination-text-color: #555;
$pagination-bg-color: #ebebeb;
$pagination-bg-color2: #dde0e7;
$alert-warning--background-color: #fff8ee;
//--- FONTS COLORS --////
$text-grey: #afafaf;
//--- BORDER COLORS --////
$input-border: #d5dade;
$boxes-border: #d9d9d9;
$dashed-border-color: #d7d7d7;
$theme-border-grey: #f4f4f4;
$dark-grey-border: #a8b0ba;
$light-grey-border: #f1f1f1;
$footer-border: #8f9da9;
$checkboxes-border-color: #2a96da;
$checkboxes-border: #e0e0e0;
$sidebar-border-color: rgb(229, 229, 229);
$left-sidebar-border-color: rgba($sidebar-border-color, 0.502);
$boxes-border-grey: #eff2f5;
//--- COLORS --///
$secondary-color: #02bdb6;
$secondary-light-color: #e9f8f8;
$secondary-color-dark: #01958f;
$primary-color: #00a2df;
$default-yellow: #f5a623;
$badge-default: #546376;
$badge-green: #c5f5f3;
$badge-yellow: #fcf7ef;
$badge-light-blue: #e4f5fc;
$shaded-blue: #f4fafd;
$grey-alert: #ebeef0;
$dark-blue: #317fcb;
$dark-blue-hover: #2b7ee4;
$badge-secondary: #4e5b69;
$danger-color: #d32020;
$disabled-color: #e9ecef;
$pagination-color: #222222;
$danger-light-color: #fcf0f1;
$submenu-bg: #f1f3f4;
$shipping-active-color: #00a1df;
$shipping-subcar-active: #243748;
$shipping-subcat-border: #8999a6;
$shipping-subcat-text: #dbdfe2;
//   provider Portal
// bookings/ dashboard
$booking-card-border: #ebeff3;
$blue-box: #00a3e0;
$warning-color: hsl(37, 91%, 55%);
$table-head: #ecf0f3;
$table-border: #dce2e7;
$route-tab-Active-color: #00a2df;
$route-tab-InActive-color: #b2bac2;
$route-small-title-color: #738592;
$route-large-title-color: #2b2b2b;
$route-arrow-color: #b9c2c9;
// Search Result Message Box
$icon-air-ship-color: $color-topmenuactive;
$search-message-box-background: #ebeef0;
$search-message-box-fontcolor: #3f5165;
$search-message-box-border: #cbd2df;
// Default for size for body
$body-fontsize: 16px;
$body-fontfamily: "pragmatica", sans-serif;
// Hashmove fonts - font-family and font-weight variables
$font-pragmatica: "pragmatica", sans-serif;
$font-proxima: "proxima-nova", sans-serif;
$font-NeoSansArabic-Regular: "NeoSansArabic-Regular";
$font-NeoSansArabic-Medium: "NeoSansArabic-Medium";
// base font for root - HTML/Body
// FONT SIZES VARIABLES
$root-font-size: 1rem;
$font-size-base: $root-font-size - 0.25; // font-size: 12px
$font-size-medium: $root-font-size - 0.125; // font-size: 14px
$font-size-large: $root-font-size; // font-size: 16px
//old font size
$base-font-size: $root-font-size;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-mid: 500;
$font-weight-bold: 700;
$font-proxima-weight-semibold: 600;
// colors variable
$left-sidebar-background: #eff1f6;
$right-side-background: #f7f8fc;
$secondary-text-color: #555555;
$text-color-default: #2b2b2b;
$provider-input-border: #e9ecf0;
$dark-blue-background: #243748;
$grey-border: #e5e5e5;
$form-control-focus: #80bdff;
$tab-inactive-bg: #d6dbe1;
$acc-bg: #f3f4f7;
$acc-border: #b8c1c9;
$ngb-dp-month-border-color: #dfdfdf;
$ngb-dp-weekday-fontcolor: #777777;
//disable colors
$btn-disable-background: #e3e7e9;
$btn-disable-color: $dark-grey-blue;
$dropdown-color: #e4e9ec;
//progress circle
$probar-bg: #e6e8ec;
$probar-color: #d2272a;
// Responsives Screens variables
$screen-fourteen-hundred: 1400px;
$screen-lg-screen: 1199px;
$mediumDesktop: "(max-width: 1366px)";
$screen-md-screen: 991px;
$screen-lg-eight-fourty: 840px;
$screen-sm-screen: 767px;
$screen-xs-screen: 575px;
//hr border
$hr-border-color: #fbfbfd;
//button background
$btn-bg-primary: #18a7a1;
$btn-bg-danger: #8e161f;
// calender
$calendar-month-name-fontcolor: #2b2b2b;
$calendar-month-name-fontsize: 15px;
$calendar-background-color: $white-color;
// calender
// Data table
$data-table-border: #e4e4e6;
$data-table-header-bg: #fcfcfe;
$data-table-selected-bg: #ecf1f5;
// End data table
// on rate additional charges
$addtional-input-background: #f1f0f0;
$addtional-input-border: #d7d8da;
// port pickup background
$port-pickup-background: #f7f8f9;

$grey-background: #f0f1f1;
$chili-red: #fe404b;
$heading-light-color: #bec3c8;
$bullets-background:#cfd7db;
$admin-panel-bg: #f3f4f6;
$user-panel-bg: #fcfcfe;
$tablet: "(max-width: 800px)";
$mobile: "(max-width: 767px)";
$date-unactive: #f2f2f2;
$badge-red: #da4343;
$select-background:#ecf0f3;