@import "../../../../assets/scss/_variables";

// .modal-dialog.modal-lg {
//   max-width: 45% !important;
// }

.forget {
  background: #f7f8fc;
  width: 30rem;
  height: 100%;
  .user-modal {
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
    .modal-header {
      padding: 10px 32px;
      background: $modal-header-background;
      display: block;
      h4 {
        margin: 0px;
        text-shadow: 0px 0px $text-color-default;
        font-size: $font-size-large + 0.375rem;
        margin-top: 4px;
        font-weight: $font-weight-normal;
        font-family: $font-pragmatica;
      }
      p {
        font-size: $font-size-medium;
        font-family: $font-proxima;
        font-weight: $font-weight-normal;
        color: $secondary-text-color;
        margin-top: 4px;
        margin-bottom: 0px;
      }
      a.crossIcon {
        position: absolute;
        right: 8px;
        top: 4px;
        width: 14px;
        height: 14px;
        img {
          width: 100%;
        }
      }
    }
    .modal-body {
      padding: 25px 32px;
      .form-component {
        margin: 0 0px;
        .form-group {
          margin-bottom: 0px;
          label {
            font-size: $font-size-medium;
            font-weight: $font-weight-normal;
            margin-bottom: 15px;
            color: $text-color-default;
          }
          input {
            height: 50px;
            border: 1px solid $input-border;
            color: $text-color-default;
            font-size: $font-size-medium;
            padding-left: 15px;
            font-weight: 100;
            &:focus {
              border-color: $primary-color;
              transition: ease-in 0.8s;
            }
          }
          .btn {
            font-size: $font-size-large;
            font-family: $font-proxima !important;
            font-weight: $font-proxima-weight-semibold;
            padding: 12px 50px;
            color: $white-color;
            background: $secondary-color;
            text-transform: uppercase;
            border-radius: 2px;
            border: 0;
            &.full-width-btn {
              width: 100%;
            }
            &:disabled {
              cursor: no-drop;
              border: 0;
              background: $btn-disable-background !important;
              color: $btn-disable-color !important;
              border-radius: 2px;
              &:before {
                background: $btn-disable-background !important;
                color: $btn-disable-color !important;
              }
            }
          }
        }
        .login-btn {
          margin: 25px 0;
        }
      }
      .forgot-password {
        font-size: $font-size-base;
        font-family: $font-proxima;
        font-weight: $font-proxima-weight-semibold;
        text-transform: uppercase;
        line-height: 1.803;
        color: $dark-grey-blue;
        i.fa.fa-angle-right {
          font-weight: 600;
          padding-left: 10px;
        }
      }
    }
  }
}
