<!-- User login Modal -->
<div class="forget">
  <div class="user-modal animated fadeIn">
    <div class="modal-header">
      <h4 class="user-modal-title">Forgot Your Password?</h4>
      <p>We'll send you email with a link to reset it.</p>
      <!-- <a class="pointer crossIcon" (click)="closeModal()">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
      </a> -->
    </div>
    <div class="modal-body">
      <form class="form-component" novalidate [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm.value)">

        <!-- Alert Message -->
        <div class="alert alert-warning" *ngIf="emailSend">
          <p>A reset password link is on its way to your inbox.</p>
        </div>
        <!-- Alert Message -->
        <!-- input row -->
        <div class="row form-group">
          <div class="col-lg-12">
            <label>Email</label>
            <input class="form-control" formControlName="email" placeholder="john@company.com" type="email">
          </div>
          <div class="col-lg-12 login-btn">
              <button class="btn btn-primary hvr-sweep-to-right pull-right full-width-btn " type="submit" [disabled]="resetForm.invalid">
                <span *ngIf="!emailSend">Reset Password</span>
                <span *ngIf="emailSend">Resend?</span>
             </button>
          </div>
        </div>
      
      </form>
      <div class="col-lg-12 text-center">
        <a href="javascript:;" class="forgot-password hvr-icon-wobble-horizontal" (click)="loginModal()">Go to Login
          <img src="../../../../assets/images/icons/icon_arrow_right.svg" alt="Arrow Icon" class="icon-svg hvr-icon icon-size-14">
        </a>
      </div>
    </div>
  </div>

</div>
<!--/ User login Modal -->

