@import "../../../../assets/scss/_variables";
$unactive-tab1: #ececec;
$unactive-tab2: $white-color;
$unactive-container-tab: #a5b2ba;
// .modal-dialog.modal-lg {
//   max-width: 690px !important;
// }

.Registration {
  .user-modal {
    .modal-header {
      padding: 15px 32px;
      background: $modal-header-background;
      display: flex;
      h4 {
        margin: 0px;
        text-shadow: 0px 0px $text-color-default;
        font-size: $font-size-large + 0.375rem;
        margin-top: 4px;
        font-weight: $font-weight-normal;
      }
      .have-an-account {
        font-size: $font-size-base;
        color: $dark-grey-blue;
        font-family: $font-proxima;
        font-weight: $font-proxima-weight-semibold;
        text-transform: uppercase;
        padding-top: 8px;
        letter-spacing: 1px;
        padding-top: 8px;
        width: 55%;
        text-align: right;
        i.fa.fa-angle-right {
          font-weight: 600;
          padding-left: 10px;
        }
        &:focus {
          outline: 0;
        }
      }
      a.crossIcon {
        position: absolute;
        right: 8px;
        top: 4px;
        width: 14px;
        height: 14px;
        img {
          width: 100%;
        }
      }
    }
    .modal-body {
      padding: 25px 32px;
      // .dropdown {
      //   display: flex;
      //   align-items: center;
      //   // width: 93%;
      //   .show {
      //     min-width: 60px;
      //     margin-top: 16px;
      //     margin-left: -10px;
      //     // width: 120px;
      //   }
      //   .phone {
      //     display: flex;
      //     align-items: center;
      //     img {
      //       max-height: 16px;
      //       margin-right: 10px;
      //       display: block; // vertical-align: top;
      //       border: 1px solid $grey-border;
      //     }
      //   }
      // }
      p.formError {
        position: absolute; // bottom: -35px;
        line-height: 1;
        margin-top: 4px;
        width: 100%;
        left: 6px;
        color: $danger-color;
        font-size: $font-size-medium - 0.025;
        text-align: left;
      }
      // .dropdown-menu {
      //   padding: 0px;
      //   border: 1px solid $secondary-color;
      //   ul {
      //     max-height: 180px;
      //     overflow-y: auto;
      //     position: relative;
      //     min-width: 7.2rem;
      //     width: 100%;
      //     overflow-x: hidden;
      //     // height: 180px;
      //     .list-group-item {
      //       padding: 5px 12px;
      //       border: 0;
      //       &:hover {
      //         background: $inner-background-color;
      //         cursor: pointer;
      //       }
      //       img {
      //         margin-right: 10px;
      //         border: 1px solid $grey-border;
      //       }
      //     }
      //   }
      //   &.show {
      //     max-height: 260px;
      //     overflow-y: auto;
      //   }
      //   button.dropdown-item {
      //     cursor: pointer;
      //     &.active {
      //       background: $primary-grey
      //     }
      //   }
      // }
      .tabs-label {
        label {
          font-size: $font-size-medium;
          word-spacing: 2px;
          margin-bottom: 10px;
          text-transform: uppercase;
          color: $dark-grey-blue;
          font-family: $font-proxima;
          font-weight: $font-proxima-weight-semibold;
        }
      }
      .nav.nav-tabs {
        li.nav-item {
          .nav-link {
            position: relative;
            padding-top: 14px;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1.5px;
            height: 55px;
            border-radius: 5px;
            background: $unactive-tab1;
            background: linear-gradient(180deg, $unactive-tab1 35%, $unactive-tab2 100%) !important;
            color: $unactive-container-tab;
            border-bottom: 0px;
            color: $dark-grey-blue;
            svg {
              position: relative;
              float: left;
              top: 3px;
              left: -15px;
            }
            div {
              position: absolute;
              display: flex;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              align-items: center;
              justify-content: center;
            }
          }
          .nav-link:hover {
            background: $sky-blue-default !important;
            border: 2px solid #008bd4;
            border-top: 0px;
            transition: 1.5s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
            -moz-box-shadow: inset 2px 2px 2px $sky-blue-default, inset -2px -2px 2px #008bd4;
            -webkit-box-shadow: inset 2px 2px 2px $sky-blue-default, inset -2px -2px 2px #008bd4;
            box-shadow: inset 2px 2px 2px $sky-blue-default, inset -2px -2px 2px #008bd4;
            color: $white-color;
            svg,
            .d7ef9b3a-c716-481d-87a3-42203215455a,
            .\34 564af40-94b0-4cf1-8c08-648f046447c0 {
              position: relative;
              float: left;
              fill: $white-color; // left: 20px;
            }
          }
          .nav-link.active {
            color: $white-color;
            background: $sky-blue-default !important;
            border: 2px solid #008bd4;
            border-top: 0px;
            transition: 1.5s;
            -moz-box-shadow: inset 2px 2px 2px $sky-blue-default, inset -2px -2px 2px #008bd4;
            -webkit-box-shadow: inset 2px 2px 2px $sky-blue-default, inset -2px -2px 2px #008bd4;
            box-shadow: inset 2px 2px 2px $sky-blue-default, inset -2px -2px 2px #008bd4;
            svg,
            .d7ef9b3a-c716-481d-87a3-42203215455a,
            .\34 564af40-94b0-4cf1-8c08-648f046447c0 {
              fill: $white-color;
            }
            &:after {
              content: " ";
              -webkit-box-shadow: 2px 2px 20px #000;
              box-shadow: 0px 3px 18px #6f6e6e;
              width: 110%;
              height: 50px;
              z-index: -1;
              display: block;
              margin-top: -10px;
              margin-left: -15px;
            }
          }
        }
      }
      .form-component {
        margin: 25px 0px;
        .form-row {
          // margin-bottom: 20px;
          ngb-typeahead-window {
            min-width: 298px !important;
            button {
              img {
                border: 1px solid #20252954;
              }
            }
          }
          label {
            font-size: $font-size-large;
            font-weight: $font-weight-normal;
            font-family: $font-proxima;
            margin-bottom: 8px; //text-shadow: 0px 1px $text-color-default;
          }
          input,
          select {
            height: 50px;
            border: 1px solid $input-border;
            font-family: $font-proxima;
            font-size: $font-size-medium;
            font-weight: $font-weight-normal;
            color: $text-color-default;
            padding-left: 15px;
            &.fieldError {
              border-color: $danger-color;
              transition: ease-in 0.8s;
            }
            &::-webkit-input-placeholder {
              color: $place-holder-color;
            }
            &::-moz-placeholder {
              color: $place-holder-color;
            }
            &:-moz-placeholder {
              color: $place-holder-color;
            }
            &:-ms-input-placeholder {
              color: $place-holder-color;
            }
          }
          input[autocomplete="new-password"] {
            padding-right: 45px;
          }
          input:focus,
          select:focus {
            border-color: $primary-color;
            transition: ease-in 0.8s;
          }
          .icon-input {
            .input-group-prepend {
              .input-group-text {
                height: 20px;
                position: absolute;
                top: 56px;
                border: 0;
                display: inline-grid;
                background: transparent;
                margin-left: 0.75rem;
                img {
                  border: 1px solid $grey-border;
                }
              }
              input {
                padding-left: 45px; // border-bottom-left-radius: 0px;
              }
            }
            .number-select {
              font-weight: 500;
              color: $text-color-default;
              text-shadow: 1px 0px $text-color-default;
              padding: 0px;
              border-right: 0px;
              outline: 0px !important;
              height: 20px;
              position: absolute;
              top: 52px;
              left: 54px;
              border: 0;
              background: transparent;
            }
          }
          .select-number {
            input[type="text"] {
              padding-left: 28%;
            }
          }
        }
        .btn {
          width: 100%;
          margin-top: 20px;
          font-size: $font-size-large;
          padding: 12px 50px; // margin-bottom: 35px;
          color: $white-color;
          background: $secondary-color;
          text-transform: uppercase;
          border-radius: 2px;
          border: 0;
          &.full-width-btn {
            width: 100%;
          }
          &:disabled {
            // // @extend .btn:active;
            // cursor: not-allowed;
            // border: 0;
            // // background: $btn-disable-background !important;
            // color: $btn-disable-color !important;
            // border-radius: 2px;
            // &:before {
            //   // background: $btn-disable-background !important;
            //   color: $btn-disable-color !important;
            // } //opacity: 0.2;
          }
        }
        i.fa.fa-eye {
          position: absolute;
          bottom: 16px;
          right: 30px;
          font-size: 16px;
          color: $text-color-default;
          &.black {
            color: $text-color-default;
          }
          &.grey {
            color: #afafaf;
          }
        }
        .login-btn {
          padding: 0px;
          margin-top: 40px; // .btn {
          //   //margin-bottom: 25px;
          // }
          .forgot-password {
            font-size: $font-size-base;
            font-family: $font-proxima;
            font-weight: $font-proxima-weight-semibold;
            color: $dark-grey-blue;
            text-align: center;
            text-transform: uppercase;
            line-height: 1.803;
            i.fa.fa-angle-right {
              font-weight: 600;
              padding-left: 10px;
            }
            img {
              height: 14px;
              width: auto;
              margin-bottom: 3px;
            }
          }
        }
      }
    }
    .terms-condition {
      margin-top: 10px;
      label.termCondition {
        height: 22px;
        line-height: 2.2;
        margin-top: 0px;
        font-size: $font-size-medium;
        color: $text-color-default;
        user-select: none;
        font-weight: $font-weight-mid;
        cursor: pointer;
        position: absolute;
      }
    }
  }
  .select-number .input-group-prepend .dropdown {
    position: absolute;
    margin-top: 15px;
    margin-left: 12px;
    font-size: $font-size-medium;
  }
  .switch-box {
    margin-top: 8px;
    float: left;
    display: flex;
    ui-switch {
      margin-top: 0px;
    }
    a {
      color: $primary-color !important;
    }
  }
  .ports-loader {
    position: absolute;
    width: 97%;
    z-index: 999;
    img {
      width: 56px;
      height: 40px;
    }
  }
  .form-control:disabled,
  .form-control[readonly] {
    background-color: #e9ecef !important;
    opacity: 1;
  }
}
