@import "../../../../assets/scss/_variables";
.ui-table {
  .table {
    /deep/ &.info-table {
      thead {
        border: 1px solid $grey-border;
        background: #fff;
        th {
          font-family: $font-proxima;
          font-size: 0.775rem;
          font-weight: $font-weight-mid;
          color: $dark-grey-blue;
          border: 0;
          text-transform: uppercase;
          min-width: 4rem;
          vertical-align: top;
          // &.none_sorting_asc {
          //   background: url("../../../../assets/images/icons/ic_arraow_normal.png") no-repeat;
          //   background-position: center right 5px !important;
          // }
          // &.sorting_asc {
          //   background: url("../../../../assets/images/icons/sorting_asc.svg") no-repeat;
          //   background-size: 10px !important;
          //   background-position: center right 5px !important;
          // }
          // &.sorting_desc {
          //   @extend .sorting_asc;
          //   background: url("../../../../assets/images/icons/sorting_desc.svg") no-repeat;
          // }
          &:nth-child(1),
          &:nth-child(2) {
            min-width: 1rem;
          }
          &:nth-child(3) {
            min-width: 11rem;
          }
          &:nth-child(4) {
            min-width: 8rem;
          }
          &:nth-child(5) {
            min-width: 10rem;
          }
          &:nth-child(9),
          &:nth-child(10) {
            min-width: 10rem;
          }
          &:nth-child(12) {
            min-width: 11rem;
          }
          &:last-child {
            position: absolute;
            right: 0;
            min-width: 2rem;
          }
        }
      }
      tbody {
        border: 1px solid $grey-border;
        border-top: 0;
        tr {
          border-bottom: 1px solid $grey-border;
          transition: 0.8s;
          &.has-badge {
            position: relative;
            .badge {
              position: fixed;
              margin-top: 3.8rem !important;
              margin-left: -1rem;
              font-size: $font-size-base;
              background-color: transparentize($color: $danger-color, $amount: 0.9);
              color: $danger-color;
              border: 1px solid $danger-color;
            }
            td {
              padding-bottom: 2.8rem !important;
            }
          }
          td {
            padding: 0.75rem 0.75rem;
            border: 0;
            vertical-align: top;
            font-family: $font-proxima;
            font-size: 0.775rem !important;

            .grid-view-schedule {
              margin-left: 2.3rem;
              a {
                color: $dark-grey-blue;
                font-size: $font-size-base;
                text-decoration: underline !important;
              }
            }

            .info-table {
              &-id {
                font-family: $font-proxima;
                font-size: $font-size-large;
                font-weight: $font-weight-mid;
                text-transform: uppercase;
                color: $primary-color;
                line-height: 1.2; // max-width: 100px;
              }
              &-date {
                color: $text-grey;
                font-family: $font-proxima;
                font-size: $font-size-base;
                font-weight: $font-weight-mid;
              }
              &-ports {
                .text-truncate {
                  font-size: $font-size-medium;
                  font-family: $font-proxima;
                  font-weight: $font-weight-mid;
                  color: $text-color-default;
                  max-width: 100%;
                }
              }
              &-logo {
                max-width: 190px;
                align-items: center; // word-break: break-all;
                img {
                  // width: 45px;
                  // height: 35px;
                  // padding: 5px;
                  width: 30px;
                  height: 30px;
                  border: 1px solid $input-border;
                  padding: 2px;
                }
                span {
                  font-size: 0.775rem;
                  font-family: $font-proxima;
                  color: $text-color-default;
                  line-height: 1;
                  &.text-ecllipse {
                    height: 48px;
                    overflow: hidden;
                    position: relative;
                    &:after {
                      content: "...";
                      position: absolute;
                      bottom: 0;
                      right: -2px;
                      background: $color-white;
                    }
                  }
                }
                &.double-price {
                  flex-wrap: wrap;
                  align-items: flex-start;
                  align-content: space-between;
                  flex-direction: column;
                }
              }
            }
            &:last-child {
              position: absolute;
              right: 0;
              background: $color-white;
              width: 2.5rem;
              padding: 0.75rem 0.75rem 2.75rem;
            }
            .icon-size-8 {
              width: 8px !important;
              height: 8px !important;
            }
            .ports {
              display: flex;
              align-items: center;
              img {
                width: 16px;
                height: 13px;
              }
              &-names {
                width: 5rem;
              }
            }
          }
          &:hover {
            box-shadow: 0px 0px 50px 0px rgba(51, 59, 69, 0.15);
          }
        }
      }
    }
    &-info {
      background: transparent;
      .table {
        background: #fff;
        margin-bottom: 0;
      }
      &.draftFCL {
        table {
          thead {
            th {
              &:nth-child(4) {
                min-width: 8rem;
              }
              &:nth-child(5) {
                min-width: 25rem;
              }
            }
          }
        }
      }
      &.FCL {
        table {
          tbody {
            // td {
            //   &:nth-child(11) {
            //     display: none;
            //   }
            // }
          }
        }
      }
      &.LCL {
        table {
          thead {
            th {
              &:nth-child(9) {
                min-width: 18rem;
              }
              &:nth-child(4) {
                min-width: 10rem;
              }
              &:nth-child(5) {
                min-width: 8rem;
              }
              &:nth-child(7) {
                min-width: 10rem;
              }
              &:nth-child(8) {
                min-width: 6rem;
              }
              &:nth-child(9) {
                min-width: 6rem;
              }
              // &:nth-child(7) {
              //   min-width: 9rem;
              // }
            }
          }
          tbody {
            // td {
            //   &:nth-child(4),
            //   &:nth-child(7),
            //   &:nth-child(11) {
            //     display: none;
            //   }
            // }
          }
        }
      }
      &.GROUND {
        table {
          thead {
            th {
              // &:nth-child(5) {
              //   min-width: 13rem;
              // }
              // &:nth-child(6) {
              //   display: none;
              // }
              // &:nth-child(10) {
              //   min-width: 12rem;
              // }
              // &:nth-child(4) {
              //   min-width: 15rem;
              // }
              &:nth-child(5) {
                min-width: 10rem;
              }
              &:nth-child(10) {
                min-width: 11rem;
              }
            }
          }
          tbody {
            td {
              // &:nth-child(4),
              // &:nth-child(6),
              // &:nth-child(11) {
              //   display: none;
              // }
            }
          }
        }
      }
      &.WAREHOUSE {
        table {
          thead {
            tr > th {
              &:nth-child(3) {
                min-width: 11rem;
              }
              &:nth-child(5) {
                min-width: 8rem;
              }
              &:nth-child(6) {
                min-width: 8rem;
              }
              &:nth-child(6) {
                min-width: 8rem;
              }
              &:nth-child(8) {
                min-width: 14rem;
              }
              // &:nth-child(7) {
              //   min-width: 18rem;
              // }
              &:nth-child(8) {
                min-width: 9rem;
              }
              &:nth-child(11),
              &:nth-child(12),
              &:nth-child(13) {
                min-width: 10rem;
              }
              &:nth-child(14) {
                min-width: 10rem;
              }
            }
          }
          tbody {
            tr > td {
              &:nth-child(6),
              &:nth-child(7),
              &:nth-child(8) {
                display: none;
              }
              .badge {
                margin-top: 3.5rem !important;
              }
            }
          }
        }
        &.fullWH {
          table {
            tbody {
              tr > td {
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8),
                &:nth-child(11) {
                  display: none;
                }
                .badge {
                  margin-top: 2.75rem !important;
                }
              }
            }
          }
        }
        /deep/ .dropdown-menu {
          left: -34px !important;
          button {
            color: $primary-grey;
            text-transform: unset;
            padding: 0.25rem 1.5rem;
          }
        }
      }
      &.AIR {
        table {
          tbody {
            // tr > td {
            //   &:nth-child(10),
            //   &:nth-child(22) {
            //     display: none;
            //   }
            //   &:nth-last-child(2) {
            //     min-width: 16rem;
            //   }
            // }
          }
          thead {
            tr > th {
              &:nth-child(9) {
                min-width: 6rem !important;
              }
              &:nth-child(10) {
                min-width: 6rem !important;
              }
              &:nth-child(11) {
                min-width: 10rem !important;
              }
              &:nth-child(21) {
                min-width: 10rem !important;
              }
              &:nth-child(28) {
                min-width: 10rem !important;
              }
            }
          }
        }
        &.virtualAirline {
          table {
            tbody {
              // tr > td {
              //   &:nth-child(11), &:nth-child(25) {
              //     display: none;
              //   }
              //   &:nth-child(22), &:nth-child(10) {
              //     display: table-cell !important;
              //   }
              //   &:nth-last-child(2) {
              //     min-width: 16rem;
              //   }
              // }
            }
            thead {
              tr > th {
                // &:nth-child(11), &:nth-child(23),&:nth-child(21), &:nth-child(22), &:nth-child(24) {
                //   min-width: 11rem !important;
                // }
                &:nth-child(5) {
                  min-width: 29rem !important;
                }
                &:nth-child(11) {
                  min-width: 10rem !important;
                }
                &:nth-child(23),
                &:nth-child(24),
                &:nth-child(25),
                &:nth-child(26),
                &:nth-child(27) {
                  min-width: 6rem;
                }
                &:nth-child(21) {
                  min-width: 10rem !important;
                }
              }
            }
          }
        }
      }
      &.draftFCL.LCL.fullWH {
        table {
          thead {
            th {
              &:nth-child(4) {
                min-width: 21rem !important;
              }
              &:nth-child(9) {
                min-width: 10rem !important;
              }
            }
          }
        }
      }
      &.draftFCL.FCL.fullWH {
        table {
          thead {
            th {
              &:nth-child(6) {
                min-width: 6rem !important;
              }
            }
          }
        }
      }
      &.draftFCL.GROUND.fullWH {
        table {
          thead {
            th {
              &:nth-child(4) {
                min-width: 27rem !important;
              }
            }
          }
        }
      }
      &.publishFCL.AIR.fullWH {
        table {
          thead {
            th {
              &:nth-child(21) {
                min-width: 6rem !important;
              }
              &:nth-child(23) {
                min-width: 10rem !important;
              }
            }
          }
        }
      }
      &.publishFCL.FCL.fullWH {
        table {
          thead {
            th {
              &:nth-child(5) {
                min-width: 13rem !important;
              }
              &:nth-child(10) {
                min-width: 6rem !important;
              }
              &:nth-child(11) {
                min-width: 6rem !important;
              }
              &:nth-child(13) {
                min-width: 10rem !important;
              }
            }
          }
        }
      }
      &.publishFCL.LCL.fullWH {
        table {
          thead {
            th {
              &:nth-child(4) {
                min-width: 13rem !important;
              }
            }
          }
        }
      }
      &.publishFCL.GROUND.fullWH {
        table {
          thead {
            th {
              &:nth-child(4) {
                min-width: 13rem !important;
              }
              &:nth-child(7) {
                min-width: 6rem !important;
              }
              &:nth-child(8) {
                min-width: 7rem !important;
              }
            }
          }
        }
      }
      &-count {
        font-family: $font-proxima;
        font-weight: $font-weight-mid;
        font-size: $font-size-medium;
        color: $secondary-text-color;
      }
      .pager-info {
        font-family: $font-proxima;
        font-size: $font-size-medium;
      }
      .sort-dropdown {
        .btn-primary {
          background: none;
          background-color: transparent !important;
          border: 0 !important;
          color: $color-topmenu !important;
          font-size: $font-size-medium;
          &:hover,
          &:focus {
            background: none;
            border: 0 !important;
            box-shadow: 0px 0px 0px !important;
          }
        }
        /deep/ .dropdown-menu {
          left: -55px !important;
          button {
            font-family: $font-proxima;
          }
        }
      }
      /deep/ .pagination {
        .page-item {
          a {
            font-family: $font-proxima;
            font-size: $font-size-base;
            font-weight: 600;
            width: 26px;
            height: 26px;
            border-radius: 4px !important;
            margin-left: 5px;
            border: solid 1px $grey-border;
            color: $pagination-text-color;
            padding: 5px 8px;
            background: $pagination-bg-color;
            background: linear-gradient(to bottom, #ffffff 0%, $pagination-bg-color 100%);
          }
          &.active {
            a {
              background: #f3f3f4 !important;
              color: $secondary-text-color !important;
              padding: 6px 5px;
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f4', endColorstr='#f3f3f4', GradientType=0);
              background: -ms-linear-gradient(90deg, #e9ebf0 0%, #dde0e7 100%);
              border: 0;
              box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.004), inset 0 2px 3px 0 rgba(0, 0, 0, 0.2);
              text-align: center;
            }
          }
        }
      }
      /deep/ .paginationBox {
        margin-bottom: 1rem;
        p {
          display: flex;
          align-items: center;
          margin: 0 !important;
          margin-right: 1rem !important;
        }
        .ngx-pagination {
          margin: 0 !important;
        }
      }
    }
    /deep/.dropdown-menu.show {
      z-index: 999999 !important;
    }
    .text-truncate {
      font-size: 0.775rem !important;
    }
    .normal-font {
      font-size: 0.775rem !important;
    }
  }
}
