@import "../../../../assets/scss/_variables";

.via-port-sea {
    background: $shipping-subcar-active;
    padding: 1rem;
    .port-via {
        background: $shipping-subcar-active;
        max-width: 450px;
        width: 100%;
        animation: fadeIn 0.7s ease-in;
        &-header {
            background: $shipping-subcar-active;
            border: 0 !important;
            border-radius: 0;
            color: $color-white;
            font-family: $font-pragmatica;
            font-weight: $font-weight-mid;
            font-size: $font-size-large + 0.25rem;
            box-shadow: none !important;
            padding: 1rem 2rem 0;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        &-body {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            // background: $shipping-subcar-active;
            padding: 1rem 2rem 0;
            box-shadow: none !important;
            border: 0;
            border-radius: 0;
        }
        &-detail {
            &-title {
                font-family: $font-proxima;
                font-size: $font-size-base;
                color: $heading-light-color;
                font-weight: $font-weight-mid;
                text-transform: uppercase;
                text-transform: uppercase;
            }
            &-value {
                font-size: 0.8rem;
                font-family: $font-pragmatica;
                font-weight: $font-weight-mid;
                color: $white-color;
            }
        }
        .arrow {
            margin-left: -8px;
            &:after {
                border-top-color: #233748;
            }
        }
    }
    button {
        width: 100% !important;
    }
}
