<div class="via-port-sea port-via">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-start w-100 text-left">
        <div class="mr-5">
          <h6 class="port-via-detail-title">Departure</h6>
          <p *ngIf="getPortData(portData)?.EtdDate" class="port-via-detail-value">
            {{getPortData(portData)?.EtdDate | date : "d MMM, yyyy"}}</p>
          <p *ngIf="!getPortData(portData)?.EtdDate" class="port-via-detail-value">N/A</p>
        </div>
        <div class="">
          <h6 class="port-via-detail-title">Arrival</h6>
          <p *ngIf="getPortData(portData)?.EtaDate" class="port-via-detail-value">
            {{getPortData(portData)?.EtaDate | date : "d MMM, yyyy"}}</p>
          <p *ngIf="!getPortData(portData)?.EtaDate" class="port-via-detail-value">N/A</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-start w-100 text-left">
        <div>
          <h6 class="port-via-detail-title">Origin</h6>
          <p class="port-via-detail-value d-flex"><img class="icon-size-18-12 mr-2"
              src="{{'../../../../assets/images/flags/4x3/' + (getPortData(portData)?.PortCode.split(' ')[0] | lowercase) + '.svg'}}"
              alt="icon"> {{getPortData(portData)?.OriginPortName}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row row">
    <div class="col">
      <div class="d-flex justify-content-start w-100 text-left">
        <div>
          <h6 class="port-via-detail-title">Destination</h6>
          <p class="port-via-detail-value d-flex"><img class="icon-size-18-12 mr-2"
              src="{{'../../../../assets/images/flags/4x3/' + (getPortData(portData)?.PodCode.split(' ')[0] | lowercase) + '.svg'}}"
              alt="icon"> {{getPortData(portData)?.DestinPortName}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button class="btn btn-primary hvr-sweep-to-right" (click)="close()">
        Close
      </button>
    </div>
  </div>
</div>