<div class="billing" id="Billing">
  <div class="card">

    <div class="close">
      <a class="pointer crossIcon" (click)="closeModal()">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close">
      </a>
    </div>

    <div class="card-body">
      <h5 class="card-title">
        <img src="../../../../assets/images/icons/icon_summary.svg" alt="umbrella-icon" width="16px"> Charges
      </h5>

      <div>
        <h6>Certificate Charges</h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let item of pmexCharges?.chargesDetail">
            <span class="long-text">
              {{item?.documentTypeName}}
            </span>
            <span class="amount-text">
              <ng-container>
                <ng-container *ngIf="!pmexCharges?.providerCurrencyCode">
                  <span *ngIf="item?.price > 0" style="text-transform: uppercase !important">
                    {{pmexCharges?.currencyCode}} {{item?.price | number: '1.2-2'}}
                  </span>
                </ng-container>
                <ng-container *ngIf="pmexCharges?.providerCurrencyCode">
                  <span style="display: flex;flex-direction: column">
                    <span *ngIf="item?.price > 0" style="text-transform: uppercase !important">
                      {{pmexCharges?.currencyCode}} {{item?.price | number: '1.2-2'}}
                    </span>
                    <ng-container *ngIf="pmexCharges?.providerCurrencyCode !== pmexCharges?.currencyCode">
                      <span style="text-transform: uppercase !important">({{pmexCharges?.providerCurrencyCode}}
                        {{item?.providerPrice | number: '1.2-2'}})</span>
                    </ng-container>
                  </span>
                </ng-container>
              </ng-container>
            </span>



          </li>


        </ul>
        <!-- <hr *ngIf="freightData.length"> -->
      </div>

    </div>
  </div>
</div>