<div class="request-unit-calc animated fadeIn">

  <div class="modal-header">
    <h4 class="user-modal-title">CBM Calculation</h4>
    <a class="pointer crossIcon" (click)="closeModal(true)">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16" />
    </a>
  </div>

  <div class="modal-body">
    <ng-container *ngFor="let container of inputContainers">
      <div class="form-row mb-2">
        <div class="col-4 d-flex input-dropdown m-0">
          <div class="input-group">
            <input type="text" inputmode="numeric" min="0" step="any" [(ngModel)]="cbmContainerData.length" class="form-control border-right"
              placeholder="L" (ngModelChange)="calculateTotalCBM(cbmContainerData)" priceDecDir />
            <input type="text" inputmode="numeric" min="0" step="any" [(ngModel)]="cbmContainerData.width" class="form-control border-right"
              min="0" step="1" placeholder="W" (ngModelChange)="calculateTotalCBM(cbmContainerData)" priceDecDir />
            <input type="text" inputmode="numeric" min="0" step="any" [(ngModel)]="cbmContainerData.height" class="form-control border-right"
              placeholder="H" (ngModelChange)="calculateTotalCBM(cbmContainerData)" priceDecDir />
            <div class="input-group-append">
              <select #elVolume name="" class="form-control" (change)="onUnitChange($event.target.value, 'length')">
                <option *ngFor="let unit of lengthUnits" value="{{unit.UnitTypeID}}" [selected]="(unit.UnitTypeID === selectedLengthUnitID) ? true : false">
                  {{unit.UnitTypeShortName}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-4 d-flex input-dropdown m-0">
          <div class="input-group">
            <label class="sr-only">Actual Weight</label>
            <input type="text" inputmode="numeric" step="any" class="form-control border-right" placeholder="0" (ngModelChange)="calculateTotalCBM(cbmContainerData)"
              [(ngModel)]="cbmContainerData.actualWeight" style="text-align: center;" priceDecDir />
            <div class="input-group-append">
              <select class="form-control" name="actualWeightUnit" (change)="onUnitChange($event.target.value, 'actualWeight')">
                <option value="{{unit.UnitTypeID}}" *ngFor="let unit of weightUnits" [selected]="(unit.UnitTypeID === selectedWeightUnitID) ? true : false">
                  {{unit.UnitTypeShortName}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-3 d-flex input-counter m-0">
          <div class="input-group">
            <label class="sr-only">Quantity</label>
            <div class="input-group-prepend pointer" (click)="counter('minus')">
              <span class="input-group-text">
                <i class="fa fa-minus"></i>
              </span>
            </div>
            <input type="number" min="0" step="1" priceDir (ngModelChange)="calculateTotalCBM(cbmContainerData)" [(ngModel)]="cbmContainerData.quantity"
              class="form-control" placeholder="0">
            <div class="input-group-append pointer" (click)="counter('plus')">
              <span class="input-group-text">
                <i class="fa fa-plus"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row mb-2">
        <div class="col-md-6 col-12 d-flex input-dropdown m-0">
          <div class="input-group">
            <input type="text" inputmode="numeric" min="0" step="any" (keypress)="_NumberValidation($event)" (ngModelChange)="modelChange($event, 'weight')"
              [(ngModel)]="container.weight" class="form-control" placeholder="Weight" appTwoDigitDecimalNumber />
            <div class="input-group-append">
              <select #elWeightTotal class="form-control" name="weightUnit" (change)="onUnitChange($event.target.value, 'weight')">
                <option value="{{unit.UnitTypeID}}" *ngFor="let unit of weightUnits" [selected]="(unit.UnitTypeID === selectedWeightUnitID) ? true : false">
                  {{unit.UnitTypeShortName}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 d-flex input-dropdown m-0">
          <div class="input-group">
            <input type="text" inputmode="numeric" min="0" step="any" (keypress)="_NumberValidation($event)" (ngModelChange)="modelChange($event, 'volume')"
              [(ngModel)]="container.volume" class="form-control" placeholder="Volume" appTwoDigitDecimalNumber />
            <div class="input-group-append">
              <select #elWeightTotal class="form-control" name="weightUnit" (change)="onUnitChange($event.target.value, 'volume')">
                <option value="{{unit.UnitTypeID}}" *ngFor="let unit of volumeUnits" [selected]="(unit.UnitTypeID === selectedVolumeUnitID) ? true : false">
                  {{unit.UnitTypeShortName}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="row 1 d-flex justify-content-center">
      <div class="col- input-counter m-0">
        <button class="btn btn-outline-primary btn-lg all-deals btn-block hvr-sweep-to-right">
          Update
        </button>
      </div>
    </div>
  </div>

</div>