@import "../../../../assets/scss/_variables";

.request-unit-calc {
    .modal-header {
        padding: 10px 1rem;
        background: $modal-header-background;
        display: block;
        h4 {
          margin: 0px;
          text-shadow: 0px 0px $text-color-default;
          font-size: 22px;
          margin-top: 4px;
          font-weight: 400;
          font-family: "pragmatica", sans-serif;
        }
        p {
          font-size: 14px;
          font-weight: 300;
          margin-top: 4px;
          margin-bottom: 0px;
        }
        a.crossIcon {
          position: absolute;
          right: 8px;
          top: 4px;
          width: 14px;
          height: 14px;
          img {
            width: 100%;
          }
        }
      }
      .modal-body {
        padding: 3rem 2rem;
        // padding-left: 30px;
        // padding-right: 30px;
        // padding-top: 0;
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
        overflow-y: auto;
        max-height: 700px;
    
        .model-sub-head {
          color: $secondary-grey;
          font-family: $font-proxima;
          font-weight: $font-weight-mid;
          font-size: $font-size-medium;
          text-transform: uppercase;
        }
        .input-dropdown {
            margin: 20px 0;
    
            .input-group {
                border: solid 1px $input-border;
                border-radius: 0.25rem;
    
                input {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border: 0;
                    height: 3rem;
                }
               
    
                &-append {
                    background: $select-background !important;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border: 0px solid $input-border;
                    width: 4.4rem;
                    margin-left: 0;

                    
                }
                
    
                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -o-appearance: none;
                    background-color: $select-background !important;
                    box-shadow: none !important;
                    outline: 0 !important;
                    background: url("assets/images/icons/select-arrow.png") no-repeat center right 10px;
                    height: 3rem;
                    border: 0 !important;
    
                    option {
                        text-align: center;
                    }
                }
            }
        }
        .input-group-prepend {
            .input-group-text {
                border-color: $grey-border;
                border-right: none;
                background: 0 0;
                border-radius: 0.25rem;
    
                img {
                    width: 1rem;
                    height: 1rem;
                }
                i {
                    color: $color-plus-minus;
                    font-weight: 400;
                    font-size: .875rem;

                    &:hover {
                        color: $active-text-color;
                        cursor: pointer;
                    }
                }
            }
        }
    
        .input-group-append {
            .input-group-text {
                border-color: $grey-border;
                border-left: none;                
                background: 0 0;
    
                img {
                    width: 1rem;
                    height: auto !important;
                }
                i {
                    color: $color-plus-minus;
                    font-weight: 400;
                    font-size: .875rem;

                    &:hover {
                        color: $active-text-color;
                        cursor: pointer;
                    }
                }
            }
        }
        input,
        select {
            background-color: $white-color;
            font-size: $font-size-medium;
            font-family: $font-proxima;
            font-weight: $font-weight-normal;
            color: $text-color-default;
            border-radius: 4px;
            padding-left: 1.1rem;
            height: 3rem;
            &::placeholder {
                color: $break-down-color;
                font-weight: $font-weight-normal;
                font-size: $font-size-medium;
            }
        }
        .custom-input {
            height: 3.1rem !important;
            text-align: center;
        }
      }
      .modal-footer {
        .view-price {
          text-decoration: underline;
        }
      }
    
}
