@import "../../../../../assets/scss/_variables";

$warning-color: hsl(37, 91%, 55%);
.user {
  .role-name {
    margin-top: -2px;
    // font-weight: 500;
    // color: $primary-color;
  }
  &-title {
    font-size: $font-size-large + $font-size-large;
    font-family: $font-pragmatica;
    font-weight: $font-weight-mid;
    color: $text-color-default; // margin-bottom: 0px;
  }
  .alert {
    padding: 10px 55px;
    font-size: $font-size-medium;
    color: $text-color-default;
    text-shadow: 0 0;
    border: 1px solid $warning-color;
    .alert-icon {
      float: left;
      background: $warning-color;
      border: 1px solid $warning-color;
      padding-left: 0px;
      padding-top: 0px;
      position: absolute;
      left: 0;
      top: 0;
      .icon {
        padding: 4px;
      }
    }
    .alert-btn {
      font-weight: 500;
      color: $text-color-default;
      text-transform: uppercase;
      font-family: $font-proxima;
      margin-left: 14px;
      font-size: 12px;
      text-decoration: underline;
    }
    &.contact-admin {
      border: 1px solid $boxes-border-grey;
      padding: 10px 20px;
      background: $white-color;
      font-family: $font-proxima;
      span {
        font-family: $font-proxima-weight-semibold;
      }
      .grey-anc-btn {
        background: transparent;
        border: 0;
        outline: 0 !important;
        img {
          margin-top: -2px;
        }
      }
      .icon-size-16 {
        vertical-align: text-bottom;
        margin-right: 12px;
      }
    }
  }
  &-add-btn {
    outline: 0 !important;
    a {
      font-size: $font-size-large;
      color: $secondary-color !important;
      font-family: $font-proxima;
      font-weight: $font-weight-mid;
      outline: 0 !important;
      span {
        position: relative;
        text-decoration: none;
        line-height: 24px;
        width: auto;
        &:before,
        &:after {
          color: $secondary-color;
          content: "";
          position: absolute;
          transition: transform 0.5s ease;
        }
        &.link-hover-1 {
          padding-top: 10px;
          &:before {
            top: 30px;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: darken(#02bdb6, 3%);
            transform: scaleX(0);
          }
          &:hover:before {
            transform: scaleX(1);
          }
        }
      }
      i {
        margin-left: 0.35rem;
      }
    }
  }
  hr {
    width: 97%;
    margin-bottom: 0;
  }
  &-count {
    font-size: $font-size-large + 0.25rem;
    font-family: $font-pragmatica;
    font-weight: $font-weight-mid;
    color: $text-color-default;
    margin: 2rem 0;
  }
  &-search {
    border: 0;
    background: $white-color;
    width: 100%;
    height: 2.75rem;
    color: $text-grey;
    border: 1px solid $grey-border;
    outline: 0 !important;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
    font-family: $font-proxima;
    padding: 0 1.05rem;
    margin: 1.8rem 0 0.9375rem;
    border-radius: 4px;
    &-icon {
      position: absolute;
      top: 44px;
      right: 28px;
    }
  }
  &-admin {
    .card {
      border: 1px solid $text-grey;
      background: $white-color;
      &-header {
        padding: 0.42rem 1.25rem;
        background: $admin-panel-bg;
        border: 1px solid $text-grey;
        border-bottom: 0px solid $text-grey;
        font-size: $font-size-medium;
        color: $text-color-default;
        font-family: $font-proxima;
        font-weight: $font-weight-mid;
        text-transform: uppercase;
      }
      &-body {
        border: 1px solid $text-grey;
        padding-right: 0.8rem !important;
        table {
          thead {
            th {
              padding: 0.5rem 0.75rem;
            }
          }
          tbody {
            tr {
              border: 0;
              td {
                // border-bottom: 1px dashed #e7e7e7 !important;
                vertical-align: middle;
                border: 0;
                padding: 0.5rem 1.125rem;
                p {
                  margin: 0;
                  font-family: $font-proxima;
                  font-size: $font-size-large;
                  color: $primary-color;                                    
                }
              }
              td.user-info {
                img {
                  margin-right: 0.75rem;
                  margin-top: -1;
                }
                p {
                  font-family: $font-proxima;
                  font-weight: $font-weight-normal;
                  font-size: $font-size-medium;
                  color: $secondary-text-color;
                  display: inline-block;
                  margin-bottom: 0;
                }
                .user-btn {
                  width: 11rem;
                  &:focus,
                  &:active {
                    background: #fff !important;
                  }
                }
              }
              .user-info-cty-name {
                font-size: $font-size-large;
                color: $secondary-text-color;
                font-family: $font-proxima;
                font-weight: $font-weight-normal;
                margin-left: 0.625rem;
              }
              & {
                td:first-child {
                  width: 30%;
                }
                td:last-child {
                  text-align: right;
                  padding-right: 0px;
                  padding-left: 0;
                  width: 35px;                  
                }
              }
            }
          }
        }
      }
    }
    .popover {
      top: 55px !important;
    }
    &-info {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: baseline;
      align-content: stretch;
      .company-info {
        font-size: $font-size-base;
      }
    }
  }
  .card {
    border: 1px solid $boxes-border-grey;
    &-body {
      padding: 0.3rem 1.25rem;
    }
  }
  &-profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: 0.3rem;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50px;
      object-fit: cover;
    }
  }
  label {
    font-size: $font-size-large;
    color: $primary-color;
    font-family: $font-proxima;
    font-weight: $font-proxima-weight-semibold;
    max-width: 350px;
    margin-top: 5px;
    line-height: 1;
    img {
      width: 100%;
      height: 100%;
    }
  }
  small {
    font-size: $font-size-base;
    font-family: $font-proxima;
    color: $text-grey;
    font-weight: $font-weight-normal;
    position: relative;
    bottom: 5px;
  }
  a {
    color: inherit;
  }
  &-flag {
    width: 20px;
    height: 14px;
    img {
      border: 1px solid $grey-border;
    }
  }
  &-table {
    thead {
      border: 1px solid $boxes-border-grey;
      th {
        padding: 0.5rem 1.125rem;
        background: $user-panel-bg;
        border: 0;
        font-size: $font-size-medium;
        font-family: $font-proxima;
        color: $dark-grey-blue;
        font-weight: $font-weight-normal;
        text-transform: uppercase;
      }
    }
    tbody {
      padding: 0.5rem 1.125rem;
      border: 1px solid $boxes-border-grey;
      background: $white-color;
      tr {
        border: 0;
        td {
          border-bottom: 1px dashed #e7e7e7 !important;
          vertical-align: middle;
          border: 0;
          padding: 0.5rem 1.125rem;
          p {
            margin: 0;
            font-family: $font-proxima;
            font-size: $font-size-large;
            color: $primary-color;
          }
          &:last-child {
            padding-right: 0;
            img {
                    cursor: pointer;
                  }
          }
        }
        td.user-info {
          img {
            margin-right: 0.75rem;
            margin-top: -1px;
          }
          p {
            font-family: $font-proxima;
            font-weight: $font-weight-normal;
            font-size: $font-size-medium;
            color: $secondary-text-color;
            display: inline-block;
            margin-bottom: 0;
          }
        }
      }
      .user-info-cty-name {
        font-size: $font-size-large;
        color: $secondary-text-color;
        font-family: $font-proxima;
        font-weight: $font-weight-normal;
        margin-left: 0.625rem;
      }
    }
    &-dropdown {
      // z-index: 999;
      .dropdown-toggle:after {
        display: none;
      }
      .dropdown-menu {
        &.show {
          // z-index: 999;
          background: $white-color;
          width: 205px;
          box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.2);
          padding: 0.875rem 1rem;
          border: 0;
          top: -45px !important;
          right: 27px !important;
          left: auto !important;
          .dropdown-item {
            font-size: $font-size-large;
            padding: 0;
            font-weight: $font-weight-normal;
            color: $text-color-default;
            padding: 0.5rem 0;
            font-family: $font-proxima;
          }
        }
        &:before {
          content: " ";
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 10px solid $white-color;
          position: absolute;
          top: 50px;
          right: -13px;
          transform: rotate(90deg);
        }
      }
    }
  }
  &-btn {
    font-size: $font-size-medium;
    font-family: $font-proxima;
    font-weight: $font-proxima-weight-semibold;
    padding: 0.8rem 1.25rem;
    max-width: 200px;
    width: 100%;
  }
  .sort-name-dropdown {
    button.btn {
      background: transparent !important;
      border: 0;
      outline: 0 !important;
      box-shadow: none;
      color: $dark-grey-blue;
      font-size: $font-size-base;
      font-weight: $font-proxima-weight-semibold;
      font-family: $font-proxima;
      text-transform: uppercase;
      &:hover,
      &.btn-primary:not(:disabled):not(.disabled).active:focus,
      &.btn-primary:not(:disabled):not(.disabled):active:focus,
      &.show>.btn-primary.dropdown-toggle:focus {
        box-shadow: 0px 0px 0px !important;
        outline: 0 !important;
      }
    }
    .dropdown-menu.show {
      .dropdown-item {
        font-size: $font-size-medium;
        &:active {
          background-color: transparent !important;
        }
      }
      top: 48px !important;
      left: -3.8rem !important;
    }
  }
}

@media #{$mobile} {
  .user {
    .table-responsive {
      overflow: auto !important;
      width: 100%;
      .user-admin,
      .user-table {
        width: 900px;
      }
    }
  }
}

.user-admin .popover {
  top: 55px !important;
}
