<div class="chat-list">
  <div class="user-modal animated fadeIn">
    <div class="modal-header">
      <h5 class="user-modal-title mb-2 mt-2 d-flex align-items-center">Message for {{request.RequestNo}}
        <a class="btn-refresh" ngbTooltip="Refresh Chat" (click)="getChatList(true)" href="javascript:void(0)"
          ng-reflect-klass="nav-link grey-placeholder" ng-reflect-ng-class="">
          <i class="icon-svg icon-size-24">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
              id="Layer_1" x="0px" y="0px" viewBox="0 0 473.677 473.677"
              style="enable-background:new 0 0 473.677 473.677;" xml:space="preserve">
              <path
                d="M473.677,236.842c0-130.814-106.036-236.838-236.835-236.838C106.036,0.004,0,106.032,0,236.842  c0,130.795,106.036,236.831,236.842,236.831C367.641,473.673,473.677,367.637,473.677,236.842z" />
              <g>
                <path style="fill:#FFFFFF;"
                  d="M414.449,297.547c-17.243-27.052-34.494-54.108-51.741-81.156c-2.909-4.57-9.218-4.458-12.12,0.045   c-17.374,26.966-34.756,53.936-52.133,80.902c-1.881,2.917-1.245,5.733,0.52,7.681c1.092,1.653,2.909,2.831,5.505,2.838   c9.151,0.022,18.301,0.045,27.448,0.067c-42.22,67.081-144.695,73.228-192.797,4.342c-15.407-22.06-51.86-0.995-36.293,21.304   c33.963,48.633,89.746,76.474,149.359,69.65c57.361-6.57,103.657-43.663,126.644-95.18c9.835,0.026,19.674,0.049,29.513,0.075   C413.537,308.126,417.366,302.12,414.449,297.547z" />
                <path style="fill:#FFFFFF;"
                  d="M370.457,138.899c-33.97-48.633-89.75-76.478-149.366-69.65   c-57.933,6.63-104.547,44.43-127.288,96.761c-12.232-0.03-24.476-0.06-36.708-0.09c-5.187-0.015-9.02,5.987-6.099,10.561   c17.243,27.052,34.49,54.108,51.733,81.16c2.913,4.566,9.218,4.454,12.124-0.045c17.374-26.97,34.759-53.936,52.133-80.902   c1.877-2.917,1.245-5.729-0.512-7.677c-1.092-1.653-2.909-2.835-5.508-2.842c-6.847-0.015-13.694-0.034-20.545-0.049   c41.599-68.55,145.267-75.322,193.744-5.92C349.572,182.259,386.029,161.194,370.457,138.899z" />
              </g>
            </svg>
          </i>
        </a>
      </h5>
      <a class="pointer crossIcon">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16"
          (click)="closeChat(false)" />
      </a>
    </div>
    <div class="modal-body" style="overflow-y: hidden;">
      <div class="list chat-container px-0 px-0 py-0 chat-box bg-white" #chatContainer #scrollMe (scroll)="onScroll()"
        [ngStyle]="{'max-height': modalHeight,'min-height': modalHeight,'height':modalHeight}">
        <app-loader-main *ngIf="frameLoad"></app-loader-main>
        <ng-container *ngFor="let chat of chatList;let level = index">
          <!-- Sender Message-->
          <div *ngIf="chat.messageBy !== 'PROVIDER'" class="media w-50 mb-3" [ngClass]="{'w-75':isMobile, 'w-50':!isMobile}">
            <div class="media-body ml-0">
              <small class="small chat-small ml-1">{{getUserName(chat?.userID)}} | {{chat?.msgDateTime | date : "d MMM, yyyy H:mm"}}</small>
              <small class="small chat-small ml-1">from {{request?.Customer?.CustomerName}}</small>
              <div class="bg-receiver rounded py-2 px-3 mb-2">
                <p [ngClass]="{'top': level === 0 || (level > 0 && chatList[level-1].messageBy === 'PROVIDER')}"
                  class="mb-0 text-muted" [innerHTML]="renderMessage(chat?.msgText)"></p>
              </div>

            </div>
          </div>
          <!-- Reciever Message-->
          <div *ngIf="chat.messageBy === 'PROVIDER'" class="media w-50 ml-auto mb-3" [ngClass]="{'w-75':isMobile, 'w-50':!isMobile}">
            <div class="media-body mr-3">
              <div class="text-right">
                <small class="small chat-small mr-1">{{getUserName(chat?.userID)}} | {{chat?.msgDateTime | date : "d MMM, yyyy H:mm"}}</small>
                <small class="small chat-small mr-1">from {{request?.Provider?.ProviderName || providerName}}</small>
              </div>
              <div class="bg-sender rounded py-2 px-3 mb-2">
                <p [ngClass]="{'top': level === 0 || (level > 0 && chatList[level-1].messageBy !== 'PROVIDER')}"
                  class="mb-0" [innerHTML]="renderMessage(chat?.msgText)"></p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="mt-2">
        <form action="#" autocomplete="off">
          <div class="input-group">
            <textarea id="chatBox" [disabled]="disableChat" #messageBox type="text" [placeholder]="placeholderText"
              aria-describedby="button-addon2" name="comm123123"
              class="form-control rounded-0 border-0  bg-type-message" [(ngModel)]="comments" style="box-shadow: none;"
              [autofocus]="true" (keydown)="onKeyPress($event)"></textarea>
            <!-- <textarea  type="text" autocomplete="new-password" placeholder="Type a message" aria-describedby="button-addon2"
              name="comm" class="form-control rounded-0 border-0 py-4 bg-type-message chat-footer__form-input" [(ngModel)]="comments"
              style="box-shadow: none;" (onkeypress)="handleInput($event)" ></textarea> -->
            <div class="input-group-append">
              <button [disabled]="!this.messageHasText(this.comments)" *ngIf="!loading" (click)="sendChat()"
                id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
              <button *ngIf="loading" id="button-addon3" class="btn btn-link"> <i
                  class="fa fa-spinner fa-spin"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openBackDropCustomLogClass(content)">View Log dialog</button> -->