@import "../../../../assets/scss/_variables";

$disabled-color: rgb(229, 229, 229);
$route-arrow-color: rgb(175, 175, 175);
$comments-color: $danger-color;

.chat-list {
  // .chat-footer__form-container-input {
  //   position: relative;
  // }
  // .chat-footer__form-input {
  //   position: absolute;
  //   bottom: 0;
  // }
  .btn-refresh {
    margin-left: .5rem;
    margin-bottom: 0.25rem;
    .icon-svg {
        svg {
            fill: $secondary-color;
            width: 1.2rem;
            height: 1.2rem;

            &:hover {
                fill: $secondary-color-dark;
                transition: 0.8s;
                overflow: visible;
                transform: rotate(-180deg);
            }
        }
    }
  }
  .modal-header {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;

    .crossIcon {
      right: 1rem;
      top: 1rem;
    }
  }
  .modal-body {
     padding: 1rem 0.5rem;     
    .chat-small {
      color: $secondary-grey;
      font-size: $font-size-base;
      margin-left: 0.5rem !important;
      display: block;
    }
    .bg {
      &-receiver,&-sender {
        padding: 1rem !important;
        border-radius: .35rem !important;
        p {
          color: #63718a !important;
          font-size: $font-size-large !important;
          overflow-wrap: anywhere;
          overflow-wrap: break-word;
          word-break: break-word;
          white-space: pre-wrap;
          // hyphens: auto;
        }
      }
      &-receiver {
        background-color: #f0f3f6;
        position: relative;
        margin-left: 0.5rem;
        .top {
          &:after {
            content: ' ';
            position: absolute;
            width: 0px;
            height: 0;
            left: -0.5rem;
            right: auto;
            top: 0rem;
            bottom: auto;
            border: 1rem solid;
            border-color: #f0f3f6 transparent transparent transparent;
              }         
        } 
      }
      &-sender {
        background-color: #ddeef5;  
        position: relative;
        .top {
          &:after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: auto;
            right: -0.5rem;
            top: 0rem;
            bottom: auto;
            border: 1rem solid;
            border-color: #ddeef5 transparent transparent transparent;
              }         
        } 
      }
      &-type-message {
        background-color: #ddeef5;
        // padding: 1.5rem;
        border-radius: .35rem 0 0 .35rem !important;
        margin-left: 0.5rem;
        
        &:focus {
          background-color: #ddeef5 !important;
          box-shadow: none !important;
        }
      }
    }     
    
    .btn-link {
      background: $primary-color;
      margin-top: 0;    
      display: -ms-flexbox;
      // display: flex;
      color: $color-white;
      z-index: 3;
      position: relative;
      text-align: center;
      background: linear-gradient(to right, $primary-color 0, $secondary-color 100%); 
      background-image: -moz-linear-gradient( 0deg, $primary-color 0%, $secondary-color 100%);
      background-image: -webkit-linear-gradient( 0deg, $primary-color 0%, $secondary-color 100%);
      background-image: -ms-linear-gradient( 0deg, $primary-color 0%, $secondary-color 100%);   
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      width: 3rem;  
      min-width: 3rem;  
      border-radius: 0 0.35rem 0.35rem 0;
      padding: 0;
      margin-right: 0.5rem;
    }
    .chat-container {
      .text-small {
        font-size: 0.9rem;
      }

      .img-circle {
        border-radius: 50%;
        border: 1px solid grey;
        width: 3rem;
        height: 3rem;
      }
      
      .messages-box,
      .chat-box {
        height: 510px;
        overflow-y: scroll;
      }
      
      .rounded-lg {
        border-radius: 0.5rem;
      }
      
      input::placeholder {
        font-size: 0.9rem;
        color: #999;
      }
      
    }

    .list {
      padding: 0rem 0.2rem 0 0.2rem;
      // max-height: 220px;
      overflow-y: auto;

      &-group {
        padding-bottom: 0;
        padding-left: 4px;
        border-left: 1px solid $disabled-color;
        margin-left: 5px;
        height: 100%;
        display: table;

        &-item {
          padding: 1.2rem 1.5rem 0.2rem 1.5rem;
          border: 0 !important;
          font-family: $font-proxima;
          margin-bottom: 1rem;

          small {
            font-size: $font-size-medium;
            color: $route-arrow-color;
          }          
          .route-status {
            color: $secondary-color-dark !important;
            text-transform: none;
          }
          .activity {
            font-weight: $font-weight-mid;
            color: $secondary-color-dark !important;
          }
          .ports {
            &-label {
              color: $primary-grey;
              img {
                border: 1px solid $primary-grey;
              }
            }
            span {
              color: $secondary-grey;
            }
          }
          .comments {
            color: $comments-color !important;
            font-weight: $font-weight-mid;                                  
            padding: 0.2rem 0;
            font-size: $font-size-medium + 0.25;

            img {
              width: 1rem;
              height: 1rem;
            }
          }
          // border-left: 0 !important;
          &::before {
            content: "";
            height: 8px;
            width: 8px;
            background: $btn-default-sky-blue;
            border-radius: 50%;
            position: absolute;
            left: -8.5px;
            top: 25px;
          }
        }
      }
    }
    label {
      font-size: $font-size-large;
      font-weight: $font-weight-normal;
      font-family: $font-proxima;
      color: $text-color-default;
      text-transform: capitalize;
    }
    .comments {
      font-family: $font-proxima;
      font-size: $font-size-medium;
      color: $pagination-text-color;
      line-height: 1.5;
      position: relative;
      padding-left: 1.5rem !important;

      &:before {
        content: url("../../../../assets/images/icons/icon-comment.svg");
        position: absolute;
        left: 0;
        top: 8px;
      }
    }
    p {
      font-size: $font-size-medium;
      font-weight: $font-weight-normal;
      font-family: $font-pragmatica;
      color: $text-color-default;
      text-align: left;
      padding-bottom: 0;
    }

    .btn-container {
      font-size: $font-size-large;
    }
  }
  textarea {  
    // padding: 4px  !important;
    outline: 0;
    resize: none;
    height: 3rem;
    max-height: 7rem;
    white-space: pre-wrap;
    min-height: 3rem;
  }
}
