@import "../../../../../assets/scss/_variables";

.settings {
  .affiliation-input {
    list-style: none;
    // padding: 0rem;
    div,
    li {
      .tooltip {
        text-transform: capitalize;
      }
      a,
      .addButton {
        text-transform: capitalize;
        padding: 0.625rem;
        font-size: 22px;
        background: $primary-grey;
        color: $white-color;
        margin-right: 0;
        display: inline-block;
        width: 48px;
        height: 48px;
        text-align: center;
        transition: all 1s ease;
        margin-top: -48px;
        border-radius: 0 0.25rem 0.25rem 0;
        border-width: 0;
        cursor: pointer;
        &:hover {
          background: $secondary-color;
          color: $white-color !important;
        }
      }
      .active-addBtn {
        background: $secondary-color !important;
      }
      .disable {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
  .affiliation-input .form-group input {
    padding-right: 3.5rem;
  }
  .form-group {
    margin-bottom: 20px;
    label {
      font-size: 15px;
      font-weight: 300;
      margin-bottom: 15px;
      text-shadow: 0px 1px #2b2b2b;
    }
    i.fa.fa-eye {
      position: absolute;
      font-size: 16px;
      color: $text-color-default;
      &.black {
        color: $text-color-default;
      }
      &.grey {
        color: #afafaf;
      }
    }

    input:focus {
      border-color: $primary-color;
      transition: ease-in 0.8s;
    }
    .icon-input {
      .input-group-prepend {
        .input-group-text {
          background: $white-color;
          border-right: 0px;
          border-radius: 0px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        input {
          border-left: 0px;
          border-top-left-radius: 0px;
          padding-left: 5px;
          border-bottom-left-radius: 0px;
        }
      }
      .number-select {
        font-weight: 500;
        color: $text-color-default;
        text-shadow: 1px 0px $text-color-default;
        padding: 0px;
        border-right: 0px;
        outline: 0px !important;
      }
    }
  }
  .fieldError {
    border-color: $danger-color !important;
    transition: ease-in 0.8s;
  }
  .aff-font {
    font-size: 0.85rem !important;
  }
  ngb-tabset {
    .nav {
      border: none;
      margin-bottom: 1rem;

      &-item {
        flex: 1;
        text-align: center;
      }

      &-link {
        background: none !important;
        border: none !important;
        box-shadow: 0 1px 0 0 $grey-border;
        font-family: $font-proxima;
        font-size: $font-size-medium;
        color: $color-topmenu;
        font-weight: $font-weight-mid;
        text-transform: uppercase;
        letter-spacing: 1px;

        &.active {
          box-shadow: 0 2px 0 0 $primary-color;
          color: $primary-color;
        }

        &.disabled {
          opacity: 0.4;
          cursor: default;
          filter: grayscale(1);
        }

        .setting-noti {
          display: inline-block;
          width: 8px;
          height: 8px;
          margin-right: 10px;

          .circle {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: $danger-color;
            position: relative;
            display: inline-block;
          }
        }
      }
    }
  }

  .accordion {
    > .card {
      background: none;
      border: none;

      > .card-header {
        background: none;
        border: none;
        margin-top: 5px;

        a {
          font-family: $font-pragmatica;
          font-weight: $font-weight-mid;
          color: $text-color-default;
          font-size: 20px;
          position: relative;
          padding-left: 12px;

          &:before {
            content: "";
            position: absolute;
            left: -24px;
            height: 17px;
            width: 20px;
            transform: rotate(270deg);
            top: 3px;
            transition: all 0.8s ease-in-out;
            display: flex;
            background: url("../../../../../assets/images/icons/icon_arrow_left.svg") no-repeat;
          }
        }

        &.active {
          margin-bottom: 5px;

          a {
            &:before {
              transform: rotate(90deg);
            }
          }
        }
      }

      > .card-body {
        background: $color-white;
        border: 1px solid $grey-border;
        overflow: hidden;

        .form-group {
          .form-control[readonly] {
            background-color: $disabled-color !important;
          }
          .required {
            color: $danger-color;
          }
        }

        .city-dropdown {
          position: relative;
          display: inline-block;
          width: 100%;

          > .flag-container {
            width: 20px;
            height: 16px;
            position: absolute;
            left: 20px;
            top: 19px;
            display: flex;

            img {
              width: 20px;
              height: 16px;
              border: 0px solid $primary-grey;
            }
          }

          input {
            &.routeSelected {
              padding-left: 3rem;
              margin-top: 0.2rem;
            }
          }

          &.currency {
            ngb-typeahead-window {
              top: auto !important;
              bottom: 50px;
            }
          }
        }
      }
    }
  }

  .servicechip {
    border-radius: 25px;
    border: 1px solid $input-border;
    background: $white-color;
    position: relative;
    font-family: $font-proxima;
    filter: grayscale(1);

    &.active {
      box-shadow: 0px 5px 20px 0px rgba(0, 162, 223, 0.15) !important;
      border: 2px solid $primary-color !important;
      background: $white-color !important;
      filter: grayscale(0);
    }

    &-provides,
    &-valueAdded {
      @extend .servicechip;
      height: 40px;
    }

    &-asscoiation {
      @extend .servicechip;
      height: 70px;

      img {
        width: 50%;
        max-height: 85%;
        object-fit: contain;
      }
    }
  }

  .delete-acc {
    a {
      color: $danger-color;
      font-family: $font-proxima;
      font-size: $font-size-medium;
      font-weight: $font-weight-mid;
      text-transform: uppercase;
      display: flex;
      align-items: center;

      &:hover {
        .delete-icon {
          overflow: visible;

          g {
            rect {
              transform: rotate(-25deg);
              transition: 0.5s;
            }
          }
        }
      }
    }

    p {
      font-family: $font-proxima;
      font-size: $font-size-medium;
      color: $secondary-text-color;
      letter-spacing: 0.5px;
    }
  }

  .setting-update-btn {
    font-family: $font-proxima;
    font-size: $font-size-large;
    color: $secondary-color;
    font-weight: $font-weight-mid;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    line-height: 1;
    outline: 0;

    &:disabled {
      cursor: no-drop;
      filter: grayscale(1);
    }

    &:hover {
      svg {
        animation-name: heartBeat;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
      }
    }
  }

  .setting-discard-btn {
    @extend .setting-update-btn;
    color: $color-topmenu;
  }

  .hvr-icon-forward {
    font-size: $font-size-medium;
    color: $secondary-color;
    font-family: $font-proxima;
    font-weight: $font-proxima-weight-semibold;
    margin-top: 0.25rem;
  }

  .editButton {
    background: none;
    border: none;
    outline: 0;
    cursor: pointer;

    &:disabled {
      cursor: no-drop;
      filter: grayscale(1);
    }
  }

  .provider-logo {
    width: 160px;
    height: 120px;
    border: 1px solid $input-border;
    border-radius: 4px;
    position: relative;
    z-index: 0;
    background-color: $color-white;
    text-align: center;
    vertical-align: middle;
    background-image: url("../../../../../assets/images/img-canvas.png");
    background-size: 20px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .fancyOptionBoxes {
    input[disabled=""] + label {
      cursor: no-drop;
      filter: grayscale(1);
    }
  }

  .change-logo {
    font-family: $font-proxima;
    font-size: $font-size-medium;
    color: $color-topmenu;
    font-weight: $font-weight-mid;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover {
      color: $color-topmenuactive;
    }
  }

  .text-muted {
    line-height: 1.3;
  }

  .regional {
    h6 {
      @extend .change-logo;
    }

    small {
      font-family: $font-proxima;
      color: $secondary-text-color;
      font-size: $font-size-medium;
      letter-spacing: 0.5px;
    }
  }

  .document-Info {
    .file-uploader {
      border: 1px dashed #e1d8d8;
      border-radius: 4px;

      .browse-span {
        color: $secondary-color;
        font-weight: 500;
      }

      .message-class {
        b {
          color: $primary-color;
        }
      }

      text-align: center;
      background-color: $color-white;

      app-ng-files-drag-n-upload {
        label {
          padding: 2rem 60px;
          // display: flex !important;
          // align-items: center;
          // justify-content: center;
        }
      }
    }

    .uploadedDocx {
      margin-top: 1rem;

      .uploaded-images {
        display: table;

        .display-upload {
          position: relative;
          height: 200px;
          z-index: 0;
          border: 1px solid $input-border;
          background-color: $color-white;
          border-radius: 4px;
          text-align: center;
          display: table-cell;
          vertical-align: middle;
          background-image: url("../../../../../assets/images/img-canvas.png");
          background-size: 20px;

          img,
          video {
            max-width: 100%;
            max-height: 100%;
          }

          // .delete-icon {
          //   position: absolute;
          //   top: -10px;
          //   right: -8px;
          //   min-height: auto;
          //   background: $white-color;
          //   padding: 3px;
          //   border-radius: 50%;
          //   width: 23px;
          //   height: auto;
          //   border: none;
          // }

          &:hover {
            .delete-icon {
              animation-name: pulse;
              animation-fill-mode: both;
              animation-duration: 1s;
              animation-iteration-count: infinite;
            }
          }
        }
      }
    }
  }
  .delete-icon {
    position: absolute;
    top: -10px;
    right: -8px;
    min-height: auto;
    background: $white-color;
    padding: 3px;
    border-radius: 50%;
    width: 23px;
    height: auto;
    border: none;
  }
  .select-number {
    .select-country-list {
      .dropdown-toggle {
        padding-right: 15px;

        &::after {
          right: 0px !important;
        }
      }
    }
    .country-select {
      .country-section {
        width: 19.2rem;
        min-width: 18.5rem;

        ul {
          max-height: 9rem;

          .list-group-item {
            span {
              font-size: 0.85rem;
            }
          }
        }
      }
    }
  }
  .show-statistics {
    list-style: none;
    // padding: 0rem;
    .counter {
      transition: all 1s ease-in-out;

      .input-group {
        width: 115px;
        margin: 0 auto;

        &-text {
          border: 1px solid #e9ecf0;
          background-color: transparent;

          i {
            color: $secondary-grey;
            font-weight: lighter;
            font-size: 0.75rem;

            &:hover {
              color: $primary-color;
              animation-duration: 3s;
              animation-timing-function: ease-in-out;
              cursor: pointer;
            }
          }
        }
      }
    }
    .quantity {
      height: calc(2.85rem + 3px);
      border-left: 0;
      border-right: 0;
      border-color: $provider-input-border;
      text-align: center;
    }
    div,
    li {
      .tooltip {
        text-transform: capitalize;
      }
      a,
      button {
        text-transform: capitalize;
        padding: 0.625rem;
        font-size: 22px;
        background: $primary-grey;
        color: $white-color;
        margin-right: 0;
        display: inline-block;
        width: 48px;
        height: 48px;
        text-align: center;
        transition: all 1s ease;
        // margin-top: -48px;
        border-radius: 0 0.25rem 0.25rem 0;
        border-width: 0;
        cursor: pointer;
        &:hover {
          background: $secondary-color;
          color: $white-color !important;
        }
      }
      .disable {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
  .show-rate-validity {
    list-style: none;
    // padding: 0rem;
    .counter {
      transition: all 1s ease-in-out;
      width: 7.5rem;

      .input-group {
        width: 115px;
        margin: 0 auto;

        &-text {
          border: 1px solid #e9ecf0;
          background-color: transparent;

          i {
            color: $secondary-grey;
            font-weight: lighter;
            font-size: 0.75rem;

            &:hover {
              color: $primary-color;
              animation-duration: 3s;
              animation-timing-function: ease-in-out;
              cursor: pointer;
            }
          }
        }
      }
    }
    .quantity {
      height: calc(2rem + 3px);
      border-left: 0;
      border-right: 0;
      border-color: #e9ecf0;
    }
    div,
    li {
      .tooltip {
        text-transform: capitalize;
      }
      a,
      button {
        text-transform: capitalize;
        padding: 0.625rem;
        font-size: 22px;
        background: $primary-grey;
        color: $white-color;
        margin-right: 0;
        display: inline-block;
        width: 48px;
        height: 48px;
        text-align: center;
        transition: all 1s ease;
        // margin-top: -48px;
        border-radius: 0 0.25rem 0.25rem 0;
        border-width: 0;
        cursor: pointer;
        &:hover {
          background: $secondary-color;
          color: $white-color !important;
        }
      }
      .disable {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
  .show-offices {
    hr {
      border: none;
      border-top: 3px double #333;
      color: #333;
      overflow: visible;
      text-align: center;
      height: 5px;
    }

    hr:after {
      background: #fff;
      content: "Office - 1";
      padding: 0 4px;
      position: relative;
      top: -13px;
    }
  }
  div#ServicesSettings {
    app-ng-files-drag-n-upload {
      label {
        display: flex !important;
        align-items: center;
        justify-content: center;
      }
    }
  }
  div#ServicesSettings-header,
  div#NewsAndUpdateSettings-header,
  div#OfficeLocationSettings-header,
  div#EmailNotifications-header {
    .panel-title {
      display: inline-block;
      margin-left: 1.5rem;
      min-width: 58%;
    }
  }
  div#PlatformControlSettings {
    .card {
      border: 1px solid rgba($secondary-color, 0.125);
      background-color: $right-side-background !important;
      border-radius: 0.25rem;
      box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.2);
      z-index: 1;
      opacity: 1;
      min-height: 18rem;

      &:hover {
        border: 1px solid rgba($secondary-color-dark, 0.125);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        transition: background-color 0.15s ease-out;
      }

      &-header {
        background-color: $right-side-background !important;
        border: 0px solid rgba(0, 0, 0, 0.125);

        h5 {
          font-size: $font-size-large;
        }
      }

      &-body {
        background-color: $right-side-background !important;
        border: 0px solid rgba(0, 0, 0, 0.125);
        min-height: 8.1rem;
      }
      &-footer {
        border: 0px solid rgba(0, 0, 0, 0.125);
        background-color: $right-side-background !important;

        h6 {
          font-size: $font-size-medium;
        }
      }
    }
  }

  div#UploadBehalfOfCustomersControlSettings {
    .card {
      border: 1px solid rgba($secondary-color, 0.125);
      background-color: $right-side-background !important;
      border-radius: 0.25rem;
      box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.2);
      z-index: 1;
      opacity: 1;

      &:hover {
        border: 1px solid rgba($secondary-color-dark, 0.125);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        transition: background-color 0.15s ease-out;
      }

      &-header {
        background-color: $right-side-background !important;
        border: 0px solid rgba(0, 0, 0, 0.125);

        h5 {
          font-size: $font-size-large;
        }
      }

      &-body {
        background-color: $right-side-background !important;
        border: 0px solid rgba(0, 0, 0, 0.125);
        min-height: 8.1rem;
      }
      &-footer {
        border: 0px solid rgba(0, 0, 0, 0.125);
        background-color: $right-side-background !important;

        h6 {
          font-size: $font-size-medium;
        }
      }
    }
  }

  .social-links {
    list-style: none;
    // padding: 0rem;
    div,
    li {
      .tooltip {
        text-transform: capitalize;
      }
      a,
      button {
        text-transform: capitalize;
        padding: 0.625rem;
        font-size: 22px;
        background: $primary-grey;
        color: $white-color;
        margin-right: 0;
        display: inline-block;
        width: 48px;
        height: 48px;
        text-align: center;
        transition: all 1s ease;
        margin-top: -48px;
        border-radius: 0 0.25rem 0.25rem 0;
        border-width: 0;
        cursor: pointer;
        &:hover {
          background: $secondary-color;
          color: $white-color !important;
        }
      }
      .disable {
        opacity: 0.5;
        cursor: default;
      }
      // &:last-child {
      //   a {
      //     margin-right: 0 !important;
      //   }
      // }
    }
  }
  .social-links .form-group input {
    padding-right: 3.5rem;
  }

  .editor {
    border: none;
    padding: 0;
    overflow: hidden;
    height: auto;
  }

  .badge {
    text-transform: unset;
  }

  /* The message box is shown when the user clicks on the password field */
  .PasswordHintText {
    display: block;
    background: $white-color;
    color: #000;
    padding: 20px;
    margin: 0;
    width: 100%;
    position: relative;
    transition: 0.2s;
    border-radius: 0.5rem;
    filter: drop-shadow(0px -2px 1px #ddd);
    margin-top: -1.25rem;
    border: solid 1px #ddd;

    &::before {
      position: absolute;
      top: -20px;
      left: 2%;
      content: "";
      border-top: 10px solid transparent;
      border-bottom: 10px solid $white-color;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      filter: drop-shadow(0px -2px 1px #ddd);
    }

    p {
      padding: 5px 0px;
      font-size: 0.75rem;
      margin: 0;
      color: #b4b8bd;
      font-family: $font-proxima;
    }
    /* Add a green text color and a checkmark when the requirements are right */
    .valid-text {
      color: $secondary-color !important;
      padding-left: 8px;
    }
    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid-text {
      color: $secondary-grey;
      padding-left: 10px;
    }
    .fa {
      margin-right: 10px;
    }
  }

  @media (max-width: $screen-md-screen) {
    .nav-tabs {
      justify-content: center !important;

      .nav-item {
        flex: unset !important;
        width: 50% !important;
        margin-bottom: 1rem;
      }
    }
  }

  @media (max-width: $screen-sm-screen) {
    .nav-tabs {
      .nav-item {
        width: 100% !important;
      }
    }

    .uploadedDocx {
      .uploaded-images {
        .display-upload {
          height: 130px !important;
        }
      }
    }
  }
  .servicechip2 {
    border-radius: 4px;

    border: 1px solid $input-border;

    background: $white-color;

    position: relative;

    font-family: $font-proxima;

    &.active {
      box-shadow: 0px 5px 20px 0px rgba(0, 162, 223, 0.15) !important;

      border-radius: 4px;

      border: 1px solid $primary-color !important;

      background: $white-color !important;

      &:before {
        content: url("../../../../../assets/images/icons/selection_tick.svg");
        width: 44px;
        height: 44px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9;
      }
    }

    &-asscoiation {
      @extend .servicechip2;
      height: 11rem;
      padding: 1rem;

      img {
        max-width: 50%;
        max-height: 100%;
        margin-bottom: 0.5rem;
        max-height: 4rem;
      }
    }
    &-ourServices {
      @extend .servicechip2;
      height: 8.6rem;
      padding: 0rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 0;
        &:hover {
          transform: scale(1.05);
          transition: all 0.5s ease-in-out;
        }
      }
    }
    &-profileBanner {
      @extend .servicechip2;
      height: 8.6rem;
      padding: 0rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 0;
        &:hover {
          transform: scale(1.05);
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
  .table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;

    thead {
      border: 1px solid #e5e5e5;
      background: #fff;

      th {
        font-family: $font-proxima;
        font-size: 0.875rem;
        font-weight: 400;
        color: #738593;
        border: 0;
        text-transform: uppercase;
        background: $data-table-header-bg;
        padding: 0.75rem 1.25rem;
      }
    }

    tbody {
      border: 1px solid #e5e5e5;
      border-top: 0;

      tr {
        border-bottom: 1px dashed #e5e5e5;
        -webkit-transition: 0.8s;
        transition: 0.8s;
        background: #fff;

        td {
          padding: 0.75rem 1.25rem;
          border: 0;
          vertical-align: middle;
          font-family: $font-proxima;

          .flag-container {
            float: left;
            border: 1px solid #3f5165;
            margin-right: 10px;
            display: flex;
            margin-top: 5px;

            img {
              width: 16px;
              height: 12px;
            }
          }

          .sub-detail {
            font-size: 0.8125rem;
            color: $place-holder-color;
            font-family: $font-proxima;
            display: block;
            line-height: 1;
            font-weight: $font-weight-normal;
          }

          &.shipping-line {
            color: #00a0df;
            font-weight: 500;

            img {
              max-width: 32px;
              min-width: 32px;
              max-height: 32px;
              object-fit: contain;
            }
          }
          /deep/ ngb-popover-window {
            width: 20rem;
            border: none;
            // top: 66px !important;

            .arrow {
              &:after,
              &:before {
                border-bottom-color: $white-color;
              }
            }

            .popover {
              border: 0;

              &-body {
                background: $white-color;
                box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
                // height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-radius: 4px;

                .contact-popup {
                  text-align: left;

                  a {
                    font-size: $font-size-large;
                    font-family: $font-proxima;
                    margin-bottom: 5px;
                    display: block;
                    min-width: 180px;
                    color: $dark-grey-blue;
                  }

                  p {
                    font-size: $font-size-large + 0.125rem;
                    font-family: $font-proxima;
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
          /*-------Action Items -------*/
          .action-text {
            font-family: $font-proxima;
            font-size: $font-size-base;
            font-style: italic;
            color: $secondary-grey;
            margin-bottom: 0;
            margin-top: 0.125rem;
          }
          a {
            i.icon {
              &-contact {
                svg {
                  height: 1.5rem;
                  width: 1.5rem;
                  fill: $btn-bg-primary;
                }
              }
              &-yes {
                svg {
                  height: 1.5rem;
                  width: 1.5rem;
                  margin-right: 0.45rem;
                  fill: $btn-bg-primary;
                }
              }
              &-no {
                svg {
                  height: 1.5rem;
                  width: 1.5rem;
                  margin-right: 0.45rem;
                  fill: $btn-bg-danger;
                }
              }
            }
          }
        }
      }
    }
  }
}
.message-class {
  b {
    color: $primary-color;
  }
}
