<div class="view-insurance">
    <div class="card mt-4" *ngIf="bookingDetails.ShippingModeCode != 'WAREHOUSE'">
        <div class=" card-body d-flex flex-column">
            <div class="card-title mb-3 mt-2 d-flex justify-content-between align-items-center">
                <h5 class="pointer prevent-text-select">
                    <img src="../../../../../assets/images/icons/icon_info2.svg" class="icon-size-16 mr-1" title="logo">
                    POLICY HOLDER DETAILS
                </h5>
                <span
                    *ngIf="!editInsurance && bookingDetails.ShippingStatus.toLowerCase() !== 'completed' && !isGuestLogin"
                    ngbTooltip="Edit" container="body" [placement]="'top'"> <span class="edit-title">Edit</span>
                    <img src="../../../../../assets/images/icons/icon_device_edit.svg" class="icon-size-16 pointer mr-1"
                        alt="edit" (click)="editInsurance = !editInsurance">
                </span>
            </div>
            <div class="ml-4" *ngIf="editInsurance && bookingDetails.ShippingStatus.toLowerCase() !== 'completed'">
                <form autocomplete="off" novalidate [formGroup]="insuranceForm" class=" pt-2 pb-3"
                    (ngSubmit)="updateInsurance()">
                    <ng-container *ngFor="let insControl of currentFormList">
                        <div *ngIf="insControl.isEditable" class="row">
                            <div class="col-4 col-md-4 col-sm-4 col-xs-12 text-right supplier-text">
                                <div class="form-group">
                                    <label class="mt-2">{{insControl.label | titlecase}}</label>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-sm-6 col-xs-12 pl-1">
                                <div class="form-group date-control" *ngIf="insControl?.controlType === 'date'">
                                    <div class="dateIcon">
                                        <input autocomplete="off" class="form-control" placeholder="Departure Date"
                                            name="dp" formControlName="{{insControl.controlName}}" ngbDatepicker
                                            [autoClose]="false" [autoClose]="true" (focusout)="validate(insControl)"
                                            (dateSelect)="onDateSelect($event, insControl);dp.toggle();"
                                            [outsideDays]="true" [navigation]="false" [displayMonths]="2"
                                            #dp="ngbDatepicker" (click)="dp.toggle()" />
                                    </div>
                                    <span class="animated fadeIn" *ngIf="insControl.hasError">
                                        <p class="formError animated fadeIn"
                                            *ngIf="insuranceForm.controls[insControl.controlName].hasError('required') && (insuranceForm.controls[insControl.controlName].dirty || insuranceForm.controls[insControl.controlName].touched)">
                                            This field is required!</p>
                                    </span>
                                </div>

                                <div class="form-group" *ngIf="insControl?.controlType === 'text'">
                                    <input type="text" class="form-control" formControlName="{{insControl.controlName}}"
                                        [ngClass]="(insControl.hasError)? 'fieldError': ''"
                                        (focusout)="validate(insControl)" placeholder="..."
                                        (focus)="insControl.hasError=false" />
                                    <span class="animated fadeIn" *ngIf="insControl.hasError">
                                        <p class="formError animated fadeIn"
                                            *ngIf="insuranceForm.controls[insControl.controlName].hasError('required') && (insuranceForm.controls[insControl.controlName].dirty || insuranceForm.controls[insControl.controlName].touched)">
                                            This field is required!</p>
                                    </span>
                                </div>
                                <div class="form-group" *ngIf="insControl?.controlType === 'phone'">
                                    <div class="input-group" [ngClass]="(insControl.hasError)? 'inputError': ''">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <div class="contanct-dropdown p-2">
                                                    <app-country-select [countryList]="countryList"
                                                        [selectedCountry]="selectPhoneCountry"
                                                        (onSelect)="selectPhoneCode($event)">
                                                    </app-country-select>
                                                </div>
                                            </div>
                                        </div>

                                        <input type="text" class="form-control"
                                            formControlName="{{insControl.controlName}}"
                                            [ngClass]="(insControl.hasError)? 'fieldError': ''"
                                            (focusout)="validate(insControl)" placeholder="..." specialCharRemover
                                            (keypress)="NumberValid($event)" (focus)="insControl.hasError=false" />
                                    </div>
                                    <span class="animated fadeIn" *ngIf="insControl.hasError">
                                        <p class="formError animated fadeIn"
                                            *ngIf="insuranceForm.controls[insControl.controlName].hasError('required') && (insuranceForm.controls[insControl.controlName].dirty || insuranceForm.controls[insControl.controlName].touched)">
                                            This field is required!</p>
                                        <p class="formError animated fadeIn"
                                            *ngIf="!insuranceForm.controls[insControl.controlName].hasError('pattern') && insuranceForm.controls[insControl.controlName].hasError('minlength') && (insuranceForm.controls[insControl.controlName].dirty || insuranceForm.controls[insControl.controlName].touched)">
                                            {{insControl.label | titlecase}} be minimum 7 digits</p>
                                        <p class="formError animated fadeIn"
                                            *ngIf="!insuranceForm.controls[insControl.controlName].hasError('pattern') && insuranceForm.controls[insControl.controlName].hasError('maxlength') && (insuranceForm.controls[insControl.controlName].dirty || insuranceForm.controls[insControl.controlName].touched)">
                                            {{insControl.label | titlecase}} not exceed from 12 digits</p>
                                        <p class="formError animated fadeIn"
                                            *ngIf="insuranceForm.controls[insControl.controlName].hasError('pattern') && (insuranceForm.controls[insControl.controlName].dirty || insuranceForm.controls[insControl.controlName].touched)">
                                            Please enter valid information
                                        </p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <div class="row" *ngIf="!isGuestLogin">
                        <div class="col-4 col-md-4 col-sm-4 col-xs-12 text-right supplier-text">
                        </div>
                        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-8 col-xs-12 pl-1">
                            <div class="row mt-2 pl-5 pr-3">
                                <button class="col btn btn-outline-primary hvr-sweep-to-right" type="button"
                                    (click)="resetForm()">Reset</button>
                                <button type="submit"
                                    class="col btn btn-primary hvr-sweep-to-right ml-3">Confirm</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div *ngIf="!editInsurance" class="commodity-details">
                <div class="row">
                    <div *ngFor="let insControl of currentFormList" class="col-md-6 mb-1">
                        <img src="../../../../assets/images/icons/icon_summary.svg" alt="icon"
                            class="icon-size-16 mr-2 mt-1 align-top">
                        <span class="lable">{{insControl?.label}}</span>
                        <p *ngIf="insControl.controlType === 'text'">
                            <span
                                *ngIf="insControl.controlName === 'SumCovered' && policyHolder?.SumCoveredCurrCode">{{policyHolder?.SumCoveredCurrCode}}</span>
                            {{(insuranceForm.get(insControl?.controlName).value)?
                            insuranceForm.get(insControl?.controlName).value:
                            'Not Entered'}}
                        </p>
                        <div *ngIf="insControl.controlType === 'phone'" class="phone ml-2">
                            <ng-container
                                *ngIf="selectPhoneCountry?.code && insuranceForm.get(insControl?.controlName).value">
                                <div class="flag-icon-20-12 align-top mr-1 pull-left">
                                    <img *ngIf="selectPhoneCountry?.code" class="flag" alt="flag icon"
                                        src="../../../../assets/images/flags/4x3/{{selectPhoneCountry?.code?.toLowerCase()}}.svg">
                                </div>
                                <p class="ml-1 mt-1">
                                    {{selectPhoneCountry?.desc[0].CountryPhoneCode}}-{{(insuranceForm.get(insControl?.controlName).value)}}
                                </p>
                            </ng-container>
                            <ng-container
                                *ngIf="!selectPhoneCountry?.code|| !insuranceForm.get(insControl?.controlName).value">
                                <p>Not Entered</p>
                            </ng-container>
                        </div>
                        <p *ngIf="insControl.controlType === 'date'">
                            {{getDateFromObject(insuranceForm.get(insControl?.controlName).value) |
                            date : 'dd MMM, yyyy'}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>