@import "../../../../assets/scss/_variables";

.upload-booking-document {
  .btn-refresh {
    margin-left: .5rem;
    margin-bottom: 0.25rem;
    .icon-svg {
      svg {
        fill: $secondary-color;
        width: 1.2rem;
        height: 1.2rem;
        &:hover {
          fill: $secondary-color-dark;
          transition: 0.8s;
          overflow: visible;
          transform: rotate(-180deg);
        }
      }
    }
  }
  .doc-remove-ic {
    float: right;
    width: 1rem !important;
    position: relative;
    right: 2.2rem;
    cursor: pointer;
  }
  .main-doc-container {
    margin-bottom: 16px;

    &-heading {
      margin-bottom: 16px !important;
      font-family: $font-pragmatica;
      font-size: $font-size-large + 0.25rem;
      color: $text-color-default;
      font-weight: $font-weight-mid;
      margin-top: 42px;
    }

    &-title {
      font-size: $font-size-medium;
      font-family: $font-proxima;
      font-weight: $font-proxima-weight-semibold;
      color: $dark-grey-blue;
      text-transform: uppercase;
      margin: 1.75rem 1.125rem 0;

      .flag-icon-20-12 {
        position: relative;
        top: -2px;
      }

      hr {
        border: 1px dashed #d7d7d7;
        margin-bottom: 0;
      }
    }
    .doc-message {
      font-size: $font-size-base;
      font-weight: $font-weight-normal;
      color: $text-grey;
    }

    .list-group {
      // margin: 20px 0 24px;
      &-item {
        border: 0;
        border-bottom: 0 dashed rgba(0, 0, 0, 0.125);
        // margin: 0 1.25rem;
        // padding: 0.5rem 0rem 0.4rem 0 !important;
        padding: 0.5rem 0.5rem 0.4rem 0.5rem !important;
        font-family: $font-proxima;
        font-size: $font-size-large;
        color: $text-color-default;
        font-weight: $font-weight-normal;
        margin-bottom: 10px;
        min-height: 50px;

        .view-booking-reasons {
          margin-top: 14px;

          &-name {
            font-size: $font-size-medium;
            font-weight: $font-weight-normal;
            color: $text-color-default;
          }

          &-desc {
            font-size: $font-size-medium;
            font-weight: $font-weight-normal;
            color: $text-color-default;
          }
        }

        &.active {
          background: $white-color;

          h6 {
            color: $primary-color;
          }

          .grey-anc-btn {
            background: transparent;
            box-shadow: none !important;
            font-size: $font-size-medium;
            font-family: $font-proxima;
            font-weight: $font-proxima-weight-semibold;
            color: $dark-grey-blue;
          }
        }

        &.rejected-doc {
          h6 {
            color: $danger-color;
          }
        }

        h6 {
          font-size: $font-size-large;
          font-family: $font-proxima;
          font-weight: $font-weight-normal;
          color: $text-color-default;
          line-height: 1;
        }

        p {
          font-size: $font-size-base;
          font-family: $font-proxima;
          font-weight: $font-weight-light;
          color: $text-grey;
          margin: 0;
          // margin-left: 1.8rem;
        }

        &:last-child {
          border: 0;
        }

        button.btn {
          height: 36px;
          width: 116px;
        }

        .animated-info {
          // animation: text-glow 1.5s infinite ease-in-out alternate-reverse;
          // color: $danger-color;

          .reason {
            color: $text-color-default !important;
            max-width: 340px;
            text-overflow: inherit;
            width: 100%;
            display: block;
          }
        }
      }

      .document-detail {
        &-left {
          flex-direction: column;
        }

        &-right {
          .badge {
            height: 26px;
            padding: 0 1rem;
            line-height: 2.2;
          }
        }
      }

      .d-block {
        margin-left: 12px;

        .check-icon {
          position: absolute;
          left: -13px;
          top: 10px;
        }
      }

      .check-icon {
        position: absolute;
        left: -6px;
        top: 3px;
      }

      .delete-icon {
        position: absolute;
        left: 0px;
      }
    }

    .contact {
      &-name {
        font-family: $body-fontfamily;
        font-weight: $font-weight-mid;
        font-size: $font-size-large;
        color: $text-color-default;
      }

      &-address {
        font-family: $font-proxima;
        font-size: $font-size-large;
        color: $secondary-text-color;
        word-break: break-all;

        span {
          word-break: initial;
        }

        &.unread {
          max-height: 76px;
          // max-height: 280px;
          overflow: hidden;
        }
      }

      .vendor-details-readMore {
        color: $primary-color !important;
      }

      &-info {
        @extend .contact-address;
      }
    }
    .document-container {
      display: flex;
      flex-direction: column;
      .document-title-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
    .document-simple {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .empty-title {
        margin-left: 2rem !important;
      }
    }
    .card {  
      &-header {
        background: none;
        border: none;
        background-color: rgba(0,0,0,.03);
        padding: 0;
      }    
      &-body {
        .other-document {
          max-height: 30rem;
          overflow-y: auto;
          button.btn.btn-link {
            padding-left: 0px;
            padding-right: 0px;
            text-decoration: none;
          }
  
          .accordion {
            &-title {
              line-height: 15px;
              margin: 0;
              // width: 16.5rem;
              color: $color-topmenuactive;
  
              span {
                margin: 0;
                font-family: $font-proxima;
                font-size: $root-font-size;
                color: $color-topmenuactive;
              }
            }
  
            // button.btn {
            //   height: 36px;
            //   width: 116px;
            // }
  
            &-time {
              margin: 0;
              color: $text-grey;
              font-size: $font-size-base;
              margin-left: 1.8rem;
            }
  
            .check-icon {
              position: relative;
              top: 3px;
              left: -4px;
            }
  
            .view-booking-reasons {
              margin-top: 14px;
  
              &-name {
                font-size: $font-size-medium;
                font-weight: $font-weight-normal;
                color: $text-color-default;
              }
  
              &-desc {
                font-size: $font-size-medium;
                font-weight: $font-weight-normal;
                color: $text-color-default;
              }
            }
  
            &.rejected-doc {
              .accordion-title span {
                color: $danger-color !important;
              }
            }
          }
          .uploader {
            &-cancel-btn {
              font-family: $font-proxima;
              font-size: $font-size-base;
              color: $color-topmenu;
              font-weight: $font-proxima-weight-semibold;
              text-transform: uppercase;
            }              
          }
          .btn-outline-danger {            

            &:active:before,
            &:focus:before,    
            &:hover:before {
              transform: scaleX(1) !important;
              background-color: $danger-color !important;
              background: $danger-color !important;
            }

          }
        
          
          .docs-download {
            a {
              svg {
                width: 1.5rem;
                fill: $dark-grey-blue;
                transition: ease-in 0.3s;
              }
              &:hover {
                svg {
                  fill: $secondary-color !important;
                }
              }
            }
          }
        }
        .addAnother {
          color: $dark-grey-blue;
          font-family: $font-proxima;
          font-weight: $font-weight-mid;
          font-size: $font-size-medium;
          position: relative;
        }
        
      }
    }
  }
  .list {
    list-style: none;
    padding: 1rem;
    max-height: 38rem;
    overflow-y: auto;
    text-align: left;
    overflow-x: hidden;
  }
  .modal-header {
    .modal-title {
      font-size: 1.25rem;
      font-family: $font-proxima;
      font-weight: $font-proxima-weight-semibold;

      .small-text {
        font-size: $font-size-medium;
        font-family: $font-proxima;
      }
    }
  }

  .modal-label {
    font-size: $font-size-medium;
    color: $color-topmenu;
    font-family: $font-proxima;
    font-weight: $font-weight-mid;
    text-transform: uppercase;
  }
  .submit-btn {
    width: 200px;
    height: 47px;
    text-transform: uppercase;
  }
}
