<div class="view-price-log">
  <div class="user-modal animated fadeIn">
    <div class="modal-header">
      <h5 class="user-modal-title mb-2 mt-2">Price Update History</h5>
      <a class="pointer crossIcon">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16"
          (click)="_activeModal.close()" />
      </a>
    </div>
    <div class="modal-body">
      <div class="list">
        <ng-scrollbar class="history-scroll" style="height:415px;max-height:415px;">
          <ul class="list-group">
            <li class="list-group-item d-flex flex-column" *ngFor="let log of logs; let i = index;">
              <label class="mb-0" *ngIf="log?.AdjustmentAmount">Last Adjustment Amount ({{log.CurrencyCode}}
                {{log?.AdjustmentAmount}})</label>
              <label class="mb-0" *ngIf="!log?.AdjustmentAmount">Original Price</label>
              <label class="mb-0 activity" *ngIf="log.UpdatedAmount > 0">Updated Total Price: ({{log.CurrencyCode}}
                {{log.UpdatedAmount | number: '1.2-2'}})</label>
              <label class="mb-0 activity" *ngIf="!(log.UpdatedAmount > 0)">{{log.CurrencyCode}}
                {{log.PreviousAmount | number: '1.2-2'}}</label>
              <small>on {{log.LogDate | date: 'dd MMM, yyyy HH:mm a'}} GMT
              </small>
              <small class="comments" *ngIf="log.ProviderRemarks">{{log.ProviderRemarks}}</small>
            </li>
          </ul>
        </ng-scrollbar>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>

<!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openBackDropCustomLogClass(content)">View Log dialog</button> -->