@import "../../../../../assets/scss/_variables";
/*----helpSupport SECTION - Start ----*/

.helpSupport {
    &-img {
        width: 80px;
        height: 80px;
        position: absolute;
        overflow: hidden;
        right: 1.2rem;
        img {
            width: 100%;
        }
    }
    &-head {
        display: flex;
        h5 {
            font-size: $font-size-large;
            font-weight: $font-weight-mid;
            margin-bottom: 8px;
            padding-top: 1px; //text-shadow: 0.5px 0px $text-color-default;
            // &:before {
            //     content: url("../../../../../assets/images/icons/icon_email.svg");
            //     width: 16px;
            //     height: 16px;
            //     margin-right: 15px;
            //     vertical-align: sub;
            // }
        }
        img {
            width: 20px;
            height: 20px;
        }
    }
    &-content {
        h4 {
            font-size: $font-size-base;
            color: $dark-grey-blue;
            font-family: $font-proxima;
            text-transform: uppercase;
            font-weight: $font-proxima-weight-semibold;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .address {
            font-size: $font-size-large;
            font-family: $font-proxima;
            font-weight: $font-weight-normal;
            color: $text-color-default; // width: 85%;
            line-height: 1.4;
        }
        .helpLine {
            @extend .address;
        }
        .dotted {
            border-bottom: 1px dashed $grey-border;
        }
    }
    &-footer {
        p {
            font-size: $font-size-medium;
            font-family: $font-proxima;
            padding-top: 0px;
            margin-bottom: 0;
            a {
                color: $text-color-default;
                font-weight: $font-weight-mid;
            }
        }
    }
}

.faq-section {
    .badge-primary-grad {
        background-image: linear-gradient(-180deg, $primary-color, $secondary-color) !important;
        border: 1 px solid $primary-color;
        color: $white-color;
    }
    .watch-now {
        .button {
            background-image: linear-gradient(-180deg, $primary-color, $secondary-color);
            border: 2px solid #2887a1;
            border-radius: 2rem;
            color: $white-color;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $font-proxima;
            font-size: 0.6rem;
            font-weight: 600;
            outline: 0;
            padding: 5px 15px;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: all 0.3s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            margin-left: 1.5rem;
        }

        .button:before {
            background-color: initial;
            background-image: linear-gradient($white-color 0, rgba(255, 255, 255, 0) 100%);
            border-radius: 125px;
            content: "";
            height: 50%;
            left: 4%;
            opacity: 0.5;
            position: absolute;
            top: 0;
            transition: all 0.3s;
            width: 92%;
        }

        .button:hover {
            box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset, rgba(0, 0, 0, 0.1) 0 3px 5px,
                rgba(0, 0, 0, 0.1) 0 10px 13px;
            transform: scale(1.05);
        }

        .fa-play-circle {
            margin-right: 0.4rem;
            font-size: 0.8rem;
        }
    }

    .cat-container {
        // overflow-x: auto;
        max-width: 100%;
        padding-bottom: 1rem;
    }

    .video-tutorial {
        .video-cont {
            width: 100%;
            height: 100%;
            max-height: 11rem;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: $white-color;
            background-clip: border-box;
            border: 1px #dfdfdf;
            border-radius: 8px;
            // height: 28rem;
            // width: 25rem;
            filter: drop-shadow(0 0 0.5rem #ceced0);
        }

        .card-title {
            font-weight: 400;
            padding: 1.5rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            .vid-heading {
                // min-height: 2.5rem;
                font-size: $font-size-large;
            }
            p {
                font-size: 0.8rem;
            }
        }

        .content-card {
            margin: 0rem;
            padding-top: 0.5rem;
            min-height: 3rem;
        }

        .video-watch {
            padding-top: 0rem;
            color: $primary-color;
            text-decoration: none;
            font-size: 0.8rem;
        }
    }

    .faq-portion {
        .card-header {
            min-height: 4rem;
            font-weight: 500;
            // font-size: large;
            color: #2b2b2b;
            background-color: $white-color;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            // padding-top: 1.1rem;
            // padding-left: 1.7rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        .card-body {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: $white-color;
            background-clip: border-box;
            border: 1px #dfdfdf;

            // height: 12rem;
            filter: drop-shadow(0 0 0.25rem #ceced0);
        }

        .card-content {
            color: #2b2b2b;
            font-weight: 400;
        }

        .icon-arrow {
            width: 16px !important;
            height: 16px !important;

            // margin-top: -1.3rem;
        }
        .arrow-open {
            transform: rotate(180deg) !important;
        }
    }
    .search-inp {
        .support-search {
            border: 1px solid #e5e5e5;
            background: $white-color;
            width: 100%;
            height: 2.75rem;
            color: #afafaf;
            outline: 0 !important;
            font-size: 0.875rem;
            font-weight: 400;
            font-family: $font-proxima;
            padding: 0 1.05rem;
            // margin: 1.8rem 0 0.9375rem;
            border-radius: 4px;
        }

        .support-search-icon {
            position: absolute;
            top: 0.75rem;
            right: 1.9rem;
        }

        .icon-size-16 {
            width: 14px !important;
            height: 14px !important;
        }
    }
}
.CustomerSupportSection {
    margin-top: 2.5rem;

    .card {
        border: 1px #dfdfdf;
        filter: drop-shadow(0 0 0.25rem #ceced0);

        &-body {
            padding: 2.5rem;

            .support-desk {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 4rem;
                    max-height: 4rem;
                    margin-right: 0.75rem;
                }

                h5 {
                    margin-bottom: 0;
                }
                p {
                    font-size: $font-size-medium;
                    font-family: $font-proxima;
                    padding-top: 0px;
                    margin-bottom: 0;
                    a {
                        position: relative;
                        color: $text-color-default;
                        text-decoration: none;
                        line-height: 24px;
                        font-weight: $font-weight-mid;
                        width: auto;
                        &:before,
                        &:after {
                            content: "";
                            position: absolute;
                            transition: transform 0.5s ease;
                        }
                        &.link-hover-1 {
                            padding-top: 10px;
                            &:before {
                                top: 28px;
                                left: 0;
                                bottom: 0;
                                width: 100%;
                                height: 1px;
                                background: darken($color-menuheading-black, 3%);
                                transform: scaleX(0);
                            }
                            &:hover:before {
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media #{$mobile} {
    .faq-section {
        .video-tutorial {
            .video-cont {
                height: 100%;
                max-height: 100%;
            }
            .card {
                &-title {
                    .vid-heading {
                        min-height: auto;
                        font-size: $font-size-large + 0.5;
                    }
                    p {
                        font-size: $font-size-medium;
                    }
                }
            }
        }
    }
    .CustomerSupportSection {
        .card {
            &-body {
                padding: 1.5rem 1.5rem 0.5rem 1.5rem;
                .support-desk {
                    text-align: left;
                    justify-content: left;
                    margin-bottom: 1rem;
                    border-right: 0 !important;

                    img {
                        width: 3.5rem;
                    }
                }
            }
        }
    }
}
