<ng-container *ngIf="showFAQ">
  <div class="faq-section mb-4">
    <ng-container *ngIf="tutorials?.length > 0">
      <div class="row">
        <div class="col-md-6 col-12">
          <h3>Tutorials</h3>
        </div>
        <div class="col-md-6 col-12 position-relative search-inp">
          <input [(ngModel)]="tutSearch" maxlength="50" class="support-search" id="" name="supportSearch"
            placeholder="Search" type="text">
          <img class="support-search-icon icon-size-16" src="../../../../../assets/images/icons/icon_search.svg">
        </div>
      </div>
      <div class="row mt-4">
        <ng-scrollbar [trackY]="false" [trackX]="true">
          <div class="col-12 d-flex flex-row cat-container">
            <span (click)="filterTutorials(_cat?.title)" *ngFor="let _cat of tutCats;let fInd = first"
              class="badge pointer"
              [ngClass]="[!fInd?'ml-2':'', selectedCat && selectedCat === _cat?.title?'badge-primary-grad':'badge-secondary']">
              {{_cat?.title}}
            </span>
          </div>
        </ng-scrollbar>
      </div>
      <div class="video-tutorial row">
        <ng-container
          *ngFor="let tutorial of tutorials | faqSearchPipe: tutSearch; let firstInd = first;let indx = index">
          <div class="col-md-4 mt-4">
            <div class="card">
              <div class="card-image">
                <video controlsList="nodownload" id="hm_tut_vid_{{indx}}" class="video-cont" controls preload="none"
                  [poster]="(baseExternalAssets + tutorial?.ThumbnailURL)" data-setup='{"playbackRates": [1, 1.5, 2] }'>
                  <source [src]="(baseExternalAssets + tutorial?.TutorialURL)" type='video/mp4' />
                </video>
              </div>
              <div class="card-content">
                <div class="card-title">
                  <h6 class="vid-heading">{{tutorial?.TutorialTitle}}</h6>
                  <ng-container *ngIf="tutorial?.ReadMore || !tutorial?.ReadLessText">
                    <p class="content-card">
                      {{tutorial?.TutorialDesc}}</p>
                    <span *ngIf="tutorial?.ReadMore" (click)="tutorial.ReadMore = !tutorial.ReadMore"
                      class="video-watch pointer">Read Less</span>
                  </ng-container>
                  <ng-container *ngIf="!tutorial?.ReadMore && tutorial?.ReadLessText">
                    <p class="content-card">
                      {{tutorial?.ReadLessText}}... <span (click)="tutorial.ReadMore = !tutorial.ReadMore"
                        class="video-watch pointer">Read More</span>
                    </p>

                  </ng-container>
                </div>
                <div class="mb-3 watch-now">
                  <!-- <span  class="video-watch pointer">Watch Now</span> -->
                  <button (click)="playPause('hm_tut_vid_'+indx)" class="button" role="button"><i
                      class="fa fa-play-circle" aria-hidden="true"></i>WATCH
                    NOW</button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="faqs?.length > 0">
      <div class="row mt-4 pt-4">
        <div class="col-md-6 col-12">
          <h3>FAQ</h3>
        </div>
        <div class="col-md-6 col-12 position-relative search-inp">
          <input [(ngModel)]="faqSearch" maxlength="50" class="support-search" id="" name="supportSearch"
            placeholder="Search" type="text">
          <img class="support-search-icon icon-size-16" src="../../../../../assets/images/icons/icon-search.svg ">
        </div>
      </div>
      <div class="row faq-portion mt-4">
        <div class="col-12 ">
          <ng-container *ngFor="let question of faqs | faqSearchPipe: faqSearch ;let fInd = first">
            <div [ngClass]="{'mt-2':!fInd}" class="card">
              <div (click)="question.IsOpen = !question.IsOpen" class="card-header pointer"
                [ngClass]="question?.IsOpen?'border-1':'border-0'">
                <span>{{question?.QueText}}</span>
                <i class="d-flex justify-content-end">
                  <img class="icon-arrow" [ngClass]="{'arrow-open':question?.IsOpen}"
                    src="../../../../../assets/images/icons/icon_arrow_down.svg">
                </i>
              </div>
              <div *ngIf="question?.IsOpen" class="card-body animated fadeIn">
                <ul class="dot-content">
                  <li *ngFor="let ans of question?.Ans" class="card-content mb-0" [innerHTML]="ans.AnsText"></li>
                </ul>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<section class="CustomerSupportSection">
  <h4>Customer Support</h4>
  <div class="card mt-3">
    <div class="card-body helpSupport" *ngIf="HelpDataLoaded">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12 support-desk" [ngClass]="isMobile?'border-bottom pb-3':'border-right'">
          <a class="link-hover-1" href="{{helpDeskData?.link}}" target="_blank"><img
              src="../../../../assets/images/icons/icon-helpdesk.svg" alt=""></a>
          <div class="d-flex flex-column text-left">
            <h5>{{helpDeskData?.title}}</h5>
            <p><a class="link-hover-1" href="{{helpDeskData?.link}}" target="_blank">{{helpDeskData?.desc}}</a></p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-12 support-desk">
          <a class="link-hover-1" href="{{'mailto:' + helpSupport?.HMSupportEmail}}"><img
              src="../../../../assets/images/icons/icon-support-email.svg" alt=""></a>
          <div class="d-flex flex-column text-left">
            <h5>Email</h5>
            <p><a class="link-hover-1"
                href="{{'mailto:' + helpSupport?.HMSupportEmail}}">{{helpSupport?.HMSupportEmail}}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Help & Support -->