<section class="registration">
  <h3 class="registration-title" style="text-transform: initial !important;">Step 1 of 3 - Setup Your Digital Profile
  </h3>
  <!-- <p class="sub-title">It takes only a few minutes to send us your basic information.</p> -->

  <section class="services">
    <div class="row">
      <div class="licenseNaming col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <h5 class="m-0">Company Activities</h5>
        <small>Your company provides expertise in the following</small>
      </div>
      <div class="licenseNaming col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 dir-otherLanguage"
        *ngIf="showTranslatedLangSide">
        <h5 class="m-0">نشاطات الشركة</h5>
        <small class="arabicLng">توفر شركتك الخبرة في ما يلي</small>
      </div>
    </div>
    <hr class="hr-solid">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let service of serviceOffered">
        <div #selectService class="service-btn text-center d-flex flex-column justify-content-center mb-2 pointer"
          (click)="serviceSelection(service, selectService)" [ngClass]="{'active': service?.isSelected}">
          <span>{{service.logServName}}</span>
          <span *ngIf="showTranslatedLangSide">{{service.logServName_OtherLanguage}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label>Country</label>
          <input [ngModelOptions]="{standalone: true}" type="text" class="form-control"
            (keypress)="textValidation($event)" name="country" [(ngModel)]="selected_country"
            (ngModelChange)="selectCountry(selected_country)" [ngbTypeahead]="search" [resultTemplate]="rt"
            [inputFormatter]="formatter" placeholder="Please enter your country name to proceed"
            [disabled]="!countryList || countryList?.length == 0" />
        </div>
        <ng-template #rt let-r="result">
          <div class="d-flex">
            <div class="flag-container mr-1">
              <img src="{{'../../../../../assets/images/flags/4x3/' + (r.code | lowercase) + '.svg'}}"
                class="mw-100 w-auto ml-1 h-auto mh-100 flag-icon-20-12">
            </div>
            <ngb-highlight [result]="r.title"></ngb-highlight>
          </div>
        </ng-template>
      </div>
    </div>
  </section>
  <!-- <section class="map">
    <div class="countryBox">
      <div class="flag-container">
        <img *ngIf="selected_country && selected_country.code"
          src="{{'../../../../../assets/images/flags/4x3/' + (selected_country.code | lowercase) + '.svg'}}"
          type="image/svg+xml" class="countryImg mw-100 w-auto h-auto mh-100 flag-icon-20-12">
      </div>
      <input [ngModelOptions]="{standalone: true}" type="text" class="form-control"
        [ngClass]="{'selected' : selected_country?.code, 'glowElement': !selected_country?.id || !selected_country}"
        (keypress)="textValidation($event)" name="country" [(ngModel)]="selected_country"
        (ngModelChange)="selectCountry(selected_country)" [ngbTypeahead]="search" [resultTemplate]="rt"
        [inputFormatter]="formatter" placeholder="Please enter your country name to proceed"
        [disabled]="!countryList || countryList?.length == 0" />
    </div>
    <ng-template #rt let-r="result">
      <div class="d-flex">
        <div class="flag-container mr-1">
          <img src="{{'../../../../../assets/images/flags/4x3/' + (r.code | lowercase) + '.svg'}}"
            class="mw-100 w-auto ml-1 h-auto mh-100 flag-icon-20-12">
        </div>
        <ngb-highlight [result]="r.title"></ngb-highlight>
      </div>
    </ng-template>

    <agm-map [zoom]="zoomlevel" [latitude]="location.lat" [longitude]="location.lng">
      <agm-marker [latitude]="location.lat" [longitude]="location.lng"
        *ngIf="selected_country && selected_country.code"></agm-marker>
    </agm-map>
  </section> -->

  <section class="animated fadeInUp mt-5" *ngIf="onRegistrationForm">
    <div class="row mt-5">
      <div class="licenseNaming col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <h5 class="m-0">Your Organization Information</h5>
      </div>
      <div class="licenseNaming col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 dir-otherLanguage"
        *ngIf="showTranslatedLangSide">
        <h5 class="m-0">شركة بيانات المتصل</h5>
        <!-- <small class="arabicLng">نطلب المعلومات الشخصية الخاصة بك للحصول على اتصال معكم</small> -->
      </div>
    </div>
    <hr class="hr-solid">
    <form autocomplete="off" novalidate [formGroup]="businessForm">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Organization Name</label>
            <input type="text" class="form-control" maxlength="100" [ngClass]="{
                          'inputError': orgNameError && businessForm.controls['orgName'].errors
                          }" (focusout)="errorValidate()" (blur)="activeOrgName=false"
              (focus)="transorgNameError=false; orgNameError=false; activeOrgName=true"
              (ngModelChange)="onModelChange(activeTransOrgName, activeOrgName, 'transLangOrgName', 'en', 'ar' ,$event)"
              placeholder="Company Name" formControlName="orgName">
            <span *ngIf="orgNameError && businessForm.controls['orgName'].errors">
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['orgName'].hasError('required') && (businessForm.controls.orgName.dirty || businessForm.controls.orgName.touched)">
                {{requiredFields}}</p>
              <p class="inputError animated fadeIn"
                *ngIf="!businessForm.controls['orgName'].hasError('pattern') && businessForm.controls['orgName'].hasError('minlength') && (businessForm.controls.orgName.dirty || businessForm.controls.orgName.touched)">
                Organization
                name must be at least 4 characters long</p>
              <p class="inputError animated fadeIn"
                *ngIf="!businessForm.controls['orgName'].hasError('pattern') && businessForm.controls['orgName'].hasError('maxlength') && (businessForm.controls.orgName.dirty || businessForm.controls.orgName.touched)">
                Organization
                name should not exceed from 100 characters</p>
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['orgName'].hasError('pattern') && (businessForm.controls.orgName.dirty || businessForm.controls.orgName.touched)">
                Please
                enter valid information</p>
            </span>
          </div>
        </div>
        <div class="col-12" *ngIf="showTranslatedLangSide">
          <div class="form-group dir-otherLanguage text-right">
            <label>اسم المنظمة</label>
            <input type="text" class="form-control" [ngClass]="{
                          'inputError': transorgNameError && businessForm.controls['transLangOrgName'].errors}"
              (focusout)="errorValidate()" (blur)="activeTransOrgName=false"
              (focus)="transorgNameError=false; orgNameError=false; activeTransOrgName=true"
              (ngModelChange)="onTransModel(activeOrgName, activeTransOrgName, 'orgName' ,$event)"
              placeholder="Company Name" formControlName="transLangOrgName">
            <span *ngIf="transorgNameError && businessForm.controls['transLangOrgName'].errors">
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['transLangOrgName'].hasError('required') && (businessForm.controls.transLangOrgName.dirty || businessForm.controls.transLangOrgName.touched)">
                {{requiredFieldsOthrLng}}</p>
              <p class="inputError animated fadeIn"
                *ngIf="!businessForm.controls['transLangOrgName'].hasError('pattern') && businessForm.controls['transLangOrgName'].hasError('minlength') && (businessForm.controls.transLangOrgName.dirty || businessForm.controls.transLangOrgName.touched)">
                يجب
                أن يكون اسم المؤسسة 4 أحرف على الأقل</p>
              <p class="inputError animated fadeIn"
                *ngIf="!businessForm.controls['transLangOrgName'].hasError('pattern') && businessForm.controls['transLangOrgName'].hasError('maxlength') && (businessForm.controls.transLangOrgName.dirty || businessForm.controls.transLangOrgName.touched)">
                يجب
                ألا يتجاوز اسم المؤسسة 100 حرف</p>
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['transLangOrgName'].hasError('pattern') && (businessForm.controls.transLangOrgName.dirty || businessForm.controls.transLangOrgName.touched)">
                يرجى
                إدخال معلومات صحيحة</p>
            </span>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-12">
          <div class="form-group">
            <label for="address">Address</label>
            <textarea (keypress)="oneSpaceHandler($event)" class="form-control" maxlength="200"
              formControlName="address" (focusout)="errorValidate()"
              (focus)="addressError = false; addressArError = false" [ngClass]="{
              'inputError': addressError && businessForm.controls['address'].errors}" [(ngModel)]="addressAr">
            </textarea>
            <span *ngIf="addressError && businessForm.controls['address'].errors">
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['address'].hasError('required') && (businessForm.controls.address.dirty || businessForm.controls.address.touched)">
                {{requiredFields}}</p>
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['address'].hasError('pattern') && (businessForm.controls.address.dirty || businessForm.controls.address.touched)">
                Please
                enter valid information</p>
              <p class="inputError animated fadeIn"
                *ngIf="!businessForm.controls['address'].hasError('pattern') && businessForm.controls['address'].hasError('maxlength') && (businessForm.controls.address.dirty || businessForm.controls.address.touched)">
                Address
                should not exceed from 200 characters</p>
              <p class="inputError animated fadeIn"
                *ngIf="!businessForm.controls['address'].hasError('pattern') && businessForm.controls['address'].hasError('minlength') && (businessForm.controls.address.dirty || businessForm.controls.address.touched)">
                Address
                should be minimum 10 characters</p>
            </span>
          </div>
        </div>
        <div class="col-12" *ngIf="showTranslatedLangSide">
          <div class="form-group dir-otherLanguage">
            <label for="address">العنوان</label>
            <textarea type="text" class="form-control" (keypress)="oneSpaceHandler($event)" maxlength="200"
              formControlName="transAddress" (focusout)="errorValidate()"
              (focus)="addressError = false; addressArError = false" [ngClass]="{
              'inputError': addressArError && businessForm.controls['transAddress'].errors
            }" [(ngModel)]="addressAr"></textarea>
            <span *ngIf="addressArError && businessForm.controls['transAddress'].errors">
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['transAddress'].hasError('required') && (businessForm.controls.transAddress.dirty || businessForm.controls.transAddress.touched)">
                {{requiredFieldsOthrLng}}</p>
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['transAddress'].hasError('pattern') && (businessForm.controls.transAddress.dirty || businessForm.controls.transAddress.touched)">
                يرجى
                إدخال معلومات صحيحة</p>
              <p class="inputError animated fadeIn"
                *ngIf="!businessForm.controls['transAddress'].hasError('pattern') && businessForm.controls['transAddress'].hasError('maxlength') && (businessForm.controls.transAddress.dirty || businessForm.controls.transAddress.touched)">
                يجب
                ألا يتجاوز العنوان 200 حرف</p>
              <p class="inputError animated fadeIn"
                *ngIf="!businessForm.controls['transAddress'].hasError('pattern') && businessForm.controls['transAddress'].hasError('minlength') && (businessForm.controls.transAddress.dirty || businessForm.controls.transAddress.touched)">
                يجب
                أن يكون العنوان 10 حرفًا كحد أدنى</p>
            </span>
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="form-group">
            <label for="Address">P.O Box (Optional)</label>
            <input type="text" class="form-control" maxlength="16" (focusout)="errorValidate()"
              (focus)="poBoxError = false; poBoxArError = false" [ngClass]="{
                 'inputError': poBoxError && businessForm.controls['poBoxNo'].errors
                }" [(ngModel)]="poBoxAr" formControlName="poBoxNo">
            <span *ngIf="poBoxError && businessForm.controls['poBoxNo'].errors">
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['poBoxNo'].hasError('required') && (businessForm.controls.poBoxNo.dirty || businessForm.controls.poBoxNo.touched)">
                {{requiredFields}}</p>
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['poBoxNo'].hasError('pattern') && (businessForm.controls.poBoxNo.dirty || businessForm.controls.poBoxNo.touched)">
                Please
                enter valid information</p>
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['poBoxNo'].hasError('maxlength') && (businessForm.controls.poBoxNo.dirty || businessForm.controls.poBoxNo.touched)">
                PO
                address should not exceed from 16 characters</p>
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['poBoxNo'].hasError('minlength') && (businessForm.controls.poBoxNo.dirty || businessForm.controls.poBoxNo.touched)">
                PO
                address should be minimum 4 characters</p>
            </span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12" *ngIf="showTranslatedLangSide">
          <div class="form-group dir-otherLanguage">
            <label for="address">صندوق بريد (اختياري)</label>
            <input type="text" class="form-control" maxlength="16" (focusout)="errorValidate()"
              (focus)="poBoxError = false; poBoxArError = false" [ngClass]="{
                'inputError': poBoxArError && businessForm.controls['poBoxNoAr'].errors
              }" [(ngModel)]="poBoxAr" formControlName="poBoxNoAr">
            <span *ngIf="poBoxArError && businessForm.controls['poBoxNoAr'].errors">
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['poBoxNoAr'].hasError('required') && (businessForm.controls.poBoxNoAr.dirty || businessForm.controls.poBoxNoAr.touched)">
                {{requiredFieldsOthrLng}}</p>
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['poBoxNoAr'].hasError('pattern') && (businessForm.controls.poBoxNoAr.dirty || businessForm.controls.poBoxNoAr.touched)">
                يرجى
                إدخال معلومات صحيحة</p>
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['poBoxNoAr'].hasError('maxlength') && (businessForm.controls.poBoxNoAr.dirty || businessForm.controls.poBoxNoAr.touched)">
                يجب
                ألا يتجاوز عنوان PO من 16 حرفًا</p>
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['poBoxNoAr'].hasError('minlength') && (businessForm.controls.poBoxNoAr.dirty || businessForm.controls.poBoxNoAr.touched)">
                يجب
                أن يكون عنوان PO 4 أحرف كحد أدنى</p>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="city">City</label>
            <div class="city-dropdown">
              <div class="flag-container">
                <img *ngIf="cityAr && cityAr.imageName"
                  src="{{'../../../../../assets/images/flags/4x3/' + (cityAr.imageName | lowercase) + '.svg'}}"
                  type="image/svg+xml">
              </div>
              <input type="text" (keypress)="oneSpaceHandler($event)" class="form-control" maxlength="100"
                formControlName="city" (focusout)="errorValidate()" (focus)="cityArError = false; cityError = false"
                [ngClass]="{'inputError': cityError && businessForm.controls['city'].errors, 'routeSelected': businessForm.value.city && businessForm.value.city.title && businessForm.value.city.id}"
                [(ngModel)]="cityAr" (ngModelChange)="onSelectedCity(cityAr)" [ngbTypeahead]="search2"
                [resultTemplate]="st" [inputFormatter]="formatterCty">
              <ng-template #st let-r="result">
                <div class="flag-container mr-1">
                  <img src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}">
                </div>
                <ngb-highlight [result]="r.title"></ngb-highlight>
              </ng-template>
              <span *ngIf="cityError && businessForm.controls['city'].errors">
                <p class="inputError animated fadeIn"
                  *ngIf="businessForm.controls['city'].hasError('required') && (businessForm.controls.city.dirty || businessForm.controls.city.touched)">
                  {{requiredFields}}</p>
                <p class="inputError animated fadeIn"
                  *ngIf="businessForm.controls['city'].hasError('pattern') && (businessForm.controls.city.dirty || businessForm.controls.city.touched)">
                  Please
                  enter valid information</p>
                <p class="inputError animated fadeIn"
                  *ngIf="!businessForm.controls['city'].hasError('pattern')&& businessForm.controls['city'].hasError('maxlength') && (businessForm.controls.city.dirty || businessForm.controls.city.touched)">
                  city
                  should not exceed from 100 characters</p>
                <p class="inputError animated fadeIn"
                  *ngIf="!businessForm.controls['city'].hasError('pattern') && businessForm.controls['city'].hasError('minlength') && (businessForm.controls.city.dirty || businessForm.controls.city.touched)">
                  city
                  should be minimum 3 characters</p>
              </span>
            </div>
          </div>
        </div>
        <div class="col-12" *ngIf="showTranslatedLangSide">
          <div class="form-group city-dropdown-ar dir-otherLanguage">
            <label for="مدينة">مدينة</label>
            <div class="city-dropdown ar">
              <div class="flag-container">
                <img *ngIf="cityAr && cityAr.imageName"
                  src="{{'../../../../../assets/images/flags/4x3/' + (cityAr.imageName | lowercase) + '.svg'}}"
                  type="image/svg+xml">
              </div>
              <input type="text" class="form-control" (keypress)="oneSpaceHandler($event)" maxlength="100"
                formControlName="transCity" (focusout)="errorValidate()"
                (focus)="cityArError = false; cityError = false"
                [ngClass]="{'inputError': cityArError && businessForm.controls['transCity'].errors, 'routeSelected': businessForm.value.city && businessForm.value.city.title && businessForm.value.city.id}"
                [(ngModel)]="cityAr" (ngModelChange)="onSelectedCity(cityAr)" [ngbTypeahead]="searchCity"
                [resultTemplate]="st" [inputFormatter]="formatterCity">
              <ng-template #st let-r="result">
                <div class="flag-container mr-1">
                  <img src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}">
                </div>
                <ngb-highlight [result]="r.title"></ngb-highlight>
              </ng-template>
              <span *ngIf="cityArError && businessForm.controls['transCity'].errors">
                <p class="inputError animated fadeIn"
                  *ngIf="businessForm.controls['transCity'].hasError('required') && (businessForm.controls.transCity.dirty || businessForm.controls.transCity.touched)">
                  {{requiredFieldsOthrLng}}</p>
                <p class="inputError animated fadeIn"
                  *ngIf="businessForm.controls['transCity'].hasError('pattern') && (businessForm.controls.transCity.dirty || businessForm.controls.transCity.touched)">
                  يرجى
                  إدخال معلومات صحيحة</p>
                <p class="inputError animated fadeIn"
                  *ngIf="!businessForm.controls['transCity'].hasError('pattern') && businessForm.controls['transCity'].hasError('maxlength') && (businessForm.controls.transCity.dirty || businessForm.controls.transCity.touched)">
                  يجب
                  ألا يتجاوز العنوان 100 حرف</p>
                <p class="inputError animated fadeIn"
                  *ngIf="!businessForm.controls['transCity'].hasError('pattern') && businessForm.controls['transCity'].hasError('minlength') && (businessForm.controls.transCity.dirty || businessForm.controls.transCity.touched)">
                  يجب
                  أن يكون العنوان 3 حرفًا كحد أدنى</p>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Telephone</label>
            <div class="select-number">
              <div class="input-group-prepend"
                [ngClass]="{'inputError': phoneError && businessForm.controls['phone'].errors}"
                (focusout)="errorValidate()">
                <div class="select-country-list">
                  <app-country-select *ngIf="countryList?.length > 0" [selectedCountry]="selCountry"
                    [countryList]="countryList" (onSelect)="selectPhoneCode($event)">
                  </app-country-select>
                </div>
                <input type="text" class="form-control select-country-code" maxlength="13" placeholder="123456789"
                  formControlName="phone" (blur)="activePhone=false"
                  (ngModelChange)="onModelPhoneChange(activeTransPhone, activePhone, 'transLangPhone', $event)"
                  specialCharRemover (focus)="translangPhoneError=false; phoneError=false; activePhone=true"
                  (keypress)="NumberValid($event)" />
              </div>
              <span class="animated fadeIn" *ngIf="phoneError && businessForm.controls['phone'].errors">
                <p class="inputError animated fadeIn"
                  *ngIf="businessForm.controls['phone'].hasError('required') && (businessForm.controls.phone.dirty || businessForm.controls.phone.touched)">
                  {{requiredFields}}</p>
                <p class="inputError animated fadeIn"
                  *ngIf="!businessForm.controls['phone'].hasError('pattern') && businessForm.controls['phone'].hasError('minlength') && (businessForm.controls.phone.dirty || businessForm.controls.phone.touched)">
                  Telephone
                  number should be minimum 7 digits</p>
                <p class="inputError animated fadeIn"
                  *ngIf="!businessForm.controls['phone'].hasError('pattern') && businessForm.controls['phone'].hasError('maxlength') && (businessForm.controls.phone.dirty || businessForm.controls.phone.touched)">
                  Telephone
                  number should not exceed from 13 digits</p>
                <p class="inputError animated fadeIn"
                  *ngIf="businessForm.controls['phone'].hasError('pattern') && (businessForm.controls.phone.dirty || businessForm.controls.phone.touched)">
                  Please
                  enter valid information</p>
              </span>
            </div>
          </div>
        </div>
        <div class="col-12" *ngIf="showTranslatedLangSide">
          <div class="form-group dir-otherLanguage">
            <label>هاتف</label>
            <div class="select-number">
              <div id="18" class="input-group-append"
                [ngClass]="{'inputError': translangPhoneError && businessForm.controls['transLangPhone'].errors}">
                <div class="select-country-list">
                  <app-country-select *ngIf="countryList?.length > 0" [selectedCountry]="selCountry"
                    [countryList]="countryList" (onSelect)="selectPhoneCode($event)" [isOtherLang]="true">
                  </app-country-select>
                </div>
                <input type="text" class="form-control select-country-code" formControlName="transLangPhone"
                  (focusout)="errorValidate()" (blur)="activeTransPhone=false"
                  (focus)="translangPhoneError=false; phoneError=false; activeTransPhone=true"
                  (ngModelChange)="onModelTransPhoneChange(activePhone, activeTransPhone, 'phone', $event)"
                  specialCharRemover maxlength="13" placeholder="۹۸۷٦۵۴۳۲۱" (keypress)="NumberValid($event)">
              </div>
              <span class="animated fadeIn"
                *ngIf="translangPhoneError && businessForm.controls['transLangPhone'].errors">
                <p class="inputError animated fadeIn"
                  *ngIf="businessForm.controls['transLangPhone'].hasError('required') && (businessForm.controls.transLangPhone.dirty || businessForm.controls.transLangPhone.touched)">
                  {{requiredFieldsOthrLng}}</p>
                <p class="inputError animated fadeIn"
                  *ngIf="!businessForm.controls['transLangPhone'].hasError('pattern') && businessForm.controls['transLangPhone'].hasError('minlength') && (businessForm.controls.transLangPhone.dirty || businessForm.controls.transLangPhone.touched)">
                  يجب
                  أن يكون رقم الهاتف 7 أرقام كحد أدنى</p>
                <p class="inputError animated fadeIn"
                  *ngIf="!businessForm.controls['transLangPhone'].hasError('pattern') && businessForm.controls['transLangPhone'].hasError('maxlength') && (businessForm.controls.transLangPhone.dirty || businessForm.controls.transLangPhone.touched)">
                  يجب
                  ألا يتجاوز رقم الهاتف 13 رقمًا</p>
                <p class="inputError animated fadeIn"
                  *ngIf="businessForm.controls['transLangPhone'].hasError('pattern') && (businessForm.controls.transLangPhone.dirty || businessForm.controls.transLangPhone.touched)">
                  يرجى
                  إدخال معلومات صحيحة</p>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-xl-3">
          <div class="form-group">
            <label>Social Media Links (Optional)</label>
            <small>Enter the link for your social media pages that you would like to appear on your
              logistics website.</small>
          </div>
        </div>
        <div class="col-9 social-links">
          <div class="form-group">
            <small>Website Link</small>
            <input class="form-control" placeholder="www.companyname.com" formControlName="webUrl"
              [ngClass]="(webUrl_error)? 'fieldError': ''" (focusout)="socialError()" (focus)="webUrl_error=false" />
            <span class="animated fadeIn">
              <button class="pull-right" [ngClass]="(webUrl)?'asdasd':'disable'" [placement]="'top'"
                (click)="opneSocialLink(webUrl)" ngbTooltip="View Website" container="body">
                <i class="fa fa-globe"></i>
              </button>
            </span>
            <span class="animated fadeIn" *ngIf="webUrl_error">
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['webUrl'].status === 'INVALID' && (businessForm.controls.webUrl.dirty || businessForm.controls.webUrl.touched)">
                Invalid Link</p>
            </span>
          </div>
          <div class="form-group">
            <small>LinkedIn Page Link</small>
            <input class="form-control" placeholder="eg: www.linkedin.com/company/companyname"
              formControlName="linkedInUrl" [ngClass]="(linkedInUrl_error)? 'fieldError': ''" (focusout)="socialError()"
              (focus)="linkedInUrl_error=false" />
            <span class="animated fadeIn">
              <button class="pull-right" [ngClass]="(linkedInUrl)?'asdasd':'disable'" [placement]="'top'"
                (click)="opneSocialLink(linkedInUrl)" ngbTooltip="View LinkedIn Page" container="body">
                <i class="fa fa-linkedin"></i>
              </button>
            </span>
            <span class="animated fadeIn" *ngIf="linkedInUrl_error">
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['linkedInUrl'].status === 'INVALID' && (businessForm.controls.linkedInUrl.dirty || businessForm.controls.linkedInUrl.touched)">
                Invalid Link</p>
            </span>
          </div>

          <div class="form-group">
            <small>Facebook Page Link</small>
            <input class="form-control" placeholder="eg: www.facebook.com/companyname" formControlName="fbUrl"
              [ngClass]="(fbUrl_error)? 'fieldError': ''" (focusout)="socialError()" (focus)="fbUrl_error=false" />
            <span class="animated fadeIn">
              <button class="pull-right" [ngClass]="(fbUrl)?'asdasd':'disable'" [placement]="'top'"
                (click)="opneSocialLink(fbUrl)" ngbTooltip="View Facebook Page" container="body">
                <i class="fa fa-facebook"></i>
              </button>
            </span>
            <span class="animated fadeIn" *ngIf="fbUrl_error">
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['fbUrl'].status === 'INVALID' && (businessForm.controls.fbUrl.dirty || businessForm.controls.fbUrl.touched)">
                Invalid Link</p>
            </span>
          </div>

          <div class="form-group">
            <small>Twitter Page Link</small>
            <input class="form-control" placeholder="eg: www.twitter.com/companyname" formControlName="twitterUrl"
              [ngClass]="(twitterUrl_error)? 'fieldError': ''" (focusout)="socialError()"
              (focus)="twitterUrl_error=false" />
            <span class="animated fadeIn">
              <button class="pull-right" [ngClass]="(twitterUrl)?'asdasd':'disable'" [placement]="'top'"
                (click)="opneSocialLink(twitterUrl)" ngbTooltip="View Twitter Page" container="body">
                <i class="fa fa-twitter"></i>
              </button>
            </span>
            <span class="animated fadeIn" *ngIf="twitterUrl_error">
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['twitterUrl'].status === 'INVALID' && (businessForm.controls.twitterUrl.dirty || businessForm.controls.twitterUrl.touched)">
                Invalid Link</p>
            </span>
          </div>

          <div class="form-group">
            <small>Instagram Page Link</small>
            <input class="form-control" placeholder="eg: www.instagram.com/companyname" formControlName="instaUrl"
              [ngClass]="(instaUrl_error)? 'fieldError': ''" (focusout)="socialError()"
              (focus)="instaUrl_error=false" />
            <span class="animated fadeIn">
              <button class="pull-right" [ngClass]="(instaUrl)?'asdasd':'disable'" [placement]="'top'"
                (click)="opneSocialLink(instaUrl)" ngbTooltip="View Instagram Page" container="body">
                <i class="fa fa-instagram"></i>
              </button>
            </span>
            <span class="animated fadeIn" *ngIf="instaUrl_error">
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['instaUrl'].status === 'INVALID' && (businessForm.controls.instaUrl.dirty || businessForm.controls.instaUrl.touched)">
                Invalid Link</p>
            </span>
          </div>

          <div class="form-group">
            <small>YouTube Page Link</small>
            <input class="form-control" placeholder="eg: www.youtube.com/companyname" formControlName="youtubeUrl"
              [ngClass]="(youtubeUrl_error)? 'fieldError': ''" (focusout)="socialError()"
              (focus)="youtubeUrl_error=false" />
            <span class="animated fadeIn">
              <button class="pull-right" [ngClass]="(youtubeUrl)?'asdasd':'disable'" [placement]="'top'"
                (click)="opneSocialLink(youtubeUrl)" ngbTooltip="View YouTube Page" container="body">
                <i class="fa fa-youtube"></i>
              </button>
            </span>
            <span class="animated fadeIn" *ngIf="youtubeUrl_error">
              <p class="inputError animated fadeIn"
                *ngIf="businessForm.controls['youtubeUrl'].status === 'INVALID' && (businessForm.controls.youtubeUrl.dirty || businessForm.controls.youtubeUrl.touched)">
                Invalid Link</p>
            </span>
          </div>



        </div>
      </div>
    </form>
    <div class="row mt-5">
      <div class="licenseNaming col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <h5 class="m-0">Personal Information</h5>
        <!-- <small>We require your personal information to get in touch with you</small> -->
      </div>
      <div class="licenseNaming col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 dir-otherLanguage"
        *ngIf="showTranslatedLangSide">
        <h5 class="m-0">المعلومات الشخصية الخاصة بك</h5>
        <!-- <small class="arabicLng">نطلب المعلومات الشخصية الخاصة بك للحصول على اتصال معكم</small> -->
      </div>
    </div>
    <hr class="hr-solid">
    <form autocomplete="off" novalidate [formGroup]="personalInfoForm">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="leftFirstName">First Name</label>
            <input id="1" type="text" maxlength="100" (keypress)="textValidation($event)"
              [ngClass]="{'inputError': firstNameError && personalInfoForm.controls['firstName'].errors}"
              (focusout)="errorValidate()" (blur)="activeFirstName=false"
              (focus)="firstNameError=false; transfirstNameError=false; activeFirstName=true"
              (ngModelChange)="onNameModelChange(activeTransFirstName, activeFirstName, 'transLangfirstName', 'en', 'ar' ,$event)"
              class="form-control" placeholder="eg: John" formControlName="firstName" name="firstName">
            <span *ngIf="firstNameError && personalInfoForm.controls['firstName'].errors">
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['firstName'].hasError('required') && (personalInfoForm.controls.firstName.dirty || personalInfoForm.controls.firstName.touched)">
                {{requiredFields}}</p>
              <p class="inputError animated fadeIn"
                *ngIf="!personalInfoForm.controls['firstName'].hasError('pattern') && personalInfoForm.controls['firstName'].hasError('minlength') && (personalInfoForm.controls.firstName.dirty || personalInfoForm.controls.firstName.touched)">
                First
                name must be at least 2 characters long</p>
              <p class="inputError animated fadeIn"
                *ngIf="!personalInfoForm.controls['firstName'].hasError('pattern') && personalInfoForm.controls['firstName'].hasError('maxlength') && (personalInfoForm.controls.firstName.dirty || personalInfoForm.controls.firstName.touched)">
                First
                name should not exceed from 100 characters</p>
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['firstName'].hasError('pattern') && (personalInfoForm.controls.firstName.dirty || personalInfoForm.controls.firstName.touched)">
                Please
                enter valid information</p>
            </span>
          </div>
        </div>
        <div class="col-12" *ngIf="showTranslatedLangSide">
          <div class="form-group dir-otherLanguage">
            <label for="rightFirstName">الاسم الاول</label>
            <input id="2" type="text" maxlength="100" class="form-control"
              [ngClass]="{'inputError': transfirstNameError && personalInfoForm.controls['transLangfirstName'].errors}"
              (focusout)="errorValidate()" (blur)="activeTransFirstName=false"
              (focus)="transfirstNameError=false; firstNameError=false;  activeTransFirstName=true"
              (ngModelChange)="onTransNameModel(activeFirstName, activeTransFirstName, 'firstName' ,$event)"
              placeholder="المثال : جون" formControlName="transLangfirstName">
            <span *ngIf="transfirstNameError && personalInfoForm.controls['transLangfirstName'].errors">
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['transLangfirstName'].hasError('required') && (personalInfoForm.controls.transLangfirstName.dirty || personalInfoForm.controls.transLangfirstName.touched)">
                {{requiredFieldsOthrLng}}</p>
              <p class="inputError animated fadeIn"
                *ngIf="!personalInfoForm.controls['transLangfirstName'].hasError('pattern') && personalInfoForm.controls['transLangfirstName'].hasError('minlength') && (personalInfoForm.controls.transLangfirstName.dirty || personalInfoForm.controls.transLangfirstName.touched)">
                يجب
                أن يتكون الاسم الأول من حرفين على الأقل</p>
              <p class="inputError animated fadeIn"
                *ngIf="!personalInfoForm.controls['transLangfirstName'].hasError('pattern') && personalInfoForm.controls['transLangfirstName'].hasError('maxlength') && (personalInfoForm.controls.transLangfirstName.dirty || personalInfoForm.controls.transLangfirstName.touched)">
                يجب
                ألا يتجاوز الاسم الأول 100 حرف</p>
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['transLangfirstName'].hasError('pattern') && (personalInfoForm.controls.transLangfirstName.dirty || personalInfoForm.controls.transLangfirstName.touched)">
                يرجى
                إدخال معلومات صحيحة</p>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="leftLastName">Last Name</label>
            <input type="text" maxlength="100" (keypress)="textValidation($event)"
              [ngClass]="{'inputError': lastNameError && personalInfoForm.controls['lastName'].errors}"
              (focusout)="errorValidate()" (blur)="activeLastName=false"
              (focus)="lastNameError=false; translastNameError=false; activeLastName=true"
              (ngModelChange)="onNameModelChange(activeTransLastName, activeLastName, 'transLanglastName', 'en', 'ar' ,$event)"
              class="form-control" placeholder="eg: Smith" formControlName="lastName">
            <span *ngIf="lastNameError && personalInfoForm.controls['lastName'].errors">
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['lastName'].hasError('required') && (personalInfoForm.controls.lastName.dirty || personalInfoForm.controls.lastName.touched)">
                {{requiredFields}}</p>
              <p class="inputError animated fadeIn"
                *ngIf="!personalInfoForm.controls['lastName'].hasError('pattern') && personalInfoForm.controls['lastName'].hasError('minlength') && (personalInfoForm.controls.lastName.dirty || personalInfoForm.controls.lastName.touched)">
                Last
                name must be at least 2 characters long</p>
              <p class="inputError animated fadeIn"
                *ngIf="!personalInfoForm.controls['lastName'].hasError('pattern') && personalInfoForm.controls['lastName'].hasError('maxlength') && (personalInfoForm.controls.lastName.dirty || personalInfoForm.controls.lastName.touched)">
                Last
                name should not exceed from 100 characters</p>
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['lastName'].hasError('pattern') && (personalInfoForm.controls.lastName.dirty || personalInfoForm.controls.lastName.touched)">
                Please
                enter valid information</p>
            </span>
          </div>
        </div>
        <div class="col-12" *ngIf="showTranslatedLangSide">
          <div class="form-group dir-otherLanguage">
            <label for="leftLastName">الاسم الاخير</label>
            <input type="text" maxlength="100" class="form-control" placeholder="المثال : سمىت"
              [ngClass]="{'inputError': translastNameError && personalInfoForm.controls['transLanglastName'].errors}"
              (focusout)="errorValidate()" (blur)="activeTransLastName=false"
              (focus)="lastNameError=false; translastNameError=false; activeTransLastName=true"
              (ngModelChange)="onTransNameModel(activeLastName, activeTransLastName, 'lastName' ,$event)"
              formControlName="transLanglastName">
            <span *ngIf="translastNameError && personalInfoForm.controls['transLanglastName'].errors">
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['transLanglastName'].hasError('required') && (personalInfoForm.controls.transLanglastName.dirty || personalInfoForm.controls.transLanglastName.touched)">
                {{requiredFieldsOthrLng}}</p>
              <p class="inputError animated fadeIn"
                *ngIf="!personalInfoForm.controls['transLanglastName'].hasError('pattern') && personalInfoForm.controls['transLanglastName'].hasError('minlength') && (personalInfoForm.controls.transLanglastName.dirty || personalInfoForm.controls.transLanglastName.touched)">
                يجب
                ألا يقل الاسم الأخير عن 2 حرف</p>
              <p class="inputError animated fadeIn"
                *ngIf="!personalInfoForm.controls['transLanglastName'].hasError('pattern') && personalInfoForm.controls['transLanglastName'].hasError('maxlength') && (personalInfoForm.controls.transLanglastName.dirty || personalInfoForm.controls.transLanglastName.touched)">
                يجب
                ألا يتجاوز الاسم الأخير 100 حرف</p>
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['transLanglastName'].hasError('pattern') && (personalInfoForm.controls.transLanglastName.dirty || personalInfoForm.controls.transLanglastName.touched)">
                يرجى
                إدخال معلومات صحيحة</p>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="lefttransLangjobTitle">Job Title</label>
            <input id="5" type="text" maxlength="100" class="form-control" placeholder="eg: Manager"
              [ngClass]="{'inputError': jobTitleError && personalInfoForm.controls['jobTitle'].errors}"
              formControlName="jobTitle" [(ngModel)]="selectedjobTitle" [ngbTypeahead]="jobSearch" [resultTemplate]="jt"
              [inputFormatter]="formatterjob" name="jobTitle"
              (focusout)="errorValidate(); onModeljobtitle(activeTransjobTitle, !activejobTitle, 'transLangjobTitle', 'en', 'ar' ,selectedjobTitle)"
              (focus)="transjobTitleError=false; jobTitleError=false; activejobTitle=true"
              (blur)="activejobTitle=false">
            <ng-template #jt let-r="result">
              <ngb-highlight [result]="r.baseLanguage"></ngb-highlight>
            </ng-template>
            <span *ngIf="jobTitleError && personalInfoForm.controls['jobTitle'].errors">
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['jobTitle'].hasError('required') && (personalInfoForm.controls.jobTitle.dirty || personalInfoForm.controls.jobTitle.touched)">
                {{requiredFields}}</p>
              <p class="inputError animated fadeIn"
                *ngIf="!personalInfoForm.controls['jobTitle'].hasError('pattern') && personalInfoForm.controls['jobTitle'].hasError('minlength') && (personalInfoForm.controls.jobTitle.dirty || personalInfoForm.controls.jobTitle.touched)">
                Job
                title must be at least 3 characters long</p>
              <p class="inputError animated fadeIn"
                *ngIf="!personalInfoForm.controls['jobTitle'].hasError('pattern') && personalInfoForm.controls['jobTitle'].hasError('maxlength') && (personalInfoForm.controls.jobTitle.dirty || personalInfoForm.controls.jobTitle.touched)">
                Job
                title should not exceed from 100 characters</p>
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['jobTitle'].hasError('pattern') && (personalInfoForm.controls.jobTitle.dirty || personalInfoForm.controls.jobTitle.touched)">
                Please
                enter valid information</p>
            </span>
          </div>
        </div>
        <div class="col-12" *ngIf="showTranslatedLangSide">
          <div class="form-group dir-otherLanguage">
            <label for="leftJobTitle">عنوان</label>
            <input id="6" type="text" maxlength="100" class="form-control" [(ngModel)]="selectedjobTitle"
              placeholder="المثال : مدير" [ngbTypeahead]="jobSearchOtherLng" [resultTemplate]="jto" [placement]="'right'"
              [inputFormatter]="formatterjobOtherLng"
              [ngClass]="{'inputError': transjobTitleError && personalInfoForm.controls['transLangjobTitle'].errors}"
              (focusout)="errorValidate(); onTransModeljobTitle(activejobTitle, !activeTransjobTitle, 'jobTitle' ,selectedjobTitle)"
              formControlName="transLangjobTitle" name="transLangjobTitle"
              (focus)="transjobTitleError=false; jobTitleError=false; activeTransjobTitle=true"
              (blur)="activeTransjobTitle=false">
            <ng-template #jto let-r="result">
              <ngb-highlight [result]="r.otherLanguage"></ngb-highlight>
            </ng-template>
            <span *ngIf="transjobTitleError && personalInfoForm.controls['transLangjobTitle'].errors">
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['transLangjobTitle'].hasError('required') && (personalInfoForm.controls.transLangjobTitle.dirty || personalInfoForm.controls.transLangjobTitle.touched)">
                {{requiredFieldsOthrLng}}</p>
              <p class="inputError animated fadeIn"
                *ngIf="!personalInfoForm.controls['transLangjobTitle'].hasError('pattern') && personalInfoForm.controls['transLangjobTitle'].hasError('minlength') && (personalInfoForm.controls.transLangjobTitle.dirty || personalInfoForm.controls.transLangjobTitle.touched)">
                يجب
                أن يكون عنوان الوظيفة 3 أحرف على الأقل</p>
              <p class="inputError animated fadeIn"
                *ngIf="!personalInfoForm.controls['transLangjobTitle'].hasError('pattern') && personalInfoForm.controls['transLangjobTitle'].hasError('maxlength') && (personalInfoForm.controls.transLangjobTitle.dirty || personalInfoForm.controls.transLangjobTitle.touched)">
                يجب
                ألا يتجاوز عنوان الوظيفة 100 حرف</p>
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['transLangjobTitle'].hasError('pattern') && (personalInfoForm.controls.transLangjobTitle.dirty || personalInfoForm.controls.transLangjobTitle.touched)">
                يرجى
                إدخال معلومات صحيحة</p>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Mobile Number</label>
            <div class="select-number">
              <div id="7" class="input-group-prepend"
                [ngClass]="{'inputError': telephoneError && personalInfoForm.controls['telephone'].errors}">
                <div class="select-country-list">
                  <app-country-select *ngIf="countryList?.length > 0" [selectedCountry]="selCountry"
                    [countryList]="countryList" (onSelect)="selectTelCode($event)">
                  </app-country-select>
                </div>
                <input type="text" class="form-control select-country-code" (focusout)="errorValidate()"
                  (blur)="activetelephone=false"
                  (ngModelChange)="onModelTelephoneChange(activeTransPhone, activetelephone, 'transLangtelephone', $event)"
                  (focus)="translangPhoneError=false; telephoneError=false; activetelephone=true" maxlength="13"
                  specialCharRemover placeholder="123456789" (keypress)="NumberValid($event)"
                  formControlName="telephone">
              </div>
              <span *ngIf="telephoneError">
                <p class="inputError animated fadeIn"
                  *ngIf="personalInfoForm.controls['telephone'].hasError('required') && (personalInfoForm.controls.telephone.dirty || personalInfoForm.controls.telephone.touched)">
                  {{requiredFields}}</p>
                <p class="inputError animated fadeIn"
                  *ngIf="!personalInfoForm.controls['telephone'].hasError('pattern') && personalInfoForm.controls['telephone'].hasError('minlength') && (personalInfoForm.controls.telephone.dirty || personalInfoForm.controls.telephone.touched)">
                  Mobile
                  number should be minimum 7 digits</p>
                <p class="inputError animated fadeIn"
                  *ngIf="!personalInfoForm.controls['telephone'].hasError('pattern') && personalInfoForm.controls['telephone'].hasError('maxlength') && (personalInfoForm.controls.telephone.dirty || personalInfoForm.controls.telephone.touched)">
                  Mobile
                  number should not exceed from 13 digits</p>
                <p class="inputError animated fadeIn"
                  *ngIf="personalInfoForm.controls['telephone'].hasError('pattern') && (personalInfoForm.controls.telephone.dirty || personalInfoForm.controls.telephone.touched)">
                  Please
                  enter valid information</p>
              </span>
            </div>
          </div>
        </div>
        <div class="col-12" *ngIf="showTranslatedLangSide">
          <div class="form-group dir-otherLanguage">
            <label>رقم الهاتف المتحرك</label>
            <div class="select-number">
              <div class="input-group-append"
                [ngClass]="{'inputError': translangtelephoneError && personalInfoForm.controls['transLangtelephone'].errors}">
                <div class="select-country-list">
                  <app-country-select *ngIf="countryList?.length > 0" [selectedCountry]="selCountry"
                    [countryList]="countryList" (onSelect)="selectTelCode($event)" [isOtherLang]="true">
                  </app-country-select>
                </div>
                <input type="text" class="form-control select-country-code" (focusout)="errorValidate()"
                  (blur)="activeTransTelephone=false"
                  (focus)="translangPhoneError=false; telephoneError=false; activeTransTelephone=true"
                  (ngModelChange)="onModelTransTelephoneChange(activetelephone, activeTransTelephone, 'phone', $event)"
                  maxlength="13" placeholder="۹۸۷٦۵۴۳۲۱" (keypress)="NumberValid($event)"
                  specialCharRemover
                  formControlName="transLangtelephone">
              </div>
              <span *ngIf="translangtelephoneError">
                <p class="inputError animated fadeIn"
                  *ngIf="personalInfoForm.controls['transLangtelephone'].hasError('required') && (personalInfoForm.controls.transLangtelephone.dirty || personalInfoForm.controls.transLangtelephone.touched)">
                  {{requiredFieldsOthrLng}}</p>
                <p class="inputError animated fadeIn"
                  *ngIf="!personalInfoForm.controls['transLangtelephone'].hasError('pattern') && personalInfoForm.controls['transLangtelephone'].hasError('minlength') && (personalInfoForm.controls.transLangtelephone.dirty || personalInfoForm.controls.transLangtelephone.touched)">
                  يجب
                  أن يكون رقم الهاتف المحمول 7 أرقام كحد أدنى</p>
                <p class="inputError animated fadeIn"
                  *ngIf="!personalInfoForm.controls['transLangtelephone'].hasError('pattern') && personalInfoForm.controls['transLangtelephone'].hasError('maxlength') && (personalInfoForm.controls.transLangtelephone.dirty || personalInfoForm.controls.transLangtelephone.touched)">
                  يجب
                  ألا يتجاوز رقم الهاتف المحمول 13 رقمًا</p>
                <p class="inputError animated fadeIn"
                  *ngIf="personalInfoForm.controls['transLangtelephone'].hasError('pattern') && (personalInfoForm.controls.transLangtelephone.dirty || personalInfoForm.controls.transLangtelephone.touched)">
                  يرجى
                  إدخال معلومات صحيحة</p>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="address">Email Address</label>
            <input type="email" autocomplete="nope" (focusout)="errorValidate()"
              (focus)="transEmailError=false; EmailError=false" [(ngModel)]="transLangEmail" [ngClass]="{
                            'inputError': EmailError && personalInfoForm.controls['email'].errors 
                          }" (keypress)="spaceHandler($event)" class="form-control" placeholder="eg: john@company.com"
              formControlName="email" name="email" [attr.disabled]="hasEmailSet ? '' : null">
            <span *ngIf="EmailError && personalInfoForm.controls['email'].errors">
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['email'].hasError('required') && (personalInfoForm.controls.email.dirty || personalInfoForm.controls.email.touched)">
                {{requiredFields}}</p>
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['email'].hasError('pattern') && (personalInfoForm.controls.email.dirty || personalInfoForm.controls.email.touched)">
                Please
                enter valid information</p>
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['email'].hasError('maxlength') && (personalInfoForm.controls.email.dirty || personalInfoForm.controls.email.touched)">
                Email
                should not exceed from 320 characters</p>
            </span>
          </div>
          <div class="row">
            <div class="col-12 info sub-title d-flex align-items-center"><img class="icon-size-16 mr-2"
                src="../../../../../assets/images/icons/icon_info.svg" alt="info" />This email will be used to login
            </div>
          </div>
        </div>
        <div class="col-12" *ngIf="showTranslatedLangSide">
          <div class="form-group dir-otherLanguage">
            <label for="address">عنوان بريد الكتروني</label>
            <input type="email" class="form-control" placeholder="eg: john@company.com" (focusout)="errorValidate()"
              (focus)="transEmailError=false; EmailError=false" [ngClass]="{
                            'inputError': transEmailError && personalInfoForm.controls['transLangEmail'].errors
                          }" (keypress)="spaceHandler($event)" [(ngModel)]="transLangEmail"
              formControlName="transLangEmail" name="transLangEmail">
            <span *ngIf="transEmailError && personalInfoForm.controls['transLangEmail'].errors">
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['transLangEmail'].hasError('required') && (personalInfoForm.controls.transLangEmail.dirty || personalInfoForm.controls.transLangEmail.touched)">
                {{requiredFieldsOthrLng}}</p>
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['transLangEmail'].hasError('pattern') && (personalInfoForm.controls.transLangEmail.dirty || personalInfoForm.controls.transLangEmail.touched)">
                يرجى
                إدخال معلومات صحيحة</p>
              <p class="inputError animated fadeIn"
                *ngIf="personalInfoForm.controls['transLangEmail'].hasError('maxlength') && (personalInfoForm.controls.transLangEmail.dirty || personalInfoForm.controls.transLangEmail.touched)">
                يجب
                ألا يتجاوز البريد الإلكتروني 320 حرفًا</p>
            </span>
          </div>
          <div class="row">
            <div class="col-12 text-right info-arb dir-otherLanguage d-flex align-items-center"
              *ngIf="showTranslatedLangSide"><img class="icon-size-16 ml-2"
                src="../../../../../assets/images/icons/icon_info.svg" alt="info" />سيتم استخدام
              هذا بمثابة بيانات تسجيل
              الدخول الخاصة بك</div>
          </div>
        </div>
      </div>
    </form>
    <div class="row mt-5">
      <div class="col-12">
        <div class="switch-box">
          <ui-switch size="small" [checked]="term" (change)="term = !term"></ui-switch>
          <!--<span>I agree to the</span>
           <a href="https://www.hashmove.com/terms-of-use.html" target="_blank">
            Terms and Conditions
          </a> -->
          <div>I agree to the <a href="https://www.hashmove.com/terms-of-use.html" target="_blank">Terms and
              Conditions</a>, <a href="https://www.hashmove.com/privacy-policy.html" target="_blank">Privacy
              Policy</a> and <a href="https://hashmove.com/software-license.html">Software License Agreement</a></div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary btn-register hvr-sweep-to-right pull-right pt-2 pr-5 pl-5 pb-2" type="submit"
          (click)="registration()" [disabled]="businessForm.invalid || personalInfoForm.invalid || !term">
          <span>Proceed</span>
          <span class="dir-otherLanguage" *ngIf="showTranslatedLangSide"> / تسجيل</span>
        </button>
      </div>
    </div>
  </section>
</section>