@import "../../../../../../assets/scss/_variables";
.passwordPage {
	.PasswordHintText {
		top: 1.2rem;
		display: block;
		background: $white-color;
		color: #000;
		padding: 20px;
		margin: 0;
		width: 100%;
		position: relative;
		transition: 0.2s;
		border-radius: 0.5rem;
		filter: drop-shadow(0px -2px 1px #ddd);
		margin-top: -1.25rem;
		border: solid 1px #ddd;

		&::before {
			position: absolute;
			top: -20px;
			left: 2%;
			content: "";
			border-top: 10px solid transparent;
			border-bottom: 10px solid $white-color;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			filter: drop-shadow(0px -2px 1px #ddd);
		}

		p {
			padding: 5px 0px;
			font-size: 0.75rem;
			margin: 0;
			color: #b4b8bd;
			font-family: $font-proxima;
		}
		/* Add a green text color and a checkmark when the requirements are right */
		.valid-text {
			color: $secondary-color !important;
			padding-left: 8px;
		}
		/* Add a red text color and an "x" when the requirements are wrong */
		.invalid-text {
			color: $secondary-grey;
			padding-left: 10px;
		}
		.fa {
			margin-right: 10px;
		}
	}
	.protectedIcon {
		img {
			width: 350px;
		}
	}
	.password-form {
		.form-group {
			label {
				span:nth-child(2) {
					font-family: $font-NeoSansArabic-Regular;
				}
			}
			.confirmPassword {
				position: relative;
				i {
					position: absolute;
					right: 15px;
					top: 15px;
					&.black {
						color: $text-color-default;
					}
					&.grey {
						color: $text-grey;
					}
				}
			}
		}
		.btn {
			padding: 1.45rem 0rem;
			line-height: 0;
			margin-top: 5px;
			span:nth-child(2) {
				font-family: $font-NeoSansArabic-Regular;
			}
		}
	}
}
