<div class="passwordPage" *ngIf="userInfo && userInfo?.firstName; else otherTemp">
  <div class="row">
    <div class="col-12 mt-2 text-center protectedIcon mb-4">
      <img src="../../../../../assets/images/icons/protected_pass_icon.svg" alt='protected' />
    </div>
    <div class="col" [ngClass]="(showTranslatedLangSide)? 'creatpass-arb' : 'creatpass-eng'">
      <span _ngcontent-c11="" class="text-left">
        <h3>{{firstName}},</h3>
        <h3 style="text-transform: initial !important;">Step 2 of 3 - Create Your New Password</h3>
      </span>
      <!-- <p class="sub-title" innerHTML="{{descBaseLanguage}}"></p> -->
    </div>
    <div class="col dir-otherLanguage" *ngIf="showTranslatedLangSide"
      [ngClass]="{'arabic-class': showTranslatedLangSide}">
      <span class="text-right dir-otherLanguage" innerHTML="{{headingOtherLanguage}}"></span>
      <!-- <p class="sub-title text-right" innerHTML="{{descOtherLanguage}}"></p> -->
    </div>
  </div>

  <hr class="hr-solid">

  <div class="row justify-content-center mt-5">
    <div class="col-lg-6 col-md-6 col-sm-8 password-form">
      <form autocomplete="off" novalidate [formGroup]="passForm" (ngSubmit)="passwordSubmit(passForm.value)">
        <div class="form-group">
          <label for="password">
            <span>{{lblEmailBaselang}}</span>
            <span *ngIf="showTranslatedLangSide"> / {{lblEmailOtherlang}}</span>
          </label>
          <input type="text" class="form-control" placeholder="Email" readonly formControlName="email">
        </div>
        <div class="form-group">
          <label for="password">
            <span>{{lblPasswordBaselang}}</span>
            <span *ngIf="showTranslatedLangSide"> / {{lblPasswordOtherlang}}</span>
          </label>
          <div class="confirmPassword">
            <i class="fa fa-eye pointer" aria-hidden="true" [ngClass]="colorEye" (click)=confirmPassword($event)></i>
            <input type="password" class="form-control password"
              [ngClass]="{'inputError': passwordError && passForm.controls['password'].errors}"
              autocomplete="new-password" (focusout)="validate()" (focus)="passwordError=false"
              (keypress)="passSpaceHandler($event)" placeholder="Enter Password" [(ngModel)]="newPass"
              (focus)="showPassValidator = true" (focusout)="showPassValidator = false"
              (ngModelChange)="onNewPassChange($event)" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="d-flex flex-column">
            <ng-container *ngIf="(showPassValidator)">
              <div id="PasswordHintMessage" class="PasswordHintText">
                <div class="d-flex align-items-baseline">
                  <img class="icon-size-14"
                    src="../../../../../assets/images/icons/{{ newPasswordStatus?.lengthValid?'icon_success_blue.svg':'icon_info.svg'}}" />
                  <p class="d-flex flex row align-items-center animated fadeIn mt-0"
                    [ngClass]="newPasswordStatus?.lengthValid?'valid-text':'invalid-text'">
                    Password must be atleast 8 characters
                  </p>
                </div>
                <div class="d-flex align-items-baseline">
                  <img class="icon-size-14"
                    src="../../../../../assets/images/icons/{{ newPasswordStatus?.upperCaseValid?'icon_success_blue.svg':'icon_info.svg'}}" />
                  <p class="d-flex flex row align-items-center animated fadeIn mt-0"
                    [ngClass]="newPasswordStatus?.upperCaseValid?'valid-text':'invalid-text'">
                    Password must contain atleast 1 uppercase character
                  </p>
                </div>
                <div class="d-flex align-items-baseline">
                  <img class="icon-size-14"
                    src="../../../../../assets/images/icons/{{ newPasswordStatus?.lowerCaseValid?'icon_success_blue.svg':'icon_info.svg'}}" />
                  <p class="d-flex flex row align-items-center animated fadeIn mt-0"
                    [ngClass]="newPasswordStatus?.lowerCaseValid?'valid-text':'invalid-text'">
                    Password must contain atleast 1 lowercase character
                  </p>
                </div>
                <div class="d-flex align-items-baseline">
                  <img class="icon-size-14"
                    src="../../../../../assets/images/icons/{{ newPasswordStatus?.digitValid?'icon_success_blue.svg':'icon_info.svg'}}" />
                  <p class="d-flex flex row align-items-center animated fadeIn mt-0"
                    [ngClass]="newPasswordStatus?.digitValid?'valid-text':'invalid-text'">
                    Password must contain atleast 1 numeric (0-9) character
                  </p>
                </div>
                <div class="d-flex align-items-baseline">
                  <img class="icon-size-14"
                    src="../../../../../assets/images/icons/{{ newPasswordStatus?.specialCharValid?'icon_success_blue.svg':'icon_info.svg'}}" />
                  <p class="d-flex flex row align-items-center animated fadeIn mt-0"
                    [ngClass]="newPasswordStatus?.specialCharValid?'valid-text':'invalid-text'">
                    Password must contain atleast special character
                  </p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <button class="btn btn-primary hvr-sweep-to-right form-control mt-3" type="submit"
          [disabled]='passForm.invalid'>
          <span>{{btnBaselang}}</span><span *ngIf="showTranslatedLangSide"> / {{btnOtherlang}}</span></button>
      </form>
    </div>
  </div>
</div>
<ng-template #otherTemp>
  <div class="card">
    <P class="text-center">User not found</P>
  </div>
</ng-template>