<section class="Allfreights">
  <div class="row animated fadeIn" *ngIf="expNotifications?.GroundRateExpiredCount > 0">
    <div class="col-12">
      <div class="alert alert-warning" role="alert">
        <span class="alert-icon mr-2">
          <img class="icon-size-20 mt-2" src="../../../../../../assets/images/icons/icon-info-w.svg" alt="">
        </span>
        <div class="alert-text">
          {{expNotifications?.GroundRateExpiredCount}} out of
          {{expNotifications?.GroundRateCount}} Ground rates are expiring within the next 7
          days.
          <a href="javascript:;" class="alert-btn alert-link" (click)="changeExpVisibility()"><span
              class="link-hover-grey">Click
              here to
              {{isExpirySectionOpenX?'close':'update'}} them</span></a>
        </div>
      </div>
    </div>
  </div>

  <section class="rates-grid rate-expiry-grid draft-grid no-data mb-5 animated fadeIn" *ngIf="isExpirySectionOpenX">
    <div class="row">
      <div class="col-9 text-left">
        <h5 class="add-rate-head mb-4">Rates Expiring Soon</h5>
      </div>
      <div class="col-3 text-right">
        <a href="javascript:;" ngbTooltip="Close Rate Expiry" (click)="changeExpVisibility()" [placement]="'top'"
          container="body" class="icon-close hvr-icon-pulse-shrink"><img class="hvr-icon icon-size-24 mt-2"
            src="../../../../../../assets/images/icons/icon-close-new.svg" alt=""></a>
      </div>
    </div>

    <div class="text-center mt-2">
      <button class="btn btn-outline-primary btn-lg hvr-sweep-to-right mr-2"> Extend all
        rates
        validity till next 30 days </button>
      <button class="btn btn-outline-primary btn-lg hvr-sweep-to-right mr-2"> Extend all
        rates
        validity till next 60 days </button>
      <button class="btn btn-outline-primary btn-lg hvr-sweep-to-right mr-2"> Edit & Extend Validity </button>
    </div>

    <app-ui-table *ngIf="expiredRateList?.length > 0" [tableType]="'publishFCL'" [tableData]="expiredRateList"
      [isCheckedLocked]="true" (sorting)="sortedFiltersExp($event)" (pageEvent)="expPaging('air' ,$event, 'publish')"
      [totalRecords]="totalPublishedRecordsExp" [containerLoad]="'LCL'" [transMode]="'AIR'" [incomingPage]="pageNoExp">
    </app-ui-table>

    <div class="text-center mt-4">
      <button class="btn btn-outline-primary btn-lg hvr-sweep-to-right mr-2"> Extend all
        rates
        validity till next 30 days </button>
      <button class="btn btn-outline-primary btn-lg hvr-sweep-to-right mr-2"> Extend all
        rates
        validity till next 60 days </button>
      <button class="btn btn-outline-primary btn-lg hvr-sweep-to-right mr-2"> Edit & Extend Validity </button>
    </div>
  </section>
  <section class="manage-rate-card mb-5">
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-12">
        <div class="card pointer" (click)="addRatesBygroundManually()">
          <img class="card-icon" src="../../../../../assets/images/icons/add-edit-icon.svg" alt="*" />
          <div class="card-body">
            <h5 class="card-title">Add Your Rates Manually </h5>
            <p class="sub-title">Use our tool to add your rates manually</p>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-12">
        <div class="routing text-center">
          <strong>
            <span>OR</span>
          </strong>
        </div>
      </div>
      <!-- <div class="col-xl-5 col-lg-5 col-md-12" style="filter: grayscale(1);"> -->
      <div class="col-xl-5 col-lg-5 col-md-12" style="display:flex;flex-direction: column">
        <app-ng-files-drag-n-upload (filesSelect)="selectDocx($event, 'logo')" [configId]="'config'">
          <div class="card pointer" ngbTooltip="{{(!selectedService?.LogServCode)?'coming soon':''}}">
            <img class="card-icon" src="../../../../../assets/images/icons/download-solid-1.svg" alt="*" />
            <div class="card-body">
              <h5 class="card-title">
                <span>Upload Your Rates</span>
                <img
                  ngbTooltip="Acceptable File Formats: .pdf, .xls, .xlsx, .doc, .docx, .txt (Maximum File Size: 10MB)"
                  class="icon-size-20 mb-1" src="../../../../../../assets/images/icons/icon_info.svg" alt="">
              </h5>
              <p class="sub-title">It will be published in 2-3 business days.</p>
              <!-- <p class="sub-title">Acceptable File Formats: .pdf, .xls, .xlsx, .doc, .docx, .txt (Maximum File Size: 10MB)</p> -->
            </div>
          </div>
        </app-ng-files-drag-n-upload>
        <div style="display: flex;justify-content:space-between">
          <a class="hvr-icon-back grey-anc-btn mt-3" href="javascript:;" title="View Upload History"
            style="align-self: flex-start;" (click)="downloadDoc(ftlTemplateUrl)">
            <img src="../../../../../assets/images/icons/icon-excel.svg" alt="icon"
              class="icon-size-18 hvr-icon mb-1 mr-1">
            <span class="action-span-size link-hover-grey">Download Template</span>
          </a>
          <a class="hvr-icon-back grey-anc-btn mt-3" href="javascript:;" title="View Upload History"
            style="align-self: flex-end;" (click)="openUploadHistory()">
            <img src="../../../../../assets/images/icons/Icons_Calendar-Secondary.svg" alt="icon"
              class="icon-size-18 hvr-icon mb-1 mr-1">
            <span class="action-span-size link-hover-grey">View Upload History</span>
            <img src="../../../../../assets/images/icons/icon_arrow_right.svg" alt="icon" class="icon-size-14 hvr-icon">
          </a>
        </div>

        <!-- <div class="card pointer" ngbTooltip="Coming soon">
            <img class="card-icon" src="../../../../../assets/images/icons/download-solid-1.svg" alt="*" />
            <div class="card-body">
              <h5 class="card-title">Upload Your Rates</h5>
              <p class="sub-title">Upload your rate sheet, it will be published in 2-3 business days.</p>
            </div>
          </div> -->
      </div>
    </div>
  </section>
  <ngb-tabset activeId="activeFTL" (tabChange)="activeTab = $event.nextId; onTabChange(activeTab)">
    <ngb-tab [disabled]="true">
      <ng-template ngbTabTitle> <span *ngIf="false">Unpublished Rates</span> </ng-template>
    </ngb-tab>
    <ngb-tab id="activeFCL" [disabled]="true" *ngIf="false">
      <ng-template ngbTabTitle>
        <span ngbTooltip="coming soon">
          <svg data-name="Layer 1" id="ee0cf102-a966-4a3f-95ef-2d85d2845fce" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <g data-name="box" id="77a57afb-dc84-48f7-bcef-1ea8af6a0a74">
              <path class="container-svg 324b713b-d0fb-4a53-8548-411c4a22720a"
                d="M12,2.236l10,5v9.528l-10,5-10-5V7.236l10-5M12,0,0,6V18l12,6,12-6V6L12,0Z" data-name="<Compound Path>"
                id="b7ad858c-ef80-4b01-8e89-887b6e7eba38"></path>
              <polygon class="container-svg 324b713b-d0fb-4a53-8548-411c4a22720a" data-name="<Path>"
                id="3d2841e7-73c0-49f4-a43e-30e1679abe1b"
                points="12 12.504 0.5 7.316 1.334 5.496 12 10.307 22.666 5.496 23.5 7.316 12 12.504"></polygon>
              <rect class="container-svg 324b713b-d0fb-4a53-8548-411c4a22720a" data-name="<Path>" height="12"
                id="221b7dca-da17-44bc-bf0a-eaf6705915cb" width="2" x="11" y="11"></rect>
            </g>
          </svg>
          LTL
        </span>
      </ng-template>
      <!-- <ng-template ngbTabContent>
        <section
          [ngClass]="{'no-data': !draftslist.length, 'no-scroll-add' : draftslist.length, 'no-pagination': draftslist.length <= dtOptionsByGroundDraft.pageLength}"
          class="rates-grid draft-grid draft-Ground">
          <app-ui-table *ngIf="draftslist.length" [tableType]="'draftFCL'" [tableData]="draftslist"
            (checkedRows)="tableCheckedRows($event)" [containerLoad]="'FCL'" [transMode]="'GROUND'"></app-ui-table>
          <a href="javascript:;" class="addAnother animated fadeIn" (click)="addAnotherRates()" >Add
            another rate</a>
        </section>
        <div class="row mt-4">
          <div class="col-12 text-right actions">
            <button class="discard-draft w-auto p-0 border-0 bg-transparent text-uppercase"
              [disabled]="!draftslist || (draftslist && !draftslist.length)" (click)="discardDraft()">Discard Draft
            </button>
            <button class="btn btn-outline-primary btn-lg hvr-sweep-to-right mr-2">Save Draft</button>
            <button class="btn btn-primary btn-lg hvr-sweep-to-right" [disabled]="!publishRates.length"
              (click)="publishRate('fcl')">Publish
              Rates
            </button>
          </div>
        </div>
      </ng-template> -->
    </ngb-tab>
    <ngb-tab id="activeFTL">
      <ng-template ngbTabTitle>
        <span>
          <svg id="f7905435-1486-49b3-baf9-4dca76d453f9" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24">
            <title>Icons</title>
            <g id="d1bd0fc5-aee7-4161-bcfc-9917552a4e20" data-name="truck">
              <path id="3b886d42-d469-4fa8-a176-d1a6f9535320" data-name="&lt;Path&gt;"
                class="a2024788-efba-4438-b0be-f26b285b4fd6"
                d="M21.5,14h-2c0-4-2.5-6.5-6.5-6.5v-2A8.138,8.138,0,0,1,21.5,14Z" />
              <g id="dece99b0-ccfe-46cd-9e08-09c04af070eb" data-name="&lt;Group&gt;">
                <path id="1e109160-3fc6-427d-a960-9408ecfded4d" data-name="&lt;Compound Path&gt;"
                  class="a2024788-efba-4438-b0be-f26b285b4fd6"
                  d="M6,16a3.5,3.5,0,1,0,3.5,3.5A3.5,3.5,0,0,0,6,16Zm0,5.25A1.75,1.75,0,1,1,7.75,19.5,1.75,1.75,0,0,1,6,21.25Z" />
              </g>
              <g id="0a8baa5b-ca15-44f3-b7a0-e022331802c0" data-name="&lt;Group&gt;">
                <g id="c0230789-57cf-47bc-a80f-830d7c300074" data-name="&lt;Group&gt;">
                  <path id="b3ca8f69-77be-4bef-880a-c916143eb129" data-name="&lt;Path&gt;"
                    class="a2024788-efba-4438-b0be-f26b285b4fd6"
                    d="M14,3H3.24A3.24,3.24,0,0,0,0,6.24V19H4.331a1.739,1.739,0,0,1,3.337,0H14Z" />
                </g>
              </g>
              <g id="e2c8b36e-a3d6-4f64-aece-7314231b6800" data-name="&lt;Group&gt;">
                <path id="ab7af316-2d2b-4ee2-8291-e72c5310f1ec" data-name="&lt;Compound Path&gt;"
                  class="a2024788-efba-4438-b0be-f26b285b4fd6"
                  d="M18,16a3.5,3.5,0,1,0,3.5,3.5A3.5,3.5,0,0,0,18,16Zm0,5.25a1.75,1.75,0,1,1,1.75-1.75A1.75,1.75,0,0,1,18,21.25Z" />
              </g>
              <g id="589008c7-8e5d-4302-9187-3d291cab846d" data-name="&lt;Group&gt;">
                <path id="08fec5ba-4e9f-4b7f-b673-94d24fdb6a92" data-name="&lt;Compound Path&gt;"
                  class="a2024788-efba-4438-b0be-f26b285b4fd6"
                  d="M22,14v3H20.793a3.746,3.746,0,0,0-5.587,0H13.735l-.429-3H22m2-2H11l1,7h4.331a1.739,1.739,0,0,1,3.337,0H24V12Z" />
              </g>
            </g>
          </svg>
          FTL
        </span>
      </ng-template>
      <ng-template ngbTabContent>
        <section class="rates-grid draft-grid draft-GroundFTL">
          <h5 *ngIf="draftslistFTL?.length > 0" class="add-rate-head text-uppercase"><span>Unpublished Rates</span></h5>
          <!-- <table id="draftRateTableFTL" cellspacing="0" #draftBYGroundFTL class="row-border hover"></table> -->
          <app-ui-table *ngIf="draftslistFTL?.length > 0" [tableType]="'draftFCL'" [tableData]="draftslistFTL"
            (checkedRows)="tableCheckedRows($event)" [containerLoad]="'FTL'" [transMode]="'GROUND'"
            (pageEvent)="paging('ftl', $event, 'draft')" [incomingPage]="draftPageNo"></app-ui-table>
          <!-- <button (click)="addAnotherRates()" *ngIf="draftslistFTL?.length > 0"
            class="btn btn-outline-primary btn-lg hvr-sweep-to-right mr-2"> Click to add new rate </button> -->
          <a href="javascript:;" *ngIf="draftslistFTL.length" [ngClass]="draftslistFTL.length > 5 ? 'withScroll' : ''"
            class="addAnother animated fadeIn" (click)="addAnotherRates()">
            <img src="../../../../../../assets/images/icons/icon_add.svg" width="16px" alt="">
            Add another rate</a>
          <app-loader-main *ngIf="draftloading"></app-loader-main>
        </section>
        <div class="row mt-4" *ngIf="draftslistFTL.length">
          <div class="col-12 text-right actions">
            <button class="discard-draft w-auto p-0 border-0 bg-transparent text-uppercase"
              [disabled]="!draftslistFTL || (draftslistFTL && !draftslistFTL.length)" (click)="discardDraft()">Discard
              Draft
            </button>
            <!-- <button class="btn btn-outline-primary btn-lg hvr-sweep-to-right mr-2">Save Draft</button> -->
            <button class="btn btn-primary btn-lg hvr-sweep-to-right" [disabled]="!publishRates.length"
              (click)="publishRate('ftl')">Publish
              Rates
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <hr class="hr-solid mt-4">
  <h5 class="add-rate-head mb-4 mt-4">Your Rates</h5>
  <section class="rates-filter">
    <ngb-accordion>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>
            <img src="../../../../../../../assets/images/icons/filter-icon.svg" alt="Filter"
              class="icon-size-16 mr-2 filter-icon">Filter
            your results
            <img src="../../../../../../../assets/images/icons/icon_arrow_right.svg" alt="direction"
              class="icon-size-16 acc-icon">
          </span>
          <span class="clear-filter" (click)="clearFilter($event)">
            <svg id="969970e9-5f21-4072-86a7-6672decd15e6" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16">
              <g id="0d761291-d7c4-42bf-9433-98aad825bfb6" data-name="add">
                <g id="bede06dd-acf7-4be6-a923-734e194ecf5e" data-name="sucess">
                  <path class="c06d2a3e-2056-48b9-8ea4-a92f4739f949"
                    d="M8,2A6,6,0,1,1,2,8,6.007,6.007,0,0,1,8,2M8,0a8,8,0,1,0,8,8A8,8,0,0,0,8,0Z" />
                </g>
                <polygon class="c06d2a3e-2056-48b9-8ea4-a92f4739f949"
                  points="11 7 9 7 9 5 7 5 7 7 5 7 5 9 7 9 7 11 9 11 9 9 11 9 11 7" />
              </g>
            </svg>
            Reset Filter(s)</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row" [@fadeInOut]>
            <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12">
              <div class="form-group">
                <label>Origin</label>
                <div class="row combine-field">
                  <div class="col-3 origin pl-0">
                    <select class="form-control" [(ngModel)]="selectedOrigin" (change)="onPortChange('origin')">
                      <option *ngFor="let transport of transportType" [value]="transport">
                        {{transport}}</option>
                    </select>
                  </div>
                  <div class="col-9 destination pl-0">
                    <ng-container>
                      <div class="flag-container">
                        <img *ngIf="filterOrigin && filterOrigin.imageName"
                          src="{{'../../../../../assets/images/flags/4x3/' + (filterOrigin.imageName | lowercase) + '.svg'}}"
                          type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                      </div>
                      <input #myInputOrigin (click)="myInputOrigin.select()"
                        *ngIf="selectedOrigin?.toLowerCase() === 'all'" class="form-control" [(ngModel)]="filterOrigin"
                        (focusout)="filtertionPort(filterOrigin)" (ngModelChange)="filterByroute(filterOrigin)"
                        placeholder="Origin" type="text"
                        [ngClass]="{'routeSelected': filterOrigin && filterOrigin.imageName}"
                        [ngbTypeahead]="searchCity" [resultTemplate]="rt" [inputFormatter]="formatterCity"
                        container="body" ngbTooltip="{{(filterOrigin?.title)?filterOrigin?.title:''}}" />

                      <input #myInputOrigin (click)="myInputOrigin.select()"
                        *ngIf="selectedOrigin?.toLowerCase() === 'sea' || selectedOrigin?.toLowerCase() === 'door'"
                        class="form-control" [(ngModel)]="filterOrigin" (focusout)="filtertionPort(filterOrigin)"
                        (ngModelChange)="filterByroute(filterOrigin)" placeholder="Origin" type="text"
                        [ngClass]="{'routeSelected': filterOrigin && filterOrigin.imageName}"
                        [ngbTypeahead]="portsSearchOrigin" [resultTemplate]="rt" [inputFormatter]="formatterCity"
                        container="body" ngbTooltip="{{(filterOrigin?.title)?filterOrigin?.title:''}}" />

                      <input #myInputOrigin (click)="myInputOrigin.select()"
                        *ngIf="selectedOrigin?.toLowerCase() === 'city'" class="form-control" [(ngModel)]="filterOrigin"
                        (focusout)="filtertionPort(filterOrigin)" (ngModelChange)="filterByroute(filterOrigin)"
                        placeholder="Origin" type="text"
                        [ngClass]="{'routeSelected': filterOrigin && filterOrigin.imageName}"
                        [ngbTypeahead]="searchCity" [resultTemplate]="rt" [inputFormatter]="formatterCity"
                        container="body" ngbTooltip="{{(filterOrigin?.title)?filterOrigin?.title:''}}" />
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12">
              <div class="form-group">
                <label>Destination</label>
                <div class="row combine-field">
                  <select class="col-3 origin form-control" [(ngModel)]="selectedDestin"
                    (change)="onPortChange('destin')">
                    <option *ngFor="let transport of transportType" [value]="transport">
                      {{transport}}</option>
                  </select>
                  <div class="col-9 destination pl-0">
                    <ng-container>

                      <div class="flag-container">
                        <img *ngIf="filterDestination && filterDestination?.imageName"
                          src="{{'../../../../../assets/images/flags/4x3/' + (filterDestination?.imageName | lowercase) + '.svg'}}"
                          type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                      </div>

                      <input #myInputDestin (click)="myInputDestin.select()"
                        *ngIf="selectedDestin?.toLowerCase() === 'all'" placeholder="Destination"
                        [(ngModel)]="filterDestination" (focusout)="filtertionPort(filterDestination)"
                        (ngModelChange)="filterByroute(filterDestination)" type="text" class="form-control"
                        [ngClass]="{'routeSelected': filterDestination && filterDestination?.imageName}"
                        [ngbTypeahead]="searchCity" [resultTemplate]="rt" [inputFormatter]="formatterCity"
                        container="body" ngbTooltip="{{(filterDestination?.title)?filterDestination?.title:''}}" />

                      <input #myInputDestin (click)="myInputDestin.select()"
                        *ngIf="selectedDestin?.toLowerCase() === 'sea' || selectedDestin?.toLowerCase() === 'door'"
                        placeholder="Destination" [(ngModel)]="filterDestination"
                        (focusout)="filtertionPort(filterDestination)"
                        (ngModelChange)="filterByroute(filterDestination)" type="text" class="form-control"
                        [ngClass]="{'routeSelected': filterDestination && filterDestination?.imageName}"
                        [ngbTypeahead]="portsSearchDestin" [resultTemplate]="rt" [inputFormatter]="formatterCity"
                        container="body" ngbTooltip="{{(filterDestination?.title)?filterDestination?.title:''}}" />

                      <input #myInputDestin (click)="myInputDestin.select()"
                        *ngIf="selectedDestin?.toLowerCase() === 'city'" placeholder="Destination"
                        [(ngModel)]="filterDestination" (focusout)="filtertionPort(filterDestination)"
                        (ngModelChange)="filterByroute(filterDestination)" type="text" class="form-control"
                        [ngClass]="{'routeSelected': filterDestination && filterDestination?.imageName}"
                        [ngbTypeahead]="searchCity" [resultTemplate]="rt" [inputFormatter]="formatterCity"
                        container="body" ngbTooltip="{{(filterDestination?.title)?filterDestination?.title:''}}" />
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #rt let-r="result" container="body">
              <div class="d-flex">
                <div class="flag-container mr-1">
                  <!-- <img *ngIf="r.type === 'CITY'" src="../../../../../../assets/images/icons/Icons_Location.svg" type="image/svg+xml"
                    class="mw-100 w-auto h-auto mh-100"> -->
                  <img *ngIf="r?.imageName"
                    src="{{'../../../../../assets/images/flags/4x3/' + (r?.imageName | lowercase) + '.svg'}}"
                    class="mw-100 w-auto h-auto mh-100">
                </div>
                <ngb-highlight [result]="r.title"></ngb-highlight>
              </div>
            </ng-template>
            <div class="col-xl-6 col-lg-4 col-md-12 col-sm-12 col-12">
              <div class="form-group">
                <label>Traller / Container</label>
                <select class="form-control" [(ngModel)]="filterbyContainerType"
                  (change)="filterContainerChange(filterbyContainerType)">
                  <option [value]="'all'">All</option>
                  <option *ngFor="let container of allContainersType" [value]="container.ContainerSpecID">
                    {{container.ContainerWithSize}}</option>
                </select>
              </div>
            </div>
            <!-- <div class="col-2">
              <div class="form-group">
                <label>Mode</label>
                <select class="form-control" [(ngModel)]="filterbyMode" (change)="filter()">
                  <option [value]="undefined">All</option>
                  <option [value]="'GROUND'">FCL</option>
                  <option [value]="'TRUCK'">FTL</option>
                </select>
              </div>
            </div> -->
            <div class="col-xl-6 col-lg-4 col-md-12 col-sm-12 col-12">
              <div class="form-group date-control">
                <label>Rate Validity</label>
                <div class="dateIcon">
                  <input autocomplete="off" #rangeDp class="form-control" placeholder="Start Date - End Date" name="dp"
                    [(ngModel)]="model" ngbDatepicker [dayTemplate]="t" [autoClose]="false" placement="bottom-right"
                    [outsideDays]="true" [navigation]="false" [displayMonths]="displayMonths" [maxDate]="maxDate"
                    [minDate]="minDate" #dp="ngbDatepicker" (click)="dp.toggle()" (ngModelChange)="filterBydate(model)">
                </div>
                <ng-template #t let-date="date" let-focused="focused">
                  <span class="custom-day"
                    [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                    [class.faded]="isHovered(date) || isInside(date)" (click)="onDateSelection(date)"
                    (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
              </div>
            </div>
            <div class="col-12 form-group">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                  <div class="fancyOptionBoxes pull-left filter-checkbox mr-0 pt-1" style="display: flex;">
                    <!-- <input id="isExpiredRates" name="isExpiredRates" type="checkbox"
                          (change)="isExpiredRates = !isExpiredRates;" [checked]="isExpiredRates"> -->
                    <div class="switch-box">
                      <label>Expired Rates</label>
                      <ui-switch class="mt-2" (change)="isExpiredRates = !isExpiredRates " [checked]="isExpiredRates">
                      </ui-switch>
                    </div>

                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                  <div class="fancyOptionBoxes pull-left filter-checkbox pt-1" style="display: flex;">
                    <!-- <input id="isValidRates" name="isValidRates" type="checkbox"
                          (change)="isValidRates = !isValidRates" [checked]="isValidRates"> -->

                    <div class="switch-box">
                      <label>Valid Rates</label>
                      <ui-switch class="mt-2" (change)="isValidRates = !isValidRates " [checked]="isValidRates">
                      </ui-switch>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 form-group">
              <label>Show Rates For </label>
              <div class="fancyOptionBoxes pull-left  filter-checkbox mr-3 pt-0" style="display: flex;">
                <!-- <input id="Radios" name="Radios" type="checkbox" [checked]="isMarketplace"
                        (change)="isMarketplace = !isMarketplace; isCustomer = false">
                      <div class="switch-box" style="margin-top: 0.4rem;"> -->
                <div class="switch-box lbl-marketplace">
                  <label>Marketplace</label>
                  <ui-switch (change)="isMarketplace = !isMarketplace; isCustomer = false" [checked]="isMarketplace">
                  </ui-switch>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 form-group pt-4">
              <div class="fancyOptionBoxes pull-left  filter-checkbox  pt-3" style="display: flex;">
                <!-- <input id="Radios2" name="Radios" type="checkbox" [checked]="isCustomer"
                      (change)="isCustomer = !isCustomer; isMarketplace = false"> -->
                <div class="switch-box lbl-marketplace">
                  <label for="Radios2">My Customers</label>
                  <ui-switch (change)="isCustomer = !isCustomer; isMarketplace = false " [checked]="isCustomer">
                  </ui-switch>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12" *ngIf="isCustomer">
              <div class="form-group">
                <label>Customer</label>
                <select class="form-control" [(ngModel)]="filterbyCustomer">
                  <option [value]="undefined">Please Select</option>
                  <option *ngFor="let customer of allCustomers" [value]="customer.CustomerID">
                    {{ customer.CustomerName }}</option>
                </select>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
              <div class="form-group shippingline">
                <label>Partner</label>
                <input type="text" class="form-control" placeholder="e.g: Partner Name" [ngbTypeahead]="_partners"
                  [resultTemplate]="partnerTmp" [inputFormatter]="formatter2">
                <ng-template #partnerTmp let-r="result">
                  <span>{{r.code}}, &nbsp;</span>
                  <ngb-highlight [result]="r.title"></ngb-highlight>
                </ng-template>
                <span class="badge badge-pill badge-primary hashmove-badge-active mt-3 mr-2"
                  *ngFor="let partner of partnerFilterList; let i = index">
                  {{partner?.code}}, {{partner?.title}}
                  <a href=" javascript:;" (click)="removePartner(partner)">
                    <i class="fa fa-times"></i>
                  </a>
                </span>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 mt-4 mb-4">
              <!-- <label for="">&nbsp;</label> -->
              <button class="btn btn-primary w-100 btn-lg" (click)="getAllPublishRates(1)">Filter
                Records</button>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>
  <section class="rates-grid mt-5 publishRateGround"
    [ngClass]="{'no-data': allRatesList && !allRatesList.length, 'no-scroll-add': allRatesList && allRatesList.length, 'no-pagination': allRatesList && allRatesList.length <= dtOptionsByGround.pageLength}">
    <div class="row mb-3 justify-content-end" *ngIf="allRatesList">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-start rate-dur">
        <img src="../../../../../../assets/images/icons/Icons_Clock-2hour.svg" alt="del_icon"
          class="icon-size-24 mr-2" />
        Rates will be published within 30-60 minutes
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6  rates-action-items">
        <a href="javascript:;" class="rate-validate mr-3" ngbTooltip="Edit" (click)="rateValidity()"
          [ngClass]="{ 'no-drop': !delPublishRates.length }">
          <!-- <img src="../../../../../../assets/images/icons/Icons_Calendar-Secondary.svg" alt="del_icon" class="icon-size-16" /> -->
          <svg class="edit-validity-icon icon-size-16 mr-2" id="17f5b310-5508-485b-8001-dbaf3458113b"
            data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <defs>
              <style>
                .be7dd154-90ee-45f6-a47e-11a6c4eceb87 {
                  fill: #02bdb6;
                }

                .dd12900e-6340-4a89-b921-0b1d5cffc735 {
                  fill: #fff;
                }
              </style>
            </defs>
            <g id="40ee8fd5-e28d-4347-b10e-66f9984b7564" data-name="calendar2">
              <path id="6d9cbed9-97a5-4544-9814-99b685f0d436" data-name="&lt;Compound Path&gt;"
                class="be7dd154-90ee-45f6-a47e-11a6c4eceb87"
                d="M15,2H3.8A2.8,2.8,0,0,0,1,4.8V16H12.2A2.8,2.8,0,0,0,15,13.2V2Z" />
              <path class="dd12900e-6340-4a89-b921-0b1d5cffc735"
                d="M4,4h9a0,0,0,0,1,0,0v6a0,0,0,0,1,0,0H3a0,0,0,0,1,0,0V5A1,1,0,0,1,4,4Z" />
              <rect id="7d4ed2c6-f916-40cf-acce-d794196da080" data-name="&lt;Path&gt;"
                class="be7dd154-90ee-45f6-a47e-11a6c4eceb87" x="5" width="2" height="5" />
              <rect id="a37c2eb5-9844-41fa-8d51-9b1b7c64de14" data-name="&lt;Path&gt;"
                class="be7dd154-90ee-45f6-a47e-11a6c4eceb87" x="9" width="2" height="5" />
            </g>
          </svg>
          {{rateValidityText}}
        </a>
        <a class="btn-refresh mr-3" ngbTooltip="Refresh Published Rates" href="javascript:void(0)"
          (click)="getAllPublishRates(1)">
          <i class="icon-svg">
            <svg class="icon-size-16 mr-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 473.677 473.677"
              style="enable-background:new 0 0 473.677 473.677;" xml:space="preserve">
              <path
                d="M473.677,236.842c0-130.814-106.036-236.838-236.835-236.838C106.036,0.004,0,106.032,0,236.842  c0,130.795,106.036,236.831,236.842,236.831C367.641,473.673,473.677,367.637,473.677,236.842z" />
              <g>
                <path style="fill:#fff;"
                  d="M414.449,297.547c-17.243-27.052-34.494-54.108-51.741-81.156c-2.909-4.57-9.218-4.458-12.12,0.045   c-17.374,26.966-34.756,53.936-52.133,80.902c-1.881,2.917-1.245,5.733,0.52,7.681c1.092,1.653,2.909,2.831,5.505,2.838   c9.151,0.022,18.301,0.045,27.448,0.067c-42.22,67.081-144.695,73.228-192.797,4.342c-15.407-22.06-51.86-0.995-36.293,21.304   c33.963,48.633,89.746,76.474,149.359,69.65c57.361-6.57,103.657-43.663,126.644-95.18c9.835,0.026,19.674,0.049,29.513,0.075   C413.537,308.126,417.366,302.12,414.449,297.547z" />
                <path style="fill:#fff;"
                  d="M370.457,138.899c-33.97-48.633-89.75-76.478-149.366-69.65   c-57.933,6.63-104.547,44.43-127.288,96.761c-12.232-0.03-24.476-0.06-36.708-0.09c-5.187-0.015-9.02,5.987-6.099,10.561   c17.243,27.052,34.49,54.108,51.733,81.16c2.913,4.566,9.218,4.454,12.124-0.045c17.374-26.97,34.759-53.936,52.133-80.902   c1.877-2.917,1.245-5.729-0.512-7.677c-1.092-1.653-2.909-2.835-5.508-2.842c-6.847-0.015-13.694-0.034-20.545-0.049   c41.599-68.55,145.267-75.322,193.744-5.92C349.572,182.259,386.029,161.194,370.457,138.899z" />
              </g>
            </svg>
          </i>
          Refresh
        </a>
        <a href="javascript:;" class="grid-delete" ngbTooltip="Delete" (click)="deletepublishRecord()"
          [ngClass]="{ 'no-drop': !delPublishRates.length }">
          <!-- <img src="../../../../../../assets/images/icons/icon_delete_red.svg" alt="del_icon" class="icon-size-16" /> -->
          <svg class="delete-icon icon-size-16 mr-2" id="317c8c47-17e2-4e96-9063-97bc9a32118b" data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <defs>
              <style>
                .a2933809-f108-463d-a7d6-9972aa735edc {
                  fill: #d32020;
                }
              </style>
            </defs>
            <g id="9ddd7984-9517-4e7f-881d-6292000e8e8a" data-name="delete">
              <rect class="a2933809-f108-463d-a7d6-9972aa735edc" y="2" width="16" height="2" />
              <rect class="a2933809-f108-463d-a7d6-9972aa735edc" x="5" width="6" height="2" />
              <path class="a2933809-f108-463d-a7d6-9972aa735edc"
                d="M2,5v9a2,2,0,0,0,2,2h8a2,2,0,0,0,2-2V5Zm5,9H5V7H7Zm4,0H9V7h2Z" />
            </g>
          </svg>
          Delete
        </a>
      </div>
    </div>
    <!-- <table id="publishRateTable" cellspacing="0" #publishByground class="row-border hover"></table> -->
    <app-ui-table *ngIf="allRatesList?.length > 0" [tableType]="'publishFCL'" [tableData]="allRatesList"
      (checkedRows)="tableCheckedRows($event)" (sorting)="sortedFilters('ftl', $event)"
      (pageEvent)="paging('ftl', $event, 'publish')" [totalRecords]="totalPublishedRecords"
      [containerLoad]="(activeTab === 'activeFCL' ? 'FCL' : 'FTL')" [transMode]="'GROUND'" [incomingPage]="pageNo">
    </app-ui-table>
    <div class="text-center" *ngIf="!allRatesList || allRatesList?.length == 0">No Records Found</div>
    <app-loader-main *ngIf="publishloading"></app-loader-main>
  </section>
  <section class="term-cond">
    <div class="row">
      <div class="col-12">
        <hr class="hr-solid mt-4">
        <div class="policyEditor mb-4 mt-4 d-flex justify-content-between align-items-center">
          <h5 class="add-rate-head">Terms & Conditions</h5>
          <button *ngIf="disable" class="btn btn-primary btn-lg hvr-sweep-to-right pull-right pr-5 pl-5"
            (click)="disable = !disable">
            EDIT
          </button>
        </div>
        <div class="form-group" *ngIf="!disable && disable != undefined">
          <quill-editor [(ngModel)]="editorContent" [options]="editorOptions" (blur)="onEditorBlured($event)"
            (focus)="onEditorFocused($event)" (ready)="onEditorCreated($event)" (change)="onContentChanged($event)">
          </quill-editor>
        </div>
        <div *ngIf="disable" class="editor" [innerHTML]="editorContent">
        </div>
        <button *ngIf="!disable" class="btn btn-primary btn-lg hvr-sweep-to-right pull-right pr-5 pl-5 mt-4"
          type="button" [disabled]="isEmpty(editorContent)" (click)="saveTermNcond()">
          SAVE
        </button>
      </div>
    </div>
  </section>
</section>