@import "../manage-rates.component.scss";


  .rates-grid {
  .rates-action-items {
    display: flex;
    justify-content: flex-end;
  }
}
.btn-refresh {
  color: $primary-color;
  font-family: $font-proxima;
  font-size: $font-size-medium;
  margin-top: 0.1rem;

  .icon-svg {
    svg {
      fill: $primary-color;
      width: 1rem;
      height: 1rem;
    }
  }

  &:hover {
    color: $dark-blue-hover;
    transition: 0.8s;
    overflow: visible;

    svg {
      transform: rotate(-180deg);
      transition: 0.5s;
    }
  }  
}
.lbl-marketplace {
  label {
    color: #738593;
    font-size: 0.875rem !important;
    margin-top: 0;
  }
}
