<div class="bookings mt-2">
  <div class="card">
    <div class="card-header">
      <!-- booking top row -->
      <div class="bookings-header row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-8">
          <div class="d-flex bookings-header-number">
            <div *ngIf="booking.ShippingModeCode === 'SEA'" class="bookings-header-number-icon sea-icon">
              <img class="icon-size-24" src="../../../../../assets/images/icons/icons_cargo_ship_white.svg">
            </div>
            <div *ngIf="booking.ShippingModeCode === 'AIR'" class="bookings-header-number-icon air-icon">
              <img class="icon-size-24" src="../../../../../assets/images/icons/icon_plane_white.svg">
            </div>
            <div *ngIf="booking.ShippingModeCode === 'WAREHOUSE'" class="bookings-header-number-icon ware-icon">
              <img class="icon-size-24" src="../../../../../assets/images/icons/icon_warehouse_white.svg">
            </div>
            <div *ngIf="booking.ShippingModeCode === 'TRUCK'" class="bookings-header-number-icon truck-icon">
              <img class="icon-size-24" src="../../../../../assets/images/icons/Icons_Cargo_Truck_white.svg">
            </div>
            <div *ngIf="booking.ShippingModeCode === 'ASSAYER'" class="bookings-header-number-icon ware-icon">
              <img class="icon-size-24" src="../../../../../assets/images/icons/Icons_Box_w.svg">
            </div>
            <div *ngIf="booking.ShippingModeCode === 'INSURANCE'" class="bookings-header-number-icon ware-icon">
              <img class="icon-size-24" src="../../../../../assets/images/icons/icon-insurance-white.svg">
            </div>

            <div class="d-flex flex-column info ml-5 pl-2"
              [ngClass]="(booking?.BookingTab?.toLowerCase() === 'saved' || booking?.BookingTab?.toLowerCase() === 'specialrequest')?'':'pointer'"
              (click)="viewBookingDetails()">
              <span>{{booking.HashMoveBookingNum}}</span>
              <small *ngIf="!booking?.IsBookedByProvider">{{booking?.BookingTab?.toLowerCase() === 'specialrequest'?
                'Requested by':'Booked by'}} {{booking.FirstName}} {{booking.LastName}} on
                {{booking.HashMoveBookingDate | date : "d MMM y"}} {{booking.HashMoveBookingDate | date :
                "H:mm"}} (GMT)</small>
              <small *ngIf="booking?.IsBookedByProvider">{{booking?.BookingTab?.toLowerCase() === 'specialrequest'?
                'Requested by':'Booked by'}} {{booking?.ProviderName}} on
                {{booking.HashMoveBookingDate | date : "d MMM y"}} {{booking.HashMoveBookingDate | date :
                "H:mm"}} (GMT)</small>
            </div>
            <div class="d-flex bookings-header-company" *ngIf="booking?.BookingStatusCode !== 'DECLINED'">
              <div class="d-flex flex-column info mt-1 pl-2 pointer" *ngIf="booking.BookingTab === 'SpecialRequest'">
                <span
                  class="badge badge-pill hashmove-badge-{{(booking.SpecialRequestStatusBL.toLowerCase() === 'price_sent')?'secondary':(booking.SpecialRequestStatusBL.toLowerCase() === 'pending')?'warning':'active'}}">
                  {{booking.SpecialRequestStatus}}
                </span>
              </div>
              <div class="d-flex flex-column info mt-1 pl-2 pointer"
                *ngIf="(booking?.IsSpecialRequest || booking?.RateRequestID) && booking?.BookingTab !== 'SpecialRequest'">
                <span class="badge badge-pill hashmove-badge-active">
                  Spot Rate
                </span>
              </div>
              <div class="d-flex flex-column info mt-1 pl-2 pointer" *ngIf="booking?.IsLumpSum">
                <span class="badge badge-pill hashmove-badge-active">
                  Lump Sum
                </span>
              </div>
            </div>
            <div class="col-3 ml-2 quote-sec"
              *ngIf="!isMobile && booking?.SpotRateBookingKey && booking?.BookingTab !== 'SpecialRequest'">
              <span class="q-head">QUOTE #</span>
              <a class="hvr-icon-forward q-anc" href="javascript:;" (click)="toRequestList()">
                <span class="link-hover-1 ml-0 mr-1 q-num">
                  {{getQuoteNumber()}}
                </span>
                <i class="fa fa-angle-right hvr-icon"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-4">
          <div class="bookings-header-company">
            <div [ngClass]="{'actions': booking?.BookingStatusCode !== 'DECLINED'}"
              *ngIf="booking.BookingTab === 'SpecialRequest'">
              <a class="discard hvr-icon-forward mr-1" href="javascript:;" (click)="cancelBooking()">Discard Request
                <i class="fa fa-angle-right hvr-icon"></i>
              </a>
              <ng-container *ngIf="booking?.BookingStatusCode !== 'DECLINED'">
                <a class="hvr-icon-forward ml-1" href="javascript:;" (click)="updatePrice(booking.BookingID)"> Update
                  Price
                  <i class="fa fa-angle-right hvr-icon"></i>
                </a>
              </ng-container>
              <ng-container *ngIf="booking?.BookingStatusCode === 'DECLINED'">
                <span class="status">Rate Request:</span>
                <span class="badge badge-pill hashmove-badge-danger">{{booking?.BookingStatus}}</span>
              </ng-container>
            </div>
            <div class="ic-download ml-1" *ngIf="booking.BookingTab === 'SpecialRequest'">
              <a (click)="uploadDocuments()" href="javascript:;" [placement]="'top'" container="body"
                ngbTooltip="Documents" class="hvr-icon-forward ml-1">
                <!-- <img src="../../../../assets/images/icons/icon-document.svg" alt="Documents"
                        class="icon-size-18 align-top"> -->
                <object id="svgdoc" class="icon-size-18 align-top"
                  data="../../../../assets/images/icons/icon-document.svg" type="image/svg+xml"></object>
              </a>
            </div>
            <a style="text-decoration: underline !important;" ngbTooltip="Messaging" container="body"
              class="message hvr-icon-forward pointer ml-2" href="javascript:;" (click)="openChat()">
              <span class="m-0">
                <!-- <span *ngIf="booking?.ProviderUnReadMsgCount > 0">({{booking?.ProviderUnReadMsgCount}})</span> -->
                <!-- <img class="icon-size-18 align-top" style="margin-top: 1px;"
                        *ngIf="!booking?.ProviderUnReadMsgCount || booking?.ProviderUnReadMsgCount === 0"
                        src="../../../../assets/images/icons/icon-chat-line.svg" alt="chat" /> -->
                <!-- <img class="align-top" *ngIf="booking?.ProviderUnReadMsgCount > 0"
                        src="../../../../assets/images/icons/icon-chat-line-red.svg" alt="chat" /> -->
                <object id="svg1" class="icon-size-18 align-top" style="margin-top: 1px;"
                  *ngIf="!booking?.ProviderUnReadMsgCount || booking?.ProviderUnReadMsgCount === 0"
                  data="../../../../assets/images/icons/icon-chat-line.svg" type="image/svg+xml"></object>
                <object id="svg2" *ngIf="booking?.ProviderUnReadMsgCount > 0"
                  data="../../../../assets/images/icons/icon-chat-line-red.svg" type="image/svg+xml"></object>
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- <hr class="hr-solid mt-1"> -->
      <!-- booking top row -->
    </div>
    <div class="card-body pt-2 pb-2">
      <!-- booking bottom row -->
      <div class="row">
        <div class="col-lg-5 col-sm-12 border-separated">
          <ng-container *ngIf="booking.ShippingModeCode === 'ASSAYER'">
            <div class="commodity-details">
              <div class="row">
                <div class="col-12">
                  <img src="../../../../assets/images/icons/icon_summary.svg" alt="icon"
                    class="icon-size-16 mr-2 mt-1 align-top">
                  <span class="lable">Commodity Name</span>
                  <p>{{booking?.CommodityName}}</p>
                </div>
                <div class="col-6">
                  <img src="../../../../assets/images/icons/icon_summary.svg" alt="icon"
                    class="icon-size-16 mr-2 mt-1 align-top">
                  <span class="lable">Total Weight (MT)</span>
                  <p>{{booking?.TotalWeight | number: '1.2-2'}}</p>
                </div>
                <div class="col-6">
                  <img src="../../../../assets/images/icons/icon_summary.svg" alt="icon"
                    class="icon-size-16 mr-2 mt-1 align-top">
                  <span class="lable">No. of Container</span>
                  <p>{{booking?.NumberOfContainers | number: '1.0-0'}}
                    {{booking?.NumberOfContainers>1?'Containers':'Container'}}</p>
                  <p class="cont-dtl-main">
                    <a class="cont-dtl m-0" href="javascript:;" (click)="openCargoDetails(booking)">
                      <span class="mr-1">View Details</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </ng-container>


          <div class="row"
            *ngIf="booking.ShippingModeCode?.toLowerCase() !== 'warehouse' && booking.ShippingModeCode !== 'ASSAYER' && booking.ShippingModeCode !== 'INSURANCE'">
            <div class=""
              [ngClass]="booking.ShippingModeCode.toLowerCase() === 'warehouse' ? 'col-xl-12 col-lg-12 col-md-12 col-sm-12' : 'col-xl-6 col-lg-6 col-md-6 col-7'">
              <div class="bookings-detail eq-height d-flex justify-content-between flex-column"
                [ngClass]="{'angle-arrow': booking?.ShippingModeCode?.toLowerCase() !== 'warehouse'}">
                <div class="ports">
                  <small *ngIf="booking.ShippingModeCode.toLowerCase() !== 'warehouse'"
                    class="d-block mb-2 mt-0">From</small>
                  <small *ngIf="booking.ShippingModeCode.toLowerCase() === 'warehouse'"
                    class="d-block mb-2">Detail</small>
                  <label *ngIf="booking.ShippingModeCode.toLowerCase() !== 'warehouse'" ngbTooltip="{{booking.PolCode}}"
                    class="ports-label mt-1">
                    <img class="icon-size-18-12 mr-2"
                      src="{{'../../../../../assets/images/flags/4x3/' + (booking.PolCountryCode | lowercase) + '.svg'}}"
                      alt="icon"> {{booking?.PolType?.toUpperCase() === 'GROUND'? booking?.PolCityName
                    :booking.PolCode}}
                    <span style="color:#2b2b2b" *ngIf="booking?.PolType?.toUpperCase() === 'GROUND'">
                      ({{booking?.PolCode}})
                    </span>
                  </label>
                  <label *ngIf="booking.ShippingModeCode.toLowerCase() === 'warehouse'" class="ports-label mt-1"
                    ngbTooltip="{{booking.WHName}}">{{booking.WHName}}</label>
                  <span *ngIf="booking.ShippingModeCode.toLowerCase() !== 'warehouse' && booking?.PolInputAddress"
                    ngbTooltip="{{booking?.PolInputAddress}}" class="d-block mb-1">{{booking?.PolInputAddress}}</span>
                  <span *ngIf="booking.ShippingModeCode.toLowerCase() !== 'warehouse'"
                    ngbTooltip="{{booking.PolCountry}}" class="d-block mb-2">{{booking.PolCountry}}</span>
                </div>
                <div class="ports-calendar">
                  <span
                    *ngIf="booking.ShippingModeCode.toLowerCase() !== 'warehouse' && booking?.EtdUtc && booking?.ShippingModeCode !== 'AIR'">
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    {{booking.EtdUtc | date : "d MMM, yyyy"}}
                  </span>
                  <!-- <span *ngIf="booking.ShippingModeCode === 'AIR' && booking?.PickupFrom "> -->
                  <span *ngIf="false ">
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    {{booking?.PickupFrom | date : "d MMM, yyyy"}}
                  </span>
                  <span *ngIf="booking.ShippingModeCode.toLowerCase() === 'warehouse' && booking?.StoredFromUtc">
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    {{booking.StoredFromUtc | date : "d MMM, yyyy"}} - {{booking.StoredUntilUtc | date : "d MMM, yyyy"}}
                  </span>
                  <span *ngIf="booking.ShippingModeCode.toLowerCase() === 'warehouse' && booking?.WHMinimumLeaseTerm">
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    Lease Term: {{booking?.WHMinimumLeaseTerm}}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-5"
              *ngIf="booking.ShippingModeCode.toLowerCase() !== 'warehouse'">
              <div class="bookings-detail eq-height d-flex justify-content-between flex-column">
                <div class="ports">
                  <small class="d-block mb-2 mt-0">to</small>
                  <label class="ports-label mt-1" ngbTooltip="{{booking.PodCode}}">
                    <img class="icon-size-18-12 mr-2"
                      src="{{'../../../../../assets/images/flags/4x3/' + (booking.PodCountryCode | lowercase) + '.svg'}}"
                      alt="icon"> {{booking?.PodType?.toUpperCase() === 'GROUND'? booking?.PodCityName
                    :booking.PodCode}}
                    <span style="color:#2b2b2b" *ngIf="booking?.PodType?.toUpperCase() === 'GROUND'">
                      ({{booking?.PodCode}})
                    </span>
                  </label>
                  <span *ngIf="booking.ShippingModeCode.toLowerCase() !== 'warehouse' && booking?.PodInputAddress"
                    ngbTooltip="{{booking?.PodInputAddress}}" class="d-block mb-1">{{booking?.PodInputAddress}}</span>
                  <span class="d-block mb-2" ngbTooltip="{{booking.PodCountry}}">{{booking.PodCountry}}</span>
                </div>
                <div class="ports-calendar" *ngIf="booking?.EtaUtc && booking?.ShippingModeCode !== 'AIR'">
                  <span>
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    {{booking.EtaUtc | date : "d MMM, yyyy"}}
                  </span>
                  <span *ngIf="booking.ShippingModeCode.toLowerCase() === 'air'">
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    {{booking.PickupTo | date : "d MMM, yyyy"}}
                  </span>
                </div>
                <!-- <div class="ports-calendar" *ngIf="booking?.ShippingModeCode === 'AIR' && booking?.PickupTo"> -->
                <div class="ports-calendar" *ngIf="false">
                  <span>
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    {{booking?.PickupTo | date : "d MMM, yyyy"}}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="booking.ShippingModeCode?.toLowerCase() === 'warehouse'">
            <div class="col-md-12 col-sm-12 warehouse-card">
              <div class="col-12 mt-0 seperator-l pr-0">
                <span class="pull-right ml-1">
                  <span class="badge card-badge badge-bonded">
                    <img *ngIf="searchCriteria.searchBy === 'by_area'"
                      src="../../../../assets/images/icons/icon_grid_w.svg" alt="icon"
                      class="hvr-icon icon-size-16 mb-1 mr-1">
                    <img *ngIf="searchCriteria.searchBy === 'by_pallet'"
                      src="../../../../assets/images/icons/services/icon-pallet.svg" alt="icon"
                      class="hvr-icon icon-size-16 mb-1 mr-1">
                    <img *ngIf="searchCriteria?.searchBy === 'by_unit' || searchCriteria?.searchBy === 'by_vol_weight'"
                      src="../../../../assets/images/icons/Icons_Box_w.svg" alt="icon"
                      class="hvr-icon icon-size-16 mb-1 mr-1">
                    <img *ngIf="searchCriteria.searchBy === 'by_container'"
                      src="../../../../assets/images/icons/Icons_Container_w.svg" alt="icon"
                      class="hvr-icon icon-size-16 mb-1 mr-1">
                    {{warehouseRate?.TotalCoveredAreaUnit}}
                  </span>
                </span>
                <h5 class="card-title mb-2 d-flex justify-content-between">
                  {{warehouseRate?.WHName}}
                </h5>
                <ul class="list-group mt-2 flex-inherit" style="list-style-type:none;">
                  <li class="mr-2 mt-1">
                    <img src="../../../../assets/images/icons/Icons_Location-grey.svg" alt="icon"
                      class="icon-size-16 mr-2">
                    <div class="grey-anc-btn hvr-icon-forward text-truncate" style="max-width: 13.5rem;">
                      {{warehouseRate?.WHAddress}}
                    </div>
                    <br />
                  </li>
                  <li class="mr-2 mt-1">
                    <span class="badge-warehouse">
                      <img src="../../../../assets/images/icons/Icons_Warehousing.svg" alt="icon"
                        class="icon-size-16 mr-2 mb-1">{{warehouseRate?.UsageType === 'SHARED'?'Shared':'Full'}}
                      Warehouse
                    </span>
                  </li>
                </ul>
                <!-- <div class="mb-1 description mt-1 text-truncate"
                    style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 30rem; max-lines: 2;"
                    ngbTooltip="{{warehouseRate?.WHDesc}}" tooltipClass="custom-tooltip" [placement]="'bottom'"
                    container="body">
                    {{warehouseRate?.WHDesc}}
                  </div> -->
                <div class="additional-info mt-1 mb-1" style="font-size: 1.2rem;">
                  <img src="../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                    class="icon-size-16 mb-1 mr-2">{{booking?.StoredFromUtc | date : "d MMM, yyyy"}} -
                  {{booking?.StoredUntilUtc | date : "d MMM, yyyy"}}
                </div>
                <div *ngIf="searchCriteria?.searchBy !== 'by_container'">
                  <div class="additional-info">
                    <span>TOTAL QUANTITY: </span><span class="area-unit-spot">{{searchCriteria?.PLT?searchCriteria?.PLT
                      + ' pallet':searchCriteria?.CBM?searchCriteria?.CBM + '
                      cbm':searchCriteria?.CONT?searchCriteria?.CONT+ '
                      Container(s)':searchCriteria?.SQFT?searchCriteria?.SQFT + ' sqft':searchCriteria?.AREA + ' ' +
                      searchCriteria?.AREA_UNIT}}</span>&nbsp;<span *ngIf="searchCriteria?.KG">TOTAL
                      WEIGHT: </span><span class="area-unit-spot"
                      *ngIf="searchCriteria?.KG">&nbsp;{{searchCriteria?.KG}}
                      KG&nbsp;</span>
                    <div *ngIf="searchCriteria?.searchBy === 'by_unit'">
                      <small>({{searchCriteria?.SearchLog?.length}} X
                        {{searchCriteria?.SearchLog?.width}} X {{searchCriteria?.SearchLog?.height}})</small>
                    </div>
                  </div>


                </div>

                <span class="pull-left mt-3 mb-1" *ngIf="booking?.IsBondedWarehouse">
                  <span class="badge badge-success card-badge">
                    <img alt="" class="hvr-icon icon-size-16 mb-1 mr-1"
                      src="../../../../assets/images/icons/icon_bond_warehouse_w.svg"> Bonded </span>
                </span>
              </div>
            </div>
          </ng-container>
          <app-via-port *ngIf="booking?.ShippingModeCode === 'AIR' && booking?.JsonPortVia?.length > 1"
            [viaPorts]="booking?.JsonPortVia"></app-via-port>
        </div>
        <div class="col-lg-4 col-sm-12 pl-4 border-separated">
          <div class="row">
            <div class="col-12 mb-2">
              <div class="bookings-detail">
                <div class="ports">
                  <small class="d-block mb-2 mt-0">Customer</small>
                  <div class="d-flex align-items-center pt-1">
                    <div class="customer-image mr-2">
                      <img src="{{getCustomerImage(booking.CustomerImage)}}" alt="logo" *ngIf="booking.CustomerImage" />
                      <img src="../../../../../assets/images/icons/icons_user.svg" alt="logo"
                        *ngIf="!booking.CustomerImage" />
                    </div>
                    <label class="ports-label">
                      {{booking.CustomerName}}
                      <small class="hm-enterprise-customer" *ngIf="isEnterprise">{{booking?.HMCustomerNature}}</small>
                      <small class="" *ngIf="booking?.CustomerOrderSeller">Order #:
                        {{booking?.CustomerOrderSeller}}</small>
                    </label>
                  </div>
                </div>
                <div class="row mt-4" *ngIf="booking.BookingTab !== 'SpecialRequest'">
                  <div class="col-xl-8 col-lg-8 col-md-8 col-7">
                    <div class="ports" *ngIf="booking?.CarrierName">
                      <small class="d-block mb-2 mt-0">{{(booking?.ShippingModeCode === 'AIR')?'Air Line':
                        'Shipping Line'}}</small>
                      <div class="d-flex align-items-center pt-1">
                        <div class="customer-image mr-2">
                          <img src="{{getCustomerImage(booking.CarrierImage)}}" alt="">
                          <img src="../../../../../assets/images/icons/icons_user.svg" alt="logo"
                            *ngIf="!booking.CarrierImage" />
                        </div>
                        <label class="ports-label">
                          {{booking.CarrierName}}
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="provider-cargo col-xl-4 col-lg-4 col-md-4 col-5 pr-0">
                    <div class="ports"
                      *ngIf="booking.ShippingModeCode?.toLowerCase() !== 'warehouse' || (booking.ShippingModeCode?.toLowerCase() !== 'warehouse' && searchCriteria?.CONT> 0)">
                      <small class="d-block mt-0">Cargo</small>
                      <div class="d-flex flex-column actions-btn">
                        <h6 *ngIf="booking.ShippingModeCode?.toLowerCase() !== 'warehouse'"
                          class="mt-2 ports-label m-0 provider d-flex align-items-center">
                          <ng-container *ngIf="booking?.ShippingModeCode === 'AIR'">
                            {{booking?.ChargeableWeight | number: '1.0-0'}} KG
                          </ng-container>
                          <ng-container *ngIf="searchCriteria?.searchMode === 'sea-lcl'">
                            {{totalCBM | number: '1.0-0'}} CBM
                          </ng-container>
                          <ng-container *ngIf="booking?.ShippingModeCode !== 'AIR' && booking?.ContainerLoad !== 'LCL'">
                            {{booking?.ContainerLoad}} x {{booking?.ContainerCount}}
                          </ng-container>
                        </h6>
                        <h6 *ngIf="(booking.ShippingModeCode?.toLowerCase() === 'warehouse')"
                          class="mt-2 ports-label m-0 provider d-flex align-items-center">
                          {{searchCriteria?.CONT}} {{searchCriteria?.CONT> 1?'Containers':'Container'}}
                        </h6>
                        <a class="ports-link m-0 view-details" href="javascript:;" (click)="openCargoDetails(booking)"
                          style="text-decoration: none !important;">
                          <span class="mr-1 link-hover-1">View Details</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row"
                  *ngIf="booking.BookingTab === 'SpecialRequest' && (booking.ShippingModeCode?.toLowerCase() !== 'warehouse' || booking.ShippingModeCode?.toLowerCase() === 'warehouse' && searchCriteria?.CONT)">
                  <div class="col-8">
                    <ng-container *ngIf="booking?.CarrierName?.length > 0">
                      <br>
                      <div class="ports">
                        <small class="d-block mb-2 mt-0">
                          {{booking?.ShippingModeCode === 'AIR'?'Airline':'Shipping Line'}}
                        </small>
                        <div class="d-flex align-items-center pt-1">
                          <div class="customer-image mr-2">
                            <img src="{{getCustomerImage(booking?.CarrierImage)}}" alt="">
                            <img src="../../../../../assets/images/icons/Icons_User.svg" alt="logo"
                              *ngIf="!booking?.CarrierImage" />
                          </div>
                          <label class="ports-label">
                            {{booking?.CarrierName}}
                          </label>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                  <div class="provider-cargo col-4 pr-0">
                    <div class="ports"
                      *ngIf="booking.ShippingModeCode?.toLowerCase() !== 'warehouse' || (booking.ShippingModeCode?.toLowerCase() !== 'warehouse' && searchCriteria?.CONT> 0)">
                      <small class="d-block mt-4">Cargo</small>
                      <div class="d-flex flex-column pt-1">
                        <h6 *ngIf="booking.ShippingModeCode?.toLowerCase() !== 'warehouse'"
                          class="ports-label m-0 provider d-flex align-items-center">
                          <ng-container *ngIf="booking?.ShippingModeCode === 'AIR'">
                            {{booking?.ChargeableWeight | number: '1.0-0'}} KG
                          </ng-container>
                          <ng-container *ngIf="searchCriteria?.searchMode === 'sea-lcl'">
                            {{totalCBM | number: '1.0-0'}} CBM
                          </ng-container>
                          <ng-container *ngIf="booking?.ShippingModeCode !== 'AIR' && booking?.ContainerLoad !== 'LCL'">
                            {{booking?.ContainerLoad}} x {{booking?.ContainerCount}}
                          </ng-container>
                        </h6>
                        <h6 *ngIf="(booking.ShippingModeCode?.toLowerCase() === 'warehouse')"
                          class="ports-label m-0 provider d-flex align-items-center">
                          {{searchCriteria?.CONT}} {{searchCriteria?.CONT> 1?'Containers':'Container'}}
                        </h6>
                        <a class="ports-link m-0" href="javascript:;" (click)="openCargoDetails(booking)">
                          <span class="mr-1">View Details</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-12 pl-4 mobile-order-0">
          <ng-container *ngIf="booking.ShippingModeCode === 'ASSAYER'">
            <div class="commodity-details">
              <div class="row">
                <div class="col-12">
                  <img src="../../../../assets/images/icons/icon-commodity-inspection.svg" alt="icon"
                    class="icon-size-16 mr-2 mt-1 align-top">
                  <span class="lable">Commodity Inspection</span>
                  <p>{{booking?.CommodityInpectionStatus}}</p>
                </div>
                <div class="col-12">
                  <img src="../../../../assets/images/icons/icons_container_d_grey.svg" alt="icon"
                    class="icon-size-16 mr-2 mt-1 align-top">
                  <span class="lable">Container Inspection</span>
                  <p>{{booking?.ContainerStuffingStatus}}</p>
                </div>
                <div class="col-12">
                  <img src="../../../../assets/images/icons/icon_price.svg" alt="icon"
                    class="icon-size-16 mr-2 mt-1 align-top">
                  <span class="lable">Price</span>
                  <p>{{booking.CurrencyCode}} {{booking?.BookingTotalAmount | number: '1.2-2'}}</p>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="bookings-detail"
            *ngIf="booking.ShippingModeCode !== 'ASSAYER' && booking.ShippingModeCode !== 'INSURANCE'">
            <div *ngIf="booking?.BookingTab === 'SpecialRequest' && booking?.ExpiringInDays" class="notification-expire"
              [placement]="'top'" ngbTooltip="This request will expire in {{booking?.ExpiringInDays}} days"
              container="body">
              <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="alarm-clock" role="img"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                class="svg-inline--fa fa-alarm-clock fa-w-16 fa-2x">
                <path fill="currentColor"
                  d="M32 112a80.09 80.09 0 0 1 80-80 79.23 79.23 0 0 1 50 18 253.22 253.22 0 0 1 34.44-10.8C175.89 15.42 145.86 0 112 0A112.14 112.14 0 0 0 0 112c0 25.86 9.17 49.41 24 68.39a255.93 255.93 0 0 1 17.4-31.64A78.94 78.94 0 0 1 32 112zM400 0c-33.86 0-63.89 15.42-84.44 39.25A253.22 253.22 0 0 1 350 50.05a79.23 79.23 0 0 1 50-18 80.09 80.09 0 0 1 80 80 78.94 78.94 0 0 1-9.36 36.75A255.93 255.93 0 0 1 488 180.39c14.79-19 24-42.53 24-68.39A112.14 112.14 0 0 0 400 0zM256 64C132.29 64 32 164.29 32 288a222.89 222.89 0 0 0 54.84 146.54L34.34 487a8 8 0 0 0 0 11.32l11.31 11.31a8 8 0 0 0 11.32 0l52.49-52.5a223.21 223.21 0 0 0 293.08 0L455 509.66a8 8 0 0 0 11.32 0l11.31-11.31a8 8 0 0 0 0-11.32l-52.5-52.49A222.89 222.89 0 0 0 480 288c0-123.71-100.29-224-224-224zm0 416c-105.87 0-192-86.13-192-192S150.13 96 256 96s192 86.13 192 192-86.13 192-192 192zm14.38-183.69V168a8 8 0 0 0-8-8h-16a8 8 0 0 0-8 8v136a16 16 0 0 0 6 12.48l73.75 59a8 8 0 0 0 11.25-1.25l10-12.5a8 8 0 0 0-1.25-11.25z"
                  class=""></path>
              </svg>
              <span class="notification-expire--numb">{{booking?.ExpiringInDays}}</span>
            </div>
            <div class="ports">
              <small class="d-block mb-2 mt-0" *ngIf="booking.BookingTab !== 'SpecialRequest'">
                <ng-container *ngIf="!booking?.TotalDocCharges || booking?.TotalDocCharges === 0">Price</ng-container>
                <ng-container *ngIf="booking?.TotalDocCharges > 0">FREIGHT:
                  {{booking?.BookingTotalAmount | number: '1.2-2'}} + CERTIFICATE CHARGES:
                  {{booking?.TotalDocCharges | number: '1.2-2'}}
                </ng-container>

              </small>
              <ng-container *ngIf="booking.BookingTab === 'SpecialRequest'">
                <small class="d-block mb-2">Spot Rate</small>
                <label class="ports-label text-truncate mt-1 mb-1"
                  *ngIf="booking.BookingSpecialAmount != booking.BookingTotalAmount"
                  ngbTooltip="{{booking.CurrencyCode}} {{booking.BookingSpecialAmount | number: '1.2-2'}}">
                  <ng-container *ngIf="!booking?.PerUnitRate">
                    <span class="ml-0"
                      [ngClass]="{'line-through':booking.SpecialRequestStatusBL === 'REQUESTED_AGAIN'}">
                      {{booking.CurrencyCode}} {{booking.BookingSpecialAmount | number: '1.2-2'}}
                    </span>
                  </ng-container>
                  <ng-container *ngIf="booking?.PerUnitRate">
                    <span class="ml-0 price-container"
                      [ngClass]="{'line-through':booking.SpecialRequestStatusBL === 'REQUESTED_AGAIN'}">
                      <span class="ml-0" style="display: flex;flex-direction: row; align-items: center;"><span
                          style="font-size:0.8rem" class="ml-0 mr-1 mt-1">{{booking?.CurrencyCode}}</span><b
                          *ngIf="booking?.ContainerLoad === 'FCL' || booking?.ContainerLoad === 'FTL'"
                          class="per-price">{{booking?.PerUnitRate | number: '1.0-0'}}</b><b
                          *ngIf="booking?.ContainerLoad === 'LCL'" class="per-price">{{booking?.PerUnitRate |
                          number: '1.2-2'}}</b><span style="font-size:0.6rem" class="ml-0 ml-1 mt-1"> /
                          {{booking?.PerUnitRateType.split(' ')[2] | uppercase}}</span></span>
                      <span class="sub-price-container ml-0 per-total-amount"><span
                          class="ml-0 mr-1 sub-unit">{{booking?.CurrencyCode}}</span>
                        <span class="tot-amount">{{booking?.BookingSpecialAmount | number: '1.0-0'}}</span> <span
                          class="ml-0 ml-1 tot sub-unit">Total</span></span>
                    </span>
                  </ng-container>
                </label>
                <label class="ports-label text-truncate mt-1 mb-1"
                  *ngIf="booking.BookingSpecialAmount === booking.BookingTotalAmount">
                  <a class="hvr-icon-forward pointer awaiting-rate" (click)="updatePrice(booking.BookingID)"><span
                      class="link-hover-secondary m-0">Awaiting Rate</span></a>
                </label>
              </ng-container>
            </div>
            <div class="ports" *ngIf="booking?.BookingTotalAmount > 0">
              <small class="d-block mb-2" *ngIf="booking.BookingTab === 'SpecialRequest'">Original Rate
              </small>
              <ng-container *ngIf="booking?.TotalDocCharges > 0">
                <label class="ports-label price mt-1 text-truncate"
                  ngbTooltip="{{booking.CurrencyCode}} {{booking.BookingTotalAmount + booking?.TotalDocCharges | number: '1.2-2'}}">
                  {{booking.CurrencyCode}}
                  {{booking.BookingTotalAmount + booking?.TotalDocCharges | number: '1.2-2'}}</label>
              </ng-container>

              <ng-container *ngIf="!booking?.TotalDocCharges ||booking?.TotalDocCharges === 0">
                <label class="ports-label price mt-1 text-truncate"
                  ngbTooltip="{{booking.CurrencyCode}} {{booking.BookingTotalAmount | number: '1.2-2'}}">
                  {{booking.CurrencyCode}} {{booking.BookingTotalAmount | number: '1.2-2'}}</label>
              </ng-container>


            </div>
            <div class="ports" *ngIf="showCommission">
              <small class="d-block mb-2 mt-2">HASHMOVE COMMISSION</small>
              <ng-container>
                <label class="text-truncate font-weight-mid">
                  {{booking.CurrencyCode}} {{hmCommisssion | number: '1.0-0'}} ({{booking?.HMCommisionRate | number:
                  '1.0-0'}}%)</label>
              </ng-container>
            </div>
            <app-count-down *ngIf="booking?.BookingStatusCode?.toUpperCase() === 'IN-REVIEW' && expiryDate && showTimer"
              [expiryDate]="expiryDate" [bookDate]="bookDate"></app-count-down>
            <div style="display: flex;flex-direction: column;" class="bookings-detail-logs mb-2">
              <a *ngIf="booking?.IsSpecialRequest || booking?.RequestResponseID "
                style="text-decoration: underline !important;" class="hvr-icon-forward pointer" href="javascript:;"
                (click)="viewLogs()"><span class="m-0">Price
                  History</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer"
      *ngIf="booking?.BookingTab !== 'SpecialRequest' || (booking?.BookingTab === 'SpecialRequest' && booking?.ShippingModeCode === 'SEA' && booking?.EtdUtc)">
      <div *ngIf="booking?.BookingTab !== 'SpecialRequest'" class="row">
        <div class="col d-flex align-items-center">
          <div class="booking-status mr-3">
            <label for="">Booking:</label>
            <span class="badge badge-pill hashmove-badge-danger ml-1"
              *ngIf="booking?.BookingStatusCode?.toLowerCase() === statusCode.CANCELLED || booking?.BookingStatusCode?.toLowerCase() === statusCode.REJECTED || booking?.BookingStatusCode?.toLowerCase() === statusCode.EXPIRED">{{booking?.BookingStatus}}</span>
            <span class="badge badge-pill hashmove-badge-active ml-1"
              *ngIf="booking?.BookingStatusCode?.toLowerCase() === statusCode.IN_REVIEW">{{booking?.BookingStatus}}</span>
            <span class="badge badge-pill hashmove-badge-warning ml-1"
              *ngIf="booking?.BookingStatusCode?.toLowerCase() === statusCode.DRAFT">{{booking?.BookingStatus}}</span>
            <span class="badge badge-pill hashmove-badge-secondary ml-1"
              *ngIf="booking?.BookingStatusCode?.toLowerCase() === statusCode.CONFIRMED">{{booking?.BookingStatus}}</span>
          </div>
          <div class="booking-status mr-3" *ngIf="booking?.ShippingModeCode?.toLowerCase() !== 'warehouse'">
            <label for="">Shipment:</label>
            <span class="badge badge-pill hashmove-badge-danger ml-1"
              *ngIf="booking?.ShippingStatusCode?.toLowerCase() === statusCode.CANCELLED || booking?.ShippingStatusCode?.toLowerCase() === statusCode.REJECTED || booking?.ShippingStatusCode?.toLowerCase() === statusCode.EXPIRED">{{booking?.ShippingStatus}}</span>
            <span class="badge badge-pill hashmove-badge-secondary ml-1"
              *ngIf="booking?.ShippingStatusCode?.toLowerCase() === statusCode.COMPLETED">{{booking?.ShippingStatus}}</span>
            <span class="badge badge-pill hashmove-badge-active ml-1"
              *ngIf="booking?.ShippingStatusCode?.toLowerCase() === statusCode.READY_TO_SHIP || booking?.ShippingStatusCode?.toLowerCase() === statusCode.IN_TRANSIT">{{booking?.ShippingStatus}}
              <label class="w-100 d-block mb-0" *ngIf="booking?.LastActivity"
                style="text-transform: none !important">{{booking?.LastActivity}}</label>
            </span>
            <span class="badge badge-pill hashmove-badge-warning ml-1"
              *ngIf="booking?.ShippingStatusCode?.toLowerCase() === statusCode.PENDING">{{booking?.ShippingStatus}}</span>
          </div>
          <span *ngIf="booking?.ProductName" class="badge badge-pill hashmove-badge-primary d-inline-block">
            {{booking?.ProductName}}
          </span>
          <span *ngIf="booking?.PriceBasisType && booking?.PriceBasisType !== 'N/A'"
            class="badge badge-pill hashmove-badge-primary d-inline-block ml-2">
            {{(booking?.PriceBasisType === 'FOB' )?'Airport To Airport (A2A)':booking?.PriceBasisType}}
          </span>
          <span class="badge badge-pill hashmove-badge-active d-inline-block  pull-right"
            *ngIf="booking?.IsBookedByProvider">Booked By {{booking?.ProviderName}}
          </span>
        </div>
        <div class="col d-flex justify-content-end align-items-center align-self-end footer-actions mr-3">
          <div ngbTooltip="Payment Terms" class="d-flex align-items-center view-detail pointer"
            (click)="openPaymentTerms('view')">
            <img alt="" class="icon-size-16 mr-1 pointer"
              src="../../../../../assets/images/icons/icon-terms-and-conditions.svg" />
            <span style="font-size: 0.75rem !important;" class="grey-sm-txt ml-1 link-hover-1">
              Payment Terms
            </span>
          </div>
        </div>
      </div>
      <!-- <div *ngIf="booking?.BookingTab === 'SpecialRequest' && booking?.ShippingModeCode === 'SEA' && booking?.EtdUtc"
        class="row" style="overflow: hidden;">
        <div class="d-flex justify-content-start col-12">
          <a class="d-flex sch-btn hvr-icon-down align-self-end" href="javascript:;"
            (click)="getVesselSchedule(booking.BookingID)">
            <span class="route-ship mr-1">
              <img class="mb-1" src="../../../../../assets/images/icons/animted-ship.svg" alt="">
            </span>
            <span class="sch-text mt-1">Vessel Schedule</span>
            <i *ngIf="!showSchedule" class="fa fa-angle-down hvr-icon ml-1 mt-1"></i>
            <i *ngIf="showSchedule" class="fa fa-angle-up hvr-icon ml-1 mt-1"></i>
          </a>
        </div>
        <app-schedule-card class="animated bounceInDown" *ngIf="showSchedule && bookingSchedule"
          [bookingSchedule]="bookingSchedule">
        </app-schedule-card>
        <app-loader-main *ngIf="showSchedule && !bookingSchedule"></app-loader-main>
      </div> -->
    </div>
  </div>