@import "../../../../../assets/scss/_variables";

.bookings {
  .quote-sec {
    padding:0;
    font-size: 0.65rem;
    .q-head {
      color: #049bd5;
      display: block
    }
    .q-anc {
      padding:0;
      font-size: 0.6rem;
      margin-top: 0rem;
      color: #02bdb6;
    }
    .q-num {
      padding-top: 16px;
      line-height: 1;
    }
  }
  .actions-btn {
    a {
      font-size: $font-size-medium;          
      font-family: $font-proxima;
      font-weight: $font-weight-mid;
      text-decoration: none !important;
            
      &.await-quotes {
        color: $danger-color;                    

        span {
          font-weight: $font-proxima-weight-semibold;
          // text-transform: uppercase;
          &:before,
        &:after {
          color: $danger-color;
        }
        &.link-hover-1 {
          text-decoration: none !important;
          &:before {
            background: darken($danger-color, 3%);
            transform: scaleX(1);                
          }
          &:hover:before {
            transform: scaleX(1);
          }
        }
        }
      } 

      &.view-details {
        color: $secondary-color;                    

        span {
          font-weight: $font-proxima-weight-semibold;
          // text-transform: uppercase;
          &:before,
        &:after {
          color: $secondary-color;
        }
        &.link-hover-1 {
          text-decoration: none !important;
          &:before {
            background: darken($secondary-color, 3%);
            transform: scaleX(1);                
          }
          &:hover:before {
            transform: scaleX(1);
          }
        }
        }
      }          
      
      span {
        position: relative;
        text-decoration: none;
        line-height: 24px;
        width: auto;
        &:before,
        &:after {
          color: $secondary-color;
          content: "";
          position: absolute;
          transition: transform 0.3s ease;
        }
        &.link-hover-1 {
          padding-top: 13px;
          cursor: pointer;
          &:before {
            top: 30px;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: darken($secondary-color, 3%);
            transform: scaleX(0);
          }
          &:hover:before {
            transform: scaleX(1);
          }
        }
      }
      i {
        margin-left: 0rem;//0.35rem
      }
    }
  }
  .sch-btn {
    font-weight: 500;
    font-size: $root-font-size;
    text-transform: uppercase;
    animation: 1.25s ease-in-out infinite alternate-reverse text-glow;
    .sch-text {
      text-transform: capitalize;
      float: right;
      font-size: $font-size-base;
      font-family: $font-proxima;
      font-weight: $font-proxima-weight-semibold;
      color: $dark-grey-blue;
      cursor: pointer;
    }
    // text-decoration: underline !important;
    .route-ship {
      width: 1.25rem;
      height: 1.25rem;
      margin: 0 auto;
      //.path-ship
      .ship-animate {
        width: 1.25rem;
        height: 1.25rem;
        margin: 0 auto;
        fill: $secondary-color !important;
        -webkit-text-fill-color: $secondary-color;
        animation-delay: 1s;

        animation: movingship-ltr 0.5s alternate linear both;
        -moz-animation: movingship-ltr 0.5s alternate linear both;
        -o-animation: movingship-ltr 0.5s alternate linear both;
        -webkit-animation: movingship-ltr 0.5s alternate linear both;

        .rect-1,
        .rect-2,
        .rect-3,
        .rect-4,
        .rect-5,
        .rect-6 {
          animation: movingship 0.4s alternate linear both;
          -moz-animation: movingship 0.4s alternate linear both;
          -o-animation: movingship 0.4s alternate linear both;
          -webkit-animation: movingship 0.4s alternate linear both;
        }
        .rect-1 {
          animation-delay: 0.2s;
        }

        .rect-2 {
          animation-delay: 0.3s;
        }

        .rect-3 {
          animation-delay: 0.4s;
        }

        .rect-4 {
          animation-delay: 0.5s;
        }

        .rect-5 {
          animation-delay: 0.6s;
        }

        .rect-6 {
          animation-delay: 0.7s;
        }
      }
      // svg.ship-animate {
      //   fill: #a3afb8 !important;
      //   -webkit-text-fill-color: #a3afb8;
      // }

      @-webkit-keyframes movingship {
        0%,
        25% {
          opacity: 0;
        }

        26% {
          transform: translate3d(0, 25%, 0);
          -webkit-transform: translate3d(0, 25%, 0);
          -o-transform: translate3d(0, 25%, 0);
          -ms-transform: translate3d(0, 25%, 0);
        }

        100% {
          transform: translate3d(0, 0%, 0);
          -webkit-transform: translate3d(0, 0%, 0);
          -o-transform: translate3d(0, 0%, 0);
          -ms-transform: translate3d(0, 0%, 0);
        }
      }

      @keyframes movingship {
        0%,
        25% {
          opacity: 0;
        }

        26% {
          transform: translate3d(0, 25%, 0);
          -webkit-transform: translate3d(0, 25%, 0);
          -o-transform: translate3d(0, 25%, 0);
          -ms-transform: translate3d(0, 25%, 0);
        }

        100% {
          transform: translate3d(0, 0%, 0);
          -webkit-transform: translate3d(0, 0%, 0);
          -o-transform: translate3d(0, 0%, 0);
          -ms-transform: translate3d(0, 0%, 0);
        }
      }

      @-webkit-keyframes movingship-3 {
        0%,
        25% {
          opacity: 0;
        }

        26% {
          transform: translate3d(0, 25%, 0);
          -webkit-transform: translate3d(0, 25%, 0);
          -o-transform: translate3d(0, 25%, 0);
          -ms-transform: translate3d(0, 25%, 0);
        }

        100% {
          transform: translate3d(0, 0%, 0);
          -webkit-transform: translate3d(0, 0%, 0);
          -o-transform: translate3d(0, 0%, 0);
          -ms-transform: translate3d(0, 0%, 0);
        }
      }

      @keyframes movingship-3 {
        0%,
        25% {
          opacity: 0;
        }

        26% {
          transform: translate3d(0, 25%, 0);
          -webkit-transform: translate3d(0, 25%, 0);
          -o-transform: translate3d(0, 25%, 0);
          -ms-transform: translate3d(0, 25%, 0);
        }

        100% {
          transform: translate3d(0, 0%, 0);
          -webkit-transform: translate3d(0, 0%, 0);
          -o-transform: translate3d(0, 0%, 0);
          -ms-transform: translate3d(0, 0%, 0);
        }
      }

      @-webkit-keyframes movingship-ltr {
        0% {
          transform: translate3d(0%, 25%, 0);
          -webkit-transform: translate3d(0%, 25%, 0);
          -o-transform: translate3d(0%, 25%, 0);
          -ms-transform: translate3d(0%, 25%, 0);
        }

        100% {
          transform: translate3d(0%, 0, 0);
          -webkit-transform: translate3d(0%, 0, 0);
          -o-transform: translate3d(0%, 0, 0);
          -ms-transform: translate3d(0%, 0, 0);
        }
      }

      @keyframes movingship-ltr {
        0% {
          transform: translate3d(0%, 25%, 0);
          -webkit-transform: translate3d(0%, 25%, 0);
          -o-transform: translate3d(0%, 25%, 0);
          -ms-transform: translate3d(0%, 25%, 0);
        }

        100% {
          transform: translate3d(0%, 0, 0);
          -webkit-transform: translate3d(0%, 0, 0);
          -o-transform: translate3d(0%, 0, 0);
          -ms-transform: translate3d(0%, 0, 0);
        }
      }
    }
    // i {
    //   -webkit-border-radius: 50%;
    //   -moz-border-radius: 50%;
    //   -ms-border-radius: 50%;
    //   border-radius: 50%;
    //   animation: bounce 2s infinite;
    //   -webkit-animation: bounce 2s infinite;
    //   -moz-animation: bounce 2s infinite;
    //   -o-animation: bounce 2s infinite;
    // }
    @-webkit-keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        -webkit-transform: translateY(0);
      }
      40% {
        -webkit-transform: translateY(-12px);
      }
      60% {
        -webkit-transform: translateY(-8px);
      }
    }

    @-moz-keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        -moz-transform: translateY(0);
      }
      40% {
        -moz-transform: translateY(-12px);
      }
      60% {
        -moz-transform: translateY(-8px);
      }
    }

    @-o-keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        -o-transform: translateY(0);
      }
      40% {
        -o-transform: translateY(-12px);
      }
      60% {
        -o-transform: translateY(-8px);
      }
    }
    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-12px);
      }
      60% {
        transform: translateY(-8px);
      }
    }
  }
  .price-container {
    display: flex !important;
    flex-direction: column;
    .sub-price-container {
      display: flex;
      align-items: center;
      align-self: flex-end;
      span {
        color: $text-color-default !important;
      }
      .tot-amount {
        margin-left: 0 !important;
      }
      .sub-unit {
        font-size: 0.6rem !important;
        font-weight: normal;
      }
    }
  }

  .per-total-amount {
    font-size: 0.9rem;
    font-weight: normal;
    font-weight: normal;
    margin-top: 0.1rem;
    .tot {
      // font-weight: normal !important;
    }
  }
  .per-price {
    font-size: 1.45rem;
    font-weight: 500;
    color: #00a0df;
  }
  .notification-expire {
    position: relative;
    width: 1.4rem;
    height: 1.4rem;
    float: right;
    margin-right: 0.5rem;
    z-index: 9;

    svg {
      width: 1.4rem;
      height: 1.4rem;
      opacity: 0.8;
      animation: ring-quote 1.8s linear infinite;
    }
    svg > path {
      fill: $color-default-svg;
    }
  }
  .notification-expire--numb {
    position: absolute;
    top: 20%;
    left: 67%;
    font-size: 0.875rem;
    border-radius: 50%;
    width: 1.15rem;
    height: 1.15rem;
    background-color: $badge-red;
    border: 0px solid $badge-red;
    color: $white-color;
    text-align: center;
    line-height: 1.4em;
    // -webkit-animation: notification 3.2s ease;
    // animation: notification 3.2s ease;
  }
  .card {
    border: 1px solid #e9e9e9 !important;
    transition: 0.8s;
    overflow: hidden;

    &:hover {
      border-color: $secondary-color !important;

      .bookings-header {
        &-number {
          img {
            backface-visibility: visible !important;
            animation-name: LeftToRight;
            animation-fill-mode: both;
            animation-duration: 1s;
          }
        }
      }

      .bookings-detail {
        &:before,
        &:after {
          border-color: $secondary-color;
          animation-name: angle-arrow;
          animation-duration: 0.5s;
          animation-iteration-count: infinite;
          animation-direction: alternate;

          @keyframes ring-quote {
            0% {
              transform: rotate(0deg);
            }
            5% {
              transform: rotate(0deg);
            }
            15% {
              transform: rotate(0deg);
            }
            25% {
              transform: rotate(20deg);
            }
            35% {
              transform: rotate(-15deg);
            }
            45% {
              transform: rotate(10deg);
            }
            55% {
              transform: rotate(-5deg);
            }
            60% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(0deg);
            }
          }
        }
      }
    }
    &-header {
    background: $white-color;
    align-items: center;
    border-bottom: 1px solid $booking-card-border;
    padding: 0.4rem 1.125rem 0.4rem 1.3rem;
    height: 2.75rem;

    .bookings-header-company {
      text-align: right;
      margin-top: 0.25rem;
    }
    }
    &-body {
      .provider-cargo {
        padding-left: 0;
      }
      
    }
    &-footer {
      background: $white-color;
      border-top: 1px solid rgba(222, 226, 230, 0.48);
      .booking-status {
        // margin-top: 2px;

        label {
          color: $dark-grey-blue;
          font-size: $font-size-base;
          font-family: $font-proxima;
          font-weight: $font-proxima-weight-semibold;
          text-transform: uppercase;
          margin: 0;
        }

        .badge {
          label {
            font-size: $font-size-base;
            color: $secondary-text-color;
            text-transform: capitalize;
          }
        }

        .actions {
          display: flex;
          flex-direction: row;
          font-family: $font-proxima;
          font-size: $font-size-medium;
          justify-content: flex-end;

          a {
            font-weight: bold;
            text-decoration: underline !important;
          }
          a.discard {
            font-weight: 600;
            font-size: $font-size-medium;
            color: $secondary-grey;
            animation: none;
            text-decoration: underline !important;
          }
          a.quotes {
            font-weight: 600;
            font-size: $font-size-medium;
            color: $secondary-color;
            animation: ease-in-out;
            transition: ease-in 0.5s;
            text-decoration: underline !important;
            text-transform: uppercase;

            .fa-angle {
              &-up {
                transform: rotate(-1deg);
                transition: ease-in 0.5s;
                transition-duration: 0.5s;
              }
              &-down {
                transform: rotate(1deg);
                transition: ease-in 0.5s;
                transition-duration: 0.5s;
              }
            }
          }
          .ic-download {
            a {
              &::after {
                display: none;
              }
            }
          }
          .quote-request {
            position: relative;
            width: 1.4rem;
            height: 1.4rem;
            float: right;
            margin-right: 0.5rem;

            svg {
              width: 1.4rem;
              height: 1.4rem;
              opacity: 0.8;
              margin-top: -0.25rem;
              // animation:ring 1.8s linear infinite;
            }
            svg > path {
              fill: $color-default-svg;
            }
            &:hover {
              svg {
                opacity: 1;
                transition: all ease 0.7s;

                & > path {
                  fill: $secondary-color-dark;
                }
              }
            }
          }
          .quote-request--numb {
            position: absolute;
            top: 20%;
            left: 60%;
            font-size: 0.875rem;
            border-radius: 50%;
            width: 1.15rem;
            height: 1.15rem;
            background-color: $secondary-color;
            border: 0px solid $secondary-color;
            color: $white-color;
            text-align: center;
            line-height: 1.4em;
            // -webkit-animation: notification 3.2s ease;
            // animation: notification 3.2s ease;
          }
        }
      }
    }
  }

  .border-separated {
    border-right: 1px solid #6c757d2b;
  }

  &-header {
    font-family: $font-proxima;

    small {
      font-family: $font-proxima;
      font-size: $font-size-base;
      color: $text-grey;
      font-weight: $font-weight-normal;
      margin-bottom: 1px;
    }

    &-number {
      font-size: $font-size-large;
      font-weight: $font-proxima-weight-semibold;
      color: $primary-color;

      &-icon {
        position: absolute;
        top: -8px;
        left: -5px;
        padding: 10px 0px 10px 15px;
        width: 50px;
        background: #02bdb6;

        &:before {
          content: " ";
          width: 0;
          height: 0;
          border-top: 22px solid transparent;
          border-bottom: 22px solid transparent;
          position: absolute;
          left: 50px;
          top: 0px;
          border-left: 10px solid #02bdb6;
        }

        &.ware-icon {
          background: #738593 !important;

          &:before {
            border-left: 10px solid #738593 !important;
          }
        }
      }

      img {
        width: 35px;
        height: 30px;
        margin-right: 15px;
      }

      .info {
        line-height: 16px;
      }
    }

    &-company {
      .status {
        color: $secondary-grey;
        font-size: $font-size-base;
        font-family: $font-proxima;
        font-weight: $font-proxima-weight-semibold;
        text-transform: uppercase;
      }
      .badge {
        label {
          font-size: $font-size-base;
          color: $secondary-text-color;
          text-transform: capitalize;
        }
      }

      .actions {
        display: flex;
        flex-direction: row;
        font-family: $font-proxima;
        font-size: $font-size-base;
        justify-content: flex-end;

        a {
          font-weight: 600;
          font-size: $font-size-medium;
          // text-transform: uppercase;
          color: $danger-color;
          animation: 1.25s ease-in-out infinite alternate-reverse text-glow;
          text-decoration: underline !important;
        }
        a.discard {
          font-weight: 600;
          font-size: $font-size-medium;
          // text-transform: uppercase;
          color: $secondary-grey;
          animation: none;
          text-decoration: underline !important;
        }
      }

      @media only screen and (max-width: $screen-md-screen) {
        margin-top: 1rem;
      }
      .message:hover svg #message {
        fill: #768995 !important;
      }

      .message:hover svg #blink {
        animation: none;
      }

      #blink {
        animation: blink 2s linear infinite;
        transition: 0.2s ease-in;
      }

      #message {
        transition: 0.2s ease-in;
      }

      @keyframes blink {
        0% {
          opacity: 1;
        }

        50% {
          opacity: 0.5;
        }

        100% {
          opacity: 1;
        }
      }
    }

    .book-card-action {
      li {
        font-family: $font-proxima;
        font-size: $font-size-base;
        font-weight: $font-weight-mid;
        margin-right: 17px;
        display: inline-block;

        &:last-child {
          margin-right: 0px;
        }

        &.continue {
          color: $secondary-color;
        }

        &.req-agai {
          color: $badge-default;
        }

        &.discard {
          color: $btn-bg-danger;
        }
      }

      color: $secondary-color;
      font-family: $font-proxima;
      font-size: $font-size-medium;
      font-weight: $font-proxima-weight-semibold;
      text-transform: uppercase;
      padding-left: 0.15rem;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &-detail {
    &.eq-height {
      min-height: 7rem;
      height: 100%;
      // margin-bottom: 1.9rem;
    }

    .line-through {
      text-decoration: line-through;
    }

    &-logs {
      position: absolute;
      right: 1rem;
      // top: 40%;
      bottom: -0.7rem;
      text-align: right;

      a {
        font-family: $font-proxima;
        color: $color-topmenu;
        font-size: $font-size-base;
        font-weight: 500;
      }
    }

    .ports {
      font-family: $font-proxima;
      font-size: $font-size-base;

      &-label {
        // font-size: $font-size-large;
        font-size: $font-size-medium;
        color: $text-color-default;
        margin-bottom: 0;
        font-weight: $font-weight-mid;
        line-height: 1.3;
        span {
          display: block;
          margin-left: 1.65rem;
        }
        .hm-enterprise-customer {
          display: block;
          color: $sky-blue-default;
          text-transform: capitalize;
          margin-top: 0;
        }
        .awaiting-rate {
          span {
            font-weight: 600;
            font-size: $font-size-medium;
            color: $danger-color !important;
            text-decoration: underline !important;
          }
        }
      }
      .font-weight-mid {
        font-weight: $font-weight-mid;
      }

      .customer-image {
        width: 54px;
        min-width: 54px;
        height: 40px;
        border: 1px solid #6c757d2b;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }

      small {
        font-size: $font-size-base;
        color: $color-topmenu;
        text-transform: uppercase;
        line-height: 1;
        vertical-align: bottom;
        text-align: left;
        margin-top: 0.5rem;
      }

      span {
        font-size: $font-size-medium;
        font-family: $font-proxima;
        color: $color-topmenu;
        text-align: left;
      }

      a {
        text-decoration: underline !important;

        &.ports-link {
          font-family: $font-proxima;
          color: $secondary-color;
          font-size: $font-size-medium;
          font-weight: 600;

          span {
            color: $secondary-color;
            text-decoration: underline;
          }
        }
      }
    }

    .ports-calendar {
      font-size: $font-size-medium;
      font-family: $font-proxima;
      padding-bottom: 0.9rem;
      padding-top: 0.55rem;
    }

    &.angle-arrow {
      &:before {
        content: "";
        height: 70px;
        width: 1px;
        border: 0.5px solid #6c757d2b;
        position: absolute;
        transform: rotate(35deg);
        top: 50.5px;
        right: 25px;
        transition: 0.8s;
      }

      &:after {
        content: "";
        height: 70px;
        width: 1px;
        border: 0.5px solid #6c757d2b;
        position: absolute;
        transform: rotate(-35deg);
        top: -6.5px;
        right: 25px;
        transition: 0.8s;
      }

      // @media only screen and (max-width: $screen-xs-screen) {
      //   &:before,
      //   &:after {
      //     display: none;
      //   }
      // }
    }

    @media (max-width: $screen-fourteen-hundred) {
      .angle-arrow {
        &:before,
        &:after {
          right: 15px !important;
        }
      }
    }
  }

  @media (max-width: $screen-md-screen) {
    .border-separated {
      border-right: 0px;
      border-bottom: 1px solid #6c757d2b;
      padding-bottom: 10px;
    }

    .hr-solid {
      margin-top: 10px !important;
    }
  }

  .warehouse-card {
    &-right {
      .share-btn {
        position: absolute;
        right: 8px; // top: -33px;
        top: -0.6rem;
      }
    }
    .card-title {
      font-size: 1.2rem;
    }
    .description {
      font-family: $font-proxima;
      font-size: $font-size-medium;
    }
    .badge-bonded {
      background-color: $primary-color;
      border: $primary-color;
      color: $white-color;
      padding: 0.4rem 0.75rem 0.2rem;
    }
    .badge-success {
      background-color: $secondary-color;
      color: $white-color;
      cursor: context-menu;
      padding: 0.4rem 0.75rem 0.2rem;
    }
    .badge-warehouse {
      background-color: $white-color;
      color: $search-message-box-fontcolor;
      text-transform: capitalize;
      font-weight: 400 !important;
      font-size: 0.875rem !important;
      margin-top: 1.15rem;
      padding: 0.4rem 0;
    }

    .card {
      padding: 1rem 1rem 0.5rem !important;

      &-body,
      .google-map-card-video-section {
        .card-title {
          font-size: 1.6rem;
          max-width: 30rem;

          .warehousing-provider-icon {
            width: 94px;
            height: 70px;
            border: 1px solid $light-grey-border;
            padding: 2px;
            position: absolute;
            right: 8px;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }

        // .logo {
        //   .gallery-section {
        //     .images-carousel {
        //       img {}
        //     }
        //   }
        // }

        .warehousing-content {
          .country {
            &-code {
              font-size: 1.2rem;
            }
            &-price {
              font-size: 3rem;
            }
          }

          .date-range {
            color: $secondary-grey;
            font-style: italic;
          }
        }
      }
    }
    .shipping-news {
      font-family: $font-proxima;
      margin-bottom: 0.5rem;

      &-company {
        margin-top: 20px;
        height: 100%;
        float: left;
      }

      .card {
        border: 1px solid $left-sidebar-border-color;
        transition: all ease 0.7s;
        border-radius: 0;

        &.isDiscount {
          border: 1px solid $secondary-color;

          .flex-badges {
            .badge-success {
              background: #c0f6f2;
              color: $secondary-color;
              border: none;
            }
          }
        }

        &-title {
          font-size: $font-size-large + 0.25rem;
          font-family: $font-pragmatica;
          font-weight: $font-weight-mid;
          display: flex;
          justify-content: space-between;
          margin: 0; // flex-direction: column;

          span {
            // flex: 1;
            width: 260px;
          }

          @media (max-width: 767px) {
            display: inline-block;
            width: 100%;
            max-width: 100%;
            margin: 1rem 0;

            .warehousing-provider-icon {
              position: relative !important;
              margin: 1rem 0;
            }
          }
        }

        &-body,
        .google-map-card-video-section {
          padding: 0.75rem 1.25rem;

          .seperator-l {
            border-left: 1px dashed;
            border-color: rgb(229, 229, 229);
          }

          .promo-caption {
            img,
            svg {
              width: 1rem;
              color: $secondary-color-dark;
              fill: $secondary-color-dark;
              margin-bottom: -3px;
              display: none;
            }

            p {
              font-size: $font-size-medium;
              color: $secondary-color-dark;
              font-family: $font-proxima;
              margin: 0;
            }
          }

          .logo {
            float: left;
            width: 80px;
            height: 65px;
            text-align: center;
            // padding: 8px 0;
            margin: 0 18px 0px 0px;
            border: 1px solid $grey-border;

            &-2 {
              margin-top: 13px;
              width: 45px;
            }

            img {
              width: 100%;
              padding: 2px;
              // padding: 0px 2px;
              object-fit: contain;
              height: 100%;
            }
          }

          .verified-logo {
            img.logo-2 {
              margin-top: 0px !important;
            }
          }

          .additional-charges {
            color: $text-grey;
            font-size: $font-size-base;
            display: inline-flex;

            p {
              margin-left: 6px;
              margin-bottom: 0px;
            }
          }

          .flex-badges {
            position: absolute;
            top: -0.75rem;
          }
        }

        &-text {
          display: block;
        }

        .country-code {
          font-family: $font-pragmatica;
          font-size: 1.2rem;
          color: $text-color-default;
          font-weight: $font-weight-mid;
          margin-bottom: 4px; //margin-top: 10px;

          &-strike {
            font-size: $font-size-large;
            color: $text-grey;
            font-weight: $font-weight-mid;
            margin: 0;
            text-decoration: line-through;
            margin-bottom: -12px;
          }
        }

        .country-price {
          font-size: 3rem;
          font-family: $font-proxima;
          font-weight: $font-weight-mid;
          color: $text-color-default;
          line-height: 0.8;
        }

        .old-price {
          font-size: 18px;
          font-family: $font-proxima;
          color: $break-down-color;
          margin: 0px 0;
          float: left;
          text-decoration: line-through;
          width: 100%;
          padding-top: 0.5rem;
        }

        .badge-image {
          img {
            width: 38px;
          }
        }

        .book-btn {
          font-size: $font-size-large;
          font-family: $font-proxima;
          font-weight: $font-weight-normal;
          text-transform: uppercase;
          margin-top: 10px;
          padding: 0.5rem 1.5rem;
          float: left;
          margin-top: 18px;
          position: relative; // right: 55px;
          // min-width: 144px;
          max-height: 40px; // font-size: $font-size-large;
          // text-transform: uppercase;
          // margin-top: 25px; // border: 0;
          // // border-color: $btn-disable-background !important;
          background: $btn-disable-background !important;
          border-color: #e3e7e9;
          color: $btn-disable-color;
        }

        &-footer {
          font-weight: 600;
          font-family: $font-proxima;
          border-bottom: 0px;
          border-left: 0px;
          border-radius: 0px;
          background: $modal-header-background;
          border-top: 1px solid $left-sidebar-border-color !important;
          // display: flex;
          // align-items: center;
          // justify-content: space-between; // .icons {

          //   float: left;
          //   i {
          //     font-weight: 500;
          //     font-size: 1rem;
          //     margin-right: 12px;
          //     float: left;
          //     margin-top: 0.2em;
          //   }
          //   img {
          //     margin-right: 8px;
          //     display: inline-flex;
          //     margin-top: -0.2em;
          //     width: 1rem;
          //   }
          //   label {
          //     font-size: $font-size-medium;
          //     margin: 0px;
          //     font-weight: 500;
          //   }
          // }
          .rate-validate {
            color: $primary-color;
          }
          .route-details {
            text-transform: uppercase;
            float: right;
            font-size: $font-size-base;
            font-family: $font-proxima;
            font-weight: $font-proxima-weight-semibold;
            color: $dark-grey-blue;
            cursor: pointer;
          }
        }

        &:hover {
          border: 1px solid $primary-color;
          box-shadow: 0px 20px 50px 0px rgba(51, 59, 69, 0.15);
          transition: 1s;
          box-shadow: 0px 20px 50px 0px rgba(51, 59, 69, 0.15);
          border: 1px solid $primary-color;

          button {
            background-color: $secondary-color !important;
            border-color: $secondary-color;
            color: $white-color !important;
          }

          border: 1px solid $primary-color;

          .card {
            border: 0px solid $primary-color !important;
          }

          .btn-outline-primary {
            background: transparent !important;
            color: $dropdown-shipping !important;
            border-color: $dashed-border-color;
          }
        }
      }

      .share-icon {
        position: absolute;
        right: 5px;
        top: -0.625rem;
        width: 16px;
      }

      .col-sm-12.mb-2 {
        .share-btn {
          position: absolute;
          right: 5px;
          bottom: -5px;
        }
      }
    }

    &.warehousing {
      .hash-search-right {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .my-custom-class .tooltip-inner {
        background-color: darkgreen;
        width: 20px;
        font-size: 125%;
      }

      .my-custom-class .arrow::before {
        border-top-color: darkgreen;
      }

      .shipping-news {
        &-company {
          width: 180px;
          height: 136px;
          float: left;
          margin-right: 28px;
        }

        .card {
          &-header {
            background-color: rgba(0, 0, 0, 0);
            border-bottom: 1px solid rgba(229, 229, 229, 0.502);

            .badge {
              &-warehouse {
                background-color: $color-white;
                border: $primary-color;
                color: $primary-grey;
                text-transform: capitalize;
                font-weight: $font-weight-normal !important;
                font-size: $font-size-medium !important;
                margin-top: 1.3rem;
                position: absolute;
              }
              &-bonded {
                background-color: $primary-color;
                border: $primary-color;
                color: $color-white;
                margin-top: 1.3rem;
                position: absolute;
              }
            }

            .warehousing-header {
              .icon {
                margin-top: 1rem;

                svg {
                }
              }

              .lable {
                text-transform: uppercase;
                font-size: $font-size-base;
                color: $secondary-grey;
              }

              h4 {
                font-size: $font-size-large;
                color: $text-color-default;
                font-weight: $font-weight-mid;
                margin-left: 1.2rem;
              }
            }
          }

          // &-body {
          //   margin-bottom: 1.5rem !important;
          // }
          &-title {
            margin-bottom: 0.25rem;

            // span {
            //   width: 210px;
            //   min-height: 48px;
            // }
          }

          .book-btn {
            margin-top: 12px;
          }

          .logo {
            width: 100%;
            height: 100%;
            padding: 0;
            display: inline-block;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;

            img {
              width: 100%;
              height: 136px;
              object-fit: cover;
              padding: 0;
            }

            .images-carousel {
              &:first-child {
                width: 180px;
                position: relative; //top: 96px;
                height: 140px;
              }
            }

            .gallery-section {
              .video-icon {
                position: absolute;
                bottom: 0;
                padding: 3px 8px 0px 10px;
                background: #ffffffd6;
                border-radius: 0px 3px 0px 0px;

                a {
                  color: $secondary-color;
                }
              }

              &-item {
                position: absolute;
                top: 8px;
                right: 5px;
                background: #000000b0;
                color: #fff;
                border-radius: 12px;
                font-weight: $font-weight-bold;
                font-family: $font-proxima;
                font-size: $font-size-base;
                padding: 0.21rem 0.68rem;
              }
            }
          }

          .card {
            border: 0px !important;
          }
        }
      }

      /deep/ .warehousing-content {
        color: $white-color;
        display: block;

        .custom-tooltip {
          .arrow::before {
            border-bottom-color: $primary-color;
          }

          .tooltip-inner {
            max-width: 300px !important;
            padding: 1rem;
            background-color: $primary-color;
          }
        }

        .address {
          font-size: $font-size-medium;
          font-family: $font-proxima;
          color: $text-color-default;
        }

        .icons {
          float: left;

          i {
            font-weight: 500;
            font-size: 1rem;
            margin-right: 12px;
            float: left;
            margin-top: 0.2em;
          }

          img {
            margin-right: 8px;
            display: inline-flex;
            margin-top: -0.2em;
            width: 1rem;
          }

          label {
            font-size: $font-size-medium;
            margin: 0px;
            font-weight: 500;
          }
        }

        .share-btn {
          margin-top: -7px;
        }

        display: flex;
        flex-direction: column;

        .list-group {
          flex-direction: row;
          display: flex;

          li {
            border: 0px;
            padding: 0;
            display: flex;
            font-size: $font-size-medium;
            font-family: $font-proxima;
            color: $text-color-default; // .grey-anc-btn {

            //   width: 12rem;
            //   display: flex;
            //   align-items: flex-end;
            //   img.icon-size-14 {
            //     position: relative;
            //     bottom: 1px;
            //   }
            // }
            /deep/ .tooltip {
              width: 16rem;

              .tooltip-inner {
                width: 16rem;
                max-width: 16rem;
              }
            }

            .text-truncate {
              @media #{$mediumDesktop} {
                max-width: 185px !important;
              }
            }
          }

          .grey-anc-btn {
            // width: 12rem;
            // display: flex;
            // align-items: flex-end;
            img.icon-size-14 {
              position: relative;
              bottom: 1px;
            }
          }

          &.mt-2 {
            li {
              align-items: center;
            }
          }
        }
      }
    }

    &.lcl {
      .warehousing-content,
      .warehousing-provider-icon,
      .gallery-section {
        display: none;
      }
    }

    &.fcl {
      @extend .lcl;

      .fcl-content {
        text-align: right;

        h5 {
          color: $text-grey;
          font-size: $font-size-base;
          text-transform: uppercase;
          font-family: $font-proxima;
          font-weight: 500;
        }

        .card-text {
          // display: flex;
          // align-items: baseline;
          // justify-content: flex-end;
          font-size: $font-size-large + 0.2;
          font-family: $font-proxima;
          font-weight: 500;

          span {
            font-size: $font-size-base;
            margin-right: 0.2rem;
            font-weight: 400; // float: left;
            margin-top: 0.4rem;
          }
        }

        .book-btn {
          margin-top: 0.5rem !important;
        }
      }
    }

    .custom-group-dropdown {
      display: flex;

      h3 {
        font-size: $font-size-base;
        text-transform: uppercase;
        color: $secondary-grey;
        font-weight: $font-weight-mid;
        font-family: $font-proxima;
        margin-bottom: 0; //letter-spacing: 0.04em;
      }

      .btn-outline-primary {
        color: $dropdown-shipping;
        border-color: $dashed-border-color;
        text-align: left;
        border: 0px;
        font-size: $font-size-base;
        padding-left: 0rem;
        text-transform: uppercase;
        font-weight: $font-weight-mid;

        &:hover,
        &:active,
        &:focus {
          color: $dropdown-shipping !important;
          box-shadow: none !important;
          background: transparent !important;
        }
      }

      .dropdown-toggle {
        &::after {
          margin-left: 0.3rem;
          margin-top: 0.5rem;
          float: right;
        }

        &:focus {
          box-shadow: none;
        }

        &:active,
        &:not(:disabled):not(.disabled).active {
          background-color: $white-color !important;
          color: $dropdown-shipping;
        }
      }

      .show > .btn-outline-primary.dropdown-toggle {
        background-color: $white-color !important;
        color: $dropdown-shipping !important;
      }

      .dropdown-menu {
        padding: 0;
        border: 1px solid $light-grey-border;
        padding: 0.5rem;
        min-width: 30rem;
        max-height: 300px; // overflow-y: auto;
        overflow: hidden;

        .dropdown-item {
          padding: 0.5rem;
          cursor: pointer;
          background-color: $white-color;
          color: $text-color-default;
          display: flex;

          .provider {
            &-icon {
              width: 32px;
              height: 26px;
              border: 1px solid $light-grey-border;
              padding: 0px;
              margin-right: 6px;

              img {
                width: 100%;
                height: 100%;
              }
            }

            &-title {
              transition: all ease 0.09s;
              font-size: $font-size-medium;
              font-family: $font-proxima;
              font-weight: $font-weight-normal;
              position: relative;
              text-decoration: none;
              line-height: 2px;
              margin-right: 6px;
              white-space: initial;
              max-width: 290px;
              min-width: 290px;
              display: flex;
              align-items: center;
              line-height: 1;
            }

            &-price {
              transition: all ease 0.09s;
              font-size: $font-size-medium;
              font-family: $font-proxima;
              font-weight: $font-weight-normal;
              position: relative;
              text-decoration: none;
              line-height: 24px;
              margin-right: 6px;
            }
          }

          &:hover {
            background-color: $inner-background-color;
          }
        }

        .loader {
          height: 80px;
        }
      }
    }

    small {
      font-size: $font-size-base;
      font-weight: $font-weight-normal;
      font-family: $font-proxima;
      color: $secondary-text-color;
    }

    .area-unit {
      color: $primary-color;
      font-size: 1.2rem;
      font-family: $font-proxima;

      &-spot {
        font-size: $root-font-size;
        font-weight: $font-weight-mid;
        color: $primary-color;
        font-family: $font-proxima;
      }
    }
    .additional-info {
      font-size: $font-size-medium;
      font-weight: $font-weight-mid;
      color: $text-color-default;
      font-family: $font-proxima;
    }

    @media screen and (max-width: 768px) {
      .warehouse-mini-card {
        .shipping-news {
          &-company {
            height: 40%;
          }
        }
      }
    }
  }
  .commodity-details {
    .icon {
      width: 18px;
      height: 18px;
      float: left;
      margin: 4px 10px 20px 0;
      padding: 1px;
      fill: $secondary-grey;
    }
    .carrier-logo {
      margin-right: 12px;
      text-align: center;
      float: left;
      width: 16px;
      height: 16px;
      margin-top: 4px;
      overflow: hidden;
      background-color: transparent;
      position: relative;
      img {
        margin: 0;
        top: 23%;
        left: 14%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-12%, -20%);
        width: 100%;
        position: absolute;
      }
    }
    .col-md-4 {
      padding: 15px 15px 20px;
    }
    .lable {
      font-size: $font-size-base !important;
      font-weight: $font-weight-normal;
      text-transform: uppercase;
      color: $secondary-grey;
      font-family: $font-proxima;
    }
    h4 {
      padding-left: 28px;
      font-size: $font-size-large;
      font-weight: $font-weight-mid;
      font-family: $font-pragmatica;
      color: $text-color-default;
    }
    p {
      margin-left: 1.7rem;
      font-weight: $font-weight-mid;
      color: $text-color-default;
      font-family: $font-proxima;
    }
  }

  .cont-dtl-main {
    margin-top: -1.4rem !important;
    text-decoration: underline !important;
  }

  .cont-dtl {
    font-family: $font-proxima;
    color: #738593;
    font-size: 0.875rem;
    text-decoration: underline;
    font-weight: 600;
  }

  .make-quote-heading {
    color: $secondary-color;
    text-decoration: underline !important;
    text-decoration-color: $secondary-color;
  }
}
