<header id="header">
  <div class="container">
    <div class="container-fluid">
      <nav class="navbar navbar-default justify-content-between">
        <a class="navbar-brand" title="HashMove">
          <img class="logo"
            src="{{(userAvatar && isGuestLogin) ? userAvatar : '../../../assets/images/hashmove-logo.png'}}" alt="logo">
          <!-- <h1 class="text-hide m-0">Has  hMove</h1> -->
        </a>
        <ul class="navbar-nav flex-row" *ngIf="!isGuestLogin">
          <li class="nav-item" (click)="login()" *ngIf="!isLoggedIn && loginStatus?.toLowerCase() === 'dashboard'">
            <a class="nav-link loginLink d-flex align-items-center" href="javascript:;">
              <span class="mr-2">Login</span>
              <img src="../../../assets/images/icons/icons_login.svg" alt="login" class="icon-size-20">
            </a>
          </li>
          <li (click)="logOut()" class="nav-item" *ngIf="isLoggedIn && loginStatus?.toLowerCase() !== 'dashboard'">
            <a class="nav-link loginLink d-flex align-items-center" href="javascript:;">
              <span class="mr-2">Logout</span>
              <img src="../../../assets/images/icons/icons_logout.svg" alt="logout" class="icon-size-20">
            </a>
          </li>
          <li class="nav-item" ngbDropdown placement="bottom-right" contianer="body"
            *ngIf="isLoggedIn && loginStatus?.toLowerCase() === 'dashboard'">
            <ng-template #userInfoPop>
              <span class="d-flex flex-column">
                <div class="d-flex flex-row align-items-center">
                  <img class="icon-size-18" src="../../../../assets/images/icons/user_icon_gray.svg" alt="">
                  <div class="d-flex flex-column">
                    <span class="ml-2">{{loginUser?.FirstNameBL}} {{loginUser?.LastNameBL}} &nbsp; &nbsp; &nbsp; &nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <small class="ml-2 role-set-name" *ngIf="roleName">Role: {{roleName}}</small>
                  </div>
                </div>
              </span>
            </ng-template>
            <a class="nav-link hvr-icon-hang d-flex align-items-center justify-content-between pointer"
              id="dropdownBasic" ngbDropdownToggle>
              <div *ngIf="!isMobile" class="d-flex flex-column align-items-center">
                <img [ngbPopover]="userInfoPop" #p="ngbPopover" triggers="mouseenter:mouseleave" placement="left"
                  container="body" *ngIf="userAvatar" class="user-avatar mr-2" [src]="userAvatar" alt="user_icon">
                <img [ngbPopover]="userInfoPop" #p="ngbPopover" triggers="mouseenter:mouseleave" placement="left"
                  container="body" *ngIf="!userAvatar" class="user-avatar mr-2"
                  src="../../../../assets/images/icons/icons_user.svg" alt="user_icon">
                <!-- <small>&nbsp;</small> -->
              </div>
              <i *ngIf="!isMobile" class="fa fa-angle-down hvr-icon"></i>
              <i *ngIf="isMobile" class="fa fa-bars"></i>
            </a>
            <ul ngbDropdownMenu aria-labelledby="dropdownBasic" style="z-index: 99999"
              class="animated fadeIn userDropdown">
              <ng-container *ngFor="let route of accessRoutes">
                <li *ngIf="route?.ChildMenus?.length > 0;else normalMenu" class="dropdown-item">
                  <a (click)="onSubParentClick($event, route)" href="javascript:;" [routerLinkActive]="['active']">
                    <img src="../../../assets/images/icons/icon_report.svg" class="svg-icon" alt="Reports" />
                    <div class="menu-text d-flex flex-row justify-content-between align-items-center">
                      <span>{{route?.ObjectName}}</span>
                      <app-new-feature-alert [placement]="'bottom-right'"
                        [tipMsg]="newAppFeatures.REPORT_PERFORMANCE_MSG"
                        *ngIf="newAppFeatures?.REPORTS_PERFORMANCE && showPerformance"></app-new-feature-alert>
                      <img src="../../../../assets/images/icons/icon_arrow_right.svg" alt="direction"
                        class="icon-size-16 ml-2" [ngClass]="{'ic-rotate':route?.IsSubOpen}">
                    </div>
                  </a>
                  <ul class="custom-submenu animated fadeIn" *ngIf="route?.IsSubOpen">
                    <li *ngFor="let subMenu of route?.ChildMenus">
                      <a [routerLink]="[subMenu?.ObjectURL]" href="javascript:void(0)" class="nav-link">
                        <img class="svg-icon mr-2" src="../../../../../assets/images/icons/{{subMenu?.ObjectIconClass}}"
                          alt="">
                        <span class="menu-text">{{subMenu?.ObjectName}}</span>
                        <app-new-feature-alert [placement]="'right'" [tipMsg]="newAppFeatures.REPORT_PERFORMANCE_MSG"
                          *ngIf="subMenu?.ObjectBL ==='PERFORMANCE' && newAppFeatures?.REPORTS_PERFORMANCE && showPerformance">
                        </app-new-feature-alert>
                      </a>
                    </li>
                  </ul>
                </li>
                <ng-template #normalMenu>
                  <li *ngIf="route?.ObjectURL || route?.ChildMenus?.length > 0" class="dropdown-item">
                    <a href="javascript:;" [routerLinkActive]="['active']" [routerLink]="[route?.ObjectURL]">
                      <img src="../../../assets/images/icons/{{route?.ObjectIconClass}}" class="svg-icon"
                        alt="Manage Rates" />
                      <span>{{route?.ObjectName}}</span>
                      <app-new-feature-alert [placement]="'right'" [tipMsg]="newAppFeatures.SPOT_RATE_MSG"
                        *ngIf="route?.ObjectBL === 'SPOTRATES' && newAppFeatures?.SPOT_RATE">
                      </app-new-feature-alert>
                      <app-new-feature-alert [hasContainer]="true" [placement]="'right'"
                        [tipMsg]="newAppFeatures.ACCOUNTS_INVOICE_MSG"
                        *ngIf="route?.ObjectBL === 'INVOICES' && newAppFeatures?.ACCOUNTS_INVOICE">
                      </app-new-feature-alert>
                      <!-- <span class="badge badge-primary"
                        *ngIf="route?.ObjectBL === 'SPOTRATES' && spotRateBookings > 0">{{spotRateBookings}}</span>
                      <span class="badge badge-primary"
                        *ngIf="route?.ObjectBL === 'BOOKINGS' && currentBookingsCount> 0">{{currentBookingsCount}}</span> -->
                    </a>
                  </li>
                </ng-template>
              </ng-container>
              <li *ngIf="loginStatus?.toLowerCase() === 'dashboard'">
                <hr class="hr-solid mb-2">
              </li>
              <ng-container *ngFor="let route of settingsRoutes">
                <li *ngIf="route?.ChildMenus?.length > 0;else normalMenu" class="dropdown-item">
                  <a (click)="onSubParentClick($event, route)" href="javascript:;" [routerLinkActive]="['active']">
                    <img src="../../../assets/images/icons/icon_report.svg" class="svg-icon" alt="Reports" />
                    <div class="menu-text d-flex flex-row justify-content-between align-items-center">
                      <span>{{route?.ObjectName}}</span>
                      <app-new-feature-alert [placement]="'bottom-right'"
                        [tipMsg]="newAppFeatures.REPORT_PERFORMANCE_MSG"
                        *ngIf="newAppFeatures?.REPORTS_PERFORMANCE && showPerformance"></app-new-feature-alert>
                      <img src="../../../../assets/images/icons/icon_arrow_right.svg" alt="direction"
                        class="icon-size-16 ml-2" [ngClass]="{'ic-rotate':showRepSub}">
                    </div>
                  </a>
                  <ul class="custom-submenu animated fadeIn" *ngIf="route?.IsSubOpen">
                    <li *ngFor="let subMenu of route?.ChildMenus">
                      <a [routerLink]="[subMenu?.ObjectURL]" href="javascript:void(0)" class="nav-link">
                        <img class="svg-icon mr-2" src="../../../../../assets/images/icons/{{subMenu?.ObjectIconClass}}"
                          alt="">
                        <span class="menu-text">
                          {{subMenu?.ObjectName}}
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
                <ng-template #normalMenu>
                  <li *ngIf="route?.ObjectURL || route?.ChildMenus?.length > 0" class="dropdown-item">
                    <a href="javascript:;" [routerLinkActive]="['active']" [routerLink]="[route?.ObjectURL]">
                      <img src="../../../assets/images/icons/{{route?.ObjectIconClass}}" class="svg-icon"
                        alt="Manage Rates" />
                      <span>{{route?.ObjectName}}</span></a>
                  </li>
                </ng-template>
              </ng-container>
              <li class="dropdown-item">
                <a href="javascript:;" (click)="logOut()">
                  <img src="../../../assets/images/icons/icons_logout.svg" class="svg-icon" alt="Logout" />
                  <span>Logout</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>