@import '../../../assets/scss/_variables';

header {
  .role-name {
    font-size: 0.5rem;
    font-weight: 500;
    color: $primary-color;
  }
  .badge {
    background-color: $color-topmenu;
    font-weight: normal;
    margin-right: 4rem;
    border-radius: 20px;
    font-size: 0.8125rem !important;
    min-width: 22px;
    min-height: 20px;
    line-height: 12px;
    padding: 5px;
  }
  
  background: $white-color;
  padding: 6px 0;
  border-bottom: 1px solid $grey-border;
  box-shadow: 0 14px 97px #eaeaea;

  .ic-rotate {
    transform: rotate(90deg);
    // margin-right: 30px;
    transition: ease-in 0.5s;
  }

  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;

    .text-hide{
      background-image: url('../../../assets/images/hashmove-logo.png');
      width: 199px;
      height: 38px;
      background-repeat: no-repeat;
    }
    .logo {
      width: auto;
      height: 38px;
    }

    &-nav {
      .nav-item {
        .nav-link {
          &:after {
            content: unset;
          }

          .user-avatar {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 2px solid #e5e5e5;
            object-fit: contain;
          }

          &.loginLink {
            font-size: $font-size-large;
            text-transform: uppercase;
            color: $color-topmenu;

          }
        }
      }
    }
  }
  .custom-submenu {
    list-style-type: none;
    margin-top: -0.5rem;
  }
  .dropdown-menu {
    position: absolute;
    width: 250px;
    box-shadow: 0px 8px 27px #b9b7b7;
    border: 0px;

    .dropdown-item {
      font-size: $font-size-large;
      text-transform: capitalize;
      transition: all 0.5s ease;
      padding: 0 !important;

      a {
        display: flex;
        flex: 1;
        line-height: 1;
        align-items: center;
        padding: 0.8rem 1rem;
        transition: all 0.5s ease;


        .svg-icon {
          width: 20px;
          height: 20px;
          margin-right: 21px;
        }

        span {
          position: relative;
          color: $text-color-default;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 100%;
            height: 1px;
            background: $primary-color;
            transform: scaleX(0);
            transition: all 0.5s ease;
          }
        }

        &.active {
          padding-left: 1.5rem;
          span {
            color: $primary-color;

            &::before {
              content: "";
              position: absolute;
              left: 0;
              bottom: -3px;
              width: 100%;
              height: 1px;
              background: $primary-color;
              transform: scaleX(1);
              transition: all 0.5s ease;
            }
          }

        }

        &:hover {
          padding-left: 1.5rem;

          span {
            color: $primary-color;

            &::before {
              transform: scaleX(1);
            }
          }
        }        
      }

      &:active {
        background-color: #f8f9fa;
      }

      
    }

    &:before {
      content: " ";
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid $white-color;
      position: absolute;
      top: -12px;
      z-index: -1;
      right: 0.5rem;
    }
  }
}
