<label class="d-block m-0 h-100 pointer">
  <ng-content></ng-content>
  <input type="file" class="d-none" [multiple]="maxFilesCount > 1" #spyNgFilesInputSpy accept="{{acceptExtensions}}"
    (change)="onChange(spyNgFilesInputSpy.files); spyNgFilesInputSpy.value = ''" />
</label>