<div class="row mb-2 mt-2">
  <div class="col-12 booking-card animated bounceInDown">
    <div class="card quote-card">
      <div class="card-header-icon">
        <span *ngIf="request?.ShippingModeCode === 'SEA'">
          <img src="../../../../../assets/images/icons/icons_cargo_ship_white.svg" alt=""
            class="ship-mode icon-size-24">
        </span>
        <span *ngIf="request?.ShippingModeCode === 'WAREHOUSE'">
          <img src="../../../../../assets/images/icons/icon_warehouse_white.svg" alt="" class="ship-mode icon-size-24">
        </span>
        <span *ngIf="request?.ShippingModeCode === 'AIR'">
          <img src="../../../../../assets/images/icons/icon_plane_white.svg" alt="" class="ship-mode icon-size-24">
        </span>
        <span *ngIf="request?.ShippingModeCode === 'TRUCK'">
          <img src="../../../../../assets/images/icons/Icons_Cargo_Truck_white.svg" alt=""
            class="ship-mode icon-size-24">
        </span>
      </div>
      <div class="card-header">
        <div class="row">
          <div class="card-title m-0 card-header-left pr-0 col-6">
            <div class="row">
              <div class="pr-0 col-12">
                <h5 class="m-0">{{request?.RequestNo}}</h5>
                <p class="card-text special-request-text">
                  <span>
                    Requested by {{request?.Customer?.FirstName}} {{request?.Customer?.LastName}} on
                    {{request?.RequestDateTime | date : "d MMM, yyyy"}}
                    {{request?.RequestDateTime | date : "H:mm"}} (GMT)
                  </span>
                  <span class="special-request-badge mobile-badge">
                    <span *ngIf="request?.ProviderRequestActive"
                      class="badge badge-pill mt-1 {{getStatusColor(request)}} d-inline-block ml-2">
                      {{request?.RequestStatus}}
                    </span>
                    <span *ngIf="!request?.ProviderRequestActive"
                      class="badge badge-pill mt-1 hashmove-badge-danger d-inline-block ml-2">
                      Discard Request
                    </span>
                    <span *ngIf="request?.IsClosed && request?.CloseStatusName"
                      class="badge badge-pill mt-1 hashmove-badge-danger d-inline-block ml-2">
                      {{request?.CloseStatusName}}
                    </span>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="booking-card-status text-right card-header-right pl-0 col">
            <div class="actions mt-2">
              <ng-container *ngIf="isRequestEnabled && !isMobile">
                <span class="actions-btn d-flex">
                  <a [ngClass]="!isRequestEnabled?'disabled-link':'update-price'" href=" javascript:;"
                    class="new-quotes hvr-icon-forward" (click)="!isRequestEnabled?null:openSeaDialog()">
                    <span class="link-hover-1">Add Quote</span>
                  </a>

                  <a [ngClass]="!isRequestEnabled?'disabled-link':'discard'" href=" javascript:;"
                    class="discard hvr-icon-forward ml-2" (click)="!isRequestEnabled?null:cancelBooking()">
                    <span class="link-hover-1">Discard Request</span>
                  </a>
                </span>
                <div class="ic-download ml-1">
                  <a (click)="!isRequestEnabled?null:uploadDocuments()" href="javascript:;" [placement]="'top'"
                    container="body" [disableTooltip]="isMobile" ngbTooltip="Documents" class="hvr-icon-forward ml-1">
                    <object *ngIf="isRequestEnabled && request?.IsDocumentUploaded" class="icon-size-18 align-top"
                      data="../../../../../assets/images/icons/icon-document-tick.svg" type="image/svg+xml"></object>
                    <object *ngIf="isRequestEnabled && !request?.IsDocumentUploaded" class="icon-size-18 align-top"
                      data="../../../../../assets/images/icons/icon-document.svg" type="image/svg+xml"></object>
                    <object *ngIf="!isRequestEnabled" class="icon-size-18 align-top"
                      data="../../../../../assets/images/icons/icon-document-grey.svg" type="image/svg+xml"></object>

                  </a>
                </div>
              </ng-container>
              <div *ngIf="!request?.ResponseCount" class="d-flex align-items-center justify-content-end h-100"
                [ngClass]="{'mr-3':isMobile}">
                <a style="text-decoration: underline !important;" [disableTooltip]="isMobile" ngbTooltip="Messaging"
                  id="msg1" container="body" class="message hvr-icon-forward pointer ml-2" href="javascript:;"
                  (click)="openChat()">
                  <span class="m-0">
                    <span class="m-0">
                      <ng-container>
                        <object id="svg1" class="icon-size-18 align-top" style="margin-top: 1px;"
                          *ngIf="!request?.UserUnReadMsgCount || request?.UserUnReadMsgCount === 0"
                          data="../../../../../assets/images/icons/icon-chat-line.svg" type="image/svg+xml"></object>
                        <object id="svg2" *ngIf="request?.UserUnReadMsgCount > 0"
                          data="../../../../../assets/images/icons/icon-chat-line-red.svg"
                          type="image/svg+xml"></object>
                      </ng-container>
                    </span>
                  </span>
                </a>
              </div>
              <div *ngIf="request?.ResponseCount > 0" class="quote-request ml-2 pointer" [placement]="'top'"
                [disableTooltip]="isMobile"
                ngbTooltip="You have sent {{request?.ResponseCount}} {{request?.ResponseCount > 1?'quotes':'quote'}}"
                container="body" (click)="isMobile?viewQuotes():null">
                <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="users-medical" role="img"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"
                  class="svg-inline--fa fa-users-medical fa-w-20 fa-2x">
                  <path fill="currentColor"
                    d="M512 224a128 128 0 1 0 128 128 128 128 0 0 0-128-128zm0 224a96 96 0 1 1 96-96 96 96 0 0 1-96 96zm58.67-117.33h-37.34v-37.34A5.33 5.33 0 0 0 528 288h-32a5.33 5.33 0 0 0-5.33 5.33v37.34h-37.34A5.33 5.33 0 0 0 448 336v32a5.33 5.33 0 0 0 5.33 5.33h37.34v37.34A5.33 5.33 0 0 0 496 416h32a5.33 5.33 0 0 0 5.33-5.33v-37.34h37.34A5.33 5.33 0 0 0 576 368v-32a5.33 5.33 0 0 0-5.33-5.33zM320 256a112 112 0 1 0-112-112 111.94 111.94 0 0 0 112 112zm0-192a80 80 0 1 1-80 80 80.11 80.11 0 0 1 80-80zM96 224a80 80 0 1 0-80-80 80 80 0 0 0 80 80zm0-128a48 48 0 1 1-48 48 48 48 0 0 1 48-48zm288.81 352H176a16 16 0 0 1-16-16v-44.8a83.08 83.08 0 0 1 14.1-46.4c13.8-20.5 38.4-32.8 65.7-32.8s37.2 12 80.2 12a164.08 164.08 0 0 0 36.33-3.66A157.66 157.66 0 0 1 370 279.85c-13.87 3.51-26.11 8.15-50 8.15-38.4 0-46.7-12-80.1-12-36.3 0-71.6 16.2-92.3 46.9a114.59 114.59 0 0 0-19.6 64.3V432a48 48 0 0 0 48 48h241a161 161 0 0 1-32.19-32zM157.1 268.9A72.83 72.83 0 0 0 116 256H76c-41.9 0-76 35.9-76 80a16 16 0 0 0 32 0c0-26.5 19.8-48 44-48h40a39.79 39.79 0 0 1 15.7 3.3 138.76 138.76 0 0 1 25.4-22.4z"
                    class=""></path>
                </svg>
                <span class="quote-request--numb">{{request?.ResponseCount}}</span>
              </div>
              <span class="actions-btn">
                <a *ngIf="request?.ResponseCount > 0 && !isMobile" href="javascript:;"
                  class="quotes hvr-icon-forward ml-2" (click)="viewQuotes()">
                  <span class="link-hover-1"> View Quotes </span>
                  <i *ngIf="isExpanded" class="fa fa-angle-up hvr-icon" style="margin-left: 0.3rem;"></i>
                  <i *ngIf="!isExpanded" class="fa fa-angle-down hvr-icon" style="margin-left: 0.3rem;"></i>
                </a>
              </span>
              <span *ngIf="isMobile" class="actions-btn d-flex" ngbDropdown #headerDropMenu="ngbDropdown"
                placement="bottom-right" style="bottom:2px">
                <a href="javascript:;" class="quotes hvr-icon-forward ml-2 menu-ic" id="quoteAction" ngbDropdownToggle>
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <div ngbDropdownMenu aria-labelledby="quoteAction"
                  class="animated fadeIn userDropdown mobile-dropdown-menu">
                  <div class="d-flex flex-column">
                    <ng-container *ngIf="isRequestEnabled">
                      <span class="actions-btn d-flex flex-row ml-2 pointer mt-1"
                        (click)="!isRequestEnabled?null:openSeaDialog()">
                        <a class="new-quotes pull-right hvr-icon-forward">
                          <object class="icon-size-18 align-top"
                            data="../../../../../assets/images/icons/icon-add-quote.svg" type="image/svg+xml"></object>
                        </a>
                        <span class="ml-2 sm-grey-txt">Add Quote</span>
                      </span>
                      <hr *ngIf="isRequestEnabled" class="hr-solid mb-1">
                      <span class="actions-btn d-flex flex-row ml-2 pointer mt-1"
                        (click)="!isRequestEnabled?null:cancelBooking()">
                        <a class="discard pull-right hvr-icon-forward">
                          <svg class="delete-icon icon-size-16" id="317c8c47-17e2-4e96-9063-97bc9a32118b"
                            data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                            <defs>
                              <style>
                                .a2933809-f108-463d-a7d6-9972aa735edc {
                                  fill: #d32020;
                                }
                              </style>
                            </defs>
                            <g id="9ddd7984-9517-4e7f-881d-6292000e8e8a" data-name="delete">
                              <rect class="a2933809-f108-463d-a7d6-9972aa735edc" y="2" width="16" height="2" />
                              <rect class="a2933809-f108-463d-a7d6-9972aa735edc" x="5" width="6" height="2" />
                              <path class="a2933809-f108-463d-a7d6-9972aa735edc"
                                d="M2,5v9a2,2,0,0,0,2,2h8a2,2,0,0,0,2-2V5Zm5,9H5V7H7Zm4,0H9V7h2Z" />
                            </g>
                          </svg>
                        </a>
                        <span class="ml-2 sm-grey-txt">Discard Request</span>
                      </span>
                      <hr *ngIf="isRequestEnabled" class="hr-solid mb-1">
                    </ng-container>
                    <div class="ic-download d-flex flex-row ml-2 mt-1 pointer"
                      (click)="!isRequestEnabled?null:uploadDocuments()">
                      <a href="javascript:;" class="hvr-icon-forward">
                        <object *ngIf="isRequestEnabled && request?.IsDocumentUploaded" class="icon-size-18 align-top"
                          data="../../../../../assets/images/icons/icon-document-tick.svg"
                          type="image/svg+xml"></object>
                        <object *ngIf="isRequestEnabled && !request?.IsDocumentUploaded" class="icon-size-18 align-top"
                          data="../../../../../assets/images/icons/icon-document.svg" type="image/svg+xml"></object>
                        <object *ngIf="!isRequestEnabled" class="icon-size-18 align-top"
                          data="../../../../../assets/images/icons/icon-document-grey.svg"
                          type="image/svg+xml"></object>
                      </a>
                      <span class="ml-2 sm-grey-txt">Documents</span>
                    </div>
                    <hr *ngIf="request?.ResponseCount > 0" class="hr-solid mb-1">
                    <div class="ml-2 d-flex flex-row" (click)="viewQuotes()" *ngIf="request?.ResponseCount > 0">
                      <div class="quote-request pointer">
                        <span>
                          <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="users-medical"
                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"
                            class="svg-inline--fa fa-users-medical fa-w-20 fa-2x">
                            <path fill="currentColor"
                              d="M512 224a128 128 0 1 0 128 128 128 128 0 0 0-128-128zm0 224a96 96 0 1 1 96-96 96 96 0 0 1-96 96zm58.67-117.33h-37.34v-37.34A5.33 5.33 0 0 0 528 288h-32a5.33 5.33 0 0 0-5.33 5.33v37.34h-37.34A5.33 5.33 0 0 0 448 336v32a5.33 5.33 0 0 0 5.33 5.33h37.34v37.34A5.33 5.33 0 0 0 496 416h32a5.33 5.33 0 0 0 5.33-5.33v-37.34h37.34A5.33 5.33 0 0 0 576 368v-32a5.33 5.33 0 0 0-5.33-5.33zM320 256a112 112 0 1 0-112-112 111.94 111.94 0 0 0 112 112zm0-192a80 80 0 1 1-80 80 80.11 80.11 0 0 1 80-80zM96 224a80 80 0 1 0-80-80 80 80 0 0 0 80 80zm0-128a48 48 0 1 1-48 48 48 48 0 0 1 48-48zm288.81 352H176a16 16 0 0 1-16-16v-44.8a83.08 83.08 0 0 1 14.1-46.4c13.8-20.5 38.4-32.8 65.7-32.8s37.2 12 80.2 12a164.08 164.08 0 0 0 36.33-3.66A157.66 157.66 0 0 1 370 279.85c-13.87 3.51-26.11 8.15-50 8.15-38.4 0-46.7-12-80.1-12-36.3 0-71.6 16.2-92.3 46.9a114.59 114.59 0 0 0-19.6 64.3V432a48 48 0 0 0 48 48h241a161 161 0 0 1-32.19-32zM157.1 268.9A72.83 72.83 0 0 0 116 256H76c-41.9 0-76 35.9-76 80a16 16 0 0 0 32 0c0-26.5 19.8-48 44-48h40a39.79 39.79 0 0 1 15.7 3.3 138.76 138.76 0 0 1 25.4-22.4z"
                              class="">
                            </path>
                          </svg>
                          <span class="quote-request--numb">{{request?.ResponseCount}}</span>
                        </span>
                      </div>
                      <span style="width:14rem" class="ml-2 sm-grey-txt link-hover-1">View Quotes </span>
                    </div>
                  </div>
                </div>
              </span>
            </div>

          </div>
        </div>
      </div>

      <ng-container *ngIf="request?.ResponseCount > 0 && isExpanded;else simpleBoking">
        <div class="quotes-body" *ngIf="requestStatusList?.length > 0">
          <div *ngFor="let req of request?.ChildRequests">
            <app-rate-request-card-child [IsSpotratAllowed]="IsSpotratAllowed"
              (updateBookDesc)="onBookDescChange($event)" (addRate)="openSeaDialog()" [request]="req"
              [requestStatusList]="requestStatusList" [isRequestEnabled]="isRequestEnabled"
              (responseUpdate)="onChildResponse()">
            </app-rate-request-card-child>
          </div>
        </div>
      </ng-container>
      <ng-template #simpleBoking>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 col-12 border-right">
              <ng-container>
                <div class="row">
                  <div class="col-6 right-arrow">
                    <div class="booking-detail">
                      <div class="booking-detail-title mb-3"
                        *ngIf="request?.ShippingModeCode?.toLowerCase() !== 'warehouse'">From</div>
                      <div class="booking-detail-title mb-3"
                        *ngIf="request?.ShippingModeCode?.toLowerCase() === 'warehouse'">Detail</div>
                      <h4 *ngIf="request?.Origin?.PolType?.toUpperCase() === 'GROUND'" class="text-truncate m-0"
                        [placement]="'left'" container="body" [disableTooltip]="isMobile"
                        ngbTooltip="{{request?.Origin?.PolInputAddress}}">
                        <div class="flag-icon-20-14 pull-left mr-2 ">
                          <img
                            src="../../../../../assets/images/flags/4x3/{{request?.Origin?.PolCountryCode | lowercase}}.svg"
                            alt="" class="border">
                        </div>
                        {{request?.Origin?.PolCityName}}
                        <span class="PolCode">({{request?.Origin?.PolCode}})</span>
                        <small class="name">{{request?.Origin?.PolName}}</small>
                      </h4>
                      <h4
                        *ngIf="request?.Origin?.PolType?.toUpperCase() !== 'GROUND' && request?.ShippingModeCode !== 'WAREHOUSE' "
                        class="text-truncate m-0" [placement]="'left'" container="body" [disableTooltip]="isMobile"
                        ngbTooltip="{{request?.Origin?.PolCode}}">
                        <div class="flag-icon-20-14 pull-left mr-2">
                          <img class="border"
                            src="../../../../../assets/images/flags/4x3/{{request?.Origin?.PolCountryCode | lowercase}}.svg"
                            alt="">
                        </div>
                        {{request?.Origin?.PolCode}}
                      </h4>
                      <small
                        *ngIf="request?.Origin?.PolType?.toUpperCase() === 'TRUCK' && request?.ShippingModeCode !== 'WAREHOUSE'"
                        class="name">{{request?.Origin?.PolName}}</small>
                      <h4 *ngIf="request?.ShippingModeCode === 'WAREHOUSE'" [disableTooltip]="isMobile"
                        [ngbTooltip]="request?.WarehouseDet?.WHName" [placement]="'left'" container="body">
                        <div class="flag-icon-20-14 pull-left mr-2">
                          <img
                            src="../../../../../assets/images/flags/4x3/{{request?.WarehouseDet?.WHCountryCode | lowercase}}.svg"
                            alt="" class="border">
                        </div>
                        {{request?.WarehouseDet?.WHName}}
                      </h4>
                      <div class="text-truncate m-0" style="max-width: 10rem;"
                        *ngIf="request?.Origin?.PolType?.toUpperCase() !== 'GROUND'">
                        <small *ngIf="request?.Origin?.PolType?.toUpperCase() !== 'GROUND'" [disableTooltip]="isMobile"
                          [ngbTooltip]="(request?.Origin?.PolType?.toUpperCase() === 'TRUCK')?request?.Origin?.PolInputAddress:request?.Origin?.PolName"
                          [placement]="'left'" container="body">{{(request?.Origin?.PolType?.toUpperCase() ===
                          'TRUCK')?request?.Origin?.PolInputAddress:request?.Origin?.PolName}}</small>

                        <!-- <br *ngIf="request?.Destination?.PodType !== 'GROUND'"> -->
                        <small class="text-truncate mt-1"
                          *ngIf="request?.ShippingModeCode !== 'WAREHOUSE' && request?.ShippingModeCode !== 'ASSAYER' && request?.ShippingModeCode !== 'INSURANCE'"
                          [disableTooltip]="isMobile" [ngbTooltip]="request?.Origin?.PolCountry" [placement]="'left'"
                          container="body">{{request?.Origin?.PolCountry}}</small>
                      </div>
                      <ul class="list-group list-group-flush mt-3">
                        <li class="list-group-item d-flex align-items-center mb-1"
                          *ngIf="request?.ShippingModeCode?.toLowerCase() !== 'warehouse' && request?.ShippingModeCode !== 'AIR' && request?.EtdUtc">
                          <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                            class="icon-size-14 mr-2">
                          {{request?.EtdUtc | date : "d MMM yyyy"}}
                        </li>
                        <ng-container *ngIf="request.ShippingMode === 'WAREHOUSE'">
                          <li class="list-group-item d-flex align-items-center"
                            *ngIf="request?.ShippingModeCode?.toLowerCase() === 'warehouse' && request?.WarehouseDet?.StoredFromUtc">
                            <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                              class="icon-size-14 mr-2">
                            {{request?.WarehouseDet?.StoredFromUtc | date : "d MMM, yyyy"}} -
                            {{request?.WarehouseDet?.StoredUntilUtc | date : "d MMM, yyyy"}}
                          </li>
                          <li class="list-group-item d-flex align-items-center"
                            *ngIf="request?.ShippingModeCode?.toLowerCase() === 'warehouse' && request?.WarehouseDet?.WHMinimumLeaseTerm">
                            <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                              class="icon-size-14 mr-2">
                            Lease Term: {{request?.WarehouseDet?.WHMinimumLeaseTerm}}
                          </li>
                        </ng-container>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6" *ngIf="request?.ShippingModeCode?.toLowerCase() !== 'warehouse'">
                    <div class="booking-detail">
                      <div class="booking-detail-title mb-3">To</div>
                      <h4 class="m-0" *ngIf="request?.Destination?.PodType?.toUpperCase() === 'GROUND'"
                        [placement]="'left'" container="body" [disableTooltip]="isMobile"
                        ngbTooltip="{{request?.Destination?.PodInputAddress}}">
                        <div class="flag-icon-20-14 pull-left mr-2 ">
                          <img
                            src="../../../../../assets/images/flags/4x3/{{request?.Destination?.PodCountryCode | lowercase}}.svg"
                            alt="" class="border">
                        </div>
                        {{request?.Destination?.PodCityName}}
                        <span class="PodCode">({{request?.Destination?.PodCode}})</span>
                        <small class="name">{{request?.Destination?.PodName}}</small>
                      </h4>
                      <h4 class="m-0" *ngIf="request?.Destination?.PodType?.toUpperCase() !== 'GROUND'"
                        [placement]="'left'" container="body" [disableTooltip]="isMobile"
                        ngbTooltip="{{request?.Destination?.PodCode}}">
                        <div class="flag-icon-20-14 pull-left mr-2"
                          *ngIf="request?.ShippingModeCode?.toLowerCase() !== 'warehouse'">
                          <img
                            src="../../../../../assets/images/flags/4x3/{{request?.Destination?.PodCountryCode | lowercase}}.svg"
                            alt="" class="border">
                        </div>
                        {{request?.Destination?.PodCode}}
                      </h4>
                      <small *ngIf="request?.Destination?.PodType?.toUpperCase() === 'TRUCK'"
                        class="name">{{request?.Destination?.PodName}}</small>
                      <div class="text-truncate m-0" style="max-width: 10rem;"
                        *ngIf="request?.Destination?.PodType?.toUpperCase() !== 'GROUND'">
                        <small *ngIf="request?.Destination?.PodType?.toUpperCase() !== 'GROUND'"
                          [disableTooltip]="isMobile"
                          [ngbTooltip]="(request?.Destination?.PodType?.toUpperCase() === 'TRUCK')?request?.Destination?.PodInputAddress:request?.Destination?.PodName"
                          [placement]="'left'" container="body">{{(request?.Destination?.PodType ===
                          'TRUCK')?request?.Destination?.PodInputAddress:request?.Destination?.PodName}}</small>
                      </div>
                      <small class="mt-1" [disableTooltip]="isMobile" [ngbTooltip]="request?.Destination?.PodCountry"
                        [placement]="'left'" container="body">{{request?.Destination?.PodCountry}}</small>
                      <ul class="list-group list-group-flush mt-3">
                        <li *ngIf="request?.ShippingModeCode !== 'AIR' && request?.EtaUtc?.length > 1"
                          class="list-group-item d-flex align-items-center mb-1">
                          <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                            class="icon-size-14 mr-2">
                          {{request?.EtaUtc | date : "d MMM, yyyy"}}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12 booking-detail"
                    *ngIf="request?.ShippingModeCode === 'AIR' && request?.AirDet?.PickupFrom">
                    <div class="row">
                      <div class="col-7">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex align-items-center">
                            <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                              class="icon-size-14 mr-2">
                            {{request?.AirDet?.PickupFrom | date : "d MMM, yyyy"}}
                          </li>
                        </ul>
                      </div>
                      <div class="col-5">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex align-items-center">
                            <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt=""
                              class="icon-size-14 mr-2">
                            {{request?.AirDet?.PickupTo | date : "d MMM yyyy"}}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <app-via-port *ngIf="request?.ShippingModeCode === 'AIR' && request?.AirDet?.JsonPortVia?.length > 1"
                [viaPorts]="request?.AirDet?.JsonPortVia"></app-via-port>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 border-right">
              <div class="booking-detail pl-2">
                <div class="booking-detail-title mb-2">
                  Customer
                </div>
                <h4 class="m-0 provider d-flex align-items-center">
                  <div class="provider-logo mr-2">
                    <img *ngIf="request?.Customer?.CustomerImage" src="{{getImage(request?.Customer?.CustomerImage)}}"
                      alt="">
                    <img *ngIf="!request?.Customer?.CustomerImage"
                      src="../../../../../assets/images/icons/Icons_User.svg" alt="logo" />
                  </div>
                  <span style="display: flex;flex-direction: column;">
                    <span>{{request?.Customer.CustomerName}}</span>
                    <small *ngIf="request?.Customer?.HMCustomerNature"
                      class="hm-enterprise-customer">{{request?.Customer?.HMCustomerNature}}</small>
                  </span>
                </h4>
                <div class="row mt-3">
                  <div class="col-xl-8 col-lg-8 col-md-8 col-6">
                    <ng-container *ngIf="request?.ShippingModeCode === 'AIR' || request?.ShippingModeCode === 'SEA'">
                      <div class="booking-detail-title mb-2">
                        {{request?.ShippingModeCode === 'AIR'?'Airline':'Shipping Line'}}
                      </div>
                      <h4 class="m-0 provider d-flex align-items-center">
                        <div class="provider-logo mr-2">
                          <img
                            src="../../../../../assets/images/icons/{{request?.ShippingModeCode==='SEA'?'icons_cargo_ship_grey.svg':'icon_plane.svg'}}"
                            alt="">
                        </div>
                      </h4>
                    </ng-container>
                  </div>
                  <div
                    *ngIf="request?.ShippingModeCode !== 'WAREHOUSE' || (request?.ShippingModeCode === 'WAREHOUSE' && request?.TotalContainerQty > 0)"
                    class="provider-cargo col-xl-4 col-lg-4 col-md-4 col-6 pr-0 actions-btn">
                    <div class="booking-detail-title mb-2">
                      Cargo
                    </div>
                    <h4 class="m-0 provider d-flex align-items-center">
                      <ng-container *ngIf="request?.ShippingModeCode === 'AIR'">
                        {{request?.AirDet?.ChargeableWeight | number: '1.0-0'}} KG
                      </ng-container>
                      <ng-container *ngIf="totalCBM && searchMode === 'sea-lcl'">
                        {{totalCBM | number: '1.0-0'}} CBM
                      </ng-container>
                      <ng-container *ngIf="searchMode === 'sea-fcl' || searchMode === 'truck-ftl'">
                        {{request?.ContainerLoad}} x {{request?.TotalContainerQty}}
                      </ng-container>
                      <ng-container *ngIf="request?.ShippingModeCode?.toLowerCase() === 'warehouse'">
                        {{request?.TotalContainerQty}} {{request?.TotalContainerQty> 1?'Containers':'Container'}}
                      </ng-container>
                    </h4>
                    <a class="ports-link view-details" href="javascript:;" (click)="openCargoDetails()">
                      <span class="link-hover-1">View Details</span>
                    </a>
                  </div>
                  <div *ngIf="request?.AirDet?.PriceBasisType?.length > 1"
                    class="provider-cargo col-{{(request?.ContainerLoad === 'FCL') ? '4' : 12}}"
                    [ngClass]="(request?.ContainerLoad === 'FCL') ? 'pl-0' : ''">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-12 pr-0">
              <div class="booking-detail pl-2">
                <div class="row" [ngClass]="{'mt-4':isMobile, 'mt-5':!isMobile}">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-6">
                    <h4 *ngIf="request?.RequestStatusBL !== 'BOOKED' && isRequestEnabled"
                      class="SpecialRequest actions-btn">
                      <a (click)="openSeaDialog()" href="javascript:;"
                        class="await-quotes hvr-icon-forward awaiting-rate">
                        <span class="link-hover-1 m-0">Provide your Quote</span>
                      </a>
                    </h4>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-6 d-flex mobile-r" [ngClass]="{'d-flex':!isMobile}">
                    <div class="d-flex flex-row justify-content-between footer-actions pointer" style="width: 100%;"
                      [ngClass]="request?.RequestStatusBL === 'BOOKED'?'justify-content-center':'justify-content-between'">
                      <div class="d-flex mt-0 align-items-center" *ngIf="request?.HMCommissionRate > 0">
                        <span [disableTooltip]="!isMobile"
                          ngbTooltip="{{request?.HMCommissionRate | number :'1.0-0'}}% of booking value"
                          class="grey-sm-txt mt-1 pointer">HM Comm.</span>
                        <img src="../../../../../assets/images/icons/icon_info.svg" class="icon-size-12 ml-1" />
                      </div>
                    </div>
                    <small class="grey-sm-txt" *ngIf="isMobile">{{request?.HMCommissionRate | number :'1.0-0'}}% of
                      booking value</small>
                  </div>
                  <div *ngIf="request?.AirDet?.PriceBasisType?.length > 1"
                    class="provider-cargo col-{{(request?.ContainerLoad === 'FCL') ? '4' : 12}}"
                    [ngClass]="(request?.ContainerLoad === 'FCL') ? 'pl-0' : ''">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <div class="card-footer">
        <div class="d-flex justify-content-end">
          <div class="d-flex align-items-center ml-2 pointer view-detail" (click)="openPaymentTerms('view')"
            [disableTooltip]="isMobile" ngbTooltip="View Payment Terms">
            <img alt="" class="icon-size-16 mr-1"
              src="../../../../../assets/images/icons/icon-terms-and-conditions.svg" />
            <span style="font-size: 0.75rem !important;" class="grey-sm-txt ml-1 mr-2 link-hover-1">
              Payment Terms
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>