<div class="news-modal animated fadeIn">
  <div class="modal-header">
    <h4 class="provider-modal-title">Add/Edit News</h4>
    <a class="pointer crossIcon" (click)="closeModal(false)" style="width: 1rem;">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close">
    </a>
  </div>
  <div class="modal-body">

    <div class="row mt-3">
      <div class="col-3">
        <div class="form-group">
          <label>News Text</label>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <textarea class="form-control" maxlength="200" [(ngModel)]="newTitle"
            [ngClass]="(newTitle_error)? 'fieldError': ''" placeholder="eg: News Headline">
              </textarea>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <div class="form-group">
          <label>News Link</label>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="text" class="form-control" maxlength="100" placeholder="eg: www.companyname.com/news" [(ngModel)]="newsLink" />

        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <div class="form-group">
          <label>Validity Range</label>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="">
            <div class="dateIcon">
              <input autocomplete="off" #rangeDp class="form-control" placeholder="Start Date - End Date" name="dp"
                ngbDatepicker [dayTemplate]="t" [autoClose]="false" [placement]="'bottom'" [outsideDays]="true"
                [navigation]="false" [displayMonths]="2" [maxDate]="maxDate" [minDate]="minDate" #dp="ngbDatepicker"
                (click)="dp.toggle()">
            </div>
            <ng-template #t let-date="date" let-focused="focused">
              <span class="custom-day" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                [class.faded]="isHovered(date) || isInside(date)" (click)="onDateSelection(date)"
                (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col" style="display: flex;">
        <hr class="mb-3">
        <button class="btn btn-outline-primary hvr-sweep-to-right" type="button" (click)="addNews()">Save</button>
        <button class="btn btn-outline-primary hvr-sweep-to-right ml-3" type="button"
          (click)="closeModal(false)">Cancel</button>
      </div>
    </div>

  </div>
</div>