@import "../../../../assets/scss/_variables";
.news-modal {
    .combine-filed-popup {
        border-radius: 4px;
        &-left {
          font-size: 1rem;
          color: #2b2b2b;
          font-family: "proxima-nova", sans-serif;
          font-weight: $font-weight-mid;
          background: #f1f0f0;
          line-height: 1;
          padding: 15px 10px;
          border: 1px solid $input-border;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          &-btn {
            padding: 0;
            .dropdown-toggle {
              height: 48px;
              margin: 0 !important;
              width: 100%;
              border: 1px solid $input-border;
              background: #f1f0f0;
              border-radius: 4px 0 0px 4px;
              text-align: left;
              &:hover,
              &:focus {
                box-shadow: none !important;
                outline: 0 !important;
              }
              &:after {
                position: absolute;
                right: 15px;
                top: 22px;
              }
            }
            .dropdown-menu {
              max-height: 250px;
              overflow-y: auto;
              border: 1px solid $primary-color;
              box-shadow: 0 0 5px -1px $primary-color;
              .dropdown-item {
                &.custom-label {
                  color: $primary-color;
                  font-family: $font-proxima;
                  font-size: $font-size-medium;
                  padding: 0.5rem 1.5rem;
                  display: flex;
                  align-items: center;
                  margin-top: 10px;
                  img {
                    margin-right: 0.5rem;
                  }
                  &:hover {
                    color: $primary-color;
                  }
                }
                &.charges-form {
                  width: 313px;
                  margin: 0;
                  padding: 0.25rem 0;
                  .form-control {
                    font-family: $font-proxima;
                    font-size: $font-size-medium !important;
                    color: $disabled-text-color !important;
                  }
                }
                &:active,
                &:hover {
                  background: none !important;
                  color: inherit;
                }
              }
              .additional-dialog {
                width: 343px;
                overflow: unset;
                margin: 0;
                padding: 15px 0;
              }
            }
          }
        }
        &-mid {
          input {
            border-radius: 0px !important;
            border-color: #ced4da;
            // border-left: 0;
          }
        }
        &-right {
          input {
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            border-color: #ced4da;
            height: 48px;
            &:hover,
            &:focus {
              box-shadow: none !important;
              outline: 0 !important;
            }
          }
          &.hasDoubleRates {
            .form-control {
              width: 50%;
              float: left;
            }
            span {
              position: absolute;
              top: -1.5rem;
              &:first-child {
                left: 1rem;
              }
              &:nth-child(2) {
                left: 5.7rem;
              }
            }
          }
        }
        .active {
          box-shadow: 0 0 0 1px $color-topmenuactive;
          border-radius: 4px;
          position: relative;
        }
        &-delete {
          position: absolute;
          right: 10px;
          top: -4px;
          display: none;
        }
        &:hover {
          transition: 1s all ease-in;
          transition-delay: 2s;
          .combine-filed-popup-delete {
            transition: 2s all ease-in;
            transition-delay: 2s;
            display: block;
          }
        }
        .combo3x {
          display: flex;
  
          input {
            min-width: 1rem;
          }
          
        }
      }
      .dateIcon {
        position: relative;
  
        input {
          padding-left: 2.625rem;
        }
  
        &:before {
          content: url("../../../../assets/images/icons/Icons_Calendar.svg");
          position: absolute;
          left: 15px;
          top: 14px;
          width: 16px;
          height: 16px;
          z-index: 4;
          opacity: 0.5;
        }
      }
    .modal-header {
        background: $modal-header-background;
        .provider-modal-title {
            font-size: 1.25rem;
            margin: 4px 0 0 0;
        }
    }
    .modal-body {
        p {
            font-family: $font-proxima;
            font-size: 1rem;
            margin-bottom: 12px;
            padding: 20px 45px;
            line-height: 20px;
        }
    }
}