@import "../../../../assets/scss/_variables";

$tfooter-bg-color: #8f9da9;
$tfooter-color: $white-color;

.upload-booking-document {
  .alert-text {
    font-size: $root-font-size - 0.2;
  }
  .addChar-head {
    font-size: $font-size-medium;
    font-family: $font-proxima;
    color: $dark-grey-blue;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
  }
  .line-item {
    word-break: break-all;
    &-txt {
      min-height: 3rem;
    }
    &-heading {
      width: 28rem;
    }
  }

  .edit-dropdown {
    z-index: 999;
    text-align: center;
    .dropdown-toggle:after {
      display: none;
    }
    .dropdown-menu {
      &.show {
        z-index: 999;
        background: $white-color;
        width: 205px;
        box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.2);
        padding: 0.875rem 1rem;
        border: 0;
        top: -45px !important;
        right: 27px !important;
        left: auto !important;
        .dropdown-item {
          font-size: $font-size-large;
          font-weight: $font-weight-normal;
          color: $text-color-default;
          padding: 0.5rem 1rem;
          font-family: $font-proxima;
        }
      }
      &:before {
        content: " ";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid $white-color;
        position: absolute;
        top: 50px;
        right: -13px;
        transform: rotate(90deg);
      }
    }
  }

  .inputInvalid {
    border: 1px solid $danger-color;
    box-shadow: 0px 0px 9px $danger-color;
    border-color: $danger-color !important;
  }
  table {
    thead,
    .thead {
      border: 0px solid $boxes-border-grey;
      tr {
        th {
          border: 0;
        }
      }
      &-light {
        tr {
          th {
            padding: 1rem;
            background-color: $user-panel-bg;
            color: $dark-grey-blue;
            border: 0;
            font-size: $font-size-medium;
            font-family: $font-proxima;
            font-weight: $font-weight-normal;
            text-transform: uppercase;
          }
        }
      }
      &-dark {
        tr {
          th {
            padding: 1rem;
            background-color: $primary-color !important;
            color: $white-color;
            border: 0;
            font-size: $font-size-medium;
            font-family: $font-proxima;
            font-weight: $font-weight-normal;
            text-transform: uppercase;
          }
        }
      }
    }
    tbody {
      padding: 0.5rem 1.125rem;
      border: 1px solid $boxes-border-grey;
      background: $white-color;
      tr {
        border: 0;
        &:nth-of-type(odd) {
          background-color: rgba(255, 255, 255, 0.075);
        }
        &:nth-of-type(even) {
          background-color: rgba(0, 0, 0, 0.05);
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.075);
        }
        td {
          border-bottom: 1px dashed #e7e7e7 !important;
          vertical-align: middle;
          border: 0;
          padding: 0.75rem 1rem;
          p {
            margin: 0;
            font-family: $font-proxima;
            font-size: $font-size-large;
            color: $primary-color;
          }
          &:last-child {
            padding-right: 0;
            img {
              cursor: pointer;
            }
          }
        }
        td.user-info {
          img {
            margin-right: 0.75rem;
            margin-top: -1px;
          }
          p {
            font-family: $font-proxima;
            font-weight: $font-weight-normal;
            font-size: $font-size-medium;
            color: $secondary-text-color;
            display: inline-block;
            margin-bottom: 0;
          }
        }
      }
      .user-info-cty-name {
        font-size: $font-size-large;
        color: $secondary-text-color;
        font-family: $font-proxima;
        font-weight: $font-weight-normal;
        margin-left: 0.625rem;
      }
    }
    tfoot {
      &-light {
        background-color: $tfooter-bg-color;
        color: $dark-grey-blue;
      }
      td {
        padding: 0.75rem 1rem;
        background-color: $tfooter-bg-color;
        color: $tfooter-color;
        font-weight: $font-weight-mid;
        text-transform: uppercase;
      }
    }
  }
  .btn {
    height: 48px;
    font-size: $font-size-medium;
    font-weight: $font-proxima-weight-semibold;
    text-transform: uppercase;
    font-family: $font-proxima;
    &.disable {
      // cursor: no-drop;
      border: 0;
      background: $btn-disable-background !important;
      color: $btn-disable-color !important;
      border-radius: 2px;
      box-shadow: none !important;
      &:before {
        background: $btn-disable-background !important;
        color: $btn-disable-color !important;
      }
    }
  }
  .document-Info {
    .file-uploader {
      border: 1px dashed #e1d8d8;
      border-radius: 4px;

      .browse-span {
        color: $secondary-color;
        font-weight: 500;
      }

      .message-class {
        b {
          color: $primary-color;
        }
      }

      text-align: center;
      background-color: $color-white;

      app-ng-files-drag-n-upload {
        label {
          padding: 2rem 60px;
          // display: flex !important;
          // align-items: center;
          // justify-content: center;
        }
      }
    }

    .uploadedDocx {
      margin-top: 1rem;

      .uploaded-images {
        display: table;

        .display-upload {
          position: relative;
          height: 200px;
          z-index: 0;
          border: 1px solid $input-border;
          background-color: $color-white;
          border-radius: 4px;
          text-align: center;
          display: table-cell;
          vertical-align: middle;
          background-image: url("../../../../assets/images/img-canvas.png");
          background-size: 20px;

          img,
          video {
            max-width: 100%;
            max-height: 100%;
          }

          // .delete-icon {
          //   position: absolute;
          //   top: -10px;
          //   right: -8px;
          //   min-height: auto;
          //   background: $white-color;
          //   padding: 3px;
          //   border-radius: 50%;
          //   width: 23px;
          //   height: auto;
          //   border: none;
          // }

          &:hover {
            .delete-icon {
              animation-name: pulse;
              animation-fill-mode: both;
              animation-duration: 1s;
              animation-iteration-count: infinite;
            }
          }
        }
      }
    }
  }
  .city-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;

    > .flag-container {
      width: 20px;
      height: 16px;
      position: absolute;
      left: 20px;
      top: 10px;
      display: flex;

      img {
        width: 20px;
        height: 16px;
        border: 0px solid $primary-grey;
      }
    }

    input {
      &.routeSelected {
        padding-left: 3rem;
        // margin-top: 0.2rem;
      }
    }

    &.currency {
      ngb-typeahead-window {
        top: auto !important;
        bottom: 50px;
      }
    }
  }
  .flag-container {
    width: 15px;
    height: 12px;
    display: flex;
    margin-top: 5px;
    margin-right: 10px !important;
    img {
      border: 1px solid $primary-grey;
    }
  }

  .curr-inp-right-border {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  .curr-inp-left-border {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }

  .btn-refresh {
    margin-left: 0.75rem;
    .icon-svg {
      svg {
        fill: $secondary-color;
        width: 1.5rem;
        height: 1.5rem;
        &:hover {
          fill: $secondary-color-dark;
          transition: 0.8s;
          overflow: visible;
          transform: rotate(-180deg);
        }
      }
    }
  }

  .doc-remove-ic {
    float: right;
    width: 1rem !important;
    position: relative;
    right: 1rem;
    cursor: pointer;
  }
  .main-doc-container {
    margin-bottom: 16px;

    &-heading {
      margin-bottom: 16px !important;
      font-family: $font-pragmatica;
      font-size: $font-size-large + 0.25rem;
      color: $text-color-default;
      font-weight: $font-weight-mid;
      margin-top: 42px;
    }

    &-title {
      font-size: $font-size-medium;
      font-family: $font-proxima;
      font-weight: $font-proxima-weight-semibold;
      color: $dark-grey-blue;
      text-transform: uppercase;
      margin: 1.75rem 1.125rem 0;

      .flag-icon-20-12 {
        position: relative;
        top: -2px;
      }

      hr {
        border: 1px dashed #d7d7d7;
        margin-bottom: 0;
      }
    }
    .doc-message {
      font-size: $font-size-base;
      font-weight: $font-weight-normal;
      color: $text-grey;
    }

    .list-group {
      // margin: 20px 0 24px;
      &-item {
        border: 0;
        border-bottom: 0 dashed rgba(0, 0, 0, 0.125);
        // margin: 0 1.25rem;
        // padding: 0.5rem 0rem 0.4rem 0 !important;
        padding: 0.5rem 0.5rem 0.4rem 0.5rem !important;
        font-family: $font-proxima;
        font-size: $font-size-large;
        color: $text-color-default;
        font-weight: $font-weight-normal;
        margin-bottom: 10px;
        min-height: 50px;

        .view-booking-reasons {
          margin-top: 14px;

          &-name {
            font-size: $font-size-medium;
            font-weight: $font-weight-normal;
            color: $text-color-default;
          }

          &-desc {
            font-size: $font-size-medium;
            font-weight: $font-weight-normal;
            color: $text-color-default;
          }
        }

        &.active {
          background: $white-color;

          h6 {
            color: $primary-color;
          }

          .grey-anc-btn {
            background: transparent;
            box-shadow: none !important;
            font-size: $font-size-medium;
            font-family: $font-proxima;
            font-weight: $font-proxima-weight-semibold;
            color: $dark-grey-blue;
          }
        }

        &.rejected-doc {
          h6 {
            color: $danger-color;
          }
        }

        h6 {
          font-size: $font-size-large;
          font-family: $font-proxima;
          font-weight: $font-weight-normal;
          color: $text-color-default;
          line-height: 1;
        }

        p {
          font-size: $font-size-base;
          font-family: $font-proxima;
          font-weight: $font-weight-light;
          color: $text-grey;
          margin: 0;
          // margin-left: 1.8rem;
        }

        &:last-child {
          border: 0;
        }

        button.btn {
          height: 36px;
          width: 116px;
        }

        .animated-info {
          // animation: text-glow 1.5s infinite ease-in-out alternate-reverse;
          // color: $danger-color;

          .reason {
            color: $text-color-default !important;
            max-width: 340px;
            text-overflow: inherit;
            width: 100%;
            display: block;
          }
        }
      }

      .document-detail {
        &-left {
          flex-direction: column;
        }

        &-right {
          .badge {
            height: 26px;
            padding: 0 1rem;
            line-height: 2.2;
          }
        }
      }

      .d-block {
        margin-left: 12px;

        .check-icon {
          position: absolute;
          left: -13px;
          top: 10px;
        }
      }

      .check-icon {
        position: absolute;
        left: -6px;
        top: 3px;
      }

      .delete-icon {
        position: absolute;
        left: 0px;
      }
    }

    .contact {
      &-name {
        font-family: $body-fontfamily;
        font-weight: $font-weight-mid;
        font-size: $font-size-large;
        color: $text-color-default;
      }

      &-address {
        font-family: $font-proxima;
        font-size: $font-size-large;
        color: $secondary-text-color;
        word-break: break-all;

        span {
          word-break: initial;
        }

        &.unread {
          max-height: 76px;
          // max-height: 280px;
          overflow: hidden;
        }
      }

      .vendor-details-readMore {
        color: $primary-color !important;
      }

      &-info {
        @extend .contact-address;
      }
    }
    .document-container {
      display: flex;
      flex-direction: column;
      .document-title-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
    .document-simple {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .empty-title {
        margin-left: 2rem !important;
      }
    }
    .card {
      &-header {
        background: none;
        border: none;
        background-color: rgba(0, 0, 0, 0.03);
        padding: 0;
      }
      &-body {
        .other-document {
          max-height: 30rem;
          overflow-y: auto;
          button.btn.btn-link {
            padding-left: 0px;
            padding-right: 0px;
            text-decoration: none;
          }

          .accordion {
            &-title {
              line-height: 15px;
              margin: 0;
              // width: 16.5rem;
              color: $color-topmenuactive;

              span {
                margin: 0;
                font-family: $font-proxima;
                font-size: $root-font-size;
                color: $color-topmenuactive;
              }
            }

            // button.btn {
            //   height: 36px;
            //   width: 116px;
            // }

            &-time {
              margin: 0;
              color: $text-grey;
              font-size: $font-size-base;
              margin-left: 1.8rem;
            }

            .check-icon {
              position: relative;
              top: 3px;
              left: -4px;
            }

            .view-booking-reasons {
              margin-top: 14px;

              &-name {
                font-size: $font-size-medium;
                font-weight: $font-weight-normal;
                color: $text-color-default;
              }

              &-desc {
                font-size: $font-size-medium;
                font-weight: $font-weight-normal;
                color: $text-color-default;
              }
            }

            &.rejected-doc {
              .accordion-title span {
                color: $danger-color !important;
              }
            }
          }
          .uploader {
            &-cancel-btn {
              font-family: $font-proxima;
              font-size: $font-size-base;
              color: $color-topmenu;
              font-weight: $font-proxima-weight-semibold;
              text-transform: uppercase;
            }
          }
          .btn-outline-danger {
            &:active:before,
            &:focus:before,
            &:hover:before {
              transform: scaleX(1) !important;
              background-color: $danger-color !important;
              background: $danger-color !important;
            }
          }

          .docs-download {
            a {
              svg {
                width: 1.5rem;
                fill: $dark-grey-blue;
                transition: ease-in 0.3s;
              }
              &:hover {
                svg {
                  fill: $secondary-color !important;
                }
              }
            }
          }
        }
        .addAnother {
          color: $dark-grey-blue;
          font-family: $font-proxima;
          font-weight: $font-weight-mid;
          font-size: $font-size-medium;
          position: relative;
        }
      }
    }
  }
  .list {
    list-style: none;
    padding: 1rem;
    max-height: 38rem;
    overflow-y: auto;
    text-align: left;
    overflow-x: hidden;
  }
  .modal-header {
    .modal-title {
      font-size: 1.25rem;
      font-family: $font-proxima;
      font-weight: $font-proxima-weight-semibold;

      .small-text {
        font-size: $font-size-medium;
        font-family: $font-proxima;
      }
    }
  }

  .modal-label {
    font-size: $font-size-medium;
    color: $color-topmenu;
    font-family: $font-proxima;
    font-weight: $font-weight-mid;
    text-transform: uppercase;
  }
  .submit-btn {
    width: 200px;
    height: 47px;
    text-transform: uppercase;
  }
  .invoice-total-amount {
      background-color: $tfooter-bg-color;      
      padding: 0.75rem 1rem;      
      color: $tfooter-color;
      font-weight: $font-weight-mid;
      text-transform: uppercase;         
      
      // display: flex;
      // justify-content: flex-end;

      .amount-space {
        text-align: left;
      }
      
      .total {
        text-align: right;
      }
      .amount {
        text-align: left;
      }
  }
}
