<div class="upload-booking-document modal-content">
  <div class="modal-header pb-2 pt-2">
    <h4 class="modal-title mb-2 mt-2 d-flex align-items-center">
      Partner's Invoice for {{invoice?.HashMoveBookingNum}}
      <a *ngIf="selectedInvoice?.invoiceID > 0" class="btn-refresh" ngbTooltip="Refresh Booking Invoice" (click)="refreshDoc()" href="javascript:void(0)"
        ng-reflect-klass="nav-link grey-placeholder" ng-reflect-ng-class="">
        <i class="icon-svg icon-size-24">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
            x="0px" y="0px" viewBox="0 0 473.677 473.677" style="enable-background:new 0 0 473.677 473.677;"
            xml:space="preserve">
            <path
              d="M473.677,236.842c0-130.814-106.036-236.838-236.835-236.838C106.036,0.004,0,106.032,0,236.842  c0,130.795,106.036,236.831,236.842,236.831C367.641,473.673,473.677,367.637,473.677,236.842z" />
            <g>
              <path style="fill:#FFFFFF;"
                d="M414.449,297.547c-17.243-27.052-34.494-54.108-51.741-81.156c-2.909-4.57-9.218-4.458-12.12,0.045   c-17.374,26.966-34.756,53.936-52.133,80.902c-1.881,2.917-1.245,5.733,0.52,7.681c1.092,1.653,2.909,2.831,5.505,2.838   c9.151,0.022,18.301,0.045,27.448,0.067c-42.22,67.081-144.695,73.228-192.797,4.342c-15.407-22.06-51.86-0.995-36.293,21.304   c33.963,48.633,89.746,76.474,149.359,69.65c57.361-6.57,103.657-43.663,126.644-95.18c9.835,0.026,19.674,0.049,29.513,0.075   C413.537,308.126,417.366,302.12,414.449,297.547z" />
              <path style="fill:#FFFFFF;"
                d="M370.457,138.899c-33.97-48.633-89.75-76.478-149.366-69.65   c-57.933,6.63-104.547,44.43-127.288,96.761c-12.232-0.03-24.476-0.06-36.708-0.09c-5.187-0.015-9.02,5.987-6.099,10.561   c17.243,27.052,34.49,54.108,51.733,81.16c2.913,4.566,9.218,4.454,12.124-0.045c17.374-26.97,34.759-53.936,52.133-80.902   c1.877-2.917,1.245-5.729-0.512-7.677c-1.092-1.653-2.909-2.835-5.508-2.842c-6.847-0.015-13.694-0.034-20.545-0.049   c41.599-68.55,145.267-75.322,193.744-5.92C349.572,182.259,386.029,161.194,370.457,138.899z" />
            </g>
          </svg>
        </i>
      </a>
    </h4>
    <a class="pointer crossIcon" (click)="close()">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" style="width: 13px;">
    </a>
  </div>
  <div class="modal-body pb-0 mt-0 pt-0">
    <div class="row mt-2 main-doc-container">
      <div class="col-12 ">
        <div class="row">
          <div class="col-xl-12 col-sm-12">
            <div class="row">
              <div class="col-12">
                <div class="card" style="border: none;">
                  <div class="card-body pt-1">
                    <ng-scrollbar
                      [ngStyle]="{'height':invoice?.IsInvoiceDetRequiredOnUpload?heightLimit:'auto','max-height':heightLimit}">
                      <div class="pr-3">
                        <div class="row" *ngIf="isDocConfigSet && isInvoiceEditable">
                          <div class="col-12">
                            <div class="document-Info d-flex flex-column animated fadeIn">
                              <div class="file-uploader">
                                <app-ng-files-drag-n-upload (filesSelect)="selectDocx($event)" [configId]="'config'">
                                  <img src="../../../../assets/images/icons/manager-icon.png" />
                                  <p class="m-0 mt-3">
                                    Drag here or
                                    <span class="browse-span">browse</span> to upload
                                  </p>
                                  <div class="d-flex flex-column">
                                    <small *ngIf="currentDocObject?.DocumentFileContent"
                                      class="text-muted message-class mt-2 mb-2">
                                      <b style="font-size: 1rem;">{{currentDocObject?.DocumentName}}</b>
                                    </small>
                                    <small class="text-muted message-class">
                                      <b>Note:</b> {{docText}}
                                    </small>
                                  </div>
                                </app-ng-files-drag-n-upload>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="!isInvoiceEditable && additionalDocuments?.length > 0"
                          class="other-document border-0">
                          <div>
                            <span *ngFor="let document of additionalDocuments; let doc_index = index">
                              <div [id]="'static-' + doc_index " class="pr-3 card mt-3 p-2">
                                <div class="doc-title">
                                  <div class="accordion mb-2 d-flex flex-row justify-content-between"
                                    style="cursor:pointer">
                                    <div
                                      [ngClass]="(document?.DocumentID > -1 && document?.DocumentUploadDate) ?'document-container':'document-simple'">
                                      <div
                                        [ngClass]="{'document-title-container':(document?.DocumentID > 0 && document?.DocumentUploadDate)}">
                                        <h2 class="accordion-title"
                                          [ngClass]="{'empty-title':!(document?.DocumentID > 0)}">
                                          <img alt="check icon" class="icon-size-24 check-icon ng-star-inserted"
                                            src="../../../../../assets/images/icons/Icons_Check.svg"
                                            *ngIf="document?.DocumentID > 0">
                                          <span *ngIf="document?.DocumentID > -1" class="docTitle"
                                            (click)="acDownloadAction(document.DocumentFileName,$event)">
                                            {{ (document.DocumentNature === 'ADD_DOC')?
                                            document?.DocumentName:document?.DocumentTypeName}}
                                          </span>
                                          <img *ngIf="document?.DocumentID > 0"
                                            (click)="acDownloadAction(document.DocumentFileName,$event)"
                                            class="icon-size-14 mt-1 ml-2"
                                            src="../../../../../assets/images/icons/download-solid.svg" alt="">
                                        </h2>
                                      </div>
                                      <div class="d-flex justify-content-between align-items-center mt-1">
                                        <div class="d-flex flex-column text-left">
                                          <p class="accordion-time" *ngIf="document.DocumentUploadDate">Uploaded
                                            {{document?.CreatedByUserName? 'by ' + document?.CreatedByUserName + '
                                            ':''}}{{document?.CreatedByUserCompanyName? 'of ' +
                                            document?.CreatedByUserCompanyName + ' ':''}}<br>on
                                            {{document.DocumentUploadDate | date : "d MMM, yyyy"}}
                                            {{document.DocumentUploadDate | date : "H:mm"}} GMT
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="align-self-center" *ngIf="document?.IsApprovalRequired">
                                      <span *ngIf="document?.DocumentLastStatus.toLowerCase() === 'approved'"
                                        class="badge pointer mt-1 hashmove-badge-secondary"
                                        [ngClass]="document?.DocumentLastStatus.toLowerCase() === 'approved' ? '' : 'badge'">
                                        {{document.DocumentLastStatus}}
                                      </span>
                                      <span
                                        *ngIf="document?.DocumentLastStatus && document?.DocumentLastStatus.toLowerCase() !== 'approved'"
                                        class="badge pointer mt-1"
                                        [ngClass]="[document.DocumentLastStatus === 'DRAFT' ? 'hashmove-badge-warning' : 'badge', document.DocumentLastStatus.toLowerCase() === 're-upload' ? 'hashmove-badge-danger' : 'badge']">
                                        {{(document.DocumentLastStatus.toLowerCase() === 'draft') ?
                                        'PENDING APPROVAL' : (document.DocumentLastStatus.toLowerCase()
                                        === 're-upload' ? 'REJECTED' : document.DocumentLastStatus)}}
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </span>
                          </div>
                        </div>
                        <hr>
                        <div class="row mt-2">
                          <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                            <div class="form-group">
                              <label>Your Invoice Number</label>
                              <div class="provider-img">
                                <div class="d-flex flex-row align-items-center">
                                  <input [(ngModel)]="invoiceNumber" placeholder="Enter invoice number" maxlength="25"
                                    type="text" class="form-control" container="body" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                            <div class="form-group">
                              <label>Invoice Date</label>
                              <div class="d-flex flex-row align-items-center">
                                <input class="form-control departure-date" [autoClose]="false" readonly
                                  id="hashDatepicker" [outsideDays]="false" [(ngModel)]="invoiceDate" placeholder="Date"
                                  name="dp" [displayMonths]="isMobile?1:2" [navigation]="false" [showWeekNumbers]="false"
                                  ngbDatepicker [placement]="'bottom-left'" #depDate="ngbDatepicker" [minDate]="minDate"
                                  (click)="depDate.toggle();$event.stopPropagation();"
                                  (document:click)="closeFix($event, depDate)" />
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                            <div class="form-group">
                              <label>Invoice Amount <small *ngIf="false" class="grey-sm-txt">(Booking Amnt:
                                  {{invoice?.CurrencyCode}}
                                  {{invoice?.BookingTotalAmount | number: '1.2-2'}})</small></label>
                              <div class="d-flex flex-row align-items-center">
                                <div class="row">
                                  <div class="col-xl-4 col-lg-4 col-md-4 col-4 pr-0">
                                    <div class="origin city-dropdown">
                                      <div class="flag-container">
                                        <img *ngIf="selectedCurrency && selectedCurrency?.imageName"
                                          src="{{'../../../../assets/images/flags/4x3/' + (selectedCurrency?.imageName | lowercase) + '.svg'}}"
                                          type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                                      </div>
                                      <input type="text"
                                        placeholder="{{(selectedCurrency?.shortName)?selectedCurrency?.shortName:'USD'}}"
                                        [(ngModel)]="selectedCurrency" class="form-control curr-inp-right-border"
                                        [ngbTypeahead]="currencies" (ngModelChange)="onInvAmountChange()"
                                        [resultTemplate]="crt" [inputFormatter]="currencyFormatter"
                                        [ngClass]="{'routeSelected': selectedCurrency && selectedCurrency?.imageName}">
                                      <ng-template #crt let-r="result">
                                        <div class="d-flex">
                                          <div class="flag-container">
                                            <img
                                              src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                                              style="max-width:20px;max-height:22px;">
                                          </div>
                                          <ngb-highlight [result]="r.shortName"></ngb-highlight>
                                        </div>
                                      </ng-template>
                                    </div>
                                  </div>
                                  <div class="col-xl-8 col-lg-8 col-md-8 col-8 pl-0">
                                    <div class="form-group mb-0">
                                      <input priceDecDir type="text" maxlength="15"
                                        class="form-control curr-inp-left-border border-left-0"
                                        [(ngModel)]="invoiceAmount" (ngModelChange)="onInvAmountChange()"
                                        placeholder="0.00">
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <hr />
                          </div>
                        </div>
                        <ng-container *ngIf="invoice?.IsInvoiceDetRequiredOnUpload">
                          <div class="row">
                            <div class="col-12 ">
                              <h5 class="mb-1">Invoice Detail</h5>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <hr class="mt-1" />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                              <div class="form-group">
                                <label>Line Item</label>
                                <div class="d-flex flex-row align-items-center">
                                  <textarea (focus)="invAddTxtInvalid = false" #lineItem (keydown)="autosize()" rows="1"
                                    [ngClass]="{'inputInvalid':invAddTxtInvalid}" [disabled]="!isAddItemAllowed"
                                    [(ngModel)]="invAddTxt" placeholder="..." type="text"
                                    class="form-control line-item-txt" container="body"></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                              <div class="form-group">
                                <label>Item Type</label>
                                <div class="d-flex flex-row align-items-center">
                                  <select [(ngModel)]="invAddTxtType" class="form-control"
                                    [disabled]="!isAddItemAllowed" [ngClass]="{'inputInvalid':invAddTxtTypeInvalid}"
                                    (ngModelChange)="invAddTxtTypeInvalid = false">
                                    <option [value]="null" disabled>--Select--</option>
                                    <option *ngFor="let surcharge of surchageType" [value]="surcharge?.code">
                                      {{surcharge?.label}}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                              <div class="form-group">
                                <label>Charges</label>
                                <div class="d-flex flex-row align-items-center">
                                  <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-4 pr-0">
                                      <div class="origin city-dropdown">
                                        <div class="flag-container">
                                          <img *ngIf="invoiceCurr && invoiceCurr?.imageName"
                                            src="{{'../../../../assets/images/flags/4x3/' + (invoiceCurr?.imageName | lowercase) + '.svg'}}"
                                            type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                                        </div>
                                        <input (focus)="invoiceCurrInvalid = false" [disabled]="!isAddItemAllowed"
                                          type="text"
                                          placeholder="{{(invoiceCurr?.shortName)?invoiceCurr?.shortName:'PKR'}}"
                                          [(ngModel)]="invoiceCurr" class="form-control curr-inp-right-border"
                                          [ngbTypeahead]="currencies" (ngModelChange)="onItemCurrChange()"
                                          [resultTemplate]="crt" [inputFormatter]="currencyFormatter"
                                          [ngClass]="{'routeSelected': invoiceCurr && invoiceCurr?.imageName, 'inputInvalid':invoiceCurrInvalid}">
                                        <ng-template #crt let-r="result">
                                          <div class="d-flex">
                                            <div class="flag-container">
                                              <img
                                                src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                                                style="max-width:20px;max-height:22px;">
                                            </div>
                                            <ngb-highlight [result]="r.shortName"></ngb-highlight>
                                          </div>
                                        </ng-template>
                                      </div>
                                    </div>
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-8 pl-0">
                                      <div class="form-group mb-0">
                                        <input (focus)="invAddAmountInvalid = false"
                                          [ngClass]="{'inputInvalid':invAddAmountInvalid}"
                                          [disabled]="!isAddItemAllowed" priceDecDirNeg type="text" maxlength="15"
                                          class="form-control curr-inp-left-border border-left-0"
                                          [(ngModel)]="invAddAmount" placeholder="0.00">
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-12">
                              <div class="form-group">
                                <label>Exchange Rate</label>
                                <div class="d-flex flex-row align-items-center">
                                  <input (focus)="invAddExRateInvalid = false"
                                    [ngClass]="{'inputInvalid':invAddExRateInvalid}"
                                    [disabled]="!isAddItemAllowed || selectedCurrency?.id === invoiceCurr?.id"
                                    priceDecDirSvn [(ngModel)]="invAddExRate" placeholder="0.00" type="text"
                                    class="form-control" container="body" />
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                              <div class="form-group">
                                <label>Amount</label>
                                <div class="d-flex flex-row align-items-center">
                                  <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-4 pr-0">
                                      <div class="origin city-dropdown">
                                        <div class="flag-container">
                                          <img *ngIf="selectedCurrency && selectedCurrency?.imageName"
                                            src="{{'../../../../assets/images/flags/4x3/' + (selectedCurrency?.imageName | lowercase) + '.svg'}}"
                                            type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                                        </div>
                                        <input [disabled]="true" type="text"
                                          placeholder="{{(selectedCurrency?.shortName)?selectedCurrency?.shortName:'PKR'}}"
                                          [(ngModel)]="selectedCurrency" class="form-control curr-inp-right-border"
                                          [ngbTypeahead]="currencies" [resultTemplate]="crt"
                                          [inputFormatter]="currencyFormatter"
                                          [ngClass]="{'routeSelected': selectedCurrency && selectedCurrency?.imageName}">
                                        <ng-template #crt let-r="result">
                                          <div class="d-flex">
                                            <div class="flag-container">
                                              <img
                                                src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                                                style="max-width:20px;max-height:22px;">
                                            </div>
                                            <ngb-highlight [result]="r.shortName"></ngb-highlight>
                                          </div>
                                        </ng-template>
                                      </div>
                                    </div>
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-8 pl-0 pr-0" [ngClass]="{'pr-0':!isMobile}">
                                      <div class="form-group mb-0">
                                        <input [disabled]="true" type="text" maxlength="15"
                                          class="form-control curr-inp-left-border border-left-0"
                                          [value]="invAddAmount * invAddExRate | number: '1.2-2'" placeholder="0.00">
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-12 d-flex justify-content-end align-items-center mt-2 pt-4">
                              <button [disabled]="!isInvoiceEditable" (click)="addItem()"
                                class="btn btn-outline-primary pull-right hvr-sweep-to-right">
                                {{invDtlID?'Edit':'Add'}} Line Item
                              </button>
                            </div>
                          </div>
                          <div class="row mt-3">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12 table-responsive">
                              <table class="table table-striped table-hover user-table mb-0">
                                <thead class="thead-dark">
                                  <tr>
                                    <th class="line-item-heading" scope="col">Line Item</th>
                                    <th style="text-align: right" scope="col">Charges</th>
                                    <th style="text-align: right" scope="col">Exchange Rate</th>
                                    <th style="text-align: right" scope="col">Amount ({{selectedCurrency?.code ||
                                      'PKR'}})
                                    </th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngIf="!invoiceItems || invoiceItems?.length ===0">
                                    <td>
                                      <div class="row">
                                        <div class="col-12">
                                          <span class="d-block mb-0">xxx</span>
                                        </div>
                                      </div>
                                    </td>
                                    <td style="text-align: right">
                                      <div class="row">
                                        <div class="col-12">
                                          <span class="d-block mb-0">e.g: USD xxx</span>
                                        </div>
                                      </div>
                                    </td>
                                    <td style="text-align: right">
                                      <div class="row">
                                        <div class="col-12">
                                          <span class="d-block mb-0">xxx</span>
                                        </div>
                                      </div>
                                    </td>
                                    <td class="p-1" style="text-align: right">
                                      <div class="row">
                                        <div class="col-12">
                                          <span class="d-block mb-0 mr-3">xxx</span>
                                        </div>
                                      </div>
                                    </td>
                                    <td class="p-1">
                                    </td>
                                  </tr>
                                  <tr *ngFor="let invoice of invoiceItems;let invInd = index">
                                    <td>
                                      <div class="row">
                                        <div class="col-12 d-flex flex-column">
                                          <span class="addChar-head">{{getChargeType(invoice?.AddChrType)}}</span>
                                          <span class="d-block mb-0 line-item mt-1"
                                            [innerHTML]="getHtmlTxt(invoice?.OtherAddChrText)"></span>
                                        </div>
                                      </div>
                                    </td>
                                    <td style="text-align: right">
                                      <div class="row">
                                        <div class="col-12">
                                          <span class="d-block mb-0">{{invoice?.CurrencyCode}}
                                            {{invoice?.Amount | number : "1.2-2"}}</span>
                                        </div>
                                      </div>
                                    </td>
                                    <td style="text-align: right">
                                      <div class="row">
                                        <div class="col-12">
                                          <span class="d-block mb-0">{{invoice?.ExchangeRate | number : "1.7-7"}}</span>
                                        </div>
                                      </div>
                                    </td>
                                    <td class="p-1" style="text-align: right">
                                      <div class="row">
                                        <div class="col-12">
                                          <span class="d-block mb-0 mr-3">
                                            {{(invoice?.ExchangeRate * invoice?.Amount) | number : "1.2-2"}}
                                          </span>
                                        </div>
                                      </div>
                                    </td>
                                    <td class="p-1">
                                      <div *ngIf="isInvoiceEditable" class="row d-flex justify-content-end">
                                        <div ngbDropdown class="col-12 d-inline-block edit-dropdown">
                                          <div ngbDropdownToggle id="editInvDet ">
                                            <img src="../../../assets/images/icons/menu.svg " alt="menu "
                                              class="icon-size-16 ">
                                          </div>
                                          <div ngbDropdownMenu aria-labelledby="editInvDet" class="animated fadeIn">
                                            <button class="dropdown-item pointer" (click)="editInvItem(invoice)">
                                              Edit Item
                                            </button>
                                            <button class="dropdown-item pointer text-danger"
                                              (click)="removeInvItem(invInd)">Remove Item</button>
                                          </div>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <hr />
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </ng-scrollbar>
                    <section class="invoice-total-amount mt-3" *ngIf="invoice?.IsInvoiceDetRequiredOnUpload">
                      <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 amount-space" *ngIf="!isMobile">
                          
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-12 total">
                          Total Amount
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-12 amount">
                          {{selectedCurrency?.code || 'PKR'}} {{getItemsTotal() | number: '1.2-2' }}
                        </div>
                      </div>
                    </section>                    
                    
                    <div class="row mt-4">
                      <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                        <div class="alert alert-warning d-flex flex-row align-items-center" role="alert">
                          <span class="alert-icon mr-2 align-self-start">
                            <img class="icon-size-20" src="../../../assets/images/icons/icon_info_yellow.svg" alt="">
                          </span>
                          <div class="alert-text">
                            If any differences found between the invoice and booking amount will delay the payment processing
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                        <button (click)="close()" type="button"
                          class="btn btn-primary hvr-sweep-to-right w-100 disable text-uppercase btn-txt">
                          Close
                        </button>
                      </div>
                      <div class="col-xl-2 col-lg-2 col-md-2 col-6" *ngIf="isInvoiceEditable">
                        <button (click)="uploadInvoiceData()"
                          class="btn btn-primary hvr-sweep-to-right w-100 text-uppercase btn-txt">
                          Save &amp; Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-loader-main *ngIf="loading" style="height: 100%;width: 100%;"></app-loader-main>
  </div>
</div>