<app-loader-main *ngIf="loading"></app-loader-main>
<div class="add-dispatch">
  <div class="add-dispatch-modal animated fadeIn">
    <div class="modal-header">
      <h4 class="provider-modal-title">Add Receipt</h4>
      <a class="pointer crossIcon" (click)="closePopup()">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
      </a>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
          <h5 class="model-sub-head mt-4 pull-left">Delivery Date</h5>
          <div class="form-group  mt-3">
            <!-- <div class="col-4 pr-0">
              <div class="combine-filed-popup-left">Validity Range</div>
            </div> -->
            <div class="col pl-0 pr-0 date-control">
              <div class="form-group combine-filed-popup dateIcon">
                <input id="dpicker" autocomplete="off" #rangeDp class="form-control" placeholder="Start Date - End Date"
                  name="dp" ngbDatepicker [autoClose]="false" [outsideDays]="true" [navigation]="false"
                  [displayMonths]="2" [minDate]="minDate" #dp="ngbDatepicker" (click)="dp.toggle()" container="body"
                  (dateSelect)="dateChangeEvent($event)" [(ngModel)]="pickupDate" (ngModelChange)="dp.toggle()"
                  placement="bottom-right">
                <!-- <ng-template #t let-date="date" let-focused="focused" container="body">
                  <span class="custom-day" id="{{getDateStr(date)}}"
                    [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                    [class.faded]="isHovered(date) || isInside(date)" (click)="onDateSelection(date)"
                    (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
          <h5 class="model-sub-head mt-4 pull-left">Vehicle No.</h5>
          <div class="form-group mb-0 ">
            <input type="text" maxlength="15" class="form-control" [(ngModel)]="vehicleNumer"
              placeholder="eg: ABC XYZ 12344">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
          <h5 class="model-sub-head mt-4 pull-left">Driver Full Name</h5>
          <div class="form-group mb-0 ">
            <input type="text" maxlength="30" class="form-control" [(ngModel)]="driveName" placeholder="Type Name">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
          <h5 class="model-sub-head mt-4 ">Driver Cell #</h5>
          <div class="form-group">
            <div class="select-number">
              <div class="input-group-prepend">
                <div class="select-country-list">
                  <app-country-select *ngIf="countryList?.length > 0" [selectedCountry]="selCountry"
                    [countryList]="countryList" (onSelect)="selectPhoneCode($event)">
                  </app-country-select>
                </div>
                <input type="text" class="form-control select-country-code" maxlength="13" placeholder="123456789"
                  specialCharRemover [(ngModel)]="driverCell" (keypress)="numberValidwithDecimal($event)" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-12 pr-0" [ngClass]="{'pr-0':!isMobile}">
          <h5 class="model-sub-head mt-4 pull-left">Full Truck Load (Weight IN MT)</h5>
          <div class="form-group mb-0 ">
            <input type="text" inputmode="numeric" min="0" step="any" maxlength="15" class="form-control"
              (ngModelChange)="onWeightChange($event, fullQWeightUOM, emptyWeight, emptyWeightUOM)"
              [(ngModel)]="fullQWeight" placeholder="0.00" (keypress)="numberValidwithDecimal($event)">
          </div>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-12">
          <h5 class="model-sub-head mt-4 pull-left">Unit</h5>
          <div class="form-group mb-0 ">
            <select name="" id="" class="form-control small-font-sel" [(ngModel)]="fullQWeightUOM"
              (ngModelChange)="onWeightChange(fullQWeight, $event, emptyWeight, emptyWeightUOM)">
              <option disabled [selected]="true" [value]="undefined">Select</option>
              <option *ngFor="let unit of whUnits" [value]="unit?.UnitTypeID">{{unit?.UnitTypeShortName}}</option>
            </select>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-12 pr-0"  [ngClass]="{'pr-0':!isMobile}">
          <h5 class="model-sub-head mt-4 pull-left">Empty Truck Load (Weight IN MT)</h5>
          <div class="form-group mb-0 ">
            <input type="text" inputmode="numeric" min="0" step="any" maxlength="15" class="form-control"
              (ngModelChange)="onWeightChange(fullQWeight, fullQWeightUOM, $event, emptyWeightUOM)"
              [(ngModel)]="emptyWeight" placeholder="0.00" (keypress)="numberValidwithDecimal($event)">
          </div>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-12">
          <h5 class="model-sub-head mt-4 pull-left">Unit</h5>
          <div class="form-group mb-0 ">
            <select name="" id="" class="form-control small-font-sel" [(ngModel)]="emptyWeightUOM"
              (ngModelChange)="onWeightChange(fullQWeight, fullQWeightUOM,emptyWeight, $event)">
              <option disabled [selected]="true" [value]="undefined">Select</option>
              <option *ngFor="let unit of whUnits" [value]="unit?.UnitTypeID">{{unit?.UnitTypeShortName}}</option>
            </select>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-12">
          <h5 class="model-sub-head mt-4 pull-left">Total Weight (MT)</h5>
          <div class="form-group mb-0 ">
            <input type="text" [disabled]="true" maxlength="15" class="form-control" [(ngModel)]="totalWeight"
              placeholder="0.00" (keypress)="numberValidwithDecimal($event)">
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-12">
          <h5 class="model-sub-head mt-4 pull-left">No. of Bags</h5>
          <div class="form-group mb-0 ">
            <!-- <input type="text" maxlength="15" class="form-control" [(ngModel)]="numBags" placeholder="0.00"
              (keypress)="numberValidwithDecimal($event)"> -->
            <div class="input-group numBags-box">
              <label class="form-control sr-only">Quantity</label>
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-minus" (click)="counter('minus')"></i>
                </span>
              </div>
              <input type="text" minlength="1" maxlength="3" name="quantity" class="form-control quantity"
                maxlength="15" class="form-control text-center" [(ngModel)]="numBags" placeholder="0.00"
                (ngModelChange)="onBagWeightChange(numBagWeigth, numBagWeigthUOM, $event)"
                (keypress)="numberValidwithDecimal($event)">
              <div class="input-group-append">
                <span class="input-group-text">`
                  <i class="fa fa-plus" (click)="counter('plus')"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-12 pr-0"  [ngClass]="{'pr-0':!isMobile}">
          <h5 class="model-sub-head mt-4 pull-left">Weight / Bag</h5>
          <div class="form-group mb-0 ">
            <input type="text" maxlength="15" class="form-control" [(ngModel)]="numBagWeigth"
              (ngModelChange)="onBagWeightChange($event, numBagWeigthUOM, numBags)" placeholder="0.00"
              (keypress)="numberValidwithDecimal($event)">
          </div>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-12">
          <h5 class="model-sub-head mt-4 pull-left">Unit</h5>
          <div class="form-group mb-0 ">
            <select name="" id="" class="form-control small-font-sel" [(ngModel)]="numBagWeigthUOM"
              (ngModelChange)="onBagWeightChange(numBagWeigth, $event, numBags)">
              <option disabled [selected]="true" [value]="undefined">Select</option>
              <option *ngFor="let unit of whUnits" [value]="unit?.UnitTypeID">{{unit?.UnitTypeShortName}}</option>
            </select>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-12">
          <h5 class="model-sub-head mt-4 pull-left">Total Weight (MT)</h5>
          <div class="form-group mb-0 ">
            <input type="text" [disabled]="true" maxlength="15" class="form-control" [(ngModel)]="bagTotalWeight"
              placeholder="0.00" (keypress)="numberValidwithDecimal($event)">
          </div>
        </div>

        <!-- <div class="col-4">
          <div class="input-group">
            <label class="form-control sr-only">Quantity</label>
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-minus"></i>
              </span>
            </div>
            <input type="text" minlength="1" maxlength="3" name="quantity" class="form-control quantity" name="counter">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-plus"></i>
              </span>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="modal-footer bg-light mt-3">
      <div class="row mb-4">
        <div class="col-12 d-flex justify-content-end">

          <!-- <button class="btn btn-primary pl-3 pr-3 mt-4 hvr-sweep-to-right" (click)="saveDispatch()">{{mode=== 'add'?'SAVE':'EDIT'}} &
            CLOSE
          </button> -->
          <button class="btn btn-primary pl-3 pr-3 mt-4 hvr-sweep-to-right" (click)="saveDispatch()">{{mode===
            'add'?'SUBMIT':'EDIT'}}
          </button>
          <button class="btn btn-primary pl-3 pr-3 mt-4 hvr-sweep-to-right ml-3 mr-3"
            (click)="closePopup()">CANCEL</button>
        </div>
      </div>
    </div>

  </div>




</div>