<!-- <div  class="book-filter"> -->
<div class="invoice-filter">
    <h5 class="add-rate-head mb-4 mt-0">Your Invoices</h5>
    <section class="rates-filter">
        <ngb-accordion>
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <span class="pull-left">
                        <img src="../../../../assets/images/icons/filter-icon.svg" alt="Filter"
                            class="icon-size-16 mr-2 filter-icon">
                        Filter your results
                        <img src="../../../../assets/images/icons/icon_arrow_right.svg" alt="direction"
                            class="icon-size-16 acc-icon">
                    </span>
                    <span class="clear-filter pull-right" (click)="clearFilter($event)">
                        <svg id="969970e9-5f21-4072-86a7-6672decd15e6" data-name="Layer 1"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                            <g id="0d761291-d7c4-42bf-9433-98aad825bfb6" data-name="add">
                                <g id="bede06dd-acf7-4be6-a923-734e194ecf5e" data-name="sucess">
                                    <path class="c06d2a3e-2056-48b9-8ea4-a92f4739f949"
                                        d="M8,2A6,6,0,1,1,2,8,6.007,6.007,0,0,1,8,2M8,0a8,8,0,1,0,8,8A8,8,0,0,0,8,0Z" />
                                </g>
                                <polygon class="c06d2a3e-2056-48b9-8ea4-a92f4739f949"
                                    points="11 7 9 7 9 5 7 5 7 7 5 7 5 9 7 9 7 11 9 11 9 9 11 9 11 7" />
                            </g>
                        </svg>
                        Reset Filter(s)
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="row animated fadeIn">
                        <div class="col-xl-4 col-md-4 col-sm-12">
                            <div class="form-group shippingline">
                                <label>Booking Number</label>
                                <input type="text" class="form-control" placeholder="eg. HM-401230123912"
                                    [(ngModel)]="hmBookingNum" F />
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Freight Type</label>
                                <select class="form-control" (ngModelChange)="onModeChange($event)"
                                    [(ngModel)]="selectedShippingModeCode">
                                    <option [value]="null" disabled>--Select--</option>
                                    <option *ngFor="let mode of shippingModes" [value]="mode.code">{{mode.code}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-12" *ngIf="!isVirtual">
                            <div class="form-group">
                                <label>Cargo Type</label>
                                <select
                                    [disabled]="!selectedShippingModeCode || selectedShippingModeCode === 'WAREHOUSE'|| selectedShippingModeCode === 'ASSAYER' || selectedShippingModeCode === 'TRUCK' || selectedShippingModeCode === 'AIR' "
                                    class="form-control" [(ngModel)]="selectedCargoType">
                                    <option [value]="null">All</option>
                                    <option *ngFor="let cargo of cargoTypeList" [value]="cargo">{{cargo}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Booking Status</label>
                                <select class="form-control" [(ngModel)]="selectedBookStatusCode">
                                    <option [value]="null">All</option>
                                    <option *ngFor="let status of bookingStatuses" [value]="status.BusinessLogic">
                                        {{status?.StatusName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Shipment Status</label>
                                <select
                                    [disabled]="selectedShippingModeCode === 'WAREHOUSE' || selectedShippingModeCode === 'ASSAYER'"
                                    class="form-control" [(ngModel)]="selectedShipStatusCode">
                                    <option [value]="null">All</option>
                                    <option *ngFor="let status of shippingStatuses" [value]="status.BusinessLogic">
                                        {{status?.StatusName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-12">
                            <div class="form-group date-control">
                                <label>Date of Booking</label>
                                <div class="dateIcon">
                                    <input id="dpicker" autocomplete="off" #calenderField class="form-control"
                                        placeholder="From - To" name="dp" [dayTemplate]="t" [outsideDays]="true"
                                        [navigation]="false" [autoClose]="false" [displayMonths]="isMobile?1:2"
                                        ngbDatepicker #d="ngbDatepicker" placement="bottom-right"
                                        (click)="showbutton()" />
                                </div>
                                <ng-template #t let-date="date" let-focused="focused" container="body">
                                    <span class="custom-day"
                                        [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                                        [class.faded]="isHovered(date) || isInside(date)"
                                        (click)="onDateSelection(date)" (mouseenter)="hoveredDate = date"
                                        (mouseleave)="hoveredDate = null">
                                        {{ date.day }}
                                    </span>
                                </ng-template>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Route</label>
                                <div class="row combine-field" [ngClass]="{'combine-field':!isMobile}">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 origin pl-0 pr-0" [ngClass]="{'mb-3':isMobile, 'pl-0 pr-0':!isMobile}">
                                        <div class="flag-container">
                                            <img *ngIf="filterOrigin && filterOrigin.imageName"
                                                src="{{'../../../../../assets/images/flags/4x3/' + (filterOrigin.imageName | lowercase) + '.svg'}}"
                                                type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                                        </div>
                                        <input class="form-control" [(ngModel)]="filterOrigin" placeholder="Origin"
                                            type="text"
                                            [disabled]="selectedShippingModeCode === 'WAREHOUSE' || selectedShippingModeCode === 'ASSAYER' ||  selectedShippingModeCode === 'HYPERLOOP' || !selectedShippingModeCode"
                                            [ngClass]="{'routeSelected': filterOrigin && filterOrigin.imageName}"
                                            [ngbTypeahead]="portsFilter" [resultTemplate]="rt"
                                            [inputFormatter]="filterPortsFormatter" container="body"
                                            placement="bottom-left"
                                            ngbTooltip="{{(filterOrigin?.PortName)?filterOrigin?.PortName:''}}" />
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 destination pl-0 pr-0"
                                        [ngClass]="{'mb-3':isMobile, 'pl-0 pr-0':!isMobile}">
                                        <div class="flag-container">
                                            <img *ngIf="filterDestination && filterDestination.imageName"
                                                src="{{'../../../../../assets/images/flags/4x3/' + (filterDestination.imageName | lowercase) + '.svg'}}"
                                                type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                                        </div>
                                        <input placeholder="Destination" [(ngModel)]="filterDestination" type="text"
                                            class="form-control"
                                            [disabled]="selectedShippingModeCode === 'WAREHOUSE' || selectedShippingModeCode === 'ASSAYER' || selectedShippingModeCode === 'HYPERLOOP' || !selectedShippingModeCode"
                                            [ngClass]="{'routeSelected': filterDestination && filterDestination.imageName}"
                                            [ngbTypeahead]="portsFilter" [resultTemplate]="rt"
                                            [inputFormatter]="filterPortsFormatter" container="body"
                                            placement="bottom-left"
                                            ngbTooltip="{{(filterDestination?.PortName)?filterDestination?.PortName:''}}" />
                                    </div>
                                </div>
                            </div>
                            <ng-template #rt let-r="result" container="body">
                                <div class="d-flex">
                                    <div class="flag-container mr-1">
                                        <img src="{{'../../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                                            class="mw-100 w-auto h-auto mh-100">
                                    </div>
                                    <ngb-highlight [result]="r.title"></ngb-highlight>
                                </div>
                            </ng-template>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-12">
                            <div class="form-group shippingline">
                                <label>Customer Company</label>
                                <div class="provider-img">
                                    <input placeholder="Company Name" [(ngModel)]="selectedCompany" type="text"
                                        class="form-control" [ngbTypeahead]="companyFilter"
                                        [resultTemplate]="tmpProvider" [inputFormatter]="filtercompanyFormatter"
                                        container="body" />
                                </div>
                            </div>
                            <ng-template #tmpProvider let-r="result" container="body">
                                <div class="d-flex">
                                    <ngb-highlight [result]="r.Title"></ngb-highlight>
                                </div>
                            </ng-template>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-12">
                            <div class="form-group shippingline">
                                <label>Carrier</label>
                                <div class="provider-img">
                                    <div class="flag-container" *ngIf="selectedCarrier?.imageName">
                                        <img [src]="getCarrierImage(selectedCarrier?.imageName)"
                                            class="mw-100 w-auto h-auto mh-100">
                                    </div>
                                    <input placeholder="Carrier Name" [(ngModel)]="selectedCarrier" type="text"
                                        class="form-control" [ngbTypeahead]="carrierFilter"
                                        [resultTemplate]="tmpCarrier"
                                        [disabled]="!selectedShippingModeCode || selectedShippingModeCode === 'WAREHOUSE' || selectedShippingModeCode === 'ASSAYER' || selectedShippingModeCode === 'TRUCK'"
                                        [ngClass]="{'routeSelected': selectedCarrier?.imageName}"
                                        [inputFormatter]="filterCarrierFormatter" container="body" />
                                </div>
                            </div>
                            <ng-template #tmpCarrier let-r="result" container="body">
                                <div class="d-flex">
                                    <div class="flag-container mr-1">
                                        <img [src]="getCarrierImage(r.imageName)" class="mw-100 w-auto h-auto mh-100">
                                    </div>
                                    <ngb-highlight [result]="r.title"></ngb-highlight>
                                </div>
                            </ng-template>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-12">
                            <div class="form-group shippingline">
                                <label>{{selectedShippingModeCode === 'AIR'?'AWB Number (no dashes)':'B/L Number'}}
                                </label>
                                <input type="text" class="form-control"
                                    placeholder="eg. {{selectedShippingModeCode === 'AIR'?'AWB Number (no dashes)':'B/L Number'}}"
                                    [(ngModel)]="blNumber"
                                    [disabled]="selectedShippingModeCode === 'TRUCK' || selectedShippingModeCode === 'WAREHOUSE' || selectedShippingModeCode === 'ASSAYER' ||  selectedShippingModeCode === 'HYPERLOOP' || !selectedShippingModeCode" />
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Invoice Status</label>
                                <select class="form-control" [(ngModel)]="selectedInvoiceStatusCode">
                                    <option [value]="null">All</option>
                                    <option *ngFor="let status of invoiceStatusList" [value]="status.BusinessLogic">
                                        {{status?.StatusName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-12" *ngIf="paymentStatusList?.length > 0">
                            <div class="form-group">
                                <label>Payment Status</label>
                                <select class="form-control" [(ngModel)]="selectedPaymentStatusCode">
                                    <option [value]="null">All</option>
                                    <option *ngFor="let status of paymentStatusList" [value]="status.BusinessLogic">
                                        {{status?.StatusName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="">&nbsp;</label>
                                <button class="btn btn-primary w-100 btn-lg"
                                    (click)="currPage = 1;onFilterAction()">Filter
                                    Records</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </section>
    <div class="row mt-3">
        <div class="col-xl-4 col-md-6 col-sm-12 position-relative ">
        </div>
        <div class="col-xl-8 col-md-6 col-sm-12 d-flex justify-content-end ">
            <div ngbDropdown class="d-flex sort-name-dropdown pull-right ">
                <button class="btn btn-primary p-0 " id="dropdownBasic2 " ngbDropdownToggle>Sort By:
                    {{sortBy | uppercase}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2 ">
                    <button class="dropdown-item" (click)="onSortChange('date')">Date Created</button>
                    <button class="dropdown-item" (click)="onSortChange('price')">Price</button>
                </div>
            </div>
        </div>
    </div>
</div>