<!-- New work Start -->
<section class="invoices">
  <div class="row">
    <div class="col-8 d-flex">
      <h4 class="mb-4">Invoices</h4>
      <a class="btn-refresh mt-2" ngbTooltip="Click button to refresh page" href="javascript:void(0)"
        ng-reflect-klass="nav-link grey-placeholder" ng-reflect-ng-class="" (click)="refreshDasboardData()">
        <i class="icon-svg icon-size-24">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
            x="0px" y="0px" viewBox="0 0 473.677 473.677" style="enable-background:new 0 0 473.677 473.677;"
            xml:space="preserve">
            <path
              d="M473.677,236.842c0-130.814-106.036-236.838-236.835-236.838C106.036,0.004,0,106.032,0,236.842  c0,130.795,106.036,236.831,236.842,236.831C367.641,473.673,473.677,367.637,473.677,236.842z" />
            <g>
              <path style="fill:#FFFFFF;"
                d="M414.449,297.547c-17.243-27.052-34.494-54.108-51.741-81.156c-2.909-4.57-9.218-4.458-12.12,0.045   c-17.374,26.966-34.756,53.936-52.133,80.902c-1.881,2.917-1.245,5.733,0.52,7.681c1.092,1.653,2.909,2.831,5.505,2.838   c9.151,0.022,18.301,0.045,27.448,0.067c-42.22,67.081-144.695,73.228-192.797,4.342c-15.407-22.06-51.86-0.995-36.293,21.304   c33.963,48.633,89.746,76.474,149.359,69.65c57.361-6.57,103.657-43.663,126.644-95.18c9.835,0.026,19.674,0.049,29.513,0.075   C413.537,308.126,417.366,302.12,414.449,297.547z" />
              <path style="fill:#FFFFFF;"
                d="M370.457,138.899c-33.97-48.633-89.75-76.478-149.366-69.65   c-57.933,6.63-104.547,44.43-127.288,96.761c-12.232-0.03-24.476-0.06-36.708-0.09c-5.187-0.015-9.02,5.987-6.099,10.561   c17.243,27.052,34.49,54.108,51.733,81.16c2.913,4.566,9.218,4.454,12.124-0.045c17.374-26.97,34.759-53.936,52.133-80.902   c1.877-2.917,1.245-5.729-0.512-7.677c-1.092-1.653-2.909-2.835-5.508-2.842c-6.847-0.015-13.694-0.034-20.545-0.049   c41.599-68.55,145.267-75.322,193.744-5.92C349.572,182.259,386.029,161.194,370.457,138.899z" />
            </g>
          </svg>
        </i>
      </a>
    </div>
    <div class="col-4 start-btn d-flex align-items-center text-right">
    </div>
  </div>
  <div class="d-flex flex-column">
    <app-invoice-filter  [currentTab]="activeInvoiceTab" [currPage]="currentPage"
      (onListChange)="onBookingListChange($event)" (tabChangeEvent)="onTabIDChange($event)">
    </app-invoice-filter>
  </div>
  <ngb-tabset class="mt-3" (tabChange)="onTabChange($event)" [activeId]="activeInvoiceTab">
    <ngb-tab id="tab-active">
      <ng-template ngbTabTitle>
        <span>Current</span>
        <span class="badge badge-small pull-right" *ngIf="currentInvoiceCount">
          {{currentInvoiceCount}}
        </span>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="row mt-3 animated fadeIn" style="min-height: 10rem">
          <div class="col-12">
            <app-loader-main *ngIf="isSettingData"></app-loader-main>
            <div *ngIf="!isSettingData">
              <div *ngFor="let current of invoiceList | paginate: invoiceConfig">
                <app-invoice-card [invoice]="current"></app-invoice-card>
              </div>
              <div class="card" *ngIf="(!invoiceList || invoiceList.length === 0)">
                <p class="text-center m-0">
                  There are currently no active bookings.
                </p>
              </div>
              <div style="display: flex;justify-content: center;flex-direction: column;align-items: center;"
                *ngIf="isHomePage && (!invoiceList || invoiceList.length === 0)">
                <img style="height: 20rem;" src="../../../../assets/images/icons/no-analytics.svg" alt="Filter">
                <!-- <h2>No Data Found</h2>
                <p>There are currently no active bookings.</p> -->
                <div style="display: flex;flex-direction: column;align-items: center;margin-top: 2rem;">
                  <h2 class="not-found-text">NO DATA FOUND</h2>
                  <p>There are currently no active invoices.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-total">
      <ng-template ngbTabTitle>
        <span>Paid</span>
        <span class="badge badge-small pull-right" *ngIf="totalInvoiceCount">
          {{totalInvoiceCount}}
        </span>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="row mt-3 animated fadeIn" style="min-height: 10rem">
          <div class="col-12">
            <app-loader-main *ngIf="isSettingData"></app-loader-main>
            <div *ngIf="!isSettingData">
              <div *ngFor="let current of invoiceList | paginate: invoiceConfig">
                <app-invoice-card [invoice]="current"></app-invoice-card>
              </div>
              <div class="card" *ngIf="(!invoiceList || invoiceList.length === 0)">
                <p class="text-center m-0">
                  There are currently no active bookings.
                </p>
              </div>
              <div style="display: flex;justify-content: center;flex-direction: column;align-items: center;"
                *ngIf="isHomePage && (!invoiceList || invoiceList.length === 0)">
                <img style="height: 20rem;" src="../../../../assets/images/icons/no-analytics.svg" alt="Filter">
                <!-- <h2>No Data Found</h2>
                <p>There are currently no active bookings.</p> -->
                <div style="display: flex;flex-direction: column;align-items: center;margin-top: 2rem;">
                  <h2 class="not-found-text">NO DATA FOUND</h2>
                  <p>There are currently no active invoices.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  <div class="paginationBox text-right mt-3 pull-right col-12 pr-0"
    *ngIf="totalPages > invoiceConfig.itemsPerPage && !isSettingData">
    <div class="d-flex justify-content-end" [ngClass]="{'d-flex justify-content-end':!isMobile}">
      <p class="pager-info mr-3">Page {{currentPage}} of {{getTotalPages(totalPages)}}</p>
      <ngb-pagination [(page)]="currentPage" [pageSize]="maxPageSize" [maxSize]="5" [rotate]="true"
        [boundaryLinks]="true" (pageChange)="onPageChangeBootstrap($event)" [(collectionSize)]="totalPages">
      </ngb-pagination>
    </div>
  </div>
</section>

<!--/ New work End -->