@import "../../../../../assets/scss/_variables";
.invoices {
  .not-found-text{
    font-size: 2rem;
    font-family: 'proxima-nova';
    font-weight: 400;
    color: #2b2b2b;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .bookings-selected {
    span {
      font-size: $font-size-base;
      text-transform: uppercase;
      color: $dark-grey-blue;
      font-weight: $font-weight-mid;
      position: relative;
      text-decoration: none;
      line-height: 24px;
      width: auto;
      &:before,
      &:after {
        color: $secondary-color;
        content: "";
        position: absolute;
        transition: transform 0.5s ease;
      }
      &.link-hover-1 {
        padding-top: 10px;
        &:before {
          top: 25px;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background: darken(#738593, 3%);
          transform: scaleX(0);
        }
        &:hover:before {
          transform: scaleX(1);
        }
      }
    }
  }
  .btn-refresh {
    margin-left: 0.75rem;
    margin-top: 0.5rem;
    .icon-svg {
      svg {
        fill: $secondary-color;
        width: 1.5rem;
        height: 1.5rem;

        &:hover {
          fill: $secondary-color-dark;
          transition: 0.8s;
          overflow: visible;
          transform: rotate(-180deg);
        }
      }
    }
  }
  .map {
    height: 440px;
  }
  .nav {
    margin-top: 2rem;
    &-item {
      // width: 25%;
      flex: auto;
      text-align: center;
      background: transparent;
      background-color: transparent;
      a {
        background-color: transparent;
        border: 0px;
        text-transform: uppercase;
        font-family: $font-proxima;
        font-size: $font-size-medium;
        font-weight: $font-proxima-weight-semibold;
        color: $dark-grey-blue;
        span.badge-small {
          background: $dark-grey-blue;
          margin-right: 2rem;
          float: right;
          margin-top: 1px;
          font-family: $font-proxima;
          font-weight: $font-weight-mid;
          border-radius: 20px;
          font-size: 0.8125rem !important;
          min-width: 22px;
          max-width: 2.3rem;
          min-height: 20px;
          line-height: 12px;
          padding: 5px;
          border: 0;
        }
        &.active {
          border-bottom: 2px solid $primary-color;
          color: $primary-color;
          // height: 44px;
          span.badge-small {
            background: $primary-color;
          }
        }
      }
      &:hover {
        .badge {
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          transform: translate3d(0, 0, 0);
          backface-visibility: hidden;
          perspective: 1000px;

          @keyframes shake {
            10%,
            90% {
              transform: translate3d(-1px, 0, 0);
            }

            20%,
            80% {
              transform: translate3d(1px, 0, 0);
            }

            30%,
            50%,
            70% {
              transform: translate3d(-2px, 0, 0);
            }

            40%,
            60% {
              transform: translate3d(2px, 0, 0);
            }
          }
        }
      }
    }
    &-link {
      background: transparent !important;
    }
  }
  h4 {
    font-size: $font-size-large + $font-size-large;
    font-family: $font-pragmatica;
    font-weight: $font-weight-mid;
    color: $text-color-default;
    margin-bottom: 0px;
  }
  .col-xl-3.mt-1,
  .col.mt-1 {
    .bookings-route {
      display: flex;
      word-break: break-word;
      .ports {
        &-label {
          line-height: 1.2;
          margin-bottom: 0.3rem;
        }
      }
    }
  }
  &-count {
    font-size: $font-size-base;
    font-family: $font-proxima;
    color: $secondary-text-color;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
  }
  &-price {
    border-right: 1px dashed $grey-border;
    border-left: 1px dashed $grey-border;
    strong {
      display: block;
      font-size: $font-size-large + $font-size-large;
      font-weight: $font-weight-mid;
      text-align: center;
      font-family: $font-pragmatica;
    }
    small {
      padding: 0 15px;
      display: block;
      font-size: 0.7rem;
      font-weight: $font-weight-normal;
      margin-bottom: -4px;
    }
  }
  &-actions {
    a {
      font-size: $font-size-base;
      font-family: $font-pragmatica;
      font-weight: 600;
      text-transform: uppercase;
      color: $text-grey;
      display: block;
      padding-bottom: 10px;
      outline: 0;
      span {
        position: relative;
        color: #02bdb6;
        text-decoration: none;
        line-height: 24px;
        width: auto;
        &:before,
        &:after {
          content: "";
          position: absolute;
          transition: transform 0.5s ease;
        }
        &.link-hover-1 {
          padding-top: 10px;
          &:before {
            top: 27px;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: darken(#02bdb6, 3%);
            transform: scaleX(0);
          }
          &:hover:before {
            transform: scaleX(1);
          }
        }
      }
      &.text-primary {
        color: $secondary-color !important;
        & .fa {
          font-size: $font-size-medium;
          font-weight: $font-proxima-weight-semibold;
        }
      }
      &.text-primary {
        color: $danger-color;
      }
      &.text-danger {
        span {
          position: relative;
          color: #dc3545;
          text-decoration: none;
          line-height: 24px;
          width: auto;
          &:before,
          &:after {
            content: "";
            position: absolute;
            transition: transform 0.5s ease;
          }
          &.link-hover-1 {
            padding-top: 10px;
            &:before {
              top: 27px;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background: darken(#dc3545, 3%);
              transform: scaleX(0);
            }
            &:hover:before {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }  
  &-route {
    &-number {
      line-height: 0.6;
      padding-top: 3px;
      a {
        font-size: $font-size-large;
        font-family: $font-proxima;
        font-weight: $font-proxima-weight-semibold;
        color: $primary-color;
      }
    }
    small {
      font-family: $font-proxima;
      font-size: $font-size-base;
      color: $text-grey;
      font-weight: $font-weight-normal;
    }
    .ports {
      font-family: $font-proxima;
      font-size: $font-size-base;
      &-location-icon {
        margin-top: 0px;
        margin-right: 10px;
      }
      &-direction {
        margin: 0 20px;
        margin-left: 0px;
      }
      &-label {
        font-size: $font-size-medium;
        color: $text-color-default;
        margin-bottom: 0;
        font-weight: $font-proxima-weight-semibold;
        font-family: $font-proxima;
        &-grey {
          color: $dark-grey-blue;
          display: block;
          font-family: $font-proxima;
          font-weight: $font-proxima-weight-semibold;
          text-transform: uppercase;
          font-size: $font-size-base;
          margin-bottom: 0;
        }
      }
      img.detail-icon {
        margin-right: 5px;
        float: left;
      }
      small {
        font-size: $font-size-medium;
        color: $text-color-default;
        font-weight: $font-weight-mid;
        font-family: $font-proxima;
        vertical-align: bottom;
        line-height: 1.2;
        max-width: 66px;
        text-align: left;
      }
      .d-flex {
        display: grid !important;
        small {
          max-width: 100% !important;
          margin-top: 9px;
        }
      }
    }
  }
  &-start-btn {
    a {
      font-size: $font-size-large;
      color: $secondary-color;
      font-family: $font-proxima;
      font-weight: $font-weight-mid;
      span {
        position: relative;
        text-decoration: none;
        line-height: 24px;
        width: auto;
        &:before,
        &:after {
          color: $secondary-color;
          content: "";
          position: absolute;
          transition: transform 0.5s ease;
        }
        &.link-hover-1 {
          padding-top: 10px;
          &:before {
            top: 30px;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: darken(#02bdb6, 3%);
            transform: scaleX(0);
          }
          &:hover:before {
            transform: scaleX(1);
          }
        }
      }
      i {
        margin-left: 0.35rem;
      }
    }
  }
  &-continue-btn {
    border-radius: 4px;
    max-width: 180px;
    padding: 0.7rem 1.25rem;
  }
  .tab-content {
    // overflow: hidden;
  }
  .card {
    border: 1px solid #eff2f5;
    margin-bottom: 10px;
    border-radius: 2px;
    transition: 0.8s;
  }
  button.gm-ui-hover-effect {
    display: block !important;
  }
}

.user-dashborad-booking-section {
  margin-top: 25px;
  h3 {
    font-weight: $font-weight-mid;
    font-size: $font-size-large + 1;
    font-family: $font-proxima;
  }
  .user-info {
    font-size: $font-size-base;
    color: $text-grey;
    font-family: $font-proxima;
    text-transform: uppercase;
  }
}

.remove-focus {
  user-select: none;
}

.isBlur {
  .grey-placeholder {
    display: none;
  }
  .timeline-wrapper {
    display: block;
  }
}

.isNotBlur {
  .timeline-wrapper {
    display: none;
  }
  .grey-placeholder {
    display: inherit;
  }
}

@media #{$mobile} {
  .bookings {
    .nav {
      &-item {
        width: 100%;
        height: auto;
        text-align: left;
        .nav-link {
          height: auto !important;
          .badge-small {
            margin-top: -2px;
            padding: 4px;
          }
        }
      }
    }
  }
}
