<div class="sch-card-v2 col-12 details mt-1 mb-4 animated bounceInDown">
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-6 d-flex pt-4 mt-2">
      <img class="icon-size-16 mr-3 align-top" alt="cut off" src="../../../../../assets/images/icons/Icons_Clock-28.svg">
      <div class="info">
        <h5 class="mt-0 mb-1">Cut off </h5>
        <p class="red-glow"> {{requestSchedule?.CutOffDate | date : "d MMM, yyyy"}}</p>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-6 d-flex pt-4 mt-2">
      <img class="icon-size-16 mr-3 align-top" alt="icon" src="../../../../../assets/images/icons/Icons_Clock-28.svg">
      <div class="info">
        <h5 class="mt-0 mb-1">Departure </h5>
        <p> {{requestSchedule?.DepartureDate | date : "d MMM, yyyy"}}</p>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-6 d-flex pt-4 mt-2">
      <img class="icon-size-16 mr-3 align-top" alt="icon" src="../../../../../assets/images/icons/Icons_Location.svg">
      <div class="info">
        <h5 class="mt-0 mb-1">Est. Transit Time </h5>
        <p> {{requestSchedule?.TransitDays}} Days(s) </p>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-6 d-flex pt-4 mt-2">
      <img class="icon-size-16 mr-3 align-top" alt="icon" src="../../../../assets/images/icons/icon_ship.svg">

      <div class="info">
        <h5 class="mt-0 mb-1">Number of Stops </h5>
        <p *ngIf="!requestSchedule?.TransferStops">Direct</p>
        <p *ngIf="requestSchedule?.TransferStops">{{requestSchedule?.TransferStops | number : '1.0-0'}}
          {{requestSchedule?.TransferStops > 1?'Stops':'Stop'}}</p>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-xl-5 col-lg-5 col-md-5 col-4">
      <hr />
    </div>
    <div
      class="col-xl-2 col-lg-2 col-md-2 col-4 col-2 d-flex justify-content-center align-items-center pl-0 pr-0 route-map-title">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
        class="route-icon icon-size-16 mb-1">
        <defs>
          <style>
            .bf2f79a2-1a29-4cea-a2a5-2ed24ec18228 {
              fill: #738593;
            }
          </style>
        </defs>
        <g>
          <path class="bf2f79a2-1a29-4cea-a2a5-2ed24ec18228"
            d="M8,2A3,3,0,1,1,5,5,3,3,0,0,1,8,2M8,0a5,5,0,1,0,5,5A5,5,0,0,0,8,0Z" />
          <rect class="bf2f79a2-1a29-4cea-a2a5-2ed24ec18228" x="7" y="8" width="2" height="8" />
        </g>
      </svg>
      <span class="ml-2 route-map">Route Map</span>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-5 col-4">
      <hr />
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div style="min-width: 19rem;">
      <div class="mode-container mt-4 d-flex justify-content-center align-items-center">
        <div class="mode d-flex justify-content-left align-items-start "
          *ngFor="let trans of routesDirection; let lastInd = last">
          <div class="shipping">
            <div class="route-ship" [innerHTML]="getAnimatedImageByMode(trans[1]) | safeHtml">
            </div>
            <strong style="max-width: 100px;" class="text-truncate" container="body" placement="bottom">
              {{trans[0]}}
            </strong>
          </div>
          <div class="arrows" *ngIf="!lastInd">
            <div class="animated-arrows">
              <img style="width: 3rem;height: 2rem;" src="../../../../assets/images/icons/animated-arrow.svg" alt="">
              <ng-container *ngIf="portCount > 2">
                <img *ngIf="isMobile" (click)="openViaPort(trans[0])"
                  src="../../../../assets/images/icons/icon_info2 - grey.svg" class="icon-size-16" />
                <img *ngIf="!isMobile" [ngbPopover]="popContent1" popoverTitle="Route Details" #p="ngbPopover"
                  triggers="mouseenter:mouseleave" src="../../../../assets/images/icons/icon_info2 - grey.svg"
                  class="icon-size-16" />
                <ng-template #popContent1>
                  <div class="row">
                    <div class="col">
                      <div class="d-flex justify-content-start w-100 text-left">
                        <div class="mr-5">
                          <h6 class="popover-detail-title">Departure</h6>
                          <p *ngIf="getPortData(trans[0])?.EtdDate" class="popover-detail-value">
                            {{getPortData(trans[0])?.EtdDate | date : "d MMM, yyyy"}}</p>
                          <p *ngIf="!getPortData(trans[0])?.EtdDate" class="popover-detail-value">N/A</p>
                        </div>
                        <div class="">
                          <h6 class="popover-detail-title">Arrival</h6>
                          <p *ngIf="getPortData(trans[0])?.EtaDate" class="popover-detail-value">
                            {{getPortData(trans[0])?.EtaDate | date : "d MMM, yyyy"}}</p>
                          <p *ngIf="!getPortData(trans[0])?.EtaDate" class="popover-detail-value">N/A</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col">
                      <div class="d-flex justify-content-start w-100 text-left">
                        <div>
                          <h6 class="popover-detail-title">Origin</h6>
                          <p class="popover-detail-value d-flex"><img class="icon-size-18-12 mr-2"
                              src="{{'../../../../../assets/images/flags/4x3/' + (getPortData(trans[0])?.PortCode.split(' ')[0] | lowercase) + '.svg'}}"
                              alt="icon"> {{getPortData(trans[0])?.OriginPortName}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row row mb-4 mt-2">
                    <div class="col">
                      <div class="d-flex justify-content-start w-100 text-left">
                        <div>
                          <h6 class="popover-detail-title">Destination</h6>
                          <p class="popover-detail-value d-flex"><img class="icon-size-18-12 mr-2"
                              src="{{'../../../../../assets/images/flags/4x3/' + (getPortData(trans[0])?.PodCode.split(' ')[0] | lowercase) + '.svg'}}"
                              alt="icon"> {{getPortData(trans[0])?.DestinPortName}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>