<div class="warehouse-table">
  <div *ngIf="tableType === 'summary'" class="warehouse-summary">

    <div class="table-info mt-2 ">
      <label class="table-info-count" *ngIf="tableType === 'summary'">Showing top {{pgNum1}}-{{pgNum2}} of
        {{totalRecords}} record{{totalRecords > 1 ? 's': ''}}
      </label>
      <div class="table-responsive">
        <table class="table info-table mt-3">
          <thead>
            <tr>
              <th scope="col" *ngFor="let tabHead of thList;let i =index" [ngClass]="tabHead.activeClass" scope="col"
                [innerHTML]="tabHead.title">
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="dispatchSummary?.dispatchItems?.length > 0">
              <!-- <tr *ngFor="let device of  | paginate: devicPageConfig" -->
              <tr *ngFor="let summary of dispatchSummary?.dispatchItems | paginate: devicPageConfig">
                <td>
                  <div class="d-flex align-items-center">
                    <p>
                      <span class="">{{summary?.dispatchDate?(summary?.dispatchDate | date :
                        "d MMM, yyyy"):'N/A'}}</span>
                    </p>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <p>
                      <span class="">{{summary?.expectedDeliveryDate?(summary?.expectedDeliveryDate | date :
                        "d MMM, yyyy"):'N/A'}}</span>
                    </p>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <p>
                      <span class="">{{summary?.vehicleNo}}</span>
                    </p>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <p>
                      <span class="">{{summary?.driverName}}</span>
                      <span itemprop="telephone" class="driver-number d-block">
                        <span class="flag-icon-20-14 d-inline-block ">
                          <img
                            [src]="'../../../../assets/images/flags/4x3/' + (summary?.countryCode | lowercase) + '.svg'"
                            alt="{{summary?.countryPhoneCode + '-flags'}} " class="mw-100 mh-100 border ">
                        </span>
                        <a
                          href="tel:{{summary?.countryPhoneCode}}{{summary?.driverMobile}}">{{summary?.countryPhoneCode}}{{summary?.driverMobile}}</a></span>
                    </p>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <p>
                      <span class="">{{summary?.dispatchQuantity |
                        number :'1.2-2'}}</span>
                    </p>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <p>
                      <span class="">
                        {{ (summary?.dispatchQuantity && summary?.goodsWeight)? (summary?.goodsWeight
                        / summary?.dispatchQuantity): 0 | number :'1.2-2'}} {{summary?.goodsWeightUOM}}
                      </span>
                    </p>
                  </div>
                </td>
                <!-- <td>
                <div class="d-flex align-items-center">
                  <div class="flag-icon-20-14 d-inline-block ">
                    <img [src]="'../../../../assets/images/flags/4x3/' + (summary?.countryCode | lowercase) + '.svg'"
                      alt="{{summary?.countryPhoneCode + '-flags'}} " class="mw-100 mh-100 border ">
                  </div>
                  <span
                    class="user-info-cty-name mt-1 ml-1">{{summary?.countryPhoneCode}}{{summary?.driverMobile}}</span>
                </div>
              </td> -->
                <td>
                  <div class="d-flex align-items-center">
                    <p>
                      <span class="">{{summary?.goodsWeight | number :'1.2-2'}} {{summary?.goodsWeightUOM |
                        uppercase}}</span>
                    </p>
                  </div>
                </td>
              </tr>
            </ng-container>

            <ng-container *ngIf="!dispatchSummary?.dispatchItems || dispatchSummary?.dispatchItems?.length == 0">
              <tr>
                <td class="text-center" colspan="5">
                  No Data Found
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div class="mt-3" *ngIf="getTotalPages(dispatchSummary?.dispatchItems?.length, 'summary') > 1">
      <div class="paginationBox">
        <div class="d-flex justify-content-end">
          <p class="pager-info mr-3 pt-2">Page {{devicPageConfig.currentPage}} of
            {{getTotalPages(dispatchSummary?.dispatchItems?.length, 'summary')}}</p>
          <pagination-controls [id]="devicPageConfig.id" [directionLinks]="directionLinks" [autoHide]="autoHide"
            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
            (pageChange)="onPageChange($event, 'summary')">
          </pagination-controls>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="tableType=== 'dispatch'" class="warehouse-dispatch">

    <section class="Add-warehouse-rates mt-3 rates-grid">
      <div class="row mb-2 justify-content-end">
        <div class="col-xl-2 col-lg-2 col-md-2 col-12 d-flex justify-content-end">
          <a *ngIf="!isGuestLogin" href="javascript:;" class="addAnother animated fadeIn mr-3" (click)="addReceipt()">
            <img class="mr-2" src="../../../../assets/images/icons/icon_add.svg" width="16px" alt="">Add
          </a>
          <a *ngIf="!isGuestLogin" href="javascript:;" class="animated fadeIn rate-validate mr-2"
            [ngClass]="{'no-drop': !selectedReceipt}" (click)="onEdit()">
            <!-- <img src="../../../../../../assets/images/icons/Icons_Calendar-Secondary.svg" alt="del_icon" class="icon-size-16" /> -->
            <svg class="edit-validity-icon icon-size-16 mr-2" id="17f5b310-5508-485b-8001-dbaf3458113b"
              data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <defs>
                <style>
                  .be7dd154-90ee-45f6-a47e-11a6c4eceb87 {
                    fill: #02bdb6;
                  }

                  .dd12900e-6340-4a89-b921-0b1d5cffc735 {
                    fill: #fff;
                  }
                </style>
              </defs>
              <g id="40ee8fd5-e28d-4347-b10e-66f9984b7564" data-name="calendar2">
                <path id="6d9cbed9-97a5-4544-9814-99b685f0d436" data-name="&lt;Compound Path&gt;"
                  class="be7dd154-90ee-45f6-a47e-11a6c4eceb87"
                  d="M15,2H3.8A2.8,2.8,0,0,0,1,4.8V16H12.2A2.8,2.8,0,0,0,15,13.2V2Z" />
                <path class="dd12900e-6340-4a89-b921-0b1d5cffc735"
                  d="M4,4h9a0,0,0,0,1,0,0v6a0,0,0,0,1,0,0H3a0,0,0,0,1,0,0V5A1,1,0,0,1,4,4Z" />
                <rect id="7d4ed2c6-f916-40cf-acce-d794196da080" data-name="&lt;Path&gt;"
                  class="be7dd154-90ee-45f6-a47e-11a6c4eceb87" x="5" width="2" height="5" />
                <rect id="a37c2eb5-9844-41fa-8d51-9b1b7c64de14" data-name="&lt;Path&gt;"
                  class="be7dd154-90ee-45f6-a47e-11a6c4eceb87" x="9" width="2" height="5" />
              </g>
            </svg>
            Edit
          </a>
          <a class="btn-refresh mr-3 mt-0" href="javascript:void(0)" (click)="refreshDispatchSummary()">
            <i class="icon-svg">
              <svg class="icon-size-16 mr-1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"
                viewBox="0 0 473.677 473.677" style="enable-background:new 0 0 473.677 473.677;" xml:space="preserve">
                <path
                  d="M473.677,236.842c0-130.814-106.036-236.838-236.835-236.838C106.036,0.004,0,106.032,0,236.842  c0,130.795,106.036,236.831,236.842,236.831C367.641,473.673,473.677,367.637,473.677,236.842z" />
                <g>
                  <path style="fill:#fff;"
                    d="M414.449,297.547c-17.243-27.052-34.494-54.108-51.741-81.156c-2.909-4.57-9.218-4.458-12.12,0.045   c-17.374,26.966-34.756,53.936-52.133,80.902c-1.881,2.917-1.245,5.733,0.52,7.681c1.092,1.653,2.909,2.831,5.505,2.838   c9.151,0.022,18.301,0.045,27.448,0.067c-42.22,67.081-144.695,73.228-192.797,4.342c-15.407-22.06-51.86-0.995-36.293,21.304   c33.963,48.633,89.746,76.474,149.359,69.65c57.361-6.57,103.657-43.663,126.644-95.18c9.835,0.026,19.674,0.049,29.513,0.075   C413.537,308.126,417.366,302.12,414.449,297.547z" />
                  <path style="fill:#fff;"
                    d="M370.457,138.899c-33.97-48.633-89.75-76.478-149.366-69.65   c-57.933,6.63-104.547,44.43-127.288,96.761c-12.232-0.03-24.476-0.06-36.708-0.09c-5.187-0.015-9.02,5.987-6.099,10.561   c17.243,27.052,34.49,54.108,51.733,81.16c2.913,4.566,9.218,4.454,12.124-0.045c17.374-26.97,34.759-53.936,52.133-80.902   c1.877-2.917,1.245-5.729-0.512-7.677c-1.092-1.653-2.909-2.835-5.508-2.842c-6.847-0.015-13.694-0.034-20.545-0.049   c41.599-68.55,145.267-75.322,193.744-5.92C349.572,182.259,386.029,161.194,370.457,138.899z" />
                </g>
              </svg>
            </i>
            Refresh
          </a>
          <a *ngIf="!isGuestLogin" href="javascript:;" class="grid-delete mt-0"
            [ngClass]="{'no-drop': !selectedReceipt}" (click)="onDelete()">
            <!-- <img src="../../../../../../assets/images/icons/icon_delete_red.svg" alt="del_icon" class="icon-size-16" /> -->
            <svg class="delete-icon icon-size-16 mr-2" id="317c8c47-17e2-4e96-9063-97bc9a32118b" data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <defs>
                <style>
                  .a2933809-f108-463d-a7d6-9972aa735edc {
                    fill: #d32020;
                  }
                </style>
              </defs>
              <g id="9ddd7984-9517-4e7f-881d-6292000e8e8a" data-name="delete">
                <rect class="a2933809-f108-463d-a7d6-9972aa735edc" y="2" width="16" height="2" />
                <rect class="a2933809-f108-463d-a7d6-9972aa735edc" x="5" width="6" height="2" />
                <path class="a2933809-f108-463d-a7d6-9972aa735edc"
                  d="M2,5v9a2,2,0,0,0,2,2h8a2,2,0,0,0,2-2V5Zm5,9H5V7H7Zm4,0H9V7h2Z" />
              </g>
            </svg>
            Delete
          </a>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col font-italic text-right" *ngIf="this.totalWeight && this.totalWeight > 0">
          <div class="total-label mt-1">Total Weight - <span class="value mr-2">{{totalWeight | number :'1.2-2'}}
              MT</span>
            Received Weight - <span class="value mr-2">{{receivedWeight | number :'1.2-2'}} MT</span>
            Remaining Weight - <span class="value">{{remainingdWeight | number :'1.2-2'}} MT</span></div>
        </div>
      </div>
    </section>
    <div class="table-info mt-1">
      <div class="table-responsive">
        <table class="table info-table mt-3">
          <thead>
            <tr>
              <th>
                <div class="fancyOptionBoxes">

                </div>
              </th>
              <th scope="col" *ngFor="let tabHead of thList2;let i =index" [ngClass]="tabHead.activeClass" scope="col"
                [innerHTML]="tabHead.title">
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="receiptSummary?.receiptItems?.length > 0">
              <tr *ngFor="let receipt of receiptSummary?.receiptItems | paginate: devicPageConfigPublish">
                <td class="text-center">
                  <div class="fancyOptionBoxes">
                    <input id="{{receipt?.receiptID}}" type="checkbox" [(ngModel)]="receipt.isChecked"
                      (ngModelChange)="onCheck(receipt?.receiptID, receipt)">
                    <label for="{{receipt?.receiptID}}">
                      <span> </span>
                    </label>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <p style="font-size: 0.775rem;">
                      <span class="">{{receipt?.receiptDate?(receipt?.receiptDate | date : "d MMM, yyyy"):'N/A'}}</span>
                    </p>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <p style="font-size: 0.775rem;">
                      <span class="d-flex">{{receipt?.vehicleNo}}</span>
                      <span class="">{{receipt?.driverName}}</span>
                      <span itemprop="telephone" class="driver-number d-block">
                        <span class="flag-icon-20-14 d-inline-block ">
                          <img
                            [src]="'../../../../assets/images/flags/4x3/' + (receipt?.countryCode | lowercase) + '.svg'"
                            alt="{{receipt?.countryPhoneCode + '-flags'}} " class="mw-100 mh-100 border">
                        </span>
                        <a
                          href="tel:{{receipt?.countryPhoneCode}}{{receipt?.driverMobile}}">{{receipt?.countryPhoneCode}}{{receipt?.driverMobile}}</a></span>
                    </p>

                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <p style="font-size: 0.775rem;">
                      <span class="">{{receipt?.emptyWeight | number :'1.2-2'}} {{receipt?.emptyWeightUOM |
                        uppercase}}</span>
                    </p>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <p style="font-size: 0.775rem;">
                      <span class="">{{receipt?.loadedWeight | number :'1.2-2'}} {{receipt?.loadedWeightUOM |
                        uppercase}}</span>
                    </p>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <p style="font-size: 0.775rem;">
                      <span class="">{{receipt?.goodsWeight | number :'1.2-2'}} {{receipt?.goodsWeightUOM |
                        uppercase}}</span>
                    </p>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <p style="font-size: 0.775rem;">
                      <span class="">{{receipt?.receiptQty | number :'1.2-2'}}</span>
                    </p>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <p style="font-size: 0.775rem;">
                      <span class="">{{receipt?.eachQtyWeight | number :'1.2-2'}} {{receipt?.eachQtyWeightUOM |
                        uppercase}}</span>
                    </p>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <p style="font-size: 0.775rem;">
                      <span class="">{{receipt?.totalQtyWeight | number :'1.2-2'}} {{receipt?.totalQtyWeightUOM |
                        uppercase}}</span>
                    </p>
                  </div>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="!receiptSummary?.receiptItems || receiptSummary?.receiptItems?.length == 0">
              <tr>
                <td class="text-center" colspan="10">
                  No Data Found
                </td>
              </tr>
            </ng-container>

          </tbody>
        </table>
      </div>
    </div>
    <div class="mt-3"
      *ngIf="getTotalPages(receiptSummary?.receiptItems?.length, 'dispatch') > 1 || !data?.IsAllGoodsReceived">
      <div class="paginationBox row">
        <div class="col-6"><button *ngIf="!data?.IsAllGoodsReceived && isPmex
          " class="btn btn-outline-primary hvr-sweep-to-right" (click)="confirmAllRecieved()">Confirm Receipt of all
            Goods</button></div>
        <div class="col-6 d-flex justify-content-end"
          *ngIf="getTotalPages(receiptSummary?.receiptItems?.length, 'dispatch') > 1">
          <p class="pager-info mr-3 pt-2">Page {{devicPageConfigPublish.currentPage}} of
            {{getTotalPages(receiptSummary?.receiptItems?.length, 'dispatch')}}</p>
          <pagination-controls [id]="devicPageConfigPublish.id" [directionLinks]="directionLinks" [autoHide]="autoHide"
            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
            (pageChange)="onPageChange($event,'dispatch')">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>