@import "../../../../assets/scss/_variables";
.view-details {
    .modal-title {
           font-family: $font-proxima;
           line-height: 1;
           font-size:1.5rem;
        font-weight:$font-proxima-weight-semibold;;
    }
    .form-group {
        label {
            font-family: $font-proxima;
           font-weight:  $font-proxima-weight-semibold;
         }
    }

}