<div class="view-details">
  <div class="modal-header pl-4 pr-3">
    <h4 class="modal-title" id="modal-basic-title">Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pl-4 pr-4">
    <form>
      <div class="form-group">
        <label>Frequency of Shipment</label>
        <span class="d-flex">{{selectedFrequency}}</span>
      </div>

      <div class="form-group">
        <label>Term of Sale</label>
        <span class="d-flex">
          {{(selectedTypeBasis === 'FOB')?'Airport To Airport (A2A)':
          !searchCriteria?.userPickup?.isChinaGateway?'Door To Airport (D2A)':selectedTypeBasis}}
        </span>
      </div>

      <div class="form-group" *ngIf="lclChips?.length > 0">
        <label>Weight</label>
        <ng-container *ngIf="lclChips?.length > 0">
          <span *ngFor="let chip of lclChips" class="d-flex">{{chip}}</span>
        </ng-container>
      </div>

      <div class="form-group" *ngIf="!lclChips || lclChips?.length === 0">
        <label>Details</label>
        <span *ngIf="cbm" class="d-flex">Volume By CBM: {{cbm}} cbm</span>
        <span class="d-flex">Gross Weight: {{grossweight}} kg</span>
      </div>

      <div class="form-group">
        <label>Chargeable Weight</label>
        <span class="d-flex">{{chargeableWeight}} kg </span>
      </div>
      <div class="form-group">
        <label>Commodity</label>
        <span class="d-flex">{{desc}}</span>
      </div>
    </form>
  </div>
</div>