<div class="provider-modal animated fadeIn">
  <div class="modal-header">
    <h4 class="provider-modal-title">{{label}}</h4>
    <a class="pointer crossIcon" (click)="closeModal(null)">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
    </a>
  </div>
  <div class="modal-body pt-0">
    <div class="form">
      <div class="form-group">
        <label >{{description}}</label>
        <select class="form-control" *ngIf="modalData.type === 'cancel'" (change)="onModelChange($event)">
          <option disabled>{{selectPlaceholder}}</option>
          <option *ngFor="let reason of bookingReasons" [value]="reason.ReasonID">{{reason.ReasonName}}</option>
        </select>
        <select class="form-control" [disabled]="!notifyReasons || notifyReasons?.length === 0" *ngIf="modalData.type === 'notify'" (change)="onModelChange($event)">
          <option disabled>{{selectPlaceholder}}</option>
          <option *ngFor="let reason of notifyReasons" [value]="reason.codeValID">{{reason.codeValDesc}}</option>
        </select>
        <select class="form-control" *ngIf="modalData.type === 'updated'" (change)="onModelChange($event)">
          <option disabled>{{selectPlaceholder}}</option>
          <option *ngFor="let status of bookingStatuses" [value]="status.StatusID">{{status.StatusName}}</option>
        </select>
        <input type="text" *ngIf="modalData?.booking?.IsManualBookingNumberAllowed && selectedReason?.status?.toLowerCase() === 'confirmed'" class="form-control mt-3" placeholder="Enter Your Own Booking Reference Number" [(ngModel)]="newHMRefNumber" [maxLength]="50" />
        <select class="form-control" *ngIf="modalData.type === 'sub-status'" (change)="onModelChange($event)">
          <option disabled>{{selectPlaceholder}}</option>
          <option *ngFor="let activity of activityStatus" [value]="activity.ActivityID">{{activity.ActivityName}}</option>
        </select>
        <!-- <label >Define Your Status </label>
          <textarea placeholder="Details" class="form-control " *ngIf="modalData.type === 'updated'" [(ngModel)]="selectedReason.remarks"
        rows="2">
      </textarea> -->

        <textarea placeholder="Details" [maxLength]="500" class="form-control mt-3" [(ngModel)]="selectedReason.remarks"
          rows="3">
        </textarea>
      </div>

      <button class="btn btn-primary btn-lg hvr-sweep-to-right w-50 pull-right mt-3 mb-3" *ngIf="!btnLoader && modalData.type === 'cancel' || modalData.type === 'notify'" [disabled]="!selectedReason.remarks || !selectedReason.id"
        (click)="submit()">SUBMIT
      </button>
      <button class="btn btn-primary btn-lg hvr-sweep-to-right w-50 pull-right mt-3 mb-3" *ngIf="!btnLoader && modalData.type === 'sub-status'" [disabled]="!selectedReason.id"
        (click)="submit()">SUBMIT
      </button>
      <button class="btn btn-primary btn-lg hvr-sweep-to-right w-50 pull-right mt-3 mb-3" *ngIf="!btnLoader && modalData.type === 'updated'"
        [disabled]="!selectedReason?.id" (click)="submit()">SUBMIT
      </button>

      <button *ngIf="btnLoader" class="btn btn-primary btn-lg hvr-sweep-to-right w-50 pull-right mt-3 mb-3">
        <i class="fa fa-spinner fa-spin"></i>
      </button>
    </div>
  </div>
</div>
