@import "../../../../../assets/scss/_variables";
.via {
  width: 100%;
  margin-top: 6px;

  .label-head {
    text-transform: uppercase;
    font-size: $font-size-base;
    font-family: $font-proxima;
    font-weight: $font-weight-normal;
    color: $dark-grey-blue;
    width: 100%;
    text-align: center;
    border-bottom: solid 1px $grey-border;
    line-height: 0.1em;
    margin: 10px 0;

    label {
      background-color: $white-color;
      padding: 0.75rem 0.5rem;
      margin-bottom: -2rem;
    }
  }

  .detail {
    line-height: 0.9;
    padding: 0.5rem;

    .steps {
      justify-content: space-between;

      strong {
        font-weight: $font-proxima-weight-semibold;
        font-family: $font-proxima;
        color: $text-color-default;
        font-size: $font-size-base;
        width: 100%;
        display: block;
        margin-top: 5px;
        line-height: 1;
        text-transform: uppercase;
      }
    }
    .via-arrow {
      color: $break-down-color;
      margin-top: 0.1rem;
      min-width: 1rem;
    }
  }
}
