<div class="via" *ngIf="viaPorts?.Stop1?.Code">
  <div class="label-head">
    <label>Via</label>
  </div>
  <div class="detail d-flex justify-content-between">
    <div class="steps" [placement]="'top'" ngbTooltip="{{viaPorts?.Stop1?.Name}}" container="body"
      *ngIf="viaPorts?.Stop1.Code">
      <strong>{{viaPorts?.Stop1?.Code}}</strong>
    </div>
    <div class="via-arrow" *ngIf="viaPorts?.Stop2?.Code">
      <i _ngcontent-c11="" class="fa fa-angle-right hvr-icon"></i>
    </div>
    <div class="steps" [placement]="'top'" ngbTooltip="{{viaPorts?.Stop2?.Name}}" container="body"
      *ngIf="viaPorts?.Stop2.Code">
      <strong>{{viaPorts?.Stop2?.Code}}</strong>
    </div>
    <div class="via-arrow" *ngIf="viaPorts?.Stop3?.Code">
      <i _ngcontent-c11="" class="fa fa-angle-right hvr-icon"></i>
    </div>
    <div class="steps" [placement]="'top'" ngbTooltip="{{viaPorts?.Stop3?.Name}}" container="body"
      *ngIf="viaPorts?.Stop3.Code">
      <strong>{{viaPorts?.Stop3?.Code}}</strong>
    </div>
    <div class="via-arrow" *ngIf="viaPorts?.Stop4?.Code">
      <i _ngcontent-c11="" class="fa fa-angle-right hvr-icon"></i>
    </div>
    <div class="steps" [placement]="'top'" ngbTooltip="{{viaPorts?.Stop4?.Name}}" container="body"
      *ngIf="viaPorts?.Stop4.Code">
      <strong>{{viaPorts?.Stop4?.Code}}</strong>
    </div>
    <div class="via-arrow" *ngIf="viaPorts?.Stop5?.Code">
      <i _ngcontent-c11="" class="fa fa-angle-right hvr-icon"></i>
    </div>
    <div class="steps" [placement]="'top'" ngbTooltip="{{viaPorts?.Stop5?.Name}}" container="body"
      *ngIf="viaPorts?.Stop5.Code">
      <strong>{{viaPorts?.Stop5?.Code}}</strong>
    </div>
    <div class="via-arrow" *ngIf="viaPorts?.Stop6?.Code">
      <i _ngcontent-c11="" class="fa fa-angle-right hvr-icon"></i>
    </div>
    <div class="steps" [placement]="'top'" ngbTooltip="{{viaPorts?.Stop6?.Name}}" container="body"
      *ngIf="viaPorts?.Stop6.Code">
      <strong>{{viaPorts?.Stop6?.Code}}</strong>
    </div>
    <div class="via-arrow" *ngIf="viaPorts?.Stop7?.Code">
      <i _ngcontent-c11="" class="fa fa-angle-right hvr-icon"></i>
    </div>
    <div class="steps" [placement]="'top'" ngbTooltip="{{viaPorts?.Stop7?.Name}}" container="body"
      *ngIf="viaPorts?.Stop7.Code">
      <strong>{{viaPorts?.Stop7?.Code}}</strong>
    </div>
    <div class="via-arrow" *ngIf="viaPorts?.Stop8?.Code">
      <i _ngcontent-c11="" class="fa fa-angle-right hvr-icon"></i>
    </div>
    <div class="steps" [placement]="'top'" ngbTooltip="{{viaPorts?.Stop8?.Name}}" container="body"
      *ngIf="viaPorts?.Stop8.Code">
      <strong>{{viaPorts?.Stop8?.Code}}</strong>
    </div>
  </div>

</div>