@import "../../../../assets/scss/_variables";

.airRates-modal {
  .add-charge-border {
    border-bottom: 1px solid #f2f2f2;
  }
  .modal-body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;

    .model-sub-head {
      color: $secondary-grey;
      font-family: $font-proxima;
      font-weight: 500;
      font-size: 0.875rem;
      text-transform: uppercase;
    }

    .popup-white {
      &.bg-white {
        padding-right: 15px;
        margin-left: -30px;
        margin-right: -30px;
        padding-left: 15px;
        padding-bottom: 30px;
        select {
          &[disabled] {
            color: #afafaf;
          }
          option[disabled] {
            color: #afafaf;
          }
        }
      }
    }    

    .combine-filed-popup {
      border-radius: 4px;
      &-left {
        font-size: 1rem;
        color: #2b2b2b;
        font-family: "proxima-nova", sans-serif;
        font-weight: $font-weight-mid;
        background: #f1f0f0;
        line-height: 1;
        padding: 15px 10px;
        border: 1px solid $input-border;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        &-btn {
          padding: 0;
          .dropdown-toggle {
            height: 48px;
            margin: 0 !important;
            width: 100%;
            border: 1px solid $input-border;
            background: #f1f0f0;
            border-radius: 4px 0 0px 4px;
            text-align: left;
            &:hover,
            &:focus {
              box-shadow: none !important;
              outline: 0 !important;
            }
            &:after {
              position: absolute;
              right: 15px;
              top: 22px;
            }
          }
          .dropdown-menu {
            max-height: 250px;
            overflow-y: auto;
            border: 1px solid $primary-color;
            box-shadow: 0 0 5px -1px $primary-color;
            .dropdown-item {
              &.custom-label {
                color: $primary-color;
                font-family: $font-proxima;
                font-size: $font-size-medium;
                padding: 0.5rem 1.5rem;
                display: flex;
                align-items: center;
                margin-top: 10px;
                img {
                  margin-right: 0.5rem;
                }
                &:hover {
                  color: $primary-color;
                }
              }
              &.charges-form {
                width: 313px;
                margin: 0;
                padding: 0.25rem 0;
                .form-control {
                  font-family: $font-proxima;
                  font-size: $font-size-medium !important;
                  color: $disabled-text-color !important;
                }
              }
              &:active,
              &:hover {
                background: none !important;
                color: inherit;
              }
            }
            .additional-dialog {
              width: 343px;
              overflow: unset;
              margin: 0;
              padding: 15px 0;
            }
          }
        }
      }
      &-mid {
        input {
          border-radius: 0px !important;
          border-color: #ced4da;
          border-left: 0;
        }
      }
      &-right {
        input {
          border-left: 0;
          border-top-left-radius: 0px !important;
          border-bottom-left-radius: 0px !important;
          border-color: #ced4da;
          height: 48px;
          &:hover,
          &:focus {
            box-shadow: none !important;
            outline: 0 !important;
          }
        }
        &.hasDoubleRates {
          .form-control {
            width: 50%;
            float: left;
          }
          span {
            position: absolute;
            top: -1.5rem;
            &:first-child {
              left: 1rem;
            }
            &:nth-child(2) {
              left: 5.7rem;
            }
          }
        }
      }
      .active {
        box-shadow: 0 0 0 1px $color-topmenuactive;
        border-radius: 4px;
        position: relative;
      }
      &-delete {
        position: absolute;
        right: 10px;
        top: -4px;
        display: none;
      }
      &:hover {
        transition: 1s all ease-in;
        transition-delay: 2s;
        .combine-filed-popup-delete {
          transition: 2s all ease-in;
          transition-delay: 2s;
          display: block;
        }
      }
      .combo3x {
        display: flex;

        input {
          min-width: 1rem;
        }
        
      }
    }
    a.addAnother {
      color: $primary-color;
      font-family: $font-proxima;
      font-weight: $font-weight-mid;
      font-size: $font-size-medium;
      position: relative;
      padding-left: 30px;
      &:before {
        content: url("../../../../assets/images/icons/icon_add.svg");
        position: absolute;
        left: 0px;
        top: 0px;
        width: 16px;
        height: 16px;
      }
    }

    .dropdown-menu {
      padding: 0;

      button {
        .flag-container {
          width: 15px;
          height: 12px;
          display: flex;
          margin-top: 5px;
          margin-right: 10px !important;

          img {
            border: 1px solid $primary-grey;
          }
        }
      }
    }

    .origin,
    .destination {
      position: relative;

      > .flag-container {
        width: 16px;
        height: 24px;
        align-items: center;
        position: absolute;
        left: 10px;
        top: 11px;

        img {
          border: 1px solid $primary-grey;
        }
      }

      .routeSelected {
        padding-left: 30px !important;
      }
    }

    .form-group {
      .input-group {
        .input-group-text {
          font-size: $font-size-medium;
        }

        input {
          border-bottom-left-radius: 0 !important;
          border-top-left-radius: 0 !important;
        }
      }
    }
    .shippingline {
      position: relative;
      &-container {
        position: absolute;
        img {
          width: 1.5rem;
          height: 1.5rem;
          top: 0.75rem;
          position: absolute;
          left: 1rem;
        }
      }
    }
    .legends {      
      
      .legend-label {
        display: flex !important;
      }

      .legend-icon {
        width: 1rem !important;
        float: right;        
        margin-top: -30px;
        cursor: pointer;
      }

      .legend-list {

        list-style: none;
        padding: 0;

        li {
          list-style: none;
          display: flex;
          font-size: $font-size-base;
          text-transform: capitalize;
          color: $text-color-default;
          margin: .4rem;
          margin-left: 0;
          margin-right: 0.7rem;

          .active {
            color: $primary-color
          }

          .d-active {
            color: $danger-color
          }

          img {
            margin-right: 8px;
            display: inline;
          }

          label,
          span {
            font-size: $font-size-base;
            margin: 0 0.25rem 0;
            font-weight: $font-weight-normal;
            margin-bottom: 0rem;
          }
        }
      }     
      .label-head {
        text-transform: uppercase;
        font-size: $font-size-medium;
        font-family: $font-proxima;
        font-weight: $font-weight-normal;
        color: $dark-grey-blue;
        text-align: left;
        margin: 0 0.25rem 0;
      }
    }
    
  }

  .date-control {
    .dateIcon {
      position: relative;

      input {
        padding-left: 2.625rem;
      }

      &:before {
        content: url("../../../../assets/images/icons/Icons_Calendar.svg");
        position: absolute;
        left: 15px;
        top: 14px;
        width: 16px;
        height: 16px;
        z-index: 4;
        opacity: 0.5;
      }
    }
  }

  // ngb-typeahead-window {
  //   max-height: 200px;
  //   overflow-y: auto;
  //   padding: 0;

  //   .dropdown-item {

  //     &.active,
  //     &:active {
  //       background: $primary-grey;
  //     }
  //   }
  // }

  .dropdown-text-field {
    button {
      outline: 0;
      border-radius: 4px;
      height: 3rem;
      border: 1px solid #e9ecf0;
      background: url("assets/images/select-arrow.png") no-repeat center right 10px $color-white;
      width: 100%;
      color: $place-holder-color;
      font-size: 14px;
      font-family: $font-proxima;
      text-align: left;
      box-shadow: none;

      &:after {
        display: none;
      }

      &:hover {
        box-shadow: none !important;
      }
    }
    .dropdown-field {
      padding: 10px;
      margin: 0;
      input {
        width: 48%;
      }
    }

    .dropdown-checkbox {
      padding: 10px;
      margin: 0;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
