@import "../../../../../assets/scss/_variables";

.add-container {
    .modal-header {
        .modal-title {
            font-size: 1.25rem;
            font-family: $font-proxima;
            font-weight: $font-proxima-weight-semibold;

            .small-text {
                font-size: $font-size-medium;
                font-family: $font-proxima;
            }
        }
    }

    .modal-label {
        font-size: $font-size-medium;
        color: $color-topmenu;
        font-family: $font-proxima;
        font-weight: $font-weight-mid;
        text-transform: uppercase;
    }
}

a.crossIcon {
    // position: absolute;
    // right: 8px;
    // top: 4px;
    margin-bottom: 0.5rem;
    width: 14px;
    height: 14px;
    // img {
    //   width: 100%
    // }
}

.modal {
/deep/ &-dialog {
    width: 55% !important;
}
}
.assayer-warehouse-schedule {
   // border: 1px solid $secondary-color !important; // padding: 0.5rem 0;
    padding: 0;

    &-header {
        border-bottom: 1px solid $secondary-color !important;
        background: $white-color;
        padding: 0;
        margin-bottom: -1px;
        min-height: 96px; // height: 100%;
        display: flex;
        align-items: center;

        a {
            width: 100%;
        }

        .loadPickup-detail {
            font-size: $font-size-large + 0.25rem;
            font-family: $font-pragmatica;
            font-weight: $font-weight-normal;
            color: $text-color-default;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                line-height: 1.2;
            }

            strong {
                font-size: $font-size-large + 0.25rem;
                font-family: $font-pragmatica;
                font-weight: $font-weight-mid;
                color: $text-color-default;
            }
        }
    }

    &-body, .warehouse-schedule {
        p {
            display: flex;
            pointer-events: none !important;

            img {
                margin-right: 0.5rem;
            }

            strong {
                font-size: $font-size-medium;
                font-family: $font-proxima;
                font-weight: $font-proxima-weight-semibold;
                color: $dark-grey-blue;
                text-transform: uppercase;
                letter-spacing: 0.5px;
            }
        }
    }

    .track-heading {
        justify-content: center;
        align-items: center;
        display: flex;
        border-right: 1px solid $secondary-color;
        padding-left: 0.8rem !important;
    }

    /deep/ .pickup-time {
        display: flex;
        justify-content: center;
        position: relative;

        .ngb-tp {
            input[type="text"] {
                border: 0;
                font-family: $font-pragmatica;
                color: $text-color-default;
                font-weight: $font-weight-mid;
                font-size: $font-size-large + 0.25rem;
            }
        }

        .list-group {
            flex-direction: inherit;
            position: absolute;
            top: -6px;
            text-align: center;

            &-item {
                border: 0;
                padding: 0rem 0rem;
                font-size: $font-size-base;
                font-family: $font-proxima;
                font-weight: $font-weight-mid;
                color: $dark-grey-blue;
                text-transform: uppercase;
                width: 5.4rem;
            }
        }

        .ngb-tp-hour {
            .btn.btn-link {
                .chevron {
                    &:before {
                        background: url("assets/images/icons/icon_arrow_left.svg") no-repeat;
                        width: 16px;
                        height: 16px;
                        transform: rotate(91deg);
                        border-width: 0;
                    }

                    &.bottom {
                        &:before {
                            transform: rotate(-91deg);
                        }
                    }
                }
            }
        }

        .ngb-tp-minute {
            @extend .ngb-tp-hour;
        }

        
    }
    

    /deep/ .item {
        .item-sub-section {
          height: 72px;
          background: $white-color;
          margin: 0 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.4s ease-in-out;
  
          .date {
            font-family: $font-pragmatica;
            font-weight: $font-weight-mid;
            font-size: $font-size-large + 0.25rem;
            color: $text-color-default;
            margin: 0;
            margin-left: 10px;
            margin-left: 3px;
          }
  
          p.month {
            @extend .date;
            font-size: $font-size-medium;
            margin-left: 0px;
            text-transform: uppercase;
            font-weight: $font-weight-normal;
            line-height: 1;
          }
        }
  
        &.active {
          .item-sub-section {
            background: $primary-color !important;
  
            .date,
            .month {
              color: $white-color !important;
            }
          }
        }
  
        &.inactive {
          .item-sub-section {
            background: $date-unactive !important;
  
            .date,
            .month {
              color: $text-color-default !important;
            }
          }
        }
  
        &:hover {
          .item-sub-section {
            background: $date-unactive;
  
            .date,
            .month {
              color: $text-color-default;
            }
          }
        }
      }
  
      /deep/ .col-10 {
        img {
          transform: rotate(-92deg);
          transition: all 0.7s ease;
        }
  
        &.active {
          img {
            transform: rotate(0deg);
            transition: all 0.7s ease;
          }
        }
  
        &.loadPickup {
          .actions {
            display: block !important;
          }
  
          img.icon-size-12 {
            display: none;
          }
        }
      }
  
      /deep/ .ngucarousel {
        .ngu-touch-container {
          width: 93%;
          margin: 0 auto;
          overflow: hidden;
        }
  
        button.leftRs.btn.hvr-icon-back {
          position: absolute;
          background: transparent;
          box-shadow: none !important;
          left: 0px;
          top: 12px;
          padding: 12px 0rem;
        }
  
        button.rightRs.btn.hvr-icon-forward {
          @extend .leftRs.btn.hvr-icon-back;
          right: 0;
          left: auto;
          background: $white-color;
        }
      }
  
      /deep/ button.btn-primary {
        font-size: $font-size-large;
        font-weight: $font-proxima-weight-semibold;
        color: $white-color;
        font-family: $font-proxima;
        max-width: 200px;
        width: 100%;
      }
  
      /deep/ .actions {
        display: none !important;
        line-height: 0.8;
  
        a {
          font-size: $font-size-base;
          font-family: $font-proxima;
          font-weight: $font-proxima-weight-semibold;
          text-transform: uppercase;
          line-height: 2;
  
          i {
            margin-left: 0.4rem;
          }
        }
      }

    
    
}

 .ngucarousel {
    /deep/    &-inner {
        margin: auto 2rem;
    }
}


    
  