<div class="assayer-warehouse-schedule modal-content">
  <div class="modal-header pb-2 pt-2 loadPickup-detail">
    <h4 class="modal-title">
      Schedule / Assayer Details
    </h4>
    <a class="pointer crossIcon" (click)="close()">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close">
    </a>
  </div>
  <div class="modal-body warehouse-schedule">
    <div>
      <div>
        <p>
          <img class="icon-size-16" src="../../../../assets/images/icons/Icons_Calendar.svg" alt="">
          <strong>SELECT DATE AND TIME</strong>
        </p>
      </div>
      <!-- <ngu-carousel [inputs]="carouselOne" id="usp" [dataSource]="dateList" class="border-control-right">
        <div *nguCarouselDef="let item; let i = index; let ani = animate" class="carouselTile item active">
          <div class="item-sub-section pointer" (click)="onDateSelect(item, i)">
            <div>
              <p class="date">{{item.pickupDate | date: 'dd'}}</p>
              <p class="month">{{item.pickupDate | date: 'MMM'}}</p>
            </div>
          </div>
        </div>
        <button NguCarouselPrev class='leftRs btn hvr-icon-back'>
          <img src="../../../../assets/images/icons/icon_arrow_left.svg" alt="" class="icon-size-16">
        </button>
        <button NguCarouselNext class='rightRs btn hvr-icon-forward'>
          <img src="../../../../assets/images/icons/icon_arrow_right.svg" alt="" class="icon-size-16">
        </button>
      </ngu-carousel> -->
      <ngu-carousel [inputs]="carouselOne" (initData)="initDataFn($event)">
        <ngu-item NguCarouselItem *ngFor="let item of dateList; let i = index; let ani = animate"
          class="carouselTile item" [ngClass]="[(item.isSelected)?'active':'',(!item.isActive)?'inactive':'']">
          <div>
            <div class="item-sub-section pointer" (click)="onDateSelect(item, i)">
              <div>
                <p class="date">{{item.pickupDate | date: 'dd'}}</p>
                <p class="month">{{item.pickupDate | date: 'MMM'}}</p>
                <small class="month">{{item.pickupDate | date: 'yyyy'}}</small>
              </div>
            </div>
          </div>
        </ngu-item>
        <button NguCarouselPrev class="leftRs btn hvr-icon-back">
          <img src="../../../../assets/images/icons/icon_arrow_left.svg" alt="" class="icon-size-16">
        </button>
        <button NguCarouselNext class="rightRs btn hvr-icon-forward">
          <img src="../../../../assets/images/icons/icon_arrow_right.svg" alt="" class="icon-size-16">
        </button>
      </ngu-carousel>
      <hr class="mt-4">
      <div class="pickup-time">
        <ul class="list-group">
          <li class="list-group-item">hrs</li>
          <li class="list-group-item">mints</li>
        </ul>
        <ngb-timepicker [(ngModel)]="pickupTime"></ngb-timepicker>
      </div>
      <hr class="mt-4">
      <div class="form-row">
        <div class="col-xl-6 col-lg-12 col-md-12 form-group">
          <strong><label>Assayer Full Name</label></strong>
          <input class="form-control ng-pristine ng-invalid ng-touched fieldError" [(ngModel)]="assayerName"
            placeholder="Type Name" type="text">
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12 form-group">
          <strong><label>Assayer Cell #</label></strong>
          <div class="form-group">
            <div class="select-number">
              <div class="input-group-prepend">
                <div class="select-country-list">
                  <app-country-select *ngIf="countryList?.length > 0" [selectedCountry]="selCountry"
                    [countryList]="countryList" (onSelect)="selectPhoneCode($event)">
                  </app-country-select>
                </div>
                <input type="text" class="form-control select-country-code" maxlength="13" placeholder="123456789"
                  specialCharRemover [(ngModel)]="contactNum" (keypress)="numberValidwithDecimal($event)" />
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-primary hvr-sweep-to-right btn-lg text-uppercase" (click)="submit()">Submit
    </button>
  </div>
</div>