<div class="billing" id="Billing" [ngClass]="{'hasInsurance' : !showVAS}">
  <div class="card">

    <div class="close">
      <a class="pointer crossIcon" (click)="closeModal()">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close">
      </a>
    </div>

    <div class="card-body">
      <h5 class="card-title">
        <img src="../../../../assets/images/icons/icon_summary.svg" alt="umbrella-icon" width="16px"> Update Price
      </h5>

      <!-- <ng-scrollbar [trackX]="false" [autoHide]="true" barclass="main-bar" #scrollRef>

      </ng-scrollbar> -->

      <div>
        <ng-container *ngIf="!isSpecialRequest">
          <h6 *ngIf="freightData.length && BookingInvoiceDet?.ShippingModeCode !== 'ASSAYER'">
            {{(searchCriteria?.searchMode === 'warehouse-lcl')?'Warehouse Charges':'Freight Charges'}}</h6>
          <h6 *ngIf="freightData.length && BookingInvoiceDet?.ShippingModeCode === 'ASSAYER'">
            Assayer Charges
          </h6>
          <ul class="list-group list-group-flush">
            <div *ngIf="searchCriteria?.searchMode === 'air-lcl'">
              <li class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let item of freightData">
                <span class="long-text">
                  {{item.SurchargeCode}} - {{item?.SurchargeName}}
                </span>
                <span class="amount-text">
                  <ng-container
                    *ngIf="BookingInvoiceDet?.CarrierCode?.toLowerCase() !== 'multiple' && !searchCriteria?.IsMinPriceUsed">
                    <span>{{item?.IndividualPrice | number: '1.2-2'}} / kg
                      <small class="d-block text-right">
                        x {{this.searchCriteria?.bookingWeight | number: '1.2-2'}} kg
                      </small>
                    </span>
                  </ng-container>

                  <ng-container>
                    <ng-container *ngIf="!item?.ProviderCurrCode">
                      <span *ngIf="item.TotalAmount > 0" style="text-transform: uppercase !important">
                        {{item.CurrencyCode}} {{item?.TotalAmount | number: '1.2-2'}}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="item?.ProviderCurrCode">
                      <span style="display: flex;flex-direction: column">
                        <span *ngIf="item.TotalAmount > 0" style="text-transform: uppercase !important">
                          {{item.CurrencyCode}} {{item?. TotalAmount | number: '1.2-2'}}
                        </span>
                        <ng-container *ngIf="item?.ProviderCurrCode !== item?.CurrencyCode">
                          <span style="text-transform: uppercase !important">({{item?.ProviderCurrCode}}
                            {{item?.ProviderTotalAmount | number: '1.2-2'}})</span>
                        </ng-container>
                      </span>
                    </ng-container>
                  </ng-container>
                </span>



              </li>
            </div>
            <ng-container *ngIf="searchCriteria?.searchMode !== 'air-lcl'">
              <li class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let item of freightData">
                <!-- <span class="long-text" [placement]="'top'" ngbTooltip="{{item.SurchargeName}}">
                  {{item.SurchargeCode}} - {{item.SurchargeName}}
                </span>
                <span class="amount-text">{{item.CurrencyCode}} {{item.TotalAmount | number: '1.2-2'}}</span> -->
                <span class="long-text">
                  <span
                    *ngIf="searchCriteria.searchMode !== 'air-lcl' && BookingInvoiceDet?.ShippingModeCode !== 'ASSAYER'">{{item.SurchargeCode}}
                    {{(searchCriteria.containerLoad)?' - ':''}}</span> <span
                    *ngIf="searchCriteria.searchMode !== 'warehouse-lcl' && searchCriteria.searchMode !== 'air-lcl'">{{item?.SurchargeName}}</span>
                  <span *ngIf="searchCriteria?.CONT > 0">{{getContainerName(item)}}</span>
                  <small class="d-block"
                    *ngIf="searchCriteria.searchMode === 'warehouse-lcl'">{{searchCriteria?.storageType
                    ==='full'?item?.SurchargeName:getWhSurchargeName(item?.SurchargeName)}}
                    <span *ngIf="searchCriteria.searchMode === 'warehouse-lcl' && searchCriteria?.storageType ==='full'"
                      class="tolox">
                      {{(searchCriteria.minimumLeaseTerm < 12)?'x ' + searchCriteria.minimumLeaseTerm:' x 1'}} </span>
                  </small>
                  <ng-container *ngIf="BookingInvoiceDet?.ShippingModeCode === 'ASSAYER' && item?.ContainerSpecID">
                    <small class="d-block">
                      RATE / CONTAINER
                    </small>
                    <span>({{item?.ContainerSpecDesc}})</span>
                  </ng-container>
                  <ng-container *ngIf="BookingInvoiceDet?.ShippingModeCode === 'ASSAYER' && !item?.ContainerSpecID">
                    <small class="d-block">
                      RATE / TON
                    </small>
                  </ng-container>
                </span>


                <span class=" amount-text"
                  *ngIf="BookingInvoiceDet?.CarrierCode?.toLowerCase()  !== 'multiple' && !searchCriteria?.IsMinPriceUsed">
                  <span>
                    <ng-container *ngIf="!item?.ProviderCurrCode">
                      <span style="text-transform: uppercase !important">
                        {{item.CurrencyCode}} {{item?.TotalAmount | number: '1.2-2'}}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="item?.ProviderCurrCode">
                      <span style="display: flex;flex-direction: column">
                        <span style="text-transform: uppercase !important">
                          {{item.CurrencyCode}} {{item?. TotalAmount | number: '1.2-2'}}
                        </span>
                        <ng-container *ngIf="item?.ProviderCurrCode !== item?.CurrencyCode">
                          <span style="text-transform: uppercase !important">({{item?.ProviderCurrCode}}
                            {{item?.ProviderTotalAmount | number: '1.2-2'}})</span>
                        </ng-container>
                      </span>
                    </ng-container>
                    <small class="d-block text-right"
                      *ngIf="searchCriteria.searchMode === 'warehouse-lcl' && searchCriteria.storageType === 'full'">
                      {{(searchCriteria.searchMode === 'warehouse-lcl')?item.IndividualPrice:item.TotalAmount | number:
                      '1.2-2'}}
                      <ng-container>
                        <span class="yolox">
                          x {{(searchCriteria.minimumLeaseTerm < 12)?searchCriteria.minimumLeaseTerm:'1'}} </span>
                      </ng-container>
                    </small>
                    <ng-container
                      *ngIf="searchCriteria.searchMode === 'warehouse-lcl' && searchCriteria.storageType !== 'full'">
                      <small class="d-block text-right">
                        <span
                          *ngIf="searchCriteria.searchMode === 'warehouse-lcl' && searchCriteria.storageType !== 'full'">
                          <ng-container *ngIf="item?.LeasePeriod > 0">
                            <span style="text-transform: uppercase !important;">{{currencyCode}}</span>
                            {{item?.IndividualPrice | number: '1.2-2'}}/{{getDaysCount(getWhRateType(item.SurchargeName,
                            1))}}
                            x {{item?.LeasePeriod}} {{getWhRateType(item.SurchargeName, item?.LeasePeriod)}} x <span
                              style="text-transform: capitalize !important;">{{getWhUnit(item)}}</span>
                            <br>
                          </ng-container>
                          <ng-container *ngIf="item?.AddOnCount>0">
                            <span style="text-transform: uppercase !important;">{{currencyCode}}</span>
                            {{item?.AddOnPrice | number: '1.2-2'}}/<span
                              style="text-transform: lowercase !important;">{{getSimplifiedStr(item?.AddOnBasis)}}</span>
                            x {{item?.AddOnCount}} <span
                              style="text-transform: lowercase !important;">{{getSimplifiedStr(item?.AddOnBasis)}}{{item?.AddOnCount>1?'S':''}}</span>
                            x <span>{{getWhUnit(item)}}</span>
                          </ng-container>
                        </span>
                      </small>
                    </ng-container>
                    <ng-container *ngIf="BookingInvoiceDet?.ShippingModeCode === 'ASSAYER'">
                      <small class="d-block text-right">
                        <span *ngIf="item?.ContainerSpecID" style="text-transform: capitalize !important;">
                          {{item?.CurrencyCode}} {{item?.IndividualPrice | number: '1.2-2'}} x {{item?.TotalQty}}
                          {{(item?.TotalQty > 1)?'Containers':'Container'}}
                        </span>
                        <span *ngIf="!item?.ContainerSpecID" style="text-transform: capitalize !important;">
                          {{item?.CurrencyCode}} {{item?.IndividualPrice | number: '1.2-2'}} x {{item?.TotalQty}}
                          {{(item?.TotalQty > 1)?'TONS':'TON'}}
                        </span>
                      </small>
                    </ng-container>
                  </span>
                </span>
              </li>
            </ng-container>

            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="searchCriteria?.searchMode === 'air-lcl' && searchCriteria?.cargoLoadType === 'by_unit'">
              <ul class="long-text-sub">
                <li *ngFor="let chip of searchCriteria?.airChipData?.byUnitsChips">Units: {{chip?.quantity}} x (
                  {{((chip?.actualWeight?chip?.actualWeight:chip?.chipWeight)/chip?.quantity) | number: '1.1-1'}}kg,
                  {{chip.length}}{{getLenghtUnit(chip.lengthUnit)}} x
                  {{chip.width}}{{getLenghtUnit(chip.lengthUnit)}} x {{chip.height}}{{getLenghtUnit(chip.lengthUnit)}} )
                </li>
              </ul>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="searchCriteria?.searchMode === 'sea-fcl' || searchCriteria?.searchMode === 'truck-ftl'">
              <ul class="long-text-sub">
                <ng-container *ngIf="searchCriteria?.fclContainerChips?.length > 0;else oldContainers">
                  <li *ngFor="let container of searchCriteria?.fclContainerChips">
                    {{container}}
                  </li>
                </ng-container>
                <ng-template #oldContainers>
                  <li *ngFor="let container of searchCriteria?.SearchCriteriaContainerDetail">
                    ( {{container?.containerDtl?.ContainerSpecDesc}}: {{container?.contRequestedQty}}
                    {{(searchCriteria?.containerLoad === 'FCL')?'Container':'Truck'}}{{(container?.contRequestedQty >
                    1)?'s':''}}
                    )
                  </li>
                </ng-template>
              </ul>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="searchCriteria?.searchMode === 'sea-lcl' && searchCriteria?.lclChipConatiners?.length > 0">
              <ul class="long-text-sub">
                <li *ngFor="let container of searchCriteria?.lclChipConatiners">
                  <strong>{{container?.main}}</strong>
                  <ul class="ml-1 list-unstyled">
                    <li *ngFor="let chip of container.chipName">
                      {{chip}}
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <hr *ngIf="freightData.length">

          <h6 *ngIf="additionalData.length">Additional Charges</h6>
          <ng-container *ngIf="additionalData?.length > 0">
            <ng-scrollbar [autoHide]="(additionalData?.length <= 4)?true:false" barclass="main-bar" #scrollRef>
              <ul class="list-group list-group-flush additional-charges" style="max-height: 20rem;">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                  *ngFor="let item of additionalData">
                  <!-- <span class="long-text" [placement]="'top'" ngbTooltip="{{item.SurchargeName}}" [ngClass]="{'text-danger' : item.active}">{{item.SurchargeCode}} - {{item.SurchargeName}}</span>
                <span class="amount-text" [ngClass]="{'text-danger' : item.active}">{{item.CurrencyCode}} {{item.TotalAmount | number: '1.2-2'}}</span> -->
                  <span class="long-text">{{item.SurchargeCode}} - {{item.SurchargeName}}
                    <ul class="long-text-sub"
                      *ngIf="item?.ProviderCurrCode && item?.ProviderCurrCode !== item?.CurrencyCode">
                      <!-- <br> -->
                      <li>( {{item?.ProviderCurrCode}} {{item?.ProviderIndividualPrice | number: '1.2-2'}}
                        {{getBasisString(item?.SurchargeBasis) | titlecase}} )</li>
                    </ul>
                  </span>
                  <span class="amount-text">
                    <ng-container *ngIf="!item?.ProviderCurrCode">
                      <span *ngIf="item.TotalAmount > 0">
                        {{item.CurrencyCode}} {{item?.TotalAmount | number: '1.2-2'}}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="item?.ProviderCurrCode">
                      <span *ngIf="item.TotalAmount > 0">
                        {{item?.CurrencyCode}} {{item?.TotalAmount | number: '1.2-2'}}
                      </span>
                      <ng-container *ngIf="item?.ProviderCurrCode !== item?.CurrencyCode">
                        <span>({{item?.ProviderCurrCode}} {{item?.ProviderIndividualPrice | number: '1.2-2'}})</span>
                      </ng-container>
                    </ng-container>

                    <span *ngIf="item.TotalAmount === 0">Free</span>
                  </span>
                </li>
              </ul>
            </ng-scrollbar>
          </ng-container>


          <hr *ngIf="additionalData.length">

          <h6 *ngIf="valueAddedData?.length > 0">Value Added Services</h6>
          <ul class="list-group list-group-flush value-services" *ngIf="valueAddedData?.length > 0">
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let item of valueAddedData">
              <!-- <span class="long-text" [placement]="'top'" ngbTooltip="{{item.SurchargeName}}">{{item.SurchargeCode}} - {{item.SurchargeName}}</span>
                <span class="amount-text">{{item.CurrencyCode}} {{item.TotalAmount | number: '1.2-2'}}</span> -->
              <!-- <span class="long-text"  [ngClass]="{'text-danger' : item.active}" *ngIf="item.TotalAmount > 0">{{item.SurchargeCode}} - {{item.SurchargeName}}</span>
                <span class="amount-text"  [ngClass]="{'text-danger' : item.active}" *ngIf="item.TotalAmount > 0">{{item.CurrencyCode}} {{item.TotalAmount | number: '1.2-2'}}</span> -->

              <span class="long-text" [ngClass]="{'text-danger' : item.active}">{{item.SurchargeCode}}
                - {{item.SurchargeName}}
                <ul class="long-text-sub" *ngIf="BookingInvoiceDet?.InsuredGoodsPrice && item.SurchargeCode === 'INSR'">
                  <li>( Value of Goods: {{item?.CurrencyCode}}
                    {{BookingInvoiceDet?.InsuredGoodsPrice | number: '1.2-2'}}
                    )</li>
                </ul>
              </span>
              <span class="amount-text" [ngClass]="{'text-danger' : item.active}"
                *ngIf="item.TotalAmount > 0 && item.SurchargeCode !== 'INSR'">{{item.CurrencyCode}}
                {{item.TotalAmount | number: '1.2-2'}}</span>
              <span class="amount-text" [ngClass]="{'text-danger' : item.active}" *ngIf="item.SurchargeCode === 'INSR'">
                ---
              </span>
            </li>
          </ul>

          <hr *ngIf="valueAddedData?.length > 0">
          <h6 *ngIf="taxData?.length > 0 && taxData[0].TotalAmount && taxData[0].TotalAmount > 0">Taxes</h6>
          <ul class="list-group list-group-flush value-services">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of taxData">
              <span class="long-text" [ngClass]="{'text-danger' : item.active}"
                *ngIf="item.TotalAmount > 0">{{item.SurchargeCode}}
                - {{item.SurchargeName}}</span>
              <span class="amount-text" [ngClass]="{'text-danger' : item.active}"
                *ngIf="item.TotalAmount > 0">{{item.CurrencyCode}}
                {{item.TotalAmount | number: '1.2-2'}}</span>
            </li>
          </ul>
          <hr *ngIf="discountData && discountData.TotalAmount && discountData.TotalAmount > 0">
          <ul class="list-group list-group-flush">
            <li *ngIf="discountedAmount" class="list-group-item d-flex justify-content-between align-items-center">
              <span class="long-text">{{discountData?.SurchargeCode}} - {{discountData?.SurchargeName}}</span>
              <span class="amount-text">
                <span>{{currencyCode}} {{discountedAmount | number: '1.2-2'}}</span>
              </span>
            </li>
          </ul>
        </ng-container>
        <ng-container *ngIf="isSpecialRequest">
          <h6>{{(searchCriteria?.searchMode === 'warehouse-lcl')?'Warehouse Charges':'Freight Charges'}}</h6>
          <ul class="list-group list-group-flush value-services">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="long-text">Spot Rate</span>
              <span class="amount-text">{{BookingInvoiceDet?.CurrencyCode}}
                {{originAmount - adjustedAmount - vasTotal | number: '1.2-2'}}</span>
            </li>
          </ul>
          <hr *ngIf="valueAddedData.length">
          <h6 *ngIf="valueAddedData?.length > 0">Value Added Services</h6>
          <ul class="list-group list-group-flush value-services" *ngIf="valueAddedData?.length > 0">
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let item of valueAddedData">
              <span class="long-text" [ngClass]="{'text-danger' : item.active}">{{item.SurchargeCode}}
                - {{item.SurchargeName}}
                <ul class="long-text-sub" *ngIf="BookingInvoiceDet?.InsuredGoodsPrice && item.SurchargeCode === 'INSR'">
                  <li>( Value of Goods: {{item?.CurrencyCode}}
                    {{BookingInvoiceDet?.InsuredGoodsPrice | number: '1.2-2'}}
                    )</li>
                </ul>
              </span>
              <span class="amount-text" [ngClass]="{'text-danger' : item.active}"
                *ngIf="item.TotalAmount > 0 && item.SurchargeCode !== 'INSR'">{{item.CurrencyCode}}
                {{item.TotalAmount | number: '1.2-2'}}</span>
              <span class="amount-text" [ngClass]="{'text-danger' : item.active}" *ngIf="item.SurchargeCode === 'INSR'">
                ---
              </span>
            </li>
          </ul>
          <hr *ngIf="adjustedAmount">
        </ng-container>


        <ul class="list-group list-group-flush">
          <ng-container *ngIf="adjustedAmount">
            <li *ngFor="let _adjustment  of adjustmentAmounts"
              class="list-group-item d-flex justify-content-between align-items-center">
              <span class="long-text">{{_adjustment?.SurchargeCode}} - {{_adjustment?.SurchargeName}}</span>
              <span class="amount-text">
                <ng-container>
                  <span>{{currencyCode}} {{_adjustment.TotalAmount | number: '1.2-2'}}</span>
                </ng-container>
              </span>
            </li>
          </ng-container>
          <ng-container>
            <div class="update-rates" *ngIf="isUpdatable">
              <form class="form-component">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group mt-3">
                      <label>Your Price</label>
                      <div class="input-group">
                        <div class="input-group-prepend col-3 p-0">
                          <div class="input-group-text">
                            <div class="city-dropdown currency">
                              <div class="flag-container" *ngIf="selectedCurrency && selectedCurrency?.imageName">
                                <img
                                  src="{{'../../../../assets/images/flags/4x3/' + (selectedCurrency?.imageName | lowercase) + '.svg'}}"
                                  type="image/svg+xml">
                              </div>
                              <input type="text" class="form-control routeSelected" maxlength="5" name="currency"
                                [(ngModel)]="selectedCurrency.shortName" [disabled]="true">
                            </div>
                          </div>
                        </div>
                        <select class="form-control col-2" [(ngModel)]="actionType"
                          (ngModelChange)="onOptionChange(actionType)" name="price_option">
                          <option [value]="'add'">+</option>
                          <option [value]="'subtract'">-</option>
                        </select>
                        <input type="number" class="form-control pr-0" name="price" [(ngModel)]="actualIndividualPrice"
                          (ngModelChange)="onAdjustChagne(actualIndividualPrice)"
                          (keypress)="numberValidwithDecimal($event)" placeholder="0.00">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Comment</label>
                  <textarea name="comments" [(ngModel)]="specialRequestComments" id="" cols="30" rows="10"
                    class="form-control" placeholder="type here"></textarea>
                </div>
              </form>
            </div>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong class="text-primary">Total</strong>
              <span class="text-primary text-right">
                <strong>{{currencyCode}} {{totalAmount | number: '1.2-2'}}*</strong><br>
              </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="note">
                * The total cost is an estimate, based on today's currency conversion rates. The payment may be
                collected
                in
                the original currency as shown above.
              </span>
            </li>
          </ng-container>
          <!-- <li *ngIf="BookingInvoiceDet?.MinPriceAppliedDesc"
            class="list-group-item d-flex justify-content-between align-items-center">
            <span class="alert-small">
              * {{BookingInvoiceDet?.MinPriceAppliedDesc}}
            </span>
          </li> -->

        </ul>
      </div>

      <div class="update-rates" *ngIf="isUpdatable">
        <form class="form-component">
          <button type="submit" class="btn btn-primary w-100 hvr-sweep-to-right mt-2" (click)="submitPrice()"
            [disabled]="!selectedCurrency || !actualIndividualPrice">Submit Price</button>
        </form>
      </div>


    </div>
  </div>
</div>