@import "../../../../../assets/scss/_variables";
.billing {
  transition: all 1s ease;
  position: relative;
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px dashed $grey-border;
    margin-right: 0.75rem;
  }
  .card {
    border-radius: 0.2rem;
    border: 1px solid $light-grey-border;
    .close {
      position: absolute;
      width: 14px;
      height: 14px;
      right: 8px;
      top: 2px;
      img {
        width: 100%;
      }
    }
    &-title {
      font-size: $font-size-base !important;
      text-transform: uppercase;
      font-family: $font-proxima;
      color: $dark-grey-blue;
      font-weight: $font-proxima-weight-semibold;
      text-transform: uppercase;
      font-family: $font-proxima;
      color: $dark-grey-blue;
      word-spacing: 3px;
      margin-bottom: 30px;
      img,
      svg {
        height: 16px;
      }
    }
    &-body {
      background-color: $white-color;
      overflow: auto;
      animation: textChange 3s ease-out;
      padding-right: 0.75rem;
      h6 {
        font-weight: 600;
        font-family: $font-proxima;
        font-size: $font-size-large;
        margin-bottom: 0;
      }
      ng-scrollbar {
        --scrollbar-padding: 0px;
      }
    }
  }
  .additional-charges {
    margin-right: 0.45rem !important;
  }
  @-moz-document url-prefix() {
    .additional-charges {
      margin-right: 1.45rem !important;
    }
  }
  _:default:not(:root:root),
  .additional-charges {
    margin-right: 1.45rem !important;
  }

  .list-group {
    margin-right: 0.75rem;
    .list-group-item {
      font-size: $font-size-large;
      background: transparent !important;
      position: unset !important;
      border: none;
      padding: 5px 0;
      font-weight: $font-weight-mid;
      text-transform: uppercase;
      .long-text {
        font-family: $font-proxima;
        font-size: $font-size-base;
        color: $secondary-text-color;
        width: 65%;

        &-sub {
          font-family: $font-proxima;
          font-size: $font-size-base;
          color: $secondary-text-color;
          // width: 65%;
          text-transform: capitalize;
          line-height: 1.8;
          list-style: none;
          padding-left: 0;
        }
      }

      .amount-text {
        font-size: $font-size-base;
        text-align: right;
        color: $secondary-text-color;
        width: 35%;
        display: flex;
        flex-direction: column;
        span {
          text-transform: uppercase;
          span {
            text-transform: lowercase;
          }
        }
      }
      .note {
        font-family: $font-proxima;
        font-size: $font-size-base;
        color: $secondary-text-color;
        text-transform: initial;
        line-height: 1.8;
        list-style: none;
        padding-left: 0;
      }
      &:last-child {
        padding-bottom: 0px;
      }
      .text-primary {
        font-size: $font-size-medium !important;
        font-weight: $font-weight-mid !important;
        strong {
          @extend .text-primary;
        }
      }
    }
    &.total {
      .list-group-item {
        padding: 0;
      }
    }
  }
  .value-services {
    .long-text,
    .amount-text {
      animation: textChange 3s ease-out;
    }
  }
  .ng-scrollbar-view {
    overflow-x: hidden !important;
  }

  .update-rates {
    .form-component {
      .form-group {
        label {
          font-size: $font-size-large;
          font-weight: $font-weight-mid;
          font-family: $font-pragmatica;
          color: $text-color-default;
        }
        textarea {
          height: 4.5rem;
          width: 100%;
        }
        .container-main {
          .container-boxes {
            cursor: pointer;
            position: relative;
            border: 1px solid $boxes-border !important;
            border-radius: 3px;
            background: transparent;
            text-align: center;
            font-family: $font-proxima;
            margin: 0.1875rem 0.125rem;
            &.selected-container {
              border: 1px solid $primary-color !important;
            }
            .card-body {
              font-family: $font-proxima;
              padding-top: 8px;
              padding-bottom: 0;
              width: 100%;
              transition: all 0.2s;
              border: 0px solid $primary-color;
            }
            small {
              font-size: $font-size-base;
              font-family: $font-proxima;
              color: $copyrights-color;
            }
            .containerInfo {
              display: flex;
              justify-content: space-around;
              .container-weight,
              .container-size {
                display: flex;
                flex-direction: column;
                text-align: left;
                small {
                  font-size: $font-size-base;
                  font-family: $font-proxima;
                  color: $copyrights-color;
                }
                label {
                  font-size: $font-size-base;
                  margin: 0;
                  font-weight: $font-proxima-weight-semibold;
                }
              }
            }
            &.active {
              border-color: $primary-color !important;
            }
            .count-triangle {
              width: 0;
              height: 0;
              border-top: 45px solid $primary-color;
              border-left: 45px solid transparent;
              position: absolute;
              right: 0;
              top: 0;
              font-size: $font-size-base;
              img {
                width: 35px;
                height: 35px;
                top: -48px;
                position: relative;
                left: -31px;
              }
              span {
                top: -42px;
                position: absolute;
                right: 0px;
                color: $color-white;
                width: 30px;
                text-align: center;
              }
            }
            p {
              padding: 0;
              font-size: $font-size-large;
            }
            img {
              margin: 0 auto;
              &.ContainerImg20 {
                width: 65%;
                height: 90px;
              }
              &.ContainerImg40 {
                width: 74%;
                height: 95px;
                margin-bottom: -3px;
              }
              &.ContainerImg45 {
                width: 95%;
                margin-bottom: -7px;
                height: 100px;
              }
            }
            &.disabled {
              cursor: not-allowed;
              background: $grey-background;
            }
          }
        }

        .city-dropdown {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;

          > .flag-container {
            width: 16px;
            height: 12px;
            position: absolute;
            left: 0px;
            display: flex;

            img {
              width: 16px;
              height: 12px;
              border: 1px solid $primary-grey;
            }
          }

          input {
            padding: 0;
            &.routeSelected {
              padding-left: 20px;
            }
          }

          &.currency {
            ngb-typeahead-window {
              max-height: 194px;
              top: 43px !important;
            }

            input {
              background: none;
              height: 2.5rem;
              line-height: 2.5;
              border: none;

              &:focus {
                border: none;
              }
            }
          }
        }

        .input-group {
          &-text {
            background: $grey-background;
            padding: 0rem 0.75rem !important;
          }
          .country-section {
            left: -15px !important;
            top: 34px !important;
            min-width: 100px;
          }
          .select-country-list {
            .dropdown-toggle::after {
              margin-top: 8px;
            }
            .dropdown-menu.show {
              li.list-group-item {
                border: 0px;
              }
            }
          }
        }
      }
      .btn {
        font-size: $font-size-large;
        font-family: $font-proxima !important;
        font-weight: $font-proxima-weight-semibold;
        padding: 12px 50px;
        color: $white-color;
        background: $secondary-color;
        text-transform: uppercase;
        border-radius: 2px;
        border: 0;
        &:disabled {
          cursor: no-drop;
          border: 0;
          background: $btn-disable-background !important;
          color: $btn-disable-color !important;
          border-radius: 2px;
          &:before {
            background: $btn-disable-background !important;
            color: $btn-disable-color !important;
          }
        }
      }
    }

    .select-number {
      .select-country-list {
        .dropdown-toggle {
          padding-right: 15px;

          &::after {
            right: 0px !important;
          }
        }
      }
    }
  }
  .ng-scrollbar-container .ng-scrollbar-view {
    overflow-x: hidden !important;
  }
  .alert-small {
    color: $danger-color;
    opacity: 0.7;
    font-size: 0.75rem;
    font-family: $font-proxima;
    text-transform: initial;
    padding-left: 0;
  }
}

.bar-class {
  .ng-scrollbar-view {
    overflow-x: hidden !important;
  }
}
