<app-loader-main *ngIf="loading"></app-loader-main>
<div class="request-rate-add-modal animated fadeIn">
  <div class="modal-header">
    <h4 class="user-modal-title">
      <span *ngIf="requestData?.rateRequest?.ResponseID">
        Update Price | {{requestData?.rateRequest?.RequestNo}} <span *ngIf="!isMobile">| {{requestData?.rateRequest?.Customer?.CustomerName}}</span>
      </span>
      <span *ngIf="!requestData?.rateRequest?.ResponseID">
        Add New Quote | {{requestData?.rateRequest?.RequestNo}} <span *ngIf="!isMobile">|</span><span *ngIf="isMobile"><br></span> <span *ngIf="!isMobile">{{requestData?.rateRequest?.Customer?.CustomerName}}</span>
      </span>
    </h4>
    <a class="pointer crossIcon" (click)="closeModal(true)">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16" />
    </a>
  </div>

  <ng-scrollbar class="history-scroll" style="height:45rem">
    <div class="modal-body">
      <div class="form-component">
        <div>
          <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12 form-group">
              <div class="customer-comments">
                <label>Commodity Description</label>
              </div>
              <textarea [disabled]="true" name="description" [(ngModel)]="commodityDesc" id="" cols="30" rows="10"
                class="form-control desc-text-area"></textarea>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 form-group">
              <div class="customer-comments">
                <label>Customer Comments</label>
              </div>
              <textarea [disabled]="true" name="description" [(ngModel)]="specialReqDesc" id="" cols="30" rows="10"
                class="form-control desc-text-area"></textarea>
            </div>
          </div>
          <div class="form-group" *ngIf="requestData?.rateRequest.ShippingModeCode === 'TRUCK'">
            <label>Route</label>
            <div class="route">
              <div class="row mb-3">
                <div class="col-6 pickup">
                  <label class="d-block mb-0 mt-0">Pickup Location</label>
                  <img style="border: 1px solid #3f5165"
                    src="{{'../../../../../assets/images/flags/4x3/' + (requestData.rateRequest?.RequestOrigin?.PolCountryCode | lowercase) + '.svg'}}"
                    class="mw-100 w-auto h-auto mh-100 icon-size-18-12 mr-1">
                  <span>{{(requestData.rateRequest?.RequestOrigin?.PolType === 'TRUCK' ||
                    requestData.rateRequest?.RequestOrigin?.PolType === 'CITY')?
                    requestData.rateRequest?.RequestOrigin?.PolName + ', ' +
                    requestData.rateRequest?.RequestOrigin?.PolCountry:requestData.rateRequest?.RequestOrigin?.PolAddress}}</span>
                </div>
                <div class="col-6 dropoff">
                  <label class="d-block mb-0 mt-0">Dropoff Location</label>
                  <img style="border: 1px solid #3f5165"
                    src="{{'../../../../../assets/images/flags/4x3/' + (requestData.rateRequest?.RequestDestination?.PodCountryCode | lowercase) + '.svg'}}"
                    class="mw-100 w-auto h-auto mh-100 icon-size-18-12 mr-1">
                  <span>{{(requestData.rateRequest?.RequestDestination?.PodType === 'TRUCK' ||
                    requestData.rateRequest?.RequestDestination?.PodType === 'CITY')?
                    requestData.rateRequest?.RequestDestination?.PodName + ', ' +
                    requestData.rateRequest?.RequestDestination?.PodCountry:requestData.rateRequest?.RequestDestination?.PodAddress}}</span>
                </div>
              </div>
            </div>
          </div>

          <div
            *ngIf="requestData.rateRequest?.ShippingModeCode === 'SEA' || requestData.rateRequest?.ShippingModeCode === 'AIR'">
            <ng-container>
              <div class="form-group">
                <label>Route</label>
                <div class="route">
                  <div
                    *ngIf="requestData.rateRequest?.RequestOrigin?.PolType?.toUpperCase() === 'GROUND' || requestData.rateRequest?.RequestDestination?.PodType?.toUpperCase() === 'GROUND'"
                    class="row mb-3">
                    <div class="col-6 pickup">
                      <div *ngIf="requestData.rateRequest?.RequestOrigin?.PolType?.toUpperCase() === 'GROUND'">
                        <label class="d-block mb-0 mt-0">Pickup Location</label>
                        <img style="border: 1px solid #3f5165"
                          src="{{'../../../../../assets/images/flags/4x3/' + (requestData.rateRequest?.RequestOrigin?.PolCountryCode | lowercase) + '.svg'}}"
                          class="mw-100 w-auto h-auto mh-100 icon-size-18-12 mr-1">
                        <span>{{requestData.rateRequest?.RequestOrigin?.PolType ===
                          'SEA'?requestData.rateRequest?.RequestOrigin?.PolName + ', ' +
                          requestData.rateRequest?.RequestOrigin?.PolCountry:requestData.rateRequest?.RequestOrigin?.PolAddress}}</span>
                      </div>
                    </div>
                    <div class="col-6 dropoff"
                      *ngIf="requestData.rateRequest?.RequestDestination?.PodType?.toUpperCase() === 'GROUND'">
                      <label class="d-block mb-0 mt-0">Dropoff Location</label>
                      <img style="border: 1px solid #3f5165"
                        src="{{'../../../../../assets/images/flags/4x3/' + (requestData.rateRequest?.RequestDestination?.PodCountryCode | lowercase) + '.svg'}}"
                        class="mw-100 w-auto h-auto mh-100 icon-size-18-12 mr-1">
                      <span>{{requestData.rateRequest?.RequestDestination?.PodType ===
                        'SEA'?requestData.rateRequest?.RequestDestination?.PodName + ', ' +
                        requestData.rateRequest?.RequestDestination?.PodCountry:requestData.rateRequest?.RequestDestination?.PodAddress}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 form-group origin">
                      <label class="d-block mb-2 mt-0">Origin Port</label>

                      <div class="row">
                        <div class="col-12 origin">
                          <div class="flag-container" style="left: 25px !important;">
                            <img *ngIf="filterOrigin && filterOrigin.imageName"
                              src="{{'../../../../../assets/images/flags/4x3/' + (filterOrigin.imageName | lowercase) + '.svg'}}"
                              type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                          </div>
                          <input class="form-control" [(ngModel)]="filterOrigin" placeholder="Origin" type="text"
                            [ngClass]="{'routeSelected': filterOrigin && filterOrigin.imageName, 'inputInvalid':isOriginInValid}"
                            (keypress)="isRouteDetailUpdate = true" [ngbTypeahead]="originPortsFilter" [resultTemplate]="rt"
                            [inputFormatter]="filterPortsFormatter" container="body" (selectItem)="isRouteDetailUpdate = true"
                            placement="bottom-left" ngbTooltip="{{(filterOrigin?.title)?filterOrigin?.title:''}}"
                            (focus)="isOriginInValid = false" />
                        </div>                        
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 form-group destination">
                      <label class="d-block mb-2 mt-0">Destination Port</label>
                      <div class="row">                        
                        <div class="col-12 destination">
                          <div class="flag-container" style="left: 25px !important;">
                            <img *ngIf="filterDestination && filterDestination.imageName"
                              src="{{'../../../../../assets/images/flags/4x3/' + (filterDestination.imageName | lowercase) + '.svg'}}"
                              type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                          </div>
                          <input placeholder="Destination" [(ngModel)]="filterDestination" type="text" class="form-control"
                            [ngClass]="{'routeSelected': filterDestination && filterDestination.imageName, 'inputInvalid':isDestinInValid}"
                            (keypress)="isRouteDetailUpdate = true" [ngbTypeahead]="destinPortsFilter" [resultTemplate]="rt"
                            [inputFormatter]="filterPortsFormatter" container="body" (selectItem)="isRouteDetailUpdate = true"
                            ngbTooltip="{{(filterDestination?.title)?filterDestination?.title:''}}" placement="bottom-left"
                            (focus)="isDestinInValid = false" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>                
              </div>
            </ng-container>

            <div class="row"
              *ngIf="allShippingLines?.length > 0 &&  (requestData.rateRequest?.ShippingModeCode === 'SEA' || requestData.rateRequest?.ShippingModeCode === 'AIR')">
              <div class="col-12 form-group shippingline">
                <div class="d-flex flex-row align-items-center" style="justify-content: space-between;">
                  <label style="width: auto !important;">{{searchMode === 'air-lcl'?'Airline':'Shipping Line'}}</label>
                </div>
                <div class="shippingline-container" *ngIf="selectedShipping && selectedShipping?.imageName">
                  <img src="{{getShippingLineImage(selectedShipping?.imageName)}}" alt="">
                </div>
                <input type="text" class="form-control" #carrier
                  [ngClass]="{'pl-5':selectedShipping && selectedShipping?.imageName, 'inputInvalid': isShippingInValid}"
                  placeholder="e.g: {{searchMode === 'air-lcl'?'Emirates Airline': 'Maersk Shipping'}}"
                  [(ngModel)]="selectedShipping" [ngbTypeahead]="shippings" (ngModelChange)="hasCarrierChanged = true"
                  [resultTemplate]="st" [inputFormatter]="formatter" (focus)="isShippingInValid = false" />
                <ng-template #st let-r="result">
                  <div class="d-inline-block icon-size-16 mr-2">
                    <img src="{{getShippingLineImage(r.imageName)}}" width="16px" height="16px">
                  </div>
                  <ngb-highlight [result]="r.title"></ngb-highlight>
                </ng-template>
              </div>
            </div>
            <ng-template #rt let-r="result" container="body">
              <div class="d-flex">
                <div class="flag-container yolox mr-1">
                  <img src="{{'../../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                    class="mw-100 w-auto h-auto mh-100">
                </div>
                <ngb-highlight [result]="r.title"></ngb-highlight>
              </div>
            </ng-template>
          </div>
        </div>
        <ng-container *ngIf="requestData.rateRequest?.ShippingModeCode === 'SEA'">
          <div class="d-flex flex-row align-items-center mt-1">
            <label><span style="font-weight: 500;">Vessel Schedule </span>(Optional)</label>
          </div>

          <div class="row">
            <div class="col-xl-3 col-md-4 col-sm-12 ">
              <div class="row combine-filed-popup">
                <div class="col-xl-5 col-lg-5 col-md-5 col-5 pr-0">
                  <div class="combine-filed-popup-left">Departure
                  </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-7 pl-0 datePicker">
                  <div class="form-group">
                    <input class="form-control departure-date" [autoClose]="false" readonly id="hashDatepicker"
                      [outsideDays]="false" [(ngModel)]="departureDate" placeholder="Date" name="dp" [displayMonths]="1"
                      [navigation]="false" [showWeekNumbers]="false" [minDate]="departureMinDate" ngbDatepicker
                      [placement]="'bottom'" #depDate="ngbDatepicker" [ngClass]="{'inputInvalid': isDepartureInValid}"
                      (ngModelChange)="onDepartureChange();hasScheduleChanged=true;"
                      (click)="depDate.toggle();$event.stopPropagation();" (document:click)="closeFix($event, depDate)"
                      (focus)="isDepartureInValid = false" />
                  </div>
                </div>
                <img *ngIf="departureDate?.day" src="../../../../assets/images/icons/icon_del_round.svg"
                  alt="delete-icon" class="icon-size-16 combine-filed-popup-delete pointer" (click)="onDepartureRmv()">
              </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-12 ">
              <div class="row combine-filed-popup">
                <div class="col-xl-5 col-lg-5 col-md-5 col-5 pr-0">
                  <div class="combine-filed-popup-left">
                    Cut Off
                  </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-7 pl-0 datePicker">
                  <div class="form-group combine-filed-popup-right dateIcon">
                    <input [disabled]="!departureDate?.day" class="form-control" [autoClose]="false" readonly
                      id="hashDatepicker2" [(ngModel)]="cutOffDate" placeholder="Date" name="cutDate"
                      [displayMonths]="1" [navigation]="false" [showWeekNumbers]="false" [minDate]="cutOffMinDate"
                      [maxDate]="departureDate" ngbDatepicker placement="bottom-right" #cutDate="ngbDatepicker"
                      (click)="cutDate.toggle();$event.stopPropagation();" (document:click)="closeFix($event, cutDate)"
                      [ngClass]="{'inputInvalid': isCutOffInValid}" (ngModelChange)="hasScheduleChanged=true;"
                      (focus)="isCutOffInValid = false" />
                  </div>
                </div>
                <img *ngIf="cutOffDate?.day" src="../../../../assets/images/icons/icon_del_round.svg" alt="delete-icon"
                  class="icon-size-16 combine-filed-popup-delete pointer" (click)="cutOffDate = null">
              </div>
            </div>

            <div class="col-xl-3 col-md-4 col-sm-12">
              <div class="row combine-filed-popup">
                <div class="col-xl-6 col-lg-6 col-md-6 col-5 pr-0">
                  <div class="combine-filed-popup-left">Transit Days
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-7 pl-0">
                  <div class="form-group combine-filed-popup-right">
                    <input style="width: 100%" [disabled]="!cutOffDate?.day"
                      class="form-group combine-filed-popup-right pl-2" priceDir type="text" maxlength="15"
                      placeholder="0" [(ngModel)]="selectionDuration"
                      (ngModelChange)="hasScheduleChanged=true;onDepartureChange()"
                      [ngClass]="{'inputInvalid': isTransitInValid}" (focus)="isTransitInValid = false" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-12">
              <div class="row combine-filed-popup">
                <div class="col-xl-6 col-lg-6 col-md-6 col-5 pr-0">
                  <div class="combine-filed-popup-left">Stops
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-7 pl-0">
                  <div class="form-group combine-filed-popup-right">
                    <select style="width: 1 00%" class="form-group combine-filed-popup-right pl-2 col-12"
                      [(ngModel)]="selectedStops" [disabled]="selectionDuration <=0"
                      (ngModelChange)="hasScheduleChanged=true;">
                      <option [value]="null" disabled>All</option>
                      <option *ngFor="let stop of shipStop" [value]="stop">{{stop}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <section *ngIf="selectedStops !== 'direct'" class="rates-filter mt-2">
            <ngb-accordion [activeIds]="activeAccrodian" [destroyOnHide]="false">
              <ngb-panel id="route_ts1">
                <ng-template ngbPanelTitle>
                  <span class="pull-left">
                    <img src="../../../../assets/images/icons/filter-icon.svg" alt="Filter"
                      class="icon-size-16 mr-2 filter-icon">Trans Shipment One
                    <img src="../../../../assets/images/icons/icon_arrow_right.svg" alt="direction"
                      class="icon-size-16 acc-icon">
                  </span>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                      <div class="form-group">
                        <label>Route</label>
                        <div class="row">
                          <div class="col-12">
                            <div class="shippingline-container">
                              <img *ngIf="t1Route && t1Route.imageName"
                                src="{{'../../../../assets/images/flags/4x3/' + (t1Route.imageName | lowercase) + '.svg'}}"
                                type="image/svg+xml">
                            </div>
                            <input class="form-control pl-5" [(ngModel)]="t1Route" placeholder="Via Port"
                              (ngModelChange)="hasScheduleChanged=true;onTs1Change()" type="text"
                              [disabled]="!filterOrigin?.id || !filterDestination?.id"
                              [ngClass]="{'routeSelected': t1Route && t1Route.imageName,'inputInvalid': IsR1InValid}"
                              [ngbTypeahead]="allPortsFilter" [resultTemplate]="rt1"
                              [inputFormatter]="filterPortsFormatterTs1" placement="bottom-left"
                              ngbTooltip="{{(t1Route?.title)?t1Route?.title:''}}" (focus)="IsR1InValid = false" />
                          </div>
                        </div>
                      </div>
                      <ng-template #rt1 let-r="result">
                        <div class="d-flex">
                          <div class="d-inline-block icon-size-16 mr-2">
                            <img src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                              class="mw-100 w-auto h-auto mh-100">
                          </div>
                          <ngb-highlight [result]="r.title"></ngb-highlight>
                        </div>
                      </ng-template>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                      <div class="row form-group date-control">

                        <div class="col-xl-6 col-lg-6 col-md-6 col-12" [ngClass]="{'pr-0 pl-0':!isMobile}">
                          <label>Arrival - Departure (Optional)</label>
                          <div class="row combine-filed-popup">
                            <div class="col-5 pr-0">
                              <div class="combine-filed-popup-left">Arrival
                              </div>
                            </div>
                            <div class="col-7 pl-0 datePicker">
                              <div class="form-group combine-filed-popup-right dateIcon">
                                <input class="form-control departure-date" [autoClose]="false" readonly
                                  id="hashDatepicker" [outsideDays]="false" [(ngModel)]="t1Arrival" placeholder="Date"
                                  name="dp" [displayMonths]="displayMonths" [navigation]="false"
                                  [showWeekNumbers]="false" [minDate]="departureDate" [maxDate]="arrivalDate"
                                  ngbDatepicker placement="bottom-left"
                                  (ngModelChange)="t1Departure = null;hasScheduleChanged=true;t1DateChange()"
                                  #t1Arv="ngbDatepicker" (click)="t1Arv.toggle();$event.stopPropagation();"
                                  (document:click)="closeFix($event, t1Arv)" placement="bottom-left" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12" [ngClass]="{'pl-0':!isMobile}">
                          <label *ngIf="!isMobile">&nbsp;</label>
                          <div class="row combine-filed-popup">
                            <div class="col-5 pr-0">
                              <div class="combine-filed-popup-left"
                                style="border-top-left-radius: 0;border-bottom-left-radius: 0;">
                                Departure
                              </div>
                            </div>
                            <div class="col-7 pl-0 datePicker">
                              <div class="form-group combine-filed-popup-right dateIcon">
                                <input [disabled]="!t1Arrival?.day" class="form-control" [autoClose]="false" readonly
                                  id="hashDatepicker2" [(ngModel)]="t1Departure" placeholder="Date" name="dp"
                                  [displayMonths]="displayMonths" [navigation]="false" [showWeekNumbers]="false"
                                  [minDate]="t1Arrival" [maxDate]="arrivalDate" ngbDatepicker placement="bottom-left"
                                  #t1Dept="ngbDatepicker" (click)="t1Dept.toggle();$event.stopPropagation();"
                                  (ngModelChange)="hasScheduleChanged=true;t1DateChange()"
                                  (document:click)="closeFix($event, t1Dept)" />
                              </div>
                            </div>
                            <img *ngIf="t1Arrival?.day || t1Departure?.day"
                              src="../../../../assets/images/icons/icon_del_round.svg" alt="delete-icon"
                              class="icon-size-16 combine-filed-popup-delete pointer"
                              (click)="t1Arrival = null;t1Departure = null;t2Arrival = null;t2Departure = null">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </section>
          <section *ngIf="selectedStops === '2 t/s'" class="rates-filter mt-2">
            <ngb-accordion [activeIds]="activeAccrodian" [destroyOnHide]="false">
              <ngb-panel id="route_ts2">
                <ng-template ngbPanelTitle>
                  <span class="pull-left">
                    <img src="../../../../assets/images/icons/filter-icon.svg" alt="Filter"
                      class="icon-size-16 mr-2 filter-icon">Trans Shipment Two
                    <img src="../../../../assets/images/icons/icon_arrow_right.svg" alt="direction"
                      class="icon-size-16 acc-icon">
                  </span>

                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                      <div class="form-group">
                        <label>Route</label>
                        <div class="row">
                          <div class="col-12 ">
                            <div class="shippingline-container">
                              <img *ngIf="t2Route && t2Route.imageName"
                                src="{{'../../../../assets/images/flags/4x3/' + (t2Route.imageName | lowercase) + '.svg'}}"
                                type="image/svg+xml">
                            </div>
                            <input class="form-control pl-5" [(ngModel)]="t2Route" placeholder="Via Port"
                              (ngModelChange)="hasScheduleChanged=true;onTs2Change()" type="text"
                              [disabled]="!filterOrigin?.id || !filterDestination?.id || !t1Route?.id"
                              [ngClass]="{'routeSelected': t2Route && t2Route.imageName,'inputInvalid': isR2InValid}"
                              [ngbTypeahead]="allPortsFilter" [resultTemplate]="rt2"
                              [inputFormatter]="filterPortsFormatterTs2"
                              ngbTooltip="{{(t2Route?.title)?t2Route?.title:''}}" (focus)="isR2InValid = false" />
                          </div>
                        </div>
                      </div>
                      <ng-template #rt2 let-r="result" container="body">
                        <div class="d-flex">
                          <div class="d-inline-block icon-size-16 mr-2">
                            <img src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                              class="mw-100 w-auto h-auto mh-100">
                          </div>
                          <ngb-highlight [result]="r.title"></ngb-highlight>
                        </div>
                      </ng-template>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                      <div class="row form-group date-control">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12" [ngClass]="{'pr-0 pl-0':!isMobile}">
                          <label>Arrival - Departure (Optional)</label>
                          <div class="row combine-filed-popup">
                            <div class="col-5 pr-0">
                              <div class="combine-filed-popup-left">Arrival
                              </div>
                            </div>
                            <div class="col-7 pl-0 datePicker">
                              <div class="form-group combine-filed-popup-right dateIcon">
                                <input class="form-control departure-date" [autoClose]="false" readonly
                                  [disabled]="!t1Departure?.day" id="hashDatepicker" [outsideDays]="false"
                                  [(ngModel)]="t2Arrival" placeholder="Date" name="dp" [displayMonths]="displayMonths"
                                  [navigation]="false" [showWeekNumbers]="false"
                                  [minDate]="t1Departure?.day?t1Departure:departureDate" [maxDate]="arrivalDate"
                                  ngbDatepicker (ngModelChange)="t2Departure = null;hasScheduleChanged=true"
                                  #t2Arv="ngbDatepicker" (click)="t2Arv.toggle();$event.stopPropagation();"
                                  (document:click)="closeFix($event, t2Arv)" placement="bottom-left" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12" [ngClass]="{'pl-0':!isMobile}">
                          <label *ngIf="!isMobile">&nbsp;</label>
                          <div class="row combine-filed-popup">
                            <div class="col-5 pr-0">
                              <div class="combine-filed-popup-left"
                                style="border-top-left-radius: 0;border-bottom-left-radius: 0;">
                                Departure
                              </div>
                            </div>
                            <div class="col-7 pl-0 datePicker">
                              <div class="form-group combine-filed-popup-right dateIcon">
                                <input [disabled]="!t2Arrival?.day" class="form-control" [autoClose]="false" readonly
                                  id="hashDatepicker2" [(ngModel)]="t2Departure"
                                  (ngModelChange)="hasScheduleChanged=true;" placeholder="Date" name="dp"
                                  [displayMonths]="displayMonths" [navigation]="false" [showWeekNumbers]="false"
                                  [minDate]="t2Arrival" [maxDate]="arrivalDate" ngbDatepicker placement="bottom-left"
                                  #t2Dept="ngbDatepicker" (click)="t2Dept.toggle();$event.stopPropagation();"
                                  (document:click)="closeFix($event, t2Dept)" />
                              </div>
                            </div>
                            <img *ngIf="t2Arrival?.day || t2Departure?.day"
                              src="../../../../assets/images/icons/icon_del_round.svg" alt="delete-icon"
                              class="icon-size-16 combine-filed-popup-delete pointer"
                              (click)="t2Arrival = null;t2Departure = null">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </section>
        </ng-container>
        <div>
          <div class="mt-2"></div>
          <ngb-tabset [ngClass]="{'lcl-tabset':searchMode === 'sea-lcl' || searchMode === 'air-lcl'}"
            [destroyOnHide]="false" [activeId]="selectedContainer" (tabChange)="onTabChange($event)">
            <ngb-tab *ngFor="let cont of inputContainers; let contIndex=index" [id]="'cont'+'_'+contIndex">
              <ng-template style="display: hidden" ngbTabTitle>
                <span class="blue-text">{{cont.container?.ContainerSpecDesc}}</span>
                <img src="../../../../../assets/images/icons/Icons_Container.svg" class="icon-size-24 mb-2 ml-1" />
              </ng-template>
              <ng-template ngbTabContent>
                <div class="additional">
                  <div class="row">
                    <div class="col-12">
                      <h5 class="model-sub-head mt-4 mb-4">Rate</h5>
                    </div>
                  </div>
                  <div class="row">
                    <!-- Currency -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                      <div class="row combine-filed-popup">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-6 pr-0">
                          <div class="combine-filed-popup-left">Currency</div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-6 pl-0">
                          <div class="origin combine-filed-popup-right form-group">
                            <div class="flag-container">
                              <img *ngIf="cont?.currency && cont?.currency?.imageName"
                                src="{{'../../../../../assets/images/flags/4x3/' + (cont?.currency?.imageName | lowercase) + '.svg'}}"
                                type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                            </div>
                            <input type="text" placeholder="e.g: USD" [(ngModel)]="cont.currency" class="form-control"
                              [disabled]="true" [ngbTypeahead]="currencies" [resultTemplate]="crt"
                              [inputFormatter]="currencyFormatter"
                              [ngClass]="{'routeSelected': cont?.currency && cont?.currency?.imageName,'inputInvalid':!cont?.isValidCurr}"
                              (focus)="cont.isValidCurr = true">
                            <ng-template #crt let-r="result">
                              <div class="d-flex">
                                <div class="flag-container">
                                  <img
                                    src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                                    style="max-width:20px;max-height:22px;">
                                </div>
                                <ngb-highlight [result]="r.shortName"></ngb-highlight>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row combine-filed-popup col-xl-9 col-lg-9 col-md-9 col-12 pr-0">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-6 pr-0">
                        <div class="combine-filed-popup-left">
                          Rate Per {{this.rateType}}
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-3 col-6 pr-0 pl-0">
                        <div class="form-group combine-filed-popup-right">
                          <input priceDecDir (ngModelChange)="priceChange()" type="text" maxlength="20"
                            class="form-control" placeholder="0.00" [(ngModel)]="cont.price"
                            [ngClass]="{'inputInvalid':!cont?.isValidPrice}" (focus)="cont.isValidPrice = true" />
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-3 col-6 pr-0">
                        <div *ngIf="requestData.forType !== 'LCL'" class="combine-filed-popup-left">
                          {{this.rateType}} Qty
                        </div>
                        <div *ngIf="requestData.forType === 'LCL'" class="combine-filed-popup-left">
                          Total {{this.rateType}}
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-3 col-6 pr-0 pl-0">
                        <div class="form-group combine-filed-popup-right">
                          <input *ngIf="requestData.forType !== 'LCL'" priceDir (ngModelChange)="priceChange()"
                            type="text" class="form-control" placeholder="0.00" [(ngModel)]="cont.resQty"
                            [disabled]="searchMode === 'truck-ftl'" [ngClass]="{'inputInvalid':!cont?.isValidQty}"
                            (focus)="cont.isValidQty = true" />
                          <input *ngIf="requestData.forType === 'LCL'" priceDecDir (ngModelChange)="priceChange()"
                            type="text" class="form-control" [disabled]="true" placeholder="0.00"
                            [(ngModel)]="respondedCBM" [ngClass]="{'inputInvalid':!cont?.isValidQty}"
                            (focus)="cont.isValidQty = true" />
                        </div>
                      </div>
                    </div>
                    <ng-container *ngIf="requestData.forType !== 'LCL'">
                      <span *ngIf="cont?.bookedQty && cont.resQty > (cont?.reqQty - cont?.bookedQty);else elResp"
                        class="animated fadeIn d-flex justify-content-end w-100 col-12">
                        <p class="inputError animated fadeIn" style="width: 36%;">
                          Your quote is for {{cont?.resQty | number:'1.0-0'}} containers while remaining {{(cont?.reqQty
                          - cont?.bookedQty) > 1 ? 'containers' : 'container'}} in
                          request {{(cont?.reqQty - cont?.bookedQty) > 1 ? 'are' : 'is'}} {{cont?.reqQty -
                          cont?.bookedQty | number:'1.0-0'}} for
                          {{cont?.container?.ContainerSpecDesc}}. Please correct
                          the container
                          quantity in quote
                        </p>
                      </span>
                      <ng-template #elResp>
                        <span *ngIf="(!cont?.bookedQty || cont?.bookedQty === 0) && cont.resQty > cont?.reqQty"
                          class="animated fadeIn d-flex justify-content-end w-100 col-12">
                          <p class="inputError animated fadeIn" style="width: 36%;">
                            Entered quantity cannot be greater than requested Quantity ({{cont?.reqQty}}) </p>
                        </span>
                      </ng-template>
                    </ng-container>
                    <span class="animated fadeIn d-flex justify-content-end w-100 col-12"
                      *ngIf="requestData.forType === 'LCL' && respondedCBM > requestedCBM">
                      <p class="inputError animated fadeIn" style="width: 36%;">
                        Entered quantity cannot be greater than requested Quantity ({{requestedCBM}}) </p>
                    </span>
                  </div>
                  <div class="row more-charges">
                    <div class="col-12">
                      <h5 class="model-sub-head mt-4 pull-left">
                        Additional Charges <span>At Port Of Origin</span>
                      </h5>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 pl-0 pr-0"
                      *ngFor="let originCharge of cont.orginCharges; let chIndex=index">
                      <div class="row combine-filed-popup ml-3 mr-3 mb-2"
                        [ngClass]="{'active' : addOriginActive,'inputInvalid':!originCharge.isValid}">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-6 pr-0 pl-0">
                          <div ngbDropdown #originDropdown="ngbDropdown" class="combine-filed-popup-left-btn"
                            (openChange)="dropdownToggle($event, 'origin')"
                            (click)="destinationDropdown.close();$event.preventDefault();$event.stopPropagation()">
                            <button class="btn has-open" id="{{originCharge?.addChrName || 'originID'}}"
                              [placement]="'top'"
                              ngbTooltip="{{originCharge?.addChrName}} - ({{originCharge?.addChrBasis}})"
                              [disableTooltip]="!originCharge?.addChrName" ngbDropdownToggle>
                              {{originCharge?.addChrName || 'Select' | limitTo : 30 }}
                            </button>
                            <div ngbDropdownMenu aria-labelledby="originExport" *ngIf="!originCharge?.IsMandatory">
                              <ng-container *ngIf="!isOriginChargesForm">
                                <div class="test-origin add-charge-box">
                                  <button class="dropdown-item custom-label has-open"
                                    (click)="showCustomChargesForm('origin')">
                                    <img src="../../../../assets/images/icons/icon_add.svg" width="16" alt="">
                                    Add Custom Label
                                  </button>
                                  <div class="form-group ml-2 mr-2">
                                    <input class="form-control has-open" type="text" [(ngModel)]="originSearch "
                                      placeholder="Search Charges">
                                  </div>
                                </div>
                                <div class="add-charge-box-list">
                                  <ng-container
                                    *ngFor="let charge of originsList | addCharFilter : originSearch :cont.orginCharges">
                                    <button *ngIf="charge?.addChrID > 0" class="dropdown-item add-charge-border"
                                      [id]="'orglist_' + charge?.addChrID"
                                      (click)="originSearch = null;selectCharges(originCharge, cont.orginCharges, 'EXPORT', charge,contIndex, chIndex)">
                                      {{charge.addChrName}}
                                      <span class="d-block"
                                        style="color:#777;font-size:0.7rem">{{charge?.addChrBasis}}</span>
                                    </button>
                                  </ng-container>
                                </div>
                              </ng-container>
                              <div class="row" *ngIf="isOriginChargesForm">
                                <div class="col-12 pt-4 custom-label-box">
                                  <div class="form-group">
                                    <label class="mt-0">Add Custom Label</label>
                                    <input class="form-control has-open" type="text"
                                      [ngClass]="!labelValidate ?  'inputErro2r' : ''" [(ngModel)]="lablelName"
                                      (focus)="labelValidate = true" placeholder="Charge Label / Term">
                                    <small class="text-danger d-block" *ngIf="!labelValidate">Please provide name for
                                      your custom label
                                    </small>
                                  </div>
                                  <div class="form-group">
                                    <select class="form-control has-open"
                                      [ngClass]="!surchargeBasisValidate ?  'inputErro2r' : ''"
                                      [(ngModel)]="surchargeType" (focus)="surchargeBasisValidate = true">
                                      <option value="" hidden selected>Select Surcharge Basis</option>
                                      <option *ngFor="let item of surchargesList" [value]="item.codeValID">
                                        {{item.codeValDesc}}</option>
                                    </select>
                                    <small class="text-danger d-block" *ngIf="!surchargeBasisValidate">Please select
                                      surcharge
                                      basis
                                    </small>
                                  </div>
                                  <div class="form-group">
                                    <button class="btn btn-primary mt-1 mb-2 has-open hvr-sweep-to-right w-100"
                                      (click)="addCustomLabel('origin')">Add Label
                                    </button>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-3 pl-0 pr-0">
                          <div class="form-group mb-0 combine-filed-popup-mid">
                            <input [disabled]="!originCharge?.addChrName" priceDecDir (ngModelChange)="priceChange()"
                              type="text" maxlength="15" class="form-control" [(ngModel)]="originCharge.price"
                              (focus)="originCharge.isValid = true" placeholder="0.00">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-3 pl-0 pr-0">
                          <div class="origin combine-filed-popup-right">
                            <div class="flag-container">
                              <img *ngIf="originCharge?.currency && originCharge?.currency?.imageName"
                                src="{{'../../../../../assets/images/flags/4x3/' + (originCharge?.currency?.imageName | lowercase) + '.svg'}}"
                                type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                            </div>
                            <input type="text"
                              placeholder="{{(originCharge?.currency?.shortName)?originCharge?.currency?.shortName:'USD'}}"
                              [(ngModel)]="originCharge.currency" class="form-control" [ngbTypeahead]="currencies"
                              (ngModelChange)="hasPriceChanged=true;" [resultTemplate]="crt"
                              [inputFormatter]="currencyFormatter" (keyup)="onKeyDown(originCharge, $event, 'origin')"
                              (focus)="destinCharge.isValid = true"
                              [ngClass]="{'routeSelected': originCharge?.currency && originCharge?.currency?.imageName}">
                            <ng-template #crt let-r="result">
                              <div class="d-flex">
                                <div class="flag-container">
                                  <img
                                    src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                                    style="max-width:20px;max-height:22px;">
                                </div>
                                <ngb-highlight [result]="r.shortName"></ngb-highlight>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                        <img src="../../../../assets/images/icons/icon_del_round.svg" alt="delete-icon"
                          class="icon-size-16 combine-filed-popup-delete pointer" *ngIf="!originCharge?.IsMandatory"
                          (click)="removeAdditionalCharge('origin', originCharge, contIndex)">
                      </div>
                    </div>
                    <div class="col-12">
                      <a (click)="addMoreCharges(cont.orginCharges)" href="javascript:;"
                        class="addAnother animated fadeIn">
                        Add More Charges
                      </a>
                    </div>
                  </div>
                  <div class="row more-charges">
                    <div class="col-12">
                      <h5 class="model-sub-head mt-4 pull-left">Additional Charges At Port Of Destination</h5>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 pl-0 pr-0"
                      *ngFor="let destinCharge of cont.destinCharges; let chIndex=index">
                      <div class="row combine-filed-popup ml-3 mr-3 mb-2"
                        [ngClass]="{'active' : addDestinationActive,'inputInvalid':!destinCharge.isValid}">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-6 pr-0 pl-0">
                          <div ngbDropdown #destinationDropdown="ngbDropdown"
                            (openChange)="dropdownToggle($event, 'destination')" class="combine-filed-popup-left-btn"
                            placement="bottom-left"
                            (click)="originDropdown.close();$event.preventDefault();$event.stopPropagation()">
                            <button class="btn has-open" id="{{destinCharge?.addChrName || 'destinationID'}}"
                              [placement]="'top'"
                              ngbTooltip="{{destinCharge?.addChrName}} - ({{destinCharge?.addChrBasis}})"
                              [disableTooltip]="!destinCharge?.addChrName" ngbDropdownToggle>
                              {{destinCharge?.addChrName || 'Select' | limitTo : 30 }}
                            </button>

                            <div ngbDropdownMenu aria-labelledby="destinationExport">
                              <div class="add-charge-box">
                                <button class="dropdown-item custom-label has-open"
                                  (click)="showCustomChargesForm('destination')">
                                  <img src="../../../../assets/images/icons/icon_add.svg" width="16" alt="">
                                  Add Custom Label
                                </button>
                                <div class="form-group ml-2 mr-2">
                                  <input class="form-control has-open" type="text" [(ngModel)]="destinSearch"
                                    placeholder="Search Charges">
                                </div>
                              </div>
                              <ng-container *ngIf="!isDestinationChargesForm">

                                <div class="add-charge-box-list">
                                  <ng-container
                                    *ngFor="let charge of destinationsList | addCharFilter : destinSearch :cont.destinCharges">
                                    <button *ngIf="charge?.addChrID > 0" class="dropdown-item add-charge-border"
                                      [id]="'destlist_' + charge?.addChrID"
                                      (click)="destinSearch = null;selectCharges(destinCharge, cont.destinCharges, 'IMPORT', charge,contIndex, chIndex)">
                                      {{charge.addChrName}}
                                      <span class="d-block"
                                        style="color:#777;font-size:0.7rem">{{charge?.addChrBasis}}</span>
                                    </button>
                                  </ng-container>

                                </div>
                              </ng-container>
                              <div class="row" *ngIf="isDestinationChargesForm">
                                <div class="col-12 pt-4 custom-label-box">
                                  <div class="form-group">
                                    <label class="mt-0">Add Custom Label</label>
                                    <input class="form-control has-open" [ngClass]="!labelValidate ?  'inputError' : ''"
                                      type="text" [(ngModel)]="lablelName" (focus)="labelValidate = true"
                                      placeholder="Charge Label / Term">
                                    <small class="text-danger d-block" *ngIf="!labelValidate">Please provide name for
                                      your custom label</small>
                                  </div>
                                  <div class="form-group">
                                    <select class="form-control has-open"
                                      [ngClass]="!surchargeBasisValidate ?  'inputError' : ''"
                                      [(ngModel)]="surchargeType" (focus)="surchargeBasisValidate = true">
                                      <option *ngFor="let item of surchargesList" selected [value]="item.codeValID">
                                        {{item.codeValDesc}}</option>
                                    </select>
                                    <small class="text-danger d-block" *ngIf="!surchargeBasisValidate">Please select
                                      surcharge
                                      basis
                                    </small>
                                  </div>
                                  <div class="form-group">
                                    <button class="btn btn-primary mt-3 has-open hvr-sweep-to-right w-100"
                                      (click)="addCustomLabel('destination')">Add Label</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-3 pl-0 pr-0">
                          <div class="form-group mb-0 combine-filed-popup-mid">
                            <input priceDecDir (ngModelChange)="priceChange()" type="text" maxlength="15"
                              class="form-control" [disabled]="!destinCharge?.addChrName"
                              [(ngModel)]="destinCharge.price" placeholder="0.00"
                              (focus)="destinCharge.isValid = true" />
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-3 pl-0 pr-0">
                          <div class="origin combine-filed-popup-right">
                            <div class="flag-container">
                              <img *ngIf="destinCharge?.currency && destinCharge?.currency?.imageName"
                                src="{{'../../../../../assets/images/flags/4x3/' + (destinCharge?.currency?.imageName | lowercase) + '.svg'}}"
                                type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                            </div>
                            <input type="text"
                              placeholder="{{(destinCharge?.currency?.shortName)?destinCharge?.currency?.shortName:'USD'}}"
                              [(ngModel)]="destinCharge.currency" class="form-control" [ngbTypeahead]="currencies"
                              (ngModelChange)="hasPriceChanged=true;" [resultTemplate]="crt"
                              [inputFormatter]="currencyFormatter"
                              (keyup)="onKeyDown(destinCharge, $event, 'destination')"
                              (focus)="destinCharge.isValid = true"
                              [ngClass]="{'routeSelected': destinCharge?.currency && destinCharge?.currency?.imageName}">
                            <ng-template #crt let-r="result">
                              <div class="d-flex">
                                <div class="flag-container">
                                  <img
                                    src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                                    style="max-width:20px;max-height:22px;">
                                </div>
                                <ngb-highlight [result]="r.shortName"></ngb-highlight>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                        <img src="../../../../assets/images/icons/icon_del_round.svg" alt="delete-icon"
                          class="icon-size-16 combine-filed-popup-delete pointer" *ngIf="!destinCharge?.IsMandatory"
                          (click)="removeAdditionalCharge('destination', destinCharge, contIndex)">
                      </div>
                    </div>
                    <div class="col-12">
                      <a (click)="addMoreCharges(cont.destinCharges)" href="javascript:;"
                        class="addAnother animated fadeIn">
                        Add More Charges
                      </a>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
          <hr>

          <div class="row mt-4">
            <div class="col-xl-6 col-md-6 col-sm-12 pl-0 pr-4">
              <div class="row combine-filed-popup pl-2">
                <div class="col-xl-4 col-lg-4 col-md-4 col-5 pr-0 pl-4">
                  <div class="combine-filed-popup-left">Rate Validity</div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-7 pl-0 date-control">
                  <div class="form-group combine-filed-popup-right dateIcon row"
                    [ngClass]="{'inputInvalid': isEffectiveInValid}">
                    <div class="col-6 pr-0 pl-1">
                      <div class="cal-ic"></div>
                      <input [autoClose]="true" id="dpicker" autocomplete="off" #rangeDp class="form-control "
                        placeholder="Start Date" name="dp" ngbDatepicker placement="bottom" [outsideDays]="true"
                        [navigation]="false" [displayMonths]="displayMonths" [(ngModel)]="fromDate"
                        #effectiveFrom="ngbDatepicker" [minDate]="minDate" (ngModelChange)="toDate = null"
                        (document:click)="closeFix($event, effectiveFrom)"
                        (click)="effectiveFrom.toggle();$event.stopPropagation();"
                        style="border-left: none;border-radius: 0 !important;" (focus)="isEffectiveInValid = false" />
                    </div>
                    <div class="col-6 pl-0 pr-2">
                      <div class="cal-ic"></div>
                      <input [autoClose]="true" id="dpicker2" autocomplete="off" #rangeDp class="form-control"
                        placeholder="End Date" name="dp" ngbDatepicker placement="bottom-right" [outsideDays]="true"
                        [navigation]="false" [displayMonths]="displayMonths" [minDate]="fromDate" [(ngModel)]="toDate"
                        (document:click)="closeFix($event, effectiveTo)" #effectiveTo="ngbDatepicker"
                        (click)="effectiveTo.toggle();$event.stopPropagation();" [disabled]="!fromDate?.day"
                        (focus)="isEffectiveInValid = false" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>{{'Quote Terms and Conditions (Optional)'}}</label>
                <textarea style="height: 8rem;" name="comments" [(ngModel)]="specialRequestComments" id="" cols="30"
                  (ngModelChange)="hasRateTCChanged = true" rows="10" class="form-control mb-2" [maxLength]="500"
                  placeholder="Please enter shipment terms and conditions including free days and payments terms"></textarea>
                <small class="ml-1">{{getRemainingInsCount()}} of 500 characters remaining</small>
              </div>
            </div>
            <div *ngIf="paymentTermsOptions?.length > 0 || (showHMPolicy && isEnterprise)" class="col-12 form-group">
              <label>{{'Customer Payment Terms'}}</label>
              <div class="alert alert-warning d-flex flex-column mt-1" role="alert">
                <ul class="pl-2 ml-1 pb-0 mb-0">
                  <li>
                    <div class="d-flex flex-row align-self-start">
                      <div class="alert-text">
                        <span *ngIf="paymentTermsOptions?.length > 0;else naTemp">
                          <span
                            *ngIf="paymentTermsOptions[0]?.PTermDays !== null &&  paymentTermsOptions[0]?.PTermDays >= 0">
                            {{paymentTermsOptions[0].PTermDays}}
                          </span>
                          <span>{{paymentTermsOptions[0]?.PTermText.replace('{NoOfDays}','')}}</span>
                        </span>
                        <ng-template #naTemp>
                          <span>N/A</span>
                        </ng-template>
                      </div>
                    </div>
                  </li>
                  <li *ngIf="showHMPolicy && isEnterprise" class="mt-2">
                    <div class="d-flex flex-row align-self-start">
                      <div class="alert-text"><span>{{hmTerms}}</span></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ng-scrollbar>
  <div class="modal-footer">
    <div class="row" [ngClass]="{'w-100':!isMobile}">
      <div class="col-xl-4 col-md-4 col-sm-12 total-charges pb-2 pl-0 mt-2">
        <span class="actions-btn">
          <a class="price-breakdown ml-0 pt-1" href="javascript:;" (click)="viewInvoice()">
            <object data="../../../../assets/images/icons/icon-price-list-breakdown.svg" container="body"
              [placement]="'top'" ngbTooltip="View Price Breakdown" class="icon-size-24 pointer"
              type="image/svg+xml"></object>
            <span class="link-hover-1" container="body" [placement]="'top'" ngbTooltip="View Price Breakdown"> View
              Price
              Breakdown </span>
          </a>
        </span>
      </div>
      <div class="col-xl-8 col-md-8 col-sm-12 mb-2 d-flex justify-content-end action-items"
        [ngClass]="{'pr-5':!isMobile}">
        <ng-container *ngIf="!requestData?.rateRequest?.ResponseID">
          <button class="btn btn-primary pl-3 pr-3 mt-2 hvr-sweep-to-right mr-3 text-uppercase"
            (click)="submitPrice('saveNadd')">Save &amp;
            Add Another</button>
          <button class="btn btn-primary pl-3 pr-3 mt-2 hvr-sweep-to-right mr-3 text-uppercase"
            (click)="submitPrice('onlySave')">
            Save &amp; Close
          </button>
        </ng-container>
        <button *ngIf="requestData?.rateRequest?.ResponseID"
          class="btn btn-primary pl-3 pr-3 mt-2 hvr-sweep-to-right mr-3 text-uppercase"
          (click)="submitPrice('onlySave')">
          Update
        </button>
        <button class="btn btn-primary pl-3 pr-3 mt-2 hvr-sweep-to-right text-uppercase"
          (click)="closeModal(true)">Close</button>
      </div>
    </div>
  </div>
</div>