@import "../../../../assets/scss/_variables";
.request-rate-add-modal {  
  p.inputError {
    line-height: 1;
    margin-top: 0.5rem;
    color: $danger-color;
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  .legends {      
      
    .legend-label {
      display: flex !important;
    }

    .legend-icon {
      width: 1rem !important;
      float: right;        
      margin-top: -30px;
      cursor: pointer;
    }

    .legend-list {

      list-style: none;
      padding: 0;

      li {
        list-style: none;
        display: flex;
        font-size: $font-size-base;
        text-transform: capitalize;
        color: $text-color-default;
        margin: .4rem;
        margin-left: 0;
        margin-right: 0.7rem;

        .active {
          color: $primary-color
        }

        .d-active {
          color: $danger-color
        }

        img {
          margin-right: 8px;
          display: inline;
        }

        label,
        span {
          font-size: $font-size-base;
          margin: 0 0.25rem 0;
          font-weight: $font-weight-normal;
          margin-bottom: 0rem;
        }
      }
    }     
    .label-head {
      text-transform: uppercase;
      font-size: $font-size-medium;
      font-family: $font-proxima;
      font-weight: $font-weight-normal;
      color: $dark-grey-blue;
      text-align: left;
      margin: 0 0.25rem 0;
    }
  }
  .dropdown-text-field {
    button {
      outline: 0;
      border-radius: 4px;
      height: 3rem;
      border: 1px solid #e9ecf0;
      background: url("assets/images/select-arrow.png") no-repeat center right 10px $color-white;
      width: 100%;
      color: $place-holder-color;
      font-size: 14px;
      font-family: $font-proxima;
      text-align: left;
      box-shadow: none;

      &:after {
        display: none;
      }

      &:hover {
        box-shadow: none !important;
      }
    }
    .dropdown-field {
      padding: 10px;
      margin: 0;
      input {
        width: 48%;
      }
    }

    .dropdown-checkbox {
      padding: 10px;
      margin: 0;
    }
  }
  .lcl-tabset .nav-tabs {
    display: none !important;
  }
  .cal-ic {
    content: url("assets/images/icons/Icons_Calendar.svg");
    position: absolute;
    left: 15px;
    top: 14px;
    width: 16px;
    height: 16px;
    z-index: 4;
    opacity: 0.5;
  }
  // .departure-date {
  //   border-top-right-radius: 0 !important;
  //   border-bottom-right-radius: 0 !important;
  //   border-right: none;
  // }
  .blue-text {
    color: $active-text-color;
  }
  .total-charges {
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 3rem;
    padding-right: 1.5rem;
    h2 {
      color: $active-text-color;
    }
  }
  .rates-filter {
    border: 1px solid $acc-border;
    display: inline-block;
    width: 100%;
    // z-index: 9999;
    position: relative;
    border-radius: 0.25rem !important;

    .card {
      background: $acc-bg;
      border: none;
      margin-bottom: 0;
      border-radius: 0.25rem !important;
      &-header {
        background: $acc-bg;
        border: none;
        padding: 0.75rem 1.25rem;

        &.active {
          .filter-icon {
            transform: scaleY(-1);
          }
          .acc-icon {
            transform: rotate(-90deg);
            margin-right: 30px;
          }
        }
        a,
        .btn {
          color: $pagination-text-color;
          font-weight: $font-weight-mid;
          width: 100%;
          .acc-icon {
            margin-left: 7px;
            transform: rotate(90deg);
            transition: ease-in 0.5s;
          }
          .filter-icon {
            position: relative;
            top: -2px;
          }
          .clear-filter {
            float: right;
            font-family: $font-proxima;
            font-size: $font-size-medium;
            color: $color-topmenu;
            margin-top: 5px;
            line-height: 1;
            svg {
              width: 1rem;
              fill: $color-topmenu;
              transform: rotate(45deg);
              position: relative;
              top: -1px;
            }
          }
          &:hover {
            box-shadow: none !important;
          }
        }
        
      }
      &-body {
        padding: 5px 5.25rem;

        .combine-field {
          background: $color-white;
          border: 1px solid $provider-input-border;
          border-radius: 4px;
          margin: 0;
          .dropdown-menu {
            padding: 0;
            button {
              .flag-container {
                width: 15px;
                height: 12px;
                display: flex;
                margin-top: 5px;
                margin-right: 10px !important;
                img {
                  border: 1px solid $primary-grey;
                }
              }
            }
          }
          .origin,
          .destination,
          .provider-img {
            position: relative;
            .flag-container {
              width: 16px;
              height: 24px;
              align-items: center;
              position: absolute;
              left: 10px;
              top: 11px;
              img {
                border: 1px solid $primary-grey;
              }
            }
            .routeSelected {
              padding-left: 30px !important;
            }
          }
          input {
            border: none;
          }
          .origin {
            border-right: 1px solid $provider-input-border;
          }
        }
        .fancyOptionBoxes {
          &.filter-checkbox {
            label {
              line-height: 1.2;
              font-size: 1rem !important;
            }
          }
        }
        .date-control {
          .dateIcon {
            position: relative;
            input {
              padding-left: 2.625rem;
              &::placeholder {
                // font-style: italic;
              }
              &::-ms-input-placeholder {
                // font-style: italic;
              }
              &::-webkit-input-placeholder {
                // font-style: italic;
              }
            }
            // &:before {
            //   content: url("assets/images/icons/Icons_Calendar.svg");
            //   position: absolute;
            //   left: 15px;
            //   top: 14px;
            //   width: 16px;
            //   height: 16px;
            //   z-index: 4;
            //   opacity: 0.5;
            // }
            .cal-ic {
              content: url("assets/images/icons/Icons_Calendar.svg");
              position: absolute;
              left: 15px;
              top: 14px;
              width: 16px;
              height: 16px;
              z-index: 4;
              opacity: 0.5;
            }
          }
        }
      }
    }

    // ngb-typeahead-window {
    //     max-height: 200px;
    //     overflow-y: auto;
    //     .dropdown-item {
    //         &.active,
    //         &:active {
    //             background: $primary-grey;
    //         }
    //     }
    // }

    .provider-img {
      position: relative;
      .flag-container {
        width: 16px;
        height: 24px;
        align-items: center;
        position: absolute;
        left: 10px;
        top: 11px;
        img {
          border: 1px solid $primary-grey;
        }
      }
      .routeSelected {
        padding-left: 30px !important;
      }
    }
  }
  .add-charge-border {
    border-bottom: 1px solid #f2f2f2;
  }
  .modal-header {
    padding: 10px 32px;
    background: $modal-header-background;
    display: block;
    h4 {
      margin: 0px;
      text-shadow: 0px 0px $text-color-default;
      font-size: 22px;
      margin-top: 4px;
      font-weight: 400;
      font-family: "pragmatica", sans-serif;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      margin-top: 4px;
      margin-bottom: 0px;
    }
    a.crossIcon {
      position: absolute;
      right: 8px;
      top: 4px;
      width: 14px;
      height: 14px;
      img {
        width: 100%;
      }
    }
  }
  .modal-body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    overflow-y: auto;
    max-height: 700px;

    .model-sub-head {
      color: $secondary-grey;
      font-family: $font-proxima;
      font-weight: $font-weight-mid;
      font-size: $font-size-medium;
      text-transform: uppercase;
    }
    .popup-white {
      &.bg-white {
        padding-right: 15px;
        margin-left: -30px;
        margin-right: -30px;
        padding-left: 15px;
        padding-bottom: 30px;
      }
    }
    .combine-filed-popup {
      border-radius: 4px;
      &-left {
        font-size: 1rem;
        color: #2b2b2b;
        font-family: "proxima-nova", sans-serif;
        font-weight: $font-weight-mid;
        background: #f1f0f0;
        line-height: 1;
        padding: 15px 10px;
        border: 1px solid $input-border;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        &-btn {
          padding: 0;
          .dropdown-toggle {
            height: 48px;
            margin: 0 !important;
            width: 100%;
            border: 1px solid $input-border;
            background: #f1f0f0;
            border-radius: 4px 0 0px 4px;
            text-align: left;
            &:hover,
            &:focus {
              box-shadow: none !important;
              outline: 0 !important;
            }
            &:after {
              position: absolute;
              right: 15px;
              top: 22px;
            }
          }    
          .custom-label-box {
            background-color: $white-color;
            padding: 2rem;
          }      
          .add-charge-box {            
            position: absolute;
            width: 24.8rem;
            background-color: $search-background;
          }
          .add-charge-box-list {
            // overflow-y: auto;
            // overflow-x: hidden; 
            margin-top: 6.5rem;    
            overflow: auto;   
            width: 25rem;   
            max-height: 13.2rem;
            overflow-x: hidden;
          }
          .dropdown-menu {
            max-height: 19.6rem;
            height: 19.6rem;
            width: 25rem;
            overflow: hidden;
            border: 1px solid $primary-color;
            box-shadow: 0 0 5px -1px $primary-color;     
            // position: initial;       

            .dropdown-item {
              &.custom-label {
                color: $primary-color;
                font-family: $font-proxima;
                font-size: $font-size-medium;
                padding: 0.5rem 1.5rem;
                display: flex;
                align-items: center;
                margin-top: 10px;
                img {
                  margin-right: 0.5rem;
                }
                &:hover {
                  color: $primary-color;
                }
              }
              &.charges-form {
                width: 313px;
                margin: 0;
                padding: 0.25rem 0;
                .form-control {
                  font-family: $font-proxima;
                  font-size: $font-size-medium !important;
                  color: $disabled-text-color !important;
                }
              }
              &:active,
              &:hover {
                background: none !important;
                color: inherit;
              }
            }
            .additional-dialog {
              width: 343px;
              overflow: unset;
              margin: 0;
              padding: 15px 0;
            }
          }
        }
      }
      &-mid {
        input {
          border-radius: 0px !important;
          border-color: #ced4da;
          border-left: 0;
        }
      }
      &-right {
        input {
          border-left: 0;
          border-top-left-radius: 0px !important;
          border-bottom-left-radius: 0px !important;
          border-color: #ced4da;
          height: 48px;
          &:hover,
          &:focus {
            box-shadow: none !important;
            outline: 0 !important;
          }
        }
        &.hasDoubleRates {
          .form-control {
            width: 50%;
            float: left;
          }
          span {
            position: absolute;
            top: -1.5rem;
            &:first-child {
              left: 1rem;
            }
            &:nth-child(2) {
              left: 5.7rem;
            }
          }
        }
      }
      .active {
        box-shadow: 0 0 0 1px $color-topmenuactive;
        border-radius: 4px;
        position: relative;
      }
      &-delete {
        position: absolute;
        right: 10px;
        top: -4px;
        display: none;
      }
      &:hover {
        transition: 1s all ease-in;
        transition-delay: 2s;
        .combine-filed-popup-delete {
          transition: 2s all ease-in;
          transition-delay: 2s;
          display: block;
        }
      }
    }
    a.addAnother {
      color: $primary-color;
      font-family: $font-proxima;
      font-weight: $font-weight-mid;
      font-size: $font-size-medium;
      position: relative;
      padding-left: 30px;
      &:before {
        content: url("../../../../assets/images/icons/icon_add.svg");
        position: absolute;
        left: 0px;
        top: 0px;
        width: 16px;
        height: 16px;
      }
    }
    .dropdown-menu {
      padding: 0;
      button {
        .flag-container {
          width: 15px;
          height: 12px;
          display: flex;
          margin-top: 5px;
          margin-right: 10px !important;
          img {
            border: 1px solid $primary-grey;
          }
        }
      }
    }
    .origin,
    .destination {
      position: relative;
      > .flag-container {
        width: 16px;
        height: 24px;
        align-items: center;
        position: absolute;
        left: 10px;
        top: 11px;
        img {
          border: 1px solid $primary-grey;
        }
      }
      .routeSelected {
        padding-left: 30px !important;
      }
      .dropdown {
        &-pickup {
          width: 100%;
          position: absolute;
          z-index: 999999;
          background: $color-white;
          border: 1px solid $primary-color;
          border-radius: 0.25rem;
          margin-top: 0.2rem;
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              padding: 1rem;
              &:hover {
                cursor: pointer;
                background: $port-pickup-background;
                border-radius: 4px;
              }
              span {
                font-family: $font-proxima;
                font-size: $font-size-large;
                margin-left: 1rem;
                font-weight: $font-weight-mid;
                text-transform: uppercase;
              }
              p {
                color: $secondary-text-color;
                font-size: 0.75rem;
                margin-bottom: 0;
                padding: 0 2rem;
              }
              &:first-child {
                border-bottom: 1px solid #dedfe0;
              }
              .ports-dropdown {
                position: relative;
                margin-top: 0.7rem;
                .flag-container {
                  width: 16px;
                  height: 24px;
                  align-items: center;
                  position: absolute;
                  left: 10px;
                  top: 11px;
                  img {
                    border: 1px solid $primary-grey;
                  }
                }
              }
              .dropdown-menu {
                .flag-container {
                  position: relative;
                  left: 0px;
                  top: 0px;
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
    }
    .shippingline {
      position: relative;
      &-container {
        position: absolute;
        img {
          width: 1.5rem;
          height: 1rem;
          top: 1rem;
          position: absolute;
          left: 1rem;
        }
      }
    }
  }
  .modal-footer {
    .view-price {
      text-decoration: underline;
    }
    .actions-btn {
      a {
        font-size: $font-size-base;          
        font-family: $font-proxima;
        font-weight: $font-weight-mid;

        &.price-breakdown {
          color: $secondary-color;                    

          span {
            font-size: $font-size-base;
            font-weight: $font-weight-mid;
            text-transform: uppercase;
            &:before,
          &:after {
            color: $secondary-color;
          }
          &.link-hover-1 {
            &:before {
              background: darken($secondary-color, 3%);
              transform: scaleX(1);                
            }
            &:hover:before {
              transform: scaleX(1);
            }
          }
          }
        }
        span {
          position: relative;
          text-decoration: none;
          line-height: 24px;
          width: auto;
          &:before,
          &:after {
            color: $secondary-color;
            content: "";
            position: absolute;
            transition: transform 0.3s ease;
          }
          &.link-hover-1 {
            padding-top: 1rem;
            top: -0.25rem;
            cursor: pointer;
            &:before {
              top: 30px;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background: darken($secondary-color, 3%);
              transform: scaleX(0);
            }
            &:hover:before {
              transform: scaleX(1);
            }
          }
        }
        i {
          margin-left: 0rem;//0.35rem
        }
      }
    }
  }
  .date-control {
    .dateIcon {
      position: relative;
      input {
        padding-left: 2.625rem;
      }
      // &:before {
      //   content: url("../../../../assets/images/icons/Icons_Calendar.svg");
      //   position: absolute;
      //   left: 15px;
      //   top: 14px;
      //   width: 16px;
      //   height: 16px;
      //   z-index: 4;
      //   opacity: 0.5;
      // }
    }
  }
  ngb-typeahead-window {
    ngb-highlight {
      white-space: normal;
    }
  }
  .custom-multiselect {
    .ng-select-container {
      max-height: 155px !important;
      overflow-y: auto;
    }
    img {
      border-radius: 50%;
    }
    .ng-value-label {
      padding: 0.25rem !important;
      font-family: $font-proxima;
    }
    .ng-option {
      font-family: $font-proxima;
      font-size: $font-size-medium;
    }
  }
  .inputInvalid {
    border: 1px solid $danger-color;
    box-shadow: 0px 0px 9px $danger-color;
    border-color: $danger-color !important
  }
  .desc-text-area {
    height: 4.5rem;
    width: 100%;
  }

  // .inputInvalid {
  //   border: 1px solid $danger-color;
  //   box-shadow: 0px 0px 9px $danger-color;
  // }
  .customer-comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    label {
      width: unset !important;
    }
  }
  .chat-history {
    // position: absolute;
    // right: 1rem;
    // // top: 40%;
    // bottom: -0.7rem;

    a {
      font-family: $font-proxima;
      color: $color-topmenu;
      font-size: $font-size-medium;
      font-weight: 500;
    }
  }
  .shippingline {
    position: relative;
    &-container {
      position: absolute;
      img {
        width: 1.5rem;
        height: 1rem;
        top: 1rem;
        position: absolute;
        left: 1rem;
      }
    }
  }
  // padding: 25px 32px;
  .combine-field {
    background: $color-white;
    border: 1px solid $provider-input-border;
    border-radius: 4px;
    margin: 0;
    .dropdown-menu {
      padding: 0;
      button {
        .flag-container {
          width: 15px;
          height: 12px;
          display: flex;
          margin-top: 5px;
          margin-right: 10px !important;
          img {
            border: 1px solid $primary-grey;
          }
        }
      }
    }
    .origin,
    .destination,
    .provider-img {
      position: relative;
      .flag-container {
        width: 16px;
        height: 24px;
        align-items: center;
        position: absolute;
        left: 10px;
        top: 11px;
        img {
          border: 1px solid $primary-grey;
        }
      }
      .routeSelected {
        padding-left: 30px !important;
      }
    }
    input {
      border: none;
    }
    .origin {
      border-right: 1px solid $provider-input-border;
    }
  }
  .alert {
    &-secondary {
      background: $grey-background;
      font-family: $font-proxima;
      font-size: $font-size-medium;
      font-weight: $font-weight-normal;
      color: $text-color-default;
      border: 1px solid $input-border;
    }
  }

  .form-component {
    .form-group {
      label {
        font-size: $font-size-large;
        font-weight: $font-weight-mid;
        font-family: $font-pragmatica;
        color: $text-color-default;
      }

      .container-main {
        .container-boxes {
          cursor: pointer;
          position: relative;
          border: 1px solid $boxes-border !important;
          border-radius: 3px;
          background: transparent;
          text-align: center;
          font-family: $font-proxima;
          margin: 0.1875rem 0.125rem;
          &.selected-container {
            border: 1px solid $primary-color !important;
          }
          .card-body {
            font-family: $font-proxima;
            padding-top: 8px;
            padding-bottom: 0;
            width: 100%;
            transition: all 0.2s;
            border: 0px solid $primary-color;
          }
          small {
            font-size: $font-size-base;
            font-family: $font-proxima;
            color: $copyrights-color;
          }
          .containerInfo {
            display: flex;
            justify-content: space-around;
            .container-weight,
            .container-size {
              display: flex;
              flex-direction: column;
              text-align: left;
              small {
                font-size: $font-size-base;
                font-family: $font-proxima;
                color: $copyrights-color;
              }
              label {
                font-size: $font-size-base;
                margin: 0;
                font-weight: $font-proxima-weight-semibold;
              }
            }
          }
          &.active {
            border-color: $primary-color !important;
          }
          .count-triangle {
            width: 0;
            height: 0;
            border-top: 45px solid $primary-color;
            border-left: 45px solid transparent;
            position: absolute;
            right: 0;
            top: 0;
            font-size: $font-size-base;
            img {
              width: 35px;
              height: 35px;
              top: -48px;
              position: relative;
              left: -31px;
            }
            span {
              top: -42px;
              position: absolute;
              right: 0px;
              color: $color-white;
              width: 30px;
              text-align: center;
            }
          }
          p {
            padding: 0;
            font-size: $font-size-large;
          }
          img {
            margin: 0 auto;
            &.ContainerImg20 {
              width: 65%;
              height: 90px;
            }
            &.ContainerImg40 {
              width: 74%;
              height: 95px;
              margin-bottom: -3px;
            }
            &.ContainerImg45 {
              width: 95%;
              margin-bottom: -7px;
              height: 100px;
            }
          }
          &.disabled {
            cursor: not-allowed;
            background: $grey-background;
          }
        }
      }

      .city-dropdown {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;

        > .flag-container {
          width: 16px;
          height: 12px;
          position: absolute;
          left: 0px;
          display: flex;

          img {
            width: 16px;
            height: 12px;
            border: 1px solid $primary-grey;
          }
        }

        input {
          padding: 0;
          padding-left: 20px;
          &.routeSelected {
          }
        }

        &.currency {
          ngb-typeahead-window {
            max-height: 194px;
            top: 43px !important;
          }

          input {
            background: none;
            height: 2.5rem;
            line-height: 2.5;
            border: none;

            &:focus {
              border: none;
            }
          }
        }
      }

      .input-group {
        &-text {
          background: $color-white;
          padding: 0rem 0.75rem !important;
        }
        .country-section {
          left: -15px !important;
          top: 34px !important;
          min-width: 100px;
        }
        .select-country-list {
          .dropdown-toggle::after {
            margin-top: 8px;
          }
          .dropdown-menu.show {
            li.list-group-item {
              border: 0px;
            }
          }
        }
      }
    }
    // .btn {
    //   font-size: $font-size-large;
    //   font-family: $font-proxima !important;
    //   font-weight: $font-proxima-weight-semibold;
    //   padding: 12px 50px;
    //   color: $white-color;
    //   background: $secondary-color;
    //   text-transform: uppercase;
    //   border-radius: 2px;
    //   border: 0;
    //   &:disabled {
    //     cursor: no-drop;
    //     border: 0;
    //     background: $btn-disable-background !important;
    //     color: $btn-disable-color !important;
    //     border-radius: 2px;
    //     &:before {
    //       background: $btn-disable-background !important;
    //       color: $btn-disable-color !important;
    //     }
    //   }
    // }
  }

  .select-number {
    .select-country-list {
      .dropdown-toggle {
        padding-right: 15px;

        &::after {
          right: 0px !important;
        }
      }
    }
  }

  .route {
    .origin,
    .destination,
    .pickup,
    .dropoff {
      label {
        font-family: $font-proxima;
        font-size: $font-size-medium;
        font-weight: $font-weight-mid;
        color: $secondary-grey;
      }
      span {
        font-family: $font-proxima;
        font-size: $font-size-medium;
        font-weight: $font-weight-normal;
        color: $text-color-default;
      }
    }
  }
}
.ng-scrollbar.-vertical
{
    width: 0px !important;
}
// ngb-datepicker .ngb-dp-months .ngb-dp-month:first-child:after {
//   width: 0px !important;
// }

//** datepicker only for new quote requests popup **//
    ngb-datepicker{
      // left: inherit !important;
      // right: auto;      
      
      .ngb-dp-months {
        top: 0 !important;
        .ngb-dp-month:first-child:after {
          width: 0px !important;
        }  
        .ngb-dp-month:first-child .ngb-dp-week {
          border-right: 0px !important;
          padding-right: 0.25rem !important;
          border-radius: 0rem;

          div:nth-last-child(1) .btn-light {
            color: inherit !important;
          }
        }      
      } 
      .ngb-dp-week.ngb-dp-weekdays.bg-light {
        border-right: 0px !important;
        padding-right: 0.25rem !important;
        border-radius: 0rem;
      }
      button.btn.btn-link.ngb-dp-arrow-btn {
        padding: 0rem 1rem !important;
      }             
}



/* (1366x768)  */
@media screen and (max-width: 1366px) {
  /* insert styles here */
  .request-rate-add-modal {
    .user-modal {
      .modal-body {
        max-height: 44rem;
        overflow: auto;
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
