@import "../../../../../assets/scss/_variables"; // Local Variables
$left-nav-icon-width: 20px;
$left-nav-icon-height: 20px;
.manageRates {
    .navbar {
        margin-bottom: 48px;
        ul {
            width: 100%;
            li {
                flex: 1;
                box-shadow: 0px 1px 0px 0px $grey-border;
                .nav-link {
                    color: rgba(115, 133, 147, 0.6);
                    font-size: $font-size-medium;
                    font-weight: $font-weight-mid;
                    font-family: $font-proxima;
                    align-content: center;
                    display: flex;
                    justify-content: center;
                    outline: none;
                    position: relative;
                    img {
                        width: 24px;
                        height: 24px;
                        margin-right: 10px;
                        vertical-align: sub;
                        filter: grayscale(1);
                        opacity: 0.6;
                        z-index: 5;
                        position: relative;
                        &[alt="icon_air"] {
                            transform: rotate(-20deg);
                        }
                    }
                    .badge-rate-expiry {
                        padding: 0.55em 0.75em 0.25rem; 
                        background-color: $btn-grey-color;
                        color: $danger-color;                           
                    }
                    &.active {
                        img {
                            filter: grayscale(0);
                            opacity: 1;
                        }
                        .menu-text {
                            color: $primary-color;
                        }
                        .badge-rate-expiry {
                            padding: 0.55em 0.75em 0.25rem;                            
                            background-color: $danger-color;
                            color: $color-white;
                        }
                        box-shadow: 0px 2px 0px 0px $color-topmenuactive;
                    }
                    &:hover {
                        color: $primary-color;
                        .man-tab-ico {
                            position: relative;
                            img {
                                filter: grayscale(0);
                                opacity: 1;
                            }
                            &:after {
                                content: '';
                                position: absolute;
                                top: 40%;
                                left: 30%;
                                width: 5px;
                                height: 5px;
                                background: rgba(0, 162, 223, .5);
                                opacity: 0;
                                border-radius: 50%;
                                transform: scale(1, 1) translate(-50%);
                                transform-origin: 50% 50%;
                                animation: ripple 1s ease-out infinite;
                            }
                            @keyframes ripple {
                                0% {
                                    transform: scale(0, 0);
                                    opacity: 1;
                                    background: rgba(255, 255, 255, .5);
                                }
                                20% {
                                    transform: rgba(255, 255, 255, .5);
                                    opacity: 1;
                                    background: $white-color;
                                }
                                100% {
                                    opacity: 0;
                                    transform: scale(10, 10);
                                }
                            }
                        }
                    }
                    &.disabledLink{
                        color: rgba(115, 133, 147, 0.6);
                        cursor: context-menu;
                        .man-tab-ico {
                            img {
                                    filter: grayscale(1);
                                    opacity: 0.5;
                            }
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: $screen-fourteen-hundred) and (min-width: $screen-lg-screen) {
        .navbar {
            .nav {
                li {
                    a {
                        font-size: 0.8rem;
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: $screen-lg-screen) {
        .navbar {
            .nav {
                justify-content: center;
                li {
                    width: 47%;
                    margin: 10px;
                    flex: unset;
                    a {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: $screen-md-screen) {
        .navbar {
            .nav {
                li {
                    width: 45%;
                    flex: unset;
                }
            }
        }
    }
    @media only screen and (max-width: $screen-sm-screen) {
        .navbar {
            .nav {
                li {
                    width: 100%;
                }
            }
        }
        .Allfreights {
            .nav-tabs {
                li {
                    margin-top: 0rem;
                    // float:left;

                    span {
                        padding-right: 4rem;
                        padding-bottom: 1rem;
                    }
                }
            }
       
                .info-table {
                    tbody {
                        tr {
                        td {
                      padding-top:1rem !important;
                      vertical-align: top;
                    .badge-danger {
                        position: relative;
                        margin: 0.5rem 0 0 0rem !important;
                        left: 30px;
                    }
                }
        }
        }
            }

            .rates-grid {
                .rate-validate {
                    margin: 1rem 1rem 0 0rem !important;
                }
                .grid-delete {
                    margin:1rem 0 0 0;
                }

                .addAnother {
                    padding:0rem 4rem 1.2rem 0rem;
                    bottom: -4rem !important;
                }
            }
            .actions {
                .discard-draft {
                    margin: 0rem 0 1rem 0 ;
                }
                button {
                    width:100%;
                    margin-bottom: 1rem;
                }
            }
   
    }
    }
}

.Allfreights {
    .manage-rate-card {
        .card {
            &-icon {
                height: 44px;
                width: auto;
                position: absolute;
                left: 30px;
                top: 27px;
            }
            &-body {
                padding: 1.25rem 1.25rem 2rem 100px;
                line-height: 1;
                p {
                    margin-bottom: 0;
                }
            }
            &:hover {
                border-color: $primary-color;
                box-shadow: 0 0 5px -1px $primary-color;
            }
            &-title {
                font-size: 1.25rem;
                margin-top: 0.2rem;
            }
            .sub-title {
                font-size: 0.875rem;
            }
        }
        .routing {
            padding: 2.2rem 0;
            strong {
                position: relative;
                width: 100%;
                display: inline-block;
                span {
                    font-size: $font-size-large + 0.125rem;
                    font-family: $font-proxima;
                    font-weight: $font-proxima-weight-semibold;
                    background: $right-side-background;
                    padding: 0 10px;
                    z-index: 1;
                    position: relative;
                }
                &:before {
                    content: " ";
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    background: $primary-color;
                    left: 0;
                    top: 12px;
                    z-index: 0;
                }
            }
        }
        @media only screen and (max-width: 1285px) {
            .card {
                &.pointer {
                    min-height: 145px;
                }
            }
        }
        @media only screen and (max-width: $screen-md-screen) {
            .card {
                &.pointer {
                    min-height: auto;
                }
            }
        }
    }
    ngb-tabset {
        .nav-tabs {
            border: none;
            display: inline-block !important;
            width: 100%;
            margin-bottom: 20px;
            li {
                margin: 0px;
                overflow: hidden;
                float: right;
                a {
                    padding: 0px !important;
                    background: none !important;
                    border: none !important;
                    span {
                        padding: 11px 30px;
                        font-family: $font-proxima;
                        font-weight: $font-weight-mid;
                        color: #a5b2ba;
                        font-size: $font-size-large;
                        display: inline-block;
                        background: linear-gradient(180deg, #ececec 35%, #fff 100%) !important;
                        border-top: 1px solid transparent !important;
                        svg {
                            width: 25px;
                            height: 25px;
                            margin-right: 5px;
                            fill: #a5b2ba;
                        }
                    }
                    &.active {
                        span {
                            background: $shipping-active-color !important;
                            border-color: #30ccee !important; // transition: .5s;
                            box-shadow: inset 0 -4px 6px 0 #0085d2, inset 0 1px 6px 0 #30ccee;
                            color: $color-white;
                            svg {
                                fill: $color-white;
                            }
                        }
                    }
                }
                &:first-child {
                    float: left;
                    margin-top: 10px;
                    a {
                        span {
                            background: none !important;
                            border: none !important;
                            font-family: $font-pragmatica;
                            font-weight: $font-weight-mid;
                            color: $color-menuheading-black;
                            font-size: 1.25rem;
                            box-shadow: none !important;
                            padding: 0;
                        }
                    }
                }
                &:nth-child(2) {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
                &:last-child {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
            }
        }
        .add-rate-head {
            font-size: 1.25rem;
        }
    }
    .rates-grid {
        .grid-delete,
        .rate-validate {
            font-family: $font-proxima;
            font-size: $font-size-medium;
            color: $danger-color;
            font-weight: $font-weight-mid;
            display: flex;
            align-items: center;
            transition: 0.8s;
            &.no-drop {
                filter: grayscale(1) opacity(0.5);
                cursor: no-drop;
            }
            &:hover {
                .delete-icon {
                    overflow: visible;
                    g {
                        rect {
                            transform: rotate(-25deg);
                            transition: 0.5s;
                        }
                    }
                }
                .edit-validity-icon {
                    overflow: visible;
                    g {
                        transform: rotateY(180deg);
                        transform-origin: center;
                        transition: 0.5s;
                    }
                }
            }
        }
        .rate-validate {
            color: $secondary-color;
            &.no-drop {
                filter: grayscale(1) opacity(0.9);
            }
        }
        a.addAnother {
            color: $primary-color;
            font-family: $font-proxima;
            font-weight: $font-weight-mid;
            font-size: $font-size-medium;
            position: absolute;
            padding: 1rem 5rem 1rem 0rem;
            bottom: -4.1rem;
            // left: 1px;
            z-index: 1;
            animation-delay: 0.1s;
            display: inline-block;
            img{
                margin-right: 0.5rem;
            }
            &.withScroll{
                bottom: -0.5rem;
            }
        }
        // &.without-scroll {
        //     &.no-data {
        //         a.addAnother {
        //             bottom: 43px;
        //         }
        //     }
        //     a.addAnother {
        //         bottom: 61px;
        //     }
        //     &.no-pagination {
        //         a.addAnother {
        //             bottom: 59px;
        //         }
        //     }
        // }
        // &.no-data {
        //     a.addAnother {
        //         bottom: 38px !important;
        //     }
        // }
        // &.no-pagination {
        //     a.addAnother {
        //         bottom: 59px;
        //         width: 99.8%;
        //     }
        // }
        .rate-dur {
            color: $color-topmenu;
            animation: 1.2s ease-in-out infinite alternate-reverse fadeIn;
            font-family: $font-proxima;
            font-weight: $font-weight-mid;
        }
    }
    .rates-filter {
        border: 1px solid $acc-border;
        display: inline-block;
        width: 100%;
        // z-index: 9999;
        position: relative;
        .card {
            background: $acc-bg;
            border: none;
            &-header {
                background: $acc-bg;
                border: none;
                &.active {
                    .filter-icon {
                        transform: scaleY(-1);
                    }
                    .acc-icon {
                        transform: rotate(-90deg);
                        margin-right: 30px;
                    }
                }
                a {
                    color: $pagination-text-color;
                    font-weight: $font-weight-mid;
                    .acc-icon {
                        margin-left: 7px;
                        transform: rotate(90deg);
                        transition: ease-in 0.5s;
                    }
                    .filter-icon {
                        position: relative;
                        top: -2px;
                    }
                    .clear-filter {
                        float: right;
                        font-family: $font-proxima;
                        font-size: $font-size-medium;
                        color: $color-topmenu;
                        margin-top: 5px;
                        line-height: 1;
                        svg {
                            width: 16px;
                            fill: $color-topmenu;
                            transform: rotate(45deg);
                            position: relative;
                            top: -1px;
                        }
                    }
                }
            }
            &-body {
                padding: 5px 5.25rem;
                .combine-field {
                    background: $color-white;
                    border: 1px solid $provider-input-border;
                    border-radius: 4px;
                    margin: 0;
                    .dropdown-menu {
                        padding: 0;
                        button {
                            .flag-container {
                                width: 15px;
                                height: 12px;
                                display: flex;
                                margin-top: 5px;
                                margin-right: 10px !important;
                                img {
                                    border: 1px solid $primary-grey;
                                }
                            }
                        }
                    }
                    .origin,
                    .destination {
                        position: relative;
                        >.flag-container {
                            width: 16px;
                            height: 24px;
                            align-items: center;
                            position: absolute;
                            left: 10px;
                            top: 11px;
                            img {
                                border: 1px solid $primary-grey;
                            }
                        }
                        .routeSelected {
                            padding-left: 30px !important;
                        }
                    }
                    input {
                        border: none;
                    }
                    select {
                        border: none !important;
                        &:hover {
                            border: none;
                        }
                        &:focus {
                            border: none;
                        }
                    }
                    .origin {
                        border-right: 1px solid $provider-input-border;
                    }
                }
                .fancyOptionBoxes {
                    &.filter-checkbox {
                        label {
                            line-height: 1.2;
                            font-size: 1rem !important;
                        }
                    }
                }
                .date-control {
                    .dateIcon {
                        position: relative;
                        input {
                            padding-left: 2.625rem;
                            &::placeholder {
                                font-style: italic;
                            }
                            &::-ms-input-placeholder {
                                font-style: italic;
                            }
                            &::-webkit-input-placeholder {
                                font-style: italic;
                            }
                        }
                        &:before {
                            content: url("assets/images/icons/Icons_Calendar.svg");
                            position: absolute;
                            left: 15px;
                            top: 14px;
                            width: 16px;
                            height: 16px;
                            z-index: 4;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
        // ngb-typeahead-window {
        //     max-height: 200px;
        //     overflow-y: auto;
        //     .dropdown-item {
        //         &.active,
        //         &:active {
        //             background: $primary-grey;
        //         }
        //     }
        // }
    }
    .actions {
        .discard-draft {
            font-family: $font-proxima;
            font-weight: $font-weight-mid;
            font-size: $font-size-medium;
            color: $color-topmenu;
            margin-right: 1.875rem;
            outline: none;
            cursor: pointer;
            &:disabled {
                cursor: no-drop;
            }
        }
        button {
            padding: 0.4rem 2rem;
        }
    }
}