<section *ngIf="!IsManageRateRestricted" class="manageRates">
  <h2 class="mb-5">Manage Rates</h2>
  <nav class="navbar navbar-light p-0">
    <ul class="nav">
      <li>
        <a class="nav-link" href="javascript:;" ngbTooltip="{{userProfile.CompanyName}} does not support Sea Freight"
          [disableTooltip]="!seaDisabled" [ngClass]="{'disabledLink': seaDisabled}"
          [routerLink]="['/provider/manage-rates/sea']" [routerLinkActive]="['active']">
          <span class="man-tab-ico"><img alt="icon_sea"
              src="../../../../../assets/images/icons/icons_ship_blue.svg"></span>
          <span class="menu-text">
            SEA FREIGHT
          </span>
          <span *ngIf="expNotifications?.SeaRateExpiredCount > 0"
            class="ml-2 badge badge-secondary badge-rate-expiry">{{expNotifications?.SeaRateExpiredCount}}</span>
        </a>
      </li>
      <li>
        <a class="nav-link" href="javascript:;" ngbTooltip="{{aitTooltip()}}" [ngClass]="{'disabledLink': airDisabled}"
          [routerLink]="['/provider/manage-rates/air']" [routerLinkActive]="['active']">
          <span class="man-tab-ico"><img alt="icon_air"
              src="../../../../../assets/images/icons/Icons_Cargo_Plane_blue.svg"></span>
          <span class="menu-text">
            AIR FREIGHT
          </span>
          <span *ngIf="expNotifications?.AirRateExpiredCount > 0"
            class="ml-2 badge badge-secondary badge-rate-expiry">{{expNotifications?.AirRateExpiredCount}}</span>
        </a>
      </li>
      <li>
        <a class="nav-link" href="javascript:;"
          ngbTooltip="{{userProfile.CompanyName}} does not support Ground Transport" [disableTooltip]="!groundDisabled"
          [ngClass]="{'disabledLink': groundDisabled}" [routerLink]="['/provider/manage-rates/ground']"
          [routerLinkActive]="['active']">
          <span class="man-tab-ico"><img alt="icon_ground"
              src="../../../../../assets/images/icons/Icons_Cargo_Truck_blue.svg"></span>
          <span class="menu-text">
            GROUND TRANSPORT
          </span>
          <span *ngIf="expNotifications?.GroundRateExpiredCount > 0"
            class="ml-2 badge badge-secondary badge-rate-expiry">{{expNotifications?.GroundRateExpiredCount}}</span>
        </a>
      </li>
      <li>
        <a class="nav-link" href="javascript:;" ngbTooltip="{{userProfile.CompanyName}} does not support Warehousing"
          [disableTooltip]="!warehouseDisabled" [ngClass]="{'disabledLink': warehouseDisabled}"
          [routerLink]="['/provider/manage-rates/warehouse']" [routerLinkActive]="['active']">
          <span class="man-tab-ico"><img alt="icon_warehouse"
              src="../../../../../assets/images/icons/icon_warehouse_blue.svg"></span>
          <span class="menu-text">
            WAREHOUSING
          </span>
          <span *ngIf="expNotifications?.WarehouseRateExpiredCount > 0"
            class="ml-2 badge badge-secondary badge-rate-expiry">{{expNotifications?.WarehouseRateExpiredCount}}</span>
        </a>
      </li>
    </ul>
  </nav>
  <section class="ratesPages mt-5">
    <router-outlet></router-outlet>
  </section>
</section>