@import "../../../../../assets/scss/_variables";

app-power-bi {
    // .power-container-hm {
    //     height: 3060px;
    //     max-height: 3200px;
    //     width: 983px;
    // }
    .not-found-img {
        img {
            width: 50%;
        }
    }
    iframe {
    border: 0px !important;
    }      
}
