<h2>Performance</h2>
<div class="power-bi">
    <!-- <div *ngIf="hasData" style=" width: 100%;height: 2740px;max-height: 2900px" #reportContainer></div> -->
    <div *ngIf="hasData"
        [ngStyle]="{'height': biConfigDef.BI_HEIGHT,'max-height': biConfigDef.BI_HEIGHT, 'width': biConfigDef.BI_WIDTH}"
        #reportContainer></div>
    <div class="d-flex flex-column justify-content-center align-items-center" *ngIf="!hasData">
        <img class="mt-5 pt-5" style=" width: 50%;" src="../../../../../assets/images/icons/no-analytics.svg" alt="">
        <h1>No Data Found</h1>
    </div>
</div>