@import "../../../../../assets/scss/_variables";
$sch-card-border-color: #9bdbf2;
.sch-card {
  margin-bottom: 1.5rem;
  margin-top: 0.25rem;
  .sch-column {
    padding-top: 1.5rem;
    margin-top: 0.5rem;
    display: flex;
  }
  .red-glow {
    color: $danger-color;
    animation: 1.25s ease-in-out infinite alternate-reverse text-glow;
  }
  .popover {
    background: $shipping-subcar-active;
    max-width: 17rem;
    width: 100%;
    animation: fadeIn 0.7s ease-in;
    &-header {
      background: $shipping-subcar-active;
      border: 0 !important;
      border-radius: 0;
      color: $color-white;
      font-family: $font-pragmatica;
      font-weight: $font-weight-mid;
      font-size: $font-size-large + 0.25rem;
      box-shadow: none !important;
      padding: 1rem 2rem 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &-body {
      border-bottom-left-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
      background: $shipping-subcar-active !important;
      padding: 1rem 2rem 0 !important;
      box-shadow: none !important;
      border: 0 !important;
      border-radius: 0 !important;
    }
    &-detail {
      &-title {
        font-family: $font-proxima !important;
        font-size: $font-size-base !important;
        color: $heading-light-color !important;
        font-weight: $font-weight-mid !important;
        text-transform: uppercase !important;
        text-transform: uppercase !important;
      }
      &-value {
        font-size: 0.8rem !important;
        font-family: $font-pragmatica !important;
        font-weight: $font-weight-mid !important;
        color: $white-color !important;
      }
    }
    .arrow {
      margin-left: -8px;
      &:after {
        border-top-color: #233748;
      }
    }
  }
  .media {
    .align-self-start {
      width: 16px;
      height: 16px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  p {
    font-family: $font-pragmatica;
    font-size: $font-size-large;
    font-weight: $font-weight-mid;
    color: $text-color-default;
    line-height: 1;
    margin-bottom: 0px;
  }
  h5 {
    font-size: $font-size-base;
    font-family: $font-proxima;
    font-weight: $font-weight-normal;
    color: $color-topmenu;
    text-transform: uppercase;
  }
  .ship-animate g {
    fill: #a3afb8;
    -webkit-text-fill-color: #a3afb8;
  }
  .mode-container {
    float: left;
    width: 100%;
    padding-bottom: 20px;
    display: inline-flex;

    .mode {
      float: left;
      font-family: $font-proxima;
      min-width: auto;
      text-align: center;

      img {
        width: 24px;
        display: block;
        margin: 0 auto;
      }

      strong {
        display: block;
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
      }

      .shipping {
        float: left;

        .route-ship {
          width: 1.5rem;
          height: 1.5rem;
          margin: 0 auto;

          svg.ship-animate {
            fill: #a3afb8 !important;
            -webkit-text-fill-color: #a3afb8;
          }

          .path-ship {
            animation: movingship-ltr 0.3s alternate linear both;
            -moz-animation: movingship-ltr 0.3s alternate linear both;
            -o-animation: movingship-ltr 0.3s alternate linear both;
            -webkit-animation: movingship-ltr 0.3s alternate linear both;
          }

          .rect-1 {
            animation: movingship 0.4s alternate linear both;
            -moz-animation: movingship 0.4s alternate linear both;
            -o-animation: movingship 0.4s alternate linear both;
            -webkit-animation: movingship 0.4s alternate linear both;
            animation-delay: 0.2s;
          }

          .rect-2 {
            animation: movingship 0.4s alternate linear both;
            -moz-animation: movingship 0.4s alternate linear both;
            -o-animation: movingship 0.4s alternate linear both;
            -webkit-animation: movingship 0.4s alternate linear both;
            animation-delay: 0.3s;
          }

          .rect-3 {
            animation: movingship 0.4s alternate linear both;
            -moz-animation: movingship 0.4s alternate linear both;
            -o-animation: movingship 0.4s alternate linear both;
            -webkit-animation: movingship 0.4s alternate linear both;
            animation-delay: 0.4s;
          }

          .rect-4 {
            animation: movingship-3 0.4s alternate linear both;
            -moz-animation: movingship-3 0.4s alternate linear both;
            -o-animation: movingship-3 0.4s alternate linear both;
            -webkit-animation: movingship-3 0.4s alternate linear both;
            animation-delay: 0.5s;
          }

          .rect-5 {
            animation: movingship-3 0.4s alternate linear both;
            -moz-animation: movingship-3 0.4s alternate linear both;
            -o-animation: movingship-3 0.4s alternate linear both;
            -webkit-animation: movingship-3 0.4s alternate linear both;
            animation-delay: 0.6s;
          }

          .rect-6 {
            animation: movingship-3 0.4s alternate linear both;
            -moz-animation: movingship-3 0.4s alternate linear both;
            -o-animation: movingship-3 0.4s alternate linear both;
            -webkit-animation: movingship-3 0.4s alternate linear both;
            animation-delay: 0.7s;
          }

          @-webkit-keyframes movingship {
            0%,
            25% {
              opacity: 0;
            }

            26% {
              transform: translate3d(0, 25%, 0);
              -webkit-transform: translate3d(0, 25%, 0);
              -o-transform: translate3d(0, 25%, 0);
              -ms-transform: translate3d(0, 25%, 0);
            }

            100% {
              transform: translate3d(0, 0%, 0);
              -webkit-transform: translate3d(0, 0%, 0);
              -o-transform: translate3d(0, 0%, 0);
              -ms-transform: translate3d(0, 0%, 0);
            }
          }

          @keyframes movingship {
            0%,
            25% {
              opacity: 0;
            }

            26% {
              transform: translate3d(0, 25%, 0);
              -webkit-transform: translate3d(0, 25%, 0);
              -o-transform: translate3d(0, 25%, 0);
              -ms-transform: translate3d(0, 25%, 0);
            }

            100% {
              transform: translate3d(0, 0%, 0);
              -webkit-transform: translate3d(0, 0%, 0);
              -o-transform: translate3d(0, 0%, 0);
              -ms-transform: translate3d(0, 0%, 0);
            }
          }

          @-webkit-keyframes movingship-3 {
            0%,
            25% {
              opacity: 0;
            }

            26% {
              transform: translate3d(0, 25%, 0);
              -webkit-transform: translate3d(0, 25%, 0);
              -o-transform: translate3d(0, 25%, 0);
              -ms-transform: translate3d(0, 25%, 0);
            }

            100% {
              transform: translate3d(0, 0%, 0);
              -webkit-transform: translate3d(0, 0%, 0);
              -o-transform: translate3d(0, 0%, 0);
              -ms-transform: translate3d(0, 0%, 0);
            }
          }

          @keyframes movingship-3 {
            0%,
            25% {
              opacity: 0;
            }

            26% {
              transform: translate3d(0, 25%, 0);
              -webkit-transform: translate3d(0, 25%, 0);
              -o-transform: translate3d(0, 25%, 0);
              -ms-transform: translate3d(0, 25%, 0);
            }

            100% {
              transform: translate3d(0, 0%, 0);
              -webkit-transform: translate3d(0, 0%, 0);
              -o-transform: translate3d(0, 0%, 0);
              -ms-transform: translate3d(0, 0%, 0);
            }
          }

          @-webkit-keyframes movingship-ltr {
            0% {
              transform: translate3d(0%, 25%, 0);
              -webkit-transform: translate3d(0%, 25%, 0);
              -o-transform: translate3d(0%, 25%, 0);
              -ms-transform: translate3d(0%, 25%, 0);
            }

            100% {
              transform: translate3d(0%, 0, 0);
              -webkit-transform: translate3d(0%, 0, 0);
              -o-transform: translate3d(0%, 0, 0);
              -ms-transform: translate3d(0%, 0, 0);
            }
          }

          @keyframes movingship-ltr {
            0% {
              transform: translate3d(0%, 25%, 0);
              -webkit-transform: translate3d(0%, 25%, 0);
              -o-transform: translate3d(0%, 25%, 0);
              -ms-transform: translate3d(0%, 25%, 0);
            }

            100% {
              transform: translate3d(0%, 0, 0);
              -webkit-transform: translate3d(0%, 0, 0);
              -o-transform: translate3d(0%, 0, 0);
              -ms-transform: translate3d(0%, 0, 0);
            }
          }
        }
      }

      .arrows {
        float: left;
        width: 90px;
        text-align: center;
        margin-top: 10px;

        .animated-arrows {
          width: 3rem;
          height: 1rem;
          margin: 0 auto;

          .rect-8 {
            animation: movingarrow 0.3s alternate linear;
            -moz-animation: movingarrow 0.3s alternate linear;
            -o-animation: movingarrow 0.3s alternate linear;
            -webkit-animation: movingarrow 0.3s alternate linear;
          }

          .rect-7 {
            animation: movingarrow 0.4s alternate linear;
            -moz-animation: movingarrow 0.4s alternate linear;
            -o-animation: movingarrow 0.4s alternate linear;
            -webkit-animation: movingarrow 0.4s alternate linear;
          }

          .rect-6 {
            animation: movingarrow 0.5s alternate linear;
            -moz-animation: movingarrow 0.5s alternate linear;
            -o-animation: movingarrow 0.5s alternate linear;
            -webkit-animation: movingarrow 0.5s alternate linear;
          }

          .rect-5 {
            animation: movingarrow 0.6s alternate linear;
            -moz-animation: movingarrow 0.6s alternate linear;
            -o-animation: movingarrow 0.6s alternate linear;
            -webkit-animation: movingarrow 0.6s alternate linear;
          }

          .rect-4 {
            animation: movingarrow 0.7s alternate linear;
            -moz-animation: movingarrow 0.7s alternate linear;
            -o-animation: movingarrow 0.7s alternate linear;
            -webkit-animation: movingarrow 0.7s alternate linear;
          }

          .rect-3 {
            animation: movingarrow 0.8s alternate linear;
            -moz-animation: movingarrow 0.8s alternate linear;
            -o-animation: movingarrow 0.8s alternate linear;
            -webkit-animation: movingarrow 0.8s alternate linear;
          }

          .rect-2 {
            animation: movingarrow 0.9s alternate linear;
            -moz-animation: movingarrow 0.9s alternate linear;
            -o-animation: movingarrow 0.9s alternate linear;
            -webkit-animation: movingarrow 0.9s alternate linear;
          }

          .rect-1 {
            animation: movingarrow 1s alternate linear;
            -moz-animation: movingarrow 1s alternate linear;
            -o-animation: movingarrow 1s alternate linear;
            -webkit-animation: movingarrow 1s alternate linear;
          }

          .rect-0 {
            animation: movingarrow 1.1s alternate linear;
            -moz-animation: movingarrow 1.1s alternate linear;
            -o-animation: movingarrow 1.1s alternate linear;
            -webkit-animation: movingarrow 1.1s alternate linear;
          }

          .path-animation-1,
          rect {
            fill: #00a2df;
            animation: movingarrow 1.2s alternate linear;
            -moz-animation: movingarrow 1.2s alternate linear;
            -o-animation: movingarrow 1.2s alternate linear;
            -webkit-animation: movingarrow 1.2s alternate linear;
          }
          .ship-animate g {
            fill: #a3afb8;
            -webkit-text-fill-color: #a3afb8;
          }

          /** * ---------------------------------------- * animation movingarrow * ---------------------------------------- */
          @-webkit-keyframes movingarrow {
            0% {
              transform: translate3d(-130%, 0, 0);
              -ms-transform: translate3d(-130%, 0, 0);
              -o-transform: translate3d(-130%, 0, 0);
              -webkit-transform: translate3d(-130%, 0, 0);
              opacity: 0;
            }

            80% {
              opacity: 0;
            }

            100% {
              transform: translate3d(0%, 0, 0);
              -ms-transform: translate3d(0%, 0, 0);
              -o-transform: translate3d(0%, 0, 0);
              -webkit-transform: translate3d(0%, 0, 0);
              opacity: 1;
            }
          }

          @keyframes movingarrow {
            0% {
              transform: translate3d(-130%, 0, 0);
              -ms-transform: translate3d(-130%, 0, 0);
              -o-transform: translate3d(-130%, 0, 0);
              -webkit-transform: translate3d(-130%, 0, 0);
              opacity: 0;
            }

            80% {
              opacity: 0;
            }

            100% {
              transform: translate3d(0%, 0, 0);
              -ms-transform: translate3d(0%, 0, 0);
              -o-transform: translate3d(0%, 0, 0);
              -webkit-transform: translate3d(0%, 0, 0);
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .details {
    .row {
      .col-4 {
        display: flex;
      }
    }

    .badge {
      align-self: center;
    }

    button.btn {
      padding: 0 1.5rem 0 1.5rem;
      height: 33px;
      line-height: 30px;
      &.disable {
        color: $color-topmenu !important;
      }
    }
    .route-map {
      font-size: $font-size-base;
      font-family: $font-proxima;
      font-weight: $font-weight-normal;
      color: $color-topmenu;
      text-transform: uppercase;
    }
  }
  .route-map {
    a {
      color: $primary-color;
    }
    &-title {
      width: 10rem;
    }
    &-container {
      // overflow: auto;
    }
  }
}