<div class="country-select" *ngIf="!isReadOnly">
  <div ngbDropdown>
    <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
      <ng-container *ngIf="!isOtherLang">
        <div class="d-inline-block" style="width:20px;height:16px;margin-right: 10px">
          <img async defer *ngIf="!selectedCountry?.code" [src]="'../../../../assets/images/flags/4x3/us.svg'"
            alt="flags" class="img-responsive" style="max-width:100%;max-height:100%;">
          <img async defer *ngIf="selectedCountry?.code"
            [src]="'../../../../assets/images/flags/4x3/' + (selectedCountry?.code | lowercase) + '.svg'" alt="flags"
            class="img-responsive" style="max-width:100%;max-height:100%;">
        </div>
        <span>{{selectedCountry?.desc[0]?.CountryPhoneCode}}</span>
      </ng-container>
      <ng-container *ngIf="isOtherLang">
        <div class="d-inline-block" style="width:20px;height:16px;margin-right: 10px">
          <img async defer *ngIf="!selectedCountry?.code" [src]="'../../../../assets/images/flags/4x3/us.svg'"
            alt="flags" class="img-responsive" style="max-width:100%;max-height:100%;">
          <img async defer *ngIf="selectedCountry?.code"
            [src]="'../../../../assets/images/flags/4x3/' + (selectedCountry?.code | lowercase) + '.svg'" alt="flags"
            class="img-responsive" style="max-width:100%;max-height:100%;">
        </div>
        <span>{{selectedCountry?.desc[0]?.CountryPhoneCode_OtherLang}}</span>
      </ng-container>
    </div>
    <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
      <!-- <ng-scrollbar [trackX]="false" [compact]="true" style="margin-bottom: 0rem; min-height: 200px;"> -->
      <div class="your-country">
        <input #cityInput type="text" autocomplete="off" id="typeahead-basic" class="form-control"
          style="direction: ltr !important;" placeholder="Country Name..." [(ngModel)]="searchText"
          (ngModelChange)="setCountryList($event)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          (click)="$event.stopPropagation()" />
      </div>
      <ul class="list-group" [ngStyle]="{'text-align': (isOtherLang)?'right':'left'}">
        <ng-container *ngIf="countryList?.length > 0;else noCountry">

          <li class="list-group-item" *ngFor="let country of viewCountryList" (click)="onCountrySelect(country)">
            <ng-container *ngIf="!isOtherLang">
              <div class="d-inline-block" style="width:20px;height:14px;">
                <img async defer [src]="'../../../../assets/images/flags/4x3/' + (country?.code | lowercase) + '.svg'"
                  alt="{{country?.code + '-flag'}}" style="max-width:100%;max-height:100%;">
              </div>
              <span>{{country?.title}}</span>
              <span class="dial-code"> {{country?.desc[0].CountryPhoneCode}}</span>
            </ng-container>
            <ng-container *ngIf="isOtherLang">
              <div class="d-inline-block" style="width:20px;height:14px;">
                <img async defer [src]="'../../../../assets/images/flags/4x3/' + (country?.code | lowercase) + '.svg'"
                  alt="{{country?.code + '-flag'}}" style="max-width:100%;max-height:100%;">
              </div>
              <span style="padding-right: 10px;">{{country?.title}}</span>
              <span class="dial-code" style="padding-right: 5px;">
                {{country?.desc[0].CountryPhoneCode_OtherLang}}</span>
            </ng-container>
          </li>
        </ng-container>
        <ng-template #noCountry>
          <li class="list-group-item" (click)="$event.stopPropagation()">
            <span> No Matching Record Found</span>
          </li>
        </ng-template>
      </ul>
      <!-- </ng-scrollbar> -->
    </div>
  </div>
</div>

<div class="country-select" *ngIf="isReadOnly">
  <div>
    <div class="pointer phone" id="phoneCode">
      <ng-container *ngIf="!isOtherLang">
        <div class="d-inline-block" style="width:20px;height:16px;margin-right: 10px">
          <img async defer *ngIf="!selectedCountry?.code" [src]="'../../../../assets/images/flags/4x3/us.svg'"
            alt="flags" class="img-responsive" style="max-width:100%;max-height:100%;">
          <img async defer *ngIf="selectedCountry?.code"
            [src]="'../../../../assets/images/flags/4x3/' + (selectedCountry?.code | lowercase) + '.svg'" alt="flags"
            class="img-responsive" style="max-width:100%;max-height:100%;">
        </div>
        <span>{{selectedCountry?.desc[0]?.CountryPhoneCode}}</span>
      </ng-container>
    </div>
  </div>
</div>