@import "../../../assets/scss/_variables.scss";
.country-select {
  .country-section {
    width: 20.4rem;

    .your-country {
      input[type="text"] {
        padding-left: 0.75rem !important;
        border-radius: 0;
      }
    }
  }
  .dropdown-menu {
    padding: 0px;
    border: 1px solid $secondary-color !important;
    ul {
      margin-top: 0px !important;
      max-height: 180px;
      overflow-y: auto;
      position: relative;
      min-width: 7.2rem;
      width: 100%;
      overflow-x: hidden;
      li {
        display: block !important;
        margin-bottom: 0px !important;
      }
      .list-group-item {
        padding: 5px 12px;
        border: 0;
        &:hover {
          background: $inner-background-color;
          cursor: pointer;
        }
        img {
          margin-right: 10px;
          border: 1px solid $grey-border;
        }
        span {
          text-transform: capitalize;
          margin-left: 0.25rem;
          font-weight: normal !important;
        }
        .dial-code {
          color: $text-grey;
          margin-left: 0.25rem;
        }
      }
    }
    &.show {
      max-height: 260px;
      overflow-y: auto;
    }
    button.dropdown-item {
      cursor: pointer;
      &.active {
        background: $primary-grey;
      }
    }
  }
  .dial-code {
    color: $text-grey;
    margin-left: 0.25rem;
  }
}
