@import "../../../../assets/scss/_variables";

.modal-expiry-gen {
  // User Modal Popup
  .counter {
    transition: all 1s ease-in-out;                

    .input-group {
      width: 115px;
      margin: 0 auto;

      &-text {
        border: 1px solid #e9ecf0;                    
        background-color: transparent;
        padding: 1rem;

        i {
          color: $secondary-grey;
          font-weight: lighter;
          font-size: 0.75rem;            

          &:hover {
            color: $primary-color;      
            animation-duration: 3s;
            animation-timing-function: ease-in-out;  
            cursor: pointer;      
          }
      }
    }
    &-percentage {
      border: 1px solid #e9ecf0;                    
      border-left: 0;
      border-right: 0;
      background-color: transparent;      
      padding: 1rem;
      padding: 0.75rem 1rem 0 0.5rem;

      i {
        color: $secondary-grey;
        font-weight: lighter;
        font-size: 0.875rem;

        &:hover {
          // color: $primary-color;      
          animation-duration: 3s;
          animation-timing-function: ease-in-out;  
          // cursor: pointer;      
        }
    }
    }

    
    
    }
    .quantity {
      height: calc(2.85rem + 3px);
      border-left: 0;
      border-right: 0;
      border-color: #e9ecf0;
    }
  }
  
  .user-modal {
    .modal-header {
      padding: 10px 30px;
      background: $modal-header-background;
      display: block;
      h4 {
        margin: 0px;
        text-shadow: 0px 0px $text-color-default;
        font-size: 22px;
        margin-top: 4px;
        font-weight: 400;
        font-family: "pragmatica", sans-serif;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        margin-top: 4px;
        margin-bottom: 0px;
      }
      a.crossIcon {
        position: absolute;
        right: 8px;
        top: 4px;
        width: 14px;
        height: 14px;
        margin: 0.5rem 1rem 0.5rem;
      }
    }
    .modal-body {
      padding: 25px 32px; // max-width: 26%;
      p {
        font-size: 1rem;
        font-weight: 500;
        width: 100%;
        text-align: center;
        padding-bottom: 1rem;
        &.invalid-error {
          font-weight: $font-weight-light;
          font-size: $font-size-medium;
          text-align: left;
        }
      }
      .btn {
        text-align: center;
        font-size: 0.85rem;
        width: auto;
        min-width: 6rem;
        padding: 0.75rem 1.25rem;
        text-transform: uppercase;
      }            
    }
  }
}

.dateIcon:before {
  content: url("data:image/svg+xml,%3Csvg id%3D%2217f5b310-5508-485b-8001-dbaf3458113b%22 data-name%3D%22Layer 1%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 16 16%22%3E  %3Cdefs%3E    %3Cstyle%3E      .be7dd154-90ee-45f6-a47e-11a6c4eceb87 %7B        fill%3A %23738593%3B      %7D      .dd12900e-6340-4a89-b921-0b1d5cffc735 %7B        fill%3A %23fff%3B      %7D    %3C%2Fstyle%3E  %3C%2Fdefs%3E  %3Ctitle%3Eicon%3C%2Ftitle%3E  %3Cg id%3D%2240ee8fd5-e28d-4347-b10e-66f9984b7564%22 data-name%3D%22calendar2%22%3E    %3Cpath id%3D%226d9cbed9-97a5-4544-9814-99b685f0d436%22 data-name%3D%22%26lt%3BCompound Path%26gt%3B%22 class%3D%22be7dd154-90ee-45f6-a47e-11a6c4eceb87%22 d%3D%22M15%2C2H3.8A2.8%2C2.8%2C0%2C0%2C0%2C1%2C4.8V16H12.2A2.8%2C2.8%2C0%2C0%2C0%2C15%2C13.2V2Z%22%2F%3E    %3Cpath class%3D%22dd12900e-6340-4a89-b921-0b1d5cffc735%22 d%3D%22M4%2C4h9a0%2C0%2C0%2C0%2C1%2C0%2C0v6a0%2C0%2C0%2C0%2C1%2C0%2C0H3a0%2C0%2C0%2C0%2C1%2C0%2C0V5A1%2C1%2C0%2C0%2C1%2C4%2C4Z%22%2F%3E    %3Crect id%3D%227d4ed2c6-f916-40cf-acce-d794196da080%22 data-name%3D%22%26lt%3BPath%26gt%3B%22 class%3D%22be7dd154-90ee-45f6-a47e-11a6c4eceb87%22 x%3D%225%22 width%3D%222%22 height%3D%225%22%2F%3E    %3Crect id%3D%22a37c2eb5-9844-41fa-8d51-9b1b7c64de14%22 data-name%3D%22%26lt%3BPath%26gt%3B%22 class%3D%22be7dd154-90ee-45f6-a47e-11a6c4eceb87%22 x%3D%229%22 width%3D%222%22 height%3D%225%22%2F%3E  %3C%2Fg%3E%3C%2Fsvg%3E");
  position: absolute;
  left: 15px;
  top: 14px;
  width: 16px;
  height: 16px;
  z-index: 4;
  opacity: 0.5;
}
