<div class="modal-expiry-gen">
  <div class="user-modal animated fadeIn">
    <div class="modal-header">
      <h4 class="confirm-modal-title">Rates Update</h4>
      <a class="pointer crossIcon" (click)="closeModal(false)">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close">
      </a>
    </div>
    <div class="modal-body">
      <div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="form-group">
              <div class="">
                <div>
                  <label>Base Rate (%)</label>
                </div>
                <div class="input-group counter mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" (click)="counter('sub', val1, 'base')">
                      <i class="fa fa-minus"></i>
                    </span>
                  </div>
                  <input type="text" inputmode="numeric" min="0" step="any" (keypress)="numberValidStatistic($event, val1, 100)" placeholder="0"
                    [maxlength]="3" class="form-control quantity" [(ngModel)]="val1">
                    <div class="input-group-prepend">
                        <span class="input-group-percentage">
                            %
                        </span>
                      </div>
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="counter('add', val1, 'base')">
                      <i class="fa fa-plus"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <div class="">
                <div>
                  <label>Valid Till</label>
                </div>                
                  <input autocomplete="off" class="form-control dateIcon" placeholder="Departure Date" name="dp" [(ngModel)]="departureDate" ngbDatepicker
                    [autoClose]="false" [autoClose]="true" (ngModelChange)="dp.toggle()" placement="bottom-right" [outsideDays]="true"
                    [navigation]="false" [displayMonths]="2" [minDate]="minDate" #dp="ngbDatepicker" (click)="dp.toggle()"
                  />                
              </div>
            </div>
          </div>
          <div class="col-4" *ngIf="false">
            <div class="form-group">
              <div class="">
                <div>
                  <label>Additional Charges</label>
                </div>
                <div class="input-group counter mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" (click)="counter('sub', val2, 'ad')">
                      <i class="fa fa-minus"></i>
                    </span>
                  </div>
                  <input type="text" inputmode="numeric" min="0" step="any" (keypress)="numberValidStatistic($event, val2, 9999)" placeholder="0"
                    [maxlength]="4" class="form-control quantity" [(ngModel)]="val2">                  
                    <!-- <div class="input-group-prepend">
                        <span class="input-group-percentage">
                            %
                        </span>
                      </div> -->
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="counter('add', val2, 'ad')">
                      <i class="fa fa-plus"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <div class="row">
        <div class="col-12 p-2">

          <button class="btn btn-primary btn-lg text-uppercase hvr-sweep-to-right" (click)="onConfirmClick($event)">Apply Rates</button>

        </div>
      </div>      
    </div>
  </div>

</div>