@import "../../../../assets/scss/_variables";

.cargo-details {
  .cargo-date {
    line-height: 1;
    font-size: $font-size-medium !important;
    color: $dark-grey-blue !important;
    font-weight: $font-weight-normal !important;
    font-family: $font-proxima;
    text-transform: uppercase;
    
    span {
      display: block;
      margin-top: -0.5rem;
      font-family: $font-proxima;
      font-weight: $font-weight-normal;
      font-size: $font-size-base;

      img {
        margin-bottom: 0.15rem;
      }
    }
  }
  .modal-header {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
  }
  .modal-body {
    max-height: 40rem;
    overflow: auto;
    overflow-x: hidden;
    
    .air-chips-container {
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 1;
      margin-top: 1rem;
    }

    .cargo-detail-text {
      overflow-wrap: anywhere;
      overflow-wrap: break-word;
      // word-break: break-all;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      max-height: 14rem;
      overflow-y: auto;
    }
    
    .info-container {
      display: flex;
      flex-direction: column;
      .ml-cbm {
        margin-left: 6rem;
      }
      .ml-weight {
        margin-left: 5rem;
      }
    }

    label {
      font-size: $font-size-large;
      font-weight: $font-weight-mid;
      font-family: $font-pragmatica;
      color: $text-color-default;
    }
    p {
      font-size: $font-size-medium;
      font-weight: $font-weight-normal;
      font-family: $font-pragmatica;
      color: $text-color-default;
      text-align: left;
      padding-bottom: 0;
    }
    .cargo-detail-text {
      overflow-wrap: anywhere;
      overflow-wrap: break-word;
      // word-break: break-all;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      max-height: 14rem;
      overflow-y: auto;
    }

    .input-dropdown {
      .input-group-append {
        width: 56px;
        align-items: center;
        justify-content: center;
        border-left: 1px solid $input-border;
        span {
          font-size: $font-size-medium;
          font-family: $font-proxima;
          font-weight: $font-weight-mid;
          color: $text-color-default;
        }
        input {
          &::placeholder {
            font-size: $font-size-base;
          }
        }
        select {
          font-size: $font-size-medium;
          font-family: $font-proxima;
          font-weight: $font-weight-mid;
          color: $text-color-default;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border: 0px;
        }
      }
    }
    .container-main {
      .container-boxes {
        cursor: pointer;
        position: relative;
        border: 1px solid $boxes-border !important;
        border-radius: 3px;
        background: transparent;
        text-align: center;
        font-family: $font-proxima;
        margin: 0.1875rem 0.125rem 0.875rem;
        min-height: 11.5rem;
        &.selected-container {
          border: 1px solid $primary-color !important;
        }
        .ribbon {
          width: 80px;
          height: 80px;
          overflow: hidden;
          position: absolute;
      
          &::before, &::after {
            position: absolute;
            z-index: -1;
            content: '';
            display: block;
            border: 5px solid #3498db;  
          }
          span {
            position: absolute;
            display: block;
            width: 150px;
            padding: 3px 0;
            background-color: $primary-color;            
            text-align: center;
            color: $white-color;
            font-size: $font-size-base - 0.025rem;
            font-family: $font-proxima;
            font-weight: $font-proxima-weight-semibold;
            text-transform: uppercase;
            box-shadow: 0 5px 5px rgba(0,0,0,.1);            
            text-shadow: 0 1px 1px rgba(0,0,0,.1);
          }
          /* top left*/
          &-top-left {
            top: -10px;
            left: -10px;
      
            &::before,
          &::after {
          border-top-color: transparent;
          border-left-color: transparent;
        }
        &::before {
          top: 0;
          right: 2px;
        }
        &::after {
          bottom: 2px;
          left: 0;
        }
        span {
          right: -27px;
          top: 18px;
          transform: rotate(-45deg);
        }
          }
        }
        .card-body {
          font-family: $font-proxima;
          padding-top: 8px;
          padding-bottom: 0;
          width: 100%;
          transition: all 0.2s;
          border: 0px solid $primary-color;
          padding: 1rem 0.875rem;
        }
        small {
          font-size: $font-size-base;
          font-family: $font-proxima;
          color: $copyrights-color;
        }
        .containerInfo {
          display: flex;
          justify-content: space-between;
          .container-weight,
          .container-size {
            display: flex;
            flex-direction: column;
            text-align: left;
            small {
              font-size: $font-size-base;
              font-family: $font-proxima;
              color: $copyrights-color;
            }
            label {
              font-size: $font-size-base;
              margin: 0;
              font-weight: $font-proxima-weight-semibold;
            }
          }
        }
        &.active {
          border-color: $primary-color !important;
        }
        .count-triangle {
          width: 0;
          height: 0;
          border-bottom: 45px solid $primary-color;
          border-left: 45px solid transparent;
          position: absolute;
          right: 0;
          bottom: 0;
          font-size: $font-size-base;
          img {
            width: 35px;
            height: 35px;
            top: -48px;
            position: relative;
            left: -31px;
          }
          span {
            bottom: -42px;
            position: absolute;
            right: 0px;
            color: $color-white;
            width: 30px;
            text-align: center;
          }
        }
        p {
          padding: 0;
          font-size: $font-size-large;
          text-align: center;
          margin-bottom: 0px;

          .parcial-booked {            
            font-size: $font-size-base - 0.1;
            text-align: center;
            color: $primary-color;
            display: block;
            span {
              font-size: $font-size-medium;
              font-weight: $font-weight-mid;
            }
          }
        }        
        img {
          margin: 0 auto;
          &.ContainerImg20 {
            width: 65%;
            height: 90px;
          }
          &.ContainerImg40 {
            width: 74%;
            height: 95px;
            margin-bottom: -3px;
          }
          &.ContainerImg45 {
            width: 95%;
            margin-bottom: -7px;
            height: 100px;
          }
        }
        &.disabled {
          // cursor: none;
          background: $grey-background;
        }
      }
    }
    .btn-container {
      font-size: $font-size-large;
    }
  }
}
