<app-loader-main *ngIf="loading"></app-loader-main>
<div class="cargo-details">
  <div class="user-modal animated fadeIn">
    <div class="modal-header">
      <h4 class="user-modal-title">Cargo Details
      </h4>
      <a class="pointer crossIcon">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close" (click)="close()" style="width: 1rem;">
      </a>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <ng-container
            *ngIf="request?.ShippingModeCode?.toLowerCase() !== 'warehouse' && request?.ShippingModeCode !== 'ASSAYER'">
            <div class="row">
              <div class="col-xl-2 col-md-2 col-12 pr-0">
                <div class="image-container">
                  <img async defer
                    src="'../../../assets/images/shipping/{{request?.ShippingCatImage?request?.ShippingCatImage:'Goods.png'}}"
                    alt="container-icons" class="ContainerImg20">
                </div>
              </div>
              <div class="col-xl-10 col-md-10 col-12">
                <label class="w-100">{{request?.ShippingCatName}}</label>
                <p class="cargo-date d-flex flex-row align-items-center mb-2 mt-2" ngbTooltip="{{pickupCaption}}" placement="top-left">
                  <img async defer alt="" class="icon-size-12 mr-1"
                    src="../../../assets/images/icons/Icons_Calendar.svg">
                  <span class="pt-2">{{pickupDate | date : "d MMM, y"}}</span>
                </p>
                <p ngbTooltip="Commodity Details" [placement]="'top'" class="cargo-detail-text">{{commodity?commodity:request?.CommodityDescription}}</p>
              </div>
            </div>
            <hr>
            <!-- <p *ngIf="pickupDate" class="cargo-date">
              <span><img async defer alt="" class="icon-size-12 mr-1"
                  src="../../../assets/images/icons/Icons_Calendar.svg">
                {{pickupCaption}} {{pickupDate | date : "d MMM, y"}}
              </span>
            </p> -->
          </ng-container>
          <div class="containers">
            <label
              *ngIf="(searchMode !== 'sea-lcl' && request?.TotalContainerQty > 0) && !request?.AirDet?.IsVirtualAirLine">
              <ng-container *ngIf="request?.ShippingModeCode === 'SEA'">
                <ng-container
                  *ngIf="reqContTotal - resContTotal > 0 && (( bokContTotal > 0 &&  reqContTotal - bokContTotal > 0) || (request?.ResponseID && reqContTotal - resContTotal > 0));else defCont">
                  <ng-container *ngIf="!request?.ResponseID">
                    {{bokContTotal | number :'1.0-0'}} {{bokContTotal>1?'containers':'container'}} booked out of
                    {{reqContTotal | number :'1.0-0'}} {{reqContTotal>1?'containers':'container'}}
                  </ng-container>
                  <ng-container *ngIf="request?.ResponseID">
                    {{request?.ProviderRespondedQty}} {{request?.ProviderRespondedQty>1?'containers':'container'}}
                    {{request?.ResponseStatusBL === 'BOOKED'?'booked':'quoted'}}
                    out of {{reqContTotal | number :'1.0-0'}} {{reqContTotal>1?'containers':'container'}}
                  </ng-container>
                </ng-container>
                <ng-template #defCont>
                  {{reqContTotal | number: '1.0-0'}} {{reqContTotal >1?'containers':'container'}}
                </ng-template>
              </ng-container>
              <ng-container *ngIf="request?.ShippingModeCode === 'TRUCK'">
                {{reqContTotal | number: '1.0-0'}} {{reqContTotal >1?'Trucks':'Truck'}}
              </ng-container>
            </label>
            <label
              *ngIf="searchMode !== 'sea-lcl' && request?.ContainerLoad === 'LCL' && !request?.AirDet?.IsVirtualAirLine && (!lclAirContainerChips || lclAirContainerChips?.length === 0 )">
              <span *ngIf="searchMode === 'sea-lcl'">Total CBM: {{totalCBM | number: '1.3-3'}}, Total
                Weight:{{totalWeight | number: '1.3-3'}}</span>
              <span *ngIf="searchMode === 'air-lcl'">
                Chargeable Weight: {{request?.AirDet?.ChargeableWeight | number: '1.1-1'}} Kg
              </span>
            </label>
            <div class="container-main">
              <div class="row" *ngIf=" searchMode !== 'sea-lcl' && containers?.length > 0">
                <div class="col-xl-6 col-md-6 col-12" *ngFor="let container of containers">
                  <div class="card container-boxes disabled">
                    <div *ngIf="!container?.ResponseID && container?.RequestedQty - container?.BookedQty === 0"
                      class="ribbon ribbon-top-left"><span>Booked</span></div>
                    <div
                      *ngIf="request?.ResponseStatusBL === 'BOOKED' && container?.BookedQty - container?.RespondedQty >= 0"
                      class="ribbon ribbon-top-left"><span>Booked</span></div>
                    <span *ngIf="container?.RespondedQty?container?.RespondedQty:container?.RequestedQty"
                      class="count-triangle" class="count-triangle">
                      <span>{{container?.RespondedQty?container?.RespondedQty:container?.RequestedQty}}</span>
                    </span>
                    <div class="card-body mb-2">
                      <p class="card-text text-truncate" style="max-width: 10.5rem;" [placement]="'top'" ngbTooltip="{{container.ContainerSpecDesc}}">
                        {{container.ContainerSpecDesc}}
                        <span class="parcial-booked">
                          <ng-container
                            *ngIf="!container?.ResponseID && container?.BookedQty > 0 && container?.RequestedQty - container?.BookedQty > 0 ;else emptyCont;">
                            Partial Booked <span>{{container?.BookedQty | number: '1.0-0'}}</span> containers
                          </ng-container>
                          <ng-template #emptyCont>
                            &nbsp;&nbsp;
                          </ng-template>
                        </span>
                      </p>
                      <div class="image-container">
                        <img async defer src="../../../../assets/images/icons/{{container.ContainerSpecImage}}"
                          alt="container-icons" class="ContainerImg20" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf=" searchMode === 'sea-lcl' && containers?.length > 0">
                <div class="col-xl-6 col-md-6 col-12" *ngFor="let container of containers">
                  <div class="card container-boxes disabled">
                    <!-- <div *ngIf="!request?.ResponseID && container?.RequestedCBM - container?.BookedCBM < 1"
                      class="ribbon ribbon-top-left">
                      <span>Booked</span>
                    </div> -->
                    <div *ngIf="request?.RequestStatusBL === 'BOOKED'" class="ribbon ribbon-top-left">
                      <span>Booked</span>
                    </div>
                    <span class="count-triangle" class="count-triangle">
                      <span>{{container?.RequestedQty?container?.RequestedQty:1 | number :'1.0-0'}}</span>
                    </span>
                    <div class="card-body mb-2">
                      <p style="text-align: center;margin-bottom: 0;" class="card-text text-truncate" style="max-width: 10.5rem;" [placement]="'top'" ngbTooltip="{{container.ContainerSpecDesc}}">
                        {{container.ContainerSpecDesc}}
                        <!-- <span class="parcial-booked">Partial Booked 000 containers</span> -->
                      </p>
                      <div style="margin-top: -0.3rem; margin-bottom: -0.5rem; font-size: 0.75rem; height: 17px;">
                        <span>{{container?.contRequestedCBM | number: '1.3-3'}} <span class="small">cbm</span></span>
                      </div>
                      <div class="image-container">
                        <img async defer src="../../../../assets/images/icons/{{container.ContainerSpecImage}}"
                          alt="container-icons" class="ContainerImg20 mt-2" />
                      </div>
                      <div class="containerInfo" *ngIf="container?.contSpecID">
                        <ng-container>
                          <div class="container-size">
                            <label>Size</label>
                            <ng-container *ngIf="!container?.toggle">
                              <small *ngIf="!container?.toggle">{{container?.length}} x {{container?.width}} x
                                {{container?.height}} {{container?.lengthUnit}}</small>
                              <small *ngIf="container?.toggle">
                                {{container?.contRequestedCBM | number: '1.3-3'}} cbm
                              </small>
                            </ng-container>
                            <small *ngIf="container?.toggle">-</small>
                          </div>
                          <div class="container-weight">
                            <label>Weight</label>
                            <small *ngIf="!container?.toggle">{{container.weight}} {{container.weightUnit}}</small>
                            <small *ngIf="container?.toggle">{{container?.contRequestedWeight}} kg</small>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf=" searchMode === 'air-lcl' && lclAirContainerChips?.length > 0">
                <div class="col-12">
                  <b>By Unit:</b>
                  <div class="air-chips-container">
                    <p *ngFor="let chip of lclAirContainerChips">{{chip}}</p>
                  </div>
                </div>
              </div>
            </div>
            <ng-container
              *ngIf="searchMode === 'sea-lcl' || (searchMode === 'air-lcl' && lclAirContainerChips?.length > 0)">
              <hr>
              <label *ngIf="searchMode === 'sea-lcl'" class="info-container">
                <span>
                  <span>Total CBM:</span><span class="ml-cbm">{{totalCBM | number: '1.3-3'}}</span>
                </span>
              </label>
              <label *ngIf="searchMode === 'air-lcl'">
                Chargeable Weight: {{request?.AirDet?.ChargeableWeight | number: '1.3-3'}} Kg
              </label>
            </ng-container>
          </div>
          <!-- </ng-scrollbar> -->
        </div>
      </div>
    </div>
  </div>
</div>