<div class="user-modal animated fadeIn">
  <div class="modal-header">
    <h4 class="user-modal-title">Update Price</h4>
    <a class="pointer crossIcon" (click)="closeModal()">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
    </a>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <p *ngIf="!data?.IsRateNotFoundBooking">Are you sure you want to update the
        {{isSpotRate?'spot rate':'final price'}} to <br> {{code}} {{amount | number : '1.2-2'}}?</p>
      <p *ngIf="data?.IsRateNotFoundBooking">The new rate entered is {{code}} {{amount | number : '1.2-2'}}</p>
      <button class="btn btn-primary hvr-sweep-to-right w-100" (click)="onConfirmClick()">Would you like to
        proceed?</button>
    </div>
  </div>
</div>