<div class="cookie-law-info-bar animated slideInUpBig">
  <span>To improve your experience, we use cookies. Please read our Privacy Policy <a
      href="https://www.hashmove.com/privacy-policy.html" target="_blank">here</a>. To use this
    website, please accept.
    <a href="javascript:void(0)" class="btn btn-primary full-width-btn hvr-sweep-to-right ml-3"
      (click)="setCookie()">Accept</a>
  </span>
</div>