@import "../../../../assets/scss/_variables";

/deep/ app-cookie-bar {
  position: sticky !important;
  position: fixed;
  top: auto;
  width: 100%;
  height: 65px;
  z-index: 9999;
  bottom: 0;
  transition: all 3s ease-in;
  .cookie-law-info-bar {
    background-color: $white-color;
    color: $text-color-default;
    font-family: inherit;
    font-size: 0.85rem;
    border-top: 2px solid $primary-color;
    padding: 0.5rem;
    text-align: center;

    .btn {
      padding: .075rem .75rem;
    }

    .read-more {
      color: $secondary-color;

      &:hover {
        color: $secondary-color-dark;
      }
    }
  }
}
