<div class="updatePrice">
  <app-loader-main *ngIf="loading"></app-loader-main>
  <div class="user-modal animated fadeIn">
    <div class="modal-header">
      <h4 class="user-modal-title">Update Price</h4>
      <a class="pointer crossIcon" (click)="closeModal()">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16" />
      </a>
    </div>
    <ng-scrollbar class="history-scroll" style="height:45rem">
      <div class="modal-body">
        <div class="form-component">
          <!-- input row -->
          <div class="form-group"
            *ngIf="data?.ShippingModeCode === 'TRUCK' || data?.ShippingModeCode === 'SEA' || (data?.ShippingModeCode === 'WAREHOUSE' && searchCriteria?.CONT)">
            <div class="container-main">
              <ng-container *ngIf="searchMode !== 'sea-lcl'">
                <label *ngIf="data?.ShippingModeCode !== 'TRUCK'">{{containers?.length >
                  1?'Containers':'Container'}}</label>
                <label *ngIf="data?.ShippingModeCode === 'TRUCK'">{{containers?.length > 1?'Trucks':'Truck'}}</label>
              </ng-container>
              <!-- <label *ngIf="searchMode !== 'sea-lcl'">Container</label> -->
              <div class="row">
                <div class="col-xl-4 col-md-4 col-12" *ngFor="let container of containers">
                  <div class="card container-boxes disabled">
                    <span *ngIf="container?.bookingContTypeQty" class="count-triangle" class="count-triangle">
                      <span>{{container?.bookingContTypeQty}}</span>
                    </span>
                    <div class="card-body mb-2">
                      <p class="card-text">
                        {{container.containerSpecDesc}}
                      </p>
                      <div class="image-container">
                        <img async defer src="../../../../assets/images/icons/{{container.containerSpecImage}}"
                          alt="container-icons" class="ContainerImg20" />
                      </div>
                      <div class="containerInfo" *ngIf="data?.ShippingModeCode === 'SEA'">
                        <div class="container-size">
                          <label>Size</label>
                          <small>{{getContainerInfo(container).containerSize}}</small>
                        </div>
                        <div class="container-weight">
                          <label>Max Weight</label>
                          <small>{{container.containerWeight}} {{container.weightUnit}}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Commodity Description</label>
            <textarea [disabled]="true" name="description" [(ngModel)]="commodityDesc" id="" cols="30" rows="10"
              class="form-control" placeholder="type here"></textarea>
          </div>
          <div class="row">
            <div class="col-12 form-group">
              <div class="customer-comments">
                <label>Customer Comments</label>
                <div class="chat-history mr-1" *ngIf="priceUpdateLogs?.length > 0">
                  <a style="text-decoration: underline !important;" class="hvr-icon-forward pointer" href="javascript:;"
                    (click)="viewLogs()"><span class="m-0">Price History</span></a>
                </div>
              </div>
              <textarea [disabled]="true" name="description" [(ngModel)]="specialReqDesc" id="" cols="30" rows="10"
                class="form-control" placeholder="type here"></textarea>
            </div>
          </div>

          <div *ngIf="data?.ShippingModeCode === 'SEA' || data?.ShippingModeCode === 'AIR'">
            <ng-container *ngIf="searchMode === 'sea-fcl'">
              <div class="form-group">
                <label>Route</label>
                <div class="route">
                  <div *ngIf="data?.PolType?.toUpperCase() === 'GROUND' || data?.PodType?.toUpperCase() === 'GROUND'" class="row mb-3">
                    <div class="col-6 pickup">
                      <label class="d-block mb-0 mt-0">Pickup Location</label>
                      <!-- <div class="flag-container yolox mr-1">
                        </div> -->
                      <img style="border: 1px solid #3f5165"
                        src="{{'../../../../../assets/images/flags/4x3/' + (data?.PolCountryCode | lowercase) + '.svg'}}"
                        class="mw-100 w-auto h-auto mh-100 icon-size-18-12 mr-1">
                      <span>{{data?.PolType === 'SEA'?data?.PolName + ', ' + data?.PolCountry:data?.PolAddress}}</span>
                    </div>
                    <div class="col-6 dropoff pl-0">
                      <label class="d-block mb-0 mt-0">Dropoff Location</label>
                      <!-- <div class="flag-container yolox mr-1">
                        </div> -->
                      <img style="border: 1px solid #3f5165"
                        src="{{'../../../../../assets/images/flags/4x3/' + (data?.PodCountryCode | lowercase) + '.svg'}}"
                        class="mw-100 w-auto h-auto mh-100 icon-size-18-12 mr-1">
                      <span>{{data?.PodType === 'SEA'?data?.PodName + ', ' + data?.PodCountry:data?.PodAddress}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 origin">
                      <label class="d-block mb-2 mt-0">Origin Port</label>
                    </div>
                    <div class="col-6 destination pl-0">
                      <label class="d-block mb-2 mt-0">Destination Port</label>
                    </div>
                  </div>
                </div>
                <div class="row combine-field">
                  <div class="col-6 origin pl-0 pr-0">
                    <div class="flag-container">
                      <img *ngIf="filterOrigin && filterOrigin.imageName"
                        src="{{'../../../../../assets/images/flags/4x3/' + (filterOrigin.imageName | lowercase) + '.svg'}}"
                        type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                    </div>
                    <input [disabled]="vesselSchedule && schdeuleStatus !== 'REMOVED'" class="form-control"
                      [(ngModel)]="filterOrigin" placeholder="Origin" type="text"
                      [ngClass]="{'routeSelected': filterOrigin && filterOrigin.imageName}"
                      (keypress)="isRouteDetailUpdate = true" [ngbTypeahead]="originPortsFilter" [resultTemplate]="rt"
                      [inputFormatter]="filterPortsFormatter" container="body" (selectItem)="isRouteDetailUpdate = true"
                      ngbTooltip="{{(filterOrigin?.title)?filterOrigin?.title:''}}" />
                  </div>
                  <div class="col-6 destination pl-0 pr-0">
                    <div class="flag-container">
                      <img *ngIf="filterDestination && filterDestination.imageName"
                        src="{{'../../../../../assets/images/flags/4x3/' + (filterDestination.imageName | lowercase) + '.svg'}}"
                        type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                    </div>
                    <input [disabled]="vesselSchedule && schdeuleStatus !== 'REMOVED'" placeholder="Destination"
                      [(ngModel)]="filterDestination" type="text" class="form-control"
                      [ngClass]="{'routeSelected': filterDestination && filterDestination.imageName}"
                      (keypress)="isRouteDetailUpdate = true" [ngbTypeahead]="destinPortsFilter" [resultTemplate]="rt"
                      [inputFormatter]="filterPortsFormatter" container="body" (selectItem)="isRouteDetailUpdate = true"
                      ngbTooltip="{{(filterDestination?.title)?filterDestination?.title:''}}" />
                  </div>
                </div>
              </div>
            </ng-container>

            <div class="row" *ngIf="allShippingLines?.length > 0 &&  (data?.ShippingModeCode === 'SEA')">
              <div class="col-12 form-group shippingline">
                <div class="d-flex flex-row align-items-center" style="justify-content: space-between;">
                  <label style="width: auto !important;">{{data?.ShippingModeCode === 'SEA'?'Shipping Line':
                    'Airline'}}</label>
                  <div class="chat-history mr-1 ml-2 mb-1" *ngIf="data?.ShippingModeCode === 'SEA'">
                    <span style="font-size: 0.8rem;font-weight: 500;">VESSEL SCHEDULE</span>
                    <div class="d-flex justify-content-end">
                      <a *ngIf="(!vesselSchedule)" style="text-decoration: underline !important;"
                        class="hvr-icon-forward pointer" href="javascript:;" (click)="openAddSchedule()"
                        ngbTooltip="Add Schedule">
                        <img src="../../../../assets/images/icons/icon-add-schedule.svg" alt="">
                      </a>
                      <a *ngIf="(vesselSchedule && schdeuleStatus !== 'REMOVED')"
                        style="text-decoration: underline !important;" class="hvr-icon-forward pointer mr-2"
                        href="javascript:;" (click)="openAddSchedule()" ngbTooltip="Edit Schedule">
                        <img src="../../../../assets/images/icons/icon-edit-schedule.svg" alt="">
                      </a>
                      <a *ngIf="(vesselSchedule && schdeuleStatus !== 'REMOVED')"
                        style="text-decoration: underline !important;" class="hvr-icon-forward pointer ml-1"
                        ngbTooltip="Remove Schedule" href="javascript:;" (click)="removeVesselSchedule()">
                        <img src="../../../../assets/images/icons/icon-remove-schedule.svg" alt="">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="shippingline-container" *ngIf="selectedShipping && selectedShipping.imageName">
                  <img src="{{getShippingLineImage(selectedShipping.imageName)}}" alt="">
                </div>
                <input [disabled]="vesselSchedule && schdeuleStatus !== 'REMOVED'" type="text" class="form-control"
                  #carrier [ngClass]="selectedShipping && selectedShipping.imageName ? 'pl-5' : ''"
                  placeholder="e.g: Maersk Shipping" [(ngModel)]="selectedShipping" [ngbTypeahead]="shippings"
                  [resultTemplate]="st" [inputFormatter]="formatter">
                <ng-template #st let-r="result">
                  <div class="d-inline-block icon-size-16 mr-2">
                    <img src="{{getShippingLineImage(r.imageName)}}" width="16px" height="16px">
                  </div>
                  <ngb-highlight [result]="r.title"></ngb-highlight>
                </ng-template>
              </div>
            </div>
            <ng-template #rt let-r="result" container="body">
              <div class="d-flex">
                <div class="flag-container yolox mr-1">
                  <img src="{{'../../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                    class="mw-100 w-auto h-auto mh-100">
                </div>
                <ngb-highlight [result]="r.title"></ngb-highlight>
              </div>
            </ng-template>
          </div>
          <!--/ input row -->

          <div class="form-group" *ngIf="data?.ShippingModeCode === 'AIR'">
            <div class="container-main">
              <label>Chargeable Weight: {{data?.ChargeableWeight}} Kg</label>
            </div>
          </div>
          <div class="form-group" *ngIf="searchMode === 'sea-lcl' && totalCBM">
            <div class="container-main">
              <label>Chargeable CBM: {{totalCBM | number: '1.2-2'}} CBM</label>
            </div>
          </div>
          <!-- input row -->
          <div class="row">
            <div [ngClass]="showPerRateInp?'col-4':'col-12'">
              <div class="form-group mt-3">
                <label *ngIf="!showPerRateInp" style="display:flex;align-items: center;">Total {{data?.ShippingModeCode
                  === 'WAREHOUSE'?
                  'Booking':'Shipment'}} Charges <small class="ml-1" style="color:#afafaf">(Please enter the total
                    {{data?.ShippingModeCode === 'WAREHOUSE'? 'rent':'freight'}} and total additional charges for the
                    {{data?.ShippingModeCode === 'WAREHOUSE'? 'booking':'shipment'}})</small>
                </label>
                <label *ngIf="showPerRateInp">{{rateType}}</label>
                <div class="input-group" [ngClass]="(showPerRateInp && perPriceError)? 'inputInvalid': ''">
                  <div class="input-group-prepend p-0" style="width: 11rem;">
                    <div class="input-group-text">
                      <div class="city-dropdown currency">
                        <div class="flag-container">
                          <img *ngIf="selectedCurrency && selectedCurrency?.imageName"
                            src="{{'../../../../../assets/images/flags/4x3/' + (selectedCurrency?.imageName | lowercase) + '.svg'}}"
                            type="image/svg+xml">
                        </div>
                        <input type="text" name="selectedCurrency"
                          placeholder="{{(selectedCurrency?.shortName)?selectedCurrency?.shortName:'Currency (e.g. USD)'}}"
                          [(ngModel)]="selectedCurrency" class="form-control"
                          [ngClass]="{'routeSelected': selectedCurrency && selectedCurrency.imageName}"
                          [ngbTypeahead]="currency" [resultTemplate]="crt" [inputFormatter]="formatterCurrency"
                          [disabled]="!data?.IsRateNotFoundBooking">
                        <ng-template #crt let-r="result">
                          <div class="d-flex">
                            <div class="flag-container mr-1">
                              <img
                                src="{{'../../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                                class="mw-100 w-auto h-auto mh-100">
                            </div>
                            <ngb-highlight [result]="r.shortName"></ngb-highlight>
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div class="p-0" [ngStyle]="{'width':showPerRateInp?'42%':'82.4%'}">
                    <input *ngIf="!showPerRateInp" type="text" autocomplete="new-password" inputmode="numeric" min="0"
                      [max]="99999999999" step="any" [maxLength]="11" class="form-control" name="price"
                      [(ngModel)]="actualIndividualPrice" appTwoDigitDecimalNumber placeholder="0.00" priceDecDir />

                    <input *ngIf="showPerRateInp" type="text" inputmode="numeric" min="0" [max]="999999" step="any"
                      [maxLength]="6" class="form-control" autocomplete="new-password" name="price"
                      [(ngModel)]="perRatePrice" appTwoDigitDecimalNumber placeholder="0.00"
                      (focus)="perPriceError = false" (focusout)="validatePerPrice()" priceDecDir />
                  </div>

                </div>
              </div>
            </div>
            <div class="col-8" *ngIf="showPerRateInp">
              <div class="form-group mt-4">
                <label style="display:flex;align-items: center;">Total {{data?.ShippingModeCode
                  === 'WAREHOUSE'?
                  'Booking':'Shipment'}} Charges <small class="ml-1" style="color:#afafaf">(Please enter the total
                    {{data?.ShippingModeCode === 'WAREHOUSE'? 'rent':'freight'}} and total additional charges for the
                    {{data?.ShippingModeCode === 'WAREHOUSE'? 'booking':'shipment'}})</small>
                </label>
                <div class="input-group">
                  <div class="p-0" style="width: 100%">
                    <input type="text" inputmode="numeric" min="0" step="any" [maxLength]="11" class="form-control"
                      name="price" [(ngModel)]="actualIndividualPrice" appTwoDigitDecimalNumber
                      autocomplete="new-password" placeholder="0.00" (focus)="totalPriceError = false"
                      [ngClass]="(totalPriceError)? 'inputInvalid': ''" (focusout)="validatePerPrice()" priceDecDir />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/ input row -->
          <!-- input row -->
          <div class="form-group">
            <label>{{data?.IsRateNotFoundBooking?'Comments':'Comments (Optional)'}}</label>
            <textarea style="height: 8rem;" name="comments" [(ngModel)]="specialRequestComments" id="" cols="30"
              rows="10" class="form-control"
              placeholder="Please enter rate breakdown, rate validity, special terms from carrier, EXW charges, other."></textarea>
          </div>
          <!--/ input row -->
          <button type="submit" class="btn btn-primary w-100 hvr-sweep-to-right mt-2" (click)="submitPrice()">Submit
            Price
          </button>
        </div>

      </div>
    </ng-scrollbar>
  </div>
</div>