// .page-comp {
  .back-img {
    background-image: url('../../../assets/images/login-page-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  .back-color {
    background: #f7f8fc;
  }

// }
