<app-header *ngIf="showHeader"></app-header>
<main [ngClass]="(showHeader)?'back-color':'back-img'" >
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
<app-footer></app-footer>
<app-cookie-bar *ngIf="isCookeStored"></app-cookie-bar>
