<section class="DocumentManager">
  <h2>Digital Profile</h2>
  <small class="sub-title">Your digital profile's analytics.</small>
  <br>
  <small *ngIf="portalUrl" class="sub-title mt-1">
    Your Digital Logistics Website:
    <a href="javascript:void(0)" href="{{portalUrl}}" target="_blank" class="send-confirmation" [placement]="'top'"
      ngbTooltip="View Digital Logistics Website" container="body">
      {{portalUrl}}
    </a>
  </small>
  <br>
  <small class="sub-title">
    Profile Views are typically updated within 24-48 hours
  </small>
  <div class="row mt-2">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <iframe style="border: none;padding: 1.2rem; background-color: #fff; position: initial !important; " *ngIf="key && urlId" [src]="iframeUrl"
        width="1000" height="1000"></iframe>
      <div *ngIf="!key || !urlId" style="display: flex;justify-content: center;">
        <h2>Fetching Data Please Wait...</h2>
      </div>
    </div>
  </div>
</section>