<!-- User login Modal -->
<div class="UserLogin">
  <div class="user-modal animated fadeIn">
    <!-- <div class="modal-header">
      <h4 class="user-modal-title">Login</h4>
      <a class="pointer crossIcon" (click)="closeModal()">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
      </a>
    </div> -->
    <div class="modal-body">

      <div *ngIf="showResend" class="alert alert-warning" role="alert">
        We've sent an email but it's still not verified.
        <a class="alert-btn" href="javascript:;" (click)="resendEmailRequest()">Resend Verification Email</a>
      </div>
      <form class="form-component" autocomplete="off" novalidate [formGroup]="loginForm"
        (ngSubmit)="loginUser(loginForm.value)">

        <div *ngIf="savedUser" class="d-flex flex-column align-items-center">
          <div class="d-table gradient-border" style="border-radius: 50px;">
            <div class="user-profile-main d-table-cell">
              <img *ngIf="userAvatar" [src]="userAvatar" alt="user_icon">
              <img *ngIf="!userAvatar" src="../../../../assets/images/icons/icons_user.svg" alt="user_icon">
            </div>
          </div>
          <h4 class="username">Hi, {{userName}}</h4>
        </div>
        <div *ngIf="!savedUser" class="d-flex flex-column align-items-center">
          <div class="d-table" style="border-radius: 50px;">
            <div class="d-table-cell">
              <img class="hm-logo-profile" src="../../../../assets/images/hm-logo-simple.png" alt="user_icon">
            </div>
          </div>
          <h2 class="username">Login to access your digital portal</h2>
        </div>

        <!-- input row -->
        <div class="row form-group" [hidden]="savedUser">
          <div class="col">
            <label>Email</label>
            <!-- <input type="email"  (focusout)="errorMessages()" (focus)="emailError=false" autocomplete="off" formControlName="loginUserID" class="form-control" [ngClass]="(emailError)?'user-invalid':''" -->
            <input type="email" (focusout)="emailError=true" (focus)="emailError=false" autocomplete="off"
              formControlName="loginUserID" class="form-control"
              [ngClass]="{'user-invalid': loginForm.controls['loginUserID'].hasError('pattern') && emailError}"
              placeholder="John@company.com" required>
            <span *ngIf="emailError">
              <p class="animated fadeIn invalid-error"
                *ngIf="loginForm.controls['loginUserID'].errors && loginForm.controls['loginUserID'].hasError('pattern')">
                Please
                enter valid information</p>
            </span>

          </div>
        </div>
        <!--/ input row -->


        <!-- input row -->
        <div class="row form-group">

          <div class="col">
            <label *ngIf="!savedUser">Password</label>
            <i class="fa fa-eye pointer" aria-hidden="true" [ngClass]="colorEye" (click)=confirmPassword($event)></i>
            <input type="password" autocomplete="off" autocomplete="off" formControlName="password"
              class="form-control password" placeholder="{{placeholder}}" required>

          </div>
        </div>
        <!--/ input row -->

        <!-- button row -->
        <div class="col login-btn">
          <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right full-width-btn hvr-sweep-to-right"
              [disabled]="loginForm.invalid || loading">Login
              <i *ngIf="loading" class="fa fa-spinner fa-spin"></i></button>
          </div>
          <div class="forgot-password">
            <a href="javascript:;" class="forgot-password hvr-icon-wobble-horizontal" (click)="forgetPassword()">Forgot
              Password?
              <!-- <i class="fa fa-angle-right hvr-icon" aria-hidden="true"></i> -->
              <img src="../../../../assets/images/icons/icon_arrow_right.svg" alt="Arrow Icon"
                class="icon-svg hvr-icon">
            </a>
          </div>
        </div>
        <!--/ button row -->


        <!-- not your account-->

        <div *ngIf="savedUser" class="col-sm-12 not-your-account-main hvr-icon-wobble-horizontal">
          <a href="javascript:;" class="not-your-account" (click)="notMyAccount()">Not {{userName}}?
            <i class="fa fa-angle-right pull-right hvr-icon" aria-hidden="true"></i>
          </a>
        </div>
        <!--/ not your account-->

        <div class="col login-btn">
          <div class="forgot-password">
            <a href="https://signup.hashmove.com/" target="_blank" class="forgot-password hvr-icon-wobble-horizontal">
              Haven't signed up yet? Click here to sign up - its Free.
              <img src="../../../../assets/images/icons/icon_arrow_right.svg" alt="Arrow Icon"
                class="icon-svg hvr-icon">
            </a>
          </div>
        </div>

      </form>
    </div>
  </div>

</div>
<!--/ User login Modal -->