<div class="billing" id="Billing">
  <div class="card">

    <div class="close">
      <a class="pointer crossIcon" (click)="closeModal()">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close">
      </a>
    </div>

    <div class="card-body">
      <h5 class="card-title">
        <img src="../../../../assets/images/icons/icon_summary.svg" alt="umbrella-icon" width="16px"> Price Breakdown
      </h5>
      <div>
        <h6>
          Freight Charges
        </h6>
        <ul class="list-group list-group-flush">
          <ng-container>
            <ng-container *ngIf="searchMode !== 'sea-lcl'">
              <ng-container *ngFor="let item of freightData">
                <li *ngIf="freightData?.length === 1 || item?.total > 0"
                  class="list-group-item d-flex justify-content-between align-items-center">
                  <span class="long-text">
                    <ng-container *ngIf="searchMode !== 'air-lcl'">
                      BAS - {{searchMode === 'sea-lcl'?'BASIC OCEAN FREIGHT':item?.containerData?.ContainerSpecDesc}}
                    </ng-container>
                    <ng-container *ngIf="searchMode === 'air-lcl'">
                      BAS - BASE AIR FREIGHT
                    </ng-container>
                    <ul class="long-text-sub">
                      <li>( {{item?.currCode}} {{item?.price | number: '1.2-2'}}
                        {{fsurBasic | titlecase}} )
                      </li>
                    </ul>
                  </span>
                  <span class="amount-text">
                    <ng-container>
                      <span style="display: flex;flex-direction: column">
                        <span style="text-transform: uppercase !important">
                          {{currencyCode}} {{item?.total | number: '1.2-2'}}
                        </span>
                        <ng-container *ngIf="item?.currCode !== selectedCurrency.code">
                          <span style="text-transform: uppercase !important">
                            ({{item?.currCode}} {{item?.displayPrice | number: '1.2-2'}})
                          </span>
                        </ng-container>
                      </span>
                    </ng-container>
                  </span>
                </li>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="searchMode === 'sea-lcl'">
              <ng-container>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span class="long-text">
                    <ng-container>
                      BAS - BASIC OCEAN FREIGHT
                    </ng-container>
                    <ul class="long-text-sub">
                      <li>( {{freightData[0]?.currCode}} {{freightData[0]?.price | number: '1.2-2'}}
                        {{fsurBasic | titlecase}} )
                      </li>
                    </ul>
                  </span>
                  <span class="amount-text">
                    <ng-container>
                      <span style="display: flex;flex-direction: column">
                        <span style="text-transform: uppercase !important">
                          {{currencyCode}} {{cbmTotalPrice | number: '1.2-2'}}
                        </span>
                        <ng-container *ngIf="freightData[0]?.currCode !== selectedCurrency.code">
                          <span style="text-transform: uppercase !important">
                            ({{freightData[0]?.currCode}} {{cbmTotalDisplayPrice | number: '1.2-2'}})
                          </span>
                        </ng-container>
                      </span>
                    </ng-container>
                  </span>
                </li>
              </ng-container>
            </ng-container>
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="searchMode === 'sea-lcl' && searchCriteria?.lclChipConatiners?.length > 0">
              <ul class="long-text-sub">
                <li *ngFor="let container of searchCriteria?.lclChipConatiners">
                  <strong>{{container?.main}}</strong>
                  <ul class="ml-1 list-unstyled">
                    <li *ngFor="let chip of container.chipName">
                      {{chip}}
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ng-container>
        </ul>
        <hr *ngIf="freightData.length">

        <h6 *ngIf="additionalData.length">Additional Charges</h6>
        <ng-scrollbar *ngIf="additionalData?.length" [trackX]="false" barclass="main-bar" #scrollRef>
          <ul id="addCharge" class="list-group list-group-flush additional-charges" style="max-height: 320px;">
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let charge of additionalData" [ngClass]="(additionalData?.length> 6)?'mr-45':'m-1'">
              <span class="long-text">{{charge?.addChrCode}} - {{charge?.addChrDesc}}
                <ul class="long-text-sub">
                  <li>( {{charge?.currency?.code}} {{charge?.price | number: '1.2-2'}}
                    {{getBasisString(charge?.addChrBasis) | titlecase}}
                   <ng-container *ngIf="isMultiContainer">{{charge?.containerName?', '+charge?.containerName:''}}</ng-container> )</li>
                </ul>
              </span>
              <span class="amount-text">
                <ng-container>
                  <span style="display: flex;flex-direction: column">
                    <span style="text-transform: uppercase !important">
                      {{currencyCode}} {{charge?.total | number: '1.2-2'}}
                    </span>
                    <ng-container *ngIf="charge?.currency?.code !== selectedCurrency.code">
                      <span style="text-transform: uppercase !important">
                        ({{charge?.currency?.code}} {{charge?.displayPrice | number: '1.2-2'}})
                      </span>
                    </ng-container>
                  </span>
                </ng-container>
              </span>
            </li>
          </ul>
        </ng-scrollbar>


        <hr *ngIf="additionalData.length">

        <ul class="list-group list-group-flush">
          <ng-container>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong class="text-primary">Total</strong>
              <span class="text-primary text-right">
                <strong>{{currencyCode}} {{totalAmount | number: '1.2-2'}}*</strong><br>
              </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="note">
                * The total cost is an estimate, based on today's currency conversion rates. The payment may be
                collected
                in
                the original currency as shown above.
              </span>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>