<div class="invoice-payment animated fadeIn">
  <div class="modal-header">
    <h4 class="invoice-payment-title ml-2 mb-0">Payment to Partner for {{invoice?.HashMoveBookingNum}}</h4>
    <div class="d-flex flex-row">
      <a class="pointer crossIcon" (click)="closeModal(null)">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
      </a>
    </div>
  </div>
  <div class="modal-body">
    <section class="invoice-total-amount mt-3" *ngIf="invoice?.IsInvoiceDetRequiredOnUpload">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12 amount-space" *ngIf="!isMobile">    
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-6 total">
          Invoice Amount:
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-6 amount">
          <span class="inv-dtl-font">
        {{invoiceAmount | number :"1.2-2"}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12 amount-space" *ngIf="!isMobile">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-6 total">
          Paid Amount:
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-6 amount">
          <span class="inv-dtl-font">
            {{invoiceAmount | number :"1.2-2"}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12 amount-space" *ngIf="!isMobile">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-6 total">
          Remaining Amount:
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-6 amount">
          <span class="inv-dtl-font">
            {{remainingAmount | number :"1.2-2"}}</span>
        </div>
      </div>
    </section>
    <!-- <div class="row mr-3">
      <div class="col-md-12 table-responsive ml-2">
        <table class="table user-table mb-0">
          <tfoot class="tfoot-light ">
            <tr>
              <td style=" min-width: 12rem;" scope="col"></td>
              <td style="text-align: right" scope="col">
              </td>
              <td style="text-align: right" scope="col">

              </td>
              <td style="text-align: right" scope="col">
                <div class="row">
                  <div class="col-4"></div>
                  <div class="col-8 d-flex flex-column align-self-end align-self-end pr-5">
                    <div class="d-flex flex-row row">
                      <h6 class="col-7 mb-0 inv-dtl-font d-flex justify-content-start">Invoice Amount:</h6>
                      <span class="col-5 d-flex justify-content-end inv-dtl-font">
                        {{invoiceAmount | number :"1.2-2"}}</span>
                    </div>
                    <div class="d-flex flex-row row">
                      <h6 class="col-7 mb-0 inv-dtl-font d-flex justify-content-start">Paid Amount:</h6>
                      <span class="col-5 d-flex justify-content-end inv-dtl-font">
                        {{paidAmount | number :"1.2-2"}}</span>
                    </div>
                    <div class="d-flex flex-row row">
                      <h6 class="col-7 mb-0 inv-dtl-font d-flex justify-content-start">Remaining Amount:</h6>
                      <span class="col-5 d-flex justify-content-end inv-dtl-font">
                        {{remainingAmount | number :"1.2-2"}}</span>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <p></p>
    </div> -->
    <ng-scrollbar [ngStyle]="{'height':heightLimit,'max-height':heightLimit}">
      <div class="pr-4" [ngClass]="{'pr-4':!isMobile}">
        <div *ngIf="viewMode === 'LIST'">
          <div *ngFor="let payment of paidItems " class="payment-card ml-2" [ngClass]="{'ml-2':!isMobile}">
            <div class="payment-container mb-4">
              <div class="card">
                <div class="card-header pb-1">
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-10 d-flex flex-row">
                      <img class="payment-icon align-self-start pt-1" src="../../../../assets/images/icons/payment.svg"
                        alt="icon">
                      <div class="d-flex flex-column ml-3">
                        <span class="booking-id">{{payment?.PaymentNo || 'N/A'}}</span>
                        <p class="card-text">Created on {{payment?.PaymentDate | date : "d MMM, yyyy H:mm"}} (GMT)</p>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 cheque-info">
                      <label class="Cheque mb-0">{{payment?.PaymentModeTitle}}</label>
                      <p class="text-capitalize-date">{{payment?.DocNo || 'N/A'}} <span
                          *ngIf="payment?.DocDate && payment?.DocNo">|</span><span *ngIf="payment?.DocDate">&nbsp;
                          {{payment?.DocDate | date : "d MMM, yyyy"}}</span></p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-2 d-flex justify-content-end align-items-center mb-2">
                      <div *ngIf="payment?.Doucuments?.length > 0 && payment?.Doucuments[0]?.DocumentFile"
                        class="d-flex justify-content-between align-items-center">
                        <!-- <div class="ic-download" placement="left" ngbDropdown #sortDrop="ngbDropdown">
                          <a href="javascript:;" placement="top" container="body" ngbTooltip="Download Documents"
                            class="hvr-icon-forward d-flex flex-row align-items-center mr-1" id="dropdownDownload1"
                            ngbDropdownToggle>
                            <img title="Download" class="icon-size-18 align-top mr-2"
                              src="../../../../assets/images/icons/icon-download.svg" type="image/svg+xml">
                            <span class="download-txt">Documents</span>
                          </a>
                          <div placement="left" class="animated fadeIn" ngbDropdownMenu
                            aria-labelledby="dropdownDownload1">
                            <div class="d-flex flex-column p-1 doc-ddl-container">
                              <a *ngFor="let doc of payment?.Doucuments;let fItem = first" href="javascript:;"
                                placement="bottom" [ngbTooltip]="doc?.DocumentName"
                                class="download-btn d-flex flex-row align-items-center" [ngClass]="{'mt-2':!fItem}"
                                (click)="acDownloadAction(doc.DocumentFile, $event)">
                                <img title="HashMove PDF" class="icon-size-18"
                                  src="../../../../assets/images/icons/icon-terms-and-conditions.svg"
                                  type="image/svg+xml" />
                                <span class="download-txt ml-2">{{doc.DocumentTypeName}}</span>
                              </a>
                            </div>
                          </div>
                        </div> -->
                        <a (click)="acDownloadAction(payment?.Doucuments[0]?.DocumentFile, $event)"
                          class="hvr-icon-document d-flex flex-row align-items-center  mr-2 ng-tns-c11-0 ng-star-inserted">
                          <img class="icon-size-16 mr-2 pointer icon-downloads" alt="icon"
                            src="../../../../assets/images/icons/icon-download.svg"  [ngClass]="{'icon-size-16':!isMobile}">
                          <span class="link-hover-1" *ngIf="!isMobile">Documents</span></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row pay-to" [ngClass]="{'pay-to':!isMobile}">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-6 d-flex flex-row">
                      <img class="icons-size-16 mr-2" alt="icon"
                        src="../../../../assets/images/icons/hm-symbol-invoice.svg">
                      <div class="d-flex flex-column">
                        <h3 class="payments-item">Payment to</h3>
                        <p class="text-value">{{(payment?.PaymentToDesc || payment?.PaymentTo) | titlecase}}</p>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-6 d-flex flex-row">
                      <img class="icons-size-16 mr-2" alt="icon"
                        src="../../../../assets/images/icons/icon_payment_acount.svg">
                      <!-- <div class="d-flex flex-column hm-popover" container="body"> -->
                      <div class="d-flex flex-column" container="body">
                        <h3 class="payments-item">Payment Amount</h3>
                        <p class="text-values">{{payment?.CurrencyCode}} {{payment?.PaymentAmount | number :"1.2-2"}}
                        </p>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 d-flex d-flex flex-row">
                      <img class="icons-size-16 mr-2" alt="icon" src="../../../../assets/images/icons/icon-remarks.svg">
                      <div class="d-flex flex-column" container="body">
                      <h3 class="payments-item">Rmarks</h3>
                      <p class="text-flied remarks-section">{{payment?.Remarks || 'N/A'}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-scrollbar>
    <div class="row mt-4">
      <div class="col">
        <button (click)="closeModal(null)" type="button"
          class="btn btn-primary hvr-sweep-to-right w-100 disable text-uppercase btn-txt">
          Close
        </button>
      </div>
    </div>
  </div>
</div>