@import "../../../../assets/scss/_variables";
$tfooter-bg-color: #8f9da9;
$tfooter-color: $white-color;

.invoice-payment {
  .doc-ddl-container {
    width: 17rem;
  }
  .download-txt {
    font-size: 0.9rem;
    color: #738593;
    font-weight: 600;
    font-family: proxima-nova, sans-serif;
  }
  .ic-download {
    a {
      &::after {
        display: none;
      }
    }
  }
  .actions-btn {
    a {
      font-size: $font-size-medium;
      font-family: $font-proxima;
      font-weight: $font-weight-mid;
      text-decoration: none !important;

      &.await-quotes {
        color: $danger-color;

        span {
          font-weight: $font-proxima-weight-semibold;
          // text-transform: uppercase;
          &:before,
          &:after {
            color: $danger-color;
          }
          &.link-hover-1 {
            text-decoration: none !important;
            &:before {
              background: darken($danger-color, 3%);
              transform: scaleX(1);
            }
            &:hover:before {
              transform: scaleX(1);
            }
          }
        }
      }

      &.view-details {
        color: $secondary-color;

        span {
          font-weight: $font-proxima-weight-semibold;
          // text-transform: uppercase;
          &:before,
          &:after {
            color: $secondary-color;
          }
          &.link-hover-1 {
            text-decoration: none !important;
            &:before {
              background: darken($secondary-color, 3%);
              transform: scaleX(1);
            }
            &:hover:before {
              transform: scaleX(1);
            }
          }
        }
      }

      span {
        position: relative;
        text-decoration: none;
        line-height: 24px;
        width: auto;
        &:before,
        &:after {
          color: $secondary-color;
          content: "";
          position: absolute;
          transition: transform 0.3s ease;
        }
        &.link-hover-1 {
          padding-top: 13px;
          cursor: pointer;
          &:before {
            top: 30px;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: darken($secondary-color, 3%);
            transform: scaleX(0);
          }
          &:hover:before {
            transform: scaleX(1);
          }
        }
      }
      i {
        margin-left: 0rem; //0.35rem
      }
    }
  }
  .payment-container {
    .pay-to {
      padding-left: 3.5rem;
    }

    .card {
      color: #fff;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
    }

    .card-header {
      background-color: #fff;
    }

    .card-body {
      min-height: 6rem;
      z-index: 1;
    }

    .booking-id {
      color: #00a2df;
      font-size: 1rem;
      text-align: left;
      font-family: pragmatica, sans-serif;
      font-weight: 500;
    }

    .card-text {
      font-size: 0.7em;
      color: #a7b3bc;
    }

    .Cheque {
      color: #00a2df;
      font-size: 1rem;
      text-align: left;
      font-family: pragmatica, sans-serif;
      font-weight: 500;
    }

    .text-capitalize-date {
      font-size: 0.7em;
      color: #a7b3bc;
      margin: 0;
    }

    .payments-item {
      font-size: 0.8rem;
      color: #738593;
      display: flex;
    }

    .text-value {
      font-size: 1rem;
      font-weight: 600;
      font-size: 0.9rem;
      color: #000;
      display: flex;
    }

    .payment-icon {
      width: 2.5rem;
    }

    .link-hover-1 {
      font-size: 0.9rem;
      cursor: pointer;
      // margin: -0.3rem;
    }
    .hvr-icon-document {
      text-decoration: none;
      color: #738593;
      font-weight: 600;
      font-family: proxima-nova, sans-serif;
    }
    .icon-size-16 {
      width: 16px !important;
      height: 16px !important;
    }
    .icon-text {
      text-align: center;
    }

    .detail-card {
    }

    .icon-text-size-16 {
      width: 16px !important;
      height: 16px !important;
      display: flex;
    }

    .payment-detail {
      display: flex;
    }

    .icons-size-16 {
      width: 16px !important;
      height: 16px !important;
      display: flex;
    }
    .text-values {
      font-size: 1rem;
      font-weight: 600;
      font-size: 0.9rem;
      color: #000;
      display: flex;
    }

    .text-flied {
      font-size: 1rem;
      font-weight: 600;
      font-size: 0.9rem;
      color: #000;
      display: flex;
    }
  }

  .inv-dtl-font {
    font-size: 0.8rem;
  }

  .edit-dropdown {
    z-index: 999;
    text-align: center;
    .dropdown-toggle:after {
      display: none;
    }
    .dropdown-menu {
      &.show {
        z-index: 999;
        background: $white-color;
        width: 205px;
        box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.2);
        padding: 0.875rem 1rem;
        border: 0;
        top: -45px !important;
        right: 27px !important;
        left: auto !important;
        .dropdown-item {
          font-size: $font-size-large;
          font-weight: $font-weight-normal;
          color: $text-color-default;
          padding: 0.5rem 1rem;
          font-family: $font-proxima;
        }
      }
      &:before {
        content: " ";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid $white-color;
        position: absolute;
        top: 50px;
        right: -13px;
        transform: rotate(90deg);
      }
    }
  }
  .line-item {
    word-break: break-all;
    &-txt {
      min-height: 3rem;
    }
    &-heading {
      width: 28rem;
    }
  }
  table {
    thead,
    .thead {
      border: 0px solid $boxes-border-grey;
      tr {
        th {
          border: 0;
        }
      }
      &-light {
        tr {
          th {
            padding: 1rem;
            background-color: $user-panel-bg;
            color: $dark-grey-blue;
            border: 0;
            font-size: $font-size-medium;
            font-family: $font-proxima;
            font-weight: $font-weight-normal;
            text-transform: uppercase;
          }
        }
      }
      &-dark {
        tr {
          th {
            padding: 1rem;
            background-color: $primary-color !important;
            color: $white-color;
            border: 0;
            font-size: $font-size-medium;
            font-family: $font-proxima;
            font-weight: $font-weight-normal;
            text-transform: uppercase;
          }
        }
      }
    }
    tbody {
      padding: 0.5rem 1.125rem;
      border: 1px solid $boxes-border-grey;
      background: $white-color;
      tr {
        border: 0;
        &:nth-of-type(odd) {
          background-color: rgba(255, 255, 255, 0.075);
        }
        &:nth-of-type(even) {
          background-color: rgba(0, 0, 0, 0.05);
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.075);
        }
        td {
          border-bottom: 1px dashed #e7e7e7 !important;
          vertical-align: middle;
          border: 0;
          padding: 0.75rem 1rem;
          p {
            margin: 0;
            font-family: $font-proxima;
            font-size: $font-size-large;
            color: $primary-color;
          }
          &:last-child {
            padding-right: 0;
            img {
              cursor: pointer;
            }
          }
        }
        td.user-info {
          img {
            margin-right: 0.75rem;
            margin-top: -1px;
          }
          p {
            font-family: $font-proxima;
            font-weight: $font-weight-normal;
            font-size: $font-size-medium;
            color: $secondary-text-color;
            display: inline-block;
            margin-bottom: 0;
          }
        }
      }
      .user-info-cty-name {
        font-size: $font-size-large;
        color: $secondary-text-color;
        font-family: $font-proxima;
        font-weight: $font-weight-normal;
        margin-left: 0.625rem;
      }
    }
    tfoot {
      &-light {
        background-color: $tfooter-bg-color;
        color: $dark-grey-blue;
      }
      td {
        padding: 0.75rem 1rem;
        background-color: $tfooter-bg-color;
        color: $tfooter-color;
        font-weight: $font-weight-mid;
        text-transform: uppercase;
      }
    }
  }
  .payment-card {
    .card-container {
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      border-radius: 5px;
    }

    .booking {
      font-size: 1rem;
      color: #00a2df;
    }

    .paragraph {
      font-size: 0.7em;
      color: #a7b3bc;
    }

    .Cheque {
      font-size: 1rem;

      color: #00a2df;
    }

    .paragraph-date {
      font-size: 0.7em;
      color: #a7b3bc;
    }

    .paragraph-document {
      font-size: 0.7em;
      color: #a7b3bc;
      font-weight: 600;
    }

    .paragraph-edit {
      font-size: 0.7em;
      text-align: right;
      color: #a7b3bc;
      font-weight: 600;
    }

    .paragraph-delete {
      font-size: 0.7em;
      text-align: right;
      color: #d32020;
      font-weight: 600;
    }

    .item-heading {
      font-size: 0.7rem;
      color: #738593;
    }

    .item-text {
      font-size: 0.8em;
      color: #000000;
      font-weight: 600;
    }

    .line {
      height: 1px;
      border-width: 3px;
      background-color: #7f7f7f;
      padding-bottom: -3rem;
      padding-top: -8rem;
      margin-top: -29px;
      margin-bottom: -9px;
    }
    .delete-icon {
      width: 1rem;
    }
    .payment-account-icon {
      width: 1rem;
    }
  }
  .ln-border {
    background-color: $white-color;
  }
  .payment-amount-container {
    z-index: 999;
  }

  .document-container {
    display: flex;
    flex-direction: column;
    .document-title-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  .document-simple {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .empty-title {
      margin-left: 2rem !important;
    }
  }
  .other-document {
    // max-height: 30rem;
    // overflow-y: auto;
    button.btn.btn-link {
      padding-left: 0px;
      padding-right: 0px;
      text-decoration: none;
    }

    .accordion {
      &-title {
        line-height: 15px;
        margin: 0;
        // width: 16.5rem;
        color: $color-topmenuactive;

        span {
          margin: 0;
          font-family: $font-proxima;
          font-size: $root-font-size;
          color: $color-topmenuactive;
        }
      }

      // button.btn {
      //   height: 36px;
      //   width: 116px;
      // }

      &-time {
        margin: 0;
        color: $text-grey;
        font-size: $font-size-base;
        margin-left: 1.8rem;
      }

      .check-icon {
        position: relative;
        top: 3px;
        left: -4px;
      }

      .view-booking-reasons {
        margin-top: 14px;

        &-name {
          font-size: $font-size-medium;
          font-weight: $font-weight-normal;
          color: $text-color-default;
        }

        &-desc {
          font-size: $font-size-medium;
          font-weight: $font-weight-normal;
          color: $text-color-default;
        }
      }

      &.rejected-doc {
        .accordion-title span {
          color: $danger-color !important;
        }
      }
    }
    .uploader {
      &-cancel-btn {
        font-family: $font-proxima;
        font-size: $font-size-base;
        color: $color-topmenu;
        font-weight: $font-proxima-weight-semibold;
        text-transform: uppercase;
      }
    }
    .btn-outline-danger {
      &:active:before,
      &:focus:before,
      &:hover:before {
        transform: scaleX(1) !important;
        background-color: $danger-color !important;
        background: $danger-color !important;
      }
    }

    .docs-download {
      a {
        svg {
          width: 1.5rem;
          fill: $dark-grey-blue;
          transition: ease-in 0.3s;
        }
        &:hover {
          svg {
            fill: $secondary-color !important;
          }
        }
      }
    }
  }

  .form-group .form-control[readonly] {
    background-color: #fff !important;
  }
  .city-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;

    > .flag-container {
      width: 20px;
      height: 16px;
      position: absolute;
      left: 20px;
      top: 10px;
      display: flex;

      img {
        width: 20px;
        height: 16px;
        border: 0px solid $primary-grey;
      }
    }

    input {
      &.routeSelected {
        padding-left: 3rem;
        // margin-top: 0.2rem;
      }
    }

    &.currency {
      ngb-typeahead-window {
        top: auto !important;
        bottom: 50px;
      }
    }
  }
  .flag-container {
    width: 15px;
    height: 12px;
    display: flex;
    margin-top: 5px;
    margin-right: 10px !important;
    img {
      border: 1px solid $primary-grey;
    }
  }

  .curr-inp-right-border {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  .curr-inp-left-border {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }
  .inputInvalid {
    border: 1px solid $danger-color;
    box-shadow: 0px 0px 9px $danger-color;
    border-color: $danger-color !important;
  }

  .document-Info {
    .file-uploader {
      border: 1px dashed #e1d8d8;
      border-radius: 4px;

      .browse-span {
        color: $secondary-color;
        font-weight: 500;
      }

      .message-class {
        b {
          color: $primary-color;
        }
      }

      text-align: center;
      background-color: $color-white;

      app-ng-files-drag-n-upload {
        label {
          padding: 2rem 60px;
          // display: flex !important;
          // align-items: center;
          // justify-content: center;
        }
      }
    }

    .uploadedDocx {
      margin-top: 1rem;

      .uploaded-images {
        display: table;

        .display-upload {
          position: relative;
          height: 200px;
          z-index: 0;
          border: 1px solid $input-border;
          background-color: $color-white;
          border-radius: 4px;
          text-align: center;
          display: table-cell;
          vertical-align: middle;
          background-image: url("../../../../assets/images/img-canvas.png");
          background-size: 20px;

          img,
          video {
            max-width: 100%;
            max-height: 100%;
          }

          // .delete-icon {
          //   position: absolute;
          //   top: -10px;
          //   right: -8px;
          //   min-height: auto;
          //   background: $white-color;
          //   padding: 3px;
          //   border-radius: 50%;
          //   width: 23px;
          //   height: auto;
          //   border: none;
          // }

          &:hover {
            .delete-icon {
              animation-name: pulse;
              animation-fill-mode: both;
              animation-duration: 1s;
              animation-iteration-count: infinite;
            }
          }
        }
      }
    }
  }
  .btn {
    height: 48px;
    font-size: $font-size-medium;
    font-weight: $font-proxima-weight-semibold;
    text-transform: uppercase;
    font-family: $font-proxima;
    &.disable {
      // cursor: no-drop;
      border: 0;
      background: $btn-disable-background !important;
      color: $btn-disable-color !important;
      border-radius: 2px;
      box-shadow: none !important;
      &:before {
        background: $btn-disable-background !important;
        color: $btn-disable-color !important;
      }
    }
  }
  label {
    text-align: start;
  }
  .modal-header {
    background: $modal-header-background;
    .invoice-update-title {
      font-size: 1.25rem;
      margin: 4px 0 0 0;
    }
  }
  .modal-body {
    p {
      font-family: $font-proxima;
      font-size: 1rem;
      line-height: 1;
      margin-bottom: 12px;
    }
    .hm-popover {
      cursor: pointer;
      -webkit-transform: translateZ(0); /* webkit flicker fix */
      -webkit-font-smoothing: antialiased; /* webkit text rendering fix */

      .status-heading {
        line-height: 22px;
      }
      .status-text {
        line-height: 10px;
      }
      .hm-tooltip {
        color: $white-color;
        font-family: $font-proxima;
        font-size: $font-size-medium;
        font-weight: $font-weight-mid;
        min-height: 5rem;
        min-width: 25rem;
        // position: absolute;
        background: rgba(43, 43, 43, 0.9);
        top: 100%;
        color: $white-color;
        display: block;
        left: -11.4rem;
        margin-bottom: 15px;
        opacity: 0;
        padding: 1rem;
        pointer-events: none;
        position: absolute;
        z-index: 999;
        border-radius: 0.25rem;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        -ms-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);

        /* This bridges the gap so you can mouse into the tooltip without it disappearing */
        &:before {
          bottom: -20px;
          content: " ";
          display: block;
          height: 20px;
          left: 0;
          position: absolute;
          width: 100%;
        }
        /* CSS Triangles - see Trevor's post */
        &:after {
          border-left: solid transparent 10px;
          border-right: solid transparent 10px;
          border-top: solid rgba(43, 43, 43, 0.9) 10px;
          top: -10px;
          content: " ";
          height: 0;
          left: 50%;
          margin-left: -13px;
          position: absolute;
          width: 0;
          -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
        }
        &-last {
          left: -18rem !important;
          &:after {
            left: 76%;
          }
        }
        h5 {
          color: $white-color;
          font-family: $font-proxima;
          font-size: $font-size-large + 0.2rem;
          font-weight: $font-weight-mid;
          margin-bottom: 0.5rem;
        }
        p {
          color: $white-color;
          font-family: $font-proxima;
          font-size: $font-size-base;
          font-weight: $font-weight-normal;
        }
      }
      &:hover {
        .hm-tooltip {
          opacity: 1;
          pointer-events: auto;
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          -ms-transform: translateY(0px);
          -o-transform: translateY(0px);
          transform: translateY(0px);
        }
      }
    }
  }

  .remarks-section {
    color: #000;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    line-clamp: 3 !important;
    -webkit-line-clamp: 3 !important;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
  }
  .invoice-total-amount {
      background-color: $tfooter-bg-color;      
      padding: 0.75rem 1rem;      
      color: $tfooter-color;
      font-weight: $font-weight-mid;
      text-transform: uppercase;         
      
      // display: flex;
      // justify-content: flex-end;

      .amount-space {
        text-align: left;
      }
      
      .total {
        text-align: right;
        font-size: $font-size-medium;
        text-transform: capitalize;
      }
      .amount {
        text-align: left;
      }
  }
}
