<!-- - Rate Expiry Warning - -->
<div *ngIf="false" class="row animated fadeIn">
  <div class="col-12 warehouse-alert">
    <div class="alert alert-warning" role="alert">
      <span class="alert-icon mr-2">
        <img class="icon-size-20 mt-2" src="../../../../../../assets/images/icons/icon-info-w.svg" alt="">
      </span>
      <div class="alert-text">10 out of 37 reates are expiring. Please review them below and make them active. <a
          href="javascript:;" class="alert-btn alert-link"><span class="link-hover-grey"></span></a></div>
    </div>
  </div>
</div>
<section *ngIf="false" class="rates-grid rate-expiry-grid draft-grid no-data mb-5 animated fadeIn">
  <div class="row ">
    <div class="col-9 text-left">
      <h5 class="add-rate-head mb-4">Rates Expiring Soon</h5>
    </div>
    <div class="col-3 text-right">
      <a href="javascript:;" ngbTooltip="Close Rate Expiry" [placement]="'top'" container="body" openDelay="100"
        closeDelay="500" class="icon-close hvr-icon-pulse-shrink"><img class="hvr-icon icon-size-24 mt-2"
          src="../../../../../../assets/images/icons/icon-close-new.svg" alt=""></a>
    </div>
  </div>



  [ RATE EXPiRY LIST ]

  <div class="text-center mt-3">
    <button class="btn btn-outline-primary btn-lg hvr-sweep-to-right mb-3 mr-2"> Extend all rates validity till next 30
      days </button>
    <button class="btn btn-outline-primary btn-lg hvr-sweep-to-right mb-3 mr-2"> Extend all rates validity till next 60
      days </button>
    <button class="btn btn-outline-primary btn-lg hvr-sweep-to-right mb-3 mr-2"> Edit & Extend Validity </button>
  </div>

</section>
<section class="warehouseList" *ngIf="!wareHouseDetTemplate">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12 you-have-warehouse">
          <h5 class="m-0">You have {{ allWareHouseList.length }} warehouse</h5>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-12 add-warehouse">
          <button (click)="addAnotherWarehouse()"
            class="btn btn-primary hvr-sweep-to-right pull-right text-uppercase pt-2 pb-2 pl-3" type="button">
            <span *ngIf="allWareHouseListMain && allWareHouseListMain.length; else other">Add Another Warehouse</span>
            <ng-template #other>Add Warehouse</ng-template>
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr class="hr-solid mt-3" />
  <section class="warehouseInfo">
    <div class="row mb-3 search-bar">
      <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-4 d-flex align-items-center record-count">
        Showing
        {{(allWareHouseList | filterByCheckbox : activeStatus : inActiveStatus | paginate : paginationConfig).length}} -
        {{allWareHouseList.length}}
      </div>
      <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 col-8 warehouse-search">
        <input type="text" class="form-control" placeholder="Search by location or title" [(ngModel)]="wareHouseTitle"
          (ngModelChange)="onWarhouseTextChange($event)" />
      </div>
      <div
        class="col-xl-6 col-lg-5 col-md-12 col-sm-12 mt-xl-0 mt-lg-0 mt-md-3 mt-3 mt-sm-3 col-12 d-flex justify-content-end align-items-center warehouse-status">
        <label class="m-0 mr-2">SHOW :</label>
        <div class="fancyOptionBoxes mr-2">
          <input id="checkboxOne" type="checkbox" [checked]="activeStatus"
            (click)="statusType('activeStatus', $event)" />
          <label for="checkboxOne"> <span></span> Active </label>
        </div>
        <div class="fancyOptionBoxes">
          <input id="checkboxTwo" type="checkbox" [checked]="inActiveStatus"
            (click)="statusType('inActiveStatus', $event)" />
          <label for="checkboxTwo"> <span></span> Inactive </label>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="allWareHouseList && allWareHouseList?.length && !fetchingWarehouseList">
      <div class="col-md-12">
        <div class="card mb-4"
          *ngFor="let wareHouse of allWareHouseList | filterByCheckbox : activeStatus : inActiveStatus | paginate: paginationConfig"
          [ngClass]="{'inActive' : wareHouse.IsBlocked, 'noRate' : !wareHouse.IsRateAvailable}">
          <div class="card-body">
            <div class="row mt-1">
              <div class="col-xl-3 col-lg-3 col-md-5 col-sm-5 col-12">
                <div *ngFor="let image of wareHouse.WHParsedMedia; let i=index"
                  (click)="openGallery(i, wareHouse.WHParsedMedia)">
                  <div class="gallery-section" *ngIf="i==0">
                    <div class="images-carousel">
                      <img [src]="image.thumb" *ngIf="image.DocumentUploadedFileType != 'mp4'" />
                      <div class="box-content"></div>
                      <div class="gallery-section-item d-flex justify-content-center align-items-center">
                        <img src="../../../../assets/images/icons/icon_pictures.svg" alt="icon"
                          class="icon-size-14 mr-1">
                        {{wareHouse.WHParsedMedia.length}}
                      </div>
                    </div>
                    <div class="video-icon" *ngIf="wareHouse.videoURL" (click)="openVideo(wareHouse.videoURL, $event)">
                      <a href="javascript:;">
                        <i class="fa fa-play"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-1 col-xl-6 col-lg-6 col-md-7 col-sm-7 col-12 Wcontent">
                <h5 class="card-title">{{ wareHouse.WHName }}</h5>
                <div class="warehousing-content">
                  <ul class="list-group">
                    <li class="list-group-item mr-3">
                      <img src="../../../assets/images/icons/Icons_Location-grey.svg" alt="icon"
                        class="icon-size-16 mr-2" />
                      <span>
                        {{ (wareHouse?.Location)?wareHouse?.Location:'N/A'}}
                      </span>
                    </li>
                    <li class="list-group-item mr-4">
                      <img src="../../../assets/images/icons/icon_grid.svg" alt="icon" class="icon-size-14 mr-2" />
                      {{ wareHouse.TotalCoveredArea }}
                      {{ (wareHouse?.OfferedHashMoveAreaUnit)?wareHouse?.OfferedHashMoveAreaUnit: wareHouse?.TotalCoveredAreaUnit }}
                      <!-- <sup>2</sup> -->
                    </li>
                  </ul>
                  <p class="warehousing-desc mt-3 mb-1">
                    {{ wareHouse.WHDesc | limitTo : 135 }}
                  </p>
                  <div class="warehouse-features d-flex">
                    <div class="icons" *ngFor="let facilities of wareHouse.FacilitiesProviding">
                      <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                        ngbTooltip="{{(facilities.BusinessLogic == 'IsBondedWarehouse' && facilities.IsAllowed)?'Bonded Included':'No Bonded Available'}}"
                        *ngIf="facilities.BusinessLogic == 'IsBondedWarehouse'"
                        [ngClass]="{'warehouse-features-active':facilities.BusinessLogic == 'IsBondedWarehouse' && facilities.IsAllowed}">
                        <img
                          src="../../../assets/images/icons/{{facilities.IsAllowed?'Icons_Warehousing_green':'Icons_Warehousing_Grey_D'}}.svg"
                          alt="footer icon" class="hvr-icon" />
                      </span>
                      <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                        ngbTooltip="{{(facilities.BusinessLogic == 'IsTransportAvailable' && facilities.IsAllowed)?'Transport Included': 'No Transport Available'}}"
                        *ngIf="facilities.BusinessLogic == 'IsTransportAvailable'"
                        [ngClass]="{'warehouse-features-active':facilities.BusinessLogic == 'IsTransportAvailable' &&facilities.IsAllowed}">
                        <img
                          src="../../../assets/images/icons/{{facilities.IsAllowed?'Icons_Cargo_Truck_blue':'Icons_Cargo Truck_Gray_D'}}.svg"
                          alt="footer icon" class="hvr-icon" />
                      </span>
                      <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                        ngbTooltip="{{(facilities.BusinessLogic == 'IsTemperatureControlAvailable' && facilities.IsAllowed)?'Temperature Control Included':'No Temperature Control Available'}}"
                        *ngIf="facilities.BusinessLogic == 'IsTemperatureControlAvailable'"
                        [ngClass]="{'warehouse-features-active':facilities.BusinessLogic =='IsTemperatureControlAvailable' && facilities.IsAllowed}">
                        <img
                          src="../../../assets/images/icons/{{facilities.IsAllowed?'Weight-Icon_1':'Weight-Icon_1D'}}.svg"
                          alt="footer icon" class="hvr-icon" />
                      </span>
                      <!-- <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                        ngbTooltip="{{(facilities.BusinessLogic == 'IsCCTVAvailable' && facilities.IsAllowed)?'CCTV Included': 'No CCTV Available'}}"
                        *ngIf="facilities.BusinessLogic == 'IsCCTVAvailable'" [ngClass]="{'warehouse-features-active':facilities.BusinessLogic == 'IsCCTVAvailable' && facilities.IsAllowed}">
                        <img src="../../../assets/images/icons/{{facilities.IsAllowed?'IsCCTVAvailable':'IsCCTVAvailable_W'}}.svg" alt="footer icon" class="hvr-icon" />
                      </span> -->
                      <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                        ngbTooltip="{{(facilities.BusinessLogic == 'IsStandByGeneratorAvailable' && facilities.IsAllowed)?'Standby Generator Included': 'No Standby Generator Available'}}"
                        *ngIf="facilities.BusinessLogic == 'IsStandByGeneratorAvailable'"
                        [ngClass]="{'warehouse-features-active':facilities.BusinessLogic == 'IsStandByGeneratorAvailable' && facilities.IsAllowed}">
                        <img
                          src="../../../assets/images/icons/{{facilities.IsAllowed?'IsStandByGeneratorAvailable':'IsStandByGeneratorAvailable_W'}}.svg"
                          alt="footer icon" class="hvr-icon" />
                      </span>
                      <!-- <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                        ngbTooltip="{{(facilities.BusinessLogic == 'IsFireExtinguisherAvailable' && facilities.IsAllowed)?'Fire Extinguisher Included': 'No Fire Extinguisher Available'}}"
                        *ngIf="facilities.BusinessLogic == 'IsFireExtinguisherAvailable'" [ngClass]="{'warehouse-features-active':facilities.BusinessLogic == 'IsFireExtinguisherAvailable' && facilities.IsAllowed}">
                        <img src="../../../assets/images/icons/{{facilities.IsAllowed?'IsFireExtinguisherAvailable':'IsFireExtinguisherAvailable_W'}}.svg" alt="footer icon" class="hvr-icon" />
                      </span> -->
                      <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                        ngbTooltip="{{(facilities.BusinessLogic == 'IsForkliftAvailable' && facilities.IsAllowed)?'Forklift Included': 'No Forklift Available'}}"
                        *ngIf="facilities.BusinessLogic == 'IsForkliftAvailable'"
                        [ngClass]="{'warehouse-features-active':facilities.BusinessLogic == 'IsForkliftAvailable' && facilities.IsAllowed}">
                        <img
                          src="../../../assets/images/icons/{{facilities.IsAllowed?'IsForkliftAvailable':'IsForkliftAvailable_W'}}.svg"
                          alt="footer icon" class="hvr-icon" />
                      </span>
                      <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                        ngbTooltip="{{(facilities.BusinessLogic == 'IsReachTruckAvailable' && facilities.IsAllowed)?'Reach Truck Included': 'No Reach Truck Available'}}"
                        *ngIf="facilities.BusinessLogic == 'IsReachTruckAvailable'"
                        [ngClass]="{'warehouse-features-active':facilities.BusinessLogic == 'IsReachTruckAvailable' && facilities.IsAllowed}">
                        <img
                          src="../../../assets/images/icons/{{facilities.IsAllowed?'IsReachTruckAvailable':'IsReachTruckAvailable_W'}}.svg"
                          alt="footer icon" class="hvr-icon" />
                      </span>
                      <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                        ngbTooltip="{{(facilities.BusinessLogic == 'IsStackerAvailable' && facilities.IsAllowed)?'Stacker Included': 'No Stacker Available'}}"
                        *ngIf="facilities.BusinessLogic == 'IsStackerAvailable'"
                        [ngClass]="{'warehouse-features-active':facilities.BusinessLogic == 'IsStackerAvailable' && facilities.IsAllowed}">
                        <img
                          src="../../../assets/images/icons/{{facilities.IsAllowed?'IsStackerAvailable':'IsStackerAvailable_W'}}.svg"
                          alt="footer icon" class="hvr-icon" />
                      </span>
                      <span class="hvr-icon-pulse-shrink footer-link" [placement]="'top'"
                        ngbTooltip="{{(facilities.BusinessLogic == 'IsCraneAvailable' && facilities.IsAllowed)?'Crane Included': 'No Crane Available'}}"
                        *ngIf="facilities.BusinessLogic == 'IsCraneAvailable'"
                        [ngClass]="{'warehouse-features-active':facilities.BusinessLogic == 'IsCraneAvailable' && facilities.IsAllowed}">
                        <img
                          src="../../../assets/images/icons/{{facilities.IsAllowed?'IsCraneAvailable':'IsCraneAvailable_W'}}.svg"
                          alt="footer icon" class="hvr-icon" />
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 flex-column d-flex justify-content-center">
                <button (click)="goToDetail(wareHouse.WHID, 'rate')"
                  class="btn btn-outline-primary hvr-sweep-to-right rate-btn pull-right text-uppercase"
                  *ngIf="!wareHouse.IsRateAvailable">
                  Add rates
                </button>
                <button (click)="goToDetail(wareHouse.WHID, 'rate')"
                  class="btn btn-primary hvr-sweep-to-right rate-btn pull-right text-uppercase"
                  *ngIf="wareHouse.IsRateAvailable">
                  Manage Rates
                </button>
                <div class="noti" *ngIf="!wareHouse.IsRateAvailable">
                  Add rates in order to appear in search result.
                </div>
              </div>
            </div>
            <img src="../../../../../../assets/images/icons/menu.svg" class="icon-size-16 warehouse-options pointer"
              placement="bottom-right" [ngbPopover]="option" #p="ngbPopover" />
            <ng-template #option>
              <div class="option-popup fadeIn animated">
                <ul class="list-group">
                  <li class="list-group-item" (click)="goToDetail(wareHouse.WHID, 'edit')">
                    <img src="../../../../../../assets/images/icons/warehouse-edit-icon.svg" class="icon-size-16"
                      alt="icon" /><span>Edit Profile</span>
                  </li>
                  <li class="list-group-item">
                    <img src="../../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16"
                      alt="icon" />
                    <span>Active / Inactive
                      <div class="switch-box pull-right">
                        <ui-switch
                          (change)="wareHouse.IsBlocked = !wareHouse.IsBlocked; activeToggler(wareHouse, wareHouse.IsBlocked);p.close()"
                          [checked]="!wareHouse.IsBlocked">
                        </ui-switch>
                      </div>
                      <span class="warehouse-status" *ngIf="wareHouse.IsBlocked">Currently: Inactive</span>
                      <span class="warehouse-status" *ngIf="!wareHouse.IsBlocked">Currently: Active</span>
                    </span>
                  </li>
                  <!-- <li class="list-group-item">
                    <img src="../../../../../../assets/images/icons/reload-icon.svg" class="icon-size-16"
                      alt="icon" /><span>View Log</span>
                  </li> -->
                  <hr class="hr-solid mb-2">
                  <li class="list-group-item" (click)="deleteWarehouse(wareHouse.WHID);p.close()">
                    <img src="../../../../../../assets/images/icons/icon_delete_red.svg" class="icon-size-16"
                      alt="icon" /><span>Delete</span>
                  </li>
                </ul>
              </div>
            </ng-template>
          </div>
        </div>
        <pagination-controls (pageChange)="onPageChange($event)" directionLinks="directionLinks" autoHide="autoHide"
          responsive="responsive" previousLabel="" nextLabel=""
          *ngIf="(allWareHouseList | filterByCheckbox : activeStatus : inActiveStatus).length > paginationConfig.itemsPerPage">
        </pagination-controls>
      </div>
      <div class="overflow-hidden row"
        *ngIf="!loading && (!allWareHouseList || (allWareHouseList &&  !(allWareHouseList | filterByCheckbox : activeStatus : inActiveStatus).length ))">
        <div class="animated bounceInDown col-12">
          <p class="card p-1 text-center">You don't have any warehouse yet</p>
        </div>
      </div>
    </div>
  </section>
  <div class="overflow-hidden row"
    *ngIf="!loading && (!allWareHouseListMain || (allWareHouseListMain &&  !(allWareHouseListMain | filterByCheckbox : activeStatus : inActiveStatus).length ))">
    <div class="animated bounceInDown col-12">
      <p class="card p-1 text-center">You don't have any warehouse yet</p>
    </div>
  </div>
  <app-loader-main *ngIf="fetchingWarehouseList"></app-loader-main>
  <!-- <section class="term-cond">
    <div class="row">
      <div class="col-12">
        <hr class="hr-solid mt-4" />
        <div class="policyEditor mb-4 mt-4 d-flex justify-content-between align-items-center">
          <h5 class="add-rate-head">Terms & Conditions</h5>
          <button *ngIf="disableEditor" class="btn btn-primary btn-lg hvr-sweep-to-right pull-right pr-5 pl-5"
            (click)="disableEditor = !disableEditor">
            EDIT
          </button>
        </div>
        <div class="form-group" *ngIf="!disableEditor && disableEditor != undefined">
          <quill-editor [(ngModel)]="editorContent" [options]="editorOptions" (change)="onContentChanged($event)">
          </quill-editor>
        </div>
        <div *ngIf="disableEditor" class="editor" [innerHTML]="editorContent">
        </div>
        <button *ngIf="!disableEditor" class="btn btn-primary btn-lg hvr-sweep-to-right pull-right pr-5 pl-5 mt-4"
          type="button" [disabled]="isEmpty(editorContent)" (click)="saveTermNcond()">
          SAVE
        </button>
      </div>
    </div>
  </section> -->
</section>

<section *ngIf="wareHouseDetTemplate">
  <a class="hvr-icon-back grey-anc-btn mb-4" href="javascript:;" (click)="warehouseList()" title="Back to warehouse">
    <img alt="icon" class="icon-size-14 hvr-icon" src="../../../../../assets/images/icons/icon_arrow_left.svg">
    <span class="link-hover-grey">Go Back To Listing</span>
  </a>
  <app-warehouse [whID]='warehouseID' [step]="step" (wareHouseTemplateChange)="wareHouseDetTemplate = $event">
  </app-warehouse>
</section>