<div class="hm-reports">
  <ngb-tabset [destroyOnHide]="false">
    <ngb-tab id="tab-reports" class="mt-1">
      <ng-template ngbTabTitle>Reports</ng-template>
      <ng-template ngbTabContent>
        <section class="reports ">
          <div class="row mt-4">
            <div class="col-xl-6 col-sm-12">
              <h2>Reports</h2>
            </div>
            <div class="col-xl-6 col-sm-12 reports-top-btn mt-1 text-right ">

              <div ngbDropdown class="d-inline-block pt-1">
                <a class="hvr-icon-forward" id="dropdownBasic1" ngbDropdownToggle>
                  <img src="../../../../../assets/images/icons/Icons_Calendar.svg" alt="icon" class="icon-size-16 mr-2">
                  <span class="link-hover-1 mr-2">{{reportPeriodDesc}}</span>
                </a>
                <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <li *ngFor="let period of periodList" (click)="onPeriodChange(period.codeVal, period.codeValDesc)"
                    class="dropdown-item">{{period.codeValDesc}}</li>
                </ul>
              </div>
              <!--
              <a href="javascript:;" class="hvr-icon-forward mr-5">
                <img src="../../../../../assets/images/icons/icon_print.svg" alt="icon" class="icon-size-16 mr-2">
                <span class="link-hover-1">Print</span>
              </a>
              <a href="javascript:;" class="hvr-icon-forward">
                <img src="../../../../../assets/images/icons/icon_share_blue.svg" alt="icon" class="icon-size-16 mr-2">
                <span class="link-hover-1">Share</span>
              </a> -->
            </div>
          </div>
          <hr class="hr-solid mt-2">
          <!-- Total Spend Section -->


          <div class="row pt-4 pl-0 pr-0" *ngIf="isCurrVsPrev">

            <div class="col-12">
              <h4 class="totalspend-title mt-3 mb-2">Total Revenue</h4>
            </div>
            <div class="totalspend-section-boxes col-xl-6 col-md-6 col-sm-12 ">

              <div class="totalspendbox totalspend-summary mt-3">
                <div class="totalspend-icon">
                  <img src="../../../../../assets/images/icons/icon_booking_current.svg">
                </div>
                <div class="totalspend-box-title">
                  <h5>{{userGraphData?.currentVsPrevious[0]?.title}}</h5>
                </div>
                <div class="totalspend-quantity">
                  <span class="currency">{{userGraphData?.currentVsPrevious[0]?.currencyCode}}</span>
                  <span class="spends text-truncate" [placement]="'top'"
                    ngbTooltip="{{userGraphData?.currentVsPrevious[0]?.currencyCode}} {{userGraphData?.currentVsPrevious[0]?.totalAmount | number: '1.2-2'}}">{{userGraphData?.currentVsPrevious[0]?.totalAmount
                    | number: '1.2-2'}}</span>
                  <span [ngClass]="(userGraphData?.currentVsPrevious[0]?.amountComp < 0)?'status-down':'status-up'">
                    <img *ngIf="userGraphData?.currentVsPrevious[0]?.amountComp < 0"
                      src="../../../../../assets/images/icons/icon-status-down.svg">
                    <img *ngIf="userGraphData?.currentVsPrevious[0]?.amountComp >= 0"
                      src="../../../../../assets/images/icons/icon-status-up.svg">
                    {{userGraphData?.currentVsPrevious[0]?.amountComp | number: '1.2-2'}} %
                  </span>
                </div>
                <div class="bookings">{{userGraphData?.currentVsPrevious[0]?.totalBooking | number: '1.0-0'}} Bookings
                </div>
              </div>
            </div>
            <!-- Spend Col 2 -->
            <div class="totalspend-section-boxes col-xl-6 col-md-6 col-sm-12 pl-5">

              <div class=" totalspendbox totalspend-summary mt-3 border-right-0">
                <div class="totalspend-icon">
                  <img src="../../../../../assets/images/icons/icon_booking_current.svg">
                </div>
                <div class="totalspend-box-title">
                  <h5>{{userGraphData?.currentVsPrevious[1]?.title}}</h5>
                </div>
                <div class="totalspend-quantity">
                  <span class="currency">{{userGraphData?.currentVsPrevious[1]?.currencyCode}}</span>
                  <span class="spends text-truncate" [placement]="'top'" ngbTooltip="{{userGraphData?.currentVsPrevious[1]?.currencyCode}} {{userGraphData?.currentVsPrevious[1]?.totalAmount
                  | number: '1.2-2'}}">{{userGraphData?.currentVsPrevious[1]?.totalAmount | number: '1.2-2'}}</span>
                </div>
                <div class="bookings">{{userGraphData?.currentVsPrevious[1]?.totalBooking | number: '1.0-0'}} Bookings
                </div>
              </div>
            </div>

            <div class="totalspend-summery" style="min-height: 210px" *ngIf="!isCurrVsPrev">
              <app-loader-main></app-loader-main>
            </div>
          </div>



          <div class="row">
            <div class="col-12">
              <div class="mt-4" *ngIf="isBarGraph">
                <div echarts [options]="userBarGraph" class="demo-chart"></div>
              </div>
              <div class="mt-4 position-relative" *ngIf="!isBarGraph" style="min-height: 415px">
                <app-loader-main></app-loader-main>
              </div>
            </div>
          </div>
          <hr class="hr-solid mt-2">
          <!-- Total Bookings By Region Section -->

          <div class="row ">
            <div class="by-map col-md-7 col-xl-7 col-sm-12 pt-4">
              <h4 class="totalBookings-title mt-4">Total Bookings by Region</h4>
            </div>
            <div class="by-volume col-md-5 col-xl-5 col-sm-12 pt-4 text-right">
              <div class="mt-0">
                <div class="d-flex justify-content-between">
                  <h4 class="totalBookings-title mt-4 mb-0">VOLUME %</h4>
                  <div ngbDropdown class="d-inline-block mr-0 mt-4 pull-right">
                    <a class="hvr-icon-forward" id="dropdownBasic2" ngbDropdownToggle>
                      <span class="link-hover-1 mr-2">{{imp_ExpType.toUpperCase()}}</span>
                    </a>
                    <ul ngbDropdownMenu aria-labelledby="dropdownBasic2">
                      <li class="dropdown-item" (click)="onImp_Exp('import')">Import</li>
                      <li class="dropdown-item" (click)="onImp_Exp('export')">Export</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-7">
              <div class="pt-4">
                <hashmove-data-map *ngIf="isRegionMap" [data]="mapData" [currencyCode]="'USD'"></hashmove-data-map>
                <div *ngIf="!isRegionMap" style="min-height: 480px">
                  <app-loader-main></app-loader-main>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div *ngIf="isRegionMap" echarts [options]="userRegionBarGraph" [theme]="theme" class="demo-chart"></div>
              <div *ngIf="!isRegionMap" style="min-height: 480px">
                <app-loader-main></app-loader-main>
              </div>
            </div>

          </div>

          <div class="row comparision-section">
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12  customer-revenue">
              <h4 class="totalBookings-title mt-2">Top Customers By Revenue</h4>
              <div *ngIf="topCustomers && topCustomers.length">

                <div class="d-flex pt-3" *ngFor="let customer of topCustomers">
                  <div class="customer-image mr-2">
                    <img *ngIf="customer.customerImage" src="{{getProviderImage(customer.customerImage)}}">
                    <img *ngIf="!customer.customerImage" src="../../../../../assets/images/hm-logo-simple.png">
                  </div>
                  <ul class="customer">
                    <li>
                      <span>{{customer.customerName}}</span>
                    </li>
                    <li>
                      {{customer.currencyCode}}
                      <strong class="ml-2">{{customer.customerRevenue | number: '1.2-2'}}</strong>
                    </li>
                    <li>
                      <small class="text">Last booking made on {{customer.lastBookingDate | date : "d MMM y"}}
                        {{customer.lastBookingDate | date : "H:mm"}} (GMT)</small>
                    </li>
                  </ul>
                </div>
                <!-- <div class="view_link">
                <a class="hvr-icon-forward grey-anc-btn mt-3" href="javascript:;">
                  <span class="link-hover-grey">View more </span>
                  <img src="../../../../../assets/images/icons/icon_arrow_right.svg" alt="icon" class="icon-size-14 hvr-icon mb-1">
                </a>
              </div> -->
              </div>
              <div class="justify-content-center d-flex align-items-center no-record"
                *ngIf="!topCustomers || (topCustomers && !topCustomers.length)">
                <h4 class="totalBookings-title mt-0 mb-0">No Data to Show</h4>
              </div>
            </div>
            <div class="booking-comparision col-md-7 col-xl-7 col-sm-12 pt-3">
              <h4 class="totalBookings-title pt-3 mt-4">Booking Type Comparision</h4>
              <div class="mt-0">
                <div *ngIf="isTypeCompare" echarts [options]="userPieChart" [theme]="theme" class="demo-chart"></div>
                <div *ngIf="!isTypeCompare" style="min-height: 490px">
                  <app-loader-main></app-loader-main>
                </div>
              </div>
            </div>
          </div>
          <div class="recent-bookings ">
            <h4 class="totalBookings-title mt-4">Recent Bookings</h4>
          </div>
          <div class="bookingOverview overflow-hidden" *ngIf="recentBookings && recentBookings.length">
            <app-bookings-card [booking]="obj" *ngFor="let obj of recentBookings"
              (click)="viewBookingDetails(obj.BookingID, obj.ProviderID, obj.ShippingModeCodeobj)"></app-bookings-card>
          </div>
          <div class="overflow-hidden" *ngIf="recentBookings && !recentBookings.length">
            <div class="animated bounceInDown card text-center p-1">
              <p class="mb-0">You don't have any bookings yet </p>
            </div>
          </div>

        </section>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-analytics">
      <ng-template ngbTabTitle>Profile Page Analytics</ng-template>
      <ng-template ngbTabContent>
        <app-google-analytics></app-google-analytics>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-performance" *ngIf="showPerformance">
      <ng-template ngbTabTitle>Performance</ng-template>
      <ng-template ngbTabContent>
        <app-power-bi></app-power-bi>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>