<div class="paymentTermsDialog animated fadeIn">
  <div class="modal-header">
    <h4 class="confirm-modal-titl" id="modal-basic-title">
      Payment Terms & Conditions
    </h4>
    <a class="pointer crossIcon" (click)="closeModal(null)">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close">
    </a>
  </div>
  <div class="modal-body">
    <div class="modal-content">
      <div class="form-group d-flex flex-column mx-3" [ngClass]="{'mx-3':!isMobile}">
        <div class="alert alert-warning d-flex flex-column mt-3" role="alert">
          <ul class="pl-2 ml-1 pb-0 mb-0">
            <li>
              <div class="d-flex flex-row align-self-start">
                <div class="alert-text">
                  <span *ngIf="paymentTermsOptions?.length > 0;else naTemp">
                    <span *ngIf="paymentTermsOptions[0]?.PTermDays !== null &&  paymentTermsOptions[0]?.PTermDays >= 0">
                      {{paymentTermsOptions[0].PTermDays}}
                    </span>
                    <span>{{paymentTermsOptions[0]?.PTermText.replace('{NoOfDays}','')}}</span>
                  </span>
                  <ng-template #naTemp>
                    <span>N/A</span>
                  </ng-template>
                </div>
              </div>
            </li>
            <li *ngIf="showHMPolicy && isEnterprise" class="mt-2">
              <div class="d-flex flex-row align-self-start">
                <div class="alert-text"><span>{{hmTerms}}</span></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex flex-row justify-content-end">
    <ng-container>
      <button class="btn btn-primary hvr-sweep-to-right w-25 mr-3 mt-1" (click)="onConfirmClick('close')" [ngClass]="{'mr-3':!isMobile}">
        Close
      </button>
      <ng-container *ngIf="action === 'edit'">
        <ng-container *ngIf="isEdit">
          <button *ngIf="!isRouting" class="btn btn-primary hvr-sweep-to-right w-25 mr-3" type="button"
            [disabled]="!hasChanges" (click)="savePayTerms(paymentTerms)">
            SAVE
          </button>
          <button *ngIf="isRouting" class="btn btn-primary hvr-sweep-to-right w-25 mr-3" type="button">
            <i class="fa fa-spinner fa-spin"></i>
          </button>
        </ng-container>
        <button *ngIf="!isEdit" class="btn btn-primary hvr-sweep-to-right w-25 mr-3" (click)="isEdit = !isEdit">
          EDIT
        </button>
      </ng-container>

    </ng-container>

  </div>
</div>