@import "../../../../assets/scss/variables";
$data-table-border: #e4e4e6;
$data-table-header-bg: #fcfcfe;
.paymentTermsDialog {
  .fieldError {
    color: $danger-color;
    transition: ease-in .8s;
    font-size: 0.875rem;
  }

  .remarks-text {
    font-size: 0.875rem;
  }
  .alert, .alert-warning {
    font-size: $font-size-medium;
    color: #000;
    // margin-top: -1.5rem;
  
    &-icon {
      float: left;
      background: $warning-color;
      border: 1px solid $warning-color;
      padding-left: 0px;
      padding-top: 0px;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 2.025rem;
      text-align: center;
      .icon {
        padding: 4px;
      }
    }
  
    &-text {
      // margin-left: 2.1rem;
  
      a {
        margin-left: 0.8rem;
        font-weight: $font-weight-normal;
        text-transform: uppercase;
        color: $text-color-default !important;
  
        .link-hover-grey {
          font-size: 0.8rem;
          font-weight: $font-weight-mid;
        }
      }
    }
  }
  .active-txt {
    color: $active-text-color;
    text-transform: none;
  }
  .modal-header {
    padding: 15px 32px;
    background: $modal-header-background;
    display: flex;
    h4 {
      margin: 0px;
      text-shadow: 0px 0px $text-color-default;
      font-size: $font-size-large + 0.125rem;
      margin-top: 4px;
      font-weight: $font-weight-normal;
    }
    a.crossIcon {
      position: absolute;
      right: 8px;
      top: 4px;
      width: 14px;
      height: 14px;
      img {
        width: 100%;
      }
    }
  }
  
  .modal-body {
    
  
    .input-group{
      width: auto;
      input {
        height: 30px !important;
        font-weight: normal !important;
        max-width: 55px;
      }
  
      .active {
        background-color: #02bdb6 !important;
        i{
          color: #fff !important;
        }
      }
  
    }
  
    .counter {
      transition: all 1s ease-in-out;         
      
  
      .input-group {
        width: 115px;
        margin: 0 auto;
  
        &-text {
          border: 1px solid #e9ecf0;                    
          // background-color: transparent;
          background-color: transparent;
  
          i {
            color: $secondary-grey;
            font-weight: lighter;
            font-size: 0.75rem;            
  
            &:hover {
              color: $primary-color;      
              animation-duration: 3s;
              animation-timing-function: ease-in-out;  
              cursor: pointer;      
            }
        }
      }
      }
    }
    .quantity {
      height: calc(2.85rem + 3px);
      border-left: 0;
      border-right: 0;
      border-color: $provider-input-border;
      text-align: center
    }
  
    // .form-group {
      // padding: 2rem ​1rem 1rem;
    // }
    .modal-content {
      border: none;
    }
    
    .btn {
      height: 48px;
      font-size: $font-size-medium;
      font-weight: $font-proxima-weight-semibold;
      text-transform: uppercase;
      font-family: $font-proxima;
      &.disable {
        // cursor: no-drop;
        border: 0;
        background: $btn-disable-background !important;
        color: $btn-disable-color !important;
        border-radius: 2px;
        box-shadow: none !important;
        &:before {
          background: $btn-disable-background !important;
          color: $btn-disable-color !important;
        }
      }
    }
  }
  .editor {
    padding: 0rem 1rem 1rem;
    // padding: 0 1rem;
    border-radius: 4px;
    background: $color-white;
    color: $color-menuheading-black;
    font-size: $font-size-medium;
    text-align: left;
    font-family: $font-proxima;
    transition: 0.5s;
    // border: 1px solid $data-table-border;
    padding: 1rem;
    height: 300px;
    overflow-y: auto;
  
    h1 {
      font-size: 2rem !important;
    }
  
    h2 {
      font-size: 1.5rem !important;
    }
  
    h3 {
      font-size: 1.28rem !important;
    }
  
    h4 {
      font-size: $root-font-size !important;
    }
  
    h5 {
      font-size: $font-size-medium !important;
    }
  
    h6 {
      font-size: $font-size-base !important;
    }
  
    p {
      font-size: $font-size-medium;
      color: $color-menuheading-black;
      margin: 0;
      line-height: 1.5;
    }
  
    .ql-align {
      &-center {
        text-align: center;
      }
  
      &-right {
        text-align: right;
      }
  
      &-justify {
        text-align: justify;
      }
    }
  
    ol {
      li {
        list-style: unset !important;
  
        &:before {
          content: "" !important;
        }
      }
    }
  
    ol,
    ul {
      padding-left: 1rem;
      padding-right: 1rem;
  
      li {
        font-family: $font-proxima;
        font-size: $font-size-medium !important;
        padding-left: 0px;
        color: $color-menuheading-black !important;
        list-style: none;
        position: relative;
  
        &.ql-indent {
          &-1 {
            margin-left: 4.5em;
          }
  
          &-2 {
            margin-left: 7.5em;
          }
  
          &-3 {
            margin-left: 10.5em;
          }
  
          &-4 {
            margin-left: 13.5em;
          }
  
          &-5 {
            margin-left: 16.5em;
          }
  
          &-6 {
            margin-left: 19.5em;
          }
  
          &-7 {
            margin-left: 22.5em;
          }
  
          &-8 {
            margin-left: 25.5em;
          }
        }
  
        &::before {
          color: $color-topmenuactive;
          content: "\2022";
          font-weight: bold;
          display: inline-block;
          transform: scale(1.8);
          position: absolute;
          left: -15px;
          top: -1px;
        }
  
        &.ql-direction-rtl {
          &.ql-align-right {
            direction: rtl !important;
            text-align: right !important;
  
            &:before {
              left: auto;
              right: -10px;
            }
          }
        }
      }
    }
  
    &.showMore {
      height: 210px !important;
      overflow-y: hidden !important;
    }
}
}
