@import "../../../../../assets/scss/_variables";
.warehouse-table {
  .table {
    /deep/ &.info-table {
      thead {
        border: 1px solid $grey-border;
        background: #fff;
        th {
          font-family: $font-proxima;
          font-size: 0.775rem;
          font-weight: $font-weight-mid;
          color: $dark-grey-blue;
          border: 0;
          text-transform: uppercase;
          min-width: 4rem;
          vertical-align: top;
          // &.none_sorting_asc {
          //   background: url("../../../../assets/images/icons/ic_arraow_normal.png") no-repeat;
          //   background-position: center right 5px !important;
          // }
          // &.sorting_asc {
          //   background: url("../../../../assets/images/icons/sorting_asc.svg") no-repeat;
          //   background-size: 10px !important;
          //   background-position: center right 5px !important;
          // }
          // &.sorting_desc {
          //   @extend .sorting_asc;
          //   background: url("../../../../assets/images/icons/sorting_desc.svg") no-repeat;
          // }
        }
      }
      tbody {
        border: 1px solid $grey-border;
        border-top: 0;
        tr {
          border-bottom: 1px solid $grey-border;
          transition: 0.8s;
          &.has-badge {
            position: relative;
            .badge {
              position: fixed;
              margin-top: 3.8rem !important;
              margin-left: -1rem;
              font-size: $font-size-base;
              background-color: transparentize($color: $danger-color, $amount: 0.9);
              color: $danger-color;
              border: 1px solid $danger-color;
            }
            td {
              padding-bottom: 2.8rem !important;
            }
          }
          td {
            padding: 0.75rem 0.75rem 0.5rem;
            border: 0;
            vertical-align: top;
            font-family: $font-proxima;
            font-size: 0.775rem !important;   
            
            p {
              margin-bottom: 0.25rem;
            }
            .grid-view-schedule {
              margin-left: 2.3rem;
              a {
                color: $dark-grey-blue;
                font-size: $font-size-base;
                text-decoration: underline !important;
              }  
              
              
            }

            .info-table {
              &-id {
                font-family: $font-proxima;
                font-size: $font-size-large;
                font-weight: $font-weight-mid;
                text-transform: uppercase;
                color: $primary-color;
                line-height: 1.2; // max-width: 100px;
              }
              &-date {
                color: $text-grey;
                font-family: $font-proxima;
                font-size: $font-size-base;
                font-weight: $font-weight-mid;
              }
              &-ports {
                .text-truncate {
                  font-size: $font-size-medium;
                  font-family: $font-proxima;
                  font-weight: $font-weight-mid;
                  color: $text-color-default;
                  max-width: 100%;
                }
              }
              &-logo {
                max-width: 190px;
                align-items: center; // word-break: break-all;
                img {
                  // width: 45px;
                  // height: 35px;
                  // padding: 5px;
                  width: 30px;
                  height: 30px;
                  border: 1px solid $input-border;
                  padding: 2px;
                }
                span {
                  font-size: 0.775rem;
                  font-family: $font-proxima;
                  color: $text-color-default;
                  line-height: 1;
                  &.text-ecllipse {
                    height: 48px;
                    overflow: hidden;
                    position: relative;
                    &:after {
                      content: "...";
                      position: absolute;
                      bottom: 0;
                      right: -2px;
                      background: $color-white;
                    }
                  }
                }
                &.double-price {
                  flex-wrap: wrap;
                  align-items: flex-start;
                  align-content: space-between;
                  flex-direction: column;
                }
              }
            }
            // &:last-child {
            //   // position: absolute;
            //   right: 0;
            //   background: $color-white;
            //   width: 2.5rem;
            //   padding: 0.75rem 0.75rem 2.75rem;
            // }
            .icon-size-8 {
              width: 8px !important;
              height: 8px !important;
            }
            .ports {
              display: flex;
              align-items: center;
              img {
                width: 16px;
                height: 13px;
              }
              &-names {
                width: 5rem;
              }
            }
            .driver-number { 
              a {
                color: $primary-color;
                font-size: $font-size-base;

                &:hover {
                  color: $secondary-color-dark;
                }
              }
            }
          }
          &:hover {
            box-shadow: 0px 0px 50px 0px rgba(51, 59, 69, 0.15);
          }
        }
      }
    }
    &-info {
      background: transparent;
      .table {
        background: #fff;
        margin-bottom: 0;
      }

      &-count {
        font-family: $font-proxima;
        font-weight: $font-weight-mid;
        font-size: $font-size-medium;
        color: $secondary-text-color;
      }
      .pager-info {
        font-family: $font-proxima;
        font-size: $font-size-medium;
      }
      .sort-dropdown {
        .btn-primary {
          background: none;
          background-color: transparent !important;
          border: 0 !important;
          color: $color-topmenu !important;
          font-size: $font-size-medium;
          &:hover,
          &:focus {
            background: none;
            border: 0 !important;
            box-shadow: 0px 0px 0px !important;
          }
        }
        /deep/ .dropdown-menu {
          left: -55px !important;
          button {
            font-family: $font-proxima;
          }
        }
      }
      /deep/ .pagination {
        .page-item {
          a {
            font-family: $font-proxima;
            font-size: $font-size-base;
            font-weight: 600;
            width: 26px;
            height: 26px;
            border-radius: 4px !important;
            margin-left: 5px;
            border: solid 1px $grey-border;
            color: $pagination-text-color;
            padding: 5px 8px;
            background: $pagination-bg-color;
            background: linear-gradient(to bottom, #ffffff 0%, $pagination-bg-color 100%);
          }
          &.active {
            a {
              background: #f3f3f4 !important;
              color: $secondary-text-color !important;
              padding: 6px 5px;
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f4', endColorstr='#f3f3f4', GradientType=0);
              background: -ms-linear-gradient(90deg, #e9ebf0 0%, #dde0e7 100%);
              border: 0;
              box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.004), inset 0 2px 3px 0 rgba(0, 0, 0, 0.2);
              text-align: center;
            }
          }
        }
      }
      /deep/ .paginationBox {
        margin-bottom: 1rem;
        p {
          display: flex;
          align-items: center;
          margin: 0 !important;
          margin-right: 1rem !important;
        }
        .ngx-pagination {
          margin: 0 !important;
        }
      }
    }
    /deep/.dropdown-menu.show {
      z-index: 999999 !important;
    }
    .text-truncate {
      font-size: 0.775rem !important;
    }
    .normal-font {
      font-size: 0.775rem !important;
    }
    a.addAnother {
      color: $primary-color;
      font-family: $font-proxima;
      font-weight: $font-weight-mid;
      font-size: $font-size-medium;
      position: absolute;
      padding: 1rem 5rem 1rem 1rem;
      bottom: -4.1rem;
      // left: 1px;
      z-index: 1;
      animation-delay: 0.1s;
      display: contents;

      img {
        margin-right: 0.5rem;
      }

      &.withScroll {
        bottom: 0.5rem;
        display: inline-block;
      }
    }
  }


  // Add warehouse css
  .Add-warehouse {
    &-rates {

        .grid-delete,
        .rate-validate {
            font-family: $font-proxima;
            font-size: $font-size-medium;
            color: $danger-color;
            font-weight: $font-weight-mid;
            display: flex;
            align-items: center;
            transition: 0.8s;

            &.no-drop {
                filter: grayscale(1) opacity(0.5);
                cursor: no-drop;
            }

            &:hover {
                .delete-icon {
                    overflow: visible;

                    g {
                        rect {
                            transform: rotate(-25deg);
                            transition: 0.5s;
                        }
                    }
                }

                .edit-validity-icon {
                    overflow: visible;

                    g {
                        transform: rotateY(180deg);
                        transform-origin: center;
                        transition: 0.5s;
                    }
                }
            }
        }

        .rate-validate {
            color: $secondary-color;

            &.no-drop {
                filter: grayscale(1) opacity(0.9);
            }
        }

        .rate-dur {
            color: $color-topmenu;
            animation: 1.2s ease-in-out infinite alternate-reverse fadeIn;
            font-family: $font-proxima;
            font-weight: $font-weight-mid;
        }

        .btn-refresh {
            color: $primary-color;
            font-family: $font-proxima;
            font-weight: $font-weight-mid;
            font-size: $font-size-medium;

            .icon-svg svg {
              fill: $primary-color;

              &:hover {
                fill: $primary-text-shadow;
              }
            }
        }
        .total {
          &-label {
            color: $secondary-text-color;
            font-family: $font-proxima;
            font-weight: $font-weight-mid;
            font-size: 0.85rem;

          .value {
              color: $primary-color;
            }
          }
          
        }
    }

    a.addAnother {
        color: $primary-color;
        font-family: $font-proxima;
        font-weight: $font-weight-mid;
        font-size: $font-size-medium;
        position: absolute;
        padding: 1rem 5rem 1rem 1rem;
        bottom: -4.1rem;
        // left: 1px;
        z-index: 1;
        animation-delay: 0.1s;
        display: contents;

        img {
            margin-right: 0.5rem;
        }

        &.withScroll {
            bottom: 0.5rem;
            display: inline-block;
        }
    }

    &-link {
        span {
            color: $secondary-grey;
            text-decoration: none;
            font-size: $font-size-medium;
            font-family: $font-proxima;
            text-transform: uppercase;
        }

        img {
            position: relative;
            top: -2px;
        }
    }

    button.btn-outline-primary {
        font-size: $font-size-large;
        color: $white-color;
        text-transform: uppercase;
        padding: 0.75rem 1.45rem;

        &:disabled {
            font-weight: $font-proxima-weight-semibold;
        }
    }
}
}
