<div class="warehouse-table">

  <div class="table-info mt-2 ">
    <div class="table-responsive">
      <table class="table info-table mt-3">
        <thead>
          <tr>
            <th scope="col" *ngFor="let tabHead of thList;let i =index" [ngClass]="tabHead.activeClass" scope="col"
              [innerHTML]="tabHead.title">
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="data?.length > 0">
            <!-- <tr *ngFor="let device of  | paginate: devicPageConfig" -->
            <tr *ngFor="let summary of data | paginate: devicPageConfig">
              <td>
                <div class="d-flex align-items-center">
                  <p>
                    <span
                      class="">{{summary?.ScheduleDateTime?(summary?.ScheduleDateTime | date : "d MMM, yyyy H:mm"):'N/A'}} PST</span>
                  </p>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <p>
                    <span class="">{{summary?.InspectorName}}</span>
                    <span itemprop="telephone" class="driver-number d-block">
                      <span class="flag-icon-20-14 d-inline-block ">
                        <img
                          [src]="'../../../../assets/images/flags/4x3/' + (summary?.CountryCode | lowercase) + '.svg'"
                          alt="{{summary?.CountryPhoneCode + '-flags'}} " class="mw-100 mh-100 border ">
                      </span>
                      <a
                        href="tel:{{summary?.CountryPhoneCode}}{{summary?.InspectorMobileNo}}">{{summary?.CountryPhoneCode}}{{summary?.InspectorMobileNo}}</a></span>
                  </p>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <p>
                    <span class="">{{summary?.InspectionStatus?(summary?.InspectionStatus):'N/A'}}</span>
                  </p>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <p>
                    <span class="">{{(summary?.InspectionComments)?summary?.InspectionComments:'N/A'}}</span>
                  </p>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <p>
                    <span class="">{{(summary?.StatusUpdatedByUserName)?summary?.StatusUpdatedByUserName:'N/A'}}</span>
                  </p>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <p>
                    <span class="" *ngIf="summary?.StatusUpdatedDateTime">{{summary?.StatusUpdatedDateTime | date : "d MMM, yyyy H:mm"}} PST</span>
                    <span class="" *ngIf="!summary?.StatusUpdatedDateTime">N/A</span>
                  </p>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <p>
                    <span class="">{{(summary?.ScheduleBy)?summary?.ScheduleBy:'N/A'}}</span>
                  </p>
                </div>
              </td>

            </tr>
          </ng-container>

          <ng-container *ngIf="!data || data?.length == 0">
            <tr>
              <td class="text-center" colspan="5">
                No Data Found
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mt-3" *ngIf="getTotalPages(data?.length, 'summary') > 1">
    <div class="paginationBox">
      <div class="d-flex justify-content-end">
        <p class="pager-info mr-3 pt-2">Page {{devicPageConfig.currentPage}} of
          {{getTotalPages(data?.length, 'summary')}}</p>
        <pagination-controls [id]="devicPageConfig.id" [directionLinks]="directionLinks" [autoHide]="autoHide"
          [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
          (pageChange)="onPageChange($event, 'summary')">
        </pagination-controls>
      </div>
    </div>
  </div>

</div>