@import "../../../../../assets/scss/_variables";
$TotalAmoutColor: $active-text-color;
$DueAmoutColor: $text-color-default;
$departure-fontColor: $secondary-grey;
.view-booking {
    .sch-text {
        color: $secondary-grey !important;
    }

    .blDate {
        font-size: 0.7rem;
        font-weight: 500;
        color: $text-grey;
        display: flex;
    }
    .delete-ic {
        position: absolute;
        right: 10px;
        top: 14px;
        // display: none;
    }
    .document-container {
        display: flex;
        flex-direction: column;
        .document-title-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    .document-simple {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .empty-title {
            margin-left: 2rem !important;
        }
    }
    .related-bookings {
        .table {
            td {
                border-top: 0px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
                font-family: $font-proxima;
                font-size: $font-size-medium;
                color: $secondary-text-color;

                span {
                    text-transform: none;
                }
            }
            .w-35 {
                width: 35%;
            }
            .w-65 {
                width: 65%;
            }
        }
    }
    .shippingline {
        position: relative;
        &-container {
            position: absolute;
            img {
                width: 1.5rem;
                height: 1.5rem;
                top: 0.75rem;
                position: absolute;
                left: 1rem;
            }
        }
    }
    .container-link {
        color: $primary-color;
        font-weight: $font-weight-mid;
        text-decoration: underline !important;
        font-family: $font-proxima;
    }
    .btn-refresh {
        margin-left: 0.75rem;
        margin-top: 0.3rem;
        .icon-svg {
            svg {
                fill: $secondary-color;
                width: 1.5rem;
                height: 1.5rem;

                &:hover {
                    fill: $secondary-color-dark;
                    transition: 0.8s;
                    overflow: visible;
                    transform: rotate(-180deg);
                }
            }
        }
    }
    &-title {
        font-size: $font-size-large + $font-size-large;
        font-family: $font-pragmatica;
        font-weight: $font-weight-mid;
        color: $text-color-default;
        margin-bottom: 0px;

        @media (max-width: $screen-xs-screen) {
            font-size: 1.5rem;
        }
    }

    .vendor-details-readMore {
        color: $primary-color !important;
    }

    &-info {
        font-size: $font-size-base;
        font-weight: $font-weight-mid;
        color: $text-grey;
        text-transform: uppercase;
    }

    &-top-btn {
        @media (max-width: $screen-md-screen) {
            text-align: left !important;
        }

        a {
            font-size: $font-size-base;
            color: $dark-grey-blue;
            font-weight: $font-proxima-weight-semibold;
            font-family: $font-proxima;
            text-transform: uppercase;
            &.link-hover-1 {
                padding-top: 10px;

                &:before {
                    top: 25px;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    background: darken(#738593, 3%);
                    transform: scaleX(0);
                }

                &:hover:before {
                    transform: scaleX(1);
                }
            }
        }
    }

    .alert-warning {
        font-size: $font-size-medium;
        text-shadow: 0 0;
    }
    .status {
        // margin-bottom: 38px;

        .card {
            border: 1px solid $boxes-border-grey;
            border-radius: 2px;

            &-body {
                padding: 1.56rem 1.55rem;
            }
        }

        &-label {
            display: block;
            font-size: $font-size-medium;
            color: $dark-grey-blue;
            font-weight: $font-weight-mid;
            font-family: $font-proxima;
            text-transform: uppercase;
            margin-bottom: 0.25rem;
        }
        &-subhd {
            font-size: $font-size-large;
            color: $text-color-default;
            font-weight: $font-weight-mid;
            font-family: $font-proxima;
            text-transform: uppercase;
        }

        strong {
            font-size: $font-size-large + 0.25rem;
            color: $text-color-default;
            font-weight: $font-weight-mid;
            font-family: $font-pragmatica;
            text-transform: capitalize;

            .custom-clearence-status {
                font-size: $font-size-medium;
            }

            &.cancelStatus {
                color: $danger-color;
            }

            a {
                font-size: $font-size-medium;
                color: $secondary-color;
                font-family: $font-proxima;
                font-weight: $font-proxima-weight-semibold;
                margin-top: 0.25rem;

                &:focus {
                    outline: 0;
                }

                span.link-hover-danger {
                    color: $danger-color;
                }
                &.history {
                    margin-top: -0.8rem;
                    span,
                    i {
                        font-size: 0.6rem;
                    }
                }
            }
        }
        .lbl-commission {
            color: $secondary-color;
            font-family: $font-proxima;
            font-size: $font-size-medium;
            font-weight: 600;
            span {
                font-size: $font-size-base;
            }

            &:hover {
                transition: all 0.5s ease;
                position: relative;
                text-decoration: underline;
            }
        }

        .hm-commission {
            display: block;
            color: $text-color-default;
            text-transform: capitalize;
            margin-top: 0;
            font-weight: $font-weight-mid;
            font-size: $font-size-base;
        }
    }

    &-shipment-detail {
        margin-bottom: 40px;

        h5 {
            font-size: $font-size-base;
            font-family: $font-proxima;
            font-weight: $font-weight-normal;
            color: $color-topmenu;
            text-transform: uppercase;
        }

        .wareHouse {
            font-size: 1.25rem;
        }

        &-heading {
            font-size: 1.25rem;
            font-family: $font-pragmatica;
            font-weight: $font-weight-mid;
            color: $text-color-default;
            margin-top: 2.4rem;
            margin-bottom: 1rem;

            .small {
                font-size: $font-size-medium;
                margin-top: 0.25rem;
            }
        }

        .card-title {
            margin-bottom: 0;

            h5 {
                font-size: $font-size-medium;
                font-weight: $font-weight-mid;
                text-transform: uppercase;
                font-family: $font-proxima;
                color: $secondary-grey;
                word-spacing: 3px;
                margin-bottom: 0;
                letter-spacing: 1px;
            }

            .edit-info {
                font-family: $font-proxima;
                font-size: $font-size-base;
                color: $color-topmenu;
                font-weight: $font-weight-mid;
                letter-spacing: 1px;
            }
            .edit-title {
                font-size: $base-font-size;
                color: $secondary-grey;
                margin-right: 0.25rem;
                font-weight: $font-weight-normal;
            }

            img {
                position: relative;
                top: -2px;
            }
        }

        .logo {
            border: solid 1px $theme-border-grey;
            text-align: center;
            margin: 10px 0px;
            float: left;
            width: 64px;
            height: 64px;
            margin-right: 15px;
            overflow: hidden;
            background-color: $white-color;
            position: relative;

            img {
                width: 85%;
                height: 90%;
                margin: 0;
                background: transparent;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                object-fit: contain;
            }
        }

        .company {
            text-align: left;
            float: left;
            margin-top: 18px;

            span {
                font-size: $font-size-large;
                text-align: left;
                font-family: $font-pragmatica;
                font-weight: $font-weight-normal;
            }

            p {
                font-size: $font-size-large + 0.25rem;
                font-family: $font-pragmatica;
                font-weight: $font-weight-mid;
                text-align: left;
                line-height: 1.2;
                max-width: 300px;
            }
        }
        .notify {
            font-family: $font-proxima;
            font-size: $font-size-medium;
            color: $color-topmenu;
            margin-top: 0.5rem;
            display: inline-block;
            font-weight: 600;
        }

        &-btn {
            min-width: 180px;
            min-height: 40px;
            font-family: $font-proxima;
            font-weight: $font-proxima-weight-semibold;
            text-transform: uppercase;
        }

        .grey-background {
            // background: $modal-header-background;
            border-top: 0px;
            .container-link {
                color: $primary-color;
                font-weight: $font-weight-mid;
                text-decoration: underline !important;
                font-family: $font-proxima;
            }
        }

        &-right {
            .position-sticky {
                top: 2%;
            }

            /*----BILLING SECTION - Start ----*/
            .card {
                .map {
                    agm-map {
                        height: 160px;
                    }
                }

                &-title {
                    font-size: $font-size-medium;
                    font-family: $font-proxima;
                    color: $secondary-grey;
                    font-weight: $font-weight-mid;
                    word-spacing: 3px;

                    img {
                        width: 16px;
                        height: 16px;
                    }
                }

                &-body {
                    &.d-flex {
                        border-bottom: 1px solid $boxes-border-grey;
                    }

                    h6 {
                        font-weight: $font-proxima-weight-semibold;
                        font-family: $font-proxima;
                        font-size: $font-size-large;
                        margin-bottom: 0;
                    }

                    .ports {
                        font-family: $font-proxima;
                        font-size: $font-size-base;
                        max-width: 94px;
                        width: 100%;

                        &-direction {
                            margin: 22px 0;
                            position: relative;
                            right: 10px;
                            top: 5px;
                        }

                        &-title {
                            font-size: $font-size-medium;
                            font-family: $font-proxima;
                            font-weight: $font-weight-mid;
                            color: $color-topmenu;
                            margin-bottom: 5px;
                        }

                        &-label {
                            font-size: $font-size-medium;
                            color: $route-large-title-color;
                            margin-bottom: 0;
                            font-weight: $font-proxima-weight-semibold;
                            font-family: $font-proxima;
                            line-height: 1;
                        }

                        .d-flex {
                            display: -ms-grid !important;
                            display: grid !important;

                            small {
                                max-width: 100% !important;
                                font-size: $font-size-medium;
                                color: $place-holder-color;
                                font-weight: $font-weight-mid;
                                font-family: $font-proxima;
                                vertical-align: bottom;
                                line-height: 1.2;
                                max-width: 78px;
                                word-break: break-word;
                            }
                        }

                        .flag-icon-20-12 {
                            img {
                                border: 1px solid $primary-grey;
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                    }
                }

                .list-group {
                    .list-group-item {
                        font-size: $font-size-base;
                        padding: 0.2rem;
                        border: 0;
                        display: flex;
                        justify-content: space-between;

                        .long-text {
                            font-family: $font-proxima;
                            font-size: $font-size-medium;
                            color: $route-large-title-color;
                            font-weight: $font-weight-mid;

                            img.icon-size-16 {
                                margin-top: -2px;
                            }

                            b {
                                font-weight: $font-weight-mid;
                            }
                            &-sub {
                                font-family: $font-proxima;
                                font-size: $font-size-base;
                                color: $secondary-text-color;
                                // text-transform: lowercase;
                                line-height: 1.8;
                                list-style: none;
                                padding-left: 0;
                            }
                        }

                        .catDetail {
                            display: flex;
                            flex-direction: column;

                            .amount-text {
                                font-family: $font-proxima;
                                font-size: $font-size-base;
                                color: $secondary-text-color;
                                line-height: 1.4;
                                word-break: break-word;
                                // text-align: right;
                            }
                        }

                        &:last-child {
                            padding-bottom: 0;
                        }

                        .category {
                            line-height: 1;

                            .icon {
                                width: 16px;
                                height: 16px;
                                margin-right: 13px;
                                margin-top: -2px;
                            }
                        }
                    }
                }
            }

            /*----BILLING SECTION - End ----*/
            .helpSupport {
                &-head {
                    h5 {
                        float: left;
                        font-size: $font-size-large;
                        font-weight: $font-proxima-weight-semibold;
                        color: $color-menuheading-black;
                        padding-left: 10px;
                        margin-bottom: 8px;
                        text-transform: capitalize;
                        padding-top: 1px; //text-shadow: 0.5px 0px $text-color-default;
                    }
                }

                img {
                    width: 20px;
                    height: 20px;
                    float: left;
                }

                &-content {
                    float: left;
                    width: 100%;

                    h4 {
                        font-size: $font-size-base;
                        color: $dark-grey-blue;
                        font-family: $font-proxima;
                        text-transform: uppercase;
                        font-weight: $font-proxima-weight-semibold;
                        margin-top: 15px;
                        margin-bottom: 5px;
                    }

                    .address {
                        font-size: $font-size-large;
                        font-family: $font-proxima;
                        font-weight: $font-weight-normal;
                        color: $text-color-default; // width: 85%;
                        line-height: 1.4;
                    }

                    .helpLine {
                        @extend .address;
                    }

                    .dotted {
                        border-bottom: 1px dashed $grey-border;
                    }
                }

                &-footer {
                    float: left;
                    width: 100%;

                    p {
                        font-size: $font-size-medium;
                        font-family: $font-proxima;
                        padding-top: 0px;
                        margin-bottom: 0;

                        a {
                            position: relative;
                            color: $text-color-default;
                            text-decoration: none;
                            line-height: 24px;
                            font-weight: $font-weight-mid;
                            width: auto;
                        }
                    }
                }
            }
        }

        .contact {
            &-name {
                font-family: $body-fontfamily;
                font-weight: $font-weight-mid;
                font-size: $font-size-large;
                color: $text-color-default;
            }

            &-address {
                font-family: $font-proxima;
                font-size: $font-size-large;
                color: $secondary-text-color;

                &.unread {
                    max-height: 76px;
                    overflow: hidden;
                }

                span {
                    word-break: break-all;
                }
            }

            .hvr-icon-forward {
                font-size: $font-size-medium;
                color: $secondary-color;
                font-family: $font-proxima;
                font-weight: $font-proxima-weight-semibold;
                margin-left: 1.3rem;
            }

            &-info {
                @extend .contact-address;
            }
        }
        .route-map {
            a {
                color: $primary-color;
            }
            &-title {
                width: 10rem;
            }
        }
    }
    .shipping-instructions {
        .card {
            &-body {
                .blockquote {
                    border: 0px solid $boxes-border-grey;
                    border-radius: 4px !important;
                    display: block;
                    width: 100%;
                    padding: 1rem;
                    font-weight: $font-weight-normal;
                    font-size: $font-size-large;
                    line-height: 1.5;
                    color: $text-color-default;
                    overflow: auto;
                    height: 11rem;

                    &.edit {
                        border: 1px solid $boxes-border-grey;
                        box-shadow: 0 0 10px 0 rgba(0, 162, 223, 0.2) !important;
                        outline: $primary-color auto 1px;
                        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

                        &:focus {
                            background-color: $color-white !important;
                            box-shadow: 0 0 10px 0 rgba(0, 162, 223, 0.2) !important;
                            box-shadow: 0 0;
                            border-color: $primary-color;
                            outline: $primary-color auto 2px;
                        }
                    }
                }
            }
        }
    }

    .media {
        .align-self-start {
            width: 16px;
            height: 16px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .details {
        .row {
            .col-4 {
                display: flex;
            }
        }

        .badge {
            // display: flex;
            align-self: center;
        }

        button.btn {
            padding: 0 1.5rem 0 1.5rem;
            height: 33px;
            line-height: 30px;

            &.disable {
                color: $color-topmenu !important;
            }
        }

        p {
            font-family: $font-pragmatica;
            font-size: $font-size-large;
            font-weight: $font-weight-mid;
            color: $text-color-default;
            line-height: 1;
            margin-bottom: 0px;
        }
    }
    .wareHouse-min-height {
        min-height: 26rem;
    }
    &-document {
        margin-bottom: 16px;

        .card {
            .list-group {
                .list-group-item {
                    padding-left: 20px !important;
                    margin: 0;
                    // padding: 0.45rem 0.75rem !important;

                    a.doc-title {
                        color: inherit;
                        cursor: default;

                        &.primary-text {
                            cursor: pointer;
                            color: $primary-color;
                            font-family: $font-proxima;
                            font-weight: $font-weight-mid;

                            .sub-text {
                                font-family: inherit;
                                font-size: $font-size-base;
                                color: $place-holder-color;
                                line-height: 1;
                            }

                            &:before {
                                content: url("../../../../../assets/images/icons/icon_check.svg");
                                height: 9px;
                                width: 12px;
                                position: absolute;
                                left: 0;
                                top: 13px;
                            }
                        }
                    }
                }
            }
        }

        &-heading {
            margin-bottom: 16px !important;
            font-family: $font-pragmatica;
            font-size: $font-size-large + 0.25rem;
            color: $text-color-default;
            font-weight: $font-weight-mid;
            margin-top: 42px;
        }

        &-title {
            font-size: $font-size-medium;
            font-family: $font-proxima;
            font-weight: $font-proxima-weight-semibold;
            color: $dark-grey-blue;
            text-transform: uppercase;
            margin: 1.875rem 1.25rem 0;
            border-bottom: 1px dashed rgba(0, 0, 0, 0.125);
            padding-bottom: 10px;

            img {
                border: 1px solid $primary-grey;
                height: 12px;
                margin-bottom: 0.2rem;
            }
        }

        .list-group {
            margin-top: 15px;

            &-item {
                border: 0px;
                display: flex;
                justify-content: space-between;
                margin: 0 1.25rem;
                padding: 0.75rem 0rem !important;
                font-family: $font-proxima;
                font-size: $font-size-large;
                color: $text-color-default;
                font-weight: $font-weight-normal;

                &:last-child {
                    border: 0px;
                }

                button.btn {
                    padding: 0 1.5rem 0 1.5rem;
                    height: 33px;
                    line-height: 30px;

                    &.disable {
                        color: $color-topmenu !important;

                        &:hover {
                            box-shadow: none !important;
                        }
                    }

                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }
    }

    .other-document {
        .card {
            border: none;

            &-header {
                background: none;
                border: none;
                padding: 0;

                button.btn.btn-link {
                    padding-left: 0px;
                    padding-right: 0px;
                }

                .accordion {
                    &-title {
                        line-height: 15px;
                        margin: 0;
                        max-width: 26rem;
                        display: flex;

                        span {
                            margin: 0;
                            font-family: $font-proxima;
                            font-size: $root-font-size;
                            color: $color-topmenuactive;
                            line-height: normal;
                        }
                    }

                    &-time {
                        margin: 0;
                        color: $text-grey;
                        font-size: $font-size-base;
                        margin-left: 2rem;
                    }

                    .check-icon {
                        position: relative;
                        top: 0px;
                        left: -4px;
                        vertical-align: top;
                        margin-right: 0.5rem;
                    }
                }
            }

            &-body {
                .uploader {
                    &-cancel-btn {
                        font-family: $font-proxima;
                        font-size: $font-size-base;
                        color: $color-topmenu;
                        font-weight: $font-proxima-weight-semibold;
                        text-transform: uppercase;
                    }
                }
            }
            &:nth-child(1) {
                border-radius: 3px 3px 0 0;
            }

            &:nth-child(2) {
                border-radius: 0;
            }

            &:nth-child(3) {
                border-radius: 0 0 3px 3px;
                border-top: 0px;
            }
        }
    }

    a.addAnother {
        color: $primary-color;
        font-family: $font-proxima;
        font-weight: $font-weight-mid;
        font-size: $font-size-medium;
        position: relative;
    }

    .fieldError {
        border-color: $danger-color;
        transition: ease-in 0.8s;
    }

    p.formError {
        line-height: 1;
        margin-top: 4px;
        width: 100%;
        color: $danger-color;
        font-size: $font-size-medium - 0.025;
        text-align: left;
    }

    .warehousing-content {
        .list-group {
            li {
                border: 0px;
                padding: 0;
                font-size: $font-size-medium;
                font-family: $font-proxima;
                color: $text-color-default;
                line-height: 1;
                margin-bottom: 15px;
                background-color: transparent;

                .tooltip {
                    width: 16rem;

                    .tooltip-inner {
                        width: 16rem;
                        max-width: 16rem;
                    }
                }
            }
        }

        .warehouse-features {
            .icons {
                margin-right: 15px;

                img {
                    width: 1.1rem;
                    filter: grayscale(100%);
                    opacity: 0.5;
                }

                .warehouse-features-active {
                    img {
                        filter: grayscale(0%);
                        opacity: 1;
                    }
                }
            }
        }

        .warehousing-desc {
            font-family: $font-proxima;
            font-size: $font-size-medium;
            color: $secondary-text-color;
        }
    }

    .gallery-section {
        border: 1px solid $grey-border;
        position: relative;
        width: 180px;
        text-align: center;
        overflow: hidden;

        img,
        video {
            max-width: 100%;
            height: 136px;
        }

        .box-content {
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.5);
                position: absolute;
                top: 0;
                left: 0;
                transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, -100%, 0px);
                transition: all 0.6s ease 0s;
            }
        }

        &-item {
            position: absolute;
            top: 8px;
            right: 5px;
            background: #000000b0;
            color: $color-white;
            border-radius: 12px;
            font-weight: $font-weight-bold;
            font-family: $font-proxima;
            font-size: $font-size-base;
            padding: 0.21rem 0.68rem;
        }

        &:hover {
            .box-content {
                &::before {
                    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, 100%, 0px);
                }
            }
        }
    }

    .warehousing-header {
        .icon {
            margin-top: 1rem;
        }

        .lable {
            text-transform: uppercase;
            font-size: $font-size-base;
            color: $secondary-grey;
        }

        h4 {
            font-size: $font-size-large;
            color: $text-color-default;
            font-weight: $font-weight-mid;
            margin-left: 1.2rem;
        }
    }

    .schedule {
        .form-group {
            label {
                font-size: 0.75rem;
                font-family: $font-proxima;
                font-weight: $font-weight-normal;
                color: $color-topmenu;
            }
        }
    }

    .change-sche {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
    }

    .fa-caret-down {
        transition: 0.5s;
        &.Show {
            transform: rotate(-92deg) !important;
        }
    }
    .rounded-top {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .rounded-bottom {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
    .service-list {
        list-style: none;
        padding: 0;
        margin-bottom: 0rem;

        li {
            list-style: none;
            display: inline;
            font-size: $font-size-medium;
            text-transform: capitalize;
            color: $text-color-default;
            margin: 0.4rem;
            margin-left: 0;
            margin-right: 0.7rem;

            i {
                font-weight: $font-weight-mid;
                font-size: $font-size-medium;
                margin-right: 12px;
                margin-top: 0.2em;
            }

            .active {
                color: $primary-color;
            }

            .d-active {
                color: $danger-color;
            }

            img {
                margin-right: 8px;
                display: inline;
            }

            label {
                font-size: $font-size-medium;
                margin: 0;
                font-weight: $font-weight-normal;
            }
        }
    }
    .legend-list {
        list-style: none;
        padding: 0;

        li {
            list-style: none;
            display: inline;
            font-size: $font-size-base;
            text-transform: capitalize;
            color: $text-color-default;
            margin: 0.4rem;
            margin-left: 0;
            // margin-right: 0.7rem;

            .active {
                color: $primary-color;
            }

            .d-active {
                color: $danger-color;
            }

            img {
                margin-right: 8px;
                display: inline;
            }

            label,
            span {
                font-size: $font-size-base;
                margin: 0;
                font-weight: $font-weight-normal;
                margin-bottom: 0rem;
            }
        }
    }
    .all-border {
        border: 1px solid rgba(0, 0, 0, 0.125) !important;
    }

    .air-footer {
        font-weight: $font-proxima-weight-semibold;
        font-family: $font-proxima;
        border-top: 0px solid $light-grey-border;
        border-bottom: 0;
        border-left: 0;
        border-radius: 0;
        background: $white-color;
        padding-bottom: 0;

        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border-top: 1px dashed #e5e5e5;
        }

        a {
            font-family: $font-proxima;
            font-weight: 500;
            font-size: $font-size-base + 0.1;
            color: $secondary-grey;

            &:first-child {
                margin-right: 0.8rem;
            }
        }
        .label-head {
            label {
                margin-bottom: 0rem;
            }
        }
    }
    .supplier-email {
        a {
            svg {
                width: 1.8rem;
                fill: $dark-grey-blue;
            }
            &:hover {
                svg {
                    fill: $secondary-color !important;
                }
            }
        }
    }

    .multi-company {
        float: left;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        align-content: space-between;
        .logo {
            float: left;
            width: 79px;
            height: 62px;
            text-align: center;
            padding: 4px;
            border: 1px solid $grey-border;

            img {
                width: 100%;
                height: 100%;
                padding: 0;
                object-fit: contain;
            }
        }

        .name {
            margin-left: 15px;
            max-width: 70%;
            // height: 98px;
            // line-height: 10px;
            display: flex;
            flex-direction: column;
            align-items: start;

            // justify-content: center;

            h4 {
                font-size: $font-size-large + 0.25;
                font-weight: $font-weight-mid;
                font-family: $font-pragmatica;
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
                margin-bottom: 0.2rem;
            }
        }
        .carrier-name {
            font-size: $font-size-large;
            font-weight: $font-weight-normal;
            font-family: $font-proxima;
        }
        .badge-web {
            margin-left: 15px;
            max-width: 70%;
            height: 35px;
            line-height: 10px;
            display: flex;
            // flex-direction: column;
            align-items: end;
            justify-content: center;

            .badge {
                opacity: 0.7;
            }
        }
        .carrier-logo {
            height: 17px;
            width: 60px;
        }
    }

    .commodity-heading {
        font-size: $font-size-base;
        text-transform: capitalize;
        font-family: "proxima-nova", sans-serif;
        font-weight: $font-weight-normal;
        color: #738593;
        word-spacing: 3px;
        margin-bottom: 0;
        text-transform: uppercase;
    }
    .commodity-details {
        .icon {
            width: 18px;
            height: 18px;
            float: left;
            margin: 4px 10px 20px 0;
            padding: 1px;
            fill: $secondary-grey;
        }
        .carrier-logo {
            margin-right: 12px;
            text-align: center;
            float: left;
            width: 16px;
            height: 16px;
            margin-top: 4px;
            overflow: hidden;
            background-color: transparent;
            position: relative;
            img {
                margin: 0;
                top: 23%;
                left: 14%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-12%, -20%);
                width: 100%;
                position: absolute;
            }
        }
        .col-md-4 {
            padding: 15px 15px 20px;
        }
        .lable {
            font-size: $font-size-base !important;
            font-weight: $font-weight-normal;
            text-transform: uppercase;
            color: $secondary-grey;
            font-family: $font-proxima;
        }
        h4 {
            padding-left: 28px;
            font-size: $font-size-large;
            font-weight: $font-weight-mid;
            font-family: $font-pragmatica;
            color: $text-color-default;
        }
        p {
            margin-left: 2.2rem;
            font-weight: $font-weight-mid;
            color: $text-color-default;
        }
    }

    //* Certificates Section *//
    .certificates-section {
        .card {
            border: 1px solid #eff2f5 !important; // padding: 0.5rem 0;
            padding: 0;

            &-header {
                border-bottom: 0px solid #eff2f5 !important;
                background: $white-color;
                padding: 0;
                margin-bottom: -1px;
                height: 100%; //min-height: 96px;
                display: flex;
                align-items: center;

                a {
                    width: 100%;
                }

                .loadPickup-detail {
                    font-size: $font-size-large + 0.25rem;
                    font-family: $font-pragmatica;
                    font-weight: $font-weight-normal;
                    color: $text-color-default;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: default;

                    span {
                        line-height: 1.2;
                    }

                    strong {
                        font-size: $font-size-large + 0.25rem;
                        font-family: $font-pragmatica;
                        font-weight: $font-weight-mid;
                        color: $text-color-default;
                    }
                }
            }
            div#acc-load-pickup {
                display: block !important;
            }
            &-body {
                padding-top: 0;
                p {
                    display: flex;
                    pointer-events: none !important;

                    img {
                        margin-right: 0.5rem;
                        transform: rotate(0deg) !important;
                    }

                    strong {
                        font-size: $font-size-medium;
                        font-family: $font-proxima;
                        font-weight: $font-proxima-weight-semibold;
                        color: $dark-grey-blue;
                        text-transform: uppercase;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }

        .accordion .card:first-of-type {
            border-bottom-color: rgba(0, 0, 0, 0.125);
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }

        .track-heading {
            justify-content: center;
            align-items: center;
            display: flex;
            border-right: 1px solid $secondary-color;
            padding-left: 0.8rem !important;
        }

        .pickup-time {
            display: flex;
            justify-content: center;
            position: relative;

            .ngb-tp {
                input[type="text"] {
                    border: 0;
                    font-family: $font-pragmatica;
                    color: $text-color-default;
                    font-weight: $font-weight-mid;
                    font-size: $font-size-large + 0.25rem;
                }
            }

            .list-group {
                flex-direction: inherit;
                position: absolute;
                top: -6px;
                text-align: center;

                &-item {
                    border: 0;
                    padding: 0rem 0rem;
                    font-size: $font-size-base;
                    font-family: $font-proxima;
                    font-weight: $font-weight-mid;
                    color: $dark-grey-blue;
                    text-transform: uppercase;
                    width: 5.4rem;
                }
            }

            .ngb-tp-hour {
                .btn.btn-link {
                    .chevron {
                        &:before {
                            background: url("../../../../../assets/images/icons/icon_arrow_left.svg") no-repeat;
                            width: 16px;
                            height: 16px;
                            transform: rotate(91deg);
                            border-width: 0;
                        }

                        &.bottom {
                            &:before {
                                transform: rotate(-91deg);
                            }
                        }
                    }
                }
            }

            .ngb-tp-minute {
                @extend .ngb-tp-hour;
            }
        }

        .accordion {
            .item {
                .item-sub-section {
                    height: 72px;
                    background: $white-color;
                    margin: 0 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.4s ease-in-out;

                    .date {
                        font-family: $font-pragmatica;
                        font-weight: $font-weight-mid;
                        font-size: $font-size-large + 0.25rem;
                        color: $text-color-default;
                        margin: 0;
                        margin-left: 10px;
                        margin-left: 3px;
                    }

                    p.month {
                        @extend .date;
                        font-size: $font-size-medium;
                        margin-left: 0px;
                        text-transform: uppercase;
                        font-weight: $font-weight-normal;
                        line-height: 1;
                    }
                }

                &.active {
                    .item-sub-section {
                        background: $primary-color !important;

                        .date,
                        .month {
                            color: $white-color !important;
                        }
                    }
                }

                &.inactive {
                    .item-sub-section {
                        background: $date-unactive !important;

                        .date,
                        .month {
                            color: $text-color-default !important;
                        }
                    }
                }

                &:hover {
                    .item-sub-section {
                        background: $date-unactive;

                        .date,
                        .month {
                            color: $text-color-default;
                        }
                    }
                }
            }

            .col-10 {
                img {
                    transform: rotate(-92deg);
                    transition: all 0.7s ease;
                }

                &.active {
                    img {
                        transform: rotate(0deg);
                        transition: all 0.7s ease;
                    }
                }

                &.loadPickup {
                    .actions {
                        display: block !important;
                    }

                    img.icon-size-12 {
                        display: none;
                    }
                }
            }

            .ngucarousel {
                .ngu-touch-container {
                    width: 93%;
                    margin: 0 auto;
                    overflow: hidden;
                }

                button.leftRs.btn.hvr-icon-back {
                    position: absolute;
                    background: transparent;
                    box-shadow: none !important;
                    left: 0px;
                    top: 12px;
                    padding: 12px 0rem;
                }

                button.rightRs.btn.hvr-icon-forward {
                    @extend .leftRs.btn.hvr-icon-back;
                    right: 0;
                    left: auto;
                    background: $white-color;
                }
            }

            button.btn-primary {
                font-size: $font-size-large;
                font-weight: $font-proxima-weight-semibold;
                color: $white-color;
                font-family: $font-proxima;
                max-width: 200px;
                width: 100%;
            }

            .actions {
                display: none !important;
                line-height: 0.8;

                a {
                    font-size: $font-size-base;
                    font-family: $font-proxima;
                    font-weight: $font-proxima-weight-semibold;
                    text-transform: uppercase;
                    line-height: 2;

                    i {
                        margin-left: 0.4rem;
                    }
                }
            }
        }
    }
    //* Commodity Detail Section *//
    .commodity-detail-section {
        .card {
            border: 1px solid #eff2f5 !important; // padding: 0.5rem 0;
            padding: 0;

            &-header {
                border-bottom: 0px solid #eff2f5 !important;
                background: $white-color;
                padding: 0;
                margin-bottom: -1px;
                height: 100%; // min-height: 96px;
                display: flex;
                align-items: center;

                a {
                    width: 100%;
                }

                .loadPickup-detail {
                    font-size: $font-size-large + 0.25rem;
                    font-family: $font-pragmatica;
                    font-weight: $font-weight-normal;
                    color: $text-color-default;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: default;

                    span {
                        line-height: 1.2;
                    }

                    strong {
                        font-size: $font-size-large + 0.25rem;
                        font-family: $font-pragmatica;
                        font-weight: $font-weight-mid;
                        color: $text-color-default;
                    }
                }
            }
            div#acc-load-pickup {
                display: block !important;
            }
            &-body {
                padding-top: 0;
                p {
                    display: flex;
                    pointer-events: none !important;

                    img {
                        margin-right: 0.5rem;
                        transform: rotate(0deg) !important;
                    }

                    strong {
                        font-size: $font-size-medium;
                        font-family: $font-proxima;
                        font-weight: $font-proxima-weight-semibold;
                        color: $dark-grey-blue;
                        text-transform: uppercase;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }

        .accordion .card:first-of-type {
            border-bottom-color: rgba(0, 0, 0, 0.125);
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }

        .track-heading {
            justify-content: center;
            align-items: center;
            display: flex;
            border-right: 1px solid $secondary-color;
            padding-left: 0.8rem !important;
        }

        .pickup-time {
            display: flex;
            justify-content: center;
            position: relative;

            .ngb-tp {
                input[type="text"] {
                    border: 0;
                    font-family: $font-pragmatica;
                    color: $text-color-default;
                    font-weight: $font-weight-mid;
                    font-size: $font-size-large + 0.25rem;
                }
            }

            .list-group {
                flex-direction: inherit;
                position: absolute;
                top: -6px;
                text-align: center;

                &-item {
                    border: 0;
                    padding: 0rem 0rem;
                    font-size: $font-size-base;
                    font-family: $font-proxima;
                    font-weight: $font-weight-mid;
                    color: $dark-grey-blue;
                    text-transform: uppercase;
                    width: 5.4rem;
                }
            }

            .ngb-tp-hour {
                .btn.btn-link {
                    .chevron {
                        &:before {
                            background: url("../../../../../assets/images/icons/icon_arrow_left.svg") no-repeat;
                            width: 16px;
                            height: 16px;
                            transform: rotate(91deg);
                            border-width: 0;
                        }

                        &.bottom {
                            &:before {
                                transform: rotate(-91deg);
                            }
                        }
                    }
                }
            }

            .ngb-tp-minute {
                @extend .ngb-tp-hour;
            }
        }

        .accordion {
            .item {
                .item-sub-section {
                    height: 72px;
                    background: $white-color;
                    margin: 0 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.4s ease-in-out;

                    .date {
                        font-family: $font-pragmatica;
                        font-weight: $font-weight-mid;
                        font-size: $font-size-large + 0.25rem;
                        color: $text-color-default;
                        margin: 0;
                        margin-left: 10px;
                        margin-left: 3px;
                    }

                    p.month {
                        @extend .date;
                        font-size: $font-size-medium;
                        margin-left: 0px;
                        text-transform: uppercase;
                        font-weight: $font-weight-normal;
                        line-height: 1;
                    }
                }

                &.active {
                    .item-sub-section {
                        background: $primary-color !important;

                        .date,
                        .month {
                            color: $white-color !important;
                        }
                    }
                }

                &.inactive {
                    .item-sub-section {
                        background: $date-unactive !important;

                        .date,
                        .month {
                            color: $text-color-default !important;
                        }
                    }
                }

                &:hover {
                    .item-sub-section {
                        background: $date-unactive;

                        .date,
                        .month {
                            color: $text-color-default;
                        }
                    }
                }
            }

            .col-10 {
                img {
                    transform: rotate(-92deg);
                    transition: all 0.7s ease;
                }

                &.active {
                    img {
                        transform: rotate(0deg);
                        transition: all 0.7s ease;
                    }
                }

                &.loadPickup {
                    .actions {
                        display: block !important;
                    }

                    img.icon-size-12 {
                        display: none;
                    }
                }
            }

            .ngucarousel {
                .ngu-touch-container {
                    width: 93%;
                    margin: 0 auto;
                    overflow: hidden;
                }

                button.leftRs.btn.hvr-icon-back {
                    position: absolute;
                    background: transparent;
                    box-shadow: none !important;
                    left: 0px;
                    top: 12px;
                    padding: 12px 0rem;
                }

                button.rightRs.btn.hvr-icon-forward {
                    @extend .leftRs.btn.hvr-icon-back;
                    right: 0;
                    left: auto;
                    background: $white-color;
                }
            }

            button.btn-primary {
                font-size: $font-size-large;
                font-weight: $font-proxima-weight-semibold;
                color: $white-color;
                font-family: $font-proxima;
                max-width: 200px;
                width: 100%;
            }

            .actions {
                display: none !important;
                line-height: 0.8;

                a {
                    font-size: $font-size-base;
                    font-family: $font-proxima;
                    font-weight: $font-proxima-weight-semibold;
                    text-transform: uppercase;
                    line-height: 2;

                    i {
                        margin-left: 0.4rem;
                    }
                }
            }
        }
    }
    //* Commodity Inspection Section *//
    .commodity-inspection-section {
        .card {
            border: 1px solid $secondary-color !important; // padding: 0.5rem 0;
            padding: 0;

            &-header {
                border-bottom: 1px solid $secondary-color !important;
                background: $white-color;
                padding: 0;
                margin-bottom: -1px;
                min-height: 96px; // height: 100%;
                display: flex;
                align-items: center;

                a {
                    width: 100%;
                }

                .loadPickup-detail {
                    font-size: $font-size-large + 0.25rem;
                    font-family: $font-pragmatica;
                    font-weight: $font-weight-normal;
                    color: $text-color-default;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: default;

                    span {
                        line-height: 1.2;
                    }

                    strong {
                        font-size: $font-size-large + 0.25rem;
                        font-family: $font-pragmatica;
                        font-weight: $font-weight-mid;
                        color: $text-color-default;
                    }
                }
            }
            div#acc-load-pickup {
                display: block !important;
            }
            &-body {
                p {
                    display: flex;
                    pointer-events: none !important;

                    img {
                        margin-right: 0.5rem;
                        transform: rotate(0deg) !important;
                    }

                    strong {
                        font-size: $font-size-medium;
                        font-family: $font-proxima;
                        font-weight: $font-proxima-weight-semibold;
                        color: $dark-grey-blue;
                        text-transform: uppercase;
                        letter-spacing: 0.5px;
                    }
                }
                .Schedule {
                    font-size: $font-size-large + 0.25;
                    margin-left: 2.2rem;
                    font-family: $font-proxima;
                    font-weight: $font-proxima-weight-semibold;
                }
                .status-history {
                    font-size: $font-size-large;
                    font-family: $font-proxima;
                    // font-weight: $font-proxima-weight-semibold;
                    color: $secondary-color;
                }
                .assayer {
                    &status {
                        margin-left: 2rem;
                        text-transform: uppercase;
                        width: 90%;
                    }
                    &-details {
                        .phone {
                            font-family: $font-proxima;
                            font-size: $font-size-medium;
                            color: $primary-color;
                            margin-left: 2.2rem;
                            line-height: 1.25;

                            .flag {
                                border: solid 1px #3f5165;
                                width: 1rem;
                                height: $font-size-base;
                                margin-top: -0.1rem;
                            }
                        }
                    }
                    &date {
                        margin-left: 2rem;
                        font-size: $font-size-base;
                        font-family: $font-proxima;
                        color: $dark-grey-blue;
                    }
                }
            }
        }

        .accordion .card:first-of-type {
            border-bottom-color: rgba(0, 0, 0, 0.125);
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }

        .track-heading {
            justify-content: center;
            align-items: center;
            display: flex;
            border-right: 1px solid $secondary-color;
            padding-left: 0.8rem !important;
        }

        .pickup-time {
            display: flex;
            justify-content: center;
            position: relative;

            .ngb-tp {
                input[type="text"] {
                    border: 0;
                    font-family: $font-pragmatica;
                    color: $text-color-default;
                    font-weight: $font-weight-mid;
                    font-size: $font-size-large + 0.25rem;
                }
            }

            .list-group {
                flex-direction: inherit;
                position: absolute;
                top: -6px;
                text-align: center;

                &-item {
                    border: 0;
                    padding: 0rem 0rem;
                    font-size: $font-size-base;
                    font-family: $font-proxima;
                    font-weight: $font-weight-mid;
                    color: $dark-grey-blue;
                    text-transform: uppercase;
                    width: 5.4rem;
                }
            }

            .ngb-tp-hour {
                .btn.btn-link {
                    .chevron {
                        &:before {
                            background: url("../../../../../assets/images/icons/icon_arrow_left.svg") no-repeat;
                            width: 16px;
                            height: 16px;
                            transform: rotate(91deg);
                            border-width: 0;
                        }

                        &.bottom {
                            &:before {
                                transform: rotate(-91deg);
                            }
                        }
                    }
                }
            }

            .ngb-tp-minute {
                @extend .ngb-tp-hour;
            }
        }

        .accordion {
            .item {
                .item-sub-section {
                    height: 72px;
                    background: $white-color;
                    margin: 0 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.4s ease-in-out;

                    .date {
                        font-family: $font-pragmatica;
                        font-weight: $font-weight-mid;
                        font-size: $font-size-large + 0.25rem;
                        color: $text-color-default;
                        margin: 0;
                        margin-left: 10px;
                        margin-left: 3px;
                    }

                    p.month {
                        @extend .date;
                        font-size: $font-size-medium;
                        margin-left: 0px;
                        text-transform: uppercase;
                        font-weight: $font-weight-normal;
                        line-height: 1;
                    }
                }

                &.active {
                    .item-sub-section {
                        background: $primary-color !important;

                        .date,
                        .month {
                            color: $white-color !important;
                        }
                    }
                }

                &.inactive {
                    .item-sub-section {
                        background: $date-unactive !important;

                        .date,
                        .month {
                            color: $text-color-default !important;
                        }
                    }
                }

                &:hover {
                    .item-sub-section {
                        background: $date-unactive;

                        .date,
                        .month {
                            color: $text-color-default;
                        }
                    }
                }
            }

            .col-10 {
                img {
                    transform: rotate(-92deg);
                    transition: all 0.7s ease;
                }

                &.active {
                    img {
                        transform: rotate(0deg);
                        transition: all 0.7s ease;
                    }
                }

                &.loadPickup {
                    .actions {
                        display: block !important;
                    }

                    img.icon-size-12 {
                        display: none;
                    }
                }
            }

            .ngucarousel {
                .ngu-touch-container {
                    width: 93%;
                    margin: 0 auto;
                    overflow: hidden;
                }

                button.leftRs.btn.hvr-icon-back {
                    position: absolute;
                    background: transparent;
                    box-shadow: none !important;
                    left: 0px;
                    top: 12px;
                    padding: 12px 0rem;
                }

                button.rightRs.btn.hvr-icon-forward {
                    @extend .leftRs.btn.hvr-icon-back;
                    right: 0;
                    left: auto;
                    background: $white-color;
                }
            }

            button.btn-primary {
                font-size: $font-size-large;
                font-weight: $font-proxima-weight-semibold;
                color: $white-color;
                font-family: $font-proxima;
                max-width: 200px;
                width: 100%;
            }

            .actions {
                display: none !important;
                line-height: 0.8;

                a {
                    font-size: $font-size-base;
                    font-family: $font-proxima;
                    font-weight: $font-proxima-weight-semibold;
                    text-transform: uppercase;
                    line-height: 2;

                    i {
                        margin-left: 0.4rem;
                    }
                }
            }
        }
    }
    //* Container Stuffing Inspection Section *//
    .container-stuffing-inspection-section {
        .card {
            border: 1px solid $secondary-color !important; // padding: 0.5rem 0;
            padding: 0;

            &-header {
                border-bottom: 1px solid $secondary-color !important;
                background: $white-color;
                padding: 0;
                margin-bottom: -1px;
                min-height: 96px; // height: 100%;
                display: flex;
                align-items: center;

                a {
                    width: 100%;
                }

                .loadPickup-detail {
                    font-size: $font-size-large + 0.25rem;
                    font-family: $font-pragmatica;
                    font-weight: $font-weight-normal;
                    color: $text-color-default;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: default;

                    span {
                        line-height: 1.2;
                    }

                    strong {
                        font-size: $font-size-large + 0.25rem;
                        font-family: $font-pragmatica;
                        font-weight: $font-weight-mid;
                        color: $text-color-default;
                    }
                }
            }
            div#acc-load-pickup {
                display: block !important;
            }
            &-body {
                p {
                    display: flex;
                    pointer-events: none !important;

                    img {
                        margin-right: 0.5rem;
                        transform: rotate(0deg) !important;
                    }

                    strong {
                        font-size: $font-size-medium;
                        font-family: $font-proxima;
                        font-weight: $font-proxima-weight-semibold;
                        color: $dark-grey-blue;
                        text-transform: uppercase;
                        letter-spacing: 0.5px;
                    }
                }
                .Schedule {
                    font-size: $font-size-large + 0.25;
                    margin-left: 2.2rem;
                    font-family: $font-proxima;
                    font-weight: $font-proxima-weight-semibold;
                }
            }
            .status-history {
                font-size: $font-size-large;
                font-family: $font-proxima;
                // font-weight: $font-proxima-weight-semibold;
                color: $secondary-color;
            }
            .assayer {
                &status {
                    margin-left: 2rem;
                    text-transform: uppercase;
                    width: 90%;
                }
                &-details {
                    .phone {
                        font-family: $font-proxima;
                        font-size: $font-size-medium;
                        color: $primary-color;
                        margin-left: 2.2rem;
                        line-height: 1.25;

                        .flag {
                            border: solid 1px #3f5165;
                            width: 1rem;
                            height: $font-size-base;
                            margin-top: -0.1rem;
                        }
                    }
                }
                &date {
                    margin-left: 2rem;
                    font-size: $font-size-base;
                    font-family: $font-proxima;
                    color: $dark-grey-blue;
                }
            }
        }

        .accordion .card:first-of-type {
            border-bottom-color: rgba(0, 0, 0, 0.125);
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }

        .track-heading {
            justify-content: center;
            align-items: center;
            display: flex;
            border-right: 1px solid $secondary-color;
            padding-left: 0.8rem !important;
        }

        .pickup-time {
            display: flex;
            justify-content: center;
            position: relative;

            .ngb-tp {
                input[type="text"] {
                    border: 0;
                    font-family: $font-pragmatica;
                    color: $text-color-default;
                    font-weight: $font-weight-mid;
                    font-size: $font-size-large + 0.25rem;
                }
            }

            .list-group {
                flex-direction: inherit;
                position: absolute;
                top: -6px;
                text-align: center;

                &-item {
                    border: 0;
                    padding: 0rem 0rem;
                    font-size: $font-size-base;
                    font-family: $font-proxima;
                    font-weight: $font-weight-mid;
                    color: $dark-grey-blue;
                    text-transform: uppercase;
                    width: 5.4rem;
                }
            }

            .ngb-tp-hour {
                .btn.btn-link {
                    .chevron {
                        &:before {
                            background: url("../../../../../assets/images/icons/icon_arrow_left.svg") no-repeat;
                            width: 16px;
                            height: 16px;
                            transform: rotate(91deg);
                            border-width: 0;
                        }

                        &.bottom {
                            &:before {
                                transform: rotate(-91deg);
                            }
                        }
                    }
                }
            }

            .ngb-tp-minute {
                @extend .ngb-tp-hour;
            }
        }

        .accordion {
            .item {
                .item-sub-section {
                    height: 72px;
                    background: $white-color;
                    margin: 0 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.4s ease-in-out;

                    .date {
                        font-family: $font-pragmatica;
                        font-weight: $font-weight-mid;
                        font-size: $font-size-large + 0.25rem;
                        color: $text-color-default;
                        margin: 0;
                        margin-left: 10px;
                        margin-left: 3px;
                    }

                    p.month {
                        @extend .date;
                        font-size: $font-size-medium;
                        margin-left: 0px;
                        text-transform: uppercase;
                        font-weight: $font-weight-normal;
                        line-height: 1;
                    }
                }

                &.active {
                    .item-sub-section {
                        background: $primary-color !important;

                        .date,
                        .month {
                            color: $white-color !important;
                        }
                    }
                }

                &.inactive {
                    .item-sub-section {
                        background: $date-unactive !important;

                        .date,
                        .month {
                            color: $text-color-default !important;
                        }
                    }
                }

                &:hover {
                    .item-sub-section {
                        background: $date-unactive;

                        .date,
                        .month {
                            color: $text-color-default;
                        }
                    }
                }
            }

            .col-10 {
                img {
                    transform: rotate(-92deg);
                    transition: all 0.7s ease;
                }

                &.active {
                    img {
                        transform: rotate(0deg);
                        transition: all 0.7s ease;
                    }
                }

                &.loadPickup {
                    .actions {
                        display: block !important;
                    }

                    img.icon-size-12 {
                        display: none;
                    }
                }
            }

            .ngucarousel {
                .ngu-touch-container {
                    width: 93%;
                    margin: 0 auto;
                    overflow: hidden;
                }

                button.leftRs.btn.hvr-icon-back {
                    position: absolute;
                    background: transparent;
                    box-shadow: none !important;
                    left: 0px;
                    top: 12px;
                    padding: 12px 0rem;
                }

                button.rightRs.btn.hvr-icon-forward {
                    @extend .leftRs.btn.hvr-icon-back;
                    right: 0;
                    left: auto;
                    background: $white-color;
                }
            }

            button.btn-primary {
                font-size: $font-size-large;
                font-weight: $font-proxima-weight-semibold;
                color: $white-color;
                font-family: $font-proxima;
                max-width: 200px;
                width: 100%;
            }

            .actions {
                display: none !important;
                line-height: 0.8;

                a {
                    font-size: $font-size-base;
                    font-family: $font-proxima;
                    font-weight: $font-proxima-weight-semibold;
                    text-transform: uppercase;
                    line-height: 2;

                    i {
                        margin-left: 0.4rem;
                    }
                }
            }
        }
    }
}
.country {
    // &-select {

    // }
    &-section {
        top: 2.1rem !important;
        left: -0.5rem !important;
    }
}

@media (max-width: $screen-sm-screen) {
    .view-booking {
        .status {
            strong {
                font-size: $font-size-large;
            }
        }
        &-shipment-detail {
            .customer-detail {
                padding-right: 1rem !important;
            }
            .customer-name {
                padding-left: 1rem !important;
            }

            &-btn {
                width: 100%;
            }
        }

        &-document {
            .list-group {
                &-item {
                    flex-direction: column;
                    .upload-documents {
                        flex-direction: column;
                        align-items: start !important;

                        span {
                            margin-top: 0.5rem;
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}
// this change for HM-12156
.statusView {
    max-width: 10rem;
}
