<div class="add-container modal-content">
  <div class="modal-header pb-2 pt-2">
    <h4 class="modal-title">You have {{totalCount}} {{totalCount > 1 ? 'containers' : 'container'}} in this booking
      <small class="d-flex small-text">Please provide container number for each</small>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <div class="list" >
      <ng-container *ngFor="let item of containerDetails.BookingContainerDetail">
        <h4 class="modal-label">{{item.ContainerSpecDesc}}</h4>
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-6" *ngFor="let container of item.parsedJsonContainerInfo">
            <div class="form-group">
              <label for="Container1">Container {{container.SerialNumber}}</label>
              <input [disabled]="containerDetails?.ShippingStatus?.toLowerCase() === 'completed'" type="text"
                class="form-control" [minlength]="11" [maxLength]="11" [(ngModel)]="container.ContainerNo"
                placeholder="eg: A1001XW2323" />
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- <h4 class="modal-label mt-2">40' Open Top</h4> -->
    <div class="row" *ngIf="containerDetails?.ShippingStatus?.toLowerCase() !== 'completed'">
      <div class="col-12">
        <button type="submit" class="btn btn-primary hvr-sweep-to-right pull-right submit-btn"
          (click)="saveContainer()">Submit </button>
      </div>
    </div>

  </div>
</div>