<div class="user-modal animated fadeIn">
  <div class="modal-header">
    <h4 class="user-modal-title">Digital Profile Setup Complete</h4>
    <a class="pointer crossIcon" (click)="closeModal()">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
    </a>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <p>Your Digital Logistics Website is ready:<br>
        <a href="{{portalURL}}" style="font-weight: bold;text-decoration: underline !important;" target="_blank">
          {{portalURL}}
        </a>
      </p>
      <br>
      <!-- Your customer facing portal link is being prepared and will be ready within 24-48 hours. You will receive an email
      once it's activated: <br>
      <span style="font-weight: bold;text-decoration: underline !important;">
        hashmove.com/{{userName}}
      </span>
      <br> -->

      <button *ngIf="!loading" class="btn btn-primary hvr-sweep-to-right mt-1" (click)="onConfirmClick()">Proceed</button>
      <button *ngIf="loading" class="btn btn-primary">
        <i class="fa fa-spinner fa-spin"></i>
      </button>
    </div>
  </div>
</div>