@import "../../../../assets/scss/_variables";

.updatePassword {
    .PasswordHintText {
        top: 1.2rem;
        display: block;
        background: $white-color;
        color: #000;
        padding: 20px;
        margin: 0;
        width: 100%;
        position: relative;
        transition: 0.2s;
        border-radius: 0.5rem;
        filter: drop-shadow(0px -2px 1px #ddd);
        margin-top: -1.25rem;
        border: solid 1px #ddd;

        &::before {
            position: absolute;
            top: -20px;
            left: 2%;
            content: "";
            border-top: 10px solid transparent;
            border-bottom: 10px solid $white-color;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            filter: drop-shadow(0px -2px 1px #ddd);
        }

        p {
            padding: 5px 0px;
            font-size: 0.75rem;
            margin: 0;
            color: #b4b8bd;
            text-align: start !important;
            font-family: $font-proxima;
        }
        /* Add a green text color and a checkmark when the requirements are right */
        .valid-text {
            color: $secondary-color !important;
            padding-left: 8px;
        }
        /* Add a red text color and an "x" when the requirements are wrong */
        .invalid-text {
            color: $secondary-grey;
            padding-left: 10px;
        }
        .fa {
            margin-right: 10px;
        }
    }
    .user-modal {
        .modal-header {
            padding: 10px 32px;
            background: $modal-header-background;
            display: block;
            h4 {
                margin: 0px;
                text-shadow: 0px 0px $text-color-default;
                font-size: 22px;
                margin-top: 4px;
                font-weight: 400;
                font-family: "pragmatica", sans-serif;
            }
            p {
                font-size: 14px;
                font-weight: 300;
                margin-top: 4px;
                margin-bottom: 0px;
            }
            a.crossIcon {
                position: absolute;
                right: 8px;
                top: 4px;
                width: 14px;
                height: 14px;
                img {
                    width: 100%;
                }
            }
        }
        .modal-body {
            padding: 25px 32px;
            .form-component {
                margin: 15px 0px;
                .form-group {
                    margin-bottom: 20px;
                    p.formError {
                        position: absolute;
                        bottom: -35px;
                        color: $danger-color;
                        font-size: $font-size-medium;
                    }
                    label {
                        font-size: 15px;
                        font-weight: 300;
                        margin-bottom: 15px;
                        text-shadow: 0px 1px $text-color-default;
                    }
                    input {
                        height: 50px;
                        border: 1px solid $input-border;
                        color: $text-color-default;
                        font-size: $font-size-medium;
                        padding-left: 15px;
                        font-weight: 100;
                        &.fieldError {
                            border-color: $danger-color;
                            transition: ease-in 0.8s;
                        }
                    }
                    input[autocomplete="new-password"] {
                        padding-right: 45px;
                    }
                    input:focus {
                        border-color: $primary-color;
                        transition: ease-in 0.8s;
                    }
                }
                .btn {
                    font-size: $font-size-large;
                    font-family: $font-proxima !important;
                    font-weight: $font-proxima-weight-semibold;
                    padding: 12px 50px;
                    color: $white-color;
                    background: $secondary-color;
                    text-transform: uppercase;
                    border-radius: 2px;
                    border: 0;
                    &.full-width-btn {
                        width: 100%;
                    }
                    &:disabled {
                        cursor: no-drop;
                        border: 0;
                        background: $btn-disable-background !important;
                        color: $btn-disable-color !important;
                        border-radius: 2px;
                        &:before {
                            background: $btn-disable-background !important;
                            color: $btn-disable-color !important;
                        }
                    }
                    // &:before {
                    //     background: $secondary-color !important;
                    // }
                }
                i.fa.fa-eye {
                    position: absolute;
                    top: 62px;
                    right: 30px;
                    font-size: 16px;
                    color: $text-color-default;
                    &.black {
                        color: $text-color-default;
                    }
                    &.grey {
                        color: #afafaf;
                    }
                }
                .update-btn {
                    padding: 0px;
                    margin-top: 40px;
                    .btn {
                        margin-bottom: 25px;
                        font-family: "proxima-nova", sans-serif;
                    }
                }
            }
        }
    }
}
