<!-- User login Modal -->
<div class="updatePassword">
  <div class="user-modal animated fadeIn">
    <div class="modal-header">
      <h4 class="user-modal-title">Change Your Password?</h4>
      <p>Manage your account detail.</p>
      <a class="pointer crossIcon" (click)="closeModal()">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
      </a>
    </div>
    <div class="modal-body">
      <form class="form-component" autocomplete="false" novalidate [formGroup]="updatePassForm"
        (ngSubmit)="updatePassword(updatePassForm.value)">

        <!-- input row -->
        <div class="row form-group">
          <div class="col">
            <label>Password</label>
            <i class="fa fa-eye pointer" aria-hidden="true" [ngClass]="colorEye" (click)=confirmPassword($event)></i>
            <input type="password" class="form-control" [ngClass]="(passwordError)? 'fieldError': ''"
              autocomplete="new-password" placeholder="Enter your unique password" [(ngModel)]="newPass"
              (focus)="showPassValidator = true" (focusout)="showPassValidator = false"
              (ngModelChange)="onNewPassChange($event)" [ngModelOptions]="{standalone: true}">
            <div class="d-flex flex-column">
              <ng-container *ngIf="(showPassValidator)">
                <div id="PasswordHintMessage" class="PasswordHintText">
                  <div class="d-flex align-items-baseline">
                    <img class="icon-size-14"
                      src="../../../../assets/images/icons/{{ newPasswordStatus?.lengthValid?'icon_success_blue.svg':'icon_info2.svg'}}" />
                    <p class="d-flex flex row align-items-center animated fadeIn mt-0"
                      [ngClass]="newPasswordStatus?.lengthValid?'valid-text':'invalid-text'">
                      Password must be atleast 8 characters
                    </p>
                  </div>
                  <div class="d-flex align-items-baseline">
                    <img class="icon-size-14"
                      src="../../../../assets/images/icons/{{ newPasswordStatus?.upperCaseValid?'icon_success_blue.svg':'icon_info2.svg'}}" />
                    <p class="d-flex flex row align-items-center animated fadeIn mt-0"
                      [ngClass]="newPasswordStatus?.upperCaseValid?'valid-text':'invalid-text'">
                      Password must contain atleast 1 uppercase character
                    </p>
                  </div>
                  <div class="d-flex align-items-baseline">
                    <img class="icon-size-14"
                      src="../../../../assets/images/icons/{{ newPasswordStatus?.lowerCaseValid?'icon_success_blue.svg':'icon_info2.svg'}}" />
                    <p class="d-flex flex row align-items-center animated fadeIn mt-0"
                      [ngClass]="newPasswordStatus?.lowerCaseValid?'valid-text':'invalid-text'">
                      Password must contain atleast 1 lowercase character
                    </p>
                  </div>
                  <div class="d-flex align-items-baseline">
                    <img class="icon-size-14"
                      src="../../../../assets/images/icons/{{ newPasswordStatus?.digitValid?'icon_success_blue.svg':'icon_info2.svg'}}" />
                    <p class="d-flex flex row align-items-center animated fadeIn mt-0"
                      [ngClass]="newPasswordStatus?.digitValid?'valid-text':'invalid-text'">
                      Password must contain atleast 1 numeric (0-9) character
                    </p>
                  </div>
                  <div class="d-flex align-items-baseline">
                    <img class="icon-size-14"
                      src="../../../../assets/images/icons/{{ newPasswordStatus?.specialCharValid?'icon_success_blue.svg':'icon_info2.svg'}}" />
                    <p class="d-flex flex row align-items-center animated fadeIn mt-0"
                      [ngClass]="newPasswordStatus?.specialCharValid?'valid-text':'invalid-text'">
                      Password must contain atleast special character
                    </p>
                  </div>
                </div>
              </ng-container>
            </div>

          </div>
        </div>
        <!--/ input row -->

        <!-- button row -->
        <div class="col update-btn">
          <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right full-width-btn hvr-sweep-to-right"
              [disabled]="!updatePassForm.controls['updatePassword'].value">
              Update Password
            </button>
          </div>
        </div>
        <!--/ button row -->
      </form>
    </div>
  </div>

</div>
<!--/ User login Modal -->