@import '../../../../../assets/scss/_variables'; // Local Variables
$left-nav-icon-width: 20px;
$left-nav-icon-height:20px;
$leftsidebar-h3-color: #c6c8ca;

.user-dashboard-leftsidebar {
  position: sticky;
  max-height: 100%;
  top: 0;
  margin-left: 20px;

  .ic-rotate {
    transform: rotate(90deg);
    // margin-right: 30px;
    transition: ease-in 0.5s;
  }

  .navbar-nav {
    h3 {
      font-size: $font-size-base;
      font-weight: $font-weight-mid;
      color: $leftsidebar-h3-color;
      text-transform: uppercase;
      margin: 0px;
    }

    ul {
      margin-left: 8px;

      li {
        padding: 10px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-link {
          color: $text-color-default;
          font-size: $font-size-large;
          font-weight: $font-weight-mid;
          font-family: $font-proxima;

          img {
            width: $left-nav-icon-width;
            height: $left-nav-icon-height;
            margin-right: 10px;
            vertical-align: sub;
          }

          &.active {
            .menu-text {
              color: $primary-color;
            }
          }
          &.active {
           
          }
          .menu-text.bell-text {
            color: $danger-color !important;
          }

          &:hover {
            color: $primary-color;
          }
        }
        .submenu-text {
          color: $text-color-default;
          font-size: $font-size-large;
          font-weight: $font-weight-mid;
          font-family: $font-proxima;

          &:hover,&:active {
            color: $primary-color !important;
          }
        }
        .submenu-icon {
          width: 20px;
          height: 20px;
          margin-right: 14px;
          vertical-align: sub;
        }

        .badge {
          background-color: $color-topmenu;
          font-weight: normal;
          margin-right: 4rem;
          border-radius: 20px;
          font-size: 0.8125rem !important;
          min-width: 22px;
          min-height: 20px;
          line-height: 12px;
          padding: 5px;
        }
        
        .custom-submenu {
          transform: translate(0px, 0px);
          border-radius: 0.25rem;
          // box-shadow: 0 6px 12px #e5e5e5;
          box-shadow: 0px 8px 27px #b9b7b7;
          border: 0px;
          margin-left: 1.7rem;          
          padding-inline-start: 0px;
          min-width: 12rem;
          padding: 0.5rem;
          margin-top: 0.25rem;
            li {
              padding: 0;
              a {
                font-family: $font-proxima;
                font-weight: $font-weight-normal;
                display: block;
                padding: 0.5rem 1rem;
                clear: both;                  
                line-height: 1.42857143;
                color: #333;
                white-space: nowrap;
                z-index: 1;              
                text-decoration: none !important;
                width: 100%;
                transition: all 0.5s ease;
                &.menu-text {
                  // border-bottom: solid 0px $primary-color;
                  // border-width: 0px;
                  // -webkit-transform: scaleX(0);
                  // transform: scaleX(0);                        
                  transition: all 0.5s ease;

                    &::before {
                      content: "";
                      position: absolute;
                      left: 0;
                      bottom: -3px;
                      width: 100%;
                      height: 1px;
                      background: #00a2df;
                      -webkit-transform: scaleX(0);
                      transform: scaleX(0);                        
                      transition: all 0.5s ease;
                  }
              } 
              &:hover {
                // background-color: #f5f5f5;
                padding-left: 1.5rem;
                transition: all 0.5s ease;  
                
                .menu-text {
                  color: $primary-color !important;
                  // border-bottom: solid 1px $primary-color;
                  // border-width: 1px;
                  // -webkit-transform: scaleX(0);
                  // transform: scaleX(0);                        
                  // transition: all 0.5s ease;
                  &::before {                      
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;                     
                }
            }                                 
                } 
                                                 
              }
            }            
        }
        // .bell {
        //   margin-right: 4rem;
        //   min-width: 22px;
        //   min-height: 20px;
        //   line-height: 12px;
        //   padding: 5px;
        //   animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both 2000ms infinite;
        // }
        .bell{
          display:block;
          width: 24px;
          height: 24px;
          font-size: 1rem;
          margin:0px auto 0;
          color: $danger-color;
          -webkit-animation: ring 3s .7s ease-in-out infinite;
          -webkit-transform-origin: 50% 3px;
          -moz-animation: ring 3s .7s ease-in-out infinite;
          -moz-transform-origin: 50% 3px;
          animation: ring 3s .7s ease-in-out infinite;
          transform-origin: 50% 4px;
        }
        
        @-webkit-keyframes ring {
          0% { -webkit-transform: rotateZ(0); }
          1% { -webkit-transform: rotateZ(30deg); }
          3% { -webkit-transform: rotateZ(-28deg); }
          5% { -webkit-transform: rotateZ(34deg); }
          7% { -webkit-transform: rotateZ(-32deg); }
          9% { -webkit-transform: rotateZ(30deg); }
          11% { -webkit-transform: rotateZ(-28deg); }
          13% { -webkit-transform: rotateZ(26deg); }
          15% { -webkit-transform: rotateZ(-24deg); }
          17% { -webkit-transform: rotateZ(22deg); }
          19% { -webkit-transform: rotateZ(-20deg); }
          21% { -webkit-transform: rotateZ(18deg); }
          23% { -webkit-transform: rotateZ(-16deg); }
          25% { -webkit-transform: rotateZ(14deg); }
          27% { -webkit-transform: rotateZ(-12deg); }
          29% { -webkit-transform: rotateZ(10deg); }
          31% { -webkit-transform: rotateZ(-8deg); }
          33% { -webkit-transform: rotateZ(6deg); }
          35% { -webkit-transform: rotateZ(-4deg); }
          37% { -webkit-transform: rotateZ(2deg); }
          39% { -webkit-transform: rotateZ(-1deg); }
          41% { -webkit-transform: rotateZ(1deg); }
        
          43% { -webkit-transform: rotateZ(0); }
          100% { -webkit-transform: rotateZ(0); }
        }
        
        @-moz-keyframes ring {
          0% { -moz-transform: rotate(0); }
          1% { -moz-transform: rotate(30deg); }
          3% { -moz-transform: rotate(-28deg); }
          5% { -moz-transform: rotate(34deg); }
          7% { -moz-transform: rotate(-32deg); }
          9% { -moz-transform: rotate(30deg); }
          11% { -moz-transform: rotate(-28deg); }
          13% { -moz-transform: rotate(26deg); }
          15% { -moz-transform: rotate(-24deg); }
          17% { -moz-transform: rotate(22deg); }
          19% { -moz-transform: rotate(-20deg); }
          21% { -moz-transform: rotate(18deg); }
          23% { -moz-transform: rotate(-16deg); }
          25% { -moz-transform: rotate(14deg); }
          27% { -moz-transform: rotate(-12deg); }
          29% { -moz-transform: rotate(10deg); }
          31% { -moz-transform: rotate(-8deg); }
          33% { -moz-transform: rotate(6deg); }
          35% { -moz-transform: rotate(-4deg); }
          37% { -moz-transform: rotate(2deg); }
          39% { -moz-transform: rotate(-1deg); }
          41% { -moz-transform: rotate(1deg); }
        
          43% { -moz-transform: rotate(0); }
          100% { -moz-transform: rotate(0); }
        }
        
        @keyframes ring {
          0% { transform: rotate(0); }
          1% { transform: rotate(30deg); }
          3% { transform: rotate(-28deg); }
          5% { transform: rotate(34deg); }
          7% { transform: rotate(-32deg); }
          9% { transform: rotate(30deg); }
          11% { transform: rotate(-28deg); }
          13% { transform: rotate(26deg); }
          15% { transform: rotate(-24deg); }
          17% { transform: rotate(22deg); }
          19% { transform: rotate(-20deg); }
          21% { transform: rotate(18deg); }
          23% { transform: rotate(-16deg); }
          25% { transform: rotate(14deg); }
          27% { transform: rotate(-12deg); }
          29% { transform: rotate(10deg); }
          31% { transform: rotate(-8deg); }
          33% { transform: rotate(6deg); }
          35% { transform: rotate(-4deg); }
          37% { transform: rotate(2deg); }
          39% { transform: rotate(-1deg); }
          41% { transform: rotate(1deg); }
        
          43% { transform: rotate(0); }
          100% { transform: rotate(0); }
        }

        @media (max-width: $screen-md-screen) {
          .badge, .bell {
            margin-right: 0px;
          }
        }

        &:hover {
          .badge {
            animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;

            @keyframes shake {

              10%,
              90% {
                transform: translate3d(-1px, 0, 0);
              }

              20%,
              80% {
                transform: translate3d(1px, 0, 0);
              }

              30%,
              50%,
              70% {
                transform: translate3d(-2px, 0, 0);
              }

              40%,
              60% {
                transform: translate3d(2px, 0, 0);
              }
            }
          }
        }

       
      }
    }
  }
}
