<div class="user-dashboard-leftsidebar">


  <div class="navbar-nav">

    <div class="leftsidebar-main">
      <h3>
        <span>Main</span>
      </h3>
      <ul class="nav flex-column">
        <ng-container *ngFor="let route of accessRoutes">
          <li *ngIf="route?.ChildMenus?.length > 0;else normalMenu">
            <span class="d-inline-block mt-2">
              <span (click)="route.IsSubOpen = !route.IsSubOpen" class="p-0 pointer d-flex flex-row"><img
                  class="submenu-icon" src="../../../../../assets/images/icons/{{route?.ObjectIconClass}}"
                  alt="Reports">
                <span class="menu-text d-flex flex-row justify-content-between align-items-center">
                  <span class="submenu-text">{{route?.ObjectName}}</span>
                  <img src="../../../../assets/images/icons/icon_arrow_right.svg" alt="direction"
                    class="icon-size-16 ml-2" [ngClass]="{'ic-rotate':route?.IsSubOpen}">
                </span>
                <app-new-feature-alert [hasContainer]="true" [placement]="'right'"
                  [tipMsg]="newAppFeatures.REPORT_PERFORMANCE_MSG"
                  *ngIf="route?.ObjectBL === 'REPORTS' && newAppFeatures?.REPORTS_PERFORMANCE && showPerformance">
                </app-new-feature-alert>
              </span>
              <ul style="list-style: none;" class="custom-submenu animated fadeIn mt-0 ml-1" *ngIf="route?.IsSubOpen">
                <li *ngFor="let subMenu of route?.ChildMenus" class="mt-0 ml-1">
                  <a href="javascript:void(0)" class="nav-link" [routerLink]="[subMenu?.ObjectURL]"
                    [routerLinkActive]="['active']">
                    <img src="../../../../../assets/images/icons/{{subMenu?.ObjectIconClass}}" alt="Analytics">
                    <span class="menu-text">
                      {{subMenu?.ObjectName}}
                    </span>
                    <app-new-feature-alert [placement]="'right'" [tipMsg]="newAppFeatures.REPORT_PERFORMANCE_MSG"
                      *ngIf="subMenu?.ObjectBL ==='PERFORMANCE' && newAppFeatures?.REPORTS_PERFORMANCE && showPerformance">
                    </app-new-feature-alert>
                  </a>
                </li>
              </ul>
            </span>
          </li>
          <ng-template #normalMenu>
            <li *ngIf="route?.ObjectURL || route?.ChildMenus?.length > 0" (click)="resetSubMenus()">
              <a href="javascript:void(0)" class="nav-link" [routerLink]="[route?.ObjectURL]"
                [routerLinkActive]="['active']">
                <i class="icon-svg">
                  <img src="../../../../../assets/images/icons/{{route?.ObjectIconClass}}" alt="" class="icon">
                </i>
                <span class="menu-text">
                  {{route?.ObjectName}}
                </span>
                <app-new-feature-alert [placement]="'right'" [tipMsg]="newAppFeatures.SPOT_RATE_MSG"
                  *ngIf="route?.ObjectBL === 'SPOTRATES' && newAppFeatures?.SPOT_RATE">
                </app-new-feature-alert>
                <app-new-feature-alert [hasContainer]="true" [placement]="'right'"
                  [tipMsg]="newAppFeatures.ACCOUNTS_INVOICE_MSG"
                  *ngIf="route?.ObjectBL === 'INVOICES' && newAppFeatures?.ACCOUNTS_INVOICE">
                </app-new-feature-alert>
              </a>
              <span class="badge badge-primary"
                *ngIf="route?.ObjectBL === 'SPOTRATES' && spotRateBookings > 0">{{spotRateBookings}}</span>
              <span class="badge badge-primary"
                *ngIf="route?.ObjectBL === 'BOOKINGS' && currentBookingsCount > 0">{{currentBookingsCount}}</span>
            </li>
          </ng-template>
        </ng-container>
      </ul>
    </div>
    <div class="leftsidebar-help mt-4" *ngIf="settingsRoutes?.length > 0">
      <h3>
        <span>Help</span>
      </h3>
      <ul class="nav flex-column leftsidebar-column">
        <ng-container *ngFor="let route of settingsRoutes">
          <li *ngIf="route?.ChildMenus?.length > 0;else normalMenu">
            <span class="d-inline-block mt-2">
              <span (click)="route.IsSubOpen = !route.IsSubOpen" class="p-0 pointer d-flex flex-row"><img
                  class="submenu-icon" src="../../../../../assets/images/icons/{{route?.ObjectIconClass}}"
                  alt="Reports">
                <span class="menu-text d-flex flex-row justify-content-between align-items-center">
                  <span class="submenu-text">{{route?.ObjectName}}</span>
                  <img src="../../../../assets/images/icons/icon_arrow_right.svg" alt="direction"
                    class="icon-size-16 ml-2" [ngClass]="{'ic-rotate':route?.IsSubOpen}">
                </span>
              </span>
              <ul style="list-style: none;" class="custom-submenu animated fadeIn mt-0 ml-1" *ngIf="route?.IsSubOpen">
                <li *ngFor="let subMenu of route?.ChildMenus" class="mt-0 ml-1">
                  <a href="javascript:void(0)" class="nav-link" [routerLink]="[subMenu?.ObjectURL]"
                    [routerLinkActive]="['active']">
                    <img src="../../../../../assets/images/icons/{{subMenu?.ObjectIconClass}}" alt="Analytics">
                    <span class="menu-text">
                      {{subMenu?.ObjectName}}
                    </span>
                  </a>
                </li>
              </ul>
            </span>
          </li>
          <ng-template #normalMenu>
            <li *ngIf="route?.ObjectURL || route?.ChildMenus?.length > 0" (click)="resetSubMenus()">
              <a href="javascript:void(0)" class="nav-link" [routerLink]="[route?.ObjectURL]"
                [routerLinkActive]="['active']">
                <i class="icon-svg">
                  <img src="../../../../../assets/images/icons/{{route?.ObjectIconClass}}" alt="" class="icon">
                </i>
                <span class="menu-text">
                  {{route?.ObjectName}}
                </span>
              </a>
            </li>
          </ng-template>
        </ng-container>
      </ul>
    </div>
  </div>
</div>