@import "../../../../../assets/scss/_variables";
.partners {
  .new-vendor {
    font-size: $font-size-large;
    color: $secondary-color;
    font-family: $font-proxima;
    font-weight: $font-proxima-weight-semibold;
    margin-top: 0.25rem;
  }

  .cust-count {
    svg {
      height: 1.2rem;
      width: 1.5rem;
      fill: $btn-bg-primary;
      margin-bottom: 0.2rem;
    }
  }

  .btn-refresh {
    margin-left: 0.75rem;
    margin-top: 0.5rem;

    .icon-svg {
      svg {
        fill: $secondary-color;
        width: 1.5rem;
        height: 1.5rem;

        &:hover {
          fill: $secondary-color-dark;
          transition: 0.8s;
          overflow: visible;
          transform: rotate(-180deg);
        }
      }
    }
  }

  .vendor-search {
    input {
      background: $white-color url("../../../../../assets/images/icons/icon-search.svg") no-repeat right 15px center;
      background-size: 15px;
      outline: 0;
      box-shadow: none;
      font-family: $font-proxima;
      font-size: $font-size-medium;
      color: $color-menuheading-black;
      padding-right: 2.5rem;
      border: 1px solid $grey-border;
      width: 315px;
      height: 35px;
      padding-left: 1rem;
      &::placeholder {
        color: $place-holder-color;
        font-size: $font-size-medium;
        font-family: $font-proxima;
      }
    }
  }

  .sortby {
    .label {
      font-family: $font-proxima;
      font-size: $font-size-base;
      font-weight: $font-weight-mid;
      color: $color-topmenu;
    }
  }

  .dropdown-toggle {
    background: transparent;
    font-family: $font-proxima;
    color: $footer-border;
    border: none;
    text-transform: uppercase;
    font-size: $font-size-base;
    font-weight: 500;
  }

  .table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;

    thead {
      border: 1px solid #e5e5e5;
      background: #fff;

      th {
        font-family: $font-proxima;
        font-size: 0.875rem;
        font-weight: 400;
        color: #738593;
        border: 0;
        text-transform: uppercase;
        background: $data-table-header-bg;
        padding: 0.75rem 1.25rem;
      }
    }

    tbody {
      border: 1px solid #e5e5e5;
      border-top: 0;

      tr {
        border-bottom: 1px dashed #e5e5e5;
        -webkit-transition: 0.8s;
        transition: 0.8s;
        background: #fff;

        td {
          padding: 0.75rem 1.25rem;
          border: 0;
          vertical-align: middle;
          font-family: $font-proxima;

          .flag-container {
            float: left;
            border: 1px solid #3f5165;
            margin-right: 10px;
            display: flex;
            margin-top: 5px;

            img {
              width: 16px;
              height: 12px;
            }
          }

          .sub-detail {
            font-size: 0.8125rem;
            color: $place-holder-color;
            font-family: $font-proxima;
            display: block;
            line-height: 1;
            font-weight: $font-weight-normal;
          }

          &.shipping-line {
            color: #00a0df;
            font-weight: 500;

            img {
              max-width: 32px;
              min-width: 32px;
              max-height: 32px;
              object-fit: contain;
            }
          }
          /deep/ ngb-popover-window {
            width: 20rem;
            border: none;
            // top: 66px !important;

            .arrow {
              &:after,
              &:before {
                border-bottom-color: $white-color;
              }
            }

            .popover {
              border: 0;

              &-body {
                background: $white-color;
                box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
                // height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-radius: 4px;

                .contact-popup {
                  text-align: left;

                  a {
                    font-size: $font-size-large;
                    font-family: $font-proxima;
                    margin-bottom: 5px;
                    display: block;
                    min-width: 180px;
                    color: $dark-grey-blue;
                  }

                  p {
                    font-size: $font-size-large + 0.125rem;
                    font-family: $font-proxima;
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
          /*-------Action Items -------*/
          .action-text {
            font-family: $font-proxima;
            font-size: $font-size-base;
            font-style: italic;
            color: $secondary-grey;
            margin-bottom: 0;
            margin-top: 0.125rem;
          }
          a {
            i.icon {
              &-contact {
                svg {
                  height: 1.5rem;
                  width: 1.5rem;
                  fill: $btn-bg-primary;
                }
              }
              &-yes {
                svg {
                  height: 1.5rem;
                  width: 1.5rem;
                  margin-right: 0.45rem;
                  fill: $btn-bg-primary;
                }
              }
              &-no {
                svg {
                  height: 1.5rem;
                  width: 1.5rem;
                  margin-right: 0.45rem;
                  fill: $btn-bg-danger;
                }
              }
            }
          }
          &:last-child {
            min-width: 10rem;
          }
        }
      }
    }
  }

  .sort-filter {
    display: flex;
    color: $dark-grey-blue;
    justify-content: flex-end;
    p {
      padding: 0.75rem;
      font-size: $font-size-base;
      font-weight: $font-weight-mid;
      margin: 0;
    }
    .sortFilter {
      top: 2 !important;
      background: $white-color;
      border: 1px solid $primary-color;
      box-shadow: 0px 0px 1px 0px $primary-color;
      // width: 100%;
      ul {
        max-height: 180px;
        overflow-y: auto;
        .list-group-item {
          padding: 5px 12px;
          border: unset;
          &:hover {
            background: $inner-background-color;
            cursor: pointer;
          }
          img {
            margin-right: 10px;
          }
        }
      }
    }
    .sort-item {
      border: unset;
      color: $text-color-default;
      font-size: $font-size-medium;
      font-weight: $font-weight-mid;
      justify-content: space-between;
      display: flex;
      table {
        margin: 0;
        width: 16.5rem;
        tr {
          &.active {
            background: $inner-background-color;
          }
          &:hover {
            background: $inner-background-color;
          }
          td {
            border: unset;
            i {
              color: $color-icon-grey;
              &.active {
                color: $secondary-color;
              }
            }
          }
        }
      }
    }
    .country-filter {
      margin-right: 12px;
      .dropdown-toggle:after {
        margin-left: 0.5em !important;
        font-size: $font-size-large;
        margin-top: 1px;
        vertical-align: middle !important;
      }
      .icon-flag {
        height: 14px;
        width: 21px;
        display: inline-block;
        margin-top: 0px;
        margin-right: 5px;
      }
      span {
        font-size: $font-size-base;
        font-family: $font-proxima;
      }
    }
    .sort-by {
      margin-left: 1.5em !important;
      font-weight: $font-weight-mid;
      .dropdown-toggle:after {
        margin-right: 0em;
        margin-left: 0.9em !important;
        font-size: $font-size-large;
        margin-top: 1px;
        vertical-align: middle !important;
      }
      span {
        font-size: $font-size-base;
        font-family: $font-proxima;
      }
    }
    i {
      cursor: pointer;
    }
  }
}
.number-of-customer 
{
        font-size: $font-size-base;
        font-family: $font-proxima;
        color: $dark-grey-blue;
        text-transform: uppercase;
        font-weight: $font-weight-mid;
}
