@import "../../../../../assets/scss/_variables";

.warehouseSetup {
    .viewWarehouseDetail {

        // position: relative;
        .card {
            border: 1px solid $left-sidebar-border-color;
            transition: all ease 0.7s;
            border-radius: 0;
            background: none;
            border: 0;

            &-title {
                font-size: $font-size-large + 0.25rem;
            }

            &-body {
                padding: 23px 20px 25px 20px;

                .gallery-section {
                    border: 1px solid $grey-border;
                    position: relative;
                    width: 180px;
                    text-align: center;
                    .video-icon {
                        position: absolute;
                        bottom: 0;
                        padding: 6px 10px;
                        background: #ffffffd6 !important;
                        border-radius: 0px 3px 0px 0px;

                        a {
                            color: $secondary-color;
                        }
                    }

                    img,
                    video {
                        max-width: 100%;
                        height: 136px;
                    }

                    &-item {
                        position: absolute;
                        top: 8px;
                        right: 5px;
                        background: #000000b0;
                        color: $color-white;
                        border-radius: 12px;
                        font-weight: $font-weight-bold;
                        font-family: $font-proxima;
                        font-size: $font-size-base;
                        padding: 0.21rem 0.68rem;
                    }
                }

                .Wcontent {
                    padding-left: 0;

                    @media only screen and (max-width: $screen-lg-screen) {
                        padding-left: 2.5rem;
                    }

                    @media only screen and (max-width: $screen-xs-screen) {
                        padding-left: 1rem;
                    }

                    .warehousing-content {
                        color: $white-color;
                        display: flex;
                        flex-direction: column;

                        .list-group {
                            flex-direction: row;
                            display: flex;

                            li {
                                border: 0px;
                                padding: 0;
                                display: flex;
                                font-size: $font-size-medium;
                                font-family: $font-proxima;
                                color: $text-color-default;
                                line-height: 1;
                                margin-right: 1rem;
                                background: none;
                            }
                        }

                        .warehouse-features {
                            .icons {
                                margin-right: 15px;

                                img {
                                    width: 1.1rem;
                                    filter: grayscale(100%);
                                    opacity: 0.5;
                                }

                                .warehouse-features-active {
                                    img {
                                        filter: grayscale(0%);
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        .warehousing-desc {
                            font-family: $font-proxima;
                            font-size: $font-size-medium;
                            color: $secondary-text-color;
                        }
                    }
                }

                .rate-btn {
                    margin-top: 12px;
                    width: 188px;

                    @media only screen and (max-width: $screen-lg-screen) {
                        width: auto;
                    }
                }

                .noti {
                    font-family: $font-proxima;
                    font-size: $font-size-base;
                    color: $color-topmenu;
                    position: relative;
                    padding-left: 2rem;
                    margin-top: 1.5rem;
                    width: 100%;
                }
            }
        }
    }

    .warehouse {
        &-info {
            .sub-title {
                &.sub-heading {
                    font-size: $font-size-medium;
                    line-height: 1;
                }
            }

            h5.small-head {
                font-size: $font-size-large;
                font-weight: normal;
            }

            .document-Info {
                margin-bottom: 1.2rem;

                .uploaded-file {
                    border: 1px solid $secondary-color;
                    border-radius: 3px;
                }

                .file-uploader {
                    border: 1px dashed #e1d8d8;
                    border-radius: 4px;
                    height: 145px;
                    background-color: white;

                    .drag-support {
                        color: $text-grey;
                        font-size: $font-size-medium;
                        position: relative;
                    }

                    .browse-span {
                        color: $secondary-color;
                        font-weight: 500;
                    }

                    text-align: center;

                    img {
                        margin-top: 20px;
                    }
                }

                .uploadedDocx {
                    margin-top: 1rem;
                    padding: 0 5px;

                    .uploaded-images {
                        display: table;

                        .display-upload {
                            position: relative;
                            height: 200px;
                            z-index: 0;
                            border: 1px solid $input-border;
                            background: $color-white;
                            border-radius: 4px;
                            text-align: center;
                            display: table-cell;
                            vertical-align: middle;
                            background-image: url("../../../../../assets/images/img-canvas.png");
                            background-size: 20px;

                            img,
                            video {
                                border-radius: 4px;
                                max-width: 100%;
                                max-height: 100%;
                            }

                            .delete-icon {
                                position: absolute;
                                top: -10px;
                                right: -8px;
                                min-height: auto;
                                background: $white-color;
                                padding: 3px;
                                border-radius: 50%;
                                width: 23px;
                                height: auto;
                                border: none;
                            }

                            &:hover {
                                .delete-icon {
                                    animation-name: pulse;
                                    animation-fill-mode: both;
                                    animation-duration: 1s;
                                    animation-iteration-count: infinite;
                                }
                            }
                        }
                    }
                }

                &.removeBorder {
                    border: none;
                }
            }

            agm-map {
                height: 336px;
                width: 100%;
                margin-top: 2.5rem;
                display: inline-block;
            }

            .add-icon {
                span {
                    color: $secondary-grey;
                    font-family: $font-proxima;
                    font-size: $font-size-medium;
                    position: absolute;
                    margin-left: 1.5rem;
                }

                img {
                    width: 16px;
                    height: 16px;
                    margin-top: 2px;
                }
            }
        }
    }

    .percent-sign {
        position: absolute;
        right: 1.5rem;
        top: 4.3rem;
        font-family: $font-proxima;
        color: $text-color-default;
        font-size: $font-size-large;
    }

    .city-dropdown {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;

        >.flag-container {
            width: 16px;
            height: 12px;
            position: absolute;
            left: 20px;
            display: flex;

            img {
                width: 16px;
                height: 12px;
                border: 1px solid $primary-grey;
            }
        }

        input {
            &.routeSelected {
                padding-left: 2.8rem;
            }
        }

        &.currency {
            ngb-typeahead-window {
                max-height: 194px;
                top: 43px !important;
            }

            input {
                background: none;
                height: 2.5rem;
                line-height: 2.5;
                border: none;

                &:focus {
                    border: none;
                }
            }
        }
    }

    // Add warehouse css
    .Add-warehouse {
        &-rates {

            .grid-delete,
            .rate-validate {
                font-family: $font-proxima;
                font-size: $font-size-medium;
                color: $danger-color;
                font-weight: $font-weight-mid;
                display: flex;
                align-items: center;
                transition: 0.8s;

                &.no-drop {
                    filter: grayscale(1) opacity(0.5);
                    cursor: no-drop;
                }

                &:hover {
                    .delete-icon {
                        overflow: visible;

                        g {
                            rect {
                                transform: rotate(-25deg);
                                transition: 0.5s;
                            }
                        }
                    }

                    .edit-validity-icon {
                        overflow: visible;

                        g {
                            transform: rotateY(180deg);
                            transform-origin: center;
                            transition: 0.5s;
                        }
                    }
                }
            }

            .rate-validate {
                color: $secondary-color;

                &.no-drop {
                    filter: grayscale(1) opacity(0.9);
                }
            }

            .rate-dur {
                color: $color-topmenu;
                animation: 1.2s ease-in-out infinite alternate-reverse fadeIn;
                font-family: $font-proxima;
                font-weight: $font-weight-mid;
            }
        }

        a.addAnother {
            color: $primary-color;
            font-family: $font-proxima;
            font-weight: $font-weight-mid;
            font-size: $font-size-medium;
            position: absolute;
            padding: 1rem 5rem 1rem 1rem;
            bottom: -4.1rem;
            // left: 1px;
            z-index: 1;
            animation-delay: 0.1s;
            display: contents;

            img {
                margin-right: 0.5rem;
            }

            &.withScroll {
                bottom: -2.8rem;
                display: inline-block;
                z-index: 999;
            }
        }

        &-link {
            span {
                color: $secondary-grey;
                text-decoration: none;
                font-size: $font-size-medium;
                font-family: $font-proxima;
                text-transform: uppercase;
            }

            img {
                position: relative;
                top: -2px;
            }
        }

        button.btn-outline-primary {
            font-size: $font-size-large;
            color: $white-color;
            text-transform: uppercase;
            padding: 0.75rem 1.45rem;

            &:disabled {
                font-weight: $font-proxima-weight-semibold;
            }
        }
    }

    @media (max-width: $screen-xs-screen) {
        .documentInfo {
            .file-uploader {
                height: 175px !important;
            }
        }

        // .Add-warehouse {
        //     button {
        //         padding: 0.75rem 0.5rem !important;
        //     }
        // }
    }

    .commission-rates {
        .checkbox {
            label {
                font-size: 0.875rem !important;
                line-height: 1.5;
            }
        }
    }
    .btn-refresh {    

    color: $primary-color;
    font-family: $font-proxima;
    font-size: $font-size-medium;
    margin-top: 0.1rem;

    .icon-svg {
      svg {
        fill: $primary-color;
        width: 1rem;
        height: 1rem;        
      }
    }

    &:hover {
      color: $dark-blue-hover;
      transition: 0.8s;         
      overflow: visible;

      svg {
        transform: rotate(-180deg);        
        transition: 0.5s;
      }
       
    }
  }
  p.formError {
    line-height: 1;
    margin-top: 4px;
    width: 100%;
    color: $danger-color;
    font-size: $font-size-medium - 0.025;
    text-align: left;
}
.inputError {
    .input-group-text {
      border-color: $danger-color !important;
    }

    input {
      border-color: $danger-color !important;
      border-left: none !important;
    }
  }
}