<app-loader-main *ngIf="loading"></app-loader-main>
<div class="seaRates-modal animated fadeIn">
  <div class="modal-header">
    <h4 class="provider-modal-title">Add / Update Rates</h4>
    <a class="pointer crossIcon" (click)="closePopup()">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
    </a>
  </div>
  <div class="modal-body bg-light" [ngClass]="{'warehouseActive': selectedData.forType === 'WAREHOUSE'}">
    <div class="row bg-white popup-white pb-0"
      *ngIf="(selectedData.forType !== 'FCL-Ground' && selectedData.forType !== 'FTL')">
      <div class="col-12" *ngIf="selectedData.forType !== 'WAREHOUSE'">
        <h5 class="model-sub-head mt-4">Route Info</h5>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12" *ngIf="selectedData.forType == 'FCL'">
        <div class="form-group shippingline">
          <label>Shipping Line</label>
          <div class="shippingline-container" *ngIf="selectedShipping && selectedShipping.imageName">
            <img src="{{getShippingLineImage(selectedShipping.imageName)}}" alt="">
          </div>
          <input type="text" class="form-control" #carrier
            [ngClass]="selectedShipping && selectedShipping.imageName ? 'pl-5' : ''" placeholder="e.g: Maersk Shipping"
            [(ngModel)]="selectedShipping" [ngbTypeahead]="shippings" [resultTemplate]="st" [inputFormatter]="formatter"
            [disabled]="selectedData.mode === 'publish'">
          <ng-template #st let-r="result">
            <div class="d-inline-block icon-size-16 mr-2">
              <img src="{{getShippingLineImage(r.imageName)}}" width="16px" height="16px">
            </div>
            <ngb-highlight [result]="r.title"></ngb-highlight>
          </ng-template>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12" *ngIf="selectedData.forType === 'WAREHOUSE'">
        <div class="form-group">
          <label>Warehouse Type</label>
          <select class="form-control" name="" [(ngModel)]="storageType" [disabled]="disableWarehouse">
            <option value="">Please Select</option>
            <option [value]="type.codeVal" *ngFor="let type of warehouseTypes">{{type.codeValDesc}}</option>
          </select>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12" *ngIf="selectedData.forType !== 'WAREHOUSE'">
        <div class="form-group">
          <label>Port of Origin</label>
          <div class="origin">
            <div class="flag-container">
              <img *ngIf="filterOrigin && filterOrigin.CountryCode"
                src="{{'../../../../../assets/images/flags/4x3/' + (filterOrigin.CountryCode | lowercase) + '.svg'}}"
                type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
            </div>
            <input #origin class="form-control" [(ngModel)]="filterOrigin" placeholder="e.g: Dubai" type="text"
              [ngClass]="{'routeSelected': filterOrigin && filterOrigin.CountryCode}" [ngbTypeahead]="ports"
              [resultTemplate]="rt" [inputFormatter]="portsFormatter" [disabled]="selectedData.mode === 'publish'" />
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12" *ngIf="selectedData.forType !== 'WAREHOUSE'">
        <div class="form-group">
          <label>Port of Destination</label>
          <div class="destination">
            <div class="flag-container">
              <img *ngIf="filterDestination && filterDestination.CountryCode"
                src="{{'../../../../../assets/images/flags/4x3/' + (filterDestination.CountryCode | lowercase) + '.svg'}}"
                type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
            </div>
            <input #destination placeholder="e.g: Karachi" [(ngModel)]="filterDestination" type="text"
              class="form-control" [ngClass]="{'routeSelected': filterDestination && filterDestination.CountryCode}"
              [ngbTypeahead]="ports" [resultTemplate]="rt" [inputFormatter]="portsFormatter"
              [disabled]="selectedData.mode === 'publish'" />
          </div>
          <ng-template #rt let-r="result">
            <div class="d-flex">
              <div class="flag-container mr-1">
                <img src="{{'../../../../../assets/images/flags/4x3/' + (r.CountryCode | lowercase) + '.svg'}}"
                  class="">
              </div>
              <ngb-highlight [result]="r.PortName"></ngb-highlight>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row bg-white popup-white">
      <div class="col-xl-4 col-lg-4 col-md-4 col-12" *ngIf="selectedData.forType !== 'WAREHOUSE'">
        <div class="form-group">
          <label>Cargo Type</label>
          <select #cargo class="form-control" [disabled]="selectedData.mode === 'publish'"
            [(ngModel)]="selectedCategory" (change)="cargoTypeChange(selectedCategory)">
            <option [value]="null" disabled>--Select--</option>
            <option *ngFor="let cargo of allCargoType" [value]="cargo.ShippingCatID">{{cargo.ShippingCatName}}</option>
          </select>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-12"
        *ngIf="selectedData.forType == 'FCL' || selectedData.forType == 'FCL-Ground' || selectedData.forType == 'FTL'">
        <div class="form-group">
          <label *ngIf="selectedData.forType == 'FCL'">Container Size</label>
          <label *ngIf="selectedData.forType == 'FCL-Ground' || selectedData.forType == 'FTL'">Truck Size</label>
          <select class="form-control" [(ngModel)]="selectedContSize" [disabled]="selectedData.mode === 'publish'"
            (change)="containerChange(selectedContSize)">
            <option [value]="null" disabled>--Select--</option>
            <option *ngFor="let container of allContainers" [value]="container.ContainerSpecID">
              {{container.ContainerWithSize}}</option>
          </select>
        </div>
      </div>
      <div *ngIf="selectedData.forType !== 'WAREHOUSE'" class="col-xl-4 col-lg-4 col-md-4 col-12">
        <div class="form-group shippingline">
          <label>Partner (Optional)</label>
          <input type="text" class="form-control" placeholder="e.g: Partner Name" [(ngModel)]="selectedPartner"
            [ngbTypeahead]="_partners" [resultTemplate]="partnerTmp" [inputFormatter]="formatter"
            [disabled]="selectedData?.mode === 'publish' || (!partnersList?.length || partnersList?.length === 0)">
          <ng-template #partnerTmp let-r="result">
            <span>{{r.code}}, &nbsp;</span>
            <ngb-highlight [result]="r.title"></ngb-highlight>
          </ng-template>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12"
        *ngIf="selectedData.forType === 'FCL-Ground' || selectedData.forType === 'FTL'">
        <div class="form-group">
          <label>Origin</label>
          <div class="origin">
            <div class="flag-container" *ngIf="originSelectedMode !== 'CITY'">
              <img *ngIf="filterOrigin && filterOrigin.CountryCode"
                src="{{'../../../../../assets/images/flags/4x3/' + (filterOrigin.CountryCode | lowercase) + '.svg'}}"
                type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
            </div>

            <div class="flag-container" *ngIf="originSelectedMode === 'CITY'">
              <img *ngIf="filterOrigin && filterOrigin.imageName"
                src="{{'../../../../../assets/images/flags/4x3/' + (filterOrigin.imageName | lowercase) + '.svg'}}"
                type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
            </div>

            <input #container class="form-control" [(ngModel)]="filterOrigin" placeholder="e.g: Dubai" type="text"
              [ngClass]="{'routeSelected': filterOrigin && filterOrigin.CountryCode}" [ngbTypeahead]="ports"
              [resultTemplate]="rt" [inputFormatter]="portsFormatter" (click)="toggleDropdown('pickup')"
              (ngModelChange)="portsFilterartion(filterOrigin)" readonly *ngIf="originSelectedMode !== 'CITY'" />

            <input class="form-control" [(ngModel)]="filterOrigin" placeholder="e.g: Dubai" type="text"
              [ngClass]="{'routeSelected': filterOrigin && filterOrigin.imageName}" [ngbTypeahead]="ports"
              [resultTemplate]="rt" [inputFormatter]="citiesFormatter" (click)="toggleDropdown('pickup')"
              (ngModelChange)="portsFilterartion(filterOrigin)" readonly *ngIf="originSelectedMode === 'CITY'" />

            <div class="dropdown-pickup" *ngIf="showPickupDropdown">
              <ul>
                <li *ngIf="showPickupPorts" (click)="togglePorts('pickup-sea')">
                  <div class="d-flex">
                    <img async defer src="../../../../assets/images/icons/icon_anchor.svg" alt="icon"
                      class="img-responsive pickup-icon2" height="16px" />
                    <span class="pickup-heading">From Sea Port</span>
                  </div>
                  <p *ngIf="showPickupDoors && showPickupCity">Picking up from port would mean you are responsible to
                    get your cargo
                    delivered
                    to the
                    port
                    of departure.</p>
                  <div class="ports-dropdown" *ngIf="!showPickupDoors && !showPickupCity">
                    <div class="flag-container">
                      <img *ngIf="filterOrigin && filterOrigin.CountryCode"
                        src="{{'../../../../../assets/images/flags/4x3/' + (filterOrigin.CountryCode | lowercase) + '.svg'}}"
                        type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                    </div>
                    <input class="form-control" #originPickupBox autofocus [(ngModel)]="filterOrigin"
                      placeholder="e.g: Dubai" type="text"
                      [ngClass]="{'routeSelected': filterOrigin && filterOrigin.CountryCode}" [ngbTypeahead]="ports"
                      [resultTemplate]="rt" [inputFormatter]="portsFormatter"
                      (ngModelChange)="portsFilterartion(filterOrigin)" />
                  </div>
                </li>
                <li *ngIf="showPickupDoors" (click)="togglePorts('pickup-door')">
                  <div class="d-flex">
                    <img async defer src="../../../../assets/images/icons/Icons_Location.svg" alt="icon"
                      class="img-responsive pickup-icon2" height="16px" />
                    <span class="pickup-heading">From Door</span>
                  </div>
                  <p *ngIf="showPickupPorts && showPickupCity">Picking up from port would mean you are responsible to
                    get your cargo
                    delivered
                    to the
                    port
                    of departure.</p>
                  <div class="ports-dropdown" *ngIf="!showPickupPorts && !showPickupCity">
                    <div class="flag-container">
                      <img *ngIf="filterOrigin && filterOrigin.CountryCode"
                        src="{{'../../../../../assets/images/flags/4x3/' + (filterOrigin.CountryCode | lowercase) + '.svg'}}"
                        type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                    </div>
                    <input class="form-control" #originPickupBox autofocus [(ngModel)]="filterOrigin"
                      placeholder="e.g: Dubai" type="text"
                      [ngClass]="{'routeSelected': filterOrigin && filterOrigin.CountryCode}" [ngbTypeahead]="addresses"
                      [resultTemplate]="rt" [inputFormatter]="addressFormatter"
                      (ngModelChange)="portsFilterartion(filterOrigin)" />
                  </div>
                </li>
                <li *ngIf="showPickupCity" (click)="togglePorts('pickup-city')">
                  <div class="d-flex">
                    <img async defer src="../../../../assets/images/icons/Icons_Location.svg" alt="icon"
                      class="img-responsive pickup-icon2" height="16px" />
                    <span class="pickup-heading">From City</span>
                  </div>
                  <p *ngIf="showPickupPorts && showPickupDoors">Picking up from city would mean you are responsible to
                    get your cargo
                    delivered
                    to the
                    city
                    of departure.</p>
                  <div class="ports-dropdown" *ngIf="!showPickupPorts && !showPickupDoors">
                    <div class="flag-container">
                      <img *ngIf="filterOrigin && filterOrigin.imageName"
                        src="{{'../../../../../assets/images/flags/4x3/' + (filterOrigin.imageName | lowercase) + '.svg'}}"
                        type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                    </div>
                    <input class="form-control" #originPickupBox autofocus [(ngModel)]="filterOrigin"
                      placeholder="e.g: Dubai" type="text"
                      [ngClass]="{'routeSelected': filterOrigin && filterOrigin.imageName}" [ngbTypeahead]="citiesList"
                      [resultTemplate]="rtc" [inputFormatter]="citiesFormatter"
                      (ngModelChange)="portsFilterartion(filterOrigin)" />
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12"
        *ngIf="selectedData.forType === 'FCL-Ground' || selectedData.forType === 'FTL'">
        <div class="form-group">
          <label>Destination</label>
          <div class="destination">
            <div class="flag-container" *ngIf="destinSelectedMode !== 'CITY'">
              <img *ngIf="filterDestination && filterDestination.CountryCode"
                src="{{'../../../../../assets/images/flags/4x3/' + (filterDestination.CountryCode | lowercase) + '.svg'}}"
                type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
            </div>

            <div class="flag-container" *ngIf="destinSelectedMode === 'CITY'">
              <img *ngIf="filterDestination && filterDestination.imageName"
                src="{{'../../../../../assets/images/flags/4x3/' + (filterDestination.imageName | lowercase) + '.svg'}}"
                type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
            </div>
            <input class="form-control" *ngIf="destinSelectedMode !== 'CITY'" [(ngModel)]="filterDestination"
              placeholder="e.g: Dubai" type="text"
              [ngClass]="{'routeSelected': filterDestination && filterDestination.CountryCode}" [ngbTypeahead]="ports"
              [resultTemplate]="rt" [inputFormatter]="portsFormatter" (click)="toggleDropdown('delivery')" readonly
              (ngModelChange)="portsFilterartion(filterDestination)" />

            <input class="form-control" *ngIf="destinSelectedMode === 'CITY'" [(ngModel)]="filterDestination"
              placeholder="e.g: Dubai" type="text"
              [ngClass]="{'routeSelected': filterDestination && filterDestination.imageName}" [ngbTypeahead]="ports"
              [resultTemplate]="rtc" [inputFormatter]="citiesFormatter" (click)="toggleDropdown('delivery')" readonly
              (ngModelChange)="portsFilterartion(filterDestination)" />

            <div class="dropdown-pickup" *ngIf="showDestinationDropdown">
              <ul>
                <li *ngIf="showDestPorts" (click)="togglePorts('delivery-sea')">
                  <div class="d-flex">
                    <img async defer src="../../../../assets/images/icons/icon_anchor.svg" alt="icon"
                      class="img-responsive pickup-icon2" height="16px" />
                    <span class="pickup-heading">To Sea Port</span>
                  </div>
                  <p *ngIf="showDestDoors && showDestCity">Delivering to port would mean you are responsible to
                    revieve your cargo at
                    port</p>
                  <div class="ports-dropdown" *ngIf="!showDestDoors && !showDestCity">
                    <div class="flag-container">
                      <img *ngIf="filterDestination && filterDestination.CountryCode"
                        src="{{'../../../../../assets/images/flags/4x3/' + (filterDestination.CountryCode | lowercase) + '.svg'}}"
                        type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                    </div>
                    <input class="form-control yolo3" #destinationPickupBox autofocus [(ngModel)]="filterDestination"
                      placeholder="e.g: Dubai" type="text"
                      [ngClass]="{'routeSelected': filterDestination && filterDestination.CountryCode}"
                      [ngbTypeahead]="ports" [resultTemplate]="rt" [inputFormatter]="portsFormatter"
                      (ngModelChange)="portsFilterartion(filterDestination)" />
                  </div>
                </li>
                <li *ngIf="showDestDoors" (click)="togglePorts('delivery-door')">
                  <div class="d-flex">
                    <img async defer src="../../../../assets/images/icons/Icons_Location.svg" alt="icon"
                      class="img-responsive pickup-icon2" height="16px" />
                    <span class="pickup-heading">To Door</span>
                  </div>
                  <p *ngIf="showDestPorts && showDestCity">Delivering to port would mean you are responsible to
                    revieve your cargo at
                    your location</p>
                  <div class="ports-dropdown" *ngIf="!showDestPorts && !showDestCity">
                    <div class="flag-container">
                      <img *ngIf="filterDestination && filterDestination.CountryCode"
                        src="{{'../../../../../assets/images/flags/4x3/' + (filterDestination.CountryCode | lowercase) + '.svg'}}"
                        type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                    </div>
                    <input class="form-control" #destinationPickupBox autofocus [(ngModel)]="filterDestination"
                      placeholder="e.g: Dubai" type="text"
                      [ngClass]="{'routeSelected': filterDestination && filterDestination.CountryCode}"
                      [ngbTypeahead]="addresses" [resultTemplate]="rt" [inputFormatter]="addressFormatter"
                      (ngModelChange)="portsFilterartion(filterDestination)" />
                  </div>
                </li>
                <li *ngIf="showDestCity" (click)="togglePorts('delivery-city')">
                  <div class="d-flex">
                    <img async defer src="../../../../assets/images/icons/Icons_Location.svg" alt="icon"
                      class="img-responsive pickup-icon2" height="16px" />
                    <span class="pickup-heading">To City</span>
                  </div>
                  <p *ngIf="showDestPorts && showDestDoors">Delivering to city would mean you are responsible to
                    revieve your cargo at
                    city</p>
                  <div class="ports-dropdown" *ngIf="!showDestPorts && !showDestDoors">
                    <div class="flag-container">
                      <img *ngIf="filterDestination && filterDestination.imageName"
                        src="{{'../../../../../assets/images/flags/4x3/' + (filterDestination.imageName | lowercase) + '.svg'}}"
                        type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                    </div>
                    <input class="form-control" #destinationPickupBox autofocus [(ngModel)]="filterDestination"
                      placeholder="e.g: Dubai" type="text"
                      [ngClass]="{'routeSelected': filterDestination && filterDestination.imageName}"
                      [ngbTypeahead]="citiesList" [resultTemplate]="rtc" [inputFormatter]="citiesFormatter"
                      (ngModelChange)="portsFilterartion(filterDestination)" />
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <ng-template #rt let-r="result">
        <div class="d-flex">
          <div class="flag-container mr-1">
            <img src="{{'../../../../../assets/images/flags/4x3/' + (r.CountryCode | lowercase) + '.svg'}}"
              class="mw-100 w-auto h-auto mh-100">
          </div>
          <ngb-highlight [result]="r.PortName"></ngb-highlight>
        </div>
      </ng-template>
      <ng-template #rtc let-r="result">
        <div class="d-flex">
          <div class="flag-container mr-1">
            <img src="{{'../../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
              class="mw-100 w-auto h-auto mh-100">
          </div>
          <ngb-highlight [result]="r.title"></ngb-highlight>
        </div>
      </ng-template>
      <div class="col-12" *ngIf="allCustomers?.length > 0">
        <div class="form-group custom-multiselect">
          <label>Customer</label>
          <ng-select [items]="allCustomers" [multiple]="true" [closeOnSelect]="false" [hideSelected]="true"
            bindLabel="CustomerName" placeholder="Select Customer" [disabled]="disabledCustomers"
            [(ngModel)]="selectedCustomer">
            <ng-template ng-label-tmp let-item="item" let-clear="clear">
              <span class="ng-value-label">
                <img [src]="item.CustomerImageParsed" width="20px" height="20px"
                  onerror="this.src='../../../../favicon.ico'">
                {{item.CustomerName}}</span>
              <span class="ng-value-icon right" aria-hidden="true" (click)="clear(item)">×</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <img [src]="item.CustomerImageParsed" width="20px" height="20px"
                onerror="this.src='../../../../favicon.ico'"> {{item.CustomerName}}
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>

    <div class="row mt-4 combine-filed-popup" [hidden]="selectedData.data?.UsageType !== 'SHARED'">
      <div class="col-2 pr-0">
        <div class="combine-filed-popup-left">Validity Range</div>
      </div>
      <div class="col-4 pl-0 date-control">
        <div class="form-group combine-filed-popup-right dateIcon">
          <input id="dpicker" autocomplete="off" #rangeDpDed class="form-control" placeholder="Start Date - End Date"
            name="dp2" ngbDatepicker [dayTemplate]="t2" [autoClose]="false" [placement]="'bottom-right'"
            [outsideDays]="true" [navigation]="false" [displayMonths]="displayMonths" [maxDate]="maxDateDed"
            [minDate]="minDateDed" #dp2="ngbDatepicker" (click)="dp2.toggle()" />
          <ng-template #t2 let-date="date" let-focused="focused" container="body">
            <span class="custom-day" id="{{getDateStr(date)}}"
              [class.range]="isFromDed(date) || isToDed(date) || isInsideDed(date) || isHoveredDed(date)"
              [class.faded]="isHoveredDed(date) || isInsideDed(date)" (click)="onDateSelectionDed(date)"
              (mouseenter)="hoveredDateDed = date" (mouseleave)="hoveredDateDed = null">
              {{ date.day }}
            </span>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- <div class="row bg-white popup-white">
      <section class="rates-filter mr-3 ml-3">
        <ngb-accordion #accBookFilter="ngbAccordion">
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span class="pull-left">
                <img src="../../../../assets/images/icons/filter-icon.svg" alt="Filter"
                  class="icon-size-16 mr-2 filter-icon"> Terms & Conditions
                <img src="../../../../assets/images/icons/icon_arrow_right.svg" alt="direction"
                  class="icon-size-16 acc-icon">
              </span>
            </ng-template>
            <ng-template ngbPanelContent>
              <section class="term-cond">
                <div class="row">
                  <div class="col-12">
                    <hr class="hr-solid mt-4" />
                    <div class="policyEditor mb-4 mt-4 d-flex justify-content-between align-items-center">
                      <button *ngIf="disableTerms"
                        class="btn btn-primary btn-lg hvr-sweep-to-right pull-right pr-5 pl-5"
                        (click)="disableTerms = !disableTerms">
                        EDIT
                      </button>
                    </div>
                    <div class="form-group" *ngIf="!disableTerms && disableTerms != undefined">
                      <quill-editor [(ngModel)]="editorContent" [options]="editorOptions"
                        (blur)="onEditorBlured($event,'FCL')" (focus)="onEditorFocused($event,'FCL')"
                        (ready)="onEditorCreated($event,'FCL')" (change)="onContentChanged($event,'FCL')">
                      </quill-editor>
                    </div>
                    <div *ngIf="disableTerms" class="editor" [innerHTML]="editorContent">
                    </div>
                    <button *ngIf="!disableTerms"
                      class="btn btn-primary btn-lg hvr-sweep-to-right pull-right pr-5 pl-5 mt-4" type="button"
                      [disabled]="isEmpty(editorContent)">
                      SAVE
                    </button>
                  </div>
                </div>
              </section>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </section>
    </div> -->

    <div class="additional">
      <div class="row" *ngIf="selectedData.data?.UsageType === 'SHARED'">
        <div class="col-12">
          <!-- <h5 class="model-sub-head mt-4 mb-4">Shared Area Rate</h5> -->
          <h5 class="model-sub-head mt-4 mb-4">Rate</h5>
        </div>
      </div>
      <div class="row" *ngIf="selectedData.data?.UsageType !== 'SHARED'">
        <div class="col-12">
          <h5 class="model-sub-head mt-4 mb-4">Rate</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-md-6 col-sm-12 mb-2" [ngClass]="{'mb-2':isMobile}">
          <div class="row combine-filed-popup">
            <div class="col-xl-6 col-lg-6 col-md-6 col-6 pr-0">
              <div class="combine-filed-popup-left">Currency</div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-6 pl-0">
              <div class="origin combine-filed-popup-right">
                <div class="flag-container">
                  <img *ngIf="selectedCurrency && selectedCurrency.imageName"
                    src="{{'../../../../../assets/images/flags/4x3/' + (selectedCurrency.imageName | lowercase) + '.svg'}}"
                    type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                </div>
                <input type="text" placeholder="{{(selectedCurrency?.shortName)?selectedCurrency?.shortName:'USD'}}"
                  [(ngModel)]="selectedCurrency" class="form-control" [ngbTypeahead]="currencies" [resultTemplate]="crt"
                  [inputFormatter]="currencyFormatter"
                  [ngClass]="{'routeSelected': selectedCurrency && selectedCurrency.imageName}"
                  [disabled]="selectedData.mode === 'publish'">
                <ng-template #crt let-r="result">
                  <div class="d-flex">
                    <div class="flag-container">
                      <img src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                        style="max-width:20px;max-height:22px;">
                    </div>
                    <ngb-highlight [result]="r.shortName"></ngb-highlight>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xl-4 col-md-6 col-sm-12 pl-0">
          <div *ngIf="selectedData?.forType !== 'WAREHOUSE'" class="row combine-filed-popup mt-4 mb-3"
            [ngClass]="{'mt-4 mb-3':isMobile}">
            <div class="col-xl-7 col-lg-7 col-md-7 col-6 freight-padding-left pr-0">
              <div class="combine-filed-popup-left" *ngIf="selectedData.forType !== 'LCL'">Freight Charges</div>
              <div class="combine-filed-popup-left" *ngIf="selectedData.forType == 'LCL'">Rate / cbm</div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-6 pl-0">
              <div class="form-group combine-filed-popup-right" [ngClass]="showDoubleRates ? 'hasDoubleRates' : ''">
                <span *ngIf="showDoubleRates">Single</span>
                <span *ngIf="showDoubleRates">Double</span>
                <input priceDecDir type="text" maxlength="1" maxlength="15" class="form-control" placeholder="0.00"
                  [(ngModel)]="selectedPrice" (ngModelChange)="onPriceChange('normal')"
                  [disabled]="selectedData?.forType === 'WAREHOUSE' && selectedData.data?.UsageType === 'SHARED' && warehouseUnit !== 'sqm'" />
                <input priceDecDir type="text" *ngIf="showDoubleRates" maxlength="1" maxlength="15" class="form-control"
                  placeholder="0.00" [(ngModel)]="couplePrice" (keypress)="numberValidwithDecimal($event)">
              </div>
            </div>
          </div>

          <ng-container *ngIf="selectedData?.forType === 'WAREHOUSE'">
            <div class="row combine-filed-popup" *ngIf="warehouseUnit === 'sqm'">
              <div class="col-xl-7 col-lg-7 col-md-7 col-6 pr-0">
                <ng-container
                  *ngIf="(selectedData.mode === 'publish' && selectedData.forType === 'WAREHOUSE') || (selectedData.forType === 'WAREHOUSE' && warehouseUnit !== 'sqm')">
                  <div class="combine-filed-popup-left pointer" id="elChargeSQM">
                    <span>{{selectedchargeSQM?.addChrName}}</span>
                  </div>
                </ng-container>
                <ng-container
                  *ngIf="selectedData.mode !== 'publish' && selectedData.forType === 'WAREHOUSE' && warehouseUnit === 'sqm'">
                  <div ngbDropdown #elChargeSQM="ngbDropdown">
                    <div class="combine-filed-popup-left pointer" id="elChargeSQM" ngbDropdownToggle>
                      <span>{{selectedchargeSQM?.addChrName}}</span>
                    </div>
                    <div ngbDropdownMenu aria-labelledby="selectedchargeSQM" aria-labelledby="selectedchargeSQM">
                      <button class="dropdown-item" *ngFor="let priceType of chargeSQM" ngbDropdownItem
                        (click)="onWHPriceTypeSelect(priceType, 'SQM')">{{priceType?.addChrName}}</button>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="col-xl-5 col-lg-5 col-md-5 col-6 pl-0">
                <div class="form-group combine-filed-popup-right">
                  <input priceDecDir type="text" maxlength="1" maxlength="15" class="form-control" placeholder="0.00"
                    [(ngModel)]="selectedPrice" (ngModelChange)="onPriceChange('normal')"
                    (keypress)="numberValidwithDecimal($event)"
                    [disabled]="selectedData?.forType === 'WAREHOUSE' && selectedData.data?.UsageType === 'SHARED' && warehouseUnit !== 'sqm'" />
                </div>
              </div>
            </div>
            <div class="row combine-filed-popup" *ngIf="warehouseUnit === 'sqft'">
              <div class="col-xl-7 col-lg-7 col-md-7 col-6 pr-0">
                <ng-container
                  *ngIf="(selectedData.mode === 'publish' && selectedData.forType === 'WAREHOUSE') || (selectedData.forType === 'WAREHOUSE' && warehouseUnit !== 'sqft')">
                  <div class="combine-filed-popup-left pointer" id="elChargeSQFT">
                    <span>{{selectedchargeSQFT?.addChrName}}</span>
                  </div>
                </ng-container>
                <ng-container
                  *ngIf="selectedData.mode !== 'publish' && selectedData.forType === 'WAREHOUSE' && warehouseUnit === 'sqft'">
                  <div ngbDropdown #elChargeSQFT="ngbDropdown">
                    <div class="combine-filed-popup-left pointer" id="elChargeSQFT" ngbDropdownToggle>
                      <span>{{selectedchargeSQFT?.addChrName}}</span>
                    </div>
                    <div ngbDropdownMenu aria-labelledby="selectedchargeSQFT" aria-labelledby="selectedchargeSQFT">
                      <button class="dropdown-item" *ngFor="let priceType of chargeSQFT" ngbDropdownItem
                        (click)="onWHPriceTypeSelect(priceType, 'SQFT')">{{priceType?.addChrName}}</button>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="col-xl-5 col-lg-5 col-md-5 col-6 pl-0">
                <div class="form-group combine-filed-popup-right">
                  <input priceDecDir type="text" maxlength="1" maxlength="15" class="form-control" placeholder="0.00"
                    [(ngModel)]="couplePrice" (ngModelChange)="onPriceChange('normal')"
                    (keypress)="numberValidwithDecimal($event)"
                    [disabled]="selectedData?.forType === 'WAREHOUSE' && selectedData.data?.UsageType === 'SHARED' && warehouseUnit !== 'sqft'" />
                </div>
              </div>
            </div>
            <div class="row combine-filed-popup"
              *ngIf="warehouseUnit === 'pallet' && selectedData.data?.UsageType === 'SHARED'">
              <div class="col-xl-7 col-lg-7 col-md-7 col-6 pr-0">
                <ng-container
                  *ngIf="(selectedData.mode === 'publish' && selectedData.forType === 'WAREHOUSE') || (selectedData.forType === 'WAREHOUSE' && warehouseUnit !== 'pallet')">
                  <div class="combine-filed-popup-left pointer" id="elChargePLT">
                    <span>{{selectedchargePLT?.addChrName}}</span>
                  </div>
                </ng-container>
                <ng-container
                  *ngIf="selectedData.mode !== 'publish' && selectedData.forType === 'WAREHOUSE' && warehouseUnit === 'pallet'">
                  <div ngbDropdown #elChargePLT="ngbDropdown">
                    <div class="combine-filed-popup-left pointer" id="elChargePLT" ngbDropdownToggle>
                      <span>{{selectedchargePLT?.addChrName}}</span>
                    </div>
                    <div ngbDropdownMenu aria-labelledby="selectedchargePLT" aria-labelledby="selectedchargePLT">
                      <button class="dropdown-item" *ngFor="let priceType of chargePLT" ngbDropdownItem
                        (click)="onWHPriceTypeSelect(priceType, 'PLT')">{{priceType?.addChrName}}</button>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="col-xl-5 col-lg-5 col-md-5 col-6 pl-0">
                <div class="form-group combine-filed-popup-right">
                  <input priceDecDir type="text" maxlength="1" maxlength="15" class="form-control" placeholder="0.00"
                    [(ngModel)]="thirdPrice" (ngModelChange)="onPriceChange('normal')"
                    (keypress)="numberValidwithDecimal($event)"
                    [disabled]="selectedData?.forType === 'WAREHOUSE' && selectedData.data?.UsageType === 'SHARED' && warehouseUnit !== 'pallet'" />
                </div>
              </div>
            </div>
          </ng-container>
        </div>

        <div class="col-xl-5 col-md-6 col-sm-12 pl-0">
          <div class="row combine-filed-popup" [hidden]="selectedData.data?.UsageType === 'SHARED'">
            <div class="col-xl-4 col-lg-4 col-md-4 col-6  freight-padding-left pr-0">
              <div class="combine-filed-popup-left">Validity Range</div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-6 pl-0 date-control">
              <div class="form-group combine-filed-popup-right dateIcon">
                <input id="dpicker" autocomplete="off" #rangeDp class="form-control" placeholder="Start Date - End Date"
                  name="dp" ngbDatepicker [dayTemplate]="t" [autoClose]="false" [placement]="'bottom-right'"
                  [outsideDays]="true" [navigation]="false" [displayMonths]="displayMonths" [maxDate]="maxDate"
                  [minDate]="minDate" #dp="ngbDatepicker" (click)="dp.toggle()" />
                <ng-template #t let-date="date" let-focused="focused" container="body">
                  <span class="custom-day" id="{{getDateStr(date)}}"
                    [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                    [class.faded]="isHovered(date) || isInside(date)" (click)="onDateSelection(date)"
                    (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
              </div>
            </div>
          </div>
          <ng-container *ngIf="selectedData.forType === 'WAREHOUSE' && selectedData.data?.UsageType === 'SHARED'">
            <div class="row combine-filed-popup" *ngIf="warehouseUnit === 'sqm'">
              <div class="col-xl-7 col-lg-7 col-md-7 col-6 pr-0">
                <ng-container
                  *ngIf="(selectedData.mode === 'publish' && selectedData.forType === 'WAREHOUSE') || (selectedData.forType === 'WAREHOUSE' && warehouseUnit !== 'sqm')">
                  <div class="combine-filed-popup-left pointer" id="elAddOnSQM">
                    <span>{{addOnSQM?.codeValDesc}}</span>
                  </div>
                </ng-container>
                <ng-container
                  *ngIf="selectedData.mode !== 'publish' && selectedData.forType === 'WAREHOUSE' && warehouseUnit === 'sqm'">
                  <div ngbDropdown #elAddOnSQM="ngbDropdown">
                    <div class="combine-filed-popup-left pointer" id="elAddOnSQM" ngbDropdownToggle>
                      <span>{{addOnSQM?.codeValDesc}}</span>
                    </div>
                    <div ngbDropdownMenu aria-labelledby="addOnSQM" aria-labelledby="addOnSQM">
                      <button class="dropdown-item" *ngFor="let addOn of whAddsOn" ngbDropdownItem
                        (click)="onAddsOnSelect(addOn, 'SQM')">{{addOn?.codeValDesc}}</button>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="col-xl-5 col-lg-5 col-md-5 col-6 pl-0">
                <div class="form-group combine-filed-popup-right">
                  <input priceDecDir type="text" maxlength="1" maxlength="15" class="form-control" placeholder="0.00"
                    [(ngModel)]="addOnSQMPrice" (keypress)="numberValidwithDecimal($event)"
                    [disabled]="(selectedData?.forType === 'WAREHOUSE' && selectedData.data?.UsageType === 'SHARED' && warehouseUnit !== 'sqm') || disableElAddOnSQM" />
                </div>
              </div>
            </div>
            <div class="row combine-filed-popup" *ngIf="warehouseUnit === 'sqft'">
              <div class="col-xl-7 col-lg-7 col-md-7 col-6 pr-0">
                <ng-container
                  *ngIf="(selectedData.mode === 'publish' && selectedData.forType === 'WAREHOUSE') || (selectedData.forType === 'WAREHOUSE' && warehouseUnit !== 'sqft')">
                  <div class="combine-filed-popup-left pointer" id="elAddOnSQFT">
                    <span>{{addOnSQFT?.codeValDesc}}</span>
                  </div>
                </ng-container>
                <ng-container
                  *ngIf="selectedData.mode !== 'publish' && selectedData.forType === 'WAREHOUSE' && warehouseUnit === 'sqft'">
                  <div ngbDropdown #elAddOnSQFT="ngbDropdown">
                    <div class="combine-filed-popup-left pointer" id="elAddOnSQFT" ngbDropdownToggle>
                      <span>{{addOnSQFT?.codeValDesc}}</span>
                    </div>
                    <div ngbDropdownMenu aria-labelledby="addOnSQFT" aria-labelledby="addOnSQFT">
                      <button class="dropdown-item" *ngFor="let priceType of whAddsOn" ngbDropdownItem
                        (click)="onAddsOnSelect(priceType, 'SQFT')">{{priceType?.codeValDesc}}</button>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="col-xl-5 col-lg-5 col-md-5 col-6 pl-0">
                <div class="form-group combine-filed-popup-right">
                  <input priceDecDir type="text" maxlength="1" maxlength="15" class="form-control" placeholder="0.00"
                    [(ngModel)]="addOnSQFTPrice" (keypress)="numberValidwithDecimal($event)"
                    [disabled]="(selectedData?.forType === 'WAREHOUSE' && selectedData.data?.UsageType === 'SHARED' && warehouseUnit !== 'sqft') || disableElAddOnSQFT" />
                </div>
              </div>
            </div>
            <div class="row combine-filed-popup" *ngIf="warehouseUnit === 'pallet'">
              <div class="col-xl-7 col-lg-7 col-md-7 col-6 pr-0">
                <ng-container
                  *ngIf="(selectedData.mode === 'publish' && selectedData.forType === 'WAREHOUSE') || (selectedData.forType === 'WAREHOUSE' && warehouseUnit !== 'pallet')">
                  <div class="combine-filed-popup-left pointer" id="elAddOnPLT">
                    <span>{{addOnPLT?.codeValDesc}}</span>
                  </div>
                </ng-container>
                <ng-container
                  *ngIf="selectedData.mode !== 'publish' && selectedData.forType === 'WAREHOUSE' && warehouseUnit === 'pallet'">
                  <div ngbDropdown #elAddOnPLT="ngbDropdown">
                    <div class="combine-filed-popup-left pointer" id="elAddOnPLT" ngbDropdownToggle>
                      <span>{{addOnPLT?.codeValDesc}}</span>
                    </div>
                    <div ngbDropdownMenu aria-labelledby="addOnPLT" aria-labelledby="addOnPLT">
                      <button class="dropdown-item" *ngFor="let priceType of whAddsOn" ngbDropdownItem
                        (click)="onAddsOnSelect(priceType, 'PLT')">{{priceType?.codeValDesc}}</button>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="col-xl-5 col-lg-5 col-md-5 col-6 pl-0">
                <div class="form-group combine-filed-popup-right">
                  <input priceDecDir type="text" maxlength="1" maxlength="15" class="form-control" placeholder="0.00"
                    [(ngModel)]="addOnPLTPrice" (keypress)="numberValidwithDecimal($event)"
                    [disabled]="(selectedData?.forType === 'WAREHOUSE' && selectedData.data?.UsageType === 'SHARED' && warehouseUnit !== 'pallet') || disableElAddOnPLT" />
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>


      <!-- Additional charges -->
      <div class="row more-charges" [hidden]="selectedData.data?.UsageType && selectedData.data.UsageType === 'FULL'">
        <div class="col-12">
          <h5 class="model-sub-head mt-4 pull-left">Additional Charges <span
              [hidden]="selectedData.data?.UsageType === 'SHARED'">At Port Of
              Origin</span></h5>
        </div>
        <div class="col-xl-6 col-md-6 col-12" *ngFor="let origin of selectedOrigins; let i=index">
          <div class="row combine-filed-popup">
            <div class="d-flex ml-3 mr-3 mb-2" [ngClass]="addOriginActive ? 'active' : ''">
              <div class="col-xl-7 col-lg-7 col-md-7 col-7 pr-0 pl-0">
                <div ngbDropdown #originDropdown="ngbDropdown" class="combine-filed-popup-left-btn"
                  (openChange)="dropdownToggle($event, 'origin')">
                  <button class="btn has-open" id="{{selectedOrigins[i]?.addChrName || 'originID'}}" [placement]="'top'"
                    ngbTooltip="{{selectedOrigins[i]?.addChrName}} - ({{selectedOrigins[i]?.addChrBasis}})"
                    [disableTooltip]="!selectedOrigins[i]?.addChrName" ngbDropdownToggle>
                    {{selectedOrigins[i]?.addChrName || 'Select' | limitTo : 30 }}
                  </button>
                  <div ngbDropdownMenu aria-labelledby="originExport">
                    <button *ngIf="!isOriginChargesForm" id="{{selectedOrigins[i]?.addChrName}}"
                      class="dropdown-item custom-label has-open" (click)="showCustomChargesForm('origin')">
                      <img src="../../../../assets/images/icons/icon_add.svg" width="16" alt=""> Add Custom Label
                    </button>
                    <ng-container *ngIf="!isOriginChargesForm">
                      <button class="dropdown-item add-charge-border" *ngFor="let charge of originsList"
                        [id]="'orglist_' + charge?.addChrID" (click)="selectCharges('EXPORT', charge, i)">
                        {{charge.addChrName}}
                        <span class="d-block" style="color:#777;font-size:0.7rem">{{charge?.addChrBasis}}</span>
                      </button>
                    </ng-container>
                    <div class="row dropdown-item charges-form" *ngIf="isOriginChargesForm">
                      <div class="col-12 mt-2">
                        <div class="form-group">
                          <input class="form-control has-open" type="text"
                            [ngClass]="!labelValidate ?  'inputError' : ''" [(ngModel)]="lablelName"
                            (focus)="labelValidate = true" placeholder="Charge Label / Term">
                          <small class="text-danger d-block" *ngIf="!labelValidate">Please provide name for your custom
                            label</small>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <select class="form-control has-open" [ngClass]="!surchargeBasisValidate ?  'inputError' : ''"
                            [(ngModel)]="surchargeType" (focus)="surchargeBasisValidate = true">
                            <option value="" hidden selected>Select Surcharge Basis</option>
                            <option *ngFor="let item of surchargesList" [value]="item.codeValID">
                              {{item.codeValDesc}}</option>
                          </select>
                          <small class="text-danger d-block" *ngIf="!surchargeBasisValidate">Please select surcharge
                            basis
                          </small>
                        </div>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary mt-1 mb-2 has-open hvr-sweep-to-right w-100"
                          (click)="addCustomLabel('origin')">Add Label
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-3 pl-0 pr-0">
                <div class="form-group mb-0 combine-filed-popup-mid">
                  <input priceDecDir type="text" maxlength="15" class="form-control" [(ngModel)]="origin.Price"
                    placeholder="0.00" (keypress)="numberValidwithDecimal($event)">
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-2 pl-0 pr-0">
                <div class="origin combine-filed-popup-right">
                  <div class="flag-container">
                    <img *ngIf="origin.currency && origin.currency.imageName"
                      src="{{'../../../../../assets/images/flags/4x3/' + (origin.currency.imageName | lowercase) + '.svg'}}"
                      type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                  </div>
                  <input type="text" placeholder="{{(selectedCurrency?.shortName)?selectedCurrency?.shortName:'USD'}}"
                    (ngModelChange)="getVal(i, $event, 'origin')" [(ngModel)]="origin.currency" class="form-control"
                    [ngbTypeahead]="currencies" [resultTemplate]="crt" [inputFormatter]="currencyFormatter"
                    (keyup)="onKeyDown(i, $event, 'origin')"
                    [ngClass]="{'routeSelected': origin.currency && origin.currency.imageName}">
                  <ng-template #crt let-r="result">
                    <div class="d-flex">
                      <div class="flag-container">
                        <img src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                          style="max-width:20px;max-height:22px;">
                      </div>
                      <ngb-highlight [result]="r.shortName"></ngb-highlight>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
            <img src="../../../../assets/images/icons/icon_del_round.svg" alt="delete-icon"
              class="icon-size-16 combine-filed-popup-delete pointer"
              (click)="removeAdditionalCharge('origin', origin)">
          </div>
        </div>
        <div class="col-12">
          <a (click)="addMoreCharges('origin')" href="javascript:;" class="addAnother animated fadeIn">Add More Charges
          </a>
        </div>
      </div>
      <div class="row more-charges"
        [hidden]="selectedData.data?.UsageType && (selectedData.data.UsageType === 'FULL' || selectedData.data.UsageType === 'SHARED')">
        <div class="col-12">
          <h5 class="model-sub-head mt-4 pull-left">Additional Charges At Port Of Destination</h5>
        </div>
        <div class="col-xl-6 col-md-6 col-12" *ngFor="let destination of selectedDestinations; let i=index">
          <div class="row combine-filed-popup">
            <div class="d-flex ml-3 mr-3 mb-2" [ngClass]="addDestinationActive ? 'active' : ''">
              <div class="col-xl-7 col-lg-7 col-md-7 col-7 pr-0 pl-0">
                <div ngbDropdown #destinationDropdown="ngbDropdown" (openChange)="dropdownToggle($event, 'destination')"
                  class="combine-filed-popup-left-btn" placement="top-left">
                  <button class="btn has-open" id="{{selectedDestinations[i]?.addChrName || 'destinationID'}}"
                    [placement]="'top'"
                    ngbTooltip="{{selectedDestinations[i]?.addChrName}} - ({{selectedDestinations[i]?.addChrBasis}})"
                    [disableTooltip]="!selectedDestinations[i]?.addChrName" ngbDropdownToggle>
                    {{selectedDestinations[i]?.addChrName || 'Select' | limitTo : 30 }} </button>
                  <div ngbDropdownMenu aria-labelledby="destinationExport">
                    <button *ngIf="!isDestinationChargesForm" class="dropdown-item custom-label has-open"
                      (click)="showCustomChargesForm('destination')">
                      <img src="../../../../assets/images/icons/icon_add.svg" width="16" alt=""> Add Custom Label
                    </button>
                    <ng-container *ngIf="!isDestinationChargesForm">
                      <button class="dropdown-item add-charge-border" *ngFor="let charge of destinationsList"
                        [id]="'destlist_' + charge?.addChrID" (click)="selectCharges('IMPORT', charge, i)">
                        {{charge.addChrName}}
                        <span class="d-block" style="color:#777;font-size:0.7rem">{{charge?.addChrBasis}}</span>
                      </button>
                    </ng-container>
                    <div class="row dropdown-item charges-form" *ngIf="isDestinationChargesForm">
                      <div class="col-12">
                        <div class="form-group">
                          <label class="mt-0">Add Custom Label</label>
                          <input class="form-control has-open" [ngClass]="!labelValidate ?  'inputError' : ''"
                            type="text" [(ngModel)]="lablelName" (focus)="labelValidate = true"
                            placeholder="Charge Label / Term">
                          <small class="text-danger d-block" *ngIf="!labelValidate">Please provide name for your custom
                            label</small>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <select class="form-control has-open" [ngClass]="!surchargeBasisValidate ?  'inputError' : ''"
                            [(ngModel)]="surchargeType" (focus)="surchargeBasisValidate = true">
                            <option *ngFor="let item of surchargesList" selected [value]="item.codeValID">
                              {{item.codeValDesc}}</option>
                          </select>
                          <small class="text-danger d-block" *ngIf="!surchargeBasisValidate">Please select surcharge
                            basis
                          </small>
                        </div>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary mt-3 has-open hvr-sweep-to-right w-100"
                          (click)="addCustomLabel('destination')">Add Label</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-3 pl-0 pr-0">
                <div class="form-group mb-0 combine-filed-popup-mid">
                  <input priceDecDir type="text" maxlength="15" class="form-control" [(ngModel)]="destination.Price"
                    placeholder="0.00" (keypress)="numberValidwithDecimal($event)">
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-2 pl-0 pr-0">
                <div class="origin combine-filed-popup-right">
                  <div class="flag-container">
                    <img *ngIf="destination.currency && destination.currency.imageName"
                      src="{{'../../../../../assets/images/flags/4x3/' + (destination.currency.imageName | lowercase) + '.svg'}}"
                      type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                  </div>
                  <input type="text" placeholder="{{(selectedCurrency?.shortName)?selectedCurrency?.shortName:'USD'}}"
                    (ngModelChange)="getVal(i, $event, 'destination')" [(ngModel)]="destination.currency"
                    class="form-control" [ngbTypeahead]="currencies" [resultTemplate]="crt"
                    [inputFormatter]="currencyFormatter" (keyup)="onKeyDown(i, $event, 'destination')"
                    [ngClass]="{'routeSelected': destination.currency && destination.currency.imageName}">
                  <ng-template #crt let-r="result">
                    <div class="d-flex">
                      <div class="flag-container">
                        <img src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                          style="max-width:20px;max-height:22px;">
                      </div>
                      <ngb-highlight [result]="r.shortName"></ngb-highlight>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
            <img src="../../../../assets/images/icons/icon_del_round.svg" alt="delete-icon"
              class="icon-size-16 combine-filed-popup-delete pointer"
              (click)="removeAdditionalCharge('destination', destination)">
          </div>
        </div>
        <div class="col-12">
          <a (click)="addMoreCharges('destination')" href="javascript:;" class="addAnother animated fadeIn">Add More
            Charges
          </a>
        </div>
      </div>
    </div>

    <div class="additional" *ngIf="selectedData.data?.UsageType === 'SHARED' && false">
      <div class="row">
        <div class="col-12">
          <h5 class="model-sub-head mt-4 mb-4">Dedicated Area Rate</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-12">
          <div class="row combine-filed-popup">
            <div class="col-xl-6 col-lg-6 col-md-6 col-6 pr-0">
              <div class="combine-filed-popup-left">Currency</div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-6 pl-0">
              <div class="origin combine-filed-popup-right">
                <div class="flag-container">
                  <img *ngIf="selectedCurrencyDed && selectedCurrencyDed.imageName"
                    src="{{'../../../../../assets/images/flags/4x3/' + (selectedCurrencyDed.imageName | lowercase) + '.svg'}}"
                    type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                </div>
                <input type="text" placeholder="{{(selectedCurrency?.shortName)?selectedCurrency?.shortName:'USD'}}"
                  [(ngModel)]="selectedCurrencyDed" class="form-control" [ngbTypeahead]="currencies"
                  [resultTemplate]="crt" [inputFormatter]="currencyFormatter"
                  [ngClass]="{'routeSelected': selectedCurrencyDed && selectedCurrencyDed.imageName}"
                  [disabled]="selectedData.mode === 'publish'">
                <ng-template #crt let-r="result">
                  <div class="d-flex">
                    <div class="flag-container">
                      <img src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                        style="max-width:20px;max-height:22px;">
                    </div>
                    <ngb-highlight [result]="r.shortName"></ngb-highlight>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xl-4 col-lg-4 col-md-4 col-12 pl-0">
          <div class="row combine-filed-popup">
            <div class="col-xl-7 col-lg-7 col-md-7 col-6 pr-0">
              <div class="combine-filed-popup-left"
                *ngIf="selectedData.forType !== 'LCL' && selectedData.forType !== 'WAREHOUSE'">Freight Charges</div>
              <div class="combine-filed-popup-left" *ngIf="selectedData.forType == 'LCL'">Rate / sqm</div>
              <ng-container
                *ngIf="(selectedData.mode === 'publish' && selectedData.forType === 'WAREHOUSE') || (selectedData.forType === 'WAREHOUSE'  && warehouseUnit !== 'sqm')">
                <div class="combine-filed-popup-left pointer" id="elChargeSQMDed">
                  <span>{{selectedchargeSQMDed?.addChrName}}</span>
                </div>
              </ng-container>
              <ng-container
                *ngIf="selectedData.mode !== 'publish' && selectedData.forType === 'WAREHOUSE'  && warehouseUnit === 'sqm'">
                <div ngbDropdown #elChargeSQMDed="ngbDropdown">
                  <div class="combine-filed-popup-left pointer" id="elChargeSQMDed" ngbDropdownToggle>
                    <span>{{selectedchargeSQMDed?.addChrName}}</span>
                  </div>
                  <div ngbDropdownMenu aria-labelledby="selectedchargeSQMDed" aria-labelledby="selectedchargeSQMDed">
                    <button class="dropdown-item" *ngFor="let priceType of chargeSQMDed" ngbDropdownItem
                      (click)="onWHPriceTypeSelect(priceType, 'SQM_DED')">{{priceType?.addChrName}}</button>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-6 pl-0">
              <div class="form-group combine-filed-popup-right" [ngClass]="showDoubleRates ? 'hasDoubleRates' : ''">
                <span *ngIf="showDoubleRates">Single</span>
                <span *ngIf="showDoubleRates">Double</span>
                <input priceDecDir type="text" maxlength="1" maxlength="15" class="form-control" placeholder="0.00"
                  [(ngModel)]="selectedPriceDed" (ngModelChange)="onPriceChange('ded')"
                  (keypress)="numberValidwithDecimal($event)"
                  [disabled]="selectedData?.forType === 'WAREHOUSE' && selectedData.data?.UsageType === 'SHARED' && warehouseUnit !== 'sqm'" />
                <input priceDecDir type="text" *ngIf="showDoubleRates" maxlength="1" maxlength="15" class="form-control"
                  placeholder="0.00" [(ngModel)]="couplePriceDed" (keypress)="numberValidwithDecimal($event)">
              </div>
            </div>
          </div>
          <div class="row combine-filed-popup" *ngIf="selectedData.forType === 'WAREHOUSE'">
            <div class="col-xl-7 col-lg-7 col-md-7 col-6 pr-0">
              <ng-container
                *ngIf="(selectedData.mode === 'publish' && selectedData.forType === 'WAREHOUSE') || (selectedData.forType === 'WAREHOUSE' && warehouseUnit !== 'sqft')">
                <div class="combine-filed-popup-left pointer" id="elChargeSQFTDed">
                  <span>{{selectedchargeSQFTDed?.addChrName}}</span>
                </div>
              </ng-container>
              <ng-container
                *ngIf="selectedData.mode !== 'publish' && selectedData.forType === 'WAREHOUSE' && warehouseUnit === 'sqft'">
                <div ngbDropdown #elChargeSQFTDed="ngbDropdown">
                  <div class="combine-filed-popup-left pointer" id="elChargeSQFTDed" ngbDropdownToggle>
                    <span>{{selectedchargeSQFTDed?.addChrName}}</span>
                  </div>
                  <div ngbDropdownMenu aria-labelledby="selectedchargeSQFTDed" aria-labelledby="selectedchargeSQFTDed">
                    <button class="dropdown-item" *ngFor="let priceType of chargeSQFTDed" ngbDropdownItem
                      (click)="onWHPriceTypeSelect(priceType, 'SQFT_DED')">{{priceType?.addChrName}}</button>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-6 pl-0">
              <div class="form-group combine-filed-popup-right">
                <input priceDecDir type="text" maxlength="1" maxlength="15" class="form-control" placeholder="0.00"
                  [(ngModel)]="couplePriceDed" (ngModelChange)="onPriceChange('ded')"
                  (keypress)="numberValidwithDecimal($event)"
                  [disabled]="selectedData?.forType === 'WAREHOUSE' && selectedData.data?.UsageType === 'SHARED' && warehouseUnit !== 'sqft'" />
              </div>
            </div>
          </div>
          <div class="row combine-filed-popup" *ngIf="selectedData.data?.UsageType === 'SHARED'">
            <div class="col-xl-7 col-lg-7 col-md-7 col-6 pr-0">
              <ng-container
                *ngIf="(selectedData.mode === 'publish' && selectedData.forType === 'WAREHOUSE') || (selectedData.forType === 'WAREHOUSE' && warehouseUnit !== 'pallet')">
                <div class="combine-filed-popup-left pointer" id="elChargePLTDed">
                  <span>{{selectedchargePLTDed?.addChrName}}</span>
                </div>
              </ng-container>
              <ng-container
                *ngIf="selectedData.mode !== 'publish' && selectedData.forType === 'WAREHOUSE' && warehouseUnit === 'pallet'">
                <div ngbDropdown #elChargePLTDed="ngbDropdown">
                  <div class="combine-filed-popup-left pointer" id="elChargePLTDed" ngbDropdownToggle>
                    <span>{{selectedchargePLTDed?.addChrName}}</span>
                  </div>
                  <div ngbDropdownMenu aria-labelledby="selectedchargePLTDed" aria-labelledby="selectedchargePLTDed">
                    <button class="dropdown-item" *ngFor="let priceType of chargePLTDed" ngbDropdownItem
                      (click)="onWHPriceTypeSelect(priceType, 'PLT_DED')">{{priceType?.addChrName}}</button>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-6 pl-0">
              <div class="form-group combine-filed-popup-right">
                <input priceDecDir type="text" maxlength="1" maxlength="15" class="form-control" placeholder="0.00"
                  [(ngModel)]="thirdPriceDed" (ngModelChange)="onPriceChange('ded')"
                  (keypress)="numberValidwithDecimal($event)"
                  [disabled]="selectedData?.forType === 'WAREHOUSE' && selectedData.data?.UsageType === 'SHARED' && warehouseUnit !== 'pallet'" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-5 col-md-6 col-sm-12 pl-0">
          <div class="row combine-filed-popup" *ngIf="selectedData.forType === 'WAREHOUSE'">
            <div class="col-xl-7 col-lg-7 col-md-7 col-6 pr-0">
              <ng-container
                *ngIf="(selectedData.mode === 'publish' && selectedData.forType === 'WAREHOUSE') || (selectedData.forType === 'WAREHOUSE' && warehouseUnit !== 'sqm')">
                <div class="combine-filed-popup-left pointer" id="elAddOnSQMDed">
                  <span>{{addOnSQMDed?.codeValDesc}}</span>
                </div>
              </ng-container>
              <ng-container
                *ngIf="selectedData.mode !== 'publish' && selectedData.forType === 'WAREHOUSE' && warehouseUnit === 'sqm'">
                <div ngbDropdown #elAddOnSQMDed="ngbDropdown">
                  <div class="combine-filed-popup-left pointer" id="elAddOnSQMDed" ngbDropdownToggle>
                    <span>{{addOnSQMDed?.codeValDesc}}</span>
                  </div>
                  <div ngbDropdownMenu aria-labelledby="addOnSQMDed" aria-labelledby="addOnSQM">
                    <button class="dropdown-item" *ngFor="let addOn of whAddsOn" ngbDropdownItem
                      (click)="onAddsOnSelect(addOn, 'SQM_DED')">{{addOn?.codeValDesc}}</button>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-6 pl-0">
              <div class="form-group combine-filed-popup-right">
                <input priceDecDir type="text" maxlength="1" maxlength="15" class="form-control" placeholder="0.00"
                  [(ngModel)]="addOnSQMPriceDed" (keypress)="numberValidwithDecimal($event)"
                  [disabled]="(selectedData?.forType === 'WAREHOUSE' && selectedData.data?.UsageType === 'SHARED' && warehouseUnit !== 'sqm') || disableElAddOnSQMDed" />
              </div>
            </div>
          </div>
          <div class="row combine-filed-popup" *ngIf="selectedData.forType === 'WAREHOUSE'">
            <div class="col-xl-7 col-lg-7 col-md-7 col-6 pr-0">
              <ng-container
                *ngIf="(selectedData.mode === 'publish' && selectedData.forType === 'WAREHOUSE') || (selectedData.forType === 'WAREHOUSE' && warehouseUnit !== 'sqft')">
                <div class="combine-filed-popup-left pointer" id="elAddOnSQFTDed">
                  <span>{{addOnSQFTDed?.codeValDesc}}</span>
                </div>
              </ng-container>
              <ng-container
                *ngIf="selectedData.mode !== 'publish' && selectedData.forType === 'WAREHOUSE' && warehouseUnit === 'sqft'">
                <div ngbDropdown #elAddOnSQFTDed="ngbDropdown">
                  <div class="combine-filed-popup-left pointer" id="elAddOnSQFTDed" ngbDropdownToggle>
                    <span>{{addOnSQFTDed?.codeValDesc}}</span>
                  </div>
                  <div ngbDropdownMenu aria-labelledby="addOnSQFTDed" aria-labelledby="addOnSQFTDed">
                    <button class="dropdown-item" *ngFor="let priceType of whAddsOn" ngbDropdownItem
                      (click)="onAddsOnSelect(priceType, 'SQFT_DED')">{{priceType?.codeValDesc}}</button>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-6 pl-0">
              <div class="form-group combine-filed-popup-right">
                <input priceDecDir type="text" maxlength="1" maxlength="15" class="form-control" placeholder="0.00"
                  [(ngModel)]="addOnSQFTPriceDed" (keypress)="numberValidwithDecimal($event)"
                  [disabled]="(selectedData?.forType === 'WAREHOUSE' && selectedData.data?.UsageType === 'SHARED' && warehouseUnit !== 'sqft') || disableElAddOnSQFTDed" />
              </div>
            </div>
          </div>
          <div class="row combine-filed-popup" *ngIf="selectedData.data?.UsageType === 'SHARED'">
            <div class="col-xl-7 col-lg-7 col-md-7 col-6 pr-0">
              <ng-container
                *ngIf="(selectedData.mode === 'publish' && selectedData.forType === 'WAREHOUSE') || (selectedData.forType === 'WAREHOUSE' && warehouseUnit !== 'pallet')">
                <div class="combine-filed-popup-left pointer" id="elAddOnPLTDed">
                  <span>{{addOnPLTDed?.codeValDesc}}</span>
                </div>
              </ng-container>
              <ng-container
                *ngIf="selectedData.mode !== 'publish' && selectedData.forType === 'WAREHOUSE' && warehouseUnit === 'pallet'">
                <div ngbDropdown #elAddOnPLTDed="ngbDropdown">
                  <div class="combine-filed-popup-left pointer" id="elAddOnPLTDed" ngbDropdownToggle>
                    <span>{{addOnPLTDed?.codeValDesc}}</span>
                  </div>
                  <div ngbDropdownMenu aria-labelledby="addOnPLTDed" aria-labelledby="addOnPLTDed">
                    <button class="dropdown-item" *ngFor="let priceType of whAddsOn" ngbDropdownItem
                      (click)="onAddsOnSelect(priceType, 'PLT_DED')">{{priceType?.codeValDesc}}</button>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-6 pl-0">
              <div class="form-group combine-filed-popup-right">
                <input priceDecDir type="text" maxlength="1" maxlength="15" class="form-control" placeholder="0.00"
                  [(ngModel)]="addOnPLTPriceDed" (keypress)="numberValidwithDecimal($event)"
                  [disabled]="(selectedData?.forType === 'WAREHOUSE' && selectedData.data?.UsageType === 'SHARED' && warehouseUnit !== 'pallet') || disableElAddOnPLTDed" />
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Additional charges -->
      <div class="row more-charges" [hidden]="selectedData.data?.UsageType && selectedData.data.UsageType === 'FULL'">
        <div class="col-12">
          <h5 class="model-sub-head mt-4 pull-left">Additional Charges <span
              [hidden]="selectedData.data?.UsageType === 'SHARED'">At Port Of
              Origin</span></h5>
        </div>
        <div class="col-xl-6 col-md-6 col-12" *ngFor="let origin of selectedOriginsDed; let i=index">
          <div class="row combine-filed-popup">
            <div class="d-flex ml-3 mr-3 mb-2" [ngClass]="addOriginDedActive ? 'active' : ''">
              <div class="col-xl-7 col-lg-7 col-md-7 col-7 pr-0 pl-0">
                <div ngbDropdown #originDropdownDed="ngbDropdown" class="combine-filed-popup-left-btn"
                  (openChange)="dropdownToggle($event, 'origin')">
                  <button class="btn has-open" id="{{selectedOriginsDed[i]?.addChrName}}" [placement]="'top'"
                    ngbTooltip="{{selectedOriginsDed[i]?.addChrName}} - ({{selectedOriginsDed[i]?.addChrBasis}})"
                    [disableTooltip]="!selectedOriginsDed[i]?.addChrName" ngbDropdownToggle>
                    {{selectedOriginsDed[i]?.addChrName || 'Select' | limitTo : 30 }}
                  </button>
                  <div ngbDropdownMenu aria-labelledby="originExport">
                    <button *ngIf="!isOriginChargesForm" id="{{selectedOriginsDed[i]?.addChrName}}"
                      class="dropdown-item custom-label has-open" (click)="showCustomChargesForm('origin')">
                      <img src="../../../../assets/images/icons/icon_add.svg" width="16" alt=""> Add Custom Label
                    </button>
                    <ng-container *ngIf="!isOriginChargesForm">
                      <button class="dropdown-item add-charge-border" *ngFor="let charge of originsListDed"
                        [id]="'orglist_dest' + charge?.addChrID" (click)="selectChargesDed('EXPORT', charge, i)">
                        {{charge.addChrName}}
                        <span class="d-block" style="color:#777;font-size:0.7rem">{{charge?.addChrBasis}}</span>
                      </button>
                    </ng-container>
                    <div class="row dropdown-item charges-form" *ngIf="isOriginChargesForm">
                      <!-- Warehouse Charges -->
                      <div class="col-12 mt-2">
                        <div class="form-group">
                          <input class="form-control has-open" type="text"
                            [ngClass]="!labelValidate ?  'inputError' : ''" [(ngModel)]="lablelName"
                            (focus)="labelValidate = true" placeholder="Charge Label / Term">
                          <small class="text-danger d-block" *ngIf="!labelValidate">Please provide name for your custom
                            label</small>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <select class="form-control has-open" [ngClass]="!surchargeBasisValidate ?  'inputError' : ''"
                            [(ngModel)]="surchargeTypeDed" (focus)="surchargeBasisValidate = true">
                            <option value="" hidden selected>Select Surcharge Basis</option>
                            <option *ngFor="let item of surchargesList" [value]="item.codeValID">
                              {{item.codeValDesc}}</option>
                          </select>
                          <small class="text-danger d-block" *ngIf="!surchargeBasisValidate">Please select surcharge
                            basis
                          </small>
                        </div>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary mt-1 mb-2 has-open hvr-sweep-to-right w-100"
                          (click)="addCustomLabel('originDed')">Add Label
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-3 pl-0 pr-0">
                <div class="form-group mb-0 combine-filed-popup-mid">
                  <input priceDecDir type="text" maxlength="15" class="form-control" [(ngModel)]="origin.Price"
                    placeholder="0.00" (keypress)="numberValidwithDecimal($event)">
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-2 pl-0 pr-0">
                <div class="origin combine-filed-popup-right">
                  <div class="flag-container">
                    <img *ngIf="origin.currency && origin.currency.imageName"
                      src="{{'../../../../../assets/images/flags/4x3/' + (origin.currency.imageName | lowercase) + '.svg'}}"
                      type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                  </div>
                  <input type="text" placeholder="{{(selectedCurrency?.shortName)?selectedCurrency?.shortName:'USD'}}"
                    (ngModelChange)="getVal(i, $event, 'originDed')" [(ngModel)]="origin.currency" class="form-control"
                    [ngbTypeahead]="currencies" [resultTemplate]="crt" [inputFormatter]="currencyFormatter"
                    (keyup)="onKeyDown(i, $event, 'origin')"
                    [ngClass]="{'routeSelected': origin.currency && origin.currency.imageName}">
                  <ng-template #crt let-r="result">
                    <div class="d-flex">
                      <div class="flag-container">
                        <img src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                          style="max-width:20px;max-height:22px;">
                      </div>
                      <ngb-highlight [result]="r.shortName"></ngb-highlight>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
            <img src="../../../../assets/images/icons/icon_del_round.svg" alt="delete-icon"
              class="icon-size-16 combine-filed-popup-delete pointer"
              (click)="removeAdditionalCharge('originDed', origin)">
          </div>
        </div>
        <div class="col-12">
          <a (click)="addMoreCharges('originDed')" href="javascript:;" class="addAnother animated fadeIn">Add More
            Charges
          </a>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-primary pl-3 pr-2 mt-4 hvr-sweep-to-right mr-2" *ngIf="selectedData.mode === 'draft'"
          (click)="savedraftrow('saveNadd')">SAVE & ADD ANOTHER</button>
        <button class="btn btn-primary pl-3 pr-3 mt-4 hvr-sweep-to-right" *ngIf="selectedData.mode === 'draft'"
          (click)="savedraftrow('onlySave')">SAVE & CLOSE
        </button>
        <button class="btn btn-primary pl-3 pr-3 mt-4 hvr-sweep-to-right mr-2" *ngIf="selectedData.mode === 'publish'"
          (click)="savedraftrow('update')">
          UPDATE
        </button>
        <button class="btn btn-primary pl-3 pr-3 mt-4 hvr-sweep-to-right" *ngIf="selectedData.mode === 'publish'"
          (click)="closePopup()">CANCEL</button>
      </div>
    </div>

  </div>
</div>