@import "../../../../assets/scss/variables";
.termsAndCondition {
  .modal-header {
    padding: 15px 32px;
    background: $modal-header-background;
    display: flex;
    h4 {
      margin: 0px;
      text-shadow: 0px 0px $text-color-default;
      font-size: $font-size-large + 0.125rem;
      margin-top: 4px;
      font-weight: $font-weight-normal;
    }
    a.crossIcon {
      position: absolute;
      right: 8px;
      top: 4px;
      width: 14px;
      height: 14px;
      img {
        width: 100%;
      }
    }
  }
  .modal-body {
    padding: 25px 32px;
    /deep/.list {
      list-style: none;
      padding: 0rem;
      p{
        border: 0px;
        color: $secondary-text-color;
        font-family: $font-proxima;
        font-weight: $font-weight-normal;
        font-size: $font-size-large;
        margin-bottom: 1.5rem;
        line-height: 1.2;
        // &:before {
        //   font-size: $font-size-large + 0.25rem;
        //   content: "\2022";
        //   color: $primary-color;
        //   font-weight: bold;
        //   display: inline-block;
        //   width: 1em;
        //   margin-left: -1em;
        // }
      }
    }
    .btn {
      height: 48px;
      font-size: $font-size-medium;
      font-weight: $font-proxima-weight-semibold;
      text-transform: uppercase;
      font-family: $font-proxima;
      &.disable {
        // cursor: no-drop;
        border: 0;
        background: $btn-disable-background !important;
        color: $btn-disable-color !important;
        border-radius: 2px;
        box-shadow: none !important;
        &:before {
          background: $btn-disable-background !important;
          color: $btn-disable-color !important;
        }
      }
    }
  }

  .editor {
    // padding: 0 1rem;
    border-radius: 4px;
    background: $color-white;
    color: $color-menuheading-black;
    font-size: $font-size-medium;
    text-align: left;
    font-family: $font-proxima;
    transition: 0.5s;
    border: 1px solid $data-table-border;
    padding: 1rem;
    height: 300px;
    overflow-y: auto;
  
    h1 {
      font-size: 2rem !important;
    }
  
    h2 {
      font-size: 1.5rem !important;
    }
  
    h3 {
      font-size: 1.28rem !important;
    }
  
    h4 {
      font-size: $root-font-size !important;
    }
  
    h5 {
      font-size: $font-size-medium !important;
    }
  
    h6 {
      font-size: $font-size-base !important;
    }
  
    p {
      font-size: $font-size-medium;
      color: $color-menuheading-black;
      margin: 0;
      line-height: 1.5;
    }
  
    .ql-align {
      &-center {
        text-align: center;
      }
  
      &-right {
        text-align: right;
      }
  
      &-justify {
        text-align: justify;
      }
    }
  
    ol {
      li {
        list-style: unset !important;
  
        &:before {
          content: "" !important;
        }
      }
    }
  
    ol,
    ul {
      padding-left: 1rem;
      padding-right: 1rem;
  
      li {
        font-family: $font-proxima;
        font-size: $font-size-medium !important;
        padding-left: 0px;
        color: $color-menuheading-black !important;
        list-style: none;
        position: relative;
  
        &.ql-indent {
          &-1 {
            margin-left: 4.5em;
          }
  
          &-2 {
            margin-left: 7.5em;
          }
  
          &-3 {
            margin-left: 10.5em;
          }
  
          &-4 {
            margin-left: 13.5em;
          }
  
          &-5 {
            margin-left: 16.5em;
          }
  
          &-6 {
            margin-left: 19.5em;
          }
  
          &-7 {
            margin-left: 22.5em;
          }
  
          &-8 {
            margin-left: 25.5em;
          }
        }
  
        &::before {
          color: $color-topmenuactive;
          content: "\2022";
          font-weight: bold;
          display: inline-block;
          transform: scale(1.8);
          position: absolute;
          left: -15px;
          top: -1px;
        }
  
        &.ql-direction-rtl {
          &.ql-align-right {
            direction: rtl !important;
            text-align: right !important;
  
            &:before {
              left: auto;
              right: -10px;
            }
          }
        }
      }
    }
  
    &.showMore {
      height: 210px !important;
      overflow-y: hidden !important;
    }
}
}

.termsAndConditionUnactive {
  display: none;
}
