<div class="book-filter">
  <div class="modal-header">
    <h4 class="provider-modal-title">{{isEdit?'Update':'Add'}} Schedule</h4>
    <a class="pointer crossIcon" (click)="closePopup()">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
    </a>
  </div>
  <div class="modal-body bg-light">
    <ng-scrollbar [trackX]="false" [trackY]="true">
      <div style="max-height: 575px; padding: 1rem;">
        <div class="row animated fadeIn">
          <div class="col-xl-4 col-lg-4 col-md-4 col-12">
            <div class="form-group shippingline">
              <label>Carrier</label>
              <div class="provider-img">
                <div class="shippingline-container" *ngIf="selectedCarrier?.imageName">
                  <img [src]="getCarrierImage(selectedCarrier?.imageName)">
                </div>
                <input placeholder="Carrier Name" [(ngModel)]="selectedCarrier" type="text" class="form-control"
                  [ngbTypeahead]="carrierFilter" [resultTemplate]="tmpCarrier"
                  [ngClass]="selectedCarrier && selectedCarrier?.imageName ? 'pl-5' : ''"
                  [ngClass]="{'routeSelected': selectedCarrier?.imageName}" [inputFormatter]="filterCarrierFormatter"
                  container="body" />
              </div>
            </div>
            <ng-template #tmpCarrier let-r="result" container="body">
              <div class="d-flex">
                <div class="d-inline-block icon-size-16 mr-2">
                  <img [src]="getCarrierImage(r.imageName)" class="mw-100 w-auto h-auto mh-100">
                </div>
                <ngb-highlight [result]="r.title"></ngb-highlight>
              </div>
            </ng-template>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-12">
            <div class="form-group date-control">
              <label>Departure - Arrival</label>
              <div class="dateIcon">
                <input id="dpicker" autocomplete="off" #calenderField class="form-control" placeholder="From - To"
                  name="dp" [minDate]="minDate" [dayTemplate]="t" [outsideDays]="true" [navigation]="false"
                  [autoClose]="false" container="body" [displayMonths]="displayMonth" ngbDatepicker #d="ngbDatepicker"
                  [placement]="'bottom'" (click)="showbutton(0)" />
              </div>
              <ng-template #t let-date="date" let-focused="focused" container="body">
                <span class="custom-day" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                  [class.faded]="isHovered(date) || isInside(date)" (click)="onDateSelection(date)"
                  (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-6">
            <div class="form-group">
              <label>Duration</label>
              <select [disabled]="!durationDdl || durationDdl?.length === 0" class="form-control"
                [(ngModel)]="selectionDuration">
                <option [value]="0" disabled>-Select-</option>
                <option *ngFor="let duration of durationDdl" [value]="duration">{{duration}}</option>
              </select>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-6">
            <div class="form-group">
              <label>Stops</label>
              <select class="form-control" [(ngModel)]="selectedStops"
                [disabled]="!selectionDuration || selectionDuration === 0">
                <option [value]="null" disabled>All</option>
                <option *ngFor="let stop of shipStop" [value]="stop">{{stop}}</option>
              </select>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-12">
            <div class="form-group shippingline">
              <label>Vessel Code {{from && from === 'BOOKING_LIST'?'(Optional)':''}}</label>
              <input type="text" class="form-control" placeholder="Vessel Code" [(ngModel)]="vesselCode"
                maxlength="15" />
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-12">
            <div class="form-group shippingline">
              <label>Vessel Name {{from && from === 'BOOKING_LIST'?'(Optional)':''}}</label>
              <input type="text" class="form-control" placeholder="Vessel Name" [(ngModel)]="vesselName"
                maxlength="15" />
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-12">
            <div class="form-group shippingline">
              <label>Voyage Code {{from && from === 'BOOKING_LIST'?'(Optional)':''}}</label>
              <input type="text" class="form-control" placeholder="Voyage Name" [(ngModel)]="voyageCode"
                maxlength="15" />
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label>Route</label>
              <div class="row combine-field">
                <div class="col-6 origin">
                  <div class="shippingline-container2">
                    <img *ngIf="filterOrigin && filterOrigin.imageName"
                      src="{{'../../../../assets/images/flags/4x3/' + (filterOrigin.imageName | lowercase) + '.svg'}}"
                      type="image/svg+xml">
                  </div>
                  <input class="form-control pl-5" [(ngModel)]="filterOrigin" placeholder="Origin" type="text"
                    [disabled]="isOriginDisabled" [ngClass]="{'routeSelected': filterOrigin && filterOrigin.imageName}"
                    [ngbTypeahead]="portsFilter" [resultTemplate]="rt" [inputFormatter]="filterPortsFormatter"
                    container="body" ngbTooltip="{{(filterOrigin?.PortName)?filterOrigin?.PortName:''}}" />
                </div>
                <div class="col-6 destination">
                  <div class="shippingline-container2">
                    <img *ngIf="filterDestination && filterDestination.imageName"
                      src="{{'../../../../assets/images/flags/4x3/' + (filterDestination.imageName | lowercase) + '.svg'}}"
                      type="image/svg+xml">
                  </div>
                  <input placeholder="Destination" [(ngModel)]="filterDestination" type="text" class="form-control pl-5"
                    [disabled]="isDestinationDisabled"
                    [ngClass]="{'routeSelected': filterDestination && filterDestination.imageName}"
                    [ngbTypeahead]="portsFilter" [resultTemplate]="rt" [inputFormatter]="filterPortsFormatter"
                    container="body" ngbTooltip="{{(filterDestination?.PortName)?filterDestination?.PortName:''}}" />
                </div>
              </div>
            </div>
            <ng-template #rt let-r="result" container="body" style="z-index: 9999;">
              <div class="d-flex">
                <div class="d-inline-block icon-size-16 mr-2">
                  <img src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                    class="mw-100 w-auto h-auto mh-100">
                </div>
                <ngb-highlight [result]="r.title"></ngb-highlight>
              </div>
            </ng-template>
          </div>
        </div>
        <section class="rates-filter mt-2">
          <ngb-accordion [destroyOnHide]="false">
            <ngb-panel [disabled]="!selectedStops || selectedStops === 'direct'">
              <ng-template ngbPanelTitle>
                <span class="pull-left">
                  <img src="../../../../assets/images/icons/filter-icon.svg" alt="Filter"
                    class="icon-size-16 mr-2 filter-icon">Trans Shipment One
                  <img src="../../../../assets/images/icons/icon_arrow_right.svg" alt="direction"
                    class="icon-size-16 acc-icon">
                </span>

              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row animated fadeIn">
                  <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                    <div class="form-group date-control">
                      <label>Arrival - Departure (Optional)</label>
                      <div class="dateIcon">
                        <input id="dpicker1" [disabled]="!fromDate?.day || !toDate?.day" autocomplete="off"
                          #calenderField1 class="form-control" placeholder="From - To" name="dp1" [dayTemplate]="t1"
                          [outsideDays]="false" [minDate]="fromDate" [maxDate]="toDate" [navigation]="false"
                          [autoClose]="false" container="body" [displayMonths]="displayMonth" ngbDatepicker
                          #d1="ngbDatepicker" [placement]="'bottom'" (click)="showbutton(1)" />
                      </div>
                      <ng-template #t1 let-date="date" let-focused="focused" container="body">
                        <span class="custom-day"
                          [class.range]="isFrom1(date) || isTo1(date) || isInside1(date) || isHovered1(date)"
                          [class.faded]="isHovered1(date) || isInside1(date)" (click)="onDateSelection1(date)"
                          (mouseenter)="hoveredDate1 = date" (mouseleave)="hoveredDate1 = null">
                          {{ date.day }}
                        </span>
                      </ng-template>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label>Route</label>
                      <div class="row">
                        <div class="col-12">
                          <div class="shippingline-container2">
                            <img *ngIf="transPort1 && transPort1.imageName"
                              src="{{'../../../../assets/images/flags/4x3/' + (transPort1.imageName | lowercase) + '.svg'}}"
                              type="image/svg+xml">
                          </div>
                          <input class="form-control pl-5" [(ngModel)]="transPort1" placeholder="Via Port" type="text"
                            [ngClass]="{'routeSelected': transPort1 && transPort1.imageName}"
                            [ngbTypeahead]="portsFilter" [resultTemplate]="rt" [inputFormatter]="filterPortsFormatter"
                            container="body" ngbTooltip="{{(transPort1?.PortName)?transPort1?.PortName:''}}" />
                        </div>
                      </div>
                    </div>
                    <ng-template #rt1 let-r="result" container="body">
                      <div class="d-flex">
                        <div class="d-inline-block icon-size-16 mr-2">
                          <img src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                            class="mw-100 w-auto h-auto mh-100">
                        </div>
                        <ngb-highlight [result]="r.title"></ngb-highlight>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>

        </section>
        <section class="rates-filter mt-2">
          <ngb-accordion [destroyOnHide]="false">
            <ngb-panel [disabled]="!selectedStops || selectedStops !== '2 t/s'">
              <ng-template ngbPanelTitle>
                <span class="pull-left">
                  <img src="../../../../assets/images/icons/filter-icon.svg" alt="Filter"
                    class="icon-size-16 mr-2 filter-icon">Trans Shipment Two
                  <img src="../../../../assets/images/icons/icon_arrow_right.svg" alt="direction"
                    class="icon-size-16 acc-icon">
                </span>

              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row animated fadeIn">
                  <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                    <div class="form-group date-control">
                      <label>Arrival - Departure (Optional)</label>
                      <div class="dateIcon">
                        <input id="dpicker2" [disabled]="!fromDate?.day || !toDate?.day" autocomplete="off"
                          #calenderField2 class="form-control" placeholder="From - To" name="dp2" [dayTemplate]="t2"
                          [outsideDays]="true" [minDate]="fromDate" [maxDate]="toDate" [navigation]="false"
                          [autoClose]="false" container="body" [displayMonths]="displayMonth" ngbDatepicker
                          #d2="ngbDatepicker" [placement]="'bottom'" (click)="showbutton(2)" />
                      </div>
                      <ng-template #t2 let-date="date" let-focused="focused" container="body">
                        <span class="custom-day"
                          [class.range]="isFrom2(date) || isTo2(date) || isInside2(date) || isHovered2(date)"
                          [class.faded]="isHovered2(date) || isInside2(date)" (click)="onDateSelection2(date)"
                          (mouseenter)="hoveredDate2 = date" (mouseleave)="hoveredDate2 = null">
                          {{ date.day }}
                        </span>
                      </ng-template>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label>Route</label>
                      <div class="row">
                        <div class="col-12 ">
                          <div class="shippingline-container2">
                            <img *ngIf="transPort2 && transPort2.imageName"
                              src="{{'../../../../assets/images/flags/4x3/' + (transPort2.imageName | lowercase) + '.svg'}}"
                              type="image/svg+xml">
                          </div>
                          <input class="form-control pl-5" [(ngModel)]="transPort2" placeholder="Via Port" type="text"
                            [ngClass]="{'routeSelected': transPort2 && transPort2.imageName}"
                            [ngbTypeahead]="portsFilter" [resultTemplate]="rt" [inputFormatter]="filterPortsFormatter"
                            container="body" ngbTooltip="{{(transPort2?.PortName)?transPort2?.PortName:''}}" />
                        </div>
                      </div>
                    </div>
                    <ng-template #rt2 let-r="result" container="body">
                      <div class="d-flex">
                        <div class="d-inline-block icon-size-16 mr-2">
                          <img src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                            class="mw-100 w-auto h-auto mh-100">
                        </div>
                        <ngb-highlight [result]="r.title"></ngb-highlight>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </section>

        <div class="row">
          <div class="col-xl-9 col-lg-9 col-md-9 col-12"></div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-12">
            <div class="form-group">
              <label for="">&nbsp;</label>
              <button *ngIf="!isProcessing" class="btn btn-primary w-100 btn-lg" (click)="onSaveSchedule('add')">
                {{isEdit?'Update':'Add'}} Schedule
              </button>
              <button *ngIf="isProcessing" class="btn btn-primary w-100 btn-lg">
                <i class="fa fa-spinner fa-spin"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-scrollbar>
  </div>
</div>