@import "../../../../assets/scss/_variables";
$acc-bg: #f3f4f7;
$acc-border: #b8c1c9;
$ngb-dp-month-border-color: #dfdfdf;
$ngb-dp-weekday-fontcolor: #777777;
$provider-input-border: #e9ecf0;

ngb-typeahead-window {
  z-index: 9999 !important;
}

.book-filter {
  .rates-filter {
    border: 1px solid $acc-border;
    display: inline-block;
    width: 100%;
    // z-index: 9999;
    position: relative;

    .card {
      background: $acc-bg;
      border: none;
      margin-bottom: 0;
      &-header {
        background: $acc-bg;
        border: none;
        padding: 0.35rem;
        &.active {
          .filter-icon {
            transform: scaleY(-1);
          }
          .acc-icon {
            transform: rotate(-90deg);
            margin-right: 30px;
          }
        }
        a,
        .btn {
          color: $pagination-text-color;
          font-weight: $font-weight-mid;
          width: 100%;
          .acc-icon {
            margin-left: 7px;
            transform: rotate(90deg);
            transition: ease-in 0.5s;
          }
          .filter-icon {
            position: relative;
            top: -2px;
          }
          .clear-filter {
            float: right;
            font-family: $font-proxima;
            font-size: $font-size-medium;
            color: $color-topmenu;
            margin-top: 5px;
            line-height: 1;
            svg {
              width: 1rem;
              fill: $color-topmenu;
              transform: rotate(45deg);
              position: relative;
              top: -1px;
            }
          }
          &:hover {
            box-shadow: none !important;
          }
        }
      }
      &-body {
        padding: 5px 5.25rem;

        .form-group {
          label {
            font-family: $font-proxima;
            font-size: $font-size-large;
            font-weight: $font-weight-normal;
            color: $text-color-default;
          }
          .form-control {
            height: 3.125rem;
          }
          input,
          select {
            &.fieldError {
              border-color: $danger-color;
              transition: ease-in 0.8s;
            }
            &::-webkit-input-placeholder {
              color: $place-holder-color;
            }
            &::-moz-placeholder {
              color: $place-holder-color;
            }
            &:-moz-placeholder {
              color: $place-holder-color;
            }
            &:-ms-input-placeholder {
              color: $place-holder-color;
            }
          }
        }
        .combine-field {
          background: $color-white;
          border: 1px solid $provider-input-border;
          border-radius: 4px;
          margin: 0;
          .dropdown-menu {
            padding: 0;
            button {
              .flag-container {
                width: 15px;
                height: 12px;
                display: flex;
                margin-top: 5px;
                margin-right: 10px !important;
                img {
                  border: 1px solid $primary-grey;
                }
              }
            }
          }
          .origin,
          .destination,
          .provider-img {
            position: relative;
            .flag-container {
              width: 16px;
              height: 24px;
              align-items: center;
              position: absolute;
              left: 10px;
              top: 11px;
              img {
                border: 1px solid $primary-grey;
              }
            }
            .routeSelected {
              padding-left: 30px !important;
            }
          }
          input {
            border: none;
          }
          .origin {
            border-right: 1px solid $provider-input-border;
          }
        }
        .fancyOptionBoxes {
          &.filter-checkbox {
            label {
              line-height: 1.2;
              font-size: 1rem !important;
            }
          }
        }
        .date-control {
          .dateIcon {
            position: relative;
            input {
              // padding-left: 2.625rem;
              &::placeholder {
                // font-style: italic;
              }
              &::-ms-input-placeholder {
                // font-style: italic;
              }
              &::-webkit-input-placeholder {
                // font-style: italic;
              }
            }
            &:before {
              // content: url("assets/images/icons/Icons_Calendar.svg");
              position: absolute;
              left: 15px;
              top: 14px;
              width: 16px;
              height: 16px;
              z-index: 4;
              opacity: 0.5;
            }
          }
        }
      }
    }

    // ngb-typeahead-window {
    //     max-height: 200px;
    //     overflow-y: auto;
    //     .dropdown-item {
    //         &.active,
    //         &:active {
    //             background: $primary-grey;
    //         }
    //     }
    // }

    .provider-img {
      position: relative;
      .flag-container {
        width: 16px;
        height: 24px;
        align-items: center;
        position: absolute;
        left: 10px;
        top: 11px;
        img {
          border: 1px solid $primary-grey;
        }
      }
      .routeSelected {
        padding-left: 30px !important;
      }
    }
  }
  .sort-name-dropdown {
    button.btn {
      background: transparent !important;
      border: 0;
      outline: 0 !important;
      box-shadow: none;
      color: $dark-grey-blue;
      font-size: $font-size-base;
      font-weight: $font-proxima-weight-semibold;
      font-family: $font-proxima;
      text-transform: uppercase;
      &:hover,
      &.btn-primary:not(:disabled):not(.disabled).active:focus,
      &.btn-primary:not(:disabled):not(.disabled):active:focus,
      &.show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0px 0px 0px !important;
        outline: 0 !important;
      }
    }
    .dropdown-menu.show {      
      .dropdown-item {
        font-size: $font-size-medium;
        &:active {
          background-color: transparent !important;
        }
      }
      top: 18px !important;
      left: -3.8rem !important;
    }
  }
  .modal-body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;

    .model-sub-head {
      color: $secondary-grey;
      font-family: $font-proxima;
      font-weight: 500;
      font-size: 0.875rem;
      text-transform: uppercase;
    }
  }
  .form-group {
    label {
      font-size: 0.75rem;
      font-family: $font-proxima;
      font-weight: $font-weight-normal;
      color: $color-topmenu;
    }
  }
  .shippingline {
    position: relative;
    &-container {
      position: absolute;
      img {
        width: 1.5rem;
        height: 1.5rem;
        top: 0.75rem;
        position: absolute;
        left: 1rem;
      }
    }
    &-container2 {
      position: absolute;
      img {
        width: 1.5rem;
        height: 1rem;
        top: 1rem;
        position: absolute;
        left: 1rem;
      }
    }
  }
}

// ngb-datepicker.dropdown-menu.show {
//   left: 37% !important;
// }
// /* (1366x768)  */
// @media  screen and (max-width: 1600px) { 
//   ngb-datepicker.dropdown-menu.show {
//     left: 35% !important;
//   }
// }
// /* (1366x768)  */
// @media  screen and (max-width: 1366px) { 
//   ngb-datepicker.dropdown-menu.show {
//     left: 27rem !important;
//   }
// }

