@import "../../../../assets/scss/_variables";
.provider-office-modal {
    .modal-header {
        background: $modal-header-background;
        .provider-modal-title {
            font-size: 1.25rem;
            margin: 4px 0 0 0;
        }
    }
    .modal-body {
        p {
            font-family: $font-proxima;
            font-size: 1rem;
            margin-bottom: 12px;
            line-height: 20px;
        }
    }
    .city-dropdown {
        position: relative;
        display: inline-block;
        width: 100%;

         .flag-container {
          width: 20px;
          height: 16px;
          position: absolute;
          left: 20px;
          top: 17px;
          display: flex;

          img {
            width: 20px;
            height: 16px;
            border: 0px solid $primary-grey;
          }
        }

        input {
          &.routeSelected {
            padding-left: 3rem;
          }
        }

        &.currency {
          ngb-typeahead-window {
            top: auto !important;
            bottom: 50px;
          }
        }
      }
}