<div class="provider-office-modal animated fadeIn">
  <div class="modal-header">
    <h4 class="provider-modal-title">Add/Edit Office Address</h4>
    <a class="pointer crossIcon" (click)="closeModal(null)">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
    </a>
  </div>
  <div class="modal-body">
    <div class="col-12 pt-2">
      <form novalidate [formGroup]="officeAddressForm">
        <div class="row mt-3">
          <!-- <div class="col-12">
            <hr>
          </div> -->
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
              <label>Office Name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <input type="text" class="form-control" maxlength="100" placeholder="Enter office name"
                formControlName="officeName" [ngClass]="(officeName_error)? 'fieldError': ''"
                (focusout)="officeErrorMessage()" (focus)="officeName_error=false" />
              <span class="animated fadeIn" *ngIf="officeName_error">
                <p class="inputError animated fadeIn"
                  *ngIf="officeAddressForm.controls['officeName'].hasError('required') && (officeAddressForm.controls.officeName.dirty || officeAddressForm.controls.officeName.touched)">
                  This field is required!</p>
                <p class="inputError animated fadeIn"
                  *ngIf="!officeAddressForm.controls['officeName'].hasError('pattern') && officeAddressForm.controls['officeName'].hasError('minlength') && (officeAddressForm.controls.officeName.dirty || officeAddressForm.controls.officeName.touched)">
                  Office Name should be minimum 10 digits</p>
                <p class="inputError animated fadeIn"
                  *ngIf="!officeAddressForm.controls['officeName'].hasError('pattern') && officeAddressForm.controls['officeName'].hasError('maxlength') && (officeAddressForm.controls.officeName.dirty || officeAddressForm.controls.officeName.touched)">
                  Office Name should not exceed from 150 digits</p>
              </span>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <div class="form-group">
              <label>Office Address</label>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <textarea (keypress)="oneSpaceHandler($event)" class="form-control" maxlength="200"
                formControlName="officeAddress" [ngClass]="(officeAddress_error)? 'fieldError': ''"
                placeholder="Enter office address" (focusout)="officeErrorMessage()"
                (focus)="officeAddress_error=false">
                      </textarea>
              <span class="animated fadeIn" *ngIf="officeAddress_error">
                <p class="inputError animated fadeIn"
                  *ngIf="officeAddressForm.controls['officeAddress'].hasError('required') && (officeAddressForm.controls.officeAddress.dirty || officeAddressForm.controls.officeAddress.touched)">
                  This field is required!</p>
                <p class="inputError animated fadeIn"
                  *ngIf="!officeAddressForm.controls['officeAddress'].hasError('pattern') && officeAddressForm.controls['officeAddress'].hasError('minlength') && (officeAddressForm.controls.officeAddress.dirty || officeAddressForm.controls.officeAddress.touched)">
                  Office Address should be minimum 10 digits</p>
                <p class="inputError animated fadeIn"
                  *ngIf="!officeAddressForm.controls['officeAddress'].hasError('pattern') && officeAddressForm.controls['officeAddress'].hasError('maxlength') && (officeAddressForm.controls.officeAddress.dirty || officeAddressForm.controls.officeAddress.touched)">
                  Office Address should not exceed from 500 digits</p>
              </span>

            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <div class="form-group">
              <label>City / Country</label>
            </div>
          </div>
          <div class="col">
            <div class="form-group city-dropdown">
              <div class="flag-container"
                *ngIf="officeAddressForm.value.officeCity && officeAddressForm.value.officeCity.imageName">
                <img
                  src="{{'../../../../../assets/images/flags/4x3/' + (officeAddressForm.value.officeCity.imageName | lowercase) + '.svg'}}"
                  type="image/svg+xml">
              </div>
              <input type="search" [autocomplete]="'new-password'" (keypress)="oneSpaceHandler($event)"
                class="form-control"
                [ngClass]="{'routeSelected': officeAddressForm.value.officeCity && officeAddressForm.value.officeCity.imageName}"
                maxlength="100" formControlName="officeCity" [ngbTypeahead]="search2" [resultTemplate]="bnk"
                [inputFormatter]="formatterCty" placeholder="Enter city name"
                [ngClass]="(officeCity_error)? 'fieldError': ''" (focusout)="officeErrorMessage()"
                (focus)="officeCity_error=false" />
              <ng-template #bnk let-r="result" ()>
                <!-- <div class="d-flex" (click)="selectCity(r)">
                  <p style="margin-bottom: 0 !important; overflow: hidden;padding: 0;"
                    (click)="$event.preventDefault();$event.stopPropagation()">{{r.title}}</p>
                </div> -->
                <!-- <div class="d-flex" style="z-index: 999;">
                </div> -->

                <!-- <ngb-highlight [result]=""></ngb-highlight> -->
                <div class="d-flex">
                  <div class="mr-1">
                    <img src="{{'../../../../../assets/images/flags/4x3/' + (r?.imageName | lowercase) + '.svg'}}"
                      class="mw-100 w-auto h-auto mh-100 flag-icon-20-12 mb-1 mr-1">
                  </div>
                  <ngb-highlight [result]="r.title" ></ngb-highlight>
                  <!-- <ngb-highlight [result]="r.title" (click)="selectCity(r)"></ngb-highlight> -->
                </div>
              </ng-template>
              <span class="animated fadeIn" *ngIf="officeCity_error">
                <p class="inputError animated fadeIn"
                  *ngIf="(officeAddressForm.controls.officeCity.dirty || officeAddressForm.controls.officeCity.touched) && !officeAddressForm.value.officeCity?.id">
                  Please select from list</p>
              </span>

            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <div class="form-group">
              <label>Phone Number</label>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <div class="select-number">
                <div class="input-group-prepend">
                  <div *ngIf="false" ngbDropdown class="select-country-list">
                    <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                      <div class="flag-container">
                        <img *ngIf="!officeCountryFlagImage" src="../../../../../assets/images/flags/4x3/us.svg"
                          alt="flags" type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                        <img *ngIf="officeCountryFlagImage"
                          [src]="'../../../../../assets/images/flags/4x3/' + (officeCountryFlagImage | lowercase) + '.svg'"
                          alt="flags" type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                      </div>
                      <span>{{officePhoneCode}}</span>
                    </div>
                    <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let list of countryList" (click)="selectOfficePhone(list)">
                          <div class="flag-container">
                            <img [src]="'../../../../../assets/images/flags/4x3/' + (list.code | lowercase) + '.svg'"
                              alt="{{list.code + '-flag'}}" class="mw-100 w-auto h-auto mh-100">
                          </div>
                          <!-- <span>Pakistan</span> -->
                          <span class="dial-code"> {{list.desc[0].CountryPhoneCode}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="select-country-list">
                    <app-country-select *ngIf="countryList?.length > 0" [selectedCountry]="officeSelCountryTel"
                      [countryList]="countryList" (onSelect)="selectOfficePhone($event)">
                    </app-country-select>
                  </div>
                  <input type="text" class="form-control select-country-code" maxlength="13" placeholder="123456789"
                    formControlName="officePhone" [ngClass]="(officePhone_error)? 'fieldError': ''" specialCharRemover
                    (focusout)="officeErrorMessage()" (keypress)="numberValid($event)" />
                </div>
                <span class="animated fadeIn" *ngIf="officePhone_error">
                  <p class="inputError animated fadeIn"
                    *ngIf="officeAddressForm.controls['officePhone'].hasError('required') && (officeAddressForm.controls.officePhone.dirty || officeAddressForm.controls.officePhone.touched)">
                    This field is required!</p>
                  <p class="inputError animated fadeIn"
                    *ngIf="!officeAddressForm.controls['officePhone'].hasError('pattern') && officeAddressForm.controls['officePhone'].hasError('minlength') && (officeAddressForm.controls.officePhone.dirty || officeAddressForm.controls.officePhone.touched)">
                    Office Contact should be minimum 7 digits</p>
                  <p class="inputError animated fadeIn"
                    *ngIf="!officeAddressForm.controls['officePhone'].hasError('pattern') && officeAddressForm.controls['officePhone'].hasError('maxlength') && (officeAddressForm.controls.officePhone.dirty || officeAddressForm.controls.officePhone.touched)">
                    Office Contact should not exceed from 13 digits</p>
                </span>
                <span class="animated fadeIn" *ngIf="officeAddressForm.get('officePhone').value && !officePhoneCode">
                  <p class="inputError animated fadeIn">
                    Please Select country phone code
                  </p>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <hr class="mb-3">
            <button class="btn btn-outline-primary hvr-sweep-to-right" type="button" (click)="addOffice()">Save</button>
            <button class="btn btn-outline-primary hvr-sweep-to-right ml-3" type="button"
              (click)="closeModal(false)">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>