<div class="upload-booking-document modal-content">
  <div class="modal-header pb-2 pt-2">
    <h4 class="modal-title mb-2 mt-2 d-flex align-items-center">
      Documents
      <a class="btn-refresh" ngbTooltip="Refresh Documents" (click)="refreshDoc()" href="javascript:void(0)"
        ng-reflect-klass="nav-link grey-placeholder" ng-reflect-ng-class="">
        <i class="icon-svg icon-size-24">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
            x="0px" y="0px" viewBox="0 0 473.677 473.677" style="enable-background:new 0 0 473.677 473.677;"
            xml:space="preserve">
            <path
              d="M473.677,236.842c0-130.814-106.036-236.838-236.835-236.838C106.036,0.004,0,106.032,0,236.842  c0,130.795,106.036,236.831,236.842,236.831C367.641,473.673,473.677,367.637,473.677,236.842z" />
            <g>
              <path style="fill:#FFFFFF;"
                d="M414.449,297.547c-17.243-27.052-34.494-54.108-51.741-81.156c-2.909-4.57-9.218-4.458-12.12,0.045   c-17.374,26.966-34.756,53.936-52.133,80.902c-1.881,2.917-1.245,5.733,0.52,7.681c1.092,1.653,2.909,2.831,5.505,2.838   c9.151,0.022,18.301,0.045,27.448,0.067c-42.22,67.081-144.695,73.228-192.797,4.342c-15.407-22.06-51.86-0.995-36.293,21.304   c33.963,48.633,89.746,76.474,149.359,69.65c57.361-6.57,103.657-43.663,126.644-95.18c9.835,0.026,19.674,0.049,29.513,0.075   C413.537,308.126,417.366,302.12,414.449,297.547z" />
              <path style="fill:#FFFFFF;"
                d="M370.457,138.899c-33.97-48.633-89.75-76.478-149.366-69.65   c-57.933,6.63-104.547,44.43-127.288,96.761c-12.232-0.03-24.476-0.06-36.708-0.09c-5.187-0.015-9.02,5.987-6.099,10.561   c17.243,27.052,34.49,54.108,51.733,81.16c2.913,4.566,9.218,4.454,12.124-0.045c17.374-26.97,34.759-53.936,52.133-80.902   c1.877-2.917,1.245-5.729-0.512-7.677c-1.092-1.653-2.909-2.835-5.508-2.842c-6.847-0.015-13.694-0.034-20.545-0.049   c41.599-68.55,145.267-75.322,193.744-5.92C349.572,182.259,386.029,161.194,370.457,138.899z" />
            </g>
          </svg>
        </i>
      </a>
    </h4>
    <a class="pointer crossIcon" (click)="close()">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" style="width: 13px;">
    </a>
  </div>
  <div class="modal-body pb-0 mt-0 pt-0">
    <div class="row mt-2 main-doc-container">
      <div class="col-12 ">
        <div class="row">
          <div class="col-xl-12 col-sm-12">
            <div class="row">
              <div class="col-12">
                <div class="card" style="border: none;">
                  <div class="card-body pt-0">
                    <div *ngIf="additionalDocuments?.length > 0" class="other-document border-0">
                      <div>
                        <span *ngFor="let document of additionalDocuments; let doc_index = index">
                          <div [id]="'static-' + doc_index " class="pr-3 card mt-3 p-2">
                            <div class="doc-title">
                              <div class="accordion mb-2" (click)="onDocumentClick(document,doc_index, $event)"
                                style="cursor:pointer">
                                <div
                                  [ngClass]="(document?.DocumentID > -1 && document?.DocumentUploadDate) ?'document-container':'document-simple'">
                                  <div
                                    [ngClass]="{'document-title-container':(document?.DocumentID > 0 && document?.DocumentUploadDate)}">
                                    <h2 class="accordion-title" [ngClass]="{'empty-title':!(document?.DocumentID > 0)}">
                                      <img alt="check icon" class="icon-size-24 check-icon ng-star-inserted"
                                        src="../../../../../assets/images/icons/Icons_Check.svg"
                                        *ngIf="document?.DocumentID > 0">
                                      <span *ngIf="document?.DocumentID === -1" class="docTitle"
                                        (click)="$event.preventDefault();$event.stopPropagation()">
                                        <select class="form-control" [(ngModel)]="selectedDocument">
                                          <option disabled [selected]="true" [value]="undefined">Select</option>
                                          <option *ngFor="let doc of docTypeList" [value]="doc.documentTypeID">
                                            {{ doc.documentTypeName }}</option>
                                        </select>
                                      </span>
                                      <span *ngIf="document?.DocumentID > -1" class="docTitle"
                                        (click)="acDownloadAction(document.DocumentFileName,$event)">
                                        {{ (document.DocumentNature === 'ADD_DOC')?
                                        document?.DocumentName:document?.DocumentTypeName}}
                                      </span>
                                      <img *ngIf="document?.DocumentID > 0"
                                        (click)="acDownloadAction(document.DocumentFileName,$event)"
                                        class="icon-size-14 mt-1 ml-2"
                                        src="../../../../../assets/images/icons/download-solid.svg" alt="">
                                      <!-- <span *ngIf="document.DocumentFileName" (click)="downloadAction(document.DocumentFileName, acc,'static-', doc_index)" class="fa fa-cloud-download"></span> -->
                                    </h2>
                                    <ng-container *ngIf="document?.IsApprovalRequired">
                                      <span *ngIf="document?.DocumentLastStatus.toLowerCase() === 'approved'"
                                        class="badge pointer mt-1 hashmove-badge-secondary"
                                        [ngClass]="document?.DocumentLastStatus.toLowerCase() === 'approved' ? '' : 'badge'">
                                        {{document.DocumentLastStatus}}
                                      </span>
                                      <span
                                        *ngIf="document?.DocumentLastStatus && document?.DocumentLastStatus.toLowerCase() !== 'approved'"
                                        class="badge pointer mt-1"
                                        [ngClass]="[document.DocumentLastStatus === 'DRAFT' ? 'hashmove-badge-warning' : 'badge', document.DocumentLastStatus.toLowerCase() === 're-upload' ? 'hashmove-badge-danger' : 'badge']">
                                        {{(document.DocumentLastStatus.toLowerCase() === 'draft') ? 'PENDING APPROVAL' :
                                        (document.DocumentLastStatus.toLowerCase()
                                        === 're-upload' ? 'REJECTED' : document.DocumentLastStatus)}}
                                      </span>
                                    </ng-container>
                                  </div>
                                  <div class="d-flex justify-content-between align-items-center mt-1">
                                    <div class="d-flex flex-column text-left">
                                      <p class="accordion-time" *ngIf="document.DocumentUploadDate">Uploaded
                                        {{document?.CreatedByUserName? 'by ' + document?.CreatedByUserName + '
                                        ':''}}{{document?.CreatedByUserCompanyName? 'of ' +
                                        document?.CreatedByUserCompanyName + ' ':''}}<br>on
                                        {{document.DocumentUploadDate | date : "d MMM, yyyy"}}
                                        {{document.DocumentUploadDate | date : "H:mm"}} GMT
                                      </p>
                                      <!-- No Expiry Fields Available yet -->
                                    </div>
                                    <div class="d-flex align-items-center">
                                      <span class="badge badge-pill hashmove-badge-danger mr-4 mt-2 mr-1"
                                        *ngIf="document?.ExpiryStatusCode === 'EXPIRING-RED'">{{document?.ExpiryStatusMessage}}</span>
                                      <span class="badge badge-pill hashmove-badge-warning mr-4 mt-2 mr-1"
                                        *ngIf="document?.ExpiryStatusCode === 'EXPIRING-YEL'">{{document?.ExpiryStatusMessage}}</span>
                                      <span class="badge badge-pill hashmove-badge-primary-grey mr-4 mt-2 mr-1"
                                        *ngIf="document?.ExpiryStatusCode === 'EXPIRING-BLK'">{{document?.ExpiryStatusMessage}}</span>

                                      <ng-container *ngIf="!isProvider && document?.IsApprovalRequired">
                                        <button class="btn btn-outline-primary pull-right hvr-sweep-to-right mr-1"
                                          *ngIf="document && document.DocumentID > 0 && document.DocumentFileName && document.IsUploadable && document.DocumentLastStatus.toLowerCase() != 're-upload' && document.DocumentLastStatus.toLowerCase() !== 'approved' && (request?.RequestStatusBL?.toLowerCase() !== 'cancelled' ||request?.RequestStatusBL?.toLowerCase() !== 'declined')"
                                          (click)="reuploadDoc(document)">
                                          Reject
                                        </button>
                                        <button class="btn btn-outline-primary pull-right hvr-sweep-to-right mr-1"
                                          *ngIf="document && document.DocumentID > 0 && document.DocumentFileName && document.IsUploadable && (document.DocumentLastStatus.toLowerCase() != 'approved' && document.DocumentLastStatus.toLowerCase() != 're-upload') && (request?.RequestStatusBL?.toLowerCase() !== 'cancelled' ||request?.RequestStatusBL?.toLowerCase() !== 'declined')"
                                          (click)="approvedDoc(document)">
                                          Approve
                                        </button>
                                      </ng-container>
                                      <button class="btn btn-outline-danger pull-right hvr-sweep-to-right mr-1"
                                        (click)="removeDocObj($event, document?.DocumentTypeID)"
                                        *ngIf="(document?.DocumentID === -1 || !document?.DocumentID) && !document?.HideCancel">
                                        Cancel
                                      </button>
                                      <ng-container
                                        *ngIf="document?.DocumentTypeID > -1 && (isProvider || (!document?.DocumentID || document?.DocumentID < 0 ))">

                                        <button class="btn btn-outline-primary pull-right hvr-sweep-to-right"
                                          *ngIf="document.IsApprovalRequired && document.DocumentLastStatus.toLowerCase() !== 'approved' && (request?.RequestStatusBL?.toLowerCase() !== 'cancelled' ||request?.RequestStatusBL?.toLowerCase() !== 'declined')">
                                          {{ (document.DocumentFileName) ? 'Re-Upload' : 'Upload'}}
                                        </button>

                                        <button class="btn btn-outline-primary pull-right hvr-sweep-to-right"
                                          *ngIf="!document.IsApprovalRequired">
                                          {{ (document.DocumentFileName) ? 'Re-Upload' : 'Upload'}}
                                        </button>

                                      </ng-container>
                                      <button class="btn btn-outline-primary pull-right hvr-sweep-to-right"
                                        (click)="fetchDocDtl()"
                                        *ngIf="document.DocumentLastStatus.toLowerCase() !== 'approved' && (request?.RequestStatusBL?.toLowerCase() !== 'cancelled' ||request?.RequestStatusBL?.toLowerCase() !== 'declined') && document?.DocumentTypeID === -1">
                                        Upload
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <!-- <hr class=""> -->
                              </div>
                            </div>
                            <!-- *ngIf="!isProvider" -->
                            <div *ngIf="document?.ShowUpload" class="doc-body" style="cursor:pointer">
                              <div class="row mt-4" [ngClass]="{'mt-4':!isMobile}">
                                <div class="offset-2 col-xl-8 col-lg-8 col-md-8 col-12" [ngClass]="{'offset-2':!isMobile}">
                                  <div class="settings-documents-foam">
                                    <div class="row">
                                      <div class="col-12 mb-3 form-group"
                                        *ngFor="let doc_control of document?.MetaInfoKeysDetail; let controlIndex = index">
                                        <label *ngIf="doc_control.DataType.toLowerCase() === 'datetime'">
                                          {{doc_control.KeyNameDesc}}
                                        </label>
                                        <input [disabled]="!isProvider && document?.DocumentID > 0"
                                          *ngIf="doc_control.DataType.toLowerCase() === 'datetime'" type="text"
                                          class="form-control settings-documents-foam-field"
                                          name="{{doc_control.KeyName.toLowerCase()}}" [displayMonths]="displayMonths"
                                          [navigation]="navigation" onkeypress="return false"
                                          [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers" ngbDatepicker
                                          [minDate]="minDate" #d="ngbDatepicker"
                                          placeholder="{{doc_control.KeyNameDesc}}" (click)="d.toggle()"
                                          (dateSelect)="dateChangeEvent($event, controlIndex)"
                                          [(ngModel)]="doc_control.DateModel">
                                        <label *ngIf="doc_control.DataType.toLowerCase() === 'text'"
                                          class="mt-2">{{doc_control.KeyNameDesc}}</label>
                                        <input [disabled]="!isProvider && document?.DocumentID > 0"
                                          *ngIf="doc_control.DataType.toLowerCase() === 'text'" type="text"
                                          value="{{doc_control.KeyValue}}"
                                          class="form-control settings-documents-foam-field"
                                          name="{{doc_control.KeyName.toLowerCase()}}"
                                          [maxLength]="doc_control.FieldLength"
                                          (keypress)="onKeyPress($event, controlIndex)"
                                          placeholder="{{doc_control.KeyNameDesc}}"
                                          [required]="doc_control.isIsMandatory" [(ngModel)]="doc_control.KeyValue"
                                          (ngModelChange)="onDocInputChange($event)" />
                                        <label *ngIf="doc_control.DataType.toLowerCase() === 'number'"
                                          class="mt-2">{{doc_control.KeyNameDesc}}</label>
                                        <input [disabled]="!isProvider && document?.DocumentID > 0"
                                          *ngIf="doc_control.DataType.toLowerCase() === 'number'" type="number"
                                          value="{{doc_control.KeyValue}}"
                                          class="form-control settings-documents-foam-field"
                                          name="{{doc_control.KeyName.toLowerCase()}}"
                                          [maxLength]="doc_control.FieldLength"
                                          (keypress)="onKeyPress($event, controlIndex)"
                                          placeholder="{{doc_control.KeyNameDesc}}"
                                          [required]="doc_control.isIsMandatory" [(ngModel)]="doc_control.KeyValue"
                                          (ngModelChange)="onDocInputChange($event)" />
                                      </div>
                                    </div>
                                    <div class="row"
                                      *ngIf="(!document?.DocumentID || document?.DocumentID < 0) || isProvider">
                                      <div class="col-12">
                                        <!-- File Upload -->
                                        <div class="uploader text-center d-flex flex-column">
                                          <app-drag-drop [existingFile]="document.DocumentName"
                                            [allowedExtension]="['pdf', 'jpg', 'jpeg', 'xlsx', 'xls', 'doc', 'docx', 'png', 'txt']"
                                            (FileDropEvent)="customDragCheck($event)"
                                            (InvalidFileEvent)="fileSelectFailedEvent($event)">
                                          </app-drag-drop>
                                          <div class="d-flex flex-row align-content-center justify-content-center">
                                            <button href="javascript:;" type=""
                                              [disabled]="request.RequestStatusBL.toLowerCase() === 'cancelled' || request?.RequestStatusBL?.toLowerCase() !== 'declined'"
                                              class="btn btn-default hvr-sweep-to-right mt-4 mb-2 text-uppercase w-100"
                                              (click)="document.ShowUpload = false;">Cancel</button>
                                            <button href="javascript:;"
                                              class="ml-1 btn btn-primary mt-4 mb-2 text-uppercase w-100"
                                              (click)="uploadDocument(doc_index,  document)">Upload</button>
                                            <!-- <a href="javascript:;" class="col-12 text-center uploader-cancel-btn"
                                              (click)="document.ShowUpload = false;">Cancel</a> -->
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </span>
                      </div>
                    </div>
                    <div *ngIf="additionalDocuments?.length  === 0" style="text-align: center">
                      <p>There are no documents in this request at the moment</p>
                    </div>
                    <div class="row" *ngIf="false">
                      <div class="col pl-4 pr-4">
                        <a href="javascript:;" class="addAnother animated fadeIn" (click)="addDocument($event)">
                          <img src="../../../../assets/images/icons/icon_add.svg" width="16px" alt=""
                            class="mr-1 icon-size-16 mb-1" />
                          Add Document
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-12">
        <p class="pull-right mt-2 doc-message mb-0">
          (supported types: pdf, jpg, jpeg, xlsx, doc, docx, png and txt. Maximum size per document: 10MB)
        </p>
      </div> -->
    </div>
    <app-loader-main *ngIf="loading" style="height: 100%;width: 100%;"></app-loader-main>
  </div>
</div>