@import "../../../assets/scss/_variables";

footer {
  background: $primary-grey;
  padding: 1rem;
  text-align: center;
  .link-Section {
    margin-top: 15px;
    .info-links {
      color: $white-color;
      font-size: $font-size-medium;
      font-family: $font-proxima;
      border-right: 1px solid rgba($secondary-grey, 0.5);
      &:last-child {
        border-right: 0px;
      }
      img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    }
  }
  .copyRights-Section {
    padding-bottom: 15px;
    color: $disabled-text-color;
    font-size: $font-size-base;
    font-weight: 500;
    margin-top: 35px;
    a {
      color: $disabled-text-color;
      margin: 0 10px;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

@media (max-width: $screen-sm-screen) {
  footer {
    .link-Section {
      .info-links {
        border: none;
        padding: 5px 0;
      }
    }
  }
}

.end-footer {
  background: #1a1c27;
  padding: 1rem 0 2rem;
  font-size: $font-size-base + 0.1rem;
  font-family: $font-proxima;
  word-spacing: 2px;
  // margin: 2rem 0 0;
  .copyrights {
    color: #97a5b1;
    img {
      width: 1.625rem;
    }
  }
  .text-success {
    strong {
      font-size: $font-size-medium;
      font-weight: $font-proxima-weight-semibold;
      font-family: $font-proxima;
    }
    a {
      font-family: $font-proxima;
      color: #97a5b1;
      padding: 0 0.75rem;
      &:first-child {
        border-right: 1px solid #97a5b1;
      }
      &:nth-child(2) {
        border-right: 1px solid #97a5b1;
      }
    }
  }
}
