<div class="cargo-details">
  <div class="user-modal animated fadeIn">
    <div class="modal-header">
      <h4 class="user-modal-title">{{(data?.ShippingModeCode === 'ASSAYER')?'Container Details':'Cargo Details'}}</h4>
      <a class="pointer crossIcon">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close" (click)="close()" style="width: 1rem;">
      </a>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <!-- <ng-scrollbar [trackX]="false" [trackY]="true" style="min-height:332px;max-height:415px;"> -->
          <ng-container
            *ngIf="data?.ShippingModeCode?.toLowerCase() !== 'warehouse' && data?.ShippingModeCode !== 'ASSAYER'">
            <div class="row">
              <div class="col-xl-2 col-md-2 col-12 pr-0">
                <div class="image-container">
                  <img async defer
                    src="'../../../assets/images/shipping/{{data?.ShippingCatImage?data?.ShippingCatImage:'Goods.png'}}"
                    alt="container-icons" class="ContainerImg20">
                </div>
              </div>
              <div class="col-xl-10 col-md-10 col-12">
                <label class="w-100">{{data.ShippingCatName}}</label>
                <p class="cargo-date d-flex flex-row align-items-center mb-2 mt-2" ngbTooltip="Cargo Readiness Date" placement="top-left">
                  <img async defer alt="" class="icon-size-12 mr-1"
                    src="../../../assets/images/icons/Icons_Calendar.svg">
                  <span class="pt-2">{{pickupDate | date : "d MMM, y"}}</span>
                </p>
                <p ngbTooltip="Commodity Details" [placement]="'top'" class="cargo-detail-text">{{commodity?commodity:data.SpecialRequestDesc}}</p>
              </div>
            </div>
            <hr>
          </ng-container>

          <div class="containers">
            <label
              *ngIf="(searchMode !== 'sea-lcl' && data?.ContainerCount > 0) && !data.IsVirtualAirLine">{{data?.ContainerCount?
              data?.ContainerCount:containerCount}}
              <ng-container *ngIf="data?.ShippingModeCode === 'SEA'">
                {{((data?.ContainerCount?data?.ContainerCount:containerCount) > 1) ? 'Containers' : 'Container'}}
              </ng-container>
              <ng-container *ngIf="data?.ShippingModeCode === 'TRUCK'">
                {{((data?.ContainerCount?data?.ContainerCount:containerCount) > 1) ? 'Trucks' : 'Container'}}
              </ng-container>
            </label>
            <label
              *ngIf="searchMode !== 'sea-lcl' && data.ContainerLoad === 'LCL' && !data.IsVirtualAirLine && (!lclAirContainerChips || lclAirContainerChips?.length === 0 )">
              <span *ngIf="searchMode === 'sea-lcl'">Total CBM: {{totalCBM | number: '1.3-3'}}, Total
                Weight:{{totalWeight | number: '1.3-3'}}</span>
              <span *ngIf="searchMode === 'air-lcl'">
                Chargeable Weight: {{data.ChargeableWeight | number: '1.3-3'}} Kg
              </span>
            </label>
            <div class="container-main">
              <div class="row" *ngIf=" searchMode !== 'sea-lcl' && containers?.length > 0">
                <div class="col-xl-6 col-md-6 col-12" *ngFor="let container of containers">
                  <div class="card container-boxes disabled">
                    <span *ngIf="container?.bookingContTypeQty" class="count-triangle" class="count-triangle">
                      <span>{{container?.bookingContTypeQty}}</span>
                    </span>
                    <div class="card-body mb-2">
                      <p class="card-text text-truncate" style="max-width: 10.5rem;" [placement]="'top'" ngbTooltip="{{container.containerSpecDesc}}">
                        {{container.containerSpecDesc}}
                      </p>
                      <div class="image-container">
                        <img async defer src="../../../../assets/images/icons/{{container.containerSpecImage}}"
                          alt="container-icons" class="ContainerImg20" />
                      </div>
                      <div class="containerInfo" *ngIf="data?.ShippingModeCode === 'SEA'">
                        <div class="container-size">
                          <label>Size</label>
                          <small *ngIf="searchMode === 'sea-fcl'">{{getContainerInfo(container).containerSize}}</small>
                          <small *ngIf="searchMode === 'sea-lcl'">

                          </small>
                        </div>
                        <div class="container-weight">
                          <label>Max Weight</label>
                          <small>{{container.containerWeight}} {{container.weightUnit}}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf=" searchMode === 'sea-lcl' && lclContainers?.length > 0">
                <div class="col-xl-6 col-md-6 col-12" *ngFor="let container of lclContainers">
                  <div class="card container-boxes disabled">
                    <span *ngIf="container?.bookingContTypeQty" class="count-triangle" class="count-triangle">
                      <span>{{container?.bookingContTypeQty}}</span>
                    </span>
                    <div class="card-body mb-2">
                        <p style="text-align: center;margin-bottom: 0;" class="card-text text-truncate" style="max-width: 10.5rem;" [placement]="'top'" ngbTooltip="{{container.containerSpecDesc}}">
                            {{container.containerSpecDesc}}
                          </p>
                      <div class="image-container">
                        <img async defer src="../../../../assets/images/icons/{{container.containerSpecImage}}"
                          alt="container-icons" class="ContainerImg20" />
                      </div>                      
                      <div class="containerInfo">
                        <div class="container-size">
                          <label>Size</label>
                          <small *ngIf="!container?.toggle">{{container?.length}} x {{container?.width}} x
                            {{container?.height}} {{container?.lengthUnit}}</small>
                          <small *ngIf="container?.toggle">{{container?.contRequestedCBM}} cbm</small>
                        </div>
                        <div class="container-weight">
                          <label>Weight</label>
                          <small *ngIf="!container?.toggle">{{container.weight}} {{container.weightUnit}}</small>
                          <small *ngIf="container?.toggle">{{container?.contRequestedWeight}} kg</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf=" searchMode === 'air-lcl' && lclAirContainerChips?.length > 0">
                <div class="col-12">
                  <b>By Unit:</b>
                  <div class="air-chips-container">
                    <p *ngFor="let chip of lclAirContainerChips">{{chip}}</p>
                  </div>
                </div>
              </div>
            </div>
            <ng-container
              *ngIf="searchMode === 'sea-lcl' || (searchMode === 'air-lcl' && lclAirContainerChips?.length > 0)">
              <hr>
              <label *ngIf="searchMode === 'sea-lcl'" class="info-container">
                <span>
                  <span>Total CBM:</span><span class="ml-cbm">{{totalCBM | number: '1.3-3'}}</span>
                </span>
                <!-- <span>
                  <span>Total Weight:</span><span class="ml-weight">{{totalWeight | number: '1.3-3'}} kg</span>
                </span> -->
              </label>
              <label *ngIf="searchMode === 'air-lcl'">
                Chargeable Weight: {{data.ChargeableWeight | number: '1.3-3'}} Kg
              </label>
            </ng-container>

          </div>
          <ng-container *ngIf="false">
            <hr />
            <div class="settings-content-info">
              <label>Payment Terms on Rate Requests</label>
              <div class="form-component d-flex flex-column">
                <div *ngIf="!editPaymentTerms" class="form-group mt-2">
                  <div class="editor" [innerHTML]="paymentTerms">
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>