<app-loader-main *ngIf="loading"></app-loader-main>
<div class="wareohuse-rate">
  <div class="wareohuse-rate-modal animated fadeIn">
    <div class="modal-header">
      <h4 class="provider-modal-title">Add / Update Rates</h4>
      <a class="pointer crossIcon" (click)="closePopup()">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
      </a>
    </div>
    <div class="modal-body bg-light">
      <div class="row bg-white popup-white pb-0">
        <div class="col-12">
          <h5 class="model-sub-head mt-4 mb-3">Container</h5>
        </div>
      </div>
      <div class="row bg-white popup-white pb-0">
        <div class="col-12" *ngIf="ftlContainers?.length">
          <div class="form-group custom-multiselect">
            <ng-select [items]="ftlContainers" [multiple]="true" [closeOnSelect]="false" [hideSelected]="true"
              bindLabel="ContainerWithSize" placeholder="Select Container" [disabled]="disabledCustomers"
              [(ngModel)]="selectedContainers">
              <ng-template ng-label-tmp let-item="item" let-clear="clear">
                <span class="ng-value-label">
                  <img src="../../../../assets/images/icons/Icons_Container.svg" width="20px" height="18px">
                  {{item.ContainerWithSize}}</span>
                <span class="ng-value-icon right" aria-hidden="true" (click)="clear(item)">×</span>
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                <img src="../../../../assets/images/icons/Icons_Container.svg" width="20px" height="18px">
                {{item.ContainerWithSize}}
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>

      <ng-container *ngIf="allCustomers?.length > 0">
        <div class="row bg-white popup-white pb-0">
          <div class="col-12">
            <h5 class="model-sub-head mt-4 mb-3">Customer</h5>
          </div>
        </div>
        <div class="row bg-white popup-white pb-3">
          <div class="col-12">
            <div class="form-group custom-multiselect">
              <!-- <label>Customer</label> -->
              <ng-select [items]="allCustomers" [multiple]="true" [closeOnSelect]="false" [hideSelected]="true"
                bindLabel="CustomerName" placeholder="Select Customer" [disabled]="disabledCustomers"
                [(ngModel)]="selectedCustomer">
                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                  <span class="ng-value-label">
                    <img [src]="item.CustomerImageParsed" width="20px" height="20px"
                      onerror="this.src='../../../../favicon.ico'">
                    {{item.CustomerName}}</span>
                  <span class="ng-value-icon right" aria-hidden="true" (click)="clear(item)">×</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  <img [src]="item.CustomerImageParsed" width="20px" height="20px"
                    onerror="this.src='../../../../favicon.ico'"> {{item.CustomerName}}
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
          <div class="row combine-filed-popup mt-3">
            <div class="col-xl-4 col-lg-4 col-md-5 col-5 pr-0">
              <div class="combine-filed-popup-left">Validity Range</div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-7 col-7 pl-0 date-control">
              <div class="form-group combine-filed-popup-right dateIcon">
                <input id="dpicker" autocomplete="off" #rangeDp class="form-control" placeholder="Start Date - End Date"
                  name="dp" ngbDatepicker [dayTemplate]="t" [autoClose]="false" [placement]="'bottom-right'"
                  [outsideDays]="true" [navigation]="false" [displayMonths]="displayMonth" [maxDate]="maxDate"
                  [minDate]="minDate" #dp="ngbDatepicker" (click)="dp.toggle()" container="body">
                <ng-template #t let-date="date" let-focused="focused" container="body">
                  <span class="custom-day" id="{{getDateStr(date)}}"
                    [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                    [class.faded]="isHovered(date) || isInside(date)" (click)="onDateSelection(date)"
                    (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5 class="model-sub-head mt-4 mb-3">Rate</h5>
        </div>
      </div>
      <div class="row pb-0 mt-0">
        <div class="col-xl-3 col-lg-3 col-md-3 col-12 mb-2" [ngClass]="{'mb-2':isMobile}">
          <div class="row combine-filed-popup">
            <div class="col-6 pr-0">
              <div class="combine-filed-popup-left">Currency</div>
            </div>
            <div class="col-6 pl-0">
              <div class="origin combine-filed-popup-right">
                <div class="flag-container">
                  <img *ngIf="whCurrency && whCurrency.imageName"
                    src="{{'../../../../../assets/images/flags/4x3/' + (whCurrency.imageName | lowercase) + '.svg'}}"
                    type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                </div>
                <input type="text" placeholder="{{(selectedCurrency?.shortName)?selectedCurrency?.shortName:'USD'}}"
                  [(ngModel)]="whCurrency" class="form-control" [ngbTypeahead]="currencies" [resultTemplate]="crt"
                  [inputFormatter]="currencyFormatter" [ngClass]="{'routeSelected': whCurrency && whCurrency.imageName}"
                  [disabled]="selectedData.mode === 'publish'">
                <ng-template #crt let-r="result">
                  <div class="d-flex">
                    <div class="flag-container">
                      <img src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                        style="max-width:20px;max-height:22px;">
                    </div>
                    <ngb-highlight [result]="r.shortName"></ngb-highlight>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xl-3 col-lg-3 col-md-3 col-12 pl-0" [ngClass]="{'pl-0':!isMobile}">
          <div class="row combine-filed-popup">
            <div *ngIf="selectedData.mode === 'publish'" class="col-6 pr-0 d-inline-block">
              <div class="combine-filed-popup-left pointer" id="ddWHPriceType">
                <span>{{selectedWHPriceType?.name}}</span>
              </div>
            </div>
            <ng-container *ngIf="selectedData.mode !== 'publish'">
              <div ngbDropdown #priceBasis="ngbDropdown" class="col-6 pr-0 d-inline-block">
                <div class="combine-filed-popup-left pointer" id="ddWHPriceType" ngbDropdownToggle>
                  <span>{{selectedWHPriceType?.name}}</span>
                </div>
                <div ngbDropdownMenu aria-labelledby="ddWHPriceType" aria-labelledby="ddWHPriceType">
                  <button class="dropdown-item" *ngFor="let priceType of whPriceTypeList" ngbDropdownItem
                    (click)="onWHPriceType(priceType?.code)">{{priceType?.name}}</button>
                </div>
              </div>
            </ng-container>

            <div class="col-6 pl-0">
              <div class="form-group combine-filed-popup-right">
                <input priceDecDir type="text" maxlength="1" maxlength="15" class="form-control" placeholder="0.00"
                  [(ngModel)]="whPrice" (ngModelChange)="onPriceChange()" (keypress)="numberValidwithDecimal($event)" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
          <div class="row combine-filed-popup">
            <ng-container *ngIf="(selectedData.mode === 'publish' && selectedData.forType === 'WAREHOUSE')">
              <div class="col pr-0">
                <div class="combine-filed-popup-left pointer" id="eladdOnChargePrice">
                  <span>{{addOnCharge?.codeValDesc}}</span>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="selectedData.mode !== 'publish' && selectedData.forType === 'WAREHOUSE'">
              <div class="col pr-0" ngbDropdown #eladdOnChargePrice="ngbDropdown">
                <div class="combine-filed-popup-left pointer" id="eladdOnChargePrice" ngbDropdownToggle
                  style="width: 13rem;">
                  <span>{{addOnCharge?.codeValDesc}}</span>
                </div>
                <div ngbDropdownMenu aria-labelledby="eladdOnChargePrice" aria-labelledby="eladdOnChargePrice">
                  <button class="dropdown-item" *ngFor="let priceType of whAddsOn" ngbDropdownItem
                    (click)="onAddsOnSelect(priceType, 'SQFT_DED')">{{priceType?.codeValDesc}}</button>
                </div>
              </div>
            </ng-container>
            <div class="col pl-0">
              <div class="form-group combine-filed-popup-right">
                <input priceDecDir type="text" maxlength="1" maxlength="15" class="form-control" placeholder="0.00"
                  [(ngModel)]="addOnChargePrice" (keypress)="numberValidwithDecimal($event)"
                  [disabled]="disableElAddOn" />
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="additional">
        <!-- Additional charges -->
        <div class="row more-charges">
          <div class="col-12">
            <h5 class="model-sub-head mt-4 mb-3 pull-left">Additional Charges</h5>
          </div>
          <div class="col-xl-6 col-md-6 col-12" *ngFor="let origin of selectedOrigins; let i=index">
            <div class="row combine-filed-popup">
              <div class="d-flex ml-3 mr-3 mb-2" [ngClass]="addOriginActive ? 'active' : ''">
                <div class="col-7 pr-0 pl-0">
                  <div ngbDropdown #originDropdown="ngbDropdown" class="combine-filed-popup-left-btn"
                    (openChange)="dropdownToggle($event, 'origin')">
                    <button class="btn has-open" id="{{selectedOrigins[i]?.addChrName || 'originID'}}"
                      [placement]="'top'"
                      ngbTooltip="{{selectedOrigins[i]?.addChrName}} - ({{selectedOrigins[i]?.addChrBasis}})"
                      [disableTooltip]="!selectedOrigins[i]?.addChrName" ngbDropdownToggle>
                      {{selectedOrigins[i]?.addChrName || 'Select' | limitTo : 30 }}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="originExport">
                      <button *ngIf="!isOriginChargesForm" id="{{selectedOrigins[i]?.addChrName}}"
                        class="dropdown-item custom-label has-open" (click)="showCustomChargesForm('origin')">
                        <img src="../../../../assets/images/icons/icon_add.svg" width="16" alt=""> Add Custom Label
                      </button>
                      <ng-container *ngIf="!isOriginChargesForm">
                        <button class="dropdown-item add-charge-border" *ngFor="let charge of originsList"
                          [id]="'orglist_' + charge?.addChrID" (click)="selectCharges('EXPORT', charge, i)">
                          {{charge.addChrName}}
                          <span class="d-block" style="color:#777;font-size:0.7rem">{{charge?.addChrBasis}}</span>
                        </button>
                      </ng-container>
                      <div class="row dropdown-item charges-form" *ngIf="isOriginChargesForm">
                        <div class="col-12 mt-2">
                          <div class="form-group">
                            <input class="form-control has-open" type="text"
                              [ngClass]="!labelValidate ?  'inputError' : ''" [(ngModel)]="lablelName"
                              (focus)="labelValidate = true" placeholder="Charge Label / Term">
                            <small class="text-danger d-block" *ngIf="!labelValidate">Please provide name for your
                              custom
                              label</small>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <select class="form-control has-open"
                              [ngClass]="!surchargeBasisValidate ?  'inputError' : ''" [(ngModel)]="surchargeType"
                              (focus)="surchargeBasisValidate = true">
                              <option value="" hidden selected>Select Surcharge Basis</option>
                              <option *ngFor="let item of surchargesList" [value]="item.codeValID">
                                {{item.codeValDesc}}</option>
                            </select>
                            <small class="text-danger d-block" *ngIf="!surchargeBasisValidate">Please select surcharge
                              basis
                            </small>
                          </div>
                        </div>
                        <div class="col-12">
                          <button class="btn btn-primary mt-1 mb-2 has-open hvr-sweep-to-right w-100"
                            (click)="addCustomLabel('origin')">Add Label
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3 pl-0 pr-0">
                  <div class="form-group mb-0 combine-filed-popup-mid">
                    <input priceDecDir type="text" maxlength="15" class="form-control" [(ngModel)]="origin.Price"
                      placeholder="0.00" (keypress)="numberValidwithDecimal($event)">
                  </div>
                </div>
                <div class="col-2 pl-0 pr-0">
                  <div class="origin combine-filed-popup-right">
                    <div class="flag-container">
                      <img *ngIf="origin.currency && origin.currency.imageName"
                        src="{{'../../../../../assets/images/flags/4x3/' + (origin.currency.imageName | lowercase) + '.svg'}}"
                        type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                    </div>
                    <input type="text" placeholder="{{(selectedCurrency?.shortName)?selectedCurrency?.shortName:'USD'}}"
                      (ngModelChange)="getVal(i, $event, 'origin')" [(ngModel)]="origin.currency" class="form-control"
                      [ngbTypeahead]="currencies" [resultTemplate]="crt" [inputFormatter]="currencyFormatter"
                      (keyup)="onKeyDown(i, $event, 'origin')"
                      [ngClass]="{'routeSelected': origin.currency && origin.currency.imageName}">
                    <ng-template #crt let-r="result">
                      <div class="d-flex">
                        <div class="flag-container">
                          <img src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                            style="max-width:20px;max-height:22px;">
                        </div>
                        <ngb-highlight [result]="r.shortName"></ngb-highlight>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
              <img src="../../../../assets/images/icons/icon_del_round.svg" alt="delete-icon"
                class="icon-size-16 combine-filed-popup-delete pointer"
                (click)="removeAdditionalCharge('origin', origin)">
            </div>
          </div>
          <div class="col-12">
            <a (click)="addMoreCharges('origin')" href="javascript:;" class="addAnother animated fadeIn">Add More
              Charges
            </a>
          </div>
        </div>

      </div>

      <div class="row mb-4">
        <div class="col-12 d-flex justify-content-end">
          <button class="btn btn-primary pl-3 pr-3 mt-4 hvr-sweep-to-right mr-4" *ngIf="selectedData.mode === 'draft'"
            (click)="savedraftrow('saveNadd')">SAVE & ADD ANOTHER</button>
          <button class="btn btn-primary pl-3 pr-3 mt-4 hvr-sweep-to-right" *ngIf="selectedData.mode === 'draft'"
            (click)="savedraftrow('onlySave')">SAVE & CLOSE
          </button>
          <button class="btn btn-primary pl-3 pr-3 mt-4 hvr-sweep-to-right mr-2" *ngIf="selectedData.mode === 'publish'"
            (click)="savedraftrow('update')">
            UPDATE
          </button>
          <button class="btn btn-primary pl-3 pr-3 mt-4 hvr-sweep-to-right" *ngIf="selectedData.mode === 'publish'"
            (click)="closePopup()">CANCEL</button>
        </div>
      </div>
    </div>
  </div>




</div>