<div class="shareInfo">
  <div class="user-modal animated fadeIn">
    <div class="modal-header">
      <h4 class="user-modal-title">Share Booking</h4>
      <a class="pointer crossIcon" (click)="closeModal()">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close">
      </a>
    </div>
    <div class="modal-body">

      <div class="row form-group">
        <div class="col text-center">
          <input type="text" class="form-control" [(ngModel)]="shareObjectInfo.url" #shareURL>
          <button (click)="copyURL(shareURL)" class="btn btn-primary mt-2">{{copyBtnText}}</button>
        </div>
      </div>
    </div>
  </div>

</div>
