<div class="modal-gen">
  <div class="user-modal animated fadeIn">
    <div class="modal-header">
      <h4 class="confirm-modal-title">{{modalData?.messageTitle}}</h4>
      <a class="pointer crossIcon" (click)="closeModal(false)">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close">
      </a>
    </div>
    <div class="modal-body">
      <p class="text-center" [innerHTML]="modalData?.messageContent"></p>
      <div class="text-center">
        <button class="btn btn-danger hvr-sweep-to-right"
          (click)="onConfirmClick($event)">{{modalData?.buttonTitle}}</button>
      </div>
    </div>
  </div>

</div>