@import "../../../../assets/scss/_variables";

.modal-gen {
  // User Modal Popup
  .user-modal {
    .modal-header {
      padding: 10px 32px;
      background: $modal-header-background;
      display: block;
      h4 {
        margin: 0px;
        text-shadow: 0px 0px $text-color-default;
        font-size: 22px;
        margin-top: 4px;
        font-weight: 400;
        font-family: "pragmatica", sans-serif;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        margin-top: 4px;
        margin-bottom: 0px;
      }
      a.crossIcon {
        position: absolute;
        right: 8px;
        top: 4px;
        width: 14px;
        height: 14px;
      }
    }
    .modal-body {
      padding: 25px 32px; // max-width: 26%;
      p {
        font-size: 1rem;
        font-weight: 500;
        width: 100%;
        text-align: center;
        padding-bottom: 1rem;
        &.invalid-error {
          font-weight: $font-weight-light;
          font-size: $font-size-medium;
          text-align: left;
        }
      }
      .btn {
        text-align: center;
        font-size: 0.85rem;
        width: auto;
        min-width: 6rem;
        padding: 0.75rem 1.25rem;
        text-transform: uppercase;
      }
    }
  }
}
