@import "../../../../../../assets/scss/variables";
.tracking-monitoring {
  .catDetail {
    .amount-text {
      font-size: $font-size-medium;
    }
  }
  .status2 {
    .card {
      background: transparent;
      border: 0px;
      &-body {
        padding: 0 1.25rem;
        .card-subtitle {
          font-family: $font-proxima;
          color: $dark-grey-blue;
          font-size: $font-size-base;
          font-weight: $font-weight-mid;
          text-transform: uppercase;
        }
        .card-title {
          @extend .card-subtitle;
          font-size: $font-size-large;
          color: $text-color-default;
        }
        .card-text {
          @extend .card-subtitle;
          font-size: $font-size-medium;
          color: $secondary-text-color;
          text-transform: capitalize;
        }
      }
    }
    .col-xl-6 {
      .card {
        &-body {
          padding: 0 0.4rem;
        }
      }
    }
  }
  .tracking-info-alert {
    .alert {
      font-family: $font-proxima;
      font-weight: 500;
      border: 1px dashed #f3a723;
      font-size: $font-size-medium;
      overflow: hidden;
      .svg-color {
        transform: rotate(-18deg) !important;
        z-index: 2;
      }
      &-message {
        width: 100%;
        marquee {
          font-weight: $font-proxima-weight-semibold;
          font-family: $font-proxima;
          margin-top: 0rem;
          color: $text-color-default;
          font-size: $font-size-medium;
          line-height: 1.8;
          // margin: 0 25px;
        }
      }
      a {
        font-size: $font-size-large;
        float: right;
        font-size: $font-proxima-weight-semibold;
        font-family: $font-proxima;
        margin-top: 0rem;
        color: $primary-grey;
      }
      &.alert-warning:after {
        content: " ";
        width: 30px;
        height: 100%;
        position: absolute;
        background: #f8d7da00;
        border-top: 24px solid transparent;
        border-bottom: 28px solid transparent;
        border-left: 26px solid #b96169;
        top: 1px;
        left: 34px;
        z-index: 1;
      }
      &.alert-warning:before {
        content: " ";
        width: 34px;
        height: 100%;
        position: absolute;
        background: #b96169;
        left: 0;
        top: 0px;
        z-index: -1;
      }
    }
  }
  button.gm-ui-hover-effect {
    display: none !important;
  }
  .google-map {
    .my-shipment-location {
      /deep/ .ng-scrollbar-x-layout {
        .ng-scrollbar-y-layout {
          ng-scrollbar-y {
            right: 5px;
          }
        }
      }
      z-index: 999;
      position: relative;
      top: 0rem; // top: 1rem;
      width: auto;
      margin-left: 0rem; // margin-left: 1rem;
      overflow-x: hidden !important;
      overflow-y: auto;
      max-height: 508px;
      min-height: 250px;
      ul {
        // max-width: 345px;
        max-width: 100%;
        border: 0 solid #00a2df !important;
        background: 0 0;
        border-radius: 3px;
        padding: 0 0;
        margin: 0.5rem;
        margin-bottom: 0rem; // -webkit-box-shadow: 0 0 30px 0 #d9d9d9;
        // box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
        // max-height: 200px;
        // max-height: 512px;
        height: auto;
        transition: max-height 1.2s ease-out;
        overflow: hidden; // background-color: $color-white;
        position: static;
        overflow-y: auto;
        li {
          border: 0 solid rgba(0, 0, 0, 0.125);
          background: transparent !important;
          display: flex;
          flex: 0 0;
          padding: 0.75rem 0.55rem;
          &:hover {
            .fa.fa-circle {
              font-size: 9px !important;
              transition: all cubic-bezier(0.4, 0, 1, 1) 0.2s;
              left: 9px !important;
              top: -4px !important;
            }
          }
          .location-start-icon {
            display: none;
          }
          &.portStart {
            .location-start-icon {
              display: block !important;
            }
            .fa.fa-circle {
              display: none !important;
            }
          }
          &.selected {
            .port {
              label {
                color: $primary-color;
              }
            }
            .fa.fa-circle {
              color: $primary-color !important;
            }
          }
          .port-icon {
            float: left;
            text-align: left;
            margin-right: 1.25rem;
            img,
            svg {
              width: 24px;
              fill: rgba($color-default-svg, 0.65);
              margin-top: 3px;
              margin-left: 7px;
            }
            &:before {
              content: "";
              width: 45px;
              height: 84%;
              border-left: dashed 1px $color-default-svg;
              position: absolute; // left: 2rem;
              left: 1.3rem;
              top: 1.8rem;
              z-index: 1;
            }
            .fa.fa-circle {
              font-size: 7px;
              position: relative;
              top: -5px;
              left: 10px;
              color: $dark-grey-blue;
            }
          }
          .port {
            line-height: 1.3;
            border-bottom: 1px solid $grey-border;
            padding-bottom: 1.5rem;
            label {
              margin: 0;
              width: 94%;
              font-size: $font-size-medium !important;
              font-family: $font-proxima;
              color: $text-color-default;
              font-weight: $font-weight-mid;
            }
            small {
              @extend label;
              color: $secondary-text-color !important;
              font-weight: $font-weight-normal;
            }
          }
          p {
            width: 80%;
            margin-right: 10px;
            margin-bottom: 0rem;
            font-family: $font-proxima;
            font-size: $font-size-medium;
            color: $text-color-default;
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            float: left;
            padding: 0.25rem 1rem 1rem 0;
            cursor: pointer;
            small {
              display: block;
              color: $secondary-text-color;
              font-size: $font-size-base;
            }
          } //&:hover,
          &.selected {
            // background-color: rgba($light-grey, .25);
            .port-icon {
              color: $sky-blue-default;
              img,
              svg {
                width: 24px;
                fill: $primary-color;
              }
              &:before {
                content: "";
                width: 45px;
                height: 84%;
                border-left: solid 1px $primary-color;
                position: absolute;
                left: 1.3rem;
                top: 1.8rem;
                z-index: 1;
              }
            }
            p {
              color: $sky-blue-default;
            }
            small {
              font-size: $font-size-base;
            }
          }
          &:last-child {
            p {
              border-bottom: 0 solid rgba(0, 0, 0, 0.125);
            }
            .port-icon {
              &:before {
                content: "";
                border-left: solid 0 $primary-color;
              }
            }
          }
          &:last-child {
            .port-icon {
              &:before {
                display: none;
              }
            }
            .port {
              border: 0px;
              padding-bottom: 0px;
            }
          }
        }
        .list-group-item:hover {
          z-index: unset;
        }
        &.BookingRouteMapInfo {
          transition: max-height 2s ease-out;
          max-height: 800px;
        }
      }
      .view-btn {
        max-width: 337px;
        background: $modal-header-background !important;
        border-top: 1px solid $grey-border !important;
        font-size: $font-size-base;
        font-family: $font-proxima;
        font-weight: $font-weight-mid;
        color: $dark-grey-blue;
        height: 24px;
        margin: 0 0.5rem; // box-shadow: 0px 14px 25px -9px rgba(0, 0, 0, 0.2);
        border: 0px;
        width: 100%;
        outline: 0;
        &.booking-info-icon {
          img {
            transition: all ease 0.7s;
            transform: rotate(180deg);
          }
        }
        img {
          transform: rotate(0deg);
          transition: all ease 0.7s;
        }
      }
    }
  }
  .view-booking {
    &-title {
      font-size: $font-size-large + $font-size-large;
      font-family: $font-pragmatica;
      font-weight: $font-weight-mid;
      color: $text-color-default;
      margin-bottom: 0;
    }

    &-info {
      font-size: $font-size-base;
      font-weight: $font-weight-mid;
      color: $text-grey;
      text-transform: uppercase;
    }

    &-top-btn {
      a {
        font-size: $font-size-base;
        color: $dark-grey-blue;
        font-weight: $font-proxima-weight-semibold;
        font-family: $font-proxima;
        text-transform: uppercase;

        span {
          position: relative;
          color: inherit;
          text-decoration: none;
          line-height: 24px;
          width: auto;

          &:after,
          &:before {
            content: "";
            position: absolute;
            transition: transform 0.5s ease;
          }

          &.link-hover-1 {
            padding-top: 10px;

            &:before {
              top: 25px;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background: darken(#738593, 3%);
              transform: scaleX(0);
            }

            &:hover:before {
              transform: scaleX(1);
            }
          }
        }
      }
    }

    .status {
      margin-bottom: 38px;

      .card {
        border: 1px solid $boxes-border-grey;
        border-radius: 2px;

        &-body {
          padding: 1.56rem 1.55rem;

          .actions {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            float: right;
            margin-top: 0.3rem;

            a {
              font-size: $font-size-medium;
              font-family: $font-proxima;
              font-weight: 500;
            }
          }
        }
      }

      &-label {
        display: block;
        font-size: $font-size-medium;
        color: $dark-grey-blue;
        font-weight: $font-weight-mid;
        font-family: $font-proxima;
        text-transform: uppercase;
        margin-bottom: 0.25rem;
      }

      strong {
        font-size: $font-size-large + 0.25rem;
        color: $text-color-default;
        font-weight: $font-weight-mid;
        font-family: $font-pragmatica;

        &.cancelled {
          color: #d32020 !important;
          // animation: text-glow 1.5s infinite ease-in-out alternate-reverse;
        }

        a {
          font-size: $font-size-medium;
          color: $secondary-color;
          font-family: $font-proxima;
          font-weight: $font-proxima-weight-semibold;
          margin-top: 0.25rem;

          span {
            position: relative;
            text-decoration: none;
            line-height: 24px;
            width: auto;

            &:after,
            &:before {
              content: "";
              position: absolute;
              transition: transform 0.5s ease;
            }

            &.link-hover-1 {
              padding-top: 10px;

              &:before {
                top: 28px;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: darken(#02bdb6, 3%);
                transform: scaleX(0);
              }

              &:hover:before {
                transform: scaleX(1);
              }
            }
          }

          &:focus {
            outline: 0;
          }
        }
      }
    }

    &-shipment-detail {
      margin-bottom: 40px;

      form {
        input,
        select {
          height: 3rem;
        }
      }

      h5 {
        margin-bottom: 15px;
        font-family: $font-pragmatica;
        font-size: $font-size-large + 0.25rem;
        color: $text-color-default;
        font-weight: $font-weight-mid;

        &.mb-0 {
          width: 100%;

          button.btn.btn-link {
            width: 100%;
            text-decoration: none;
            box-shadow: none !important;
          }
        }
      }

      h4 {
        font-family: $font-pragmatica;
        font-size: 1.25rem;
        color: $color-menuheading-black;
      }

      .card {
        &.rounded-top {
          border-bottom-left-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }

        &.rounded-bottom {
          border-top-left-radius: 0 !important;
          border-top-right-radius: 0 !important;
        }

        .card-title {
          margin-bottom: 0;

          h5 {
            font-size: $font-size-medium;
            text-transform: capitalize;
            font-family: $font-proxima;
            font-weight: $font-weight-mid;
            color: $color-topmenu;
            word-spacing: 3px;
            margin-bottom: 0;
            text-transform: uppercase;
          }

          &.rounded-bottom {
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
          }

          .card-title {
            margin-bottom: 0;

            h5 {
              font-size: $font-size-medium;
              text-transform: capitalize;
              font-family: $font-proxima;
              font-weight: $font-weight-mid;
              color: $color-topmenu;
              word-spacing: 3px;
              margin-bottom: 0;
              text-transform: uppercase;
            }

            .edit-info {
              font-family: $font-proxima;
              font-size: $font-size-base;
              color: $color-topmenu;
              font-weight: $font-weight-mid;
              letter-spacing: 1px;
            }

            img {
              position: relative;
              top: -1px;
            }
          }
        }
      }

      .logo {
        border: solid 1px #f4f4f4;
        text-align: center;
        margin: 10px 0;
        float: left;
        width: 64px;
        height: 64px;
        margin-right: 15px;
        overflow: hidden;
        background-color: $white-color;
        position: relative;

        img {
          width: 100%;
          margin: 0;
          background: transparent;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          object-fit: contain;
          padding: 2px;
        }
      }

      .company {
        text-align: left;
        float: left;
        margin-top: 18px;

        span {
          font-size: $font-size-large;
          text-align: left;
          font-family: $font-pragmatica;
          font-weight: $font-weight-normal;
        }

        p {
          font-size: $font-size-large + 0.25rem;
          font-family: $font-pragmatica;
          font-weight: $font-weight-mid;
          text-align: left;
          line-height: 1.2;
          max-width: 300px;
        }
      }

      &-btn {
        min-width: 180px;
        min-height: 40px;
        font-family: $font-proxima;
        font-weight: $font-proxima-weight-semibold;
        text-transform: uppercase;
      }

      .grey-background {
        border-top: 0;
      }

      &-right {
        /*----BILLING SECTION - Start ----*/
        .billing-box {
          hr {
            margin: 1rem 0;
            border-top: 1px dashed $grey-border;
          }

          .card {
            border-radius: 0.2rem;
            border: 1px solid $light-grey-border;

            &-title {
              font-size: $font-size-medium;
              text-transform: capitalize;
              font-family: $font-proxima;
              color: $dark-grey-blue;
              font-weight: $font-weight-mid; // word-spacing: 3px;

              img {
                width: 16px;
                height: 16px;
              }
            }

            &-body {
              h6 {
                font-weight: 600;
                font-family: $font-proxima;
                font-size: $font-size-large;
                margin-bottom: 0;
              }
            }
          }

          .list-group {
            .list-group-item {
              font-size: $font-size-base;
              padding: 0.2rem;
              border: 0;
              display: flex;
              justify-content: space-between;

              .long-text {
                font-family: $font-proxima;
                font-size: $font-size-base;
                color: $secondary-text-color;
              }

              .category {
                max-width: 110px;
              }

              .catDetail {
                display: flex;
                flex-direction: column;
                max-width: 110px;

                .amount-text {
                  font-size: $font-size-base;
                  text-align: right;
                  color: $secondary-text-color;
                }
              }

              &:last-child {
                padding-bottom: 0;
              }

              button.btn {
                height: 33px;
                padding-top: 0;
                padding-bottom: 0;
              }
            }
          }
        }

        /*----BILLING SECTION - End ----*/
        .helpSupport {
          &-head {
            h5 {
              float: left;
              font-size: $font-size-large;
              font-weight: $font-weight-mid;
              padding-left: 10px;
              margin-bottom: 8px;
              padding-top: 1px; //text-shadow: 0.5px 0px $text-color-default;
            }
          }

          img {
            width: 20px;
            height: 20px;
            float: left;
          }

          &-content {
            float: left;
            width: 100%;

            h4 {
              font-size: $font-size-base;
              color: $dark-grey-blue;
              font-family: $font-proxima;
              text-transform: uppercase;
              font-weight: $font-proxima-weight-semibold;
              margin-top: 15px;
              margin-bottom: 5px;
            }

            .address {
              font-size: $font-size-large;
              font-family: $font-proxima;
              font-weight: $font-weight-normal;
              color: $text-color-default;
              line-height: 1.4;
            }

            .helpLine {
              @extend .address;
            }

            .dotted {
              border-bottom: 1px dashed #e5e5e5;
            }
          }

          &-footer {
            float: left;
            width: 100%;

            p {
              font-size: $font-size-medium;
              font-family: $font-proxima;
              padding-top: 0px;
              margin-bottom: 0;
              color: $secondary-text-color;

              a {
                position: relative;
                color: $text-color-default;
                text-decoration: none;
                line-height: 24px;
                font-weight: $font-weight-mid;
                width: auto;

                &:after,
                &:before {
                  content: "";
                  position: absolute;
                  transition: transform 0.5s ease;
                }

                &.link-hover-1 {
                  padding-top: 10px;

                  &:before {
                    top: 28px;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    background: darken(#2b2b2b, 3%);
                    transform: scaleX(0);
                  }

                  &:hover:before {
                    transform: scaleX(1);
                  }
                }
              }
            }
          }
        }

        .card {
          &.map-card {
            .card-body {
              display: flex;
              justify-content: space-between;
            }
          }

          &-body {
            .ports {
              font-family: $font-proxima;
              font-size: $font-size-base;
              max-width: 94px;
              width: 100%; // min-width: 37%;

              &-title {
                font-size: $font-size-medium;
                font-family: $font-proxima;
                font-weight: $font-weight-mid;
                color: $dark-grey-blue;
                margin-bottom: 5px;
              }

              &-location-icon {
                margin-top: 0;
                margin-right: 10px;
              }

              &-direction {
                margin: 22px 0px;
                position: relative;
                right: 10px;
                top: 5px;
              }

              &-label {
                font-size: $font-size-medium;
                color: $text-color-default;
                margin-bottom: 0;
                font-weight: $font-proxima-weight-semibold;
                font-family: $font-proxima;
                line-height: 1;

                &-grey {
                  color: $dark-grey-blue;
                  display: block;
                  font-family: $font-proxima;
                  font-weight: $font-proxima-weight-semibold;
                  text-transform: uppercase;
                  font-size: $font-size-base;
                  margin-bottom: 0;
                }
              }

              img.detail-icon {
                margin-right: 5px;
                float: left;
              }

              small {
                font-size: $font-size-medium;
                color: $text-grey;
                font-weight: $font-weight-mid;
                font-family: $font-proxima;
                vertical-align: bottom;
                line-height: 1.2;
                max-width: 78px;
                word-break: break-word;
              }

              .d-flex {
                display: grid !important;

                small {
                  max-width: 100% !important; // margin-top: 9px;
                }
              }
            }
          }
        }
      }
    }

    .my-shipment {
      margin-bottom: 35px;

      h5 {
        margin-bottom: 18px;
        font-family: $font-pragmatica;
        font-size: $font-size-large + 0.25rem;
        color: $text-color-default;
        font-weight: $font-weight-mid;
        padding-left: 0;
        text-transform: capitalize;
      }

      .card {
        border: 0;

        &-body,
        .google-map {
          // background-color: $theme-border-grey;
          // height: 550px;
          overflow-x: hidden;
          overflow-y: auto;
          padding: 0;

          .my-shipment-location {
            z-index: 9999;
            position: relative;
            top: 0rem; // top: 1rem;
            width: 100%; // margin-left: 1rem;
            margin-left: 0rem;

            ul {
              // max-width: 345px;
              width: 100%;
              transition-delay: 0.5s;
              border: 0 solid #00a2df !important;
              background: 0 0;
              border-radius: 3px;
              padding: 0;
              margin: 0.5rem;
              position: absolute;
              height: 500px;
              max-height: 540px;
              overflow-y: auto;

              li {
                border: 0 solid rgba(0, 0, 0, 0.125);

                .port-icon {
                  width: 15%;
                  float: left;
                  text-align: left;

                  img,
                  svg {
                    width: 24px;
                    fill: rgba($color-default-svg, 0.65);
                    margin-top: 0.6rem;
                  }

                  &:before {
                    content: "";
                    width: 45px;
                    height: 70%;
                    border-left: dashed 1px $color-default-svg;
                    position: absolute;
                    left: 2rem;
                    top: 2.8rem;
                    z-index: 1;
                  }
                }

                p {
                  width: 80%;
                  margin-right: 10px;
                  margin-bottom: 0rem;
                  font-family: $font-proxima;
                  font-size: $font-size-medium;
                  color: $text-color-default;
                  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
                  float: left;
                  padding: 0.25rem 1rem 1rem 0;
                  cursor: pointer;

                  small {
                    display: block;
                    color: $secondary-text-color;
                    font-size: $font-size-base;
                  }
                }

                //&:hover,
                &.selected {
                  .port-icon {
                    color: $sky-blue-default;

                    img,
                    svg {
                      width: 24px;
                      fill: $primary-color;
                    }

                    &:before {
                      content: "";
                      width: 45px;
                      height: 70%;
                      border-left: solid 1px $primary-color;
                      position: absolute;
                      left: 2rem;
                      top: 2.8rem;
                      z-index: 1;
                    }
                  }

                  p {
                    color: $sky-blue-default;
                  }

                  small {
                    font-size: $font-size-base;
                  }
                }

                &:last-child {
                  p {
                    border-bottom: 0 solid rgba(0, 0, 0, 0.125);
                  }

                  .port-icon {
                    &:before {
                      content: "";
                      border-left: solid 0 $primary-color;
                    }
                  }
                }
              }

              .list-group-item:hover {
                z-index: unset;
              }
            }
          }
        }
      }
    }

    .quality-monitoring {
      margin-bottom: 35px;

      h5 {
        margin-bottom: 20px;
        font-family: $font-pragmatica;
        font-size: $font-size-large + 0.25rem;
        color: $text-color-default;
        font-weight: $font-weight-mid;
        padding-left: 0;
        text-transform: capitalize;
      }

      h6 {
        margin-bottom: 28px;
        font-family: $font-pragmatica;
        font-size: $font-size-medium;
        color: $dark-grey-blue;
        font-weight: $font-weight-normal;
        padding-left: 0;
        text-transform: uppercase;
      }

      .card {
        &-body {
          padding: 0;

          .demo-chartX {
            max-height: 300px;
            height: 300px;
          }
        }
      }
    }

    .media {
      .align-self-start {
        width: 16px;
        height: 16px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .info {
      .container-link {
        color: $primary-color;
        font-family: $font-proxima;
        font-weight: 500;
        text-decoration: underline;
      }
    }

    .details {
      .row {
        .col-4 {
          display: flex;
        }
      }

      h5 {
        font-size: $font-size-base;
        font-family: $font-proxima;
        font-weight: $font-weight-normal;
        color: $dark-grey-blue;
        text-transform: uppercase;
      }

      p {
        font-family: $font-pragmatica;
        font-size: $font-size-large;
        font-weight: $font-weight-mid;
        color: $text-color-default;
        line-height: 1;
        margin-bottom: 0;
      }
    }

    &-document {
      margin-bottom: 16px;

      &-heading {
        margin-bottom: 16px !important;
        font-family: $font-pragmatica;
        font-size: $font-size-large + 0.25rem;
        color: $text-color-default;
        font-weight: $font-weight-mid;
        margin-top: 42px;
      }

      &-title {
        font-size: $font-size-medium;
        font-family: $font-proxima;
        font-weight: $font-proxima-weight-semibold;
        color: $dark-grey-blue;
        text-transform: uppercase;
        margin: 1.75rem 1.125rem 0;

        .flag-icon-20-12 {
          position: relative;
          top: -2px;
        }

        hr {
          border: 1px dashed #d7d7d7;
          margin-bottom: 0;
        }
      }

      .list-group {
        // margin: 20px 0 24px;
        &-item {
          border: 0;
          border-bottom: 0 dashed rgba(0, 0, 0, 0.125);
          // margin: 0 1.25rem;
          // padding: 0.5rem 0rem 0.4rem 0 !important;
          padding: 0.5rem 0.5rem 0.4rem 0.5rem !important;
          font-family: $font-proxima;
          font-size: $font-size-large;
          color: $text-color-default;
          font-weight: $font-weight-normal;
          margin-bottom: 10px;
          min-height: 50px;

          .view-booking-reasons {
            margin-top: 14px;

            &-name {
              font-size: $font-size-medium;
              font-weight: $font-weight-normal;
              color: $text-color-default;
            }

            &-desc {
              font-size: $font-size-medium;
              font-weight: $font-weight-normal;
              color: $text-color-default;
            }
          }

          &.active {
            background: $white-color;

            h6 {
              color: $primary-color;
            }

            .grey-anc-btn {
              background: transparent;
              box-shadow: none !important;
              font-size: $font-size-medium;
              font-family: $font-proxima;
              font-weight: $font-proxima-weight-semibold;
              color: $dark-grey-blue;
            }
          }

          &.rejected-doc {
            h6 {
              color: $danger-color;
            }
          }

          h6 {
            font-size: $font-size-large;
            font-family: $font-proxima;
            font-weight: $font-weight-normal;
            color: $text-color-default;
            line-height: 1;
          }

          p {
            font-size: $font-size-base;
            font-family: $font-proxima;
            font-weight: $font-weight-light;
            color: $text-grey;
            margin: 0;
            // margin-left: 1.8rem;
          }

          &:last-child {
            border: 0;
          }

          button.btn {
            height: 36px;
            width: 116px;
          }

          .animated-info {
            // animation: text-glow 1.5s infinite ease-in-out alternate-reverse;
            // color: $danger-color;

            .reason {
              color: $text-color-default !important;
              max-width: 340px;
              text-overflow: inherit;
              width: 100%;
              display: block;
            }
          }
        }

        .document-detail {
          &-left {
            flex-direction: column;
          }

          &-right {
            .badge {
              height: 26px;
              padding: 0 1rem;
              line-height: 2.2;
            }
          }
        }

        .d-block {
          margin-left: 12px;

          .check-icon {
            position: absolute;
            left: -13px;
            top: 10px;
          }
        }

        .check-icon {
          position: absolute;
          left: -6px;
          top: 3px;
        }

        .delete-icon {
          position: absolute;
          left: 0px;
        }
      }

      .contact {
        &-name {
          font-family: $body-fontfamily;
          font-weight: $font-weight-mid;
          font-size: $font-size-large;
          color: $text-color-default;
        }

        &-address {
          font-family: $font-proxima;
          font-size: $font-size-large;
          color: $secondary-text-color;
          word-break: break-all;

          span {
            word-break: initial;
          }

          &.unread {
            max-height: 76px;
            // max-height: 280px;
            overflow: hidden;
          }
        }

        .vendor-details-readMore {
          color: $primary-color !important;
        }

        &-info {
          @extend .contact-address;
        }
      }
    }

    .popover {
      border: 0;

      &-body {
        background: $white-color;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 4px;

        .contact-popup {
          transition: 1s all ease;

          a {
            font-size: $font-size-large;
            font-family: $font-proxima;
            margin-bottom: 5px;
            display: block;
            min-width: 180px;
            display: flex;
            color: $dark-grey-blue;
            transition: 1s all ease;

            &:hover {
              span {
                color: $primary-color;
                transition: 1s all ease;
              }
            }
          }

          p {
            font-size: $font-size-large + 0.125rem;
            font-family: $font-proxima;
            margin-bottom: 0;
            text-align: left;
            display: flex;
            align-items: center;
          }

          .link-hover-1 {
            padding-top: 10px;

            &:before {
              top: 28px;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background: darken(#2b2b2b, 3%);
              transform: scaleX(0);
            }

            &:hover:before {
              transform: scaleX(1);
            }
          }
        }
      }
    }

    .doc-message {
      font-size: $font-size-base;
      font-weight: $font-weight-normal;
      color: $text-grey;
    }

    .warehouse-schedule {
      .card {
        border: 1px solid $secondary-color !important; // padding: 0.5rem 0;
        padding: 0;

        &-header {
          border-bottom: 1px solid $secondary-color !important;
          background: $white-color;
          padding: 0;
          margin-bottom: -1px;
          min-height: 96px; // height: 100%;
          display: flex;
          align-items: center;

          a {
            width: 100%;
          }

          .loadPickup-detail {
            font-size: $font-size-large + 0.25rem;
            font-family: $font-pragmatica;
            font-weight: $font-weight-normal;
            color: $text-color-default;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
              line-height: 1.2;
            }

            strong {
              font-size: $font-size-large + 0.25rem;
              font-family: $font-pragmatica;
              font-weight: $font-weight-mid;
              color: $text-color-default;
            }
          }
        }

        &-body {
          p {
            display: flex;
            pointer-events: none !important;

            img {
              margin-right: 0.5rem;
            }

            strong {
              font-size: $font-size-medium;
              font-family: $font-proxima;
              font-weight: $font-proxima-weight-semibold;
              color: $dark-grey-blue;
              text-transform: uppercase;
              letter-spacing: 0.5px;
            }
          }
        }
      }

      .accordion .card:first-of-type {
        border-bottom-color: rgba(0, 0, 0, 0.125);
        border-bottom-style: solid;
        border-bottom-width: 1px;
      }

      .track-heading {
        justify-content: center;
        align-items: center;
        display: flex;
        border-right: 1px solid $secondary-color;
        padding-left: 0.8rem !important;
      }

      .pickup-time {
        display: flex;
        justify-content: center;
        position: relative;

        .ngb-tp {
          input[type="text"] {
            border: 0;
            font-family: $font-pragmatica;
            color: $text-color-default;
            font-weight: $font-weight-mid;
            font-size: $font-size-large + 0.25rem;
          }
        }

        .list-group {
          flex-direction: inherit;
          position: absolute;
          top: -6px;
          text-align: center;

          &-item {
            border: 0;
            padding: 0rem 0rem;
            font-size: $font-size-base;
            font-family: $font-proxima;
            font-weight: $font-weight-mid;
            color: $dark-grey-blue;
            text-transform: uppercase;
            width: 5.4rem;
          }
        }

        .ngb-tp-hour {
          .btn.btn-link {
            .chevron {
              &:before {
                background: url("../../../../../../assets/images/icons/icon_arrow_left.svg") no-repeat;
                width: 16px;
                height: 16px;
                transform: rotate(91deg);
                border-width: 0;
              }

              &.bottom {
                &:before {
                  transform: rotate(-91deg);
                }
              }
            }
          }
        }

        .ngb-tp-minute {
          @extend .ngb-tp-hour;
        }
      }
    }

    .billing {
      .list-group-item {
        padding: 0.45rem 0;
        border: 0 !important;
      }
    }
  }
}
.mob-res {
  height: auto !important;
  max-height: 508px;
  .my-shipment-location {
    height: auto !important;
    max-height: 508px;
  }
}
