@import "../../../../../assets/scss/_variables";
.count-down {
    .message {
        color: $danger-color;
        font-size: 0.6rem;
        font-weight: $font-weight-mid;
        animation: .75s ease-in-out infinite alternate-reverse text-glow;        
        padding: 0.25rem 0.35rem 0.75rem;
        .b {
            font-weight: $font-proxima-weight-semibold;
            margin-right: 0.25rem;
        }
    }

    .emoji {
        padding: 0 0.25rem;
    }

    .timer {
        width: 140px;        
        border-radius: 15px;
        padding: 0px 0px 1px;  
        text-align: left;
        background: $default-yellow;

        &-green {
            background: $secondary-color;
        }
        &-yellow {
            background: $default-yellow;
        }
        &-red {
            background: $danger-color;
        }

        img {
            margin-left: 0.4rem;
            margin-top: 0px;            
            filter: drop-shadow(0px 1px 1px #3a3a3a85);
        }
        span {
            padding: 0px 0px 0px 5px;
            color: $color-white;
            font-family: $font-proxima;
            font-size: $font-size-medium;
        }        
    }

    
    @media all and (max-width: 768px) {
        h1 {
            // font-size: 1.5rem;
        }

        li {
            // font-size: 1.125rem;
            padding: 0.75rem;
        }

        li span {
            // font-size: 3.375rem;
        }
    }
}
