<div class="count-down">
    <div id="countdown">
        <div class="timer"
            [ngClass]="getNum(appCountHours) >= 12 ? 'timer-green' : (getNum(appCountHours) < 12 && getNum(appCountHours) >= 3 ? 'timer-yellow' : 'timer-red')">
            <img class="icon-size-16 mr-1 pointer" src="../../../../../assets/images/icons/icon-timer.svg">
            <span>{{appCountHours}}</span>
            <span>:</span>
            <span>{{appCountMinutes}}</span>
            <span>:</span>
            <span>{{appCountSeconds}}</span>
        </div>
        <div *ngIf="!isExpired" class="message">
            <span [placement]="'bottom'" container="body"
                ngbTooltip="Action Required: System will cancel the booking automatically if not confirmed within given time.">
                <span class="b">Action Required:</span> <span>System will cancel the
                    booking automatically
                    if not confirmed within given time. </span>
            </span>
        </div>
        <div *ngIf="isExpired" class="message">
            <span [placement]="'bottom'" container="body" ngbTooltip="Expired" class="b">Expired</span>
        </div>
    </div>
</div>